[2019-04-10 09:10] sienaiwun commented on #1087
I use Nsight 5.5

[2019-04-10 14:03] lukkio88 opened #1089 "Access to the mesh data structure"
Hi all,

When I load a mesh using something like

[code]

Is there a way for me to access both the single vertices (like an iterator) and the related adjacency info?

Like if I wanted to write

[code]

How can I access to the relevant info? I can see MeshAssimp has a data member getRenderables, I would assume I need to use this some how.

Can you tell me how to do it?

[2019-04-10 14:06] romainguy commented on #1087
Hi, does the app crash without nsight? If not it sounds like an nsight issue.

[2019-04-10 14:08] romainguy commented on #1089
MeshAssimp is a simple example of how to use Assimp, it is not meant for general mesh manipulation. In particular it does not keep any adjacency information. You'd have to modify it yourself to achieve this.

[2019-04-10 14:08] #1089 closed

[2019-04-10 14:09] romainguy commented on #1088
It looks like you are building Filament for Android with an older version of matc. Try a clean build to fix this issue.

[2019-04-10 14:09] #1088 closed

[2019-04-10 14:32] lukkio88 opened #1090 "Access to VertexBuffer and layout"
Related to this: https://github.com/google/filament/issues/1089

I can see the MeshAssimp has both vertex buffer and index buffer (as private data members)
Is it possible to get access to these somehow without modifying the existing class (including the vertex layout)?

Thank you

[2019-04-10 14:37] romainguy commented on #1090
Like mentioned in the previous issue, MeshAssimp is a fairly simple example of how to use Assimp and it's not a public API of filament. Feel free to copy it or change it however you'd like.

[2019-04-10 14:37] #1090 closed

[2019-04-10 17:06] bejado commented on #1087
I haven't used Nsight with Filament, but I have had success using [RenderDoc](https://renderdoc.org/) on Windows if you're interested in debugging frames.

[2019-04-11 02:03] sienaiwun commented on #1087
It does not crash without nsight.
I can use Renderdoc as well. However, pixel history and shader debugging are not available, maybe because Filament uses OpenGL.

[2019-04-11 04:40] #1087 closed

[2019-04-12 15:20] #1051 closed

[2019-04-12 18:54] prideout opened #1096 "Android textured-object sample fails with Vulkan"
`hello-triangle` works fine but `textured-object` fails on a Pixel 3 during `vkCreateGraphicsPipelines` and the Adreno driver reports that this is due to a shader link error.

[2019-04-12 19:01] prideout commented on #1096
The failure does not occur if post-processing is disabled so it reminds me a little of #732

[2019-04-14 03:45] romainguy commented on #1062
The documentation should be fixed now

[2019-04-14 03:45] #1062 closed

[2019-04-15 08:21] luanbach opened #1101 "filamat failed to create a valid material Package on iOS"
I've been trying to replicate the sample_full_pbr example on iOS. I can't seem to get it to work, the call to an object MaterialBuilder::build() created a Package that failed the Material.build() step.

The error is
[code]

I've attached an example xcode project based on the hello-pbr-Metal sample. Please run the Metal rendering path.

[modified hello-pbr](https://drive.google.com/file/d/1jFoDka7L

[2019-04-15 16:08] prideout commented on #1096
Does not occur with Mali, this appears to be specific to Adreno.

It works on Adreno if I remove dithering from the post-process fragment shader.

[2019-04-15 18:33] prideout opened #1102 "Bad normal mapping with Vulkan + Adreno"
After working around #1096 by changing the dither mode to Vlachos, a new issue is revealed on my Pixel 3 that does not occur with the Mali-based device that I tested.  It seems to be particular to the normal map; bad / good screenshots are below, where the "good" image was produced by simply omitting the `material.normal` assignment from the mat file.

<img width="300" src="https://user-images.git

[2019-04-15 18:49] bejado commented on #1101
I see you copied over `shaders.apple.S` into the sample's generated/ folder and added

[code]

to Resources.S. This fixes linker errors, but is incorrect. The correct fix is to add the `-lshaders` flag to the "Other Linker Flags" of the Xcode project to link against the libshaders.a library. I'll make this clearer in our documentation.

You'll also want to add
[code]

before building in order to b

[2019-04-15 21:06] prideout commented on #1102
Disabling shader optimizations seems to "fix" this particular issue.

[2019-04-16 07:33] faisalkalim commented on #909
Stupid question, can you please write the entire line as added in cmakelists.txt file. Thanks

[2019-04-16 08:38] luanbach commented on #1101
That fixed it. Thank you.

[2019-04-16 08:38] #1101 closed

[2019-04-16 08:58] lukkio88 commented on #909
There's no stupid question. If you have a CMakeLists I can tell you what's wrong probably.

[2019-04-16 09:10] faisalkalim commented on #909
Thank you.
I am just trying out the same example as probably you did. Here is the cmakelists.txt
cmake_minimum_required(VERSION 3.1)
project(filament-test)

set(CMAKE_CXX_STANDARD 14)
set(CMAKE_CXX_COMPILER /usr/bin/clang-cpp-7)
set(CMAKE_VERBOSE_MAKEFILE on )

set(SRC main.cpp)
link_directories(./lib/x86_64)

find_package (Threads)

add_library(filament STATIC IMPORTED)
set_target_properties(fila

[2019-04-16 09:14] lukkio88 commented on #909
what errors do you get when you run this?

[2019-04-16 09:17] faisalkalim commented on #909
Here is the complete list, when I try to run make command:

/usr/bin/cmake -H/home/faisal/Desktop/filament -B/home/faisal/Desktop/filament/build --check-build-system CMakeFiles/Makefile.cmake 0
-- Configuring done
-- Generating done
-- Build files have been written to: /home/faisal/Desktop/filament/build
/usr/bin/cmake -E cmake_progress_start /home/faisal/Desktop/filament/build/CMakeFiles /home/fa

[2019-04-16 09:19] lukkio88 commented on #909
Kindly also the folder structure, relative to the CMakeLists.txt

[2019-04-16 09:22] faisalkalim commented on #909
Here is it:

|-- README.md
|-- bin
|-- build
|-- docs
|-- include
|-- lib
|-- main.cpp
|-- CMakeLists.txt

[2019-04-16 09:30] lukkio88 commented on #909
I think there's something wrong with how you link your libraries. To solve this error:

`make[2]: *** No rule to make target 'lib/x86_64/libfilament.a', needed by 'filament-test'. Stop`

Change the line:
`set_target_properties(filament PROPERTIES IMPORTED_LOCATION lib/x86_64/libfilament.a)`
With
`set_target_properties(filament PROPERTIES IMPORTED_LOCATION {CMAKE_SOURCE_DIR}/lib/x86_64/libfilament.

[2019-04-16 09:32] lukkio88 commented on #909
Also I link all the other libraries (`bluegl bluevk filabridge filaflat utils`) in a similar way (i.e. I don't use `link_directories`, for some reason it wasn't working for me)

[2019-04-16 16:17] lukkio88 commented on #909
This works for me:

[code]

[2019-04-16 22:40] prideout commented on #1096
When using a debug of version of Filament (and changing the Android projects to use that instead of release), this disables shader optimizations, but the issue still crops up. In fact is occurs in more places, including the `Skybox RGBM` material (variant = 0x0).

[2019-04-17 19:50] prideout opened #1109 "Consider adding shader validation to matc / filamat"
It would be nice to catch some link-time errors during shader compilation instead of at run time.  This could be done if we invoke the spirv-tools validator in matc. We could do something like this:

https://android.googlesource.com/platform/external/vulkan-validation-layers/+/HEAD/layers/shader_validation.cpp#2299

[2019-04-19 17:00] John-DeCorato-HZ opened #1115 "Web PointLights not working"
Trying to use PointLights in the web version and I'm getting a black screen. Not sure if I'm initializing the point light incorrectly or if there's another issue. The scene knows that there is a light inside of it.

Code for generating the light.
[code]

Point Light Data
[code]

Equivalent Data inside of a ThreeJS scene. ~~Ignore the energy conservation issues in the top right~~
<img width="537" a

[2019-04-19 17:34] prideout commented on #1115
Shadows need to be disabled in Chrome 73.  What do you see in the Developer Console?

[2019-04-19 17:42] John-DeCorato-HZ commented on #1115
I'm not getting anything in the Developer Console. Unfortunately this code is inside of a rather large project, but I can try and repro in something smaller.

[2019-04-19 17:45] prideout commented on #1115
Thanks, I'll try modifying one of our samples to repro.  It's strange, thought, that you're seeing absolutely nothing in your console, you should at least see "FEngine (32 bits) created" after creating the Filament engine.

[2019-04-19 17:50] John-DeCorato-HZ commented on #1115
Ah apologies, I thought you meant anything related to lights.

My console output is this

[code]

That is the only output that isn't debug info that I'm using for my application.

[2019-04-19 17:59] romainguy commented on #1115
You should also check the intensity of the lights and or the camera exposure settings. Filament uses physical units only and the default exposure is set for a sunny day outdoors.

[2019-04-19 18:06] John-DeCorato-HZ commented on #1115
I cranked up the intensity to ludicrous amounts already and had no results. I'd imagine a point light 3 meters away from a sphere at 1000 lx should still provide some illumination, but even setting it to something wild like 100000 lx still did nothing.

[2019-04-19 18:07] romainguy commented on #1115
Point lights are expressed in lumens, not lux. A 1,000 lumens isn't that much. But yeah it doesn't sound like that's your issue.

[2019-04-19 21:45] John-DeCorato-HZ opened #1116 "Web: Filament.wasm import issues"
Filament will always attempt to load the .wasm file from the root directory instead of from the same folder that filament.js is in, if you include it using an import statement. This *seems* like a bug.

Easy to repro:

[code]

[2019-04-19 22:01] prideout commented on #1116
Hmm, that does sound like a bug, but might be hard to fix since emscripten generates the wasm-loading code for us. We have a webpack sample in the source tree that demonstrates the usage of `import`, if that's helpful.

[2019-04-19 22:36] John-DeCorato-HZ commented on #1116
I think that ends up working because it copies over the wasm into the output directory, and it does work when including the container file in a subfolder through an html tag. I'm doing that as a workaround for now after webpacking my project.

I figured this would be a nasty to figure out. I'll also take a look. >_>

[2019-04-20 00:33] prideout opened #1119 "Point lights behave strangely"
This can be reproduced with macOS / OpenGL by doing:

`lightbulb -m third_party/models/shader_ball/shader_ball.obj`

![lights](https://user-images.githubusercontent.com/1288904/56449001-38a81980-62c9-11e9-9698-12ee54ecce9b.gif)

[2019-04-20 09:51] romainguy commented on #1115
Tracking in #1119

[2019-04-20 09:51] #1115 closed

[2019-04-20 09:52] romainguy commented on #1119
Looks like froxelization is broken again ^^

[2019-04-20 15:04] cx20 opened #1121 "filament.js at unpkg.com is not up-to-date"
**Describe the bug**
The tutorial of triangle says to use `filament.js` from `unpkg.com`.
https://google.github.io/filament/webgl/tutorial_triangle.html

[code]
However, I think that version of `filament.js` is not the latest.
If you use that version, an error will be output to the browser console.

[code]

**To Reproduce**

OK : Using [filaments.js](https://github.com/google/filament/blob/master/

[2019-04-20 16:38] prideout commented on #1121
Right, we need to update the npm package.  Will do.

[2019-04-21 05:42] #1119 closed

[2019-04-22 16:42] bejado commented on #1046
@luanbach See #1124.

[2019-04-22 17:48] John-DeCorato-HZ commented on #1119
Still having issues on web. Was it working on your end?

[2019-04-22 18:03] prideout commented on #1119
Checking...

[2019-04-22 18:21] prideout commented on #1119
@John-DeCorato-HZ I was able to get point lights to show up with a fresh WebGL build after hacking on our suzanne demo:

https://github.com/google/filament/compare/pr/test_pt_light

![Screen Shot 2019-04-22 at 11 18 47 AM](https://user-images.githubusercontent.com/1288904/56516993-b13cef00-64f0-11e9-93d7-831948765133.png)

(Clear color is always black, but that's a separate issue.)

[2019-04-22 18:32] prideout opened #1125 "setClearColor is broken"
To repro, hack lightbulb by adding `view->setClearColor({1, 1, 1, 1})` and run it without an ibl.

[code]

This occurs even when post-processing disabled.

[2019-04-22 18:46] John-DeCorato-HZ commented on #1119
Ah, I'm getting them now. I'm surprised the intensity needs to be that high. Am I misunderstanding the unit of measurement? That's a 10^7 value higher than what I'd expect the lumen input to be for that light.

[2019-04-22 18:47] romainguy commented on #1119
The default exposure is for the sun at ~noon, so 100,000 lux or so. You'll need a strong intensity in lumens to match this indeed.

[2019-04-22 18:48] John-DeCorato-HZ commented on #1119
Okay, thanks.

[2019-04-22 20:32] #1125 closed

[2019-04-23 22:40] prideout commented on #1121
Okay, we've updated the npm package.  Note that you will need to recompile all materials with the latest version of `matc` (which is why the jsfiddle is still broken)

[2019-04-23 22:40] #1121 closed

[2019-04-24 05:00] hwiryong-jung opened #1135 "bluegl does not support ARM Linux targets"
**Describe the bug**
build in Nvidia Xavier Board fails.
cmake result and the error msg are like below.
---------------------------------------------------------------------------------------------------------------------------------
Warning: JAVA_HOME is not set, skipping Java projects
Building debug in out/cmake-debug...
-- The C compiler identification is Clang 7.0.0
-- The CXX compiler identif

[2019-04-24 08:06] hwiryong-jung commented on #1135
[with clang option]

nvidia@feelix-xavier:/media/nvidia/SSD1TB/workspace/filament/out/cmake-release$ CC=/usr/bin/clang CXX=/usr/bin/clang++ CXXFLAGS=-stdlib=libc++ cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../release/filament -DENABLE_JAVA=OFF ../..
-- Configuring done
-- Generating done
-- Build files have been written to: /media/nvidia/SSD1TB/workspace/filament/out/cmake-r

[2019-04-24 08:08] hwiryong-jung commented on #1135
[contiued]

[32/1036] /usr/bin/clang++  -DFILAMENT_DRIVER_SUPPORTS_VULKAN -I../../libs/utils/include -I../../third_party/robin-map/tnt/.. -stdlib=libc++ -std=c++14 -fstrict-aliasing -Wno-unknown-pragmas -Wno-unused-function -stdlib=libc++ -fcolor-diagnostics -O3 -DNDEBUG -fomit-frame-pointer -ffunction-sections -fdata-sections   -fPIC -pthread -MD -MT libs/utils/CMakeFiles/utils.dir/src/Log.cpp.o

[2019-04-24 08:19] hwiryong-jung commented on #1135
nvidia@feelix-xavier:/media/nvidia/SSD1TB/workspace/filament/out/cmake-release$ CC=/usr/bin/clang CXX=/usr/bin/clang++ CXXFLAGS=-stdlib=libc++ cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../release/filament -DENABLE_JAVA=OFF -DFILAMENT_REQUIRES_CXXABI=true ../..
-- Configuring done
-- Generating done
-- Build files have been written to: /media/nvidia/SSD1TB/workspace/filament/

[2019-04-24 08:54] xyflora opened #1136 "why cannot use GLSurfaceView on Android?"
now i am trying to build filament to my own project. As my project is based on GLSurfaceView.

I found that the screen turns back if i use
`private SurfaceView mSurfaceView;`
`mSurfaceView = new GLSurfaceView(this);`
 to replace initial
`private SurfaceView mSurfaceView;`
`mSurfaceView = new SurfaceView(this);`
（it works well before the replacement）

I wonder how to let filament draw on a GLSurfac

[2019-04-24 08:59] romainguy commented on #1136
`GLSurfaceView` is a `SurfaceView` but it creates its own render thread and OpenGL context, which will conflict with Filament. Since Filament takes care of all the rendering you do not need a `GLSurfaceView`.

[2019-04-24 08:59] #1136 closed

[2019-04-24 09:02] romainguy commented on #1135
We currently don't support ARM targets that are not Android or iOS. Our OpenGL calling layer, `bluegl`, only works for x86. `libs/bluegl/bluegl-gen.py` needs to be updated to generate ARM assembly.

[2019-04-24 09:04] #1046 closed

[2019-04-24 09:06] xyflora commented on #1136
got it! can i have some way to let filament drawn in my OpenGL context?

[2019-04-24 09:06] xyflora commented on #1136
got it! can i have some way to let filament drawn in my OpenGL context?

[2019-04-24 09:06] romainguy commented on #528
Closing this for now. There are still a couple of unsupported features like blend shapes.

[2019-04-24 09:06] #528 closed

[2019-04-24 09:08] romainguy commented on #1136
Unfortunately no, Filament needs to own the GL context (if only to do state tracking). You can however use external textures to have Filament or your renderer render into a texture and then use that texture in the other renderer.

[2019-04-24 09:27] xyflora commented on #1136
I wonder is any possible that i can transfer my context to filament when i create the engine, because i note that the author leaves a entrance for a shared context in
 `Engine::create(Backend backend, Platform* platform, void* sharedGLContext)`
but it seems that this parameter doesn't be used during the creating process.
I am confused with the author's intention to design such a parameter.

[2019-04-24 09:59] romainguy commented on #1136
The shared EGL context is used to share textures with an existing context. It is not meant for public use currently.

[2019-04-24 11:21] cx20 commented on #1121
I confirmed that the sample in jsfiddle is displayed by recompiling the material file with `matc`.

OK : Using [filaments.js](https://unpkg.com/filament@1.2.0/filament.js) on unpkg.com
https://jsfiddle.net/cx20/dfwpnkxm/
![image](https://user-images.githubusercontent.com/1833979/56655584-34676c00-66ce-11e9-9019-d3810a15e7c7.png)

[2019-04-24 11:41] hwiryong-jung commented on #1135
Is there any plan to support ARM - Linux? Nvidia Jetson TX2, Xavier and some Samsung Exynos SoC use that combination : ) plz~

[2019-04-24 11:46] romainguy commented on #1135
Not currently but it should be fairly simple and mostly build system work.

[2019-04-24 13:23] faisalkalim commented on #473
@uromastix87
Can you please share the entire file? I am trying this sample but I have no luck so far :(

[2019-04-24 18:36] uromastix87 commented on #473
Here it is fixed with some input too. Sorry, it's messy. I haven't tested it with the most recent Filament.
[code]

[2019-04-24 21:43] MiiBond commented on #995
Okay, I just tried this with release v1.2.0 and am running into another compile issue:
[code]

[2019-04-24 21:47] prideout commented on #995
Filament requires clang 7.

[2019-04-24 23:35] hwiryong-jung commented on #1135
Really there are few rendering engines which support ARM-Linux pair.
: ( SAD ..

[2019-04-24 23:37] prideout commented on #1135
We accept pull requests :)

[2019-04-24 23:55] hwiryong-jung commented on #1135
WOW~!! : D Thanks a lot~!!!

[2019-04-25 01:23] pixelflinger opened #1140 "Visual Studio doesn't support the packed attribute"
Okay, I just tried this with release v1.2.0 and am running into another compile issue:
[code]

_Originally posted by @MiiBond in https://github.com/google/filament/issues/995#issuecomment-486438681_

[2019-04-25 01:24] pixelflinger commented on #1140
This is very unfortunate. This means we'll have to use `#pragma pack(push, 1)` instead. This cannot easily be put in a macro.

[2019-04-25 01:52] pixelflinger commented on #651
This should be fixed now.

[2019-04-25 01:52] #651 closed

[2019-04-25 05:08] #1140 closed

[2019-04-25 13:11] hwiryong-jung commented on #1135
@prideout  Can I ask which PR is related to this issue? (sorry I'm not familiar with this system yet ; )

[2019-04-25 14:28] prideout commented on #1135
No PR's exist, I mentioned that we accept PR's from the community in case you were interested in contributing ARM+Linux support.

[2019-04-25 15:52] prideout commented on #1116
@John-DeCorato-HZ happy to accept a pull request but this isn't something we have the expertise for.  Closing.

[2019-04-25 15:52] #1116 closed

[2019-04-25 15:53] prideout commented on #1109
The spirv-tools validator actually can't catch the adreno bug that I was investigated when I created this ticked, so this doesn't seem like a valuable idea any more.  Closing.

[2019-04-25 15:53] #1109 closed

[2019-04-25 15:54] prideout commented on #1096
We have confirmed that this an Adreno bug and have notified Qualcomm.  Leaving this issue open until we have a workaround.

[2019-04-25 15:55] prideout commented on #939
We confirmed through experimentation that the Chrome team has fixed this in the next version, meanwhile our helmet demo has been upgraded to use gltfio, and it now has a workaround in place.

[2019-04-25 15:55] #939 closed

[2019-04-25 15:58] prideout commented on #251
Let's file a new issue (just for the graphical corruption) if it still exists, now that we've overhauled the resource lifetime management in the Vulkan backend.

[2019-04-25 15:58] #251 closed

[2019-04-25 16:00] #1034 closed

[2019-04-25 16:00] prideout commented on #1034
Agreed with Ben that we should close this, we plan on exposing Java bindings for gltfio, and have no plans for supporting FBX.

[2019-04-25 16:05] #980 closed

[2019-04-25 16:08] prideout commented on #129
This is a bit out of date now that we have a proper library.

[2019-04-25 16:08] #129 closed

[2019-04-25 16:15] #909 closed

[2019-04-25 23:59] hwiryong-jung commented on #1135
@prideout Oh, do you mean that if I solve the problem by myself and I want to upload that to filament git repository, you guys are going to consider it? : )

[2019-04-26 00:09] prideout commented on #1135
Yes.  :)

[2019-04-26 07:47] xyflora commented on #1136
I have another question. As you said before, it's possible to have Filament render into a texture and then use that texture in the other renderer. So can I understand it like that... Supposing I constructed a scene where filament could do render job, then It could return an output texture that could be used in my own renderer

[2019-04-29 07:13] lyLoveSharon opened #1149 "GPU Blend Shape Using VertexAttribute"
Can I use an extra VertexAttribute?
I want to implement gpu blend shape using VertexAttribute
Similar to WebGLMorphtargets in three.js

[2019-04-29 15:43] prideout commented on #1149
This is not yet implemented but we do have plans to extend Filament to support support morphing  similar to how we already support skinning.  We plan on supporting up to 4 sets of positions + 4 sets of tangents.

[2019-04-30 00:27] romainguy commented on #1149
Custom vertex attributes is also something we'd like to add at some point.

[2019-04-30 23:32] prideout opened #1158 "Improve robustness of UV-based SurfaceOrientation"
Lengyel’s method obviously doesn't work on spurious triangles that have UV's that stretch all the way across.  It could be argued that this is an "art issue" but in practice several models seem to trigger this, including `DamagedHelmet`, which has 10 offending triangles.

(Depending on how we tackle this, we might want to  consider adding a no-sanitize for ubsan since divide-by-zero can occur in t

[2019-05-02 00:11] romainguy commented on #644
Work for an SSAO implementation is ongoing.

[2019-05-02 07:19] nxrighthere opened #1164 "Bloom, SSR and Temporal Anti-Aliasing"
I see that these effects are planned, but would like to keep tracking this via an issue if you don't mind. Since work on the SSAO is ongoing, maybe you will keep the post-processing train on rails. 😺

[2019-05-02 11:59] donaldmunro opened #1165 "post-processing pass doesn't blend transparent Views"
**Describe the bug**
My understanding of the behaviour for View::setClearTargets possibly combined with View::setRenderTarget is that it should be possible to call the Renderer::render more than once, with a different camera projection for example, without overriding the previous render.
One use case might be  in AR to render a camera frame background using an orthographic projection, followed by

[2019-05-02 12:01] Raki commented on #172
@kavaari Thank you for the suggestion. As per the **filament-20190426-windows** build, if we pass HDC handle, app is crashing. It is working fine with Win32 HWND. (Also need to introduce a delay of 17ms in glfw renderloop without the delay command buffer is being flooded)

[2019-05-02 16:41] romainguy commented on #1164
Bloom is definitely planned, TAA might not be a priority for a while.

[2019-05-02 16:43] romainguy commented on #1165
We'll take a look at it but it's how we render ImGui user interfaces in our samples. Here's how the UI view is setup for instance:

[code]

[2019-05-02 16:46] prideout commented on #1165
I think this is a fairly recent regression: our ImGui windows currently look a reddish instead of bluish, maybe it's blending over un-cleared pixels.

[2019-05-02 16:48] romainguy commented on #1165
ImGui looks fine in `material_sandbox` for me.

[2019-05-03 10:53] donaldmunro commented on #1165
Thanks. I should probably also have mentioned that I was working with the latest git HEAD from yesterday (45636e5afe84a4dbb36bbdf63097e202b5381981) and not a downloaded release.

[2019-05-03 15:18] #1158 closed

[2019-05-05 20:43] whatisor opened #1166 "Design issue"
**Describe the bug**
Code review:
I found that runStaticCodeAnalysis not only "Analysis", but also find properties and generate shader code.
This creates a bit confusing. Should we change function name or separate functions?
Thank you.

[2019-05-05 20:48] romainguy commented on #1166
Finding the properties is part of the static analysis and it doesn't generate the final code but uses "peek" to produce a version of the code that can be analyzed.

[2019-05-05 20:48] #1166 closed

[2019-05-06 04:51] pixelflinger commented on #1165
Are you testing this with a DEBUG build?
I added debug code recently that clears target in red/yellow/green based on the discard flags to catch discard bugs. e.g. if if a buffer is discarded but not rendered later.
There could be some problem with that code. I will have a look.

[2019-05-06 05:59] whatisor commented on #1166
Thank @romainguy , it seems it updates mProperties which decides content of shader code?
I think extracting property should be separated, how do you think?

[2019-05-06 06:02] romainguy commented on #1166
That's part of the static analysis so we know what properties the material writes to. filamat's code could use a *****lot***** of cleanup, and this is far from being one of the important ones. Not to say this particular function can't be improved but I think there are much higher priorities (the rest of Materialbuilder for instance).

[2019-05-06 10:59] donaldmunro commented on #1165
Yes, I probably should have tested in release mode too.

I'm currently getting a link error compiling in release mode (for the STL logic_error exception), although it compiles and links OK  in debug mode. I suspect its due to ArchLinux having already switched to clang 8. I have a dual boot for Ubuntu 18 at home which should still be using clang 7 and will try it there later, and/or build a clang 7

[2019-05-06 18:18] romainguy commented on #1165
We use clang 8 to build for Android so it should work.

[2019-05-07 09:48] donaldmunro commented on #1165
Yes, I probably should have tested in release mode too.

I'm currently getting a link error compiling in release mode (for the STL logic_error exception), although it compiles and links OK  in debug mode. I suspect its due to ArchLinux having already switched to clang 8. I have a dual boot for Ubuntu 18 at home which should still be using clang 7 and will try it there later, and/or build a clang 7

[2019-05-07 10:03] donaldmunro commented on #1165
I had the same link problem in Ubuntu in release mode for both clang-6 (which seems to still be their default clang) and clang-7 (which is also supported via apt install clang-7). The problem is linking libs/math/test_math (which gets linked even if the -u option to build.sh is not specified). The following link line fails:
clang++  -std=c++14 -fstrict-aliasing -Wno-unknown-pragmas -Wno-unused-fun

[2019-05-08 19:19] nxrighthere commented on #139
It seems that upcoming [.NET 5](https://devblogs.microsoft.com/dotnet/introducing-net-5/) will bring Java interop. Not sure if this will help us anyhow rather than providing a proper C interface, but yea...

[2019-05-09 15:53] manugomez95 commented on #1067
Hi, I have this problem and I do need both Sceneform and Filament (since I create a custom mesh with it). Are there any news on this?

[2019-05-09 16:22] romainguy commented on #1067
Sceneform uses Filament already. You can either file feature requests with Sceneform or use ARCore directly with Filament.

[2019-05-09 23:37] pixelflinger commented on #644
Some early work here #1169, #1170 . Feedback welcome.

[2019-05-10 05:23] pixelflinger commented on #1165
@donaldmunro can you try at tip of tree? -- I double checked the logic, and setClearTargets the way you're using it should work -- also could you try with different colors? (because we're using yellow/red/green for debugging, so we don't know if we're seeing your red or my red :-)).
Make sure your background view is clearing and not discarding the color buffer.

[2019-05-10 10:21] donaldmunro commented on #1165
I have changed the colors:
   backgroundView->setClearTargets(true, true, false);
   view->setClearTargets(false, true, false);
   view->setRenderTarget(filament::View::TargetBufferFlags::DEPTH_AND_STENCIL);
   view->setClearColor(filament::Color::toLinear({0.8, 0.5, 0.2, 1}));
   backgroundView->setClearColor(filament::Color::toLinear({0.2, 0.5, 0.8, 1}));

I also compiled a release build by comm

[2019-05-10 18:32] nxrighthere commented on #644
This implementation is based on the ground truth approach (visually it doesn't look like GTAO), or it's something more traditional?

[2019-05-10 18:35] romainguy commented on #644
It's traditional SSAO for now, we want to investigate SAO. We first want something that works well on mobile. We will however use the multibounce term from GTAO.

[2019-05-10 18:37] nxrighthere commented on #644
Thanks for clarifying this. If you are interesting, here's the [source code](https://developer.blender.org/rB779c950098e46a34f89f1705be61b4b24be11568) of Blender's implementation.

[2019-05-11 14:44] donaldmunro commented on #1165
Another possibility not previously mentioned is to check whether the problem also occurs in Windows or Android, or is it Linux specific. I'll look into making the bug test code work as an Android app later. I do also have a Windows dual boot on a laptop, although I haven't used it for some time so it will probably take some time to update itself.

[2019-05-11 17:04] donaldmunro commented on #1165
OK, I've got it working by adding a setPostProcessingEnabled(false):
[code]

based on the comment on line 410 of Renderer.cpp:
[code]

[2019-05-14 05:03] griffin2000 opened #1182 "Directional and Sun lights overwrite each other"
On the WebGL build (version f5b47dc95e3e5efb09f52c31d628618326f1f51e) I've noticed it's not possible to add a Directional and Sun light to the same scene.

We you do try to do so, the first directional/sun light that is added to the scene is overwritten by the second one.  E.g. this code results in only a very dim sun light, no directional light.  The results are the same if two directional lights

[2019-05-14 05:06] griffin2000 commented on #1182
[redball.zip](https://github.com/google/filament/files/3175920/redball.zip)

[2019-05-14 05:06] romainguy commented on #1182
This is a current limitation of the engine, mostly for performance and size reasons: we only support 1 directional light (that includes sun light) at a time. The engine picks the one with the strongest intensity. What is your use case for 2 directional lights?

[2019-05-14 05:10] griffin2000 commented on #1182
Ah OK.  We have a client-facing API that supports multiple directional lights.

[2019-05-14 05:19] griffin2000 commented on #1182
Though actually I do think it's a bug even with that restriction. In the example above it's the very dim light that gets used, not very bright one (so the render comes out black)

[2019-05-14 13:12] griffin2000 opened #1183 "Directional light choice is incorrect"
On the WebGL build (version f5b47dc) the logic of choosing which directional light to use is incorrect.

When you add two directional lights to the scene, the last light is always the one that is chosen, regardless of the intensity of the lights. So in the code below the dim light (light1) not the bright light (light0) is added to the scene (reversing the order of the scene.add
 call changes the r

[2019-05-14 13:12] griffin2000 commented on #1182
Added a bug about the incorrect light choice: https://github.com/google/filament/issues/1183

[2019-05-14 16:02] #1183 closed

[2019-05-16 01:29] pixelflinger commented on #1165
ahhhhhh right, I completely forgot about that.  Sorry for not thinking about it before.

We're not able to do a blend of views, it's always a blit right now -- so it works for views side-by-side, or without post-processing (those don't use an intermediate buffer).

How problematic is it for you? We don't have immediate plans to fix this as it hasn't been a priority for us.

[2019-05-16 13:46] donaldmunro commented on #1165
I shouldn't need any fancy post processing at the moment so it shouldn't be a problem. A bit odd that it presumably works in ARCore, unless they render the camera background outside of filament using a OpenGL OES texture. Anyway thanks for the time spent on it.

[2019-05-16 19:34] spencerelliott opened #1192 "SIGSEGV when creating swap chain on macOS"
**Describe the bug**
When attempting to create a swap chain using a `java.awt.Canvas` on macOS, the following crash happens in the JVM:

[code]

**To Reproduce**
Run this code in Kotlin using IntelliJ:
[code]

**Expected behavior**
The swap chain is created successfully and the renderer can begin to render frames.

**Desktop (please complete the following information):**
 - OS: macOS
 - GPU: Radeo

[2019-05-16 19:50] romainguy commented on #1192
You should always create your AWT/Swing objects on the UI thread. See this example from our `Tungsten` tool (note the use of `SwingUtilities.invokeLater()`):

[code]

[2019-05-16 20:02] spencerelliott commented on #1192
I have tried moving the calls into an `invokeLater` call but I get the same result:

**Code:**
[code]

**Results:**
[code]

[2019-05-16 20:04] romainguy commented on #1192
We need the underlying window to be created, can you try to put the `Canvas` inside a `JFrame` and show the frame before rendering? Also, try `FilamentPanel` instead of `FilamentCanvas`.

[2019-05-16 20:09] spencerelliott commented on #1192
Running this code seems to work:
[code]

The window is not displaying on my machine but I don't think that's an issue with Filament.

[2019-05-16 20:10] romainguy commented on #1192
You're only creating a panel here, you need a JFrame and show it (it won't show automatically).

[2019-05-16 20:13] spencerelliott commented on #1192
This code is working now, displaying a red box the size of my canvas:

[code]

Thanks @romainguy!

[2019-05-16 20:13] #1192 closed

[2019-05-17 12:52] LeoAtreides opened #1195 "gltf geometry reflected on x-axis"
1) Description

In Augmented Face runtime, meshes are reflected in x-axis.

2) Step to reproduce

1.  Import glft file in Android Studio
2.  Inspect object in Viewer
3.  Load in app and observe
4.  Note that the object is reflected in x-axis

3) Expected behavior

Geometry should not be reflected on x-axis.

This behaviour does not occur in Arkit with XCode viewer and runtime.

4) Screenshots

![c

[2019-05-17 12:59] LeoAtreides commented on #1195
source file for debugging

[gltf.zip](https://github.com/google/filament/files/3191565/gltf.zip)

[2019-05-17 14:43] romainguy commented on #1195
Thank you for reporting this issue but this GitHub project is just the renderer used by Sceneform. For glTF loading issues or Augmented Face runtime issues, please use https://github.com/google-ar/sceneform-android-sdk/issues instead.

[2019-05-17 14:43] #1195 closed

[2019-05-17 14:49] LeoAtreides commented on #1195
I'll re-post there. The .sfa file makes that precise separation of the api's somewhat obscure.

[2019-05-17 14:51] romainguy commented on #1195
.sfa files are also specific to Sceneform but I agree. Only custom materials are a Filament API directly exposed in Sceneform.

[2019-05-17 22:30] spencerelliott opened #1197 "Support for Kotlin Native"
**Describe the solution you'd like**
Adding support for Kotlin Native would allow developers to create a single codebase that supports iOS, Desktop, and Android. The code would be compiled to native code for each platform possibly increasing performance.

**Describe alternatives you've considered**
It is currently possible to build macOS, PC, Android, and Linux apps using Kotlin. These platforms e

[2019-05-17 23:45] bejado commented on #1197
I haven't explored Kotlin Native too deeply, but I think it's is an interesting idea. Not sure how much additional work it would be given we already have JNI bindings.

[2019-05-18 07:19] 44asad opened #1199 "[filament][v1.2.0]can't open to the app."
### Actual Behaviour

App fail to install in my device.
### Expected Behaviour

I expected that i can install and use the app successfully.
### Step to reproduce
* Download the app
* click the app to install
* see the error
### Information
* App version:v1.2.0
* Os:Android 6.0.1
* Device:Samsung j5
### Recording of the bug
https://youtu.be/0SFzdVqf6xg

[2019-05-18 15:49] romainguy commented on #1199
Thanks for the report  This is not an app but a library for developers. What you downloaded isn't meant to and cannot be opened on a phone

[2019-05-18 15:49] #1199 closed

[2019-05-18 21:22] pixelflinger commented on #1165
@donaldmunro -- In ARCore/Sceneform the camera is rendered as a special skybox -- it's not a separate view.

[2019-05-19 14:00] nxrighthere opened #1201 "Occlusion Culling"
**Is your feature request related to a problem? Please describe.**
Objects that can't been seen are still sent to the GPU for rendering but to no visual effect. Lowering the computation costs of occluded objects improves application's performance, but with no impact to the scene quality.

**Describe the solution you'd like**
Software Occlusion Culling based on CPU rasterization of the depth buffer

[2019-05-19 18:18] romainguy commented on #1201
Thanks for filing this. Occlusion culling is something we've been wanting to do since the beginning it's just not a priority at this point.

[2019-05-20 02:58] romainguy commented on #1197
What support do you need added exactly?

[2019-05-20 03:42] comma-deng opened #1202 "setColorParameter with an 4-element array seems not work"
**Describe the bug**

My mat file:
[code]

When I try to pass a 4-element array to the baseColor parameter in my js:
[code]
my browser report an error:
`TypeError: Incorrect number of tuple elements for float3: expected=3, actual=4`

but if I change the 4-element array into a 3-element array,it works:
[code]

I think with Filament.RgbaType,the function should accept a 4-element array : [r,g,b,a] ,

[2019-05-20 03:44] romainguy commented on #1202
This looks like a bug in the JS bindings. Thanks for the report.

[2019-05-20 08:13] jaccen commented on #1067
hi  @Raki
have you resolved the problem ?
i alse meet this problem ,i want to use arcore + filement,
will u please share your experience？ my email jaccen2007@163.com

[2019-05-20 14:25] CgGraphic opened #1203 "Dynamic textures or dynamic vertices"
Hi, I'm currently writing an ar application using java and c++ on Android following the IBL demo.

I want to show the camera image and point clouds provided by other algorithms.

So my framework is

[code]

[code]

But the problem is that:

1. if I don't add the mEngine.flushAndWait(), the rendered camera background feels like tearing frequently.

2. the mEngine.FlushAndWait().  fix the tearing bu

[2019-05-20 14:43] romainguy commented on #1203
You can do two things:
- the PixelBufferDescriptor can take a callback to be notified when the texture upload is complete
- you can create hard fences and wait on them or query them to know when a command is done executing on the GPU

The first solution is probably the easiest in your case and it won't require blocking the main thread. You could copy the point cloud data and use the descriptor cal

[2019-05-20 14:43] #1203 closed

[2019-05-20 17:43] #1202 closed

[2019-05-20 18:05] romainguy commented on #1165
More specifically it's just a full-screen triangle rendered with an unlit shader. You can see how we did the same thing for our skybox here: https://github.com/google/filament/blob/master/filament/src/materials/skyboxRGBM.mat

The `vertexDomain` is set to `device` so we can define the geometry in clip space (z=1 for instance).

[2019-05-20 19:28] donaldmunro commented on #1165
Thanks, I'll have a look at it. I assume the cube map in rendered with only one (cube) face instead of 6 ?

[2019-05-20 19:29] romainguy commented on #1165
What do you mean? We still sample from a cubemap, but we shade a single triangle.

[2019-05-20 19:40] donaldmunro commented on #1165
I assumed as you presumably only have one image from the camera which you want as the front face, the rest of the faces aren't used ?

[2019-05-20 19:40] romainguy commented on #1165
Ah for the camera stream it's just a regular texture, not a cubemap.

[2019-05-21 02:38] stomanovski opened #1209 "Metal backend on iOS seems to be crashing with ubershader material provider"
I am following the sample code related to loading GLTF models directly on my iOS device. From what I have found so far the only way to do this on mobile is to use createUbershaderLoader and pass the result to the AssetLoader. The other option - createMaterialGenerator seems to be available only on the desktop targets.

Using the ubershader with OpenGL backend works fine, but when I switch to Metal

[2019-05-21 13:39] spencerelliott commented on #1197
The [`cinterop`](https://kotlinlang.org/docs/reference/native/c_interop.html) tool would need to be run on the Filament codebase. This would generate an interface between the native code and Kotlin Native. From there, I believe work would have to be done to build a stable API for each platform to pass in a valid surface using the [`expect/actual` mechanism](https://kotlinlang.org/docs/reference/pl

[2019-05-21 16:11] bejado commented on #1209
Thanks for the report. @prideout can correct me on this, but`createMaterialGenerator` should work on mobile too. To use it, you'll also need to link against the [`filamat` library](https://github.com/google/filament/tree/master/libs/filamat) . Nonetheless, `createUbershaderLoader` should work with Metal. I'll take a closer look.

[2019-05-21 16:32] bejado commented on #1209
Ah, I now see that we only build [`gltfio_core`](https://github.com/google/filament/blob/master/libs/gltfio/CMakeLists.txt#L120) on mobile, so we are in fact limited to `createUbershaderLoader`.

[2019-05-22 07:13] CgGraphic commented on #1203
Thanks, I have tried both ways and put the *DrawFrame* code outside.

It solves the tearing effect. But the performance is *Very slow*.

without the hard fence, the *DrawFrame* can have about 43 FPS .

But the rendered camera sequence is still very slow.  The mRenderer.render(mView) seems only rendered **10-15** FPS.

I suspect that the CPU is outpacing the Filament render thread, so a lot frame i

[2019-05-22 15:56] #1209 closed

[2019-05-22 15:57] bejado commented on #1209
@stomanovski This should be fixed now, please pull and rebuild. Let us know if you have any other issues.

[2019-05-22 16:03] romainguy commented on #1203
Wouldn't `GL_R_UNORM` be closer to what `GL_LUMINANCE` do? I wonder if the driver performs additional conversions that are unnecessary.

Where is your YUV data coming from? Is there any chance you could be using an external texture instead?

[2019-05-22 17:11] pixelflinger commented on #1203
mh... The fastest way would be to use the callback (not the fences, because they'll block your thread) -- can you explain how you're using the callback? All you should be doing in the callback is free your buffer.

If your getYImage()/getUVImage() API is not able to output individual buffers, you'll have to make a copy yourself in a new buffer and free that buffer in the callback. Does that make s

[2019-05-22 17:45] CgGraphic commented on #1203
will try different GL types soon.

YUV data are from camera preview.   I also looked into the Scenefrom source code, External texture seems a neat solution, but not applicable in some cases, so will try normal texture first.

[2019-05-22 18:26] CgGraphic commented on #1203
For each frame in the **DrawFrame** code, I new temporary buffers and copy the YUV data. and register a free function at the callback (since the DrawFrame is relatively quick, the extra new operation seems fine as a test code).

To diagnose, I use a unordered_set<void *> to record the data allocation and free.
[code]
Since the CPU is faster than GPU, the size of the unordered_set  is increasing. f

[2019-05-22 18:29] romainguy commented on #1203
You can control the rendering resolution by setting a fixed size on the `SurfaceView` or `TextureView` you use for rendering and/or by enabling dynamic resolution on your Filament `View` object.

Waiting on the hard fences will block your thread until the GPU is done processing all the work submitted prior to that fence. Make sure this is not the problem.

[2019-05-22 22:50] stomanovski commented on #1209
Thank you @bejado! Loading GLTF assets with Metal works. One of my test cases is setting:

[2019-05-22 23:01] stomanovski commented on #1209
With the latest code GLTF assets work on Metal now - thank you @bejado !

I think there is still metal specific issue though. When I call view->setPostProcessingEnabled(false) my app crashes with this assert:

validateDepthStencilState:3794: failed assertion `MTLDepthStencilDescriptor sets depth test but MTLRenderPassDescriptor has a nil depthAttachment texture'

The OpenGL backend correctly rende

[2019-05-22 23:04] stomanovski commented on #1209
@romainguy Let me know if you want me to file a separate bug for this.

[2019-05-22 23:10] bejado opened #1215 "Metal crash when post processing is disabled"
When post processing is disabled, Metal crashes on iOS with the following:

[code]

Note that this only happens when running from Xcode with Metal API validation.

Reproduce on desktop by adding

[code]

To material_sandbox (it's not enough to simply uncheck the PP passes through imgui, PP has to be explicitly disabled). Both Metal and OpenGL backends only render the skybox. It looks like this bug

[2019-05-22 23:11] bejado commented on #1209
@stomanovski Thanks, I've opened up a separate issue for that: #1215

[2019-05-23 07:29] CgGraphic commented on #1203
RG8_SNORM is the cause.

Using RG8_SNORM, the glTexSubImage2D is very slow in my device (XiaoMI mix 3).

Change it to RG8 fix the performance issue.

[2019-05-23 16:19] romainguy commented on #1203
Good to know, thank you! SNORM probably forces the driver to go through all the elements to normalize them.

[2019-05-23 21:43] bejado opened #1223 "Backend sees bindSamplers called with SSAO texture, even after texture is destroyed"
Filament is destroying a texture, then attempting to bind a sampler group that references it. This should be an invalid use of the Driver API.

For example:

[code]

This happens with the SSAO texture. In the color pass inside `Renderer.cpp`, `view.prepareSSAO(ssao)` binds the SSAO texture to the per view sampler group, but never unbinds it. During the next render pass, Filament will attempt to up

[2019-05-23 21:47] bejado commented on #1209
@stomanovski As a temporary workaround, you can leave post processing enabled but disable all passes:

[code]

[2019-05-24 18:36] stomanovski commented on #1209
Thank you @bejado! This looks like good workaround for my case.

[2019-05-25 02:48] salvf commented on #142
First of all excuse my bad English.
I followed your instructions and didn't work for me.
**Desktop**

- OS: Windows 10
- JDK: Oracle 1.8_111

I'm using Netbeans IDE so I added in the in the properties project Run->VM Options: `-Djava.library.path ="C:\Users\user\Desktop\filament1.2\lib\x86_64"`, also this path was added in the environment variable "PATH",
### **Code:**
[code]
_I wrote the line 26

[2019-05-28 17:15] bejado commented on #142
@salvf What are the contents of the `filament1.2\lib\x86_64` folder?

You could also try removing the extra space in VM Options:
[code]

[2019-05-29 00:06] salvf commented on #142
this is the content of the `filament1.2\lib\x86_64` folder
![image](https://user-images.githubusercontent.com/19564452/58519302-922d1f00-8178-11e9-8c31-9d230dc9728e.png)

the content of the `filament1.2\lib` folder
![image](https://user-images.githubusercontent.com/19564452/58520027-96a70700-817b-11e9-906b-0b67d531bc94.png)

I removed the extra spaces but it still doesn't work

![image](https://us

[2019-05-29 17:34] farziengineer opened #1237 "Potential memory leaks"
https://github.com/google/filament/blob/fc0d587b40d12af30f0091c9d10f254caf9d0e4d/third_party/libassimp/code/MDLMaterialLoader.cpp#L79

https://github.com/google/filament/blob/fc0d587b40d12af30f0091c9d10f254caf9d0e4d/third_party/libassimp/code/MDLMaterialLoader.cpp#L143

https://github.com/google/filament/blob/fc0d587b40d12af30f0091c9d10f254caf9d0e4d/third_party/libassimp/code/MDLMaterialLoader.cpp

[2019-05-29 17:39] romainguy commented on #1237
These objects are added to arrays and/or kept around, they shouldn't be deleted.

[2019-05-29 17:39] #1237 closed

[2019-05-29 19:36] nitronoid opened #1239 "Build failure on Fedora 29"
**Describe the bug**
Getting the same error output as #016 with an up to date clone of master.

**To Reproduce**
I'm using this CMAKE command:
[code]
Same story with regular make files. As you can see I do have the CXXABI flag.

**Desktop (please complete the following information):**
 - OS: Fedora 29
 - GPU: NVIDIA Quadro M3000M

**Additional context**
I was able to fix this problem by modifying

[2019-05-29 19:37] romainguy commented on #1239
We link against `libc++` via this flag: `set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -stdlib=libc++")` which works on other Linux distributions (and macOS and Android). I'm not sure why an extra `link_libraries()` directive is required here.

[2019-05-30 00:56] nitronoid commented on #1239
I think the problem is that `-stdlib=libc++` is not visible to the linker, instead of adding `link_libraries(libc++.a)` I can alternatively use
[code]
which also fixes the problem.

[2019-05-30 03:02] comma-deng opened #1242 "drawing point doesn't work on firefox"
I change the tutorial_triangle.js so it can draw points on a circle.
While it works on chrome( 74.0.3729.157, 64bit), it does not work on firefox(67.0, 64bit).
**OS**: ubuntu 16.04.

[code]
it works on chrome:
![chrome](https://user-images.githubusercontent.com/13051914/58605191-8d2bb500-82c9-11e9-9c70-c6cb2ab477e0.png)

but does not work on firefox:
![firefox](https://user-images.githubuserconten

[2019-05-30 05:04] romainguy commented on #1239
Ah good point, I'll give it a try, thanks!

[2019-05-30 10:35] nitronoid commented on #1239
Just an update on this, the second solution I posted only works when compiling for debug, to build the release version I still require the `link_libraries(libc++.a)`. I noticed the conditional linking against `static-libc++` for release mode, does adding the extra link_libraries have any negative effects?

[2019-05-30 14:50] prideout commented on #1242
@comma-deng what do you see in the developer console?

[2019-05-30 15:51] comma-deng commented on #1242
Only  two warnings.But I got the same warning on chrome,which can display the points correctly.

[code]
[code]

[2019-05-30 16:22] prideout commented on #1242
Works fine for me with Firefox 67 + MacBook Pro although I had to increase the point sprite size to make the visible by adding the following to `nonlit.mat`.

[code]

[2019-05-30 16:33] prideout commented on #1242
Note that you'll need to recompile the material as described in the Redball tutorial.

(In the above screenshot I modified the `web/samples/triangle.html` sample rather than `web/docs/triangle_tutorial.md`, but they are basically equivalent)

[2019-05-30 16:36] #1242 closed

[2019-05-30 17:20] romainguy commented on #1239
It should be fine but this `link_libraries` should be done implicitly by `-static-libstdc++`, and it's what happens when we build on Debian. What version of Clang are you using btw?

[2019-05-30 17:47] nitronoid commented on #1239
I'm using clang 7.0.1 with Fedora 29, I also tested with clang 9.0.0 on a rhel-7 workstation.

[2019-05-30 17:58] romainguy commented on #1239
Would you mind trying https://github.com/google/filament/pull/1245 please? It works on my Debian (custom Google) and our CI (Ubuntu 14). This change always links statically against `libc++` and `libc++abi`, in debug and release.

[2019-05-30 18:01] nitronoid commented on #1239
Sure I'll try it now

[2019-05-30 18:22] nitronoid commented on #1239
Works for me! Don't need to put any special flags either which is nice :+1:
[code]

[2019-05-30 18:48] romainguy commented on #1239
Awesome, thank you so much for your help! I really appreciate it.

[2019-05-30 18:49] #1239 closed

[2019-06-01 02:41] comma-deng commented on #1242
thanks!! I have thought it may be related to point size,but I didn't find how to change point size in doc.I think perhaps you could add this to doc.

[2019-06-02 19:57] nitronoid opened #1251 "Displacement support"
I couldn't find this referenced by any other issues, or in the material documentation so I thought I'd ask.

Is there any (planned) support for geometry displacement using a height map? I have experimented with tessellation and geometry shaders to actually deform the geometry, rather than using a normal map to fake it, and wondered if this method is supported by filament?

This video shows a good

[2019-06-02 20:50] romainguy commented on #1251
We don't support tessellation and geometry shaders but you can write a custom vertex shader to do displacement if your source mesh is already sufficiently tessellated. If you look in samples/sample_full_pbr.cpp you can also find an example of parallax occlusion mapping.

[2019-06-02 20:57] nitronoid commented on #1251
Is the reason they're unsupported due to lack of support on some of your target platforms? Thanks for the POM sample I'll have a look!

[2019-06-02 21:03] romainguy commented on #1251
It's just extra work and it hasn't been a priority, especially on mobile targets.

[2019-06-04 01:29] prideout opened #1256 "gltfio crashes with some Blender-exported scenes"
I tried exporting a mesh from Blender and it crashes the GL driver due to buffer overflow.

Upon examining the glTF file, I noticed there are many UV sets per mesh, which might be problematic.

[2019-06-04 15:05] griffin2000 opened #1257 "loadClassExtensions does not seem to work when importing WASM Filament dynamically"
loadClassExtensions doesn not seem to work when importing the Filament WASM module dynamically (using Babel).

So this static import works fine:
[code]

But when importing dynamically, although the WASM module loads, and init is called, none of the types (e.g. Engine) exist in the module.  So I assume loadClassExtensions hasn't been called successfully? This code will fail as filamentModule.Engine

[2019-06-04 15:44] prideout commented on #1257
Not familiar with Babel but I just now successfully tried out dynamic import by replacing `web/samples/webpack/src/app.ts` with:

[code]

I also added `"lib": ["es2015", "dom"],` to `tsconfig.json`.  After reloading the page, the console output looks good.

[2019-06-04 21:35] #1256 closed

[2019-06-05 04:00] but0n opened #1265 "Compiling failed on macOS"
**Describe the bug**

Hi,
I'm following the readme, download Filament's latest binary release `filament-20190423-mac.tgz` and extract into a directory. Then I set up main.cpp and makefile, but I got an error during compiling, it says `Undefined symbols for architecture x86_64:
  "_CVBufferRelease"`. Is there some dependencies I missed?

**Expected behavior**
[code]

**Log**

<details>

[code]
</de

[2019-06-05 04:03] romainguy commented on #1265
Thank you, which version of macOS are you using? You may have to link against the CoreVideo framework too.

[2019-06-05 04:04] bejado commented on #1265
Please try adding the `-framework CoreVideo` flag to the Makefile. I'll update the README.

[2019-06-05 04:04] romainguy commented on #1265
I just checked our build files, it's what we do: `-framework CoreVideo`

@bejado can you update the READMEs?

[2019-06-05 04:04] but0n commented on #1265
macOS Mojave 10.14.5
Thanks.

[2019-06-05 04:06] but0n commented on #1265
It works, thanks!

[2019-06-05 04:07] #1265 closed

[2019-06-06 06:33] daniilsunyaev commented on #651
I think I still issuing it for webgl. Not sure if this is the same issue.
Whenewer I try to add `this.view.setPostProcessingEnabled(true);` [here](https://github.com/google/filament/blob/master/docs/webgl/tutorial_suzanne.js#L61), and launch `demo_suzanne.html`, the model dissapears.
![filament_post_processing_enabled](https://user-images.githubusercontent.com/3955599/59011532-b609f800-883d-11e9-9

[2019-06-06 15:02] prideout commented on #651
Thanks @daniilsunyaev, indeed this appears to still be an issue, at least on WebGL.  We'll look into it.

[2019-06-06 15:11] prideout commented on #651
Actually @daniilsunyaev this is not a bug, you simply need to enable the depth buffer.  Change the following line:

[code]

to:

[code]

[2019-06-07 18:05] prideout opened #1270 "Inconsistent setParameter behavior for arrays"
We declare uniform blocks with std140, which means that the element-to-element stride is always at least 16 bytes.

Currently, users are happy when they create arrays of `vec4` and `mat4`, and we provide template specializations for `mat3f` and `float3` in `UniformBuffer.cpp`.

However users are unhappy when they push values into arrays-of-float or arrays-of-float2.

We compute size and stride cor

[2019-06-07 22:42] prideout commented on #1257
Given that I was able to use dynamic imports in the aforementioned experiment, I don't think this is a Filament bug, closing.

[2019-06-07 22:42] #1257 closed

[2019-06-09 00:16] koenigvonamburu opened #1272 "Filamesh always using 16 bit index buffer"
**Describe the bug**
The filamesh MeshWriter seems to use a 16 bit index buffer even if there are more than 2^16 vertices.

This is probably related to the following check in [MeshWriter.cpp](https://github.com/google/filament/blob/f93046308c7a6b18302e6c3d671464741adfa36a/tools/filamesh/src/MeshWriter.cpp#L93)
[code]
Shouldn´t this check for `mesh.vertexCount < numeric_limits<uint16_t>::max()` ?

[2019-06-09 00:41] romainguy commented on #1272
Thanks! Looks like the bug was introduced when `filamesh` was split in `libfilameshio` and `filamesh`. Uploading a fix soon.

[2019-06-09 00:44] #1272 closed

[2019-06-10 14:50] gpyalt opened #1274 "Building using native Visual Studio"
**Describe the bug**
Not a bug. I am just wondering what prevents building filament using the native Microsoft compiler in Visual Studio? Is it just a matter of C++ code not building?
I saw a reference about assembly code in another issue. Is this still a problem or is there equivalent c code?

[2019-06-10 17:09] romainguy commented on #1274
`msvc` encounters a lot of errors and warnings when attempting to build our codebase. We are not willing to implement some of the fixes required to make our code compile with `msvc`. That said we haven't tried with VS2019 which might behave better (unfortunately our CI is limited to VS2015 at the moment.

Note that you can use a prebuilt version of Filament with `msvc`; our public headers should w

[2019-06-10 18:37] nitronoid opened #1276 "Floating point normal map produces incorrect results"
**Describe the bug**
When using a float array as a normal map, the result displays obvious artifacts.

**To Reproduce**
I'm using this to load my normal map:
[code]

**Expected behavior**
Should produce the same output as loading an unsigned byte array:
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.
This is what I get using a byte array.
![working](https://use

[2019-06-10 18:43] gpyalt commented on #1274
Thanks a lot for the quick answer. I just need to say that filament is awesome, and the doc too!

Unfortunately, The public headers don't quite work with msvc.

vs2015 was having lots of issues with constexpr, so I switched to vs2019, but even then the headers have issues.

For example in `utils/compilers.h` we hit the `#error Compiler does not support the packed attribute.`. This `#error` can be

[2019-06-10 18:46] romainguy commented on #1276
Thanks for the report. STB's `stbi_loadf` applies a gamma conversion on the data, which is *not* what you want in this case. If the source is an 8 bit PNG file there is no benefit in using a float texture here.

[2019-06-10 18:46] #1276 closed

[2019-06-10 18:48] romainguy commented on #1274
Thanks for the info, we should fix the headers.

@bejado Ben, do you mind fixing those issue? The problem in `half.h` should be easy to fix.

[2019-06-10 18:49] prideout commented on #1276
What Romain said, but also your PixelBifferDescriptor is 4x too small.

[2019-06-10 18:54] gpyalt commented on #1274
Yes, just adding in half.h:
[code]
is enough. But if you guys want, give me a couple days and I'll send you a PR.

[2019-06-10 19:01] romainguy commented on #1274
We don't need to make is msvc specific right? I don't see any reason why we couldn't do this with clang.

[2019-06-10 19:04] nitronoid commented on #1276
Thank you for your responses, undoing the gamma correction, and increasing the pixel buffer size fixed things! :) @prideout Just so I'm sure, I had to increase the size by four as it is the sizeof a float?

[2019-06-10 19:08] prideout commented on #1276
Correct.  (btw maybe STB lets you set gamma to 1.0)

[2019-06-10 19:10] gpyalt commented on #1274
I was just concerned that if there is the same definition in libc++ it might cause an error, but I just tried rebuilding with clang on my pc with the non-msvc specific change and it built fine.

[2019-06-10 19:11] nitronoid commented on #1276
Maybe, however this was just a test. My real use case will only involve arrays of floats calculated at run-time and already in memory, so I won't have to use stb at all. Thanks for your help!

[2019-06-10 19:52] gpyalt commented on #1274
Another issue is this:

[code]

I guess this is because the quaternions and vec4 and vec3 ... can all be implicitely constructed with a float or a double, because the following are not explicit. I wonder how this is not an issue with clang:

[code]

and

[code]

[2019-06-10 20:16] romainguy commented on #1274
The same issue happens with vec2/3/4. myVec2 + 0.5 yields an error with MSVC (at least with VS2015). And it's one of ergonomics we don't want to compromise.

[2019-06-10 20:23] gpyalt commented on #1274
Well, we really should figure out which compiler is correct, because if `clang` is not standard conformant by allowing this, it could change in a future release.
I wonder how it is possible to feel confident in what the code actually compiles to with all these implicit conversions?

[2019-06-10 20:37] romainguy commented on #1274
`gcc` was fine with that code too, but yeah I agree.

[2019-06-10 20:37] romainguy commented on #1274
@pixelflinger who owns this code.

[2019-06-10 20:53] romainguy commented on #1274
Some hints can probably be found here: https://en.cppreference.com/w/cpp/language/implicit_conversion

[2019-06-10 20:57] gpyalt commented on #1274
Yes. I'll try reproducing the issue in a small program so it is easier to figure out which compiler is correct.

[2019-06-10 21:17] romainguy commented on #644
Folding into #1164 now that SSAO is available.

[2019-06-10 21:17] #644 closed

[2019-06-10 22:48] bejado opened #1279 "Disallow renderables with missing required attributes"
All lit materials implicitly require the tangents attribute. Not including tangents for lit renderables causes undefined behavior in OpenGL and a crash in Metal.

 `RenderableManager` permits renderables to be created with missing required attributes; however, missing attributes are logged in two places:

- `RenderableManager::Builder::build`
- `FRenderableManager::setMaterialInstanceAt`

A better

[2019-06-11 00:19] meshula commented on #1274
Confirmed as still an issue on vs2019.
Also confirmed adding is_arithmentic fixes it,

[code]

[code]

[2019-06-11 00:28] gpyalt commented on #1274
It may be more involved than I originally thought to reproduce the `error C2666:  'filament::math::details::TQuatProductOperators<filament::math::details::TQuaternion,T>::operator *': 13 overloads have similar conversions`  issue. I tried the code below, but it does build fine with msvc as well as gcc.

[code]

[2019-06-11 00:29] romainguy commented on #1274
@meshula Thanks for the update!

@gpyalt I think we'll need to wait for @pixelflinger to chime in :/

[2019-06-11 00:57] gpyalt commented on #1274
Thanks @romainguy  and @meshula!

[2019-06-11 01:00] meshula commented on #652
Note: linking the prebuilt libraries with MSVC doesn't work, because bluegl doesn't specify the wgl functions. Adding opengl32.lib doesn't help because of the conflicting symbols.

Without adding opengl32.lib:

[code]
with opengl32.lib included:

[code]

[2019-06-11 01:02] meshula commented on #1274
One more note, I'm attempting to use msvc to link, but running into issues vs opengl32.lib. I added some notes on this related issue: https://github.com/google/filament/issues/652#issuecomment-500646203

[2019-06-11 01:10] romainguy commented on #652
@bejado Do you remember how it works on Windows?

[2019-06-11 01:12] jwmcglynn opened #1281 "Ubsan failure: Division by zero ShadowMap/Camera::inverseProjection"
**Describe the bug**
When running ubsan, there is a divide-by-zero related to ShadowMap projection matrix calculation.

Stack:
[code]

This is the projection matrix (transposed during print), which is triggering the ubsan failure in Camera.cpp's inverseProjection, on `const T B = 1 / p[1][1]`
[code]

This matrix is computed by ShadowMap::computeShadowCameraDirectional, which constructs the model m

[2019-06-11 01:35] pixelflinger commented on #1281
wow. cool. thanks for finding/filing this.

[2019-06-11 01:37] gpyalt commented on #652
@meshula could you not compile `BlueGLCoreWindowsImpl.S` into `bluegl.lib`, and link opengl32.lib which will provide the full OpenGL?

[2019-06-11 01:39] romainguy commented on #652
It should work, our CI compiles a bunch of sample apps successfully, just need to figure out why :)

[2019-06-11 01:43] bejado commented on #652
I'm surprised that ordering the libs differently doesn't fix the issue- MSVC might behave differently than Clang in that regard. I'll investigate further.

[2019-06-11 04:26] bejado commented on #652
After fixing the header issues mentioned in #1274, I'm able to compile and link a simple test program against the `filament-20190423-windows` release using MSVC 2017. I have the dependencies specified as such:

[code]

@meshula maybe you can give more details on how you're linking `opengl32.lib`?

[2019-06-11 13:01] 61315 opened #1284 "Unexpected behaviors on Samsung Galaxy S5"
**Describe the bug**
`image-based-lighting` android sample is giving blank screen on Samsung Galaxy S5.
No specific error message was presented on logcat.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the master branch `c886d5b` and run build command
[code]
2. Open the image-based-lighting android sample project and run on device

**Expected behavior**
Application should create image

[2019-06-11 13:25] gpyalt commented on #652
@bejado, possibly there would be an issue if you made an OpenGL call in the sample program?

[2019-06-11 16:21] romainguy commented on #1284
It looks like a driver issue on Adreno 330 (quite an old GPU at that point and it's not the first time we have issues with the 3xx series). One of the issues is that we're unlikely to get support from Qualcomm about older GPUs.

Knowing that the skybox is part of the problem is helpful. And also surprising because it's one of the simplest things we render (it's just a full screen triangle with an

[2019-06-11 16:35] bejado commented on #652
Got it, I see the issue now. A quick workaround is to add the [/force:multiple](https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-error-lnk1169?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(LNK1169)%26rd%3Dtrue&view=vs-2019) flag to the linker command line (Property Pages, Linker, Command Line, Additional Options).

[2019-06-11 17:49] meshula commented on #652
The problem isn't that MSVC is ignoring link order.... I found the issue - opengl32 is linked indirectly by another library upstream that uses GLEW for it's OpenGL bindings, so trying to order opengl32 to come last is quite a puzzle. /force:multiple gets me linked. My application, not invoking filament, still works; so far so good.

[2019-06-11 22:56] #119 closed

[2019-06-11 23:35] romainguy opened #1288 "SSAO doesn't work on integrated Intel GPU"
**Describe the bug**
Run `gltf_viewer` with FlightHelmet on a MacBook Pro with integrated Intel GPU (make sure you are not using the discrete GPU if testing on a 15"). SSAO creates a lot of artifacts on screen. It looks like self shadowing.

**Screenshots**
<img width="1136" alt="Screen Shot 2019-06-11 at 4 34 35 PM" src="https://user-images.githubusercontent.com/869684/59313716-f2d35600-8c66-11e9

[2019-06-12 12:45] nitronoid commented on #1288
I also have this issue (or similar), however I'm experiencing it on two NVIDIA GPU's. It only happends when using the OpenGL backend.
![ssao_bug_1](https://user-images.githubusercontent.com/22621071/59352287-31751900-8d18-11e9-8fd5-68ff941991e6.png)
![ssao_bug_2](https://user-images.githubusercontent.com/22621071/59352288-31751900-8d18-11e9-9103-f846c8c4faaa.png)

[2019-06-12 15:18] romainguy commented on #1288
Thanks @nitronoid. Are those discrete GPUs?

[2019-06-12 15:27] nitronoid commented on #1288
@romainguy Sorry I'm not familiar with the term, but yes I think so. Quadro M3000M and Quadro K2200.

[2019-06-12 19:57] elalish opened #1291 "Normals are not smooth at triangle edges"
**Describe the bug**
The normals used for lighting calculations have discontinuities at the edges of triangles, making the mesh clearly visible in reflections. This is true both with and without a normal map for GLTF files.

**To Reproduce**
1. Pull latest filament master and build.
2. run gltf_viewer Suzanne.glb or gltf_viewer SciFiHelmet.glb
Those files are Khronos test objects from here: https:

[2019-06-12 20:06] romainguy commented on #1291
I can repro the issue.

[2019-06-12 20:07] romainguy commented on #1291
Philip, do these models come with normals or do we compute them ourselves?

[2019-06-12 20:07] prideout commented on #1291
This model has pre-supplied tangents that look faceted even when rendering a simple visualization of `vertex_worldNormal`:

<img width="1362" alt="Screen Shot 2019-06-12 at 1 06 13 PM" src="https://user-images.githubusercontent.com/1288904/59382575-e0aef180-8d12-11e9-818d-9cc49a5633b8.png">

[2019-06-12 21:05] prideout commented on #1291
Ah, the suzanne mesh has unwelded vertices because it has 11808 indices and 11808 vertices. The supplied normals in the model are smooth, but the supplied tangents are not.  See the following visualization of the tangent vectors.

![Screen Shot 2019-06-12 at 1 59 14 PM](https://user-images.githubusercontent.com/1288904/59386035-93368280-8d1a-11e9-8218-8791cb10000f.png)

This explains why it looks

[2019-06-12 22:27] prideout commented on #1291
ThreeJS ignores the model's tangents unless normal mapping is enabled, so the faceted tangents in the model do not matter.

Filament packs the provided tangents and normals into a basis quaternion on the CPU, then unpacks them on the GPU.  Since the model is providing a non-orthonormal basis, Filament unpacks bad normals from the quats.

[2019-06-12 22:53] romainguy commented on #1291
Note that the issue is in our gltf loader that SceneViewer does *not* use. They may have a bug on their side too. Rendering is not the problem here.

[2019-06-12 23:06] elalish commented on #1291
Also, if ThreeJS does use the tangents when normal mapping is enabled, why do they properly render SciFiHelmet (which has a normal map)? Is it just that they don't turn them into a quaternion?

[2019-06-12 23:12] elalish commented on #1291
What are the tangents in GLTF intended to specify?

[2019-06-12 23:14] prideout commented on #1291
The "fix" is not in the glTF loader, it's in the tangents utility, which
SceneViewer might be using.

On Wed, Jun 12, 2019, 4:07 PM Emmett Lalish <notifications@github.com>
wrote:

[2019-06-12 23:21] romainguy commented on #1291
Ah you're right, my bad they might be using this utility.

[2019-06-12 23:40] prideout commented on #1291
@elalish: ThreeJS preserves normals so if there are bad tangents in other models like SciFiHelmet, then the issue would manifest only as a subtle effect on the normal map, it would not affect lighting as it does in Filament.

[2019-06-12 23:44] #1291 closed

[2019-06-12 23:50] prideout commented on #1291
@McNopper we noticed that VKTS-exported models have faceted tangent vectors, and are unwelded.  Not sure if VKTS is still extant but thought you should know.

[2019-06-12 23:55] prideout commented on #1279
Related PR is #1290

[2019-06-13 01:31] #1270 closed

[2019-06-13 13:58] 61315 commented on #1284
Test above was done with filament-20190426-android.aar actually, sorry for confusion, but yes the sample image-based-lighting renders shader_ball fine with setClearColor applied background when I comment out the skybox setting.
![Screenshot_2019-06-13-22-03-18](https://user-images.githubusercontent.com/46559594/59437339-607caf00-8e2c-11e9-8f7f-5a0d42c6dcfa.png)

I clean built the current master br

[2019-06-13 16:09] romainguy commented on #1284
The failing shader is the new SSAO pass that's not enabled in the Android demos.

Here's what you could try:
– In the file `skyboxRGBM.mat` (in `filament/src/materials`), try to remove the big `if` block to see if it fixes the issue
– Otherwise, in `Engine.cpp`, find `sFullScreenTriangleVertices` and set all the Z values to `0.9999_h` instead of `1.0_h`

Complete shots in the dark but given how we

[2019-06-13 16:34] McNopper commented on #1291
I am suprised, that some folks still are using VKTS :-)
Thanks a lot for the info, but we 100% focus on glTF and dropped our proprietary format VKTS.
So, the VKTS exporter - if it is still somewhere out there - is not supported anymore.

[2019-06-13 16:46] cdata commented on #1291
The described artifact occurs in some of the canonical glTF sample models. It sounds like perhaps the related glTF sample models could stand to be cleaned up a bit?

[2019-06-13 16:53] nitronoid commented on #1288
@romainguy Just saw the tags on this issue and wanted to clarify, I'm not using macos. I get these artifacts on RHEL-7 and Fedora 29.

[2019-06-13 17:00] prideout commented on #1291
@cdata I filed [issue 226](https://github.com/KhronosGroup/glTF-Sample-Models/issues/226) against the Khronos repo, feel free to add to its comments.

[2019-06-13 17:04] romainguy commented on #1288
Thanks, good to know it's not OS specific.

[2019-06-13 17:22] chandusam2002 opened #1294 "build.sh failing with default member initializer error."
**Describe the bug**
[107/272] Building CXX object filament/CMakeFiles/filament.dir/src/DFG.cpp.o
FAILED: filament/CMakeFiles/filament.dir/src/DFG.cpp.o
/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++  -DFILAMENT_DFG_LUT_SIZE=128 -DFILAMENT_DRIVER_SUPPORTS_VULKAN -DFILAMENT_SUPPORTS_METAL -DSYSTRACE_TAG=2 -I../../filament/include -Ifilament -I../../filament/src -I../.

[2019-06-13 17:26] romainguy commented on #1294
Thank you. What does `clang --version` outputs on your machine? I'm on cmake 3.14.4, macOS 10.14.5 but I use Xcode 10 and I cannot reproduce the issue.

[2019-06-13 17:30] romainguy commented on #1294
@pixelflinger I took a quick look and I don't understand the error. A quick search shows that it seems to be a clang/gcc bug in some versions of the compiler.

@chandusam2002 Any chance you can update Xcode?

[2019-06-13 17:57] chandusam2002 commented on #1294
@romainguy / @pixelflinger I have upgraded to xcode version 10.2.1 and it did resolve the issue. Thank you very much for the quick response. Shall i close the issue or leave it as open?

[2019-06-13 17:58] romainguy commented on #1294
Thanks! I'll close the issue since there's an easy fix. Unless someone runs into the problem and can't upgrade Xcode I'd rather not do anything :)

[2019-06-13 17:58] #1294 closed

[2019-06-13 23:07] #1288 closed

[2019-06-13 23:14] pixelflinger commented on #1281
@jwmcglynn  this is when running which test?

[2019-06-13 23:29] jwmcglynn commented on #1281
@pixelflinger This is for a Sceneform test

[2019-06-13 23:30] pixelflinger commented on #477
In that case the intensity is set to DEFAULT_INTENSITY which is 30000 lux.

[2019-06-14 01:36] nitronoid opened #1299 "Access the underlying buffer object associated with a texture."
**Is your feature request related to a problem? Please describe.**
I would like to access the buffer handle associated with a `filament::Texture`, so that I can use the cuda interop api and write directly to the buffer from the GPU.

**Describe the solution you'd like**
From the little investigation I've done, I can see that the derived `FTexture` class holds the `HwTexture` handle, and  the `back

[2019-06-14 01:51] romainguy commented on #1299
By buffer object do you mean you want access to the OpenGL texture id? One of the reasons we don't expose things like this is to be able to transparently support multiple backends. Can you do it the other way around and use a shared GL context to give Filament the texture you want to share with CUDA? That we support (even though it's unfortunately GL specific).

[2019-06-14 02:02] nitronoid commented on #1299
Yes the id is what I'm after. Hm I wasn't aware of the other option, is there something in the samples similar to what you suggest?

[2019-06-14 02:06] romainguy commented on #1299
Unfortunately no but what you're after is:

https://github.com/google/filament/blob/master/filament/include/filament/Engine.h#L185

It only works with EGL though, I don't know if you can use this on desktop :/

@pixelflinger any thoughts on this feature request?

[2019-06-14 02:20] prideout commented on #1299
(Note that a very similar feature request has been made from a team within Google.)

[2019-06-14 06:40] uO-Ou opened #1300 "create render target from a cubemap"
**Describe the bug**
i want to copy a sub-region from one texture to another，so i add a funtion in FTexture:

[code]
it's ok on 2d texture, but failed when i copy from a 2d-texture to a cubemap or vice versa, i looked into the function OpenGLDriver::framebufferTexture, it seems missing the case of `GL_TEXTURE_CUBE_MAP_POSITIVE_X...` in  `switch (target)`? so i add the six row under the
`case GL_TE

[2019-06-14 10:52] 61315 commented on #1284
**skyboxRGBM.mat**
[code]

**Engine.cpp**
[code]

![filament_SMG900I_workarounds_result01](https://user-images.githubusercontent.com/46559594/59502808-afcce900-8ed9-11e9-9d83-edd4662e14b5.png)

It's from sceneform-1.9pr2 release source only, latest build (8cb3834) is giving black screen no matter what.

[2019-06-14 15:11] prideout commented on #1300
Although we have the API in place, we indeed might need some more plumbing to create `RenderTarget` from a particular face of a cubemap, which would my fault.  Let me test that out.

However if you're sure you also need to copy a sub-region from one texture, that sounds like a totally separate feature request.

[2019-06-14 16:46] nitronoid commented on #1299
@romainguy That is unfortunate :(

As for the backend issue, I'm not very familiar with vulkan but from the examples I've seen, writing to a `VkBuffer` would require these steps:
1. Get the memory handle to the `VkBuffer` with a call to whatever gets returned by this `vkGetInstanceProcAddr(instance, "vkGetMemoryFdKHR")`
2. Import and map the memory with cuda `cudaImportExternalMemory` and `cudaExt

[2019-06-14 19:03] romainguy commented on #1299
`HwTexture` is a `VulkanTexture` which contains a `VkImage`, a `VkImageView` and a `VkDeviceMemory`. @prideout can say more about this since he wrote the Vulkan backend.

[2019-06-14 19:20] prideout commented on #1299
You would also need a device, command buffer, etc...  Long term I think we should support sharing in a more first-class way using platform-specific mechanisms (e.g. AHardwareBuffer), and in the short term expose a small OpenGL-specific mechanism.

@nitronoid would you be unblocked if we provided an OpenGL-only solution?

[2019-06-14 19:22] nitronoid commented on #1299
@prideout Yes an OGL solution would be perfect!
I was just speaking hypothetically about the Vulkan part out of interest, however having access to the OpenGL texture ID would be much more useful right now. Thanks!

[2019-06-14 20:26] romainguy commented on #1299
I imagine the texture ID isn't enough and you also need access to the GL context. It's the kind of stuff I'd really like to avoid exposing.

[2019-06-14 20:53] nitronoid commented on #1299
@romainguy  Yes I would need that too. Is there any way to get the shared context working on desktop?

[2019-06-14 21:32] nitronoid commented on #1299
Actually, I only really need the context so that I can ensure it is the current context for my thread. Would it be possible to offer some sort of `makeCurrent` function so I can do that in a platform agnostic way?
Then I could just call `makeCurrent`, and get the now valid texure Id somehow.

I see that the private implementation of `SwapChain` has something similar, but requires the backend as a

[2019-06-14 21:47] #477 closed

[2019-06-14 21:48] romainguy commented on #1299
So you are touching one the #1 reason why we use a separate thread for OpenGL: we do not want the app to ever be able to do anything that might modify the state of Filament's GL context (we do careful state tracking, etc.). That's also why we never expose APIs that let run user code on the driver thread.

[2019-06-14 21:58] nitronoid commented on #1299
I see, not sure where to go from here then. Unless you implement the mapping of the texture with the cudaInterop calls internally (which is a bit of a stretch), I'm not sure how I could do it without running on the driver thread :/

How would you prevent the user from running code on the driver thread when using that sharedContext?

[2019-06-14 22:00] romainguy commented on #1299
The shared context doesn't let you run arbitrary thread in our driver (by driver I mean Filament's backend, not the GPU driver of your system). It does allow you to do a few naughty things (you could delete some of Filament's resources for instance) but it's somewhat limited. The best solution would be to look into the equivalent of EGL's shared context for WGL/XGL/etc. What platform are you targe

[2019-06-14 22:07] nitronoid commented on #1299
RHEL-7 desktop with Nvidia Quadro cards. I think that's GLX?

[2019-06-14 22:14] #1300 closed

[2019-06-14 22:21] romainguy commented on #1215
Is this issue still relevant?

[2019-06-14 22:25] romainguy commented on #1299
Yes, we use GLX there. It's apparently trivial to [enable context sharing](https://www.khronos.org/registry/OpenGL-Refpages/gl2.1/xhtml/glXCreateContext.xml). We just need to pass the `void* sharedContext` you give us to `glXCreateContext`.

@prideout Any chance you could give this a try?

[2019-06-14 22:51] nitronoid commented on #1299
https://github.com/google/filament/blob/5b4ec6fd7d5b1ed1bef14f63c06eccddb6a55b72/filament/backend/src/opengl/PlatformGLX.cpp#L136-L137

Seems like it's already being passed? Unless I'm mistaken.

[2019-06-14 23:56] bejado commented on #1215
It still reproduces, yes. This is really a bug at a higher level than Metal / iOS, it just happens to crash when running in Xcode. The root issue is that the default framebuffer does not have a depth buffer, and so does not render the scene correctly.

[2019-06-14 23:59] #1281 closed

[2019-06-15 00:01] romainguy commented on #1299
Look at that, apparently we already took care of it :) Give it a try and let us know how it goes then!

[2019-06-15 00:01] pixelflinger commented on #1284
@61315, would you be able to capture a trace with gapid and post it here?
Only a couple frames are needed.
https://github.com/google/gapid/releases

[2019-06-15 00:16] romainguy commented on #1284
Have you tried compiling in debug mode btw? It enables a bunch of checks and disable shaders optimizations which could be the cause.

[2019-06-15 00:26] nitronoid commented on #1299
Great thanks for helping me out!
Final question: I'm guessing there's no way I can convert an OpenGL texture I create on the shared context with `glGenTextures` into a `filament::Texture`? That way I could keep using your nice API, and have the texture Id.

[2019-06-15 02:37] romainguy commented on #1299
The way to make it work is to create a `Stream` with an external texture id (https://github.com/google/filament/blob/master/filament/include/filament/Stream.h). The stream can then be attached to a `Texture`. I believe you can ignore the comment about `GL_TEXTURE_EXTERNAL_OES` (@pixelflinger is the doc wrong here? Texture external should be for `SurfaceTexture` not shared textures right?).

[2019-06-15 10:37] 61315 commented on #1284
- Device: samsung SM-G900I - Android 6.0.1 API 23 - Qualcom Adreno (TM) 330
- API: OpenGLES
- Stop After: 7 Frames
  - [x] Trace From Beginning
  - [ ] Disable Buffering
  - [ ] Clear package cache
  - [x] Hide Unknown Extensions
  - [x] Disable pre-compiled shaders
- `android:debuggable="true"`
### sceneform-1.9pr2
image-based-lighting sample

**Skybox**|**isPostProcessingEnabled**|**filament bui

[2019-06-16 11:55] drtyhlpr opened #1307 "Android Material problem with baseColor"
**Problem description**
I experience a problem with material "baseColor" after I swiched to filament-master from filament-20190423-android. I am using the latest git sources from yesterday and built the latest android aar on linux and required bin tools on windows (cmgen.exe, matc.exe, filamesh.exe). I am using the default clear_coat material with ibl (without additional normal maps or textures).

[2019-06-16 13:49] drtyhlpr commented on #1307
[code]
hmm setting the baseColor.rgb static and using material builder works fine.

[2019-06-16 16:42] romainguy commented on #1307
Thanks for the report. Do you have screenshots by any chance? I'm not sure I understand what the issue is. What do you mean by the baseColor is wrong?

[2019-06-17 01:57] romainguy commented on #1307
I think I figured it out, there was a change made recently to support arrays of 1 element (which wasn't possible before) but the Java bindings relied on arrays of 1 element being treated as non-arrays. I'm uploading a fix. Thanks for finding this bug!

[2019-06-17 02:11] jaccen opened #1309 "add aar to a new android peoject ,some errors"
new a android poject, and new module->import aar---->filament-20190313-android
there are some problems~~
**Describe the bug**
A clear and concise description of what the bug is.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:checkArm8DebugDuplicateClasses'.

  java.lang.RuntimeException: Duplicate class com.google.android.filament.AndroidPlatform foun

[2019-06-17 02:19] romainguy commented on #1309
According to the error you've added two Filament AARs to your project:

filament-20190313-android.aar
filament-release-android.aar

Remove one of them to fix the problem.

[2019-06-17 02:19] #1309 closed

[2019-06-17 15:50] nitronoid commented on #1299
Sorry for no updates, I've been handling another task. I will get back to this and test it soon if you don't mind leaving the issue open a little longer?

[2019-06-17 21:44] romainguy commented on #1299
Take your time :)

[2019-06-18 00:07] pixelflinger commented on #1284
Yes it looks like the gapid traces above have captured frames in a context that's not filament's and stopped before any filament rendering. You might have to increase the number of frame after which it stops.

The crash is scary, it's deep inside the GL driver.

[2019-06-18 02:17] #1307 closed

[2019-06-18 02:19] romainguy opened #1314 "Don't compile materials for all APIs everywhere"
In:
- `libfilament`
- `libfilagui`
- `libgltfio`
- All Android samples
- All C++ samples

We compile materials with `-a all` (in Filament if Vulkan or Metal support is on). This creates materials that are much bigger than they should be (iOS/macOS end up with Vulkan shaders, Android/Linux with Metal shaders).

We should fix this.

Part of the problem is that `matc` doesn't allow to specify 2 or 3

[2019-06-18 09:39] Zefz opened #1315 "Support RenderTarget in Renderer:readPixels"
**Is your feature request related to a problem? Please describe.**
PR #1275 introduced support for rendering to offscreen targets. Readback of the result from GPU back to CPU is possible by using the underlying driver:

[code]

**Describe the solution you'd like**
filament::Renderer provides the public readPixels function, but it only supports readback from the current SwapChain. Add an argument t

[2019-06-18 15:10] prideout commented on #1315
Seems reasonable!  I'll discuss with the team and look into this.  ReadPIxels is super slow -- out of curiosity what are you using it for?

[2019-06-18 17:19] romainguy commented on #1274
@bejado To solve our CI problem maybe we could setup a CircleCI or similar for the Windows build? Releases will be a bit more annoying but we'd have access to more recent compilers I think.

[2019-06-18 17:21] romainguy commented on #1274
And VS Community is available for Open Source projects so that could work for us.

[2019-06-18 22:47] prideout commented on #1315
@zefz it's a little tricky because the client application would need to call our top-level render() function in order to resolve the offscreen render target.

We provide ReadPixels for debug purposes only, we don't like it because it stalls the pipeline.  In the long term we might provide an asynchronous PBO-based solutions.

If you have a compelling use case then let us know, it will help us prio

[2019-06-19 06:50] Zefz commented on #1315
Yes I am aware it's a very slow process, but as far as I know it is the only way to access copy pixel data directly from a rendered view to either feed into a computer vision algorithm (e.g OpenCV) or to store an image to the disk (like taking a screenshot from a view that is not the SwapChain).

This image shows how we develop a stereo vision navigation algorithm using filament to render multiple

[2019-06-19 14:47] prideout commented on #1315
This looks like a cool app!  Here's how to unblock you in the short term.  If you're using offscreen render targets, somewhere in your app you already have something like this:

[code]

To use ReadPixels on a particular render target, temporarily substitute the `mSwapChainViews` with a single view that draws a nonlit quad whose basecolor is the texture that corresponds to the render target of inte

[2019-06-19 17:58] rawnsley opened #1320 "OpenGL Shader crash on Mali-T760 (RK3288)"
The unoptimized vertex shader crashes when a MaterialInstance is instantiated. If the vertex shader is extracted using matinfo and compiled with the Mali offline compiler it fails with a segmentation fault.
[code]
If the default driver version is used (Mali-Gxx_r11p0-00rel0 at time of writing) the compilation succeeds.

I whittled down the shader to the following minimum reproduce:
[code]

[2019-06-19 20:59] bejado commented on #1314
I can start work on the `matc` / `libfilamat` side of things. Ideally [`MaterialBuilder::TargetApi`](https://github.com/google/filament/blob/master/libs/filamat/include/filamat/MaterialBuilder.h#L52) can be updated to be a bitfield so `filamat` clients can take advantage of this too.

[2019-06-19 21:05] prideout commented on #1314
Good point.  Note that the C++ `TargetApi` type is used internally in a few places that expect there to be one and only one type, so we would need to add asserts to those places to ensure that only 1 bit is set on those places.

Alternatively we could rename the public-facing type to `TargetApiFlags` (which would perhaps alias to uint32_t)  and privately define an internal `TargetApi` that would b

[2019-06-20 07:28] Zefz commented on #1315
Thanks! I will look into it.

[2019-06-20 15:28] rawnsley opened #1326 "Support for UNSIGNED_BYTE indicies in gltfio"
The GLTF spec allows for [UNSIGNED_BYTE types](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#indicescomponenttype-white_check_mark), but it's not currently supported.

[Here's an example](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/SpecGlossVsMetalRough) from the GLTF samples that renders poorly:

<img width="1016" alt="Screenshot 2019-06-20 at 16 12 23"

[2019-06-20 16:44] prideout commented on #1326
Thanks for the report!  This is indeed a bug although the diagnosis is incorrect.  gltfio automatically converts uint8 indices.  Rather than removing the label nodes, you can remove their NORMAL attributes, and the problem clears up.

[2019-06-20 17:25] rawnsley commented on #1326
Ah. That's the problem I have with my GLTF library so I was projecting :-)

[2019-06-20 18:06] prideout commented on #1326
This is a really interesting bug, I think it might be in Filament itself rather than gltfio.  I will keep digging.

[2019-06-20 23:29] #1326 closed

[2019-06-21 09:16] rawnsley commented on #1320
I got some [useful feedback from ARM](https://community.arm.com/developer/tools-software/graphics/f/discussions/13543/segmentation-fault-when-accessing-simple-stuct/36572). The filament shader only does this when setting _gl_Position_ so I was able to work around the problem by [calling a property accessor for worldPosition instead](https://github.com/rawnsley/filament/commit/52bdf3cdb6281cc7839a9

[2019-06-21 13:53] romainguy commented on #1320
Thanks! Based on ARM's feedback I'm not sure why the workaround works. Note that your change doesn't hurt performance, functions/function calls don't exist in shaders after they are compiled.

[2019-06-21 14:13] rawnsley commented on #1320
My best guess is that it prevents the compiler from trying an optimization step that otherwise causes a crash, but I really don't know enough about GLSL internals. You can also do something like _gl_Position = min(material.worldPosition, vec4(1e+38))_

[2019-06-21 15:12] rawnsley opened #1336 "depthWrite doesn't always default to false"
The documentation says that depthWrite defaults to false, but its default value is actually [dictated by the blending mode](https://github.com/google/filament/blob/master/filament/src/Material.cpp#L180).

The upshot of this is that you sometimes have to set it explicitly to true when dealing with transparent materials.

[2019-06-21 16:29] romainguy commented on #1336
The header file has the correct documentation. I'm updating `Materials.md.html` right now.

[2019-06-21 16:29] #1336 closed

[2019-06-21 16:33] romainguy commented on #1320
I'll go with your getter solution, but this will only work for non-optimized shaders. Optimized shaders may have the issue depending on what the optimizer does.

[2019-06-21 16:57] #1320 closed

[2019-06-22 05:45] jaccen opened #1340 "is there any project use filament.aar for android with java?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**OS and backend**
Is this feature OS/bac

[2019-06-23 23:50] romainguy commented on #1340
There are several samples in `android/samples`. They compile Filament instead of using the AAR but all you have to do is link against the AAR instead.

[2019-06-23 23:50] #1340 closed

[2019-06-24 13:07] jaccen commented on #1340
but the examples use kt， i want use filament as a lib in my java project，is there any doc or project example？

[2019-06-24 13:14] jaccen opened #1341 "is there anyone who use filament as a lib for another android project？"
is there anyone who use filament as a lib for another android project？
my required：
    (1) use filament  as a lib for my another project
    (2)my android project  use java not kt;
    (3)have some exaples or doc for use filament

or through CMakeList add filament sources to my project.

anyone who can give me a tutorials?

[2019-06-24 16:18] romainguy commented on #1341
You can find several samples for Android in `android/samples`. These samples include the library project directly, instead you'll want to add the AAR as a library (see https://stackoverflow.com/questions/16682847/how-to-manually-include-external-aar-package-using-new-gradle-android-build-syst for instance).

The samples are written in Kotlin but call the Java APIs, there's nothing fundamentally di

[2019-06-24 16:18] #1341 closed

[2019-06-24 18:43] drummeric opened #1344 "Instantiating multiple Filament scenes at once (Android)"
**Describe the bug**
I'm trying to render 2 Filament views at the same time on Android. For now, they're just displaying the same mesh with a different background color. They reuse the same Engine, but each view has its own UiHelper, Choreographer, Renderer, Scene, View, Camera, Mesh, SwapChain, etc. However, I keep getting an error which I assume is due to some sort of memory issue, but I'm not e

[2019-06-24 18:51] romainguy commented on #1344
Could you show us the entire crash please? If I understand correctly you're rendering Filament in two different `Surface/TextureView`? Rendering multiple scenes is definitely supported (you can do it in the same `Surface/TextureView` by the way).

[2019-06-24 20:09] drummeric commented on #1344
When I debug my application in Android Studio, the entire application just quits and all I see in the logs is the error that I posted:

I'll spend some more time to see if I can get a better crash log though.

You're understanding is correct; I am rendering Filament in two different TextureViews.

[2019-06-24 20:31] romainguy commented on #1344
Do you need to use two `TextureView` (also, why not `SurfaceView`? It'll be more efficient) or could you render two `filament.View` in the same `TextureView` instead? (also more efficient)

[2019-06-24 21:03] drummeric commented on #1344
We're building a React Native app to work on both iOS and Android. The two views that I'm implementing for Android are already implemented and working for iOS (using a different 3D library) and we already have all of the React hooks in place. It seems it would be easiest to align with our iOS solution and keep the two separate views on Android. That way, I don't have to rewrite a bunch of the iOS

[2019-06-24 21:05] romainguy commented on #1344
What you're trying to do should work but it's quite wasteful, that's why I was asking whether you could use a single `TextureView` instead (or even `SurfaceView` to be even more efficient).

[2019-06-24 21:42] romainguy commented on #1344
Here's a test app I just wrote that sets up two `SurfaceView`.

Each uses a separate `View`, `Scene`, `Renderer` and `SwapChain`. They do share the same mesh (`Material`, `VertexBuffer` and `IndexBuffer`) but they both use different renderables. You can change `setupScenes()` to make both `SurfaceView` render the same scene and it works as well. You can also share the same `Renderable` in both sce

[2019-06-24 22:55] drummeric commented on #1344
Thanks for the sample! This is super helpful. Looking at your code, the major difference is that I'm building brand new VertexBuffers and IndexBuffers for each scene, and it seems like that might be causing the issue. When I reuse the same Renderable (and therefore buffers) in both scenes, it renders both scenes without any issues. That solution will probably work for our use case (and will be mor

[2019-06-24 23:09] romainguy commented on #1344
That is really weird, I would have expected issues to come from sharing, not from creating multiple buffers. We have multiple test apps (loading glTF files for instance) that create multiple index/vertex buffers without issues. Are both buffers created in the exact same way? I just changed my test app to recreate the index and vertex buffers in the second scene and it works just fine.

[2019-06-24 23:09] #1344 closed

[2019-06-25 10:27] Markcz opened #1345 "Crashed on targetSdkVersion=29 with Pixel QPP4.190502.019"
**Describe the bug**
Crashed on targetSdkVersion=29, but normal on targetSdkVersion=28 .

**Smartphone (please complete the following information):**
 - Device: [Pixel]
 - OS: [e.g. Android Q 10 QPP4.190502.019]

**Log**
    E/Filament: Panic
    in void *filament::CircularBuffer::alloc(size_t):124
    reason: couldn't allocate 6144 KiB of memory for the command buffer
--------- beginning of syste

[2019-06-25 21:03] romainguy commented on #1345
Thank you for the report. Do you have more in the logs by any chance? It doesn't show where the panic occurred. Which version of Filament are you using? We had an issue on Q caused by the use of a private API but we fixed it a few weeks ago.

@pixelflinger Looks like we may have a crash on Q.

[2019-06-25 23:18] prideout commented on #1315
Since this is doable with the current API (although admittedly awkward), I'm closing this ticket for now.

[2019-06-25 23:18] #1315 closed

[2019-06-25 23:24] prideout commented on #1251
Note that Filament **does** allow you customize your vertex shader, so if your geometry is tessellated sufficiently then you can make texture lookups in there and displace the verts appropriately.  Care should be taken to adjust the lighting normal appropriately.

Personally I think we should close this issue since tessellation / geometry shaders out of scope for Filament in the foreseeable future

[2019-06-26 02:00] Markcz commented on #1345
@pixelflinger

dependencies {
       implementation "com.google.ar.sceneform:core:1.9.0"
       implementation "com.google.ar.sceneform.ux:sceneform-ux:1.9.0"implementation
}

![屏幕快照 2019-06-26 09 49 31](https://user-images.githubusercontent.com/16713862/60145414-7c069300-97f8-11e9-98d1-48babacfd05e.png)

***External Library
![屏幕快照 2019-06-26 09 49 12](https://user-images.githubusercontent.com/167

[2019-06-26 02:04] romainguy commented on #1345
Right that's a known issue with ARCore 1.9. It'll be fixed in the next version (the fix is already available in filament itself).

[2019-06-26 02:04] #1345 closed

[2019-06-28 09:20] rawnsley opened #1354 "Control visibility of renderables"
My Filament renderables mirror the scene graph structure in my application, so for instance changes to a models transform is passed through to the corresponding entity in Filament's TransformManager.

Is there a similar way I could toggle the visibility of renderables in Filament to match my scene graph? It seems like the only option is to add and remove them from the scene and I feel I might be m

[2019-06-28 16:09] romainguy commented on #1354
You can control the visibility by setting the `layerMask` on a `Renderable` (see `RenderableManager::setLayerMask`). You can then control which layers are visible in a `View` with `View::setVisibleLayers`. The layer mask and the visible layers set are bit fields.

For instance: https://github.com/google/filament/blob/master/samples/app/FilamentApp.cpp#L99. You can see the `mainView` uses `0x4` as

[2019-06-28 16:13] #1354 closed

[2019-06-30 00:49] skrat commented on #737
I'm seeing the same behavior on Linux/Intel HD3000, even with Release build

[2019-06-30 21:25] aindigo opened #1360 "Error compiling filament with libc++abi-dev-8"
**Describe the bug**
Compilation does not end due the following error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. clone repository
2. run ./build.sh release in filament directory

**Expected behavior**
Compilation success.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.10
 - Compiler : Clang 8 (libc++-8)
 - GPU: nvidia 1060 GTX
 - Backend: Vulkan

* Im

[2019-06-30 21:29] romainguy commented on #1360
The issue doesn't seem related to Filament. Your linker doesn't recognize your libc++.a file? What's llvm ppa btw?

[2019-06-30 21:36] aindigo commented on #1360
Im using the packages from the llvm project repository.

https://apt.llvm.org/

[2019-06-30 21:37] romainguy commented on #1360
Those are the packages we use on Ubuntu 14 in our CI.

[2019-06-30 22:08] aindigo commented on #1360
its a problem with the libraries, i tried to compile a simple program with the same flags for static compilation with libc++ and libc++abi  ,  and googling , it happened before.
 ill try to compile it with libc++ compiled from source.

[2019-07-01 09:55] agGitHub opened #1361 "Crash: signal 4 (SIGILL), code 1 (ILL_ILLOPC) libfilament-jni.so"
**Describe the bug**
I use Sceneform in my Android app. For some users, I have got the following crash:

signal 4 (SIGILL), code 1 (ILL_ILLOPC)
libfilament-jni.so
pid: 0, tid: 0 >>> com.mycompany.myapp <<<
backtrace:
  #00  pc 0000000000052eae  /data/app/com.mycompany.myapp-PuYPm-sE_PEw==/lib/arm/libfilament-jni.so

**To Reproduce**
Steps to reproduce the behavior:
Random crash. Only on Android 9

[2019-07-01 10:03] agGitHub opened #1362 "createFrence() sometimes crashes on Android 9"
**Describe the bug**
I use Sceneform in my Android app. For some users, I have got the following crash:

signal 4 (SIGILL), code 1 (ILL_ILLOPC)
filament::Engine::createFence(filament::Fence::Type)
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.mycompany.myapp <<<

backtrace:
  #00  pc 0000000000033a50  /data/app/com.mycompany.myapp-gnlxhlx-lA==/lib/arm/libfi

[2019-07-01 14:15] #1361 closed

[2019-07-01 14:16] romainguy commented on #1362
Thanks for the report. Do you have more information? Devices on which the crashes occur, longer logs, etc.?

[2019-07-01 21:00] aindigo commented on #1360
I was able to compile it with the llvm+clang from the tar.xz from the llvm site.  i think is a problem with the file, its corrupted or something. (clang-8)

[2019-07-01 21:00] #1360 closed

[2019-07-01 21:02] romainguy commented on #1360
Thank you!

[2019-07-01 21:11] greg7mdp opened #1366 "needless vector copy is made"
In `MeshAssimp.cpp`, we have the following code:

[code]

which seems to indicate that the intent is for the vectors to be moved. However for the move to occur, I believe that the `State` move constructor should also have a std::move, as in:

![image](https://user-images.githubusercontent.com/1496907/60466974-3cd6a880-9c23-11e9-9e4f-2a6ac116338e.png)

[2019-07-01 21:15] prideout commented on #1366
I think this is a good catch, thanks!

By the way, if you are using MeshAssimp to load glTF files, we recommend switching to our gltfio library.

[2019-07-01 21:18] romainguy commented on #1366
The second `std::move` is not necessary since it's an r-value reference already at this point.

[2019-07-01 21:21] greg7mdp commented on #1366
@romainguy,  As soon as it is bound to a variable, it is not a rvalue reference anymore. You can step into it in the debugger and you'll see it invokes the vector copy constructor.

[2019-07-01 21:24] greg7mdp commented on #1366
@prideout, thanks for the suggestion. I'm just trying to understand the code by stepping through the material_sandbox sample. I'd like to integrate filament into an engineering software, so I already have a mesh and I am trying to figure out how to send it to filament.

[2019-07-01 21:25] romainguy commented on #1366
My bad, thanks for the clarification!

[2019-07-01 21:30] greg7mdp commented on #1366
sure. Thanks for filament :-)

[2019-07-01 21:30] prideout commented on #1366
@greg7mdp understood.   If you're loading raw mesh data, our simplest example of that in C++ is probably `vk_hellotriangle.cpp` in the samples directory, although it's a bit reductio ad absurdum.

[2019-07-01 21:31] romainguy commented on #1366
@greg7mdp The code in https://github.com/google/filament/blob/master/samples/app/Cube.cpp might be a little easier to follow if you want a simple example. A `Renderable` is made of `n` "primitives". A primitive is effectively a sub-mesh. Each primitive can have a material instance associate to it (a material instance is a `Material` + values for the material's parameters). Each primitive also has

[2019-07-01 21:33] greg7mdp commented on #1366
@prideout, thanks a million, very helpful. I'll look at these instead (you are right I'm getting somewhat lost in material_sandbox)

[2019-07-02 11:43] EverCG opened #1367 "Android - Toolchain parse error"
For anyone facing the following issue...

When producing android builds on Windows host, a parse error might occur due to the $ENV{ANDROID_HOME} line in each android toolchain file. The problem here is this line generates environment path string in Windows style while CMAKE still accepts the Unix style path.

When running on Windows host, (following steps from [here](https://github.com/google/fila

[2019-07-02 21:20] #1366 closed

[2019-07-03 16:37] romainguy commented on #1367
Thanks!

[2019-07-05 14:49] 61315 commented on #1284
![preview050719](https://user-images.githubusercontent.com/46559594/60730116-59eedc80-9f7f-11e9-916b-ed7b68cbbc1f.gif)
kinda works, trouble applying emissive, in hurry, will sum this up soon, sorry for the delay.

[2019-07-07 16:25] kylelin47 commented on #1149
Do you have any suggestions for implementing morph targets using Filament with its current feature set? Or is it just not feasible

[2019-07-08 18:22] prideout commented on #1149
We're going to start implementing this feature very soon.

[2019-07-08 18:44] gpyalt opened #1376 "Engine::destroy() taking **engine is atypical and annoying"
This is not a bug per-say, more an interface design issue.  I wanted to mention it, but you may close it if you want.

All the non-static Destroy methods of the Engine class take a single pointer, like `void destroy (const Renderer *p)`. But  the static `Engine::destroy (Engine **engine)` takes a **ptr.

I get it that it is so the pointer can be nulled, but why the inconsistency with the other des

[2019-07-08 18:48] romainguy commented on #1376
This method does null the pointer indeed, I can't remember why it was done this way. @pixelflinger can clarify. We could provide a variant that only takes an `Engine*` that wouldn't null the pointer.

[2019-07-08 18:49] gpyalt commented on #1376
Yes, I think having the variant would be nice and allow using unique_ptr! Thanks!

[2019-07-08 19:10] gpyalt commented on #1376
Looks like there was a change at one time, which was made for the member functions but not the static one. The example in `https://github.com/google/filament/blob/master/filament/include/filament/Engine.h` shows the code calling the various destroy functions with **pointers, which does not work anymore:

[code]

[2019-07-08 21:09] MatushkaRossiya opened #1378 "Integration with Basis Universal GPU Texture Codec"
**Is your feature request related to a problem? Please describe.**
Minimizing textures size for on-disk storage and network transport (downloading, patching, etc), while supporting each platform's preferred compressed GPU texture format for optimal rendering performance.

**Describe the solution you'd like**
Integration of Filament with recently open-sourced and backed by Google Basis Texture Code

[2019-07-08 21:22] #1376 closed

[2019-07-08 21:23] romainguy commented on #1378
We have to think about whether it makes sense to be directly in Filament. There's technically no reason why it cannot be done in the app or as a separate library (like our glTF loader for instance).

[2019-07-08 21:26] prideout commented on #1378
Our mipgen tool can be used to compress textures and it does not yet have basis support, that's something we can consider adding.

[2019-07-08 22:29] sfrankel opened #1379 "using opacity maps"
Is there a C++ code sample for how I can use an opacity map to set an object's transparency?

I note from extending sample code that I can add a 4th term to a material's basecolor attribute to set transparency to a specific value; eg:
material.baseColor.rgba = vec4(0.9805, 0.8438, 0.7188, 0.25); // 25% transparency

What's the best way to use one channel of a dedicated map to set spatially varying

[2019-07-08 22:32] romainguy commented on #1379
You can simply do `material.baseColor.a = texture(...).r;`. Remember that Filament uses premultiplied alpha so you need to do `material.baseColor.rgb *= material.baseColor.a;` afterwards.

[2019-07-08 22:32] #1379 closed

[2019-07-08 22:33] prideout opened #1380 "glTF models are black with WebGL + SwiftShader"
Filament clients who use puppeteer are hitting an issue where models look black when the GPU is disabled.  This can be reproduced by simply adding the `--disable-gpu` argument to the Chrome invocation:

[code]

The debugger output does not reveal anything obviously wrong.  Other Filament demos seem fine, like `parquet.html`.

<img width="1201" alt="Screen Shot 2019-07-08 at 2 40 04 PM" src="https:

[2019-07-08 23:57] prideout commented on #1380
The bug goes away if I add `-g` to matc or if I simplify Filament's core shading in any number of ways.  At this point it really seems like the bug existing within Chrome's `--disable-gpu` functionality (which is presumably based on SwiftShader) so I sent mail to the Chrome team.

[2019-07-09 15:47] sfrankel commented on #1379
Hi @romainguy
Thanks for the tip!  All makes sense... except the premult step isn't producing results I'd expect.

For example, when I include the premult step, the render output is properly opaque where the opacityMap is white, but *black* where my opacityMap is black.  I'd expect those black areas to be transparent.

Note that I'm building the material inline in my C++ code:
    .parameter(Mater

[2019-07-09 15:58] romainguy commented on #1379
Did you enable the proper blending mode on the material?

[2019-07-09 16:08] prideout commented on #474
Fixed by #1298

[2019-07-09 16:09] prideout commented on #474
...although we still can't rotate the skybox without an IBL.

[2019-07-09 18:57] #1367 closed

[2019-07-09 21:13] pixelflinger commented on #1362
`ILL_ILLOPC` is an illegal opcode in the `mcr` instruction. This can happen because of insufficient privileges -- but I don't even know who is generating this `mcr` instruction or why it would happen "sometimes".

@agGitHub do you have the fill stack trace?

[2019-07-09 22:39] pixelflinger commented on #1274
I think that `is_arithmetic` should be true for any type that `is_floating_point`. This is not technically the C++ spec, but this is what it says on cppreference.com:
[code]

So this looks like an MSVC issue. I'll have a workaround in filament.

[2019-07-09 23:19] elalish opened #1387 "HDR IBL loses energy"
**Describe the bug**
A very high dynamic range environment produces a very similar render to the same environment, clipped to standard range (.png). Considering this photo has 21EVs of dynamic range, the vast majority of the energy was removed by clipping, so the resulting renders should have dramatically different brightness. Also, the HDR version should be dominated by the yellow color of the br

[2019-07-10 01:01] romainguy commented on #1387
I'll take a look.

[2019-07-10 01:19] romainguy commented on #1387
I just tried in our native glTF viewer and once the intensity of the IBL is set to match (just using a digital color picker on the background, so that includes tone mapping) your `<model-viewer>` reference, Filament's rendering is close to Blender's Eevee renderer.

<img width="1136" alt="Screen Shot 2019-07-09 at 6 16 27 PM" src="https://user-images.githubusercontent.com/869684/60933189-1691b800-

[2019-07-10 01:53] romainguy commented on #1387
Found the culprit: we clamp env values to 256 max to avoid banding in high frequency env maps. Without this clamping we obtain a result that matches path tracers (I tested with Cycles for instance).

![Screen Shot 2019-07-09 at 6 53 14 PM](https://user-images.githubusercontent.com/869684/60934388-d54fd700-a27a-11e9-9b56-bfd8e8cd804c.png)

[2019-07-10 02:53] romainguy commented on #1387
TODO: we should window the input before SH projection.

[2019-07-10 16:52] prideout commented on #1380
The current Canary build does not allow WebGL 2.0 when disable-gpu is enabled, which makes it difficult to know if the issue still exists in upcoming versions of Chrome.

[2019-07-10 20:07] prideout opened #1392 "gltfio on web: improve support for resource paths"
We haven't tested with URL's that have a path components, this is likely broken.

CC @elalish

[2019-07-10 21:12] prideout commented on #1392
@elalish, I tried two tests by hacking on the `uri` fields `FlightHelmet.gltf`, first I tried replacing `FlightHelmet_baseColor.png` with `foo/FlightHelmet_baseColor.png`, then I tried replacing it with `http://127.0.0.1:8080/foo/FlightHelmet_baseColor.png`.  Both of these worked for me.  What form of URL isn't working for you?

[2019-07-10 23:07] romainguy commented on #1387
As far as I can tell three.js uses the last MIP level (so a 1x1 cubemap) for diffuse lighting. Windowed SH should give us better results.

[2019-07-11 18:23] elalish commented on #1392
The form I was having trouble with was the inverse. Leave all the internal of the gltf alone, but put it in a directory:
../FlightHelmet/
and inside are FlightHelmet.gltf, FlightHelmet_baseColor.png, etc.

Now try createAssetFromJson('../FlightHelmet/FlightHelmet.gltf'), and I get an error that it can't find <baseURLofWebsite>/FlightHelmet_baseColor.png, because it ought to be looking for <baseURL

[2019-07-11 18:25] prideout commented on #1392
Ah, thanks, understood.

[2019-07-12 00:52] #1392 closed

[2019-07-12 09:51] iamjinge opened #1405 "GLTF file inverseBindMatrices error"
Get empty `inverseBindMatrices` when `srcSkin.inverse_bind_matrices` data has offset.
[ResourceLoader](https://github.com/iamjinge/filament/blob/f3e5b46bf9b7122eebced744f212334ca0e1797e/libs/gltfio/src/ResourceLoader.cpp#L111)

[2019-07-12 16:34] #1405 closed

[2019-07-13 13:35] RyanFordio opened #1409 "Texture Object Demo App Crash when getSamplerSlow on Andriod 9 Phone"
The  error information output is

D/mali_winsys: EGLint new_window_surface(egl_winsys_display *, void *, EGLSurface, EGLConfig, egl_winsys_surface **, EGLBoolean) returns 0x3000
E/Filament: OpenGL error 0x500 (GL_INVALID_ENUM) in "GLuint filament::OpenGLDriver::getSamplerSlow(filament::backend::SamplerParams) const" at line 2697

**Smartphone (please complete the following information):**
 - OS:

[2019-07-13 14:49] #1409 closed

[2019-07-13 14:50] RyanFordio commented on #1409
It works after cleaning the project. Thanks

[2019-07-16 08:46] amesgames opened #1411 "Crash in lightbulb sample using Vulkan on Ubuntu 18.04"
**Describe the bug**
Running the lightbulb sample on Ubuntu 18.04 hangs my entire computer for several seconds after first showing the the model in the window, then crashes with a vkQueueSubmit error in VulkanDriver::commit. This occurs with the cube, shapes, and monkey sample assets.

No other sample crashes this way. I have tested material_sandbox and many of the samples prefixed with vk_.

**To

[2019-07-16 08:47] amesgames commented on #1411
I tested this on v1.3.0 tag and HEAD of master branch as of today.

[2019-07-16 11:38] jakkypan opened #1412 "build mat with vulkan, hello-triangle crashed!!!!!!"
**Describe the bug**

I am using filament(version 1.3 release) to develop android app. And i use the .mat file,  i want use vulkan backend, so i use the matc tool to build:

`./matc -a vulkan -p mobile -o test.filamat test.mat`

when  i replace the default filamat file using the test.filamat in demo **hello-triangle**, and i revise the java code :

`engine = Engine.create(Engine.Backend.VULKAN)`

[2019-07-16 16:32] prideout commented on #1412
Our Vulkan backend is not production ready (not enough demand for it) so the Android build does not enable it by default.   To enable it there are some extra build steps, such as including the -v flag when using the build script and adding `-Pextra_cmake_args=-DFILAMENT_SUPPORTS_VULKAN=ON` to the cmake invocation that gradle makes.

[2019-07-16 16:32] #1412 closed

[2019-07-16 17:59] prideout commented on #187
Closing, we now have `point_sprites.cpp` in our samples folder to demonstrate how to use point sprites.  (We also fixed a bug on desktop platforms that prevented point sprites from being visible.)

[2019-07-16 17:59] #187 closed

[2019-07-16 23:46] RyanFordio opened #1413 "Question: Will the sample Apps work on a x86/x86_64 virtual device on Andriod Studio"
I could debug/run the sample apps using real phone. but  could no trun /debug using  a virtual device on Android Studio. It always failed  to create the Engine no mater what I use x86 /x86_64

Anyone has experience to run the apps on virtual device, could you please share your steps?
Thanks
Ryan

[2019-07-16 23:48] romainguy commented on #1413
They work in AVDs yes. What failure do you get in logcat?

[2019-07-17 13:35] jakkypan opened #1414 "build with -V cannot generate the gltf aar!!!!!"
**Describe the bug**

I build the filament with the command:

`./build.sh -v -p android release`

it failed at **gltfio-android**, and it cannot generate the **gltfio-android-release.aar**. below is the detail error:

  /Users/panda/filament/out/android-release/filament/lib/x86_64/libbackend.a(VulkanContext.cpp.o):VulkanContext.cpp:function filament::backend::flushCommandBuffer(filament::backend::

[2019-07-17 16:15] prideout commented on #1414
Thanks for the bug report.  Note that our Vulkan backend is not yet production ready.

[2019-07-17 16:52] RyanFordio commented on #1413
error information from logcat:

/Filament: eglChooseConfig failed with unknown
D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.android.filament.textured, PID: 16214
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.google.android.filament.textured/com.google.android.filament.textured.MainActivity}: java.lang.IllegalStateEx

[2019-07-17 16:59] RyanFordio commented on #1413
E/Filament: eglChooseConfig failed with error code: 12288

[2019-07-17 17:40] RyanFordio commented on #1413
from  Khronos Group's egl.h, 12888 = 0x3000 is suceess
#define EGL_SUCCESS                       0x3000

[2019-07-18 09:43] rawnsley opened #1417 "Failure to load animated model with morph weights in gltf_viewer"
[Buster Drone](https://sketchfab.com/3d-models/buster-drone-294e79652f494130ad2ab00a13fdbafd) crashes the gltf_viewer app with the following sequence of messages:
[code]
Presumably this is related to [morph weight target support](https://github.com/google/filament/issues/1149), but I thought you would like some more examples and the satisfaction of closing a bug once you are done.

FYI this model

[2019-07-18 14:36] geroge-d opened #1418 "any example to use setExternalStream on android"
hi guys
    Filament is great. We just migrate our app from libgdx to Filament. Because we need to preprocess texture by gles. So it maybe  improve perfomance by sharing texture  Texture.setExternalStream . We tried to figure out how to use the method,but always get black image.
 The following steps  we had a try :
        1. create engine with shared eglcontext
        2. create external texture

[2019-07-18 17:02] romainguy commented on #1413
How is your AVD setup?

[2019-07-18 19:37] prideout commented on #1279
Some questions arise when thinking about this:

- **Why do our renderables allow users to change out the VertexBuffer?** The VertexBuffer defines which attributes are present so this makes validation complex.  If Sceneform does not need this ability then we should consider removing it.  Note that renderables also allow users to swap out materials.
- **Do all our backends have the ability to supply

[2019-07-18 21:28] SuhailAlhegry opened #1420 "Can't build on windows"
Trying to build a project on windows with the release build fails with `unresolved external symbol...` linker errors.

Steps to reproduce:
1. Download the release
2. Creat an empty c++ project using visual studio 2019
3. Change the platform toolset to target visual studio 2017 (v141) build tools
4. Add the includes and link the libraries
5. Try to build

Screenshot:
https://pasteboard.co/IoBozrR.p

[2019-07-18 22:15] RyanFordio commented on #1413
![avd](https://user-images.githubusercontent.com/52858405/61495789-02416f80-a988-11e9-962c-a9f748ce31bd.png)

[2019-07-18 22:18] bejado commented on #1420
Make sure you have the libraries listed in this order:

[code]

Are you making OpenGL calls in other parts of your program? Seems you might be experiencing the same issue as #652. See the most recent comments for a workaround.

[2019-07-18 22:48] SuhailAlhegry commented on #1420
@bejado let me check that, brb.

[2019-07-18 22:58] SuhailAlhegry commented on #1420
After rearranging the the libraries, I found out that there isn't a library of the name `opengl32.lib` am I missing something?

[2019-07-18 23:04] bejado commented on #1420
`opengl32.lib` isn't provided by Filament, it's provided by Windows. You may need to install the Windows SDK.

https://stackoverflow.com/questions/22231740/opengl32-lib-not-linking-properly

[2019-07-18 23:54] romainguy commented on #1413
Thanks. Can you try by setting GPU emulation to hardware? And software if that doesn't work.

[2019-07-19 00:04] #1387 closed

[2019-07-19 07:53] flyingonly opened #1425 "Question: How to get node names in gltf on Android"
Since I need to change some parameters of the materialInstance related to some specific nodes, I want to get the name information of the node. However as far as I know, the gltfio library changes the nodes to filament entities, and I couldn't find a way to get the name info. Meanwhile, the material names related to these nodes always turn out to be "ubershader".
For now, the only way I found to ch

[2019-07-19 08:05] romainguy commented on #1425
I believe gltfio uses the name component manager to copy the glTF names to Filament entities. Check `utils::NameComponentManager`. You can also look at the source of gltfio's SimpleViewer or the source of the gltf_viewer sample. That sample shows the names of all glTF nodes.

[2019-07-19 08:38] flyingonly commented on #1425
Thanks for the reply! I have read the code, and i think I just need to modify the jni code to reach the NameComponentManager or otherwise just add a function to get the name of the entities. That will certainly be a solution, btw I just wonder with the current release version of aar, any chance to reach the same info?

[2019-07-19 11:06] SuhailAlhegry commented on #1420
After resolving all linkage problems, I encountered another error -I think it's supposed to be a warning..?, but it's preventing compilation-:
`C4146 unary minus operator applied to unsigned type, result still unsigned` at file `PixelBufferDescriptor.h`  at line [122](https://github.com/google/filament/blob/90792e7032b3464957d5c30e12a71de86309a974/filament/backend/include/backend/PixelBufferDescri

[2019-07-19 12:25] RyanFordio commented on #1413
I had tried using hardware and software. I got same error

D/: HostComposition ext ANDROID_EMU_CHECKSUM_HELPER_v1 ANDROID_EMU_dma_v1 ANDROID_EMU_host_composition_v1 GL_OES_vertex_array_object GL_KHR_texture_compression_astc_ldr **ANDROID_EMU_gles_max_version_2**
E/Filament: eglChooseConfig 1 failed with error code: 0x3000
    eglChooseConfig failed with unknown

[2019-07-19 14:40] rawnsley opened #1426 "Displaced nodes when loading skinned model in gltf_viewer"
The attached model [BotBobo.zip](https://github.com/google/filament/files/3411478/BotBobo.zip) is an articulated robot avatar and apparently loads without error, but the nodes get scattered by the skin mapping. If you remove the skin definition from the _Bot_Skinned_ mesh and _Bot_Skinned_ node, the model looks fine.

For reference, these models are used as avatars in [Mozilla Hubs](https://hubs.m

[2019-07-19 15:06] prideout commented on #1426
Thanks for the report!  I will investigate.

[2019-07-19 15:10] prideout commented on #1425
Ah, we need to either (1) provide JNI bindings for NameComponentManager or (2) or provide a utility method in `FilamentAsset` that does this for you.  I think the latter might be more convenient.

[2019-07-19 16:33] prideout commented on #1426
Hmm the model looks ok with me on macOS, see attached.  I wonder if you're using an old build?  I think we fixed a skinning bug last week.

![Screen Shot 2019-07-19 at 9 33 02 AM](https://user-images.githubusercontent.com/1288904/61550792-483e1800-aa08-11e9-853e-3f5862b44925.png)

[2019-07-19 16:33] #1426 closed

[2019-07-19 16:44] rawnsley commented on #1426
I'm about a month behind. I'll update and double check once I'm back at my computer. Thanks for looking at it so quickly.

[2019-07-19 17:05] romainguy commented on #1413
Your max GLES must be 3, not 2. Filament cannot run on ES 2.0.

[2019-07-19 17:29] bejado commented on #1420
It's hard to say without seeing the rest of your project. Did you try switching the subsystem to Windows? Then you should define `WinMain` in place of `main`.

[2019-07-19 18:16] RyanFordio commented on #1413
do you know what's configuration could let the emulator use GLES 3.0?  I only could select GLES 2.0
Thanks

[2019-07-19 18:26] romainguy commented on #1413
You shouldn't have to do anything special but I've had issues in the past with x86_64 AVDs. Either try with x86 or with a different type of system image (with/without Google APIs, etc.). I unfortunately can't remember which variant caused me issues.

[2019-07-19 18:55] RyanFordio commented on #1413
Thanks, fixed,

need put
GLESDynamicVersion = on  in the file ~/.android/advancedFeatures.ini

[2019-07-19 18:56] #1413 closed

[2019-07-20 12:24] SuhailAlhegry commented on #1420
I tried switching the subsystem to every possible subsystem. I think the problem is very similar to #1274. I also tried building the source directly, but with no luck.

[2019-07-21 05:03] tzizi opened #1429 "Vulkan crash (all samples)"
**Describe the bug**

Tested on latest master at the time of writing (https://github.com/google/filament/commit/ff72598b7d6133f2606ec9ee7b05d114032f3987)

[code]

Other Vulkan applications work fine.

**Desktop (please complete the following information):**
 - OS: Arch Linux, kernel 5.1.14
 - GPU: GTX 660 Ti, Nvidia 430.26
 - Backend: Vulkan

[2019-07-21 13:17] cx20 opened #1430 "Duck.gltf does not displayed by filament v1.3.0"
**Describe the bug**
I tried to create a display sample of [glTF model](https://github.com/cx20/gltf-test/tree/master/sampleModels/Duck/glTF) by filament with [gltf-test](https://github.com/cx20/gltf-test).

**To Reproduce**
[glTF/Duck.gltf + filament result:](https://cx20.github.io/gltf-test/examples/filament/index.html?model=Duck&scale=1&type=glTF) NG
The following error is displayed on the cons

[2019-07-21 17:01] romainguy commented on #1430
Thank you! I believe this has already been fixed in the master branch. @prideout can confirm.

[2019-07-21 20:13] prideout commented on #1429
Head looks fine on macOS, I'll take a look on Linux when I return from vacation (Jul 29).

We also might need to add a pool for render targets, to prevent dismal performance.

[2019-07-21 20:18] prideout commented on #1430
@cx20, what is the basePath that is being passed to `asset.loadResources`?  It needs to be the same as the resource folder.

[2019-07-21 20:29] cx20 commented on #1430
Oops, In v1.3.0, the third argument of loadResources was not implemented yet.

![image](https://user-images.githubusercontent.com/1833979/61596660-6c386e00-ac41-11e9-97e6-39854526ec80.png)

[2019-07-21 20:51] cx20 commented on #1430
I used [filament.js](https://github.com/google/filament/blob/master/docs/webgl/filament.js) (2019/07/12 4:18 JST) in the following location.
https://github.com/google/filament/blob/master/docs/webgl/filament.js
However, in this version, the `basePath` argument of the `loadResources` function does not seem to be implemented yet.

[2019-07-21 22:38] prideout commented on #1430
Yes, the latest npm release (as well as our web site) is a few weeks behind head.

[2019-07-21 22:56] cx20 commented on #1430
I understand. I will try again when the basePath argument is available.

[2019-07-22 01:08] tzizi opened #1431 "Option to disable building samples/materials"
This would be helpful for projects that use filament as a submodule, who only need the library or binaries to be compiled.

[2019-07-22 01:55] prideout commented on #1431
This is a good idea.

[2019-07-22 17:34] romainguy commented on #1418
All you need to do is create a `Stream` by passing the `SurfaceTexture` to `Stream.Builder.stream(…)`. Then you can set the `Stream` on your `Texture` using `setExternalStream(…)`. You don't need to use a shared `EGLContext` nor pass the external texture id to Filament.
If you really want to do the latter, you need to create a `Stream` by passing the external texture id, width and height to the `S

[2019-07-22 17:34] #1418 closed

[2019-07-22 22:41] bejado commented on #1420
Are you calling OpenGL directly anywhere in your project?

[2019-07-23 07:50] honzukka opened #1434 "A mistake in the geometric shadowing term?"
**Describe the bug**
In the Filament documentation, section 4.4.2., equation 15 (https://google.github.io/filament/Filament.md.html#materialsystem/specularbrdf/geometricshadowing(specularg)), the _geometric normals_ are being used. However, the GGX paper (Walter et al, Microfacet Models for Refraction through Rough Surfaces, 2007) suggests that the _microfacet normals_ (i.e. the halfway vectors) s

[2019-07-23 14:57] Raki commented on #532
@romainguy @prideout can you please tell me , what is the equivalent function for `mat3f::packTangentFrame` in web API. I'm trying to load a dynamic mesh using filament javascript API.  I used `quat.setAxes()` to get a quaternion from tangent,bitangent and normal, but with no luck.

![filament web issue](https://user-images.githubusercontent.com/824691/61722452-f5f25380-ad87-11e9-8f80-3aeb9c8839ae

[2019-07-23 17:03] romainguy commented on #1434
The microfacet normal `m` is unknown which is why `n` is used there. The halfway vector `h` is used in the NDF as a way to statically estimate how many microfacets will reflect light towards the viewer.

[2019-07-23 17:03] #1434 closed

[2019-07-24 01:47] bejado opened #1435 "FTexture::generateMipmaps assertion is too restrictive"
The assert inside `FTexture::generateMipmaps` is too restrictive:

[code]

Metal is able to reshape texture formats into 3 components. We should probably move this assertion into the OpenGL driver.

[2019-07-24 01:47] bejado commented on #1435
@pixelflinger thoughts on moving it to the OpenGL driver?

[2019-07-24 02:25] jaccen opened #1436 "gltfio load gltf error"
1、in java，i use this for load gltf：

      MaterialProvider mp = new MaterialProvider(engine);
        assetLoader = new AssetLoader(engine, mp, EntityManager.get());
        try {
            InputStream stream = getAssets().open("models/lucy.glb");
            byte[] bytes = new byte[stream.available()];
            stream.read(bytes);
            assetLoader.createAssetFromBinary(ByteBuffer.wra

[2019-07-24 02:42] romainguy commented on #1436
The JNI library cannot be found. You need to call AssetLoader.init() first.

[2019-07-24 02:42] #1436 closed

[2019-07-24 17:00] bejado commented on #1279
On point 2, the Metal backend can create a small zero-ed out "dummy" buffer for missing vertex attributes and use the `MTLVertexStepFunctionConstant` step function.

In order to do that, the backend needs to know which attributes are "expected" for a given program. I propose we add an `AttributeBitset` field to `Program` that gets set up by Filament. The backend can use it to determine which attri

[2019-07-24 21:41] gpyalt opened #1438 "FBO swapchain?"
Hi there,

The doc states: "A swap chain represents an Operating System's native renderable surface",
however in practice it seems limited to a window.

For my application, I would like to have filament render into a FBO, as some additional rendering into the same FBO will be necessary before it is shown to the user. I am wondering how much effort it would be to add this capability to filament?

[2019-07-24 22:10] romainguy commented on #1438
FBOs are not native renderable surfaces, which is why they are not handled by `SwapChain`. To render into a texture you should use [`RenderTarget`](https://github.com/google/filament/blob/master/filament/include/filament/RenderTarget.h). The render target needs to be set on the `View` (see [`setRenderTarget()`](https://github.com/google/filament/blob/master/filament/include/filament/View.h#L403)).

[2019-07-24 22:11] #1438 closed

[2019-07-24 22:11] #1000 closed

[2019-07-24 22:12] romainguy commented on #1314
We'll need to fix the Android samples who compile materials for all APIs at the moment.

[2019-07-25 02:40] gpyalt commented on #1438
Great, many thanks @romainguy.

[2019-07-25 07:09] Yzou-NaO opened #1440 "skinned model load incorrectly after morph supported"
**Describe the bug**
[RiggedFigure](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/RiggedFigure)
The skinning and animation are incorrect in **gltf_viewer** after supporting morph.

[2019-07-25 20:21] sfrankel opened #1441 "render output with alpha"
Hello,
Does Filament support render output with premultiplied alpha?  If so, can you please point me to an example?  Haven't found any in the samples dir.
Thanks!

[2019-07-25 20:59] romainguy commented on #1441
We have two such samples for Android and iOS:
https://github.com/google/filament/tree/master/android/samples/transparent-view
https://github.com/google/filament/tree/master/ios/samples/transparent-rendering

It's very easy, just pass the right flag to `Engine::createSwapChain()`:

[code]

[2019-07-25 20:59] #1441 closed

[2019-07-25 21:56] sfrankel commented on #1441
Great!  Thanks @romainguy I'll take a look

[2019-07-26 21:28] prideout commented on #1440
Thanks for the bug but gltfio does not yet support morphing. The Filament core will support morphing as soon as I merge #1427.

[2019-07-26 21:52] prideout commented on #1440
With pending changes, this test model seems to animate correctly for a few seconds then stops, I will look into that.

[2019-07-26 23:00] kpeeters opened #1445 "Question: correct way to update vertex buffer data"
In order to feed updated vertex position data into filament, I currently do

    vertex_buffer->setBufferAt(*engine, 0,
             filament::VertexBuffer::BufferDescriptor(data, size) );

Here `data` is a fixed buffer which does not change in location and size between invocations of the above line (only the content changes). This seems to work fine and allows me to have a dynamically changing me

[2019-07-26 23:02] prideout commented on #1445
It's perfectly fine to call `setBufferAt` to mutate a vertex buffer.  What's under debate in #1279 is something different, which is the ability to change a particular renderable from vertex buffer A to vertex buffer B.

[2019-07-26 23:02] #1445 closed

[2019-07-27 02:23] zbzdys opened #1446 "cant build with Debug instead of Release on Windows with VS2017"
**Describe the bug**
A clear and concise description of what the bug is.
VS build Debug mode sandbox failed with error "redefinition of operator=="; besides, i enabled vulkan support

**To Reproduce**
Steps to reproduce the behavior:
1. make directory out/cmake-release

2. cmake ../.. -T"LLVM" -G "Visual Studio 15 2017 Win64" -DCMAKE_CXX_COMPILER:PATH="C:/Program Files/LLVM/bin/clang-cl.exe" -DCMA

[2019-07-27 02:45] zbzdys opened #1447 "Android Vulkan failed to run"
**Describe the bug**
A clear and concise description of what the bug is.
I have built filament with vulkan support and the android apk installed successfully. But it cant create vulkan instance with the android samples like textured object or image based light.

**To Reproduce**
Steps to reproduce the behavior:
1. Build filament with vulkan support to get tools and files needed by android samples

[2019-07-27 15:03] prideout commented on #1447
Interesting, I think you successfully built both Filament and the app with Vulkan enabled so this might be a real bug that is specific to the Huawei P20 Pro.

Are you able to try out the demo with any other devices?  Are you able to run non-Filament Vulkan samples on the Huawei, e.g. the SaschaWillems demos?

[2019-07-27 15:33] zbzdys commented on #1447
Other device test: no

non-filament vulkan app: yes

filament sample without vulkan: yes

[2019-07-28 20:54] bejado commented on #1446
1. What version of Clang are you using?
2. Can you copy the full error from `msbuild`?

[2019-07-29 02:18] zbzdys commented on #1446
Clang: 8.0.0

commands:
mkdir out/cmake-release and cd

cmake ../.. -T"LLVM" -G "Visual Studio 15 2017 Win64" -DCMAKE_CXX_COMPILER:PATH="C:/Program Files/LLVM/bin/clang-cl.exe" -DCMAKE_C_COMPILER:PATH="C:/Program Files/LLVM/bin/clang-cl.exe" -DCMAKE_LINKER:PATH="C:/Program Files/LLVM/bin/lld-link.exe" -DFILAMENT_SUPPORTS_VULKAN=ON

msbuild  TNT.sln /t:material_sandbox /m /p:configuration=Debug

al

[2019-07-29 02:23] geroge-d opened #1448 "Texture.setExternalStream not work on vivo android 5.1"
**Describe the bug**
  To construct Texture by Stream built with SurfaceTexture, it works fine in pixel android 9.0,but get black bitmap on vivo x7 android 5.1.1
   Based our investigate, we found it seems SurfaceTexture.updateTexImage not work in Filament native code on updateStreams.

[2019-07-29 04:54] romainguy commented on #1448
Do you get anything in the logs when the issue happen?

[2019-07-29 04:56] romainguy commented on #1435
Instead of moving it to the driver could we add an `isMipmappable()` or something that would return a value driver-specific?

[2019-07-29 07:08] geroge-d commented on #1448
we have built a debug version of Filamant to do this test,but no any related log print. there are some clues below:
1. set OnFrameAvailableListener  to SurfaceTexture. On finish rendering frame, call swapBuffer, this listener was just  callbacked at the first time. so we guess filament maybe not call updateTexImage in the right way for android 5.1.1
2. we test it on  android 6.0,7.0,9.0. it only o

[2019-07-29 08:43] zbzdys commented on #1446
Also in the Building with Ninja on Windows section, it should be :

cmake ..\.. -G Ninja

instead of

cmake .. -G Ninja

[2019-07-29 09:37] zbzdys commented on #1447
I will update today's work, this time i try to build filament aar first but cant. My previous method doesn't have this step, because it seems the samples only need files like libfilament.a instead of aar file.

Now the problem is that i cant build arm64-v8a aar file and get some error messages like:
In function `filament::PlatformVkAndroid::createVkSurfaceKHR(void*, void*, unsigned int*, unsigned

[2019-07-29 13:15] zbzdys commented on #1447
complete rebuild with/without vulkan shows that -DFILAMENT_SUPPORTS_VULKAN=ON makes the build failed, now i dont know why i could build the vulkan samples but only crashed when running. Now cant build samples with vulkan, cant get an apk or filament aar file.

[2019-07-29 16:27] prideout commented on #1440
I've confirmed that 90c17cc caused a regression, currently investigating.  The `skinningEnabled` uniform seems to get clobbered after a few seconds of animation.

[2019-07-29 16:48] romainguy commented on #1448
Filament tries to invoke `updateTexImage` on external streams on every frame. We do this at the beginning of each frame: go through all external streams, if the stream is a native stream, call `updateTexImage` on it. Note that `onFrameAvailable` is not invoked after `updateTexImage`, it indicates that you should call `updateTexImage`.

[2019-07-29 16:51] romainguy commented on #1447
I can compile Filament's AAR with Vulkan support enabled with master (on macOS).

[2019-07-29 17:37] #1440 closed

[2019-07-29 18:31] prideout commented on #1429
Update: `vk_hellotriangle` works fine on my NVIDIA Linux machine, but some of the other Vulkan samples hang, perhaps due to render target churn.  I'll look into these issues.

[2019-07-29 20:17] prideout opened #1450 "Vulkan: VkImage is destroyed while in use."
Unless post-processing is disabled, we seem to be violating Vulkan validation rules by destroying a VkImage while used.  This causes an eventual hang on my Linux machine and is likely the cause of several bug reports from the community.

To address this issue, we should probably do two things: (a) fix the race condition, and (b) add a pool of render targets to the backend.

[2019-07-29 20:18] prideout commented on #1429
Closed in favor of #1450

[2019-07-29 20:18] #1429 closed

[2019-07-29 20:18] prideout commented on #1411
Closed in favor of #1450

[2019-07-29 20:18] #1411 closed

[2019-07-29 20:19] #1430 closed

[2019-07-29 21:02] bejado commented on #1446
Seems like a valid issue you're running into. I won't have access to a Windows machine until next week, but in the meantime you could try to build with Clang 7, as that's what our CI uses.

[2019-07-29 21:49] #1450 closed

[2019-07-29 22:32] prideout commented on #1447
Today on master, I can build Filament and its demos with Vulkan enabled although I hit #1096 at run time.  @zbzdys you might need to do a clean.

[2019-07-29 22:32] #1447 closed

[2019-07-29 22:41] prideout commented on #1096
This will be fixed in Android Q, in the meantime I think we should use VLACHOS dithering when Vulkan is enabled.

[2019-07-29 22:47] prideout commented on #1102
This seems to no longer be an issue, the normal map looks good with the latest Filament on my Pixel 3.

[2019-07-29 22:47] #1102 closed

[2019-07-29 23:32] romainguy commented on #1096
We switched to Vlachos/interleaved gradient noise everywhere now. Triangle dithering was causing flickers with msaa.

[2019-07-30 02:21] zbzdys commented on #1446
Confirmed clang 7.1.0 debug mode no operator== redefinition problem.

But still lots of duplicate symbol:

lld-link.exe : error : duplicate symbol: stbi_failure_reason in material_sandbox.dir\Debug\stb.obj and in stb.lib(stb.obj) [D:\workspace\tmp\vs_test\filament\out\cmake-release\samples\material_sandbox.vcxproj]
         lld-link.exe : error : duplicate symbol: stbi_image_free in material_sandb

[2019-07-30 02:23] zbzdys commented on #1446
in addition, does this message mean something?

filament\samples\material_sandbox.cpp(337): warning : unused variable 'debug' [-Wunused-variable]
clang-cl.exe : warning : argument unused during compilation: '/std:c++14' [-Wunused-command-line-argument]

[2019-07-30 03:36] zbzdys commented on #1447
@prideout did you use Windows to build? what version is your clang? i find out that to build windows version, clang8 causes operator== redefinition problem in memaligh.h, but clang7 is  fine. #1446

Now i install clang7 and build the platform tools with it. when build for android, the build toolchain uses ndk prebuilt aarch64-linux-android21-clang which is version 8.0.7

maybe somecode abouot vulk

[2019-07-30 04:35] geroge-d commented on #1448
we also tried this way.  Call updateTexImage after onFrameAvailable is called,but we get the black image.

I think we have no method in Java end ,that make Filament eglcontext  current,because filament attach new texture,  created in Filament elgcontext,  to SurfaceTexture on native code.

[2019-07-30 04:45] romainguy commented on #1448
You're not supposed to call updateTexImage yourself, Filament will do it.

[2019-07-30 07:14] zbzdys commented on #1447
I read build.sh to get the info about vulkan building.

when generating platform tools, i added -DFILAMENT_SUPPORTS_VULKAN=ON ;
and cmake-android-release-aarch64, add it too;
but i forgot add -Pextra_cmake_args=-DFILAMENT_SUPPORTS_VULKAN=ON to gradlew when building for aar.

Problem solved, it's not a clang version or compatible problem.

Here is my summary for android build on Windows with Vulkan

[2019-07-30 12:37] zbzdys commented on #1446
I find that stb_image.h is included in stb.c, and stb.c is contained in many projects like material_sanbox and sample-app.

material_sandbox seems rely on sample-app and needs sample-app.lib in its additional dependicies, so many apis like stbi_image_free get duplicated.

I'm unfamiliar with building, still dont know why release mode is ok but debug mode failed.

I want to make some step-by-step d

[2019-07-30 15:18] roxlu opened #1453 "Using Filament with shared context exits with BadMatch on Linux"
**Describe the bug**

I'm embedding Filament into an GLFW based application on Linux (*Linux arch680 5.2.1-arch1-1-ARCH #1 SMP PREEMPT Sun Jul 14 14:52:52 UTC 2019 x86_64 GNU/Linux*). When sharing the GL context that's created by GLFW the application exists with a *BadMatch* error, [see this output](https://gist.github.com/roxlu/c282d642c353ce96ef19b6359c741bcb#file-log-sh).

**To Reproduce**

I s

[2019-07-30 15:33] prideout commented on #1453
Hi @roxlu, this isn't an issue specific to GLFW, it's more of a feature request for our context creation strategy on X to be more flexible.  Your tentative modifications to `PlatformGLX.cpp` seem reasonable to me; by querying the shared context, we can create a matching one.

Curious what others on the team will think.  Can you make a pull request?  That way it will be easier for my colleagues to

[2019-07-30 15:38] romainguy commented on #1453
This is tricky because arbitrary user configs may not work. We could document what Filament expects.

[2019-07-30 15:46] prideout commented on #1453
Good point, Filament doesn't really care if they have stencil or depth but we do require an OpenGL 4.1 context.

@roxlu, with GLFW you should be able to set up context-related window creation hints to create a compatible context.  Check it out:

https://www.glfw.org/docs/latest/window_guide.html#window_hints_ctx

Try setting GLFW_CONTEXT_VERSION_MAJOR to 4 and GLFW_CONTEXT_VERSION_MINOR to 1.

[2019-07-30 15:49] prideout commented on #1453
Note that GLFW_SAMPLES should be 1, (Filament does AA in an offscreen buffer.)

[2019-07-30 17:20] #1096 closed

[2019-07-30 18:04] cbjhong opened #1455 "Possibility of use WebGL instead of WebGL2 on Apple platform."
How many of possibility of use WebGL instead of WebGL2 on apple platform?
Can you let me know about the list of WebGL2 extensions what used in filament webgl part?
If there is not much, then I would like to try to make webgl 1.0 version of filament.
If filament can be run on safari, then it would be great.
Cheers!

[2019-07-30 18:07] romainguy commented on #1455
Making a WebGL 1.0 version of Filament would require a substantial amount of work. Filament relies on GLES 3.0 for many features (seamless cubemaps, texture LOD indexing, UBOs, floating point textures, etc.) and while some of those features are available as GLES 2.0/WebGL 1.0 extensions they may not all be. The management of uniforms in particular would require extensive work. You are welcome to g

[2019-07-30 18:07] #1455 closed

[2019-07-30 20:09] roxlu commented on #1453
@prideout

Thanks for your feedback. [I created this pull request](https://github.com/google/filament/pull/1456), please let me know if I'm doing this correctly.

Yes I was using those indeed:

[code]
When I use these glfwWindowHints I'm getting the same issue.

@romainguy and @prideout thanks, I indeed think that having a list with the required context attributes would be very useful. Also having

[2019-07-31 11:10] teub opened #1460 "OpenGL performance issue with the frame graph"
**Describe the bug**
It looks like render targets are created/destroyed each time a frame is rendered, which doesn't sound like it is very optimal.

**To Reproduce**
Steps to reproduce the behavior:
1. Render a simple scene with an OpenGL backend
2. While the scene is being rendered, put a breakpoint in OpenGLDriver::createRenderTargetR
3. See how RTs are being created each time the scene is rende

[2019-07-31 11:28] teub commented on #1460
additional information: the issue doesn't happen when the view is setPostProcessingEnabled(false), so I suspect the issue is related to postprocesses

[2019-07-31 13:48] rawnsley commented on #1426
Confirmed fixed in the latest build.

[2019-07-31 14:18] romainguy commented on #1460
It's currently done on purpose. Good drivers reuse memory and thus allow us to avoid maintaining a pool of render targets. We used to have a pool but switched to this model. There is no performance difference on Android and better memory usage. We are however interested if you have information showing it is affecting performance on other platforms.

[2019-07-31 14:22] teub commented on #1460
I get a pretty big performance hit on windows. When using a very large resolution, it becomes the main bottleneck in the profiler, and I get below 50fps.

[2019-07-31 14:42] rawnsley opened #1461 "Handling materials with alpha blend transparency and roughness"
Consider this [pathological example](https://github.com/google/filament/files/3452334/alpha_test.glb.zip) where the baseColorTexture is a solid orange circle with a transparent background and the roughness is 0.5.

GLTF Viewer (and other online viewers) thinks it looks like this:

<img width="900" alt="Screenshot 2019-07-31 at 15 34 39" src="https://user-images.githubusercontent.com/303516/6222094

[2019-07-31 14:54] teub commented on #1460
Also disabling the post process gets me rid of the performance issue (rendering time is at least cut by 2 or 3), so I think the actual content I'm rendering is not causing the performance hit and I'm pretty sure it's the render targets create/destroy.

I'm not sure what additional information I can gather, or if there's a specific profiler/tool you'd like me to use?

[2019-07-31 14:59] romainguy commented on #1460
That's enough information, thank you. It matches what we see on macos above a certain resolution.

[2019-07-31 15:20] romainguy commented on #1461
glTF is unfortunately under specified in that area. Filament does allow to obtain the other behavior by setting the blend mode to "fade" on the material. Our default behavior is to be physically correct (alpha doesn't apply to specular lighting since it's by definition reflected light).

@prideout could you check this glTF file to see if there's a piece of information we're not interpreting right

[2019-07-31 15:36] romainguy commented on #1460
@pixelflinger @prideout We should bring back the render target pool. We noticed this problem on macOS and now on Windows. I'm also not entirely confident about trusting the driver to handle pooled allocations properly. It seems a good solution for us would be to default to our own texture pool but disable it on known targets (Android + GL on Adreno for instance).

[2019-07-31 16:12] #1417 closed

[2019-07-31 16:12] #1149 closed

[2019-07-31 16:30] #1453 closed

[2019-07-31 16:37] prideout commented on #1461
This model uses gltf BLEND which we translate to filament TRANSPARENT (+ depth write enabled) rather than FADE.  I tried FADE and it looked more like Rupert's screenshot, but looks weird at certain angles.

[2019-07-31 16:52] romainguy commented on #1461
The problem with fade is that it's quite wrong to create glass etc.

[2019-07-31 19:26] sleroux opened #1463 "Build using Mesa/Software emulation enabled for GPU-less devices"
**Is your feature request related to a problem? Please describe.**
Nope.

**Describe the solution you'd like**
More so a question than a feature but is it possible to build Filament using Mesa and it's software emulation abilities to run on machines without GPUs?

[2019-07-31 19:33] prideout commented on #1463
It should be possible to use a SwiftShader driver since it supports ES 3.0.  Out of curiosity, what are you interested in using Filament for?

[2019-07-31 19:33] romainguy commented on #1463
I don't know about Mesa specifically but any implementation that's OpenGL 4.1 should be compatible. We use SwiftShader (another software implementation) internally at Google to run tests on machines without GPUs.

[2019-07-31 19:33] #1463 closed

[2019-07-31 19:36] #1461 closed

[2019-08-01 02:12] Yzou-NaO opened #1467 "gltfio: a problem when loading a model"
I tried to load a model by gltfio

use other gltf_viewer(**clay-viewer**)
![clay_viewer](https://user-images.githubusercontent.com/39986511/62260051-2cdcff00-b443-11e9-847f-0af8c6b5ebdd.png)
use filament **gltf_viewer**
![gltf_viewer-min](https://user-images.githubusercontent.com/39986511/62260333-30bd5100-b444-11e9-99ff-d55efa7909ce.png)
I also tried to use filament **sample_full_pbr**
![pbr-min]

[2019-08-01 14:07] roxlu opened #1468 "Simple example creating a mesh and material in C++"
When I've got a tangent, bitangent and normal, how can I create the quaternion that is expected by Filament?

Currently I'm generating the quaternion in Blender with the following result:

![](https://i.imgur.com/tqzALOF.png)

The code that I currently use to create the quaternion from normal, bitangent, tangent:

[code]
I'm pasting the relevant code from my test application here too as that might

[2019-08-01 15:13] prideout commented on #1467
Can you attach the glTF file to the issue?

[2019-08-01 15:33] sleroux commented on #1463
Just to clarify, when you're building with SwiftShader/ES 3.0, are you making use of the experimental `USE_EXTERNAL_GLES3` flag that is defined in the CMake files? I'm curious about passing in the SwiftShader libs into Filament's build scripts.

[2019-08-01 15:42] prideout commented on #1463
Yep, we use that flag internally at Google to build with SwiftShader.  One gotcha is that you might need to provide a stub implementation for glTexStorage2DMultisample because SwiftShader does not support it even though it claims to support 3.1.

[2019-08-01 16:00] prideout commented on #1468
Does the problem go away if you do `builder.doubleSided(true)`?

(I was going to suggest that you use our SurfaceOrientation utility but then I realized you're doing offline stuff in Python)

[2019-08-01 16:06] romainguy commented on #1468
The C++ client code shown above could use `SurfaceOrientation`. You can also use `mat3:: packTangentFrame()`.

[2019-08-01 16:21] roxlu commented on #1468
If possible I would like to directly pack the qtangents in the correct format, needed by filament. When I supply the qtangents as in my code above (using FLOAT4), is that wrong? Or are qtangents always required to be packed?

I added a call to `doubleSided(true)` for the material, which doesn't seem to make a difference.

Thanks for the suggestion!

I think some of the issues are caused because I

[2019-08-01 16:43] romainguy commented on #1468
Here's our full implementation of `packTangentFrame()` for reference. We don't just convert to a normalized quaternion, we ensure it's positive, add a bias to avoid the `w` component to be 0 and handle reflection.

[code]

[2019-08-01 17:27] bejado commented on #1435
Yeah, I think that could work too.

[2019-08-02 03:33] zbzdys commented on #1446
I solved the duplicate symbol problem.

stb.c in third_party/stb/stb.c is included as source file by sample-app and material_sandbox, besides, sample-app is relied by material_sandbox. Actually, it is the same file stb.c, which used by project stb, that leads to this duplicate symbol problem. Remove stb.c from material_sandbox and sample-app, instead being their source file, then problem solved.

[2019-08-02 03:34] Yzou-NaO commented on #1467
https://github.com/Yzou-NaO/glTF-Model
Here is the model.
[qingting.zip](https://github.com/google/filament/files/3459440/qingting.zip)
And here is another model which I can't play its animation with filament **gltf_viewer**.

[2019-08-02 05:25] pixelflinger commented on #1460
@teub are sure the bottleneck is the repeated allocation of render targets? It could just be that our post-processing is slow (for some weird reason) at high resolution?  I'm not saying it's not possible,  but I would be shocked if nvidia didn't do a good job at this, they're pretty good with that kind of stuff usually.

When you say "it becomes the main bottleneck in the profiler" -- what's "it"

[2019-08-02 05:33] pixelflinger commented on #1448
@geroge-d what do you mean by "does not work"? does it crash? Is it just black?

Do you see this message in the logs "Using ASurfaceTexture" when you run on Android 5 vs. Android  6?

[2019-08-02 06:45] zbzdys commented on #1446
Finally, i can debug step by step.

The last problem is the current directory is not the same at release and debug mode.

FilamentApp.cpp line 160:

mImGuiHelper = std::make_unique<ImGuiHelper>(mEngine, window->mUiView->getView(), utils::Path::getCurrentDirectory()
            /*getRootPath()*/ + "assets/fonts/Roboto-Medium.ttf");

This will help solve the problem under debug mode. Thanks!

[2019-08-02 08:45] teub commented on #1460
Hello,

I'm not a rendering expert, so I can't be 100% certain, but the create/destroy render targets is what is showing up in the VS profiler. Yes, it's the actual gl call that showed up in my profiler, that's how I realized there were there in the first place.

If you have any other tool you want me to run to confirm the issue, let me know; but I'd be very surprised the default post process woul

[2019-08-02 14:17] roxlu commented on #1468
Thanks @romainguy and @prideout. I took a step back and started using `SurfaceOrientation` to create the `quatf` data. The results that I get are identical.

Using my loader, I get:
![filament-test-v0 0 3](https://user-images.githubusercontent.com/358809/62376267-9131b880-b540-11e9-9675-19b4850d5aef.png)

When using the `glftf_viewer` I get:
![filament-gltf-viewer-v0 2](https://user-images.githubu

[2019-08-02 15:48] prideout commented on #1467
Thanks, I can reproduce the animation issue in the qingting model and the specular issue in the rabbit mode.  We'll take a look.

[2019-08-02 17:56] prideout commented on #1467
@romainguy, the stone rabbit might be a non-bug but I'm not sure yet. You might be interested because the asset seems fine at first glance. It is _not_ using the spec-gloss extension and it provides tangents, a normal map, a metallic-roughness map, and a base color texture. Filament looks more like ThreeJS if I hack our shaders to darken the `baseColor`.  I confirmed that we are setting up sRGB co

[2019-08-02 18:43] dazcjones opened #1472 "SSAO Has black artifacts"
**Describe the bug**
I am getting black artifacts when I use SSAO.  The lucy_bloom sample (screen shot attached) demonstrates what I am seeing.  In my own code I get these artifacts if I set the rotation on the Indirect Lighting dome to anything other than a multiple of 90 degrees.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the lucy_bloom demo.

**Screenshots**
![lucy_bloon](https:/

[2019-08-02 19:12] prideout commented on #1472
Does this also go away if you disable depth prepass rather than SSAO?

 `view->setDepthPrepass(View::DepthPrepass::DISABLED)`?

[2019-08-02 19:17] bejado commented on #1472
Probably related to #737

[2019-08-02 20:16] dazcjones commented on #1472
Yes if I disable the depth prepass it does go away.

[2019-08-02 20:24] dazcjones commented on #1472
This does seem to be related to #737

[2019-08-02 20:39] prideout commented on #1467
The qingting model has two parallel node hierarchies: one that is rooted into the scene, and one that is orphaned (does not belong to any scene).

The animation is only in the orphaned hierarchy so it gets ignored by gltfio.

Each mesh is referenced by both hierarchies, so applying both sets of transforms seems reasonable.  I'll go ahead and make a fix to ensure consistency with ThreeJS.  I'll als

[2019-08-02 21:47] prideout commented on #1467
https://github.com/KhronosGroup/glTF/issues/1649

[2019-08-02 22:09] pixelflinger commented on #1460
@teub thanks, if it shows in the profiler on those calls, it's probably the culprit. It's just surprising form nvidia. the driver could do a much better job than us at reusing memory. we will probably put the cache back soon (at least for some architectures).

[2019-08-03 07:20] Yzou-NaO commented on #1467
Thank you!

[2019-08-03 18:59] roxlu commented on #1468
I've verified that the qtangents that I calculate are identical to the ones that Filament generated.  Though my results are still not what I would expect.  I'm suspect that I'm not creating my material correctly:

[code]
This material results in:

![filament-gltf-viewer-v0 3](https://user-images.githubusercontent.com/358809/62415876-480d6180-b631-11e9-8999-29823f706f10.png)

Any thoughts what I'm

[2019-08-03 19:00] romainguy commented on #1468
I don't see anything wrong with that material. Can you enable doubleSided to see if it fixes it?

[2019-08-03 19:04] roxlu commented on #1468
This is giving me the same result as the screenshot above (thanks btw for replying so quickly).

[code]

[2019-08-03 19:16] romainguy commented on #1468
Then the only thing I can think of is that the tangent frames are incorrect. Do you call one of our built-in functions to generate the tangents?

[2019-08-03 19:20] roxlu commented on #1468
I also did an experiment where I used the `SurfaceOrientation` class though I removed that test code again. I created another test (w/o any graphical output) where I generate the qtangents using my own function and using `SurfaceOrientation`. When I compare those they seem identical.

Though, I'm still feeding the qtangents like this (as floats):

[code]

[2019-08-03 21:23] prideout commented on #1467
@Yzou-NaO Given the response to my glTF ticket, unfortunately there is a bug in your asset pipeline (perhaps in an exporter plugin), not in Filament itself.

[2019-08-03 21:23] #1467 closed

[2019-08-04 10:28] roxlu commented on #1468
I've created a test case that you can very easily reproduce. I copied the `suzanne.cpp` sample and renamed it to `suzanne_with_cube.cpp`. [I've pasted the source here](https://gist.github.com/roxlu/a43e0e85e1c026360461de626daf8c05) which contains everything necessary to reproduce the issue.

To reproduce:

1. Add this to `samples/CMakeLists.txt`

[code]
2. Create the file [suzanne_with_cube.cpp](h

[2019-08-05 09:21] roxlu commented on #1468
The suzanne_with_cube.cpp I posted yesterday had some bugs.

- The vertex attributes were wrong.
- I didn't keep the vertices in memory; so invalid values were uploaded to the GPU.

Though my material is still invalid. When I use the material [that I create](https://gist.github.com/roxlu/a43e0e85e1c026360461de626daf8c05#file-suzanne_with_cube-cpp-L272), I get a black cube, but when I use the mater

[2019-08-05 14:43] prideout commented on #1468
If you build Filament in the debug configuration (`build.sh debug`) then you'll more output in your console.

[2019-08-05 21:34] pixelflinger commented on #1460
@teub could you tell me which actual gl calls are showing up in the profiler as taking most of the time? For instance is it `glFramebufferTexture2D` or `glFramebufferRenderbuffer`. Thank you.

[2019-08-06 11:40] teub commented on #1460
Hello,
Here are the functions that show up in a releaase build:
![image](https://user-images.githubusercontent.com/11277063/62536927-86806780-b84f-11e9-94a1-9e1202067982.png)

So to answer your question : apparently, both

[2019-08-06 12:49] nxrighthere commented on #1274
Clang 8.0.1 on Windows has the same problem with `is_arithmetic`. `clang-cl` unable to compile the code with original headers:

<details>
  <summary>is_arithmetic logs</summary>

[code]
</details>

There's also a few other errors:
<details>
  <summary>M_PI and length2 logs</summary>

[code]
</details>

[2019-08-06 19:54] #1425 closed

[2019-08-07 06:44] geroge-d commented on #1448
1. get black image.
2. don't see any log like this on running on  Android 5

[2019-08-07 07:28] pixelflinger commented on #1460
Thank you, this is very useful. Interesting -- so it's not the memory allocation itself that is slow, it's actually the creation of the rendertarget, this is very very strange, this should be very fast; a rendertarget is just a couple handles on some memory that has already been allocated.

Note that while this takes too much time, we're only talking about 10% -- this is bad, but shouldn't impact

[2019-08-07 07:58] teub commented on #1460
I don't have the figures anymore, but yes, there's a significant difference when the resolution is altered. In the 2nd profiling session, the resolution was smaller, and frameBufferTexture and frameBufferRenderBuffer were around 2% each, if I recall correctly.

In that case I wasn't gpu bound so 10% is quite a lot (to which we should probably add the destroyTexture cost, I suppose it's related).

[2019-08-07 11:28] nxrighthere commented on #1274
MSVC 19.22.27905 small warning:
[code]

[2019-08-07 13:20] gpyalt commented on #1274
Hi @nxrighthere, I am still working on building all filament with vs2019. At this point I am not concerned with the warnings, just trying to get it all to build. The main issue I have is with aggregate initializers, where filament code uses some non-standard features (that clang supports). Sometimes the fix is easy, like use the struct order even when .designators are used. I'm making good progres

[2019-08-07 14:13] sleroux commented on #1463
My apologizes for necro'ing this closed issue but last question: When you're linking in the SwiftShader drivers along with the USE_EXTERNAL_GLES3 flag, are you modifying the rpath as well to the CMake scripts to locate the drivers? Just trying to connect the last piece of the puzzle by connecting the two libraries.

For context, I'm looking to do a similar thing as running filament on a cloud-base

[2019-08-07 14:47] prideout opened #1485 "getWorldPosition() is view dependent"
When called from the fragment shader, `getWorldPosition()` does not return a world-space coordinate as its name would suggest.

One way to repro this in `gltf_viewer` is to add a user-defined clip plane by adding:

[code]

to the bottom of `shaderFromKey`, then running the app with no arguments and tumbling the camera.

[2019-08-07 14:51] prideout commented on #1485
This issue was likely introduced with 81e3ac18cebfd451e0053f26e3b8b64a9637de4b

The issue goes away if I set `camera_at_origin` to false in `Engine.h`

[2019-08-07 14:52] romainguy commented on #1485
It's a world position relative to the camera ^^ It's probably caused by the changes Mathias made to improve precision far from the world origin (the camera becomes the origin).

[2019-08-07 15:13] prideout commented on #1485
Yep.  :)

This issue is harmless but I came across it while writing a demo that applies a custom clipping plane (like [this](https://prideout.net/assets/thumbnails/ClipPlanesBig-masked.png)).

I think we can easily "fix" this (as well as`getWorldCameraPosition`) while keeping our move-the-world-to-camera trick for precision.  I'll give it a try.

[2019-08-07 15:23] romainguy commented on #1485
Sounds good. Just be careful because shading is done in this "world" space. If you change getWorldPosition somehow other things may have to change too (light positions etc.).

[2019-08-07 15:52] romainguy commented on #1274
@gpyalt Do you have examples of non-standard features Filament relies on? It's definitely not our intent to use features that are not part of the C++ standard.

[2019-08-07 16:16] greg7mdp commented on #1274
@romainguy, sure, I am glad to hear that! (ps: this is my personal github acct - same as @gpyalt)

As I said, I plan to send a PR with a bunch of diffs. Or I can send them piecemeal so there are easier to digest. Just for info, whatever you prefer, I also have changes in the CMakeLists.txt so that the visual studio config works.

Here is some things I found

examples:

- aggregate initialization (

[2019-08-07 16:43] romainguy commented on #1274
Thanks, that's useful.

[2019-08-07 17:03] griffin2000 commented on #1413
@RyanFordio anything you need to do after creating ~/.android/advancedFeatures.ini and setting that flag?  I've don't that restarted Android Studio, but still only get GLES20 options for the AVD:
![image](https://user-images.githubusercontent.com/1008962/62642460-c14bd380-b913-11e9-94a8-5b49b5381591.png)

[2019-08-07 17:55] prideout commented on #1463
@AdrianAtGoogle might know the answer to your question, which might be that we staticly link it or something crazy like that :)

[2019-08-07 18:30] j6lim opened #1487 "support blend shapes more than 8"
**Is your feature request related to a problem? Please describe.**

Our company HyprSense is making an avatar animation technology (like iPhone X Animoji). We were looking for rendering engines to showcase 3D characters, and they usually have 40~50 blend shapes rigged in.

With Unity / Unreal Engine / Apple SceneKit, we had no problem because their vertex shader supports that number of blend shape

[2019-08-07 18:32] greg7mdp commented on #1274
Please don't make any change yet... I'll be submitting pull requests soon.

[2019-08-07 19:04] prideout commented on #1487
Thanks for the feature request.

For now, you might want to consider animating the verts on the CPU, which is what we do for ImGui. Also note that Filament allows you to modify the vertex shader (see our point_sprites sample app).

We would be interested in more details regarding Unity / Unreal Engine / Apple SceneKit.

Notes to self:
- See "Programmable Vertex Pulling" in OpenGL Insights, althoug

[2019-08-07 19:28] j6lim commented on #1487
Unreal Engine has a feature to blend vertex morphs and tangent morphs in a computer shader.

https://github.com/EpicGames/UnrealEngine/blob/release/Engine/Shaders/Private/GpuSkinCacheComputeShader.usf

Unity / SceneKit is closed source software, but they might take advantage of compute shaders.

Since Filament is targeting OpenGL ES 3.0 which has no compute shader, there would be a couple of worka

[2019-08-08 08:04] roxlu commented on #1468
Thanks @prideout.

I recompiled the debug configuration, which gives me

[code]

This doesn't give me any information regarding the rendering issue.

@prideout can you confirm that this material setup is correct:

[code]

[2019-08-08 08:37] roxlu commented on #1468
Got it working.

![filament-suzanne-with-cube-v5](https://user-images.githubusercontent.com/358809/62688088-75a73180-b9c8-11e9-9c29-cbe0fac92cfe.png)

It was quite a detour but it was the `ambientOcclusion` factor.  Removing it, or changing it to any value higher than 0.0 fixes the issue.  I'm pasting my latest version here, hopefully it may help someone else in the future:

[code]

[2019-08-08 08:37] #1468 closed

[2019-08-08 09:16] nxrighthere commented on #737
GTX 950 same issue with the release build.

[2019-08-08 09:58] rawnsley opened #1494 "SIGSEGV when calling from Android Java SDK"
This is almost certainly something I'm doing wrong, but I was wonder if there's a best practice to apply when debugging native crashes? Just finding the Java call stack would be a start - at the moment I'm guessing by looking at all the Filament functions that call _glBufferSubData_ and then finding all the places I call those functions.

The crash is non-deterministic and only occurs during the l

[2019-08-08 15:35] prideout commented on #1468
Glad you were able to figure this out!  (according to our materials doc, `ambientOcclusion` should be 1.0 in order to be "fully lit")

[2019-08-08 15:48] romainguy commented on #1468
And it only affects the IBL, not dynamic lights.

[2019-08-08 16:54] #1435 closed

[2019-08-08 17:38] romainguy commented on #1494
Filament's GL code lives on a separate thread so you unfortunately cannot get a useful Java stack trace. This crash here could happen if the NIO buffer you are using to upload data was disposed before data transfer is complete. Our JNI layer keeps global references to avoid this kind of problems.

[2019-08-08 20:28] BStringhamVRSK opened #1497 "Missing SRGB support for DXT compressed textures"
**Description**
GLUtils.h seems to be missing support for SRGB textures using DXT compression.  The current code for getInternalFormat shows these cases supported in the switch statement:
    case TextureFormat::DXT1_RGB:          return GL_COMPRESSED_RGB_S3TC_DXT1_EXT;
    case TextureFormat::DXT1_RGBA:         return GL_COMPRESSED_RGBA_S3TC_DXT1_EXT;
    case TextureFormat::DXT3_RGBA:         re

[2019-08-08 20:30] roxlu commented on #1468
Thanks, yeah it totally makes sense that my scene didn't render; I was only using IBL. But I had a couple of things going on which made me look into the wrong direction :)

[2019-08-08 20:42] greg7mdp commented on #1274
I basically have everything building with vs2019/msvc, last issue is some undefined symbols when linking suzanne (related to backend/bluegl):

[code]

Any idea?

[2019-08-08 21:14] romainguy commented on #1274
`bluegl` doesn't seem to be involved here. It looks like this method wasn't compiled/exported properly?

[code]

It is inside `CommandStream.cpp`, I wonder if it needs to move somewhere else.

[2019-08-08 21:15] romainguy commented on #1497
Thank you! It's either an oversight or because GL ES doesn't support those formats. We'll take a look (or feel free to send a PR if you prefer).

[2019-08-08 21:35] BStringhamVRSK commented on #1497
I don't currently have a code fix for this, as I'm not sure of what the repercussions are for other platforms within Filament (ie. Vulkan and Metal).  But I would be interested to learn if they are not supported.

I was going with DXT because the DDS format is convenient, has wide hardware support, and has decent tools support.  Now, I plan on using KTX files with ASTC compression, though I worry

[2019-08-08 21:41] romainguy commented on #1497
If you want a single format I highly recommend you look into [Binomial's Basis](https://github.com/BinomialLLC/basis_universal). We (Google) recently worked with Binomial to open source their encoder and transcoder. The current implementation can transcode to various DXT formats as well as ETC2 which is guaranteed to be supported on all OpenGL ES 3.0 devices. It also supports PVRTC which is availa

[2019-08-08 21:45] BStringhamVRSK commented on #1497
Thanks for the heads-up!  I will look into that.

[2019-08-08 23:18] pixelflinger commented on #1460
@teub what do you mean "there are 2 threads"? Filament only has a single gl thread.

[2019-08-09 00:29] greg7mdp commented on #1274
Thanks for the pointer, @romainguy , I'll look into it further.

[2019-08-09 04:13] teub commented on #1460
well there's also the main thread, and the profiler picks samples from both

[2019-08-09 06:11] solution888 opened #1499 "request for setBoolParameter"
Hi, Filament.
In Material spec, There exists the bool type.
(Look Table 12: Material parameter types at https://google.github.io/filament/Materials.html)
But, I couldn't find setBoolParameter such as setFloatParameter.
I am thank you in advance if you can tell me the way.
Cheers.

[2019-08-09 08:35] rawnsley commented on #1494
I hadn't thought about the thread decoupling; that does make it more complicated.

I'm only using the JNI layer Filament provides - no native JNI calls of my own. Could it still be a problem of premature buffer disposal?

[2019-08-09 15:28] #1485 closed

[2019-08-09 15:50] greg7mdp commented on #1274
@romainguy I see the `CommandType`  template definition, but I don't understand where all the specializations are defined. It seems that it should be with the `#include "private/backend/DriverAPI.inc"`, but this is included only when `#if DEBUG_COMMAND_STREAM`

[2019-08-09 16:56] romainguy commented on #1274
@pixelflinger

[2019-08-09 16:58] romainguy commented on #1494
It could be, it could also be due to supplying a `Buffer` to Filament with an invalid position (it's easy to forget to `rewind()` a `Buffer` for instance).

[2019-08-09 18:00] greg7mdp commented on #1274
Undefined symbol (more legible):

[code]

[2019-08-09 19:31] sleroux commented on #1463
I've been digging more into this issue and I'm 92% confident I'm linking in EGLESv3 correctly from SwiftShader when compiling with USE_EXTERNAL_GLES3 enabled but keep getting a segfault when executing sample apps. It looks like this line is the culprit:

https://github.com/google/filament/blob/master/filament/backend/src/Platform.cpp#L112

I would imagine it should be returning PlatformEGL if we a

[2019-08-09 19:41] prideout commented on #1463
Be sure to pass an instance of your custom `Platform` class into the second optional argument of Engine::create.

[2019-08-09 19:44] prideout commented on #1463
e.g. you could define a type like `class PlatformSwiftshader : public filament::backend::OpenGLPlatform`, which @AdrianAtGoogle has done internally.

[2019-08-09 20:10] greg7mdp commented on #1274
OK, I got it to link.  Indeed the issue was that the `CommandType::Command::log()` template functions were defined in CommandStream,cpp, but not called from that file. It is called from other cpp files, however none of which had access to the function definition) so MSVC did not instantiate this function in any .o file.

Moving the definition of the two log() functions inline in the  `CommandType:

[2019-08-11 05:25] j6lim commented on #1487
You might want to adopt the way ViroCore supports: https://developer.viromedia.com/virocore/reference/com/viro/core/Object3D.MorphMode.html

ViroCore (which is the only renderer on Android, as far as we know, which implements morph targets and skinned mesh renderers good enough to support animated characters) supports both CPU blending / GPU blending for morph target vertices.

[2019-08-12 14:14] cx20 commented on #1430
I confirmed that the problem was solved with filament v1.3.1.
[glTF/Duck.gltf + filament result](https://cx20.github.io/gltf-test/examples/filament/index.html?model=Duck&scale=1&type=glTF): OK
![image](https://user-images.githubusercontent.com/1833979/62871623-cc10c900-bd56-11e9-8226-353ce118c8c4.png)

[2019-08-12 15:06] sleroux commented on #1463
Since `OpenGLPlatform` is an interface class, is it possible to reuse an existing Open GL ES platform implementation for `PlatformSwiftShader` or would I need to write custom implementations for the virtual methods?

[2019-08-12 15:34] greg7mdp commented on #1274
Finally, I got the material_sandbox to run on windows, all built with vs2019. I'll keep sending PRs for the changes.
![image](https://user-images.githubusercontent.com/1496907/62877477-1eb99900-bcf5-11e9-91ac-cf48ab932411.png)

[2019-08-12 15:45] prideout commented on #1463
I've attached a small example implementation (cpp + h), it might need some fixups but should give you the basic idea.

[PlatformSwiftshader.zip](https://github.com/google/filament/files/3493308/PlatformSwiftshader.zip)

[2019-08-12 16:28] BStringhamVRSK commented on #1472
Some quick, unsolicited advice from someone whose experienced similar problems with other engines:
This is likely due to the shader compiler optimizer creating slightly different code order for geometry calculations during the pre-pass shader than gets created during the secondary passes, _even if the source code for that portion of both shaders is identical_.  I know some compilers have directive

[2019-08-12 16:40] romainguy commented on #1472
We've been using GLSL's invariant for this but different compilers clearly have different quirks with it. We probably need to sprinkle invariant in other places to help instead of relying on the entire computation chain to be properly handled.

[2019-08-12 19:57] prideout commented on #1472
We could perhaps use matinfo to analyze the data flow of invarant-qualified variables in SPIRV, much like what I'm currently trying to do with precision qualifiers.

[2019-08-12 20:16] prideout opened #1510 "JNI cleanup: remove usage of setAccessible / reflection"
After #1509 is merged, we should find all usage of setAccessible in `filament-android` and `gltfio-android`, and remove them.

[2019-08-13 06:55] #1284 closed

[2019-08-13 07:04] Yzou-NaO opened #1512 "UberShader can't render doubleSided model"
**Describe the bug**
UberShader can't render doubleSided model.
[Two Sided Plane](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/TwoSidedPlane)

**Screenshots**
![image](https://user-images.githubusercontent.com/39986511/62921496-7a5e5200-bddb-11e9-96de-cd68622c3e7c.png)

![image](https://user-images.githubusercontent.com/39986511/62921430-484cf000-bddb-11e9-9bd1-e1581c67e3ac.p

[2019-08-13 08:11] teub commented on #1460
Hello,

I tried merging c65239ae on my end and I'm happy to report the framerate is now OK and similar with and without the postprocess. Also I'm not seeing anything related to the render targets anymore in the profiler :

![image](https://user-images.githubusercontent.com/11277063/62925452-a9ac9900-bdb2-11e9-9667-dd9fa67639b8.png)

👍

[2019-08-13 11:28] flyingonly opened #1513 "How to render a renderable in different positions of one scene at a time"
In our practical use, we need to render a renderable several times on one scene with different transforms at the same time. For now, we have tried to load a glb file for multiple times so that we have several filamentAssets at the same time. But it turns out to be a burden on the memory if the glb file has many textures, since each filament asset will load its own buffer and textures.
We wish to h

[2019-08-13 14:22] prideout commented on #1512
Thanks for the report, I'll look into it.

[2019-08-13 14:22] roxlu opened #1514 "How to set standard MaterialInput parameter values per MaterialInstance?"
When I create a material using `filamat:MaterialBuilder` and provide the shader source myself, how can I change the values of the standard `MaterialInput`

For example, how to I set the `baseColor`, `metallic` and/or `roughness` when I create this shader for different `MaterialInstances`?

[code]
Calling `setParameter("baseColor")` on a `MaterialInstance` gives me this error:

[code]

[2019-08-13 14:30] prideout commented on #1513
We might be able to add a simple instancing feature to gltfio.  Out of curiosity how many instances will you be creating, ballpark?  Hundreds?  Thousands?

[2019-08-13 14:36] prideout commented on #1514
Make sure that you've declared the parameter in using `MaterialBuilder::parameter` before building the material.  Also, when calling `setParameter`, make sure that you're passing a value that has a matching type (e.g. `filament::math::float4`)

[2019-08-13 14:38] prideout commented on #1460
@pixelflinger Since the TextureCache is sufficient, I think we don't need a cache for FBO objects.

[2019-08-13 14:59] roxlu commented on #1514
@prideout thanks! Got it working. I assumed that the `filamat::MaterialBuilder` was parsing the shader and created uniforms automatically from the material properties that I set.  I'm now adding the parameters and that works perfectly. Pasting my code below as an example.

*Create a shader and define the parameters*
[code]

Then create an instance and set the parameters:

[code]

[2019-08-13 14:59] #1514 closed

[2019-08-13 15:02] teub commented on #1460
I mean, if it doesn't show up in the profiler (or more specifically, in my profiling session on a rather big gpu), it doesn't mean it's not created/destroyed at each frame ¯\_(ツ)_/¯

Then I don't know what creating a rendertarget actually implies on the driver side, so I don't have a super strong opinion on this.

[2019-08-13 15:13] romainguy commented on #1513
Renderables are fairly lightweight wrappers around vertex buffers, index buffers and material instances. It should be fairly trivial to add an API to at least clone a renderable. That would solve this request without using a ton of memory.

[2019-08-13 20:34] prideout opened #1516 "Vulkan: gltf-demo triggers Adreno error"
The "lit opaque" version of ubershader triggers a link-time error on Pixel 3 + Android P, which prevents us from running the the gltf-demo with Vulkan on Android.

The symptoms are exactly like #1096, but the error persists even after I sprinkle highp everywhere, so this might be a new driver bug.

[2019-08-14 02:21] flyingonly commented on #1513
Thanks for the reply. For now we just need about a dozen or so instances.

[2019-08-14 03:50] Yzou-NaO commented on #1512
I think KHR_materials_pbrSpecularGlossiness can't be rendered as well.
![image](https://user-images.githubusercontent.com/39986511/62993189-f498e000-be88-11e9-936c-ac535610373c.png)
test model: [SpecGlossVsMetalRough](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/SpecGlossVsMetalRough)

[2019-08-14 10:38] rawnsley opened #1519 "Possible scale or texture bug viewing GLTF sample"
The gltfio viewer gives me this for the InterpolationSample:

<img width="1024" alt="Screenshot 2019-08-14 at 11 33 34" src="https://user-images.githubusercontent.com/303516/63014904-8acc0680-be87-11e9-9356-5202a05bcf0b.png">

Whereas [gLTF Viewer](https://gltf-viewer.donmccurdy.com/) looks more like this:

<img width="835" alt="Screenshot 2019-08-14 at 11 35 52" src="https://user-images.githubuse

[2019-08-14 12:04] flyingonly opened #1520 "Support for negative scale values in transform"
We have met problems with rendering gltf files when we have negative scale values in it or we set negative scale values with TransformManager. It appears to be caused by the triangle faces aren't reversed.
So will it be supported that the winding order of the mesh triangle faces to be reversed when the determinant of the transform is a negative value?

[2019-08-14 15:32] prideout commented on #1520
I don't quite understand.  Is this an issue with lighting or with backface culling?

[2019-08-14 15:45] prideout commented on #1512
Thanks.  MaterialGenerator mode is more feature complete than UbershaderLoader right now, but we can fix this up.

[2019-08-14 20:05] #1499 closed

[2019-08-15 02:05] flyingonly commented on #1520
Sorry for not making it clear. And I think the issue is about the surface orientation.
The origin gltf file shows like this:
![image](https://user-images.githubusercontent.com/9585829/63067635-76990f80-bf42-11e9-94d3-fd6550b17381.png)
Then I set the scale of the node to -1, 1, 1, It appears to be:
![image](https://user-images.githubusercontent.com/9585829/63067651-8e709380-bf42-11e9-9952-1009bf14b

[2019-08-15 03:37] prideout commented on #1520
Thanks, I understand now.  This is not part of the core spec, nor tested in any conformance models (AFAIK), but we might be able to support it.  Out of curiosity have you tried this with other engines?

[2019-08-15 04:40] flyingonly commented on #1520
I have tested the negative scale in visual code gltf preview. The Babylon.js and Three.js can handle the value correctly, while the cesium has the same problem I showed above.

[2019-08-15 08:36] flyingonly commented on #1520
Btw, I have found that View has a function setFrontFaceWindingInverted, which can partly solve this problem. I just need to decide whether the determinate of the transform matrix is negative, then modify the setting with this. However changing this will affect all items in the view, will it be a method to limit the affect to only the instance with the transformation which needs the reversed windin

[2019-08-15 13:00] fishelegs opened #1525 "Reading ANY glb with morph targets will crash on iOS platform with backend::Metal"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. use master branch or v1.3.1 release branch
2.open hello-gltf iOS demo with Metal
3.change DamagedHelmet.glb to ANY glb with morph targets.
4.It'll crash after running.

**Expected behavior**
No crash.

**Screenshots**
crash in id<MTLRenderPipelineState> PipelineStateCreato

[2019-08-15 18:24] bejado commented on #1525
Thanks for the report, I'm able to reproduce. Note that on iOS, OpenGL crashes as well. On desktop, Metal crashes for the same reason, and OpenGL fails to render anything.

[2019-08-15 20:20] gpyalt opened #1526 "help: black screen"
This is not a bug, but a request for help. I am trying to integrate Filament into my graphics library, which has a test harness based on glut (I know, not very trendy). I rebuilt filament using vs2019/msvc, and I can verify it works using the samples. I also built `vk_hellotriangle` (which uses FilamentApp) and it works fine.

So I moved essentially the same code from `vk_hellotriangle.cpp` to my

[2019-08-15 21:03] prideout commented on #1526
Can you remove the following lines and try again?  I think you may've copied them from our Imgui layer, they don't make sense for the main view.

[code]

If you still see black instead of the clear color (which looks like it should be 0.1f, 0.125f, 0.25f, 1.0f in your case) then can you double check that Filament is making draw calls?  (i.e. put a breakpoint at `OpenGLDriver::draw`)

[2019-08-15 21:16] gpyalt commented on #1526
Thank you so much for the suggestions, Philip. I removed the 4 lines => no difference.

I set a breakpoints in OpenGLDriver::draw() and it is called:

![image](https://user-images.githubusercontent.com/40033896/63127291-f72a3100-bf7f-11e9-8216-4af181b165e7.png)

I also set breakpoints in PlatformWGL.cp and both `PlatformWGL::makeCurrent` and `PlatformWGL::commit` are called and execute `wglMakeCur

[2019-08-15 21:23] prideout commented on #1525
OpenGL looks ok to me on macOS

<img width="891" alt="Screen Shot 2019-08-15 at 2 22 43 PM" src="https://user-images.githubusercontent.com/1288904/63127804-2f257a00-bf68-11e9-9ab8-90b894a72f5d.png">

[2019-08-15 21:33] prideout commented on #1526
You mentioned that your graphics library makes OpenGL calls on its own?  That might be problematic since Filament creates its own GL context bound to the window handle that you pass in to the swap chain.

Another thing to try is enabling GL errors by either building Filament in a debug config or by removing lines 33 thru 39 in `GLUtils.h`

[2019-08-15 21:48] gpyalt commented on #1526
yes, it does. Thanks for the pointer, I'll look into it further!

[2019-08-16 00:21] bejado commented on #1525
Ah yes, desktop OpenGL does work, I was seeing a separate issue related to IBLs / sunlight.

[2019-08-16 07:13] atul109 opened #1529 "add Java bindings for gltfio::Animator"
I couldn't find any coding documentation or samples to list or play animations of a .glb file.
`getAnimationCount()`  is missing in FilamentAsset
Build using the gltfio-20190808-android.aar and filament-20190808-android.aar but
[gltfio android](https://github.com/google/filament/tree/master/android/gltfio-android/src/main/java/com/google/android/filament/gltfio) does not contain Animator

Does fil

[2019-08-16 16:30] prideout commented on #1529
The C++ layer has an "Animator" object which is used by our gltf_viewer sample.  However it looks like we have not yet provided JNI bindings for that, I'll fix that.

No, Filament does not support picking.

[2019-08-16 20:04] gpyalt commented on #1526
Hi @prideout, I got it working, thanks a lot for the help.

The wglSetCurrent failed in PlatformWGL.cpp, I guess because it was creating a context for a pixel format maybe not compatible with the glut window. After a lot of poking around, I replaced the `CreateWindowA("STATIC", "dummy", 0, 0, 0, 1, 1, NULL, NULL, NULL, NULL)` with `FindWindow("FREEGLUT", "xtView")` and it started to work! Exciting

[2019-08-16 20:04] #1526 closed

[2019-08-18 20:54] Realitian opened #1531 "Shader : how can use atan2 function?"
In Material's fragment shader, I failed to compile when I use atan2 function.
Can you let me know any reference for the list of available shader functions?
Cheers.

[2019-08-18 20:56] romainguy commented on #1531
You can use any function provided by OpenGL ES 3.0. See https://www.khronos.org/registry/OpenGL-Refpages/es3.0/ or https://www.khronos.org/registry/OpenGL/specs/es/3.0/GLSL_ES_Specification_3.00.pdf

[2019-08-18 20:56] #1531 closed

[2019-08-18 21:03] prideout commented on #1531
Also note that GLSL provides a two-argument overload for the `atan` function, which is equivalent to atan2.

[2019-08-18 21:35] Realitian commented on #1531
Thanks!

[2019-08-19 01:32] bluesky013 opened #1532 "Vulkan present queue"
Valid usage of vkGetDeviceQueue in vulkan spec declare "queueFamilyIndex must be one of the queue family indices specified when device was created, via the VkDeviceQueueCreateInfo structure" . Only graphic queue family index was specified when device was created. If present queue family index is not equal to graphic queue family index,  would it be right?

[2019-08-19 17:57] bejado commented on #1525
As a quick workaround, you could replace the `MTLVertexFormatChar4` [here](https://github.com/google/filament/blob/eca381a5be25919f0f5c4fd6cb2f44a59f999ca4/filament/backend/src/metal/MetalHandles.mm#L196) with` MTLVertexFormatUChar4`.

[2019-08-20 12:33] geroge-d opened #1533 "crash on create rendertarget on android"
**Describe the bug**
crash on creating render target on some huawei android device. the log below

Filament: OpenGL framebuffer error 0x8cd6 (GL_FRAMEBUFFER_INCOMPLETE_ATTACHMENT) in "void filament::OpenGLDriver::framebufferTexture(const backend::TargetBufferInfo &, const filament::OpenGLDriver::GLRenderTarget *, GLenum)" at line 1216
libc++abi: terminating

our code below:
color = Texture.Builder

[2019-08-20 12:37] geroge-d commented on #1533
FYI
 I built a debug version for testing this issue. =
Device:
  CRASH DEVICE: HUAWEI CRR-UL00 UNROOT
Opengles version 3.1

[2019-08-20 12:38] geroge-d commented on #1533
Run the sample gltf-bloom crashed on the same device

[2019-08-20 15:07] Realitian opened #1534 "iOS AR example viewMatrix"
Hi, @bejado
Thanks for adding iOS AR example.
btw, how can make it work in portrait mode?
Actually, I tried to run it in portrait mode (my all UI made in portrait mode), but example was landscape right mode.
I couldn't setup the matrix in portrait mode.
I tried to change camera.transform with [camera viewMatrixForOrientation:UIInterfaceOrientationPortrait], but the object wasn't be stable.
Can you

[2019-08-20 15:26] atul109 opened #1535 "Setting position using x, y, z and rotation using Quaternion and Euler angle"
When trying to set position and rotation using rotation matrix obtained from OpenCV, there is unexpected sudden changes orientation (usually when rotation matrix values flip signs)

As per my observation the transform matrix used in filament have translation as 4th row
                        1.0f,  0.0f, 0.0f, 0.0f,
                        0.0f,  1.0f, 0.0f, 0.0f,
                        0.0f,  0