[2018-08-04 04:12] clemtaylor opened #4 "Build failure when clang isn't default compiler"
The commands in the readme Linux section says:

But the following command matches the one above.

I tried the obvious to set CC to /usr/bin/clang and CXX to /usr/bin/clang++ prior to running cmake. cmake completes, but the build fails with some fairly basic #include file not found errors (things like <limits> and <map>).

I'm building on Fedora 28 x86_64.

[2018-08-04 04:57] bejado commented on #4
Whoops, looks like an issue in the documentation. Which version of clang are you using to build, and can you give the specific errors clang spits out?

[2018-08-04 05:02] clemtaylor commented on #4
I'm using clang 6.0.1.

All basic file not found errors:
../../libs/filaflat/include/filaflat/ShaderBuilder.h:20:10: fatal error: 'cstddef' file not found
../../libs/filaflat/include/filaflat/FilaflatDefs.h:21:10: fatal error: 'string' file not found
../../libs/math/include/math/TVecHelpers.h:25:10: fatal error: 'cmath' file not found
../../libs/filabridge/include/filament/SamplerInterfaceBlock.h:

[2018-08-04 05:11] guillaumechereau commented on #4
I experience the problem on ubuntu 18.04.

[2018-08-04 06:25] romainguy commented on #4
Thanks for reporting this issue. We only support compiling with `clang` and you need to have the clang STL installed (it should be mentioned in README.md, you need to install `libc++-dev` and possibly `libc++abi-dev`).

I'll fix the docs, it's supposed to prefix cmake with `CC=… CXX=…` like you did.

[2018-08-04 06:29] romainguy commented on #4
I just updated the README, please let me know if installing `libc++-dev` fixes the other issue for you.

[2018-08-04 09:30] guillaumechereau commented on #4
On ubuntu 18.04, installing libc++-dev and libc++abi-dev makes the compilation work.  Now I get link errors though:

    [ 13%] Linking CXX executable test_math
    CMakeFiles/test_math.dir/tests/test_fast.cpp.o: In function `__clang_call_terminate':
    test_fast.cpp:(.text.__clang_call_terminate[__clang_call_terminate]+0x2): undefined reference to `__cxa_begin_catch'

    clang version 6.0.0-1ub

[2018-08-04 13:41] meuns commented on #4
Same issue here using the same setup.

[2018-08-04 16:50] romainguy commented on #4
You can fix this by passing `-DFILAMENT_REQUIRES_CXXABI=true` to `cmake`. We use this is our CI environment for the same reason, I just don't know in what cases it's sometimes necessary. What this flag does is add `-lc++abi` to link against `libc++abi` instead of GCC's runtime.

[2018-08-05 00:16] jdarpinian opened #8 "Windows build fails with clang assertion failure"
Following the build steps, when compiling sample-app.vcxproj (FilamentApp.cpp, IBL.cpp, IcoSphere.cpp, Image.cpp, and NativeWindowHelperWindows.cpp) I get a crash in clang:

Assertion failed: CXXInfo->BaseOffsets.count(Base) && "Did not find base!", file C:\src\llvm_package_336178\llvm\tools\clang\include\clang/AST/RecordLayout.h, line 225

It crashes both with the LLVM version linked in the READM

[2018-08-05 00:49] romainguy commented on #8
@bejado have you run into this on Windows?

The error occurs in clang's internal files, seems like a bug in the toolchain.

[2018-08-05 01:14] bejado commented on #8
Yes, seems to be an bug in Clang. I believe I remember running into this issue on Windows when using Clang 7, so I switched to Clang 6. @jdarpinian, can you confirm which version you’re using?

[2018-08-05 01:27] skaller opened #10 "Build failure OSX"
Hi I get this with easy build, I'm using a brew installed clang 6.01 on OSX 10.12.1 (Sierra).

I suspect there's a mismatch between the brew installed compiler and the Xcode supplied libraries. Not sure why clang++ isn't using its own libraries.

[code]

(and lots more).

[2018-08-05 01:33] romainguy commented on #10
I would recommend you stick with Xcode's clang instead. We don't test with MacPort or HomeBrew installed compilers and we don't really intend to (we don't have the bandwidth unfortunately). It definitely looks like a mismatch between the compiler and the standard libraries (we've seen similar issues on Linux between gcc and clang).

What do you get when running `c++ --version`? Mine gives the foll

[2018-08-05 02:36] skaller commented on #10
I get this:

[code]
I'm using the brew version because it supports more recent C++ (C++17 in particular) which I want to use in my own project. My project builds fine with both compilers.

[2018-08-05 02:44] romainguy commented on #10
You can try to `export CC=/usr/bin/clang` and `export CXX=/usr/bin/clang++` before running the script. It should instruct CMake to use these compilers instead.

[2018-08-05 02:49] skaller commented on #10
Same problem.

[2018-08-05 02:55] romainguy commented on #10
Did you nuke the out/ directory first?

[2018-08-05 02:56] romainguy commented on #10
You could just remove the tests from libs/utils/CMakeLists.txt in the meantime

[2018-08-05 03:00] skaller commented on #10
Nope. I will try that... same problem. I will try upgrading to High Sierra, should provide newer clang?

[2018-08-05 03:01] skaller commented on #10
[BTW thanks for prompt support!]

[2018-08-05 03:05] romainguy commented on #10
Upgrading to High Sierra should definitely fix it. I've compiled Filament myself on 4 different MacPros/MacBook Pros and they all work properly with High Sierra installed. I wish I could help you more but it's hard without a machine that reproduces the issue.

[2018-08-05 03:07] romainguy commented on #4
BTW if anybody know how to make this work properly, I'm all ears. I made linking against `libc++abi` optional because on the Linux distributions we use at work (Debian Rodete) using the flag breaks compilation. I do need to use it on Ubuntu 14 for continuous builds though. Not being a daily Linux user I'm not entirely sure what the problem is.

[2018-08-05 03:37] skaller commented on #10
Its hard even *with* a machine. I run Linux and Windows 10 Summer as well. C++ has become a real pain. With clang 6, I get  linker warnings building my code. Its not my code, its clang's library. Sigh.

Also the brew Caveats are a bit confusing. My system has no provision for adding optional flags to compilers at the moment. It cannot be "patched" just for me, the script that compiles C++ code is

[2018-08-05 04:37] clemtaylor commented on #4
I did manage to get the release build to link on fedora by commenting out the `-static-libgcc -static-libstdc++` in the CMakeLists.txt and using the `-DFILAMENT_REQUIRES_CXXABI=true` flag for cmake (unclear if that was needed).

It is unclear why it wasn't finding the static libraries (I installed libstdc++-static-8.1.1-5.fc28.x86_64).

My initial problem was caused by a missing libstdc++ devel pa

[2018-08-05 04:38] romainguy commented on #4
The static link is there only for us when we need to distribute binaries. For your own machine... :))

[2018-08-05 05:39] skaller commented on #10
So I have High Sierra now. Installed Xcode tools. Same error.
[code]

[2018-08-05 05:46] romainguy commented on #10
Something's not right, with the latest Xcode and tools you should be on clang-902 (Apple LLVM version 9.1.0). (BTW you can use -c with build.sh to trigger a clean build). Here's the top of my CMake output:

[code]

This is with Xcode 9.4.1.

[2018-08-05 06:05] jdarpinian commented on #8
I am using 7 because that's the version recommended in the README. I will try 6 instead.

[2018-08-05 06:06] skaller commented on #10
i did run xcode-select --install .. hmm .. you're right. Its the same compiler. Checking AppStore it tells me I installed version 9.4 of the tools. But, you're right those tools aren't the current ones. Sorry AppStore won't let me copy/paste. Stupid crap. AppStore ALSO tells me there is an update for El Capitan Xcode 8.2. Grrr.

[2018-08-05 06:09] skaller commented on #10
Ok .. I have to manually download xcode from the AppStore. The problem is I upgraded Sierra to High Sierra and it didn't upgrade xcode.

[2018-08-05 08:08] RoryDungan commented on #4
Just got the build to work on Ubuntu 18.04. In addition to following the instructions in the readme for setting the compiler to Clang, I needed to pass the `-DFILAMENT_REQUIRES_CXXABI=true` flag *and* install `libxi-dev`, which seems to be required by the copy of SDL2 in the `third_party` directory.

Might be worth adding `libxi-dev`, `cmake` and `clang` to the list of dependencies, although it's

[2018-08-05 08:13] romainguy commented on #4
@thendrix This particular CI infrastructure uses Ubuntu 14, I do not control this. We actually develop on Debian Rodete.

@RoryDungan The README already mentions that `cmake` and `clang` are required (they're the first listed requirements :). Good catch about `libxi-dev`, I'll add it to the README.

[2018-08-05 09:52] freder opened #11 "(Some) examples don't work"
`./hellotriangle`

[code]

---

`./hellopbr`

[code]

---

`./shadowtest`

[code]

---

`./texturedquad`

[code]

---

![image](https://user-images.githubusercontent.com/724844/43684740-f92c26ea-98a5-11e8-815a-30a57dc405d6.png)

[2018-08-05 10:58] skaller commented on #10
Ok, after AppStore download of 5+G failed because I ran out of credit and then restarted from scratch (come one, Apple are you morons? FTP could restart downloads 40 years ago), $100 later Xcode installed and filament built!

[2018-08-05 10:59] #10 closed

[2018-08-05 12:15] prideout commented on #11
The latter three Vulkan samples were launched from the wrong directory, I'll make this more friendly.

The shader failure in hellotriangle may be related to recent changes in our shader pipeline, I'll take a look.

The Vulkan backend is still in an experimental state.

[2018-08-05 15:44] shartte opened #12 "Pre-built binaries for Windows"
Will pre-built binaries for Windows be released as well? Currently the release page has binaries for the *nix based platforms, but not for Windows.

I've tried building filament on both my machine and Appveyor, but failed miserably (mostly due to issues with -fno-exception, apparently). Should I open an issue regarding those failures, or rather wait for official binaries?

(Appveyor failure consol

[2018-08-05 16:59] evil84 commented on #8
same problems with jdarpinian, i tried llvm6 but same.

[2018-08-05 18:07] Stof25 opened #13 "The win32 implementation of getCanonicalPath doesn't work the same as the base implementation"
Win32 implementation calls the Windows SDK function PathCanonicalize but it only works correctly when called with a fully qualified path it seems.

Example : the README for Windows says to test the compiled code with
`./samples/material_sandbox --ibl=../samples/envs/office ../assets/models/sphere/sphere.obj`

This results directly in calling getCanonicalPath with `../samples/envs/office` which the

[2018-08-05 18:07] Stof25 opened #14 "Path::isAbsolute() doesn't work for Win32 paths"
It checks if the path starts with / even for Win32 paths. As a result, getAbsolutePath doesn't work either.

[2018-08-05 20:17] bejado commented on #13
Thanks for reporting these issues- seems like valid bugs. Will take a look.

[2018-08-05 21:49] shartte commented on #12
I've used the following build commands, and the compiler identification reads as Clang 6.0, so it seems to be using Clang.

I had to pass `-Wno-everything` because by default, it produces hundreds of thousands of lines of C++98 compat warnings, which seems unintentional.

[code]

The initial output of CMake:
[code]

Python is certainly outdated compared to what the build instructions ask for, but

[2018-08-05 22:02] bejado commented on #12
@shartte I'm not quite sure how your AppVeyor is configured, but it's important that all the build commands be run in a "x86_64 cross tools command prompt". This ensures the correct environment variables are set for Windows builds. Since you're running the build through CI, you'll probably need to add a a call to `vcvarsall.bat x86_amd64` first. See this [MSDN article](https://msdn.microsoft.com/e

[2018-08-05 22:03] romainguy commented on #12
Python is actually not necessary since we don't rely on the repo tool anymore. I'll update the README.

[2018-08-05 22:06] AndroidDeveloperLB opened #15 ""No toolchains found in the NDK toolchains folder for ABI with prefix: mips64el-linux-android""
I just wanted to try out the sample, but I got this error:

![image](https://user-images.githubusercontent.com/5357526/43690580-fb8bd51a-9914-11e8-8ce2-7793deb30d5d.png)

[2018-08-05 22:13] romainguy commented on #15
It opens properly for me on several machines. Do you have an NDK properly installed and setup?

[2018-08-05 22:25] romainguy commented on #15
It should be. I have no idea what the problem is here, we don't even support the MIPS ABI (and it's not part of the NDK anymore I believe).

[2018-08-05 22:26] AndroidDeveloperLB commented on #15
Is it possible that it's because I'm using Windows OS?
Or that I have AMD CPU ?

[2018-08-05 22:33] romainguy commented on #15
Those have nothing to do with MIPS so I doubt they're related.

BTW did you follow the other instructions in the README and built the native libraries with cmake already? These are necessary before you can build the AAR.

[2018-08-06 00:45] udnaan opened #16 "Build fails on Ubuntu 18.04"
The command used to invoke the build was following:

`sudo apt install libglu1-mesa-dev libc++-dev libc++abi-dev ninja-build libxi-dev`
`env CC=/usr/bin/clang CXX=/usr/bin/clang++ cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./dist-linux -Bbuild -H.`
`make -C build -j4 `

Here is the error:

[code]

Same is true whether the build is invoked using ninja or make. For instance, this sequen

[2018-08-06 00:49] romainguy commented on #16
You need to add -DFILAMENT_REQUIRES_CXXABI=true on Ubuntu apparently.

[2018-08-06 01:11] udnaan commented on #16
This fixes the issue with manual building. The build.sh script is still broken. Perhaps the readme should be updated to reflect that.

[2018-08-06 01:14] romainguy commented on #16
Would you mind adding set -x at the top of script and copy the logs please? I have no issues with script on multiple machines and OSs and I can't repro :/

[2018-08-06 01:16] udnaan commented on #16
Sure. Here:
[code]

[2018-08-06 02:10] udnaan commented on #16
With cmake, using the -B<build_dir> and -H<cmakelist_dir> could be a better pattern than changing directories manually. Just an idea.

[2018-08-06 08:00] jdarpinian commented on #8
Clang 6 works, although it produces tens of thousands of warnings and the binaries crash because they can't find the assets directory.

[2018-08-06 14:59] adam-sawicki-amd opened #19 "Vulkan Memory Allocator usage in VulkanStagePool class"
Hello, I'm the author of Vulkan Memory Allocator library. Thanks for using the library in your project.

I would like to suggest that in file `VulkanStagePool.cpp`, in function `VulkanStagePool::acquireStage`, memory usage should be `VMA_MEMORY_USAGE_CPU_ONLY` rather than `VMA_MEMORY_USAGE_CPU_TO_GPU` because that's the flag recommended for buffers that are used only as a source of transfer and no

[2018-08-06 15:04] romainguy commented on #19
Thanks Adam! The Vulkan backend is still a work in progress, but this is very valuable information. And thanks for the library, it saved us a ton of time.

[2018-08-06 15:05] romainguy commented on #8
We'll try and fix the warnings. Issues have been reported about our Path class not working properly on Windows, that's most likely what you're running into. We'll also fix those. Thanks!

[2018-08-06 15:05] #8 closed

[2018-08-06 15:52] prideout commented on #19
Ah, thanks for the note Adam, we'll definitely fix this stuff up and update the library!

Another issue is that we're not calling the defrag function anywhere...

[2018-08-06 16:15] adam-sawicki-amd commented on #19
There is no need to call defrag function. Currently defragmentation works only with HOST_VISIBLE (CPU) memory anyway. Allocation algorithm should do a good job at finding optimal place for new allocations.

[2018-08-06 16:46] shartte commented on #12
@bejado I added an explicit call to vcvarsall to the build, but it didn't change the results.
I am using the MSVC 2015 build image, and the following build script:
[code]

As before, the build log can be found here: https://ci.appveyor.com/project/shartte/filament

On a related note: Why does the documentation insist on using the cross-compilation toolset? According to MSDN, the native 64-bit comp

[2018-08-06 17:09] romainguy commented on #16
I just committed a change that should address this issue. Would you mind syncing and trying again? Thanks!

[2018-08-06 17:42] bejado commented on #12
I believe the issue you're seeing is the correct exception flag (/EHsc) not being passed to the compiler. I worry that by setting `DCMAKE_CXX_FLAGS` on the command line, you're overwriting this flag. The C++98 compat warnings is a an annoying, separate issue, but you could try not setting `-Wno-everything` on the command line to see if that fixes it.

Alternatively, I've been experimenting with us

[2018-08-06 17:44] romainguy commented on #12
We should just assume the build machine is 64 bit. Not sure why we didn't assume that to begin with.

[2018-08-06 17:45] bejado commented on #12
And by the way, you should delete the build directory and start afresh, otherwise CMakeCache.txt seems to cache compiler flags- not sure if AppVeyor does this or not.

[2018-08-06 18:34] bejado commented on #12
Glad you were able to build, and thanks for the investigation into the -Wall setting.

[2018-08-06 18:34] #12 closed

[2018-08-06 19:18] Acharvak opened #21 "Pieces in the chess board sample are positioned incorrectly"
The setup in docs/images/samples/chess1.png is incorrect, compare with e.g. https://en.wikipedia.org/w/index.php?title=Rules_of_chess&oldid=822226310#Initial_setup. Namely:

1. White should be on rows 1 and 2, black on rows 7 and 8.
2. White queen should be on d1, black queen on d8.

[2018-08-06 20:27] shartte commented on #12
@bejado I've opened an upstream PR with spirv-tools to fix the -Wall issue in their project file:
https://github.com/KhronosGroup/SPIRV-Tools/pull/1808

I'll look into opening one for filament itself to fix the -Wall in filament/CMakeLists.txt
There are some other options being passed to clang-cl.exe that are not actually supported (-fvisibility=hidden) which I might try to fix as well.

[2018-08-06 22:41] udnaan commented on #16
Unfortunately no. Things haven't improved.

[code]

Note that I also got another error after pulling

[code]

A [stackoverflow post](https://stackoverflow.com/questions/24813827/cmake-failing-to-detect-pthreads-due-to-warnings/25130590#25130590) talks about this being a Cmake bug and after peeking into /usr/share/cmake-3.10/Modules/CheckIncludeFile.cxx.in, I changed the `int main()` to `int main(v

[2018-08-06 22:51] Hayaweh opened #23 "Win64: material_sandbox ImGui font not found"
Hi there,

Whilst trying to test the material_sandbox, It happened to crash at:
`libs\filagui\src\ImGuiHelper.cpp : line 52.`

It seems like `getCurrentExecutable()` returns the executable path properly and `.getParent()` removes the material_sandbox.exe from this path.

It afterward adds the path to the font as if assets was a sub-folder to the executable path.

Is there a symlink missing to the

[2018-08-06 23:03] bejado commented on #23
Hello- yes this appears to be a valid bug. Probably an oversight with how we’re passing paths to Windows. Will take a look, thanks for reporting!

[2018-08-06 23:58] romainguy commented on #16
Can you try with `build.sh -c release` please? `-c` will destroy the build directory, just to make sure we bypass any leftover from previous attempts.

[2018-08-07 00:08] romainguy commented on #23
The `assets` directory should be in the same directory as `material_sandbox.exe`. We are indeed looking for `./assets` where the current directory is the directory of `material_sandbox.exe`. Here what it looks like on macOS:

[code]

How did you build the samples?

[2018-08-07 01:58] #23 closed

[2018-08-07 02:00] bejado commented on #23
@Hayaweh, the issue should be fixed now, please sync and try again. (you may also need to delete your build directory and re-run CMake). `material_sandbox` is now built in the `samples/` directory on Windows, so it should have access to the font resource.

[2018-08-07 02:54] udnaan commented on #16
[code]

[2018-08-07 03:08] udnaan commented on #16
Update:
Never mind, I think I know what the issue is.

`env CC=/usr/bin/clang CXX=/usr/bin/clang++ FILAMENT_REQUIRES_CXXABI=true ./build.sh -c release`

And the build is going through. Thanks for the help!

[2018-08-07 03:08] #16 closed

[2018-08-07 04:16] zktc5418 opened #29 "need a android sample"
need a android sample

[2018-08-07 04:49] romainguy commented on #29
We do have a couple of Android sample applications but we need to clean them up before making them public. The one I'd like to share is mostly written in C++, I'd like to convert it to Java first.

[2018-08-07 13:36] Axelius opened #30 ""Chosen constructor is explicit in copy-initialization" on Windows"
I tried compiling yesterday on Windows. This is my setup:
Windows 10
Cmake 3.12.0
Visual Studio 2015 and 2017
Clang 6.0.1

But the built always failed with
`
chosen constructor is explicit in copy-initialization	filament	filament\libs\utils\include\utils\StructureOfArrays.h	132`

According to the compiler the culprit is in filament\libs\utils\include\utils\StructureOfArrays.h line 132, which is th

[2018-08-07 16:45] #30 closed

[2018-08-08 10:53] Damianno19 opened #42 "Crash on AMD GPU"
All examples on OpenGL crashes on same function `OpenGLDriver::updateUniformBuffer`, on friend pc ( GTX 970, win 10 ) works fine.

OS: Win 10
GPU: RX 480 8GB
Drivers: 18.5.1 ( on older drivers same situation )

Callstack:

[2018-08-08 14:47] romainguy commented on #42
Thanks for the report! We had to find an AMD GPU now… :)

[2018-08-08 15:41] emmcbd opened #45 "Segfault in cmgen with horizontal cross"
When I process a horizontal cross cubemap with cmgen, I get a segmentation fault in Cubemap.cpp::makeSeamless line 102.

When looking at the code :

        if (geometry == Geometry::HORIZONTAL_CROSS) { // horizontal cross
            stich(  getImageForFace(Face::NZ).getPixelRef(0, dim), bpp,
                    getImageForFace(Face::NY).getPixelRef(dim - 1, dim - 1), -bpp);

            stich(

[2018-08-08 15:54] romainguy commented on #45
Thanks for the report. We mostly use rectilinear images, we must have introduced a regression to cross maps a while ago. We'll look into it.

[2018-08-08 19:06] Theundeadwarrior opened #50 "Need python to build on Windows"
Running:
`cmake -T"LLVM-vs2014" -G "Visual Studio 14 2015 Win64" ../..`
results in:

-- The C compiler identification is Clang 6.0.1
-- The CXX compiler identification is Clang 6.0.1
-- Check for working C compiler: C:/Program Files/LLVM/msbuild-bin/cl.exe
-- Check for working C compiler: C:/Program Files/LLVM/msbuild-bin/cl.exe -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI

[2018-08-08 19:15] bejado commented on #50
We removed Python from the dependencies list because the `repo` tool is no longer needed (which uses Python), but that may have been a mistake- looks like spirv needs python to build. @romainguy

[2018-08-08 19:17] #13 closed

[2018-08-08 19:17] #14 closed

[2018-08-08 19:18] romainguy commented on #50
We should list the dependency on all platforms then.

[2018-08-08 19:29] romainguy commented on #50
Looks like Python is not needed since we skip the tests that use it in spirv-tools.

[2018-08-08 19:57] #50 closed

[2018-08-08 23:49] pixelflinger commented on #42
@Damianno19 would you be able to try with the attached change?

[code]

Thanks!

[2018-08-08 23:52] #45 closed

[2018-08-09 07:49] pixelflinger commented on #42
@Damianno19 thank you for testing this; that rules out a state-tracking bug in filament.
All the GL_INVALID_OPERATION cases from the spec are ruled out, so I can only guess a driver bug (at the very least in how it reports errors). Not sure what to do from here.

[2018-08-09 11:56] Jomes opened #54 "./build.sh -c -a debug fail"
Building C object CMakeFiles/cmTC_6a6bd.dir/CheckIncludeFile.c.o
FAILED: /usr/bin/cc    -fcolor-diagnostics -o CMakeFiles/cmTC_6a6bd.dir/CheckIncludeFile.c.o   -c /home/jomeslu/filament-master/out/cmake-debug/CMakeFiles/CMakeTmp/CheckIncludeFile.c
cc: error: unrecognized command line option ‘-fcolor-diagnostics’
ninja: build stopped: subcommand failed.

[2018-08-09 11:58] Jomes commented on #54
Warning: JAVA_HOME is not set, skipping Java projects
Cleaning build directories...
Building debug in out/cmake-debug...
-- The C compiler identification is GNU 4.8.4
-- The CXX compiler identification is GNU 4.8.4
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting

[2018-08-09 14:11] romainguy commented on #54
Thanks for the report. You are compiling with GCC, but we only support clang as per the instructions in the readme. Please switch to clang and file another issue if you run into more problems.

[2018-08-09 14:11] #54 closed

[2018-08-09 16:53] captcha1 opened #57 "Fedora needs libcxx-devel"
Fedora needs package libcxx-devel (equivalent to libc++-dev)

[2018-08-09 22:39] captcha1 opened #62 "Fedora build problems"
On Fedora 28 :

CC=/usr/bin/clang CXX=/usr/bin/clang++ ./build.sh debug

... works (though bluegl doesn't work on 32 bit systems).

If I do :

./build.sh debug

... I get "Could NOT find Threads (missing: Threads_FOUND)" .  Dunno why.

Also, if I do

./build.sh -m debug

... I get : c++: error: unrecognized command line option ‘-stdlib=libc++’

This is GNU 8.1.1

[2018-08-09 22:41] romainguy commented on #62
Make sure you have pthread-dev installed. Note that we do not support building on desktop 32 bit systems, only 64 bit systems. We do support 32 bit systems for Android.

Which version of clang are you using? Could you please paste the output of cmake right after you run the build script?

[2018-08-09 23:17] captcha1 commented on #62
I don't see pthread-dev . I see /usr/include/pthread.h , which is part of glibc-headers

clang is 6.0.1

Here's the output of ./build.sh debug :

Warning: JAVA_HOME is not set, skipping Java projects
Building debug in out/cmake-debug...
-- The C compiler identification is GNU 8.1.1
-- The CXX compiler identification is GNU 8.1.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C c

[2018-08-09 23:25] captcha1 commented on #62
Oh wait ... looking at cmake-debug/CMakeFiles/CMakeError.log :

cc: error: unrecognized command line option ‘-fcolor-diagnostics’

[2018-08-09 23:27] romainguy commented on #62
-fcolor-diagnostics is only supported by clang, not gcc. We do not support building with gcc.

[2018-08-09 23:31] captcha1 commented on #62
OK ... I though you did both gcc & clang.  Now I see in the readme that you don't do gcc.

Thanks

[2018-08-09 23:40] captcha1 commented on #62
Is it possible to make  a cmake rule that clearly states that gcc is not supported (instead of obscure errors about pthreads) ?

[2018-08-09 23:41] romainguy commented on #62
Yep, that would be wise :)

[2018-08-09 23:56] captcha1 opened #65 "libsdl2.so: cannot open shared object file"
On Fedora 28, if I try the samples, I get :

samples/vk_hellotriangle: error while loading shared libraries: libsdl2.so: cannot open shared object file: No such file or directory

How is this supposed to work?  I can "work around" with :

export LD_LIBRARY_PATH=third_party/libsdl2/tnt

... but it would be nice to have an option link against the Fedora package : SDL2-devel

For that matter, a lot o

[2018-08-10 00:04] romainguy commented on #65
What does `ldd` say? On Debian I get this:

[code]

We prefer hermetic builds because we rely on specific versions of the libraries. SDL2 would work but we often take fixes in `spirv-*` and `glslang` that won't be part of your system's versions.

[2018-08-10 00:12] #62 closed

[2018-08-10 00:18] gnagyusa opened #67 "Build failure (Fedora 27)"
Installed CMake and ninja-build, and followed the github instructions. I'm getting:
CMake Error at /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find Threads (missing: Threads_FOUND)
Call Stack (most recent call first):
  /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:378 (_FPHSA_FAILURE_MESSAGE)
  /usr/share/cmake/Modules/FindThreads.cmake:2

[2018-08-10 00:19] #67 closed, assigned to nobody

[2018-08-10 01:07] captcha1 commented on #65
Hmmm... I get :

libsdl2.so => /home/xx/filament/out/cmake-debug/third_party/libsdl2/tnt/libsdl2.so (0x00007f0fec2c2000)

The reason I had problems is that after the build, I was moving it : mv out out-build-clang

[2018-08-10 01:08] romainguy commented on #65
Ah right, before moving it you should do a ninja install or pass -i to the build script.

[2018-08-10 01:08] #65 closed

[2018-08-10 01:25] captcha1 opened #69 "Thread 2 "FEngine::loop" received signal SIGSEGV, Segmentation fault."
OK ... vk_strobecolor works, but when I try vk_hellotriangle , I get a SIGSEGV :

(gdb) run
Starting program: /home/kjh/filament/out/cmake-debug/samples/vk_hellotriangle
Missing separate debuginfos, use: dnf debuginfo-install glibc-2.27-30.fc28.x86_64
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
FEngine (64 bits) created at 0x7ffff5be701

[2018-08-10 01:32] romainguy commented on #69
You are crashing in the Vulkan driver. There's also this message at the top:

[code]

Looks like you are running with an incomplete Vulkan driver.

@prideout please take a look, in case the issue is in `getOrCreatePipeline`.

[2018-08-10 01:37] captcha1 commented on #69
But vk_strobecolor works OK ... I can test on a Braswell chip ...

[2018-08-10 01:39] romainguy commented on #69
The samples don't do the same thing, `vk_strobecolor` doesn't render any geometry, it just clears the screen.

[2018-08-10 02:00] prideout commented on #69
Hi @captcha1, if you'd like to work with Filament on your machine (which seems to have an Atom CPU) then you'll need to use the OpenGL backend.  Try running `material_sandbox` or `lightbulb`.  Any sample that starts with `vk_` uses Vulkan.

Bay Trail does not have an entry in the Vulkan Hardware Database, and its Vulkan driver is not officially supported by Intel.

[2018-08-10 02:05] romainguy commented on #69
Closing this issue for now. Let us know if you run into problems with OpenGL.

[2018-08-10 02:05] #69 closed

[2018-08-10 04:10] captcha1 opened #71 "Thread 2 "FEngine::loop" received signal SIGSEGV, Segmentation fault (not Bay Trail)"
Deja vu :

[kjh@usd32 cmake-debug]$ gdb samples/vk_hellotriangle
GNU gdb (GDB) Fedora 8.1.1-3.fc28
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details

[2018-08-10 15:42] prideout commented on #71
Hi @captcha1, outside of Filament, have you had any success with Vulkan on your Braswell machine? For example, have you had success with simple demos like the ones by [SaschaWillems]( https://github.com/SaschaWillems/Vulkan)?

[2018-08-10 15:48] captcha1 commented on #71
Yes, everything works. No problems. On both bay trail and braswell.  I'm
not sure what's missing from bay trail... maybe tesselation shaders.

On Fri, Aug 10, 2018, 8:42 AM Philip Rideout <notifications@github.com>
wrote:

[2018-08-10 16:00] prideout commented on #71
Ah, interesting!  Maybe you could attach the report from chrome://gpu?  That way we can know more about your driver.  Thanks for your help.

[2018-08-10 16:30] captcha1 commented on #71
For the Bay Trail machine (will do Braswell shortly) :

Graphics Feature Status
Canvas: Hardware accelerated
CheckerImaging: Disabled
Flash: Hardware accelerated
Flash Stage3D: Hardware accelerated
Flash Stage3D Baseline profile: Hardware accelerated
Compositing: Hardware accelerated
Multiple Raster Threads: Disabled
Native GpuMemoryBuffers: Software only. Hardware acceleration disabled
Rasterizat

[2018-08-10 17:31] captcha1 commented on #71
chrome://gpu for Braswell :

Graphics Feature Status
Canvas: Hardware accelerated
Flash: Hardware accelerated
Flash Stage3D: Hardware accelerated
Flash Stage3D Baseline profile: Hardware accelerated
Compositing: Hardware accelerated
Multiple Raster Threads: Disabled
Native GpuMemoryBuffers: Software only. Hardware acceleration disabled
Hardware Protected Video Decode: Unavailable
Rasterization: So

[2018-08-10 19:41] captcha1 commented on #71
... though that seems to a problem with ClipDistance, which I might not explain a SEGV in anv_shader_compile_to_nir ...

[2018-08-10 19:45] prideout commented on #71
Thanks!  The validation error is a harmless known issue. According to the following link, some Intel drivers report a `maxImageCount` of 0 while also reporting a `minImageCount` of 2 (!). That's why we print `Swap chain does not support 2 images.`

http://vulkan.gpuinfo.org/displayreport.php?id=1929#surface

In `VulkanDriverImpl.cpp`, can you try removing this section:

[code]

[2018-08-10 19:51] captcha1 commented on #71
I have "renderdoc" if that helps ... but I don't see how to tell it capture everything

[2018-08-10 20:29] #71 closed

[2018-08-10 20:43] Damianno19 commented on #42
So, I tested samples on Ubuntu with mesa drivers, and it works, so it's looks like AMD broke something 🤷‍♂️

[2018-08-10 21:37] romainguy commented on #42
@Damianno19 Thanks! Could you try with this change if possible: https://github.com/google/filament/pull/68 ?

[2018-08-10 22:40] Damianno19 commented on #42
@romainguy
I tested it. Still crash, but in different place
[Log](https://pastebin.com/8ikkPnPp)
[Callstack](https://pastebin.com/MzevJSZn)

[2018-08-12 05:11] gnagyusa commented on #67
Thank you!

[2018-08-12 09:16] Damianno19 commented on #42
@romainguy
Yes.
[dxdiag](https://pastebin.com/TEiw67BR)

[2018-08-13 21:54] romainguy opened #87 "cmgen important sampling bug"
In `CubemapIBL.cpp`, in `roughnessFilter` we invoke Hammersley with sample indices that can be greater than the max sample count. This can potentially lead to issues. We need to make sure that `sampleIndex` is not greater than `1 / inumSamples`.

[2018-08-13 22:35] banshee commented on #15
I had the same problem (a very unexpected "No toolchains found in the NDK toolchains folder for ABI with prefix: mips64el-linux-android") when I opened an old project, and fixed it by updating some build settings:

[code]

[2018-08-14 05:28] #15 closed

[2018-08-14 09:37] cgmb commented on #10
I encountered this problem with clang-3.8 on Ubuntu 16.04. That's the default version you get from `apt install clang`. I worked around the problem by using a newer version of clang.

You can install a newer version of clang with the command `apt install clang-6.0`. The version number is appended to the file name to avoid conflicting with the old clang, so you use `CC=/usr/bin/clang-6.0 CXX=/usr/b

[2018-08-14 13:30] tsuyoshimishina opened #94 "Point light doesn't work with the lit shading model?"
Set true to the g_moreLights variable in lightbulb.cpp, build the project, and then run it with the VS debugger. It throws an exception which displays the following message in the output window:

I also tried to change the directional light to a point light in the material_sandbox example, and it caused exactly the same problem (exception) above.

My testing environment is:
 - OS: Windows 10 Pro

[2018-08-14 14:27] romainguy commented on #94
Do you have a full stack trace? It looks like a debug assert is triggered inside MS implementation. Poinr lights do work fine on other platforms. You can run the lightbulb sample with -m instead of changing the code BTW.

[2018-08-14 14:55] tsuyoshimishina commented on #94
The full stack trace is following (run with the '-m' option):

[2018-08-14 15:02] romainguy commented on #94
Thanks!

[2018-08-14 19:17] AndroidDeveloperLB commented on #15
@romainguy You are correct. I was sure it's just NDK that's needed. Seems it's a lot more.
Closing this as I don't have time for this. Sorry.
Thank you for the good work.

[2018-08-15 00:38] cgmb commented on #4
It would be useful to specify the minimum versions as well. It took a few tweaks to build on Ubuntu 16.04. Starting with d9ba3998d2d986fa0b20db81fce27b5bdf0771a2, I followed these steps:

[code]

[2018-08-15 00:40] romainguy commented on #4
The README does specify that clang 5.0 is the minimum.

[2018-08-15 00:45] cgmb commented on #4
Opps. I saw that just after I posted and I edited my comment, but you're way too fast!

[2018-08-15 08:59] tsuyoshimishina commented on #94
I pulled the latest commit and tested again, and got an assertion failure at another line of xutility.

The full stack is following:

[2018-08-15 19:59] #94 closed

[2018-08-16 05:10] romainguy commented on #4
Thanks to @cgmb the readme now checks whether clang is the compiler and that it is the right version.

[2018-08-16 05:10] #4 closed

[2018-08-16 14:32] joejoepie opened #104 "Arch linux clang doesn't find standard library headers"
**Describe the bug**
With standard clang version 6.0.1 and gcc version 8.2.1 (delivers std lib on arch) there is an issue of clang complaining that he does not find following headers:

- string
- map
- cmath
- functional
- limits

When compiling self written programs these issues do not occur. I've tried to edit the CMakeLists.txt by adding the include_directories where these files reside. This wo

[2018-08-16 16:11] romainguy commented on #104
Thanks for the report. Do you have `libc++-dev` installed? We require the use of `clang` and of the clang STL. Based on the error you're describing it sounds like you don't have `libc++dev`. The README has more information on the prerequisites.

[2018-08-17 08:10] joejoepie commented on #104
Let me inform you that Arch linux has no such package. Clang in arch uses the gcc standard library by default if i'm not mistaken.

[2018-08-17 14:00] romainguy commented on #104
That may be but our code doesn't compile with GCC's standard library.

[2018-08-17 14:02] joejoepie commented on #104
Ok then it's a personal problem of mine, and i'll try to fix it. Just consider this a headsup than that your project does not compile on arch linux out of the box.

[2018-08-17 14:04] romainguy commented on #104
I definitely appreciate the heads up. I'll investigate a bit more and try to find the package name for arch Linux to update our readme.

[2018-08-17 16:08] romainguy commented on #104
`libc++` might be available under the name `libcxx`. AUR has a libc++ apparently.

[2018-08-17 16:15] joejoepie commented on #104
Building it now, i'll get back to you with results. My mistake that i didn't check that out before creating an issue.

[2018-08-17 16:16] romainguy commented on #104
No need to apologize, I know it would be a lot easier if it worked with any combination of gcc/clang/libstdc++/libc++ :)

[2018-08-17 16:43] joejoepie commented on #104
Thank you my friend! It compiles now :) Sorry for wasting your time. I'm excited to explore your engine ;)

[2018-08-17 17:11] romainguy commented on #104
Glad you were able to get it to compile, don't hesitate if you run into other issues!

[2018-08-17 17:11] #104 closed

[2018-08-21 14:26] molysgaard opened #119 "Offscreen rendering"
**Is your feature request related to a problem? Please describe.**
I am using Filament in a game-like project.
In it there is a free moving camera, controlled by the user. This camera is rendered on screen. This works great.
In addition, some of the entities in the game have their own cameras, eyes. The rendered image stream from these cameras will be used in computer vision algorithms, which agai

[2018-08-21 17:45] bejado commented on #119
I don't think we currently support rendering a camera to an arbitrary texture, so that's something that needs to be looked into. For the "copying back into process memory" part, take a look at what we're doing [here](https://github.com/google/filament/blob/master/java/src/java/com/google/android/filament/FilamentPanel.java#L143-L150) for `FilamentPanel`

[2018-08-22 11:52] molysgaard commented on #119
If I would like to make this happen, where should I start looking in the code? What components would have to be changed?

[2018-08-23 07:05] pixelflinger commented on #119
@molysgaard this is a feature we will be working on very soon.
Note that internally this is already completely supported. You could look at ShadowMap.cpp to see how to set-up a texture as a render target. Another place to look for examples is PostProcessManager.cpp.

Basically you need to create a render target from a texture:
`auto handle = engine.getDriverApi().createRenderTarget(..., textureHan

[2018-08-23 13:58] stark25795 commented on #15
Find your own local android-sdk, if you download the relevant sdk of ndk, there will be a folder called "ndk-bundle"

![image](https://user-images.githubusercontent.com/13508067/44529778-848aca80-a70a-11e8-9f8f-ae38d910cb6d.png)

There is a folder called "toolchains" inside.
![image](https://user-images.githubusercontent.com/13508067/44529814-99675e00-a70a-11e8-92ca-9286c932c092.png)

We noticed t

[2018-08-23 14:16] AndroidDeveloperLB commented on #15
@romainguy Seems "mips64el-linux-android" is missing because it got deprecated:
https://issuetracker.google.com/issues/112810603
https://issuetracker.google.com/issues/112779429

https://developer.android.com/ndk/guides/abis#sa

Please avoid using unsupported architectures.

@stark25795 The latest version doesn't have it, because of what I wrote above:
![image](https://user-images.githubuserconten

[2018-08-23 14:28] AndroidDeveloperLB commented on #15
@romainguy So... please remove it from the sample too :)

[2018-08-23 14:31] romainguy commented on #15
It's not in the samples.

[2018-08-23 14:35] AndroidDeveloperLB commented on #15
So how did I get this error (look at first post) ?

[2018-08-23 18:21] prideout opened #129 "cmgen unit test needs some love"
The tests fail if you try to replace `white_furnace`, which I think is an encoding issue that causes a related problem, which is that these two images are different:

    filament/out/cmake-debug/tools/cmgen/Footballfield/m3_nx.rgbm
    filament/tools/cmgen/tests/Footballfield/m3_nx.rgbm

I have started an attempt to fix this up in the `pr/comparison` branch.

[2018-08-23 19:46] #11 closed

[2018-08-24 02:26] allenxuan opened #133 "“Easy Build for Android” runs into a gradle error"
**Describe the bug**
"./build.sh -p android release" runs into a gradle error.

Command log shows below:
----------------------
bogon:filament allenxuan$ ./build.sh -p android release
Building release in out/cmake-release...
ninja: no work to do.
Building Android release (aarch64)...
[0/1] Install the project...
-- Install configuration: "Release"
-- Up-to-date: /Users/allenxuan/Desktop/ClionProje

[2018-08-24 02:28] romainguy commented on #133
Could you run with  --stacktrace to see where the error is please?

[2018-08-24 02:33] allenxuan commented on #133
hi @romainguy , I tried run with --stacktrace
----------------
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'filament-android'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring root project '

[2018-08-24 02:36] romainguy commented on #133
Thanks! I have no idea what's going on, it doesn't reproduce on any of my machines and configurations. The only notable difference is that you're using Java 10.

[2018-08-24 02:51] romainguy commented on #133
I just updated to the latest SDK, NDK and Gradle build tools, I can't reproduce the issue. Could you try to run the script with -c to start from a clean slate?

[2018-08-24 17:44] shartte opened #139 "Provide a C library wrapper for filament"
**Is your feature request related to a problem? Please describe.**
Use filament from other languages such as .NET, Python, or pretty much anything with a foreign function interface. C++ ABIs are vendor specific, while C can be portable.

**Describe the solution you'd like**
Provide a shared library that exposes a C ABI that is not necessarily stable or backwards compatible, but allows use of filam

[2018-08-24 17:45] shartte commented on #139
I've opened this issue here since I have an around 90% complete C wrapper based on the JNI code that I am already using from .NET successfully. I am unsure on how to proceed though since there's certainly some design discussion to be had around a C interface (naming schemes, etc.), and I am unsure whether to have that in an issue such as this, or in a PR straight away.

[2018-08-24 17:46] romainguy commented on #139
The JNI layer in `android/filament-android/src/main/cpp` is effectively a C wrapper already. It could be refactored into a separate standalone C wrapper that would be invoked by JNI.

[2018-08-24 18:03] shartte commented on #139
What would your desired naming scheme for symbols be (if any)?
Since there aren't any namespaces, should all functions be prefixed, and which naming scheme should be used?
Right now I have `EntityManager_CreateEntities`, which wraps EntityManager::create for multiple entities to create.
I guess there are a lot of different possible names for this function:
- Leave it as it is
- em_create_entities

[2018-08-24 19:33] romainguy commented on #139
I must admit I don't have much experience as a C developer, I would be inclined to go with a lower case variant sur as `fl_em_create_entities`. It seems useful to have part of the prefix be global to Filament.

[2018-08-24 23:06] ikatson opened #142 "OSX: can't figure out how to use the java JNI library, throws java.lang.UnsatisfiedLinkError: com.google.android.filament.Engine.nCreateEngine(J)J"
**Describe the bug**
Can't figure out how to use the JNI library. Trying to create "Engine" throws java.lang.UnsatisfiedLinkError.

**To Reproduce**
Steps to reproduce the behavior:

1. Download filament binaries to "filament" folder.
2. Create a file ```MyMain.class``` with this content
[code]

3. Compile

[code]

4. Run

[code]

**Expected behavior**
The app would not crash. However, this output

[2018-08-24 23:13] bejado commented on #142
Hey @ikatson, try adding
[code]
before your call to `Engine.create()`

[2018-08-24 23:16] ikatson commented on #142
It helped @bejado , thanks!

[2018-08-24 23:16] #142 closed

[2018-08-24 23:32] bejado commented on #142
@romainguy Yeah, I like the idea of automatically loading the library. Alternatively the `Engine` class could always try to load the library and issue a warning if it fails, assuming the client will then correctly call `loadLibrary` manually.

[2018-08-24 23:41] romainguy commented on #142
Oh wait we already have a way. Simply call `Filament.init()`. I should update the README to indicate this step is required.

[2018-08-24 23:42] bejado commented on #142
Ah yes, forgot about `Filament.init()` :)

[2018-08-24 23:44] romainguy commented on #142
See PR #143

[2018-08-25 02:50] allenxuan commented on #133
Hi @romainguy , I found out that "gradle configuring root project error" goes with JDK10 and JDK9.
Finally I downgrade JDK version to 8 (jdk1.8.0_181 for macOS), and Android build command works like a charm.

[2018-08-25 15:42] wefhy commented on #104
I also can't build it on Arch due to libc++ problem
I installed the `libc++` package from AUR so in my `/usr/lib/` directory I see files:
[code]
I can run examples from Clion, but when I try to build release(no matter if it's via build.sh file or CMake/Ninja) then I get:
[code]

[2018-08-25 17:29] #133 closed

[2018-08-25 19:11] romainguy opened #147 "BlueGL needs to be available for linking"
`libfilament` links statically against `libbluegl`, it must therefore be available in the install packages, like we do for `libbluevk`. It is currently not possible to link against filament outside of our CMake build system.

[2018-08-26 17:39] elfring opened #150 "Remove an unnecessary null pointer check"
[An extra null pointer check is not needed](https://stackoverflow.com/questions/18775608/free-a-null-pointer-anyway-or-check-first "Free a null pointer anyway or check first?") like in [the destructor for the class “filamat::Package”](https://github.com/google/filament/blob/c429af310e95a96835658b43eabe61440a61b5b6/libs/filamat/include/filamat/Package.h#L65 "Update candidate: Destructor for filamat

[2018-08-26 17:40] romainguy commented on #150
Indeed, thanks for the report!

[2018-08-26 17:43] elfring commented on #150
Would you like to check if any similar update candidates were left over in the source code for other software components?

[2018-08-26 17:46] romainguy commented on #150
I'm sure there are other instances. I'd love to know about them if it's not too much work for you to look for them. Otherwise I'll take a look myself.

[2018-08-26 18:01] elfring commented on #150
How do you think about to recheck the need for null pointer checks before calls of resource release functions (like “`free`”) with [the help of the semantic patch language](http://coccinelle.lip6.fr/ "Source code transformation with Coccinelle") (for example)?

[2018-08-26 23:31] pixelflinger commented on #150
@elfring Note that there are a few places in filament where we intentionally check for nullptr before free() for performance reason. This is because a call to free() is expensive -- .so calls are actually pretty heavy, they cost the equivalent of a jump + global variable dereference + function pointer branch. So in case where the call to free() is NOT the common case, it's preferable to check for

[2018-08-27 02:40] mimers commented on #15
@AndroidDeveloperLB  It seems like the old version of android gradle plugin(<3.3.+) was trying to access mips toolchain without checking if it exists. Upgrade the plugin version to 3.3-alpha may adopt to your r18-rc  NDK toolchains(as @banshee posted).

[2018-08-27 08:40] kles4enko commented on #15
for me, upgrade the Android Gradle plugin version to 3.1.3+ works.

[2018-08-27 08:42] elfring commented on #150
Would you like to point any corresponding source code places out?

* Did you measure such software costs?
* Do extra pointer checks influence the run time characteristcis really in desired ways?

Do you care for the concrete function call frequency where null pointers will be passed actually?

:crystal_ball: How do you think about to update (bundled) software libraries any further?

[2018-08-27 15:50] #147 closed

[2018-08-27 21:54] AdrianAtGoogle opened #159 "material compiler doesn't exclude comments from brace parsing"
Repo steps:

Create a custom material with a block that has a commented-out brace.  This can happen during iteration, or testing out special features.  Example:
[code]
EXPECTED: material compiles
ACTUAL: brace in commented line is parsed, yielding error `syntax error, unexpected RIGHT_BRACE`

[2018-08-28 03:05] robbiesri opened #163 "SetPixelFormat is never called on the nativeWindow HDC"
**Describe the bug**
The HDC that is drawn to and presented never has a HGLRC matching pixel format set on it. So when wglMakeCurrent is called from the HDC sourced from the ExternalContext::SwapChain/nativeWindow and the HGLRC generated in ContextManagerWGL::createDriver, wglMakeCurrent rebels and throws an error. On my most recent test machine, the native window HDC has a pixel format of 0 (sure

[2018-08-28 03:09] robbiesri opened #164 "ContextManagerWGL should use GetLastError to add information for WGL failures"
**Is your feature request related to a problem? Please describe.**
If someone is debugging WGL failures, having infrastructure that grabs GetLastError would be really helpful instead of having to plumb it manually.

**Describe the solution you'd like**
ContextManagerWGL doesn't have a ton of hook points. Just use GetLastError to grab error codes after failures. There's also Windows APIs that turn

[2018-08-28 03:18] romainguy commented on #42
See #163

[2018-08-28 03:18] #42 closed

[2018-08-28 05:30] robbiesri commented on #163
That's what I think. It fits in with the setup process for GL/WGL. The real questions are how you manage the PFD and/or pixel format index (static in the file, stashed in the `ContextManagerWGL` instance, probs more). I'll have the PR up in a bit, but player's choice on how to actually fix it 😄

Thanks for linking it back to #42. I just skimmed it, totally missed the issue with wglMakeCurrent in t

[2018-08-28 07:45] molysgaard commented on #119
For information when you get around to implementing the public API I leave the details of how we ended up making a temporary solution.

Changes to filament for plumbing a custom rendertarget here: https://github.com/google/filament/compare/master...staaker:offscreen-rendering-staaker

To create the texture and the rendering target the following was done from the application code:

    static int O

[2018-08-28 08:33] robertoranon opened #166 "Segmentation fault while running cmgen on a exr image"
Hello,

   I get a segmentation fault while running cmgen on a exr image.

Steps to reproduce the behavior:
1. download the exr image at: [https://www.dropbox.com/s/qeijjoi9uq0jt44/hdr_test09.exr?dl=0](https://www.dropbox.com/s/qeijjoi9uq0jt44/hdr_test09.exr?dl=0)
2. run` ./cmgen --format=rgbm --deploy=outdir hdr_test09.exr`

What I get on macOS X, latest filament (freshly compiled from master bra

[2018-08-28 15:33] tombsar opened #167 "Multiscattering documentation clarification"
The documentation for multiscattering energy compensation (https://google.github.io/filament/Filament.md.html#toc4.7.2) gives the following as equation 30:
[code]

(source line: https://github.com/google/filament/blob/master/docs/Filament.md.html#L573)

From the context of the section (particularly equation 28) I believe the subscripts are incorrect, and the equation should instead read:
[code]

[2018-08-28 15:36] romainguy commented on #167
You are correct, thanks! I changed the subscripts after writing the section and I apparently left out an equation.

[2018-08-28 15:39] tombsar commented on #167
I actually have several more minor corrections/nitpicks for the document. Would you prefer me to make a new issue for each section, bundle them together into a single issue, or submit a PR with my proposed changes?

[2018-08-28 15:47] romainguy commented on #167
Whatever is easier for you. I'm happy to make the changes if you list them in an issue.

[2018-08-28 16:01] #167 closed

[2018-08-28 16:08] romainguy commented on #166
I get the crash on macOS as well. We apparently crash in TinyEXR:

[code]

[2018-08-28 16:14] romainguy commented on #166
Full stack trace:

[code]

[2018-08-28 16:29] romainguy commented on #163
Closed by PR #165

[2018-08-28 16:29] #163 closed

[2018-08-28 17:53] tombsar opened #171 "Unexplained "sqr" function in documentation"
Section 4.10.1, listing 15 (https://google.github.io/filament/Filament.md.html#listing_anisotropicbrdf) makes use of a function `sqr` which is not explained in the text. Please consider changing this code example to be more explicit; my first guess was that it was a typo for `sqrt`, rather than a utility function for squaring the value.

(Additionally, it looks as though the function is actually c

[2018-08-28 17:55] tombsar commented on #171
I suggest either `pow2` (consistent with `pow5`), or re-writing the code snippet to avoid its usage altogether.

[2018-08-28 17:57] romainguy commented on #171
I'll add a comment in the code snippet explaining what `sq` does.

[2018-08-28 17:58] #171 closed

[2018-08-28 18:14] romainguy opened #172 "Documentation is needed"
We need to write on-boarding documentation in the Wiki section of the project. Most notably:

- How to setup an `Engine`, `Renderer` and `View` with SDL or equivalent
- How to setup an `Engine`, `Renderer` and `View` with Android
- How to create/load geometry
- How to create, compile and load a simple material

[2018-08-28 21:11] prideout opened #176 "cmgen should support tiled EXR images"
We need to either (a) contribute a high-level utility function to tinyexr, or (b) write or own tile assembler.

For inspiration here is a tiled-to-scanline converter:
https://github.com/syoyo/tinyexr/blob/b9f100e4a9ab80389b151fc2b53731d31035d327/test_tinyexr.cc#L75

See also:
https://github.com/syoyo/tinyexr/issues/93

[2018-08-28 21:38] #166 closed

[2018-08-29 16:01] romainguy commented on #29
Please check in `android/samples/`. I will add more samples but this should be a good start.

[2018-08-29 16:01] #29 closed

[2018-08-30 08:38] marcofugaro opened #184 "The Suzanne example doesn't work on OSX"
**Describe the bug**
Suzanne example doesn't work on latest OSX. On any browser.

In the console:

![image](https://user-images.githubusercontent.com/7217420/44839961-58a6a200-ac40-11e8-9305-52aa1e956827.png)

**To Reproduce**
Steps to reproduce the behavior:
Open this link
http://github.prideout.net/filament/web/suzanne.html on a OSX machine

**Desktop (please complete the following information):

[2018-08-30 08:46] marcofugaro commented on #184
Sorry, it was my adblocker

[2018-08-30 08:52] marcofugaro commented on #184
Actually it works 1 in 5 times, also disabling my adblocker

[2018-08-30 09:00] marcofugaro commented on #184
it wasn't my adblocker, confirmed

[2018-08-30 16:29] romainguy commented on #184
Does http://github.prideout.net/filament/web/suzanne.html work for you? It runs fine on Chrome 68 on macOS for me (not Safari).

[2018-08-30 17:39] prideout commented on #184
I'll check for a race condition between the 3D canvas and 2D canvas initialization.  Meanwhile note that the demo requires Chrome 68.

[2018-08-31 00:12] cgmb opened #187 "How to integrate a particle system?"
I'm working on a scientific visualization. I had implemented a basic PBR renderer in OpenGL for it, but my renderer still lacks a lot of the features needed for my materials. Filament, by contrast, is very fully-featured and I would love to integrate it.

However, I don't see how I can render my particle system when using Filament. I need to render 10k - 100k particles updated on the CPU. I'm curr

[2018-08-31 00:38] romainguy commented on #187
Currently the way to do this is to update a `VertexBuffer` on every frame, we're however open to suggestions on how to better support the use case of particle systems (it's on our long todo list :). Instanced rendering is also something we'd like to support so this might be a good fit for us.

What we don't want to offer though is a way to run arbitrary OpenGL calls. The main reasons are that our

[2018-08-31 02:09] cgmb commented on #172
I recently integrated filament into my GLFW application. A "Getting Started" guide would definitely have saved me time. There were a few specific things I noticed:

1. The [README](https://github.com/google/filament/tree/0097fc404e8cde09cdd8ae3ba62fcc947ec74551#rendering-with-filament) is missing the creation of `vertexBuffer` and `indexBuffer`. IMO, those are of similar importance to the other pa

[2018-08-31 02:14] romainguy commented on #172
We definitely need to write better samples and documentation. Right now a good starting point is `android/samples/hello-triangle` (except it's in Kotlin not C++ :).

For #3, the reason it works is that we automatically create a transform component for renderables when we load meshes in the sample apps (`MeshAssimp.cpp` and `MeshIO.cpp`). Which emphasizes your point about creating simpler sample ap

[2018-08-31 14:50] marcofugaro commented on #184
Yup yup, my chrome is updated. This bug is independent from browser also.

[2018-08-31 16:56] romainguy opened #188 "Engine::destroy(Entity) does not call EntityManager::get().destroy()"
Should it?

[2018-08-31 21:30] pixelflinger commented on #188
No, it only destroys the components relative to filament.

On Fri, Aug 31, 2018, 18:57 Romain Guy <notifications@github.com> wrote:

[2018-08-31 21:30] romainguy commented on #188
SG. We should update the samples to destroy the entities correctly then :)

[2018-08-31 21:30] #188 closed

[2018-09-01 13:48] UberLambda commented on #104
Same as @wefhy, I have both libc++ and libc++abi installed from the AUR (on Manjaro) but ld still can't find `-lc++`

[2018-09-03 01:08] nedtwigg opened #194 "Precompiled jar is java 9"
**Describe the bug**
The precompiled jar is java 9.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the public release.
2. The jar is class file version 53 (Java 9)

**Expected behavior**
If you're not using java 9-specific features, it would be nice to downgrade to java 8. [Java 8 still has ~85% marketshare as of May 2018](https://www.baeldung.com/java-in-2018).

[2018-09-03 01:10] romainguy commented on #194
That's a bug, it should be Java 8.

[2018-09-03 01:39] romainguy commented on #194
BTW in which of the archives do you see a Java 9 jar? (Windows, Linux or macOS)

[2018-09-03 04:11] nedtwigg commented on #194
Windows.

[2018-09-04 06:56] syoyo opened #195 "Support equirectangular coordinate output for cmgen"
**Is your feature request related to a problem? Please describe.**

`cmgen` supports reading equiangular envmap but does not support exporting processed envmap image as equiangular coordinate.

Equirectangular(longitude-latitude) coordinate is handy than cubemap since it only requires single file storage and can be easily further processed with image processing tools like imagemagick, gimp, etc.

[2018-09-04 09:48] syoyo opened #196 "cmgen with ibl-is-mipmap + EXR PIZ output crashes"
**Describe the bug**

cmgen crashes inside of TinyEXR in some situation due to out-of-bounds access(detectable by ASAN)

**To Reproduce**

1. Generate `sunsky.exr`  using `skygen`
2. Generate is-mipmap in `cmgen` with EXR as output format.

[code]

**Solution**

The reason is the size of temporary buffer for PIZ compression is not sufficient.

I don't know what is conservative&good value for it bu

[2018-09-04 16:31] romainguy commented on #196
Thank you, I will update to a newer version of tinyexr!

[2018-09-04 16:36] romainguy commented on #195
That's a good idea. It wouldn't be difficult to add such support I believe.

[2018-09-04 17:02] #196 closed

[2018-09-04 17:03] prideout commented on #176
Now that we've updated tinyexr which now handles tiled images, this issue should be trivial to close (just remove an assert)

https://github.com/google/filament/pull/197

[2018-09-04 17:04] romainguy commented on #176
Should I just remove the assert then? I preserved it just in case.

[2018-09-04 17:06] romainguy commented on #176
I just checked and TinyEXR does support tiled images in the function we call now.

[2018-09-04 17:07] prideout commented on #176
Correct, we can simply remove the assert.

[2018-09-04 17:18] #194 closed

[2018-09-04 18:14] TimvanScherpenzeel commented on #195
Another very useful format are octahedral maps as discussed in [chapter 16 of WebGL Insights](https://webglinsights.github.io/downloads/WebGL-Insights-Chapter-16.pdf). The main advantage of octahedral maps is the lack of seams and distortion.

By using this technique we can work around the following WebGL issues as mentioned in this [ticket](https://github.com/pex-gl/pex-renderer/issues/8) that st

[2018-09-04 18:18] romainguy commented on #195
WebGL is a target now but WebGL 2 which follows OpenGLES 3.0 which means it provides seamless cubemap sampling. We are not planning on supporting WebGL 1 at this point. Note however that `cmgen` contains code to generate cubemaps with seam fixups built-in. It's not as good as octahedral maps but it helps. That said I'd be more than happy to accept contributions to support octahedral maps. We just

[2018-09-04 19:03] #159 closed

[2018-09-05 06:58] syoyo opened #201 "Division by zero in FScene::computeLightRanges"
**Describe the bug**

https://github.com/google/filament/blob/master/filament/src/Scene.cpp#L264

This may trigger division-by-zero error(`f.w = 0.0`), resulting possible unexpected behavior when building light trees.

**To Reproduce**

Enable UBSAN.  then,

[code]

**Expected behavior**

Add division-by-zero check. Set `inf` to zrange if required.

[2018-09-05 07:01] syoyo commented on #201
Also found another Division-by-zero error in CubemapIBL.cpp:

https://github.com/google/filament/blob/master/tools/cmgen/src/CubemapIBL.cpp#L61

[2018-09-05 16:21] romainguy commented on #201
In the second case I don't think the division by 0 can ever happen: `f` is 0 only if `(a - 1) * ((a + 1) * (NoH * NoH))` is `-1` but `a` is always in the range `0..1`.

[2018-09-05 17:05] syoyo commented on #201
For the second case, it could be reproducable with

[code]

It happens only in a singular situation(`NoH = 1.000, linearRoughness = 0.000` input)

[2018-09-05 17:15] romainguy commented on #201
Of course, you're right. We should probably just clamp roughness like we do at runtime.

[2018-09-05 17:59] syoyo opened #202 "cmgen's mirror gives strange image result"
**Describe the bug**

cmgen's `--mirror` gives unexpected image result.

For example,  with Ditch River IBL image from http://www.hdrlabs.com/sibl/archive.html,

NX
![nx](https://user-images.githubusercontent.com/18676/45111576-423ca100-b180-11e8-91ac-0fbe7cd97043.jpg)

NX with `--mirror`

![nx-mirror](https://user-images.githubusercontent.com/18676/45111598-541e4400-b180-11e8-898e-ab2eec181933.jp

[2018-09-05 18:46] #202 closed

[2018-09-05 19:03] baranpirincal opened #207 "Logo Design: Filament"
Hey!

I am graphic designer and my motivation is make my portfolio better with supporting open-source projects. I can design a logo for Filament if you need it.

I am waiting your comments.

Best Regards
Baran Pirinçal

[2018-09-05 19:05] romainguy commented on #207
Hi Baran! Thank you so much for your offer but we already have a logo: https://github.com/google/filament/tree/master/art/logo

[2018-09-05 19:05] #207 closed

[2018-09-06 04:06] eduardobraun commented on #104
I have the same problem with Arch and the libc++ from AUR.

Building with `./build release` says that `ld` cannot find `-lc++`.

But if I try `ld -lc++ --verbose` then `ld` finds `libc++`:
[code]

Maybe It's something to do with how ninja finds the libraries, I don't really know how ninja works. I think I'll try to build using a Docker image when I have the time.

[2018-09-06 04:59] syoyo commented on #202
Thanks! Confirmed now `--mirror` works well.

[2018-09-06 16:44] prideout commented on #184
Hi @marcofugaro,

Regarding Chrome, I'm at a loss since we don't have an in-house repro. We use a specific element id when creating the context, and we only create the context once (in `Module.postRun`), and we only create it as a WebGL 2.0 context (never as a different type).

Maybe a Chrome extension or other tab somehow interfering.  Do *any* WebGL 2.0 examples for you?  For example, try [this

[2018-09-07 03:19] thirdknife opened #222 "Building fails due to missing dependencies"
**Describe the bug**
Unable to completely run ` ./build.sh -j release `

**To Reproduce**
Steps to reproduce the behavior:
1. Install clang 6.0
2. Install Ninja

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![b29b724ac30abb724d563a5591389d4e](https://user-images.githubusercontent.com/885125/45196536-c4819f80-b22a-11e8-9a52-f326deb569a5.png)

[2018-09-07 03:42] #201 closed

[2018-09-07 08:17] marcofugaro commented on #184
Hey @prideout, tried yout suzanne on a clean chrome instance and the issue doesn't happen. It was probably one of my extensions. Yes the other webgl2 examples work fine.

Alright, yes on firefox there is still a blank page.

[2018-09-07 09:57] robertoranon commented on #184
Hi,
  for me it works on Chrome 68 on Mac but ONLY if developer tools are closed. If I open the developer tools, and try to reload Susanne, I get errors. I'm on a freshly compiled build from source code I just pulled from the repository.

[2018-09-07 09:59] robertoranon commented on #184
Ok, nevermind: it was one of two webgl inspector extensions I was using. Deleted them, and now it's working fine.

[2018-09-07 10:17] marcofugaro commented on #184
Yeah I had the webgl inspector extension as well

[2018-09-07 13:47] #184 closed

[2018-09-10 11:53] syoyo opened #228 "Typo: smoothness (1.0) or roughness (0.0) in the document"
**Describe the bug**

https://github.com/google/filament/blob/master/docs/Filament.md.html#L606

Contrary value is assigned for each meanings.
This should be

[code]

[2018-09-10 17:18] romainguy commented on #228
Good catch!

[2018-09-10 17:19] #228 closed

[2018-09-10 17:43] syoyo commented on #228
😎

[2018-09-12 19:24] kvark opened #238 "Support LunarG SDK on macOS"
**Is your feature request related to a problem? Please describe.**
The current implementation is bundled with libMoltenVK.dylib, and the ICD json path is hardcoded:
[code]
This prevents easy use of the library with either SDK-provided build of MoltenVK or [gfx-portability](https://github.com/gfx-rs/portability). We got the necessary patches in https://github.com/gfx-rs/gfx/pull/2401 and the next p

[2018-09-12 19:32] prideout commented on #238
Seems like a good idea.  For detecting the SDK I guess we could just check if `VK_ICD_FILENAMES` already exists.

[2018-09-12 22:52] prideout commented on #238
Actually I think we try to implement your first proposed solution, which is to detect `VULKAN_SDK` at build time, and it's not there, then fall back to the current strategy.  The detection code could sort of look like this:

    https://github.com/SaschaWillems/Vulkan/blob/master/CMakeLists.txt#L22-L45

We do want to keep our current loading strategy as a fallback though, so that we don't force al

[2018-09-13 00:41] prideout commented on #238
Hi @kvark, hopefully PR #240 will do what you need.  Is `gfx-rs` using Filament for testing purposes?  We don't know much about that project, it looks interesting!

[2018-09-13 01:08] kvark commented on #238
@prideout thank you!

gfx-portability hasn't made as much noise as the alternative, but we've got some [interesting](https://gfx-rs.github.io/2018/08/10/dota2-macos-performance.html) [results](https://gfx-rs.github.io/2018/09/03/rpcs3-dolphin.html). We are trying to make sure all the existing (various samples, vkQuake, Dota2) and future (RPCS3, Dolphin, wine) applications to work efficiently with

[2018-09-13 14:42] prideout commented on #238
I've been wanting to learn Rust, this looks super interesting.  Good luck!

[2018-09-13 15:20] prideout opened #241 "Mobile + WebGL exhibits some shader issues."
Low roughness values causes strange rendering on my Pixel 2, it looks similar to the screenshot reported by Eric:

https://twitter.com/RaptorDeVitesse/status/1040050253548777473

[2018-09-13 15:46] #238 closed

[2018-09-13 20:53] prideout commented on #241
Hm, the term computed by `D_GGX_Anisotropic` is what's blowing up here.

Anisotropy is zero but the code path is enabled because it uses the existing sandboxLit material.

[2018-09-13 21:16] prideout commented on #241
Small values of `at` and `ab` (e.g. when they hover between MIN_LINEAR_ROUGHNESS and 0.1) cause the aforementioned term to blow up on WebGL Mobile.

[2018-09-13 22:09] romainguy commented on #241
I'll try on Android see what happens. It's surprising this computation wouldn't work, I've implemented it in WebGL directly before and successfully.

[2018-09-14 01:31] #241 closed

[2018-09-14 05:05] prideout commented on #172
As a side note, one cool thing about GitHub wikis is that they are cloneable, so we can use our favorite text editors to work on the wiki:

https://gist.github.com/subfuzion/0d3f19c4f780a7d75ba2

[2018-09-14 23:54] ad8e opened #249 "Docs for build process for WebGL on Ubuntu 18.04"
This is just a step-by-step guide of the process, for those who come after me. Success takes about 6 build attempts and some debugging; this guide will get things working on the first try for people using Ubuntu 18.04 specifically. All the necessary clues are in the docs, but not in the expected places.

Guide:
1. install emscripten. The instructions for installing emscripten at https://github.com

[2018-09-14 23:58] prideout commented on #249
Thanks, I'll improve the README.

[2018-09-17 00:44] pixelflinger commented on #172
@cgmb, at some point I decided that creating a Renderable would always create a Transform component -- because that's what we want 99% of the time. I didn't update the doc at the time. So, for Renderables, it should never be invalid.

[2018-09-17 11:09] nemerle opened #251 "Vulkan shader errors"
**Describe the bug**
Running any of the provided vk_* samples leads to a bunch of
[code]

**To Reproduce**
1. Run samples/vk_hellopbr

**Expected behavior**
No errors :)

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - GPU: NVIDIA GTX 1080 and GTX 970  (driver ver. 396.54 )
 - Backend: Vulkan

**Additional context**
startup log:
[code]
[sdkinfo.txt](https://github.com

[2018-09-17 15:46] prideout commented on #251
Interesting, thanks for the report.  I don't see this today on master debug or release on my Quadro M4000 with driver ver. 384.111

[2018-09-17 18:14] #249 closed

[2018-09-17 18:48] prideout commented on #251
Since this is a validation error, it could be more related to the LunarG SDK than the driver.  @nemerle maybe you could do `vulkaninfo > sdkinfo.txt` and attach the resulting text file?

Meanwhile I'll see if my SDK is up to date.

[2018-09-17 20:17] nemerle commented on #251
Sure thing, attached the log from my home machine which exhibits the same behavior ( same os/driver just a different gpu )

[2018-09-18 08:46] pixelflinger commented on #187
Note that we do support rendering points, all the necessary attributes are available in GLSL (e.g. point size), so you should already be able to render a bunch of textured points with varying sizes, using a custom material. I'd be curious to see how far one can go.
The particule simulation itself has to be done on the CPU right now. You also need to provide a correct bounding box.

[2018-09-18 09:43] AndroidDeveloperLB commented on #15
@chris118 What worked? Which sample worked for you?
I think I tried them all. What did you do?

[2018-09-19 11:59] adrianodelvigna commented on #15
@AndroidDeveloperLB, I had the same problem with another project. I followed the instructions from [Android Plugin for Gradle release notes](https://developer.android.com/studio/releases/gradle-plugin); you may try to change your Project Structure settings as (check **bold** for the changes):

- Gradle version: **4.4**
- Android Plugin Version: **3.1.0**
- Android Plugin Repository: jcenter, **goo

[2018-09-19 18:41] AndroidDeveloperLB commented on #15
On which sample?
I tried now on "hello-triangle", "image-based-lighting", and "lit-cube" , and all show this error now:

`SDK location not found. Define location with sdk.dir in the local.properties file or with an ANDROID_HOME environment variable.`

Thing is, it points to a correct place, so it should be fine...

![image](https://user-images.githubusercontent.com/5357526/45774055-aec1a080-bc54-1

[2018-09-19 18:44] romainguy commented on #15
@AndroidDeveloperLB You need a `local.properties` in `android/filament-android` too.

[2018-09-19 19:13] AndroidDeveloperLB commented on #15
@romainguy It doesn't let me open the project as one with all 3 samples with `filament-android` , so I can't have it all :

![image](https://user-images.githubusercontent.com/5357526/45774586-04e31380-bc56-11e8-8096-098a187fcc29.png)

Also, I think the samples don't use this, no?

I now tried to open each of them separately, and it still doesn't help. Tells me "module not specified", but I can't e

[2018-09-19 19:14] romainguy commented on #15
`filament-android` is a library required by each sample. Just copy your local.properties in `filament-android` then open a sample.

[2018-09-19 19:31] AndroidDeveloperLB commented on #15
@romainguy Copy it? Copy it to where?
As I've shown now, when I open the sample after I've opened the `filament-android`, it doesn't let me run anything, as it can't find the module to run. Look:

![image](https://user-images.githubusercontent.com/5357526/45776483-ade03d00-bc5b-11e8-9723-f98190ac41d0.png)

[2018-09-19 19:32] romainguy commented on #15
Copy that file inside the filament-android directory.

[2018-09-19 19:42] AndroidDeveloperLB commented on #15
Copy it to where?
The content seems fine on both projects.
It leads to a correct path.

[2018-09-20 07:46] feliwir opened #278 "Volume rendering support"
Hello everyone,

i am interested in rendering medical volume images using filament. It's very useful to combine augmented reality with medical data like e.g. CT images. Since i am working in medical computer science i'd be happy to contribute to this idea.

**Describe the solution you'd like**
Implement a simple single pass volume renderer and add the possibility to pass 3D image in memory. Add su

[2018-09-20 09:19] danielpunct commented on #15
Uninstalling the NDK worked for me ( had the problem from Unity )

[2018-09-20 15:31] prideout commented on #278
I've worked on volume renderers, they are cool but Filament's core strength is surface rendering, with physically-based lighting and materials. This is probably out of scope for the library.

Also note that Filament does not have AR functionality, we are lower level than that.

[2018-09-20 15:31] #278 closed

[2018-09-20 16:06] romainguy commented on #278
What is required for volume rendering exactly btw? Can this be done with custom materials and 3D textures?

[2018-09-20 16:42] prideout commented on #278
Yes a volume rendering API could either be (1) "give us a 3D texture we'll ray march it for you...oh and give us coords for a cuboid that the texture maps into, so that we can honor the camera correctly" or it could be (2) "give us some surfaces and desired voxel resolution, we'll voxelize them for you".

If we do the ray marching in filament we'd probably want to let clients configure the march s

[2018-09-20 16:47] romainguy commented on #278
My point was that ray marching could be done in a custom material right? It sounds like all we need is support for 3D textures (which would be useful for other features anyway).

[2018-09-20 16:52] prideout commented on #278
Yep, if we merely supported 3D textures, the client could set up a screen-aligned quad and do all the hard work on their end.  We could claim that "we support volume rendering" and it would technically be true :)

[2018-09-20 18:15] romainguy opened #281 "Gradle tasks should use compilers as input dependency"
Our Android samples use custom Gradle tasks for cmgen, matc and filamesh. Unfortunately they do not use the executable itself as a dependency, which means that after updating these binaries the tasks must be run manually (or perform a clean build).

[2018-09-20 22:12] pixelflinger opened #283 "cmgen doesn't honor the requested output size when generating importance sample levels from a cubemap"
If the source is a cubemap of dimension N, the output importance sampled data (is_m*.*) is of dimension N instead of the requested size (-s option) which is ignored. The prefiltered data is of the correct size.

[2018-09-21 17:09] douglasdcc commented on #15
@stark25795 your solution was great. Thanks, buddy!

[2018-09-21 21:25] AdrianAtGoogle opened #293 "Desktop rendering has Z-fighting when depth prepass is enabled"
**Describe the bug**
On Desktop, GL seems to compute slightly different clip-space values for triangles between depth prepass and normal render.  This means that when the normal render (using `GL_LEQUAL`) runs, some fragments incorrectly compute a depth slightly behind what is found in the zbuffer and they are culled, leaving holes in the image.

Does NOT repro in GLES (via swiftshader)

Does NOT

[2018-09-21 21:29] romainguy commented on #293
We've seen this issue happen on Linux in the past, it doesn't repro on Windows nor macOS. We are using `invariant gl_Position` precisely to avoid this issue. What drivers are you using?

[2018-09-21 21:43] AdrianAtGoogle commented on #293
(hope I did this right)
[code]

[2018-09-21 23:40] romainguy commented on #293
Thanks, could you attach the model as well please so we can repro? Or does this happen with any model?

@prideout Could you take a look next week please?

[2018-09-21 23:57] prideout commented on #293
Will do.

[2018-09-23 16:43] cqllzp commented on #15
I solved this！miss mips64el-linux-android-4.9 mipsel-linux-android-4.9

[2018-09-24 09:09] ktiniatros commented on #15
Btw you don't really need to find the actual mips64el-linux-android-4.9 mipsel-linux-android-4.9 contents. You can just create a folder with the same name and copy contents from another architecture.

[2018-09-24 17:39] AdrianAtGoogle commented on #293
Model: Nvidia GM206GL [Quadro M2000]

[2018-09-24 18:36] prideout commented on #293
Adrian gave me some pointers offline and I am able to repro with the sushi model on a Quadro M4000 with 384.111.

I had a theory that the invariant qualifier was getting dropped by shader optimization, but it seems to occur regardless of the opt level.

[2018-09-24 23:43] prideout commented on #293
For the depth pass, we always pass `depth_main.vs` straight to GL, no optimizations:

    gl_Position = getClipFromWorldMatrix() * material.worldPosition;

For the color pass, we have the same line in `main.vs`. However the the asset has optimized shaders, so the finalized GLSL looks like:

    vec4 _712 = (objectUniforms.worldFromModelMatrix[0] * _650.x) + ((objectUniforms.worldFromModelMatrix[1]

[2018-09-25 00:14] romainguy commented on #293
We should try to optimize depth_main. I'm surprised it's not actually.

[2018-09-25 11:14] nemerle commented on #251
Just an update, the problem still persists on driver version 410.57

I have no idea if this is caused by that problem, but I'm getting rendering artefacts in vk_viewtest
![peek 2018-09-25 13-11](https://user-images.githubusercontent.com/96597/46011037-eb622180-c0c4-11e8-8604-576f427f0db1.gif)

[2018-09-25 16:13] prideout commented on #251
Interesting thanks!  I see the `vk_viewtest` issue too, we'll take a look at both of these issues soon.

[2018-09-25 17:01] prideout commented on #293
Normally it is optimized but this particular build of Filament is not built with CMake. I've confirmed that this fixes the problem, following up with Adrian offline.

[2018-09-25 22:40] #283 closed

[2018-09-26 16:50] SrgGroot commented on #15
I've been working on getting this solved for a good few days now. I got it working on android after I broke it trying to use an npm package called 'react-native-splash-screen'.

Upgrading my gradle version in the top-level project build gradle to version 3.1.3 solved the problem in my situation. I should mention that before I tried that, I deleted the android folder and rebuilt it because I kept g

[2018-09-26 23:23] romainguy opened #309 "GLES 3.0/3.1 confusion in our implementation"
Filament requires OpenGL ES 3.0 only but in `gl_headers.h` we assert on the fact that OpenGL ES 3.1 headers are present. In addition, MSAA only works with OpenGL ES 3.1 as currently implemented. We should fallback on the extension when running on 3.0 hardware.

[2018-09-26 23:33] romainguy commented on #251
@prideout So @bejado's link fix doesn't solve this problem?

[2018-09-27 00:02] prideout commented on #251
I don't have a repro yet for the InconsistentSpirv reported by @nemerle  but there is a good chance it might fix that.

@nemerle note that 13cb47e has been merged to master, and might possibly fix this issue.

[2018-09-27 05:09] prideout commented on #293
Adrian has informed me that this worked, closing.

[2018-09-27 05:09] #293 closed

[2018-09-27 09:57] nemerle commented on #251
Checked out a clean 86b8a973
[code]

[2018-09-27 15:51] prideout commented on #251
Thanks for the attempt!  I do have a GeForce card in the office, so I'll try with that later today.

[2018-09-28 01:42] romainguy opened #313 "Set presentation time on Android right before eglSwapBuffers()"
To facilitate media recording, etc. we should set the presentation time just before swapping buffers.

[2018-09-28 01:46] romainguy opened #314 "Add Android helper to upload a Bitmap to a texture"
For the Java/Kotlin APIs, to avoid a copy to a `ByteBuffer`.

[2018-09-28 16:29] landon-hillyard commented on #15
I have been battling this error for a week now. Could you elaborate on how exactly you upgraded your gradle version. Pretty new in Android Studio so any extra clarity is much appreciated.

[2018-09-28 16:41] SrgGroot commented on #15
@landon-hillyard I have tried so many things I can't even remember how I got it to work.
Things I've tried:

- Delete android and node modules folder, run 'npm install' and 'react-native upgrade' to rebuild those folders.
- Go into 'Project Structure' (top right, folder icon with three blue squares) and then go to 'project' then put in your grade version and android plugin version.
- Check the top

[2018-09-28 17:53] landon-hillyard commented on #15
@SrgGroot Thanks for your suggestions. Attached are the changes I made. No luck. Still have.
"No toolchains found in the NDK toolchains folder for ABI with prefix: mips64el-linux-android"
![capture1](https://user-images.githubusercontent.com/43597100/46224622-b5fb4500-c30b-11e8-9fea-8df2815ee0c3.JPG)
![image](https://user-images.githubusercontent.com/43597100/46224681-e4792000-c30b-11e8-8d98-a9187

[2018-09-28 17:56] SrgGroot commented on #15
Yeah try that.

Did you delete and rebuild the android and node_modules directories?

On Fri, Sep 28, 2018, 1:53 PM landon-hillyard <notifications@github.com>
wrote:

[2018-09-28 18:13] landon-hillyard commented on #15
Tried updating the classpath. Got this result.
![image](https://user-images.githubusercontent.com/43597100/46225844-556e0700-c30f-11e8-9470-533fd6eb3246.png)
Sorry where are the android and node_modules directories?
![image](https://user-images.githubusercontent.com/43597100/46225921-949c5800-c30f-11e8-94d6-398783e69134.png)

[2018-09-28 20:16] landon-hillyard commented on #15
I think I figured it out. See below.
![image](https://user-images.githubusercontent.com/43597100/46231393-9ae70000-c320-11e8-880a-b5d0ba7cf275.png)
Uncheck NDK. Then Apply. No longer get the missing NDK toolchains error. Now I am missing a library, but that is a separate issue.

[2018-09-28 21:39] pixelflinger commented on #195
Fixed in #317

[2018-09-28 21:39] #195 closed

[2018-09-29 05:27] syoyo commented on #195
Thank you!

[2018-09-29 06:46] syoyo opened #320 "Inconsistency in `type` parameter from cmgen help document"
**Describe the bug**

There are `faces` and `cubemap` in the help document of type argument.

[code]

According to source code,

https://github.com/google/filament/blob/master/tools/cmgen/src/cmgen.cpp#L252

`cubemap` should be replaced with `faces`

[code]

But in my humble opinion it would be better to use `cubemap` term  instead of `faces` for better understanding.

[2018-09-30 20:41] shartte opened #321 "Use span's instead of pointer+count arguments"
This ocurred to me while creating the API json spec. There are several (not many) methods in filament that take an array and a size argument. Examples:

[code]

C++20 added std::span, while before then, there were things like gsl::span. When filament moves to C++20, I request that at least overloads for these methods are provided that take a std::span instead of the pointer+count arguments.

This

[2018-09-30 20:48] romainguy commented on #321
If you look at our APIs you will see that we never expose STL types (in signatures or as private members). This is to help with ABI compatibility and to not force the use of STL on client apps.

[2018-09-30 20:57] shartte commented on #321
Oh, I didn't actually notice that yet. I am a bit puzzled on the ABI compatibility though, since filament doesn't seem to be built as a shared library, and doesn't that make it a moot point?

[2018-09-30 20:58] romainguy commented on #321
You would still need the headers used by the client app to match whatever was used to compile Filament. We link statically against the STL (and it's nice that we could go back to a .so easily).

[2018-09-30 21:01] shartte commented on #321
Alright, understood.
An alternative for API purposes would be going for some annotation based approach, linking the array & size arguments. I think at some point I saw something like that for static-analysis purposes.

[2018-09-30 21:01] #321 closed

[2018-10-01 09:05] kjknair commented on #15
Update the android tools version in project-level `build.gradle`.

[2018-10-01 18:55] #320 closed

[2018-10-01 19:12] pixelflinger commented on #309
I'm looking at this.

[2018-10-01 22:14] pixelflinger commented on #309
Okay so actually requiring the ES31 headers is correct. We should always include the most recent headers so that we can use ES31 features (such as MSAA) natively. In the future we might even require ES32 headers. However, we must MAKE SURE that we're running on an ES30 implementation.

[2018-10-02 06:50] syoyo commented on #320
Thanks!

[2018-10-02 12:45] friederbluemle commented on #15
This is a very annoying problem with an old version of the Android Gradle plugin that only surfaced recently due to mips support being removed from the Android SDK. As stated above, it has _nothing_ to do with the **filament** project.

Without downloading or copying anything, you can "fix" the error by simply creating an empty directory where the older version expects it:

    mkdir -p $ANDROID_H

[2018-10-02 16:16] fera10 commented on #15
I am using Windows, and creating the empty folders fixed the problem.
Exactly I created the following directories: \mips64el-linux-android\prebuilt\windows-x86_64
Under my $ANDROID_HOME which in my case is C:\Users\myusername\AppData\Local\Android\sdk\ndk-bundle\toolchains\
I run the application again and this time no more errors.
Thanks for the help

[2018-10-02 22:19] #309 closed

[2018-10-03 06:33] syoyo opened #332 "roughness-prefilter failed to write generated files to current directory"
**Describe the bug**

They try to write files to root directory.

[code]

This works for example

[code]

** OS

Linux

[2018-10-03 20:43] CharlesStover commented on #15
For those of you using stark's solution of downloading an older NDK and merging the two versions, the one you will need is **16c**.

[2018-10-03 20:51] prideout commented on #332
Ah, I see this too on my Linux machine.  Will fix.

[2018-10-03 21:07] prideout commented on #251
I am now using NVIDIA 390.87, still no repro with debug or release.

[2018-10-03 21:23] prideout opened #334 "Vulkan samples panic when resizing the window"
I'm hitting a panic with recent NVIDIA driver on Linux: "Stale / resized swap chain not yet supported."

[2018-10-04 08:27] MNGsulochana commented on #15
Try to update the studio..If u r trying to upload old project then update the gradle as manually to the latest

[2018-10-04 14:31] #332 closed

[2018-10-04 20:08] PixleProgrambetaxl commented on #187
+1

[2018-10-04 20:27] yrizk commented on #15
tried what @MNGsulochana said and yeah AS version 3.2 is working

[2018-10-04 21:18] pixelflinger commented on #313
fixed in #315

[2018-10-04 21:18] #313 closed

[2018-10-04 23:05] gtarplyer1 opened #344 "Visual Studio issue"
Hi,

I know you don't officially support compiling on MS Visual Studio (2017).  I'm trying it anyway, just for the "fun" of it.  If you feel like helping, great!

  I'm starting with trying to build the BlueGL library, and it fails to build in BlueGLCoreWindowsImpl.S     One issue was a missing line saying ".model flat" before the ".code"  line.  So I added that.
The next problem is lots of undefi

[2018-10-04 23:09] bejado commented on #344
Hi, we support using Visual Studio to compile, but you must be using a Clang tool chain. That specific file is an assembly file and it sounds like you’re trying to compile with MSVC which we do not support. How did you generate the VS project?

[2018-10-04 23:52] gtarplyer1 commented on #344
Nevermind, everything is good.  Looks like I got Filament building under VS using the LLVM toolchain. I'll just stick with LLVM for everything.

Thank you again ! :-)

[2018-10-05 00:05] gtarplyer1 commented on #344
Looks like I spoke too soon.  Even CLANG is having problems compiling that Assembly file.   BlueGLCoreWindowsImpl.S   ".MODEL must precede this directive" , then the "r11 undefined" error after the .MODEL is added.

[2018-10-05 00:09] gtarplyer1 commented on #344
I'm using CLANG 7.  Maybe I should be using CLANG 6, like the instructions say.

[2018-10-05 00:36] gtarplyer1 commented on #344
Still a problem.

[2018-10-05 06:49] syoyo commented on #332
Thanks! Confirmed the issue has been solved on my Linux.

[2018-10-05 09:43] petru-sabadac commented on #15
Linux & Mac
`cd  ~/Library/Android/sdk/ndk-bundle/toolchains

ln -s aarch64-linux-android-4.9 mips64el-linux-android

ln -s arm-linux-androideabi-4.9 mipsel-linux-android`

[2018-10-05 12:38] Dborah commented on #15
This worked for me. Thanks @petru-sabadac :)

[2018-10-05 13:07] bejado commented on #344
I can't reproduce that exact error, but my hunch is that you're still using MSVC to try to compile BlueGL because [.MODEL](https://msdn.microsoft.com/en-us/library/ss9fh0d6.aspx) is a Microsoft-specific directive. You should run CMake on the root Filament CMakeLists.txt and ensure you're specifying the correct toolchain with the `-T"LLVM-vs2014"` flag.

As for MSVC and Clang compatibility, your in

[2018-10-05 17:29] gtarplyer1 commented on #344
ok. I'm using VS 2017, and the toolchain I specified was just "LLVM".    I think it couldn't find the LLVM-vs2014 toolchain because cmake complained, I'll try again.  It didn't complain when I specified "LLVM".  As a side note, I thought it was odd that in the Filament compile instructions, you are using VS 2015, but then specify a LLVM-vs2014 toolchain:  cmake -T"LLVM-vs2014" -G "Visual Studio 14

[2018-10-05 23:56] angeloraso commented on #15
@friederbluemle this works for me. Thanks!

[2018-10-06 01:18] gtarplyer1 opened #350 "Shadows?"
Does Filament do shadows?  Or better yet, what is the state of the shadows feature?

I think it does do shadowing, the render with the chess pieces has shadows, but they do not look correct.  They look too light, or maybe where the shadow meets the chess piece, its too light, it should be darker as is gets closer to object.

Thanks for any info.

[2018-10-06 03:40] duyhungws commented on #15
This worked for me. Thanks @petru-sabadac

[2018-10-06 05:17] RichieDevereux commented on #15
### I had the same problem with a tutorial from Codelabs..

[https://codelabs.developers.google.com/codelabs/constraint-layout/index.html?index=..%2F..%2Fio2018#0](url)

When I imported the project to Android Studio 3.14 & 3.2
I got..."No toolchains found in the NDK toolchains folder for ABI with prefix: mips64el

Tried lots of ways and found the easy way.
Just uninstall NDK tools  from SDK tools.

[2018-10-06 06:56] romainguy commented on #350
Filament supports shadows yes.

[2018-10-06 06:56] #350 closed

[2018-10-06 07:12] pixelflinger commented on #350
We only support hard shadows from the single directional light. We don't use cascades, but compensate somewhat with LiSPSM, which uses a projection that gives more resolution to shadows closer to the camera.  We also employ various techniques to fight shadow acne, none being perfect. We don't support raytracing or anything like that.

[2018-10-06 22:12] gtarplyer1 commented on #344
Problem solved, you can close this thread. Thank you for your help :-)

[2018-10-07 08:38] bejado commented on #344
I agree, the LLVM toolchain naming scheme is confusing. Glad you were able to get it working!

[2018-10-07 08:38] #344 closed

[2018-10-09 19:38] roxlu opened #358 "Compiling on Arch Linux fails: "Allocator.h:639:32: error: no matching member function to 'alloc'"
**Describe the bug**
When compiling on *Linux arch680 4.18.12-arch1-1-ARCH* an error is caused in Allocator.h.
See *Additional context*  below.

**To Reproduce**

1. Create test-build.sh with the following contents in the root of the filament repository.

[code]

2. chmod 777, then run this script.

**Expected behavior**
Successfull compilation.

**Desktop (please complete the following informatio

[2018-10-09 19:40] romainguy commented on #358
What is your version of clang?

[2018-10-09 19:42] roxlu commented on #358
I've updated the issue above.

[2018-10-09 21:00] roxlu commented on #358
I was able to compile by making the making the following changes (quickfix):

**./CMakeLists.txt**

- Commented `set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -stdlib=libc++")` at line 108.
- Commented `link_libraries("-static-libgcc -static-libstdc++")`at line 115.

**./libs/utils/CMakeLists.txt**

- Commented `test/test_Allocators.cpp` at line 97.
- Commented `test/test_JobSystem.cpp` at line 103.

**

[2018-10-09 21:03] romainguy commented on #358
This fix won't work, we want to make sure we always compile with `libc++` and not with GCC's STL.

[2018-10-10 16:57] roxlu commented on #358
@romainguy I understand; until then this gives people at the ability to compile the library and have a look at the samples. In the end you want this library to compile on any platform that it supports. I'm happy to help / test a bit more.

[2018-10-10 20:57] prideout opened #366 "ImGui regression with new UBO management"
After 94d224e, the `vk_imgui` sample segfaults, even after changing its backend to OPENGL.

[2018-10-10 21:01] #366 closed

[2018-10-10 22:27] nxrighthere commented on #139
Would love to hear any progress on this, and I can help with interop for .NET.

[2018-10-11 09:00] karjonas commented on #222
This bug is still present for me and probably for everyone running Ubuntu 16.04, but I found a workaround from [here](https://github.com/ucbrise/anna/issues/1#issuecomment-380068473). By adding `-DCMAKE_CXX_FLAGS="-I/usr/include/libcxxabi/"` to cmake it works.

[2018-10-12 04:12] tomalsg commented on #15
@petru-sabadac this works for me. Thanks!

[2018-10-12 08:58] nemerle commented on #251
After upgrading to latest commit, and vulkan validation layers to 1.1.85, things got better:
[code]

The graphical corruption presented before still occurs though.

[2018-10-14 05:45] livepk commented on #15
If you Found error 👍
No toolchains found in the NDK toolchains folder for ABI with prefix: mipsel-linux-android

Then go to gradle-wrapper.properties and change distibutionUrl to letest gradel
i change
distributionUrl=https\://services.gradle.org/distributions/gradle-4.6-all.zip
to
distributionUrl=https\://services.gradle.org/distributions/gradle-4.9-all.zip

[2018-10-14 19:06] uromastix87 opened #376 "compiling application using binaries"
I pulled the git repo and followed the instructions and was able to build using ninja and run the samples fine. However, I'm lost when I want to make my own project. I downloaded the binaries from here:
https://github.com/google/filament/releases
then made a .cpp file like this:
[code]

My directory structure looks like this:
`bin  docs  include  lib  main.cpp  makefile  README.md`
My make file lo

[2018-10-14 21:49] bejado commented on #376
I don't think that's the correct way to link against static libraries using Clang. You need to set the library search path with `-Llib/x86_64/` and then specify the names of libraries to link against. And looking at some of the linker errors, I think you'll also need to add the `-pthread` flag:

[code]

[2018-10-15 15:39] bejado commented on #376
Here's a full Makefile that worked for me. I had to copy some linker flags from Filament's root [CMakelists](https://github.com/google/filament/blob/master/CMakeLists.txt) and rearrange the `OBJECTS` order.

[code]

[2018-10-15 15:39] romainguy commented on #376
We should document this :) It's effectively what the JNI bindings do btw. The Android bindings run a different build system.

[2018-10-15 16:18] #376 closed

[2018-10-17 03:10] uromastix87 opened #390 "Build.sh no longer compiles due to Allocator.h"
**Describe the bug**
Attempted to compile using build.sh and get an error after ninja has begun building.

**To Reproduce**
pull repo
export CC and CXX as /usr/bin/clang and /usr/bin/clang++
run build.sh

**Screenshots**
Here is the output.
[code]

**Desktop (please complete the following information):**
 - OS:  4.18.12-arch1-1-ARCH

**Additional context**
The build was working fine around Septemb

[2018-10-17 03:17] romainguy commented on #390
Thanks for the report, I'll take a look tomorrow. It should be an easy fix. We do compile our Android builds with clang 7 so I'm not sure what could have changed to explain this.

[2018-10-17 04:18] pixelflinger commented on #390
This is similar to #358

[2018-10-17 07:02] shoarma commented on #15
i think i fixed the problem. i just went to the website to download the ndk and clicked download older version.
![ndk old version](https://user-images.githubusercontent.com/44223362/47067678-72994580-d1ea-11e8-89e0-8d60ecc8eaad.PNG)

and i pressed the second download on there (december 2017)
![ndk old downlaod](https://user-images.githubusercontent.com/44223362/47067785-c310a300-d1ea-11e8-916b-585

[2018-10-17 11:01] friederbluemle commented on #15
@shoarma You might have missed the message I posted above - there is no need to download or install anything!

[2018-10-17 21:46] romainguy commented on #390
Yes, it's a dupe of #358. I'll close this one.

[2018-10-17 21:46] #390 closed

[2018-10-18 00:45] romainguy opened #394 "WebGL docs should be included in archives"
The docs generated in `docs/webgl` should be included in the web archive produced by `build.sh`.

[2018-10-18 19:15] prideout opened #397 "FXAA causes a line of black pixels at top of viewport."
I noticed this with Vulkan but I see it with WebGL too, where it's a little more irksome, especially on low DPI displays.

I'm pretty sure this is caused by the post-process pass, because it definitely goes away when I turn off post-processing.

[2018-10-18 19:21] romainguy commented on #397
You can see it in GL too on desktop. I think we have a rounding error in the postprocess shader. It's on the right side too sometimes.

[2018-10-18 22:35] Chainfire opened #403 "Mint/Ubuntu: __cxxabi_config.h not found"
On my fully upgraded Mint 18 install (Ubuntu Xenial based), the following error occurs when trying to build:

`/usr/include/c++/v1/cxxabi.h:21:10: fatal error: '__cxxabi_config.h' file not found`

Adding `-DFILAMENT_REQUIRES_CXXABI=true` did not help, but adding CXXFLAGS did:

`CC=/usr/bin/clang CXX=/usr/bin/clang++ CXXFLAGS=-isystem\ /usr/include/libcxxabi cmake -G Ninja -DCMAKE_BUILD_TYPE=Releas

[2018-10-18 22:36] romainguy commented on #403
Thanks for the report. I'd like to understand why an extra include flag is required on Mint.

[2018-10-19 06:39] Chainfire commented on #403
I think it may have something to do with the default version of libc++-dev (3.7.0-1ubuntu0.1) on this distro. Other references to this issue also state this specific version.

If you need any specific information from my install, let me know.

[2018-10-19 11:15] li20190 opened #407 "RangeSet code typing error"
there is a typing error in filament\libs\utils\include\utils\RangeSet.h at line 61, but it dosen't affect the app running:

        std::array<TYPE, RANGE_COUNT> mElements; =>         std::array<TYPE, CAPACITY> mElements;

isn't it?

[2018-10-19 16:39] romainguy commented on #407
Looks like you're right :)

[2018-10-19 18:42] romainguy commented on #403
Does Filament compile with the default libc++-dev that's preinstalled?

[2018-10-19 18:42] #407 closed

[2018-10-19 20:36] prideout commented on #397
Renamed the issue. This goes away when I leave postprocessing on, but disable FXAA.

[2018-10-19 21:42] bejado opened #412 "Windows CI builds have filament-java.jar built with the Java 9 SDK"
We should explicitly check for Java 8

[2018-10-19 22:46] prideout commented on #397
Our `PostProcess_AntiAliasing` function uses the `resolution` uniform to compute texel size, which seems to be 800 x 200 in my test case.  However I'm seeing that my actual surface size (allocated by `RenderTargetPool`) is 800 x 224.

I think there are two problems here.  (1) our half-texel offset is slightly wrong; should be 0.5/224.0 rather than 0.5/220.0 and (2) we need to manually clamp our te

[2018-10-19 23:04] bejado commented on #412
Fixed by #413

[2018-10-19 23:04] #412 closed

[2018-10-19 23:42] #397 closed

[2018-10-20 20:19] romainguy commented on #403
Thanks. I'm surprised `-stdlib=libc++` is needed since that's what we use in our CMake files.

[2018-10-21 02:52] rkatos commented on #15
Thanks to all who worked this out! Adding the empty mips architecture files worked for m.

[2018-10-22 07:14] Chainfire commented on #403
Just checked again and you are of course correct - it's just `LDFLAGS="-lc++"`  that is needed to fix compilation.

[2018-10-22 12:58] molysgaard opened #415 "Question: How to best render a scene both normally (as light) and with a different material (think thermal night vision)."
**Is your feature request related to a problem? Please describe.**
This is more of a question, and not a bug/feature report. I just didn't know where else to ask questions.

I have a scene that I am rendering in the visual light spectrum. This is done exacly as fillament is intended.
In addition I would like to render the scene in another part of the electromagnetic spectrum, thermal imaging.
The

[2018-10-22 15:04] romainguy commented on #415
It's a feature we actually recently got rid of. There used to be a way to set an "override" material on a `View`, to achieve precisely what you are describing. It was however complicating the render loop. @pixelflinger can talk more about this.

Another way to achieve this (which is not very easy I admit), is to create 2 renderables per mesh, with different material instances. The renderables can

[2018-10-23 03:18] pixelflinger commented on #415
To expand of the solution proposed by @romainguy , you can create 2 renderables per mesh with different materials and add BOTH to the scene -- and they can share the same transform using parenting (e.g.: the thermal entity can be parented to the normal one, with identity transform) -- but in different layers. This way it'll be very easy to switch between the two renderings, just activate/hide the

[2018-10-23 05:16] linguyen commented on #15
Thank you! It works finally. Adding empty files as @friederbluemle mentioned.

[2018-10-23 17:49] prideout commented on #394
I'll give it a shot, should be possible. Users can't simply open the HTML tutorials from their local filesystem due to CORS restrictions, however our docgen script has a `--disable-demo` option that we would use for the bundled tutorials.

I did an experiment to confirm that the Kokoro machines we use for the webgl builds already have Python 3 on them, which is what our docgen script uses.

[2018-10-24 15:55] #394 closed

[2018-10-24 17:29] prideout opened #423 "Strange roughness in redball web demo"
There's a visual aberration in the redball JS tutorial... half the ball is more rough than the other half.  Not sure yet if this is an app issue (bad normals?) or a WebGL-specific issue (shader compiler bug?) or an actual bug in Filament's shaders.

![redball2](https://user-images.githubusercontent.com/1288904/47449357-4bf18680-d777-11e8-90df-105e41c52666.gif)

I'm less worried about the dark spot

[2018-10-24 17:55] romainguy commented on #423
This looks like a broken ibl. What happens with roughness 0?

[2018-10-24 18:35] prideout commented on #423
After removing the IBL, the specular highlight still changes shape strangely:

![redball3](https://user-images.githubusercontent.com/1288904/47453164-e4403900-d780-11e8-977b-cf5c332b8eeb.gif)

[2018-10-24 18:39] prideout commented on #423
Next I'll try visualizing normals, since my spheregen code could be bad...

[2018-10-25 13:43] obeletski opened #426 "Build fails on Ubuntu 14.04"
Compilation fails on Ubuntu 14.04
cmake version 3.4.1
ninja 1.8.2
clang 5.0 and 6.0 tried

See logs below

Running easy build: ./build.sh release
Building release in out/cmake-release...
-- The C compiler identification is Clang 6.0.1
-- The CXX compiler identification is Clang 6.0.1
-- Check for working C compiler using: Ninja
-- Check for working C compiler using: Ninja -- works
-- Detecting C c

[2018-10-25 13:45] romainguy commented on #426
Which version of libc++-dev do you have?

[2018-10-25 13:56] obeletski commented on #426
Looks like 1.0

apt show libc++-dev
Package: libc++-dev
Priority: extra
Section: universe/libdevel
Installed-Size: 5 873 kB
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: LLVM Packaging Team <pkg-llvm-team@lists.alioth.debian.org>
Source: libc++
Version: 1.0~svn199600-1
Provides: libstdc++-dev
Depends: libc++1 (= 1.0~svn199600-1), libc++-helpers
Download

[2018-10-25 14:03] romainguy commented on #426
You'll need a newer version of that library. We have to build our own in CI on Ubuntu 14 (you can check the script in build/linux).

[2018-10-25 14:06] obeletski commented on #426
I was suspecting that problem was in C++ headers. I will check your scripts, thanks.

[2018-10-26 17:02] prideout opened #429 "Memory alloc issues in JS API"
JavaScript does not have finalizers or destructors, so embind requires JS clients to call `foo.delete()` on instances of stack-allocated wrapped objects, where `delete()` is a special object method added by embind itself.

Filament API objects are often heap allocated and explicitly destroyed anyway (eg `Engine::destroyMaterial`) so ideally users do not need to `delete()`. However there are a few

[2018-10-26 20:43] sarathsi opened #433 "Filament Android samples - FPS measurements"
I have built and able to run the filament android samples. It would be useful to see the FPS / rendering performance of the samples.

Solution Idea: I think android.os.SystemClock.elapsedRealtime() api may be used once per frame and get the frame timings.

[2018-10-26 20:55] romainguy commented on #433
FPS is not a really useful measure, we prefer frame times. That clock is also not super useful since it doesn't include the GPU time, you'd be mostly measuring vsync and frame skips. We use fences internally to track performance (it's how dynamic resolution works). Anyway, I'd rather rely on systrace for performance rather than on screen counters.

[2018-10-26 20:55] #433 closed

[2018-10-28 08:37] vovan4ik123 commented on #15
Conversation with authot of SDL2:
I:
Hello.
I try use it for android.
And SDL require mips64el-linux-android and mipsel-linux-android   from NDK.
But NDK now have not this file.
From NDK developers:
Note: Historically the NDK supported 32-bit and 64-bit MIPS, but support was removed in NDK r17.
Can you update your source code for android?
Bye.

Sam Lantinga :
Yes, this is fixed for the 2.0.9 relea

[2018-10-29 00:53] romainguy commented on #429
That's exactly what we did in the Java bindings. Builders are automanaged but other types must be destroyed explicitly.

[2018-10-29 07:53] Tellemioy commented on #15
This is the solution guys it just helped me out thanks man.

[2018-10-29 08:06] dsanjit opened #435 "VR / Daydream supported ?"
Would like to use Filament in a Daydream / Oculus GO / Rift project. Is stereo supported along with multiview and other optimizations ?

[2018-10-29 14:11] RichieDevereux commented on #15
I tried lots of peoples answers and ended up sorting it myself after long searching.
Frustrating when you are doing tutorials. I've had a few problems with Codelabs tuts and find a solution somehow. I will don't think I will ever need the NDK so it's gone.
Good you sorted it out.

[2018-10-30 00:37] #423 closed

[2018-10-30 10:29] ilkunviktor opened #438 "Filament document small issue"
Maybe here https://google.github.io/filament/Filament.md.html#materialsystem/clearcoatmodel
 "...the clear coat layer will always be isotropic and **dielectric** ..." you mean **conductor**?

[2018-10-30 10:31] Zefz opened #439 "Sanitizer on RenderTargetPool.cpp reports undefined behaviour"
**Describe the bug**
Using an undefined behaviour sanitizer with RenderTargetPool.cpp:167 reports an issue of unsigned integer undeflow:
[code]

In this case mDeepPurgeCountDown (an uint32_t) is zero when this block is reached when it becomes decremented and underflows.

Sanitizer report:

filament/filament/src/RenderTargetPool.cpp:167:9: runtime error: unsigned integer overflow: 0 - 1 cannot be r

[2018-10-30 11:41] sarathsi opened #440 "Web-Assembly samples - .png / .jpeg for textures?"
Referring to Web-Assembly samples, I see only .ktx format is used for textures.
(https://github.com/google/filament/blob/9e5f44bd3458bbf92ae3aa7cd733a5de359d7d6e/samples/web/suzanne.html)

I tried to use .jpeg, .png as textures by modifying samples/web/suzanne.cpp to use  getRawFile()
    static auto metallic = filaweb::getRawFile("metallic");
    static auto roughness = filaweb::getRawFile("rough

[2018-10-30 12:07] prideout commented on #440
Hi, our new JavaScript API supports PNG. For example the [test_parquet](https://github.com/google/filament/blob/master/libs/filamentjs/tests/test_parquet.js) sample calls `engine.createTextureFromPng`.

If you need to use C++, then it's a bit more involved because you would need to include a PNG decoder (e.g. stb) into your wasm module.

[2018-10-30 14:39] romainguy commented on #438
No the clear coat layer is not a conductor. It is not a metallic layer.

[2018-10-30 14:39] #438 closed

[2018-10-30 16:21] romainguy commented on #439
Thanks for the report!

[2018-10-31 12:45] sarathsi commented on #440
Hi, Thanks for info.
About using JS API, should we use filament.js generated in  filament/out/cmake-webgl-release/libs/filamentjs/ when building for webgl release ?

gl-matrix-min.js: Is it version 2.4.0? from https://gist.github.com/pbfy0/3a1717978fc68adaa7a878a2089db731 ? or any other version?

[2018-10-31 14:18] prideout commented on #440
Correct.  I recommend following the tutorial found in the docs folder in the [web release](https://filament-build.storage.googleapis.com/badges/build_link_web.html).  I'll fix up the root README to make this more clear.

For matrices and vectors, the JS API simply takes small JS arrays; usage of glMatrix is not required, but it is recommended.  The tutorials use glMatrix 2.8.1 but I think 2.0 or h

[2018-10-31 14:39] #415 closed

[2018-10-31 16:15] pixelflinger commented on #439
I don't think there is problem here. `mDeepPurgeCountDown` is tested *before* being decremented. If it is `0`, then it will indeed underflow, but it is immediately reset to `POOL_ENTRY_MAX_AGE`.

[2018-10-31 16:16] #439 closed

[2018-11-01 01:29] loulansuiye commented on #15
even though I compile it on ubuntu 1604 ,it still report that problem!

[2018-11-01 18:23] prideout opened #443 "JavaScript code re-org"
To make the web platform more consistent with android and ios, let's remove `samples/web/` and `libs/filamentjs/` and instead have a root `web` folder that looks like this:

[code]

For simplicity, each HTML will have the application JS inside a script tag.  This way each file is a self-contained sample app. The DOM elements for each sample is trivial (just a canvas) so there's no need to have bun

[2018-11-02 00:05] #443 closed

[2018-11-02 23:36] senselevel opened #450 "Example for using a custom shader"
Just started looking at filament.  I was wondering if there was an example somewhere for embedding a full custom fragment and vertex shader (not necessarily using the materials system).  I see fragment shaders like this :

fragment {
 void material(inout MaterialInputs material) {
        prepareMaterial(material);
        material.baseColor.rgb = materialParams.baseColor;
        material.roughne

[2018-11-02 23:39] senselevel commented on #450
I see this for skyboxes.  I'm assuming that the you want the material and materialVertex functions specially named, but can I do other things in here?

material {
    name : Skybox,
    parameters : [
        {
           type : samplerCubemap,
           name : skybox
        }
    ],
    variables : [
         eyeDirection
    ],
    vertexDomain : device,
    depthWrite : false,
    shadingMode

[2018-11-02 23:51] romainguy commented on #450
I'm not sure what you are asking about. You can create your own functions if you want to call them from `material()` and `materialVertex()`. And you can of course write pretty much anything you want inside those functions. What you cannot do however is write a complete shader from scratch. Could you describe your use case?

[2018-11-03 00:36] senselevel commented on #450
My use case would be exactly that - write a custom shader from scratch.  I understand I'd have to intercept your light and other inputs.  I do see you point - pretty much anything is going to be surface appearance anyway but ideally I'd like to have control over the whole shader system - for example I might want to use a lighter-weight shader for certain objects in the scene, like handles, far way

[2018-11-03 01:04] romainguy commented on #450
That's correct, we inserting those functions in a larger shader system. It is not the goal of filament to offer this level of control over the shader system. We've been however thinking about doing auto simplification of shader (similar to a system of LOD).

[2018-11-03 04:05] senselevel commented on #450
Ok, thanks.  Closing.

[2018-11-03 04:05] #450 closed

[2018-11-03 05:24] peteroupc opened #452 "Main Filament doc links to cielab.xyz for source tables rather than the official CIE site"
In `docs/filament.md`, consider linking to the colorimetric table spreadsheet found at http://www.cie.co.at/technical-work/technical-resources (the official CIE web site) rather than the one found at cielab.xyz, which is not an official source of that spreadsheet.

[2018-11-03 18:15] romainguy opened #454 "Improve cmgen documentation"
As @TimvanScherpenzeel pointed out, cmgen should better explain that --size applies to the DFG LUT as well and that a cubemap and the LUT cannot be generated at the same time.

[2018-11-05 00:07] smiron commented on #15
Worst argument I have ever seen to close an issue

[2018-11-05 00:56] romainguy commented on #15
This comment was from the original reporter. Also note that most of the comments here have nothing to do with this project.

[2018-11-05 20:24] sarathsi opened #455 "mesh.renderable update with setTransform()"
In Android filament samples. I am trying to transform the “mesh.renderable”, using transformManager.setTransform(). Here is my sample onAnimationUpdate():

val transformMatrix = FloatArray(16)
override fun onAnimationUpdate(a: ValueAnimator) {
   val v = (a.animatedValue as Float)
   Matrix.setRotateM(transformMatrix, 0, v * 57.583f, 0.0f, 1.0f, 0.0f)
   val tcm = engine.transformManager
   tcm.se

[2018-11-05 20:27] #455 closed, assigned to nobody

[2018-11-05 23:54] #452 closed

[2018-11-05 23:55] romainguy commented on #426
Were you able to fix this issue btw?

[2018-11-05 23:59] romainguy commented on #314
This feature has been implemented.

[2018-11-05 23:59] #314 closed

[2018-11-05 23:59] #281 closed

[2018-11-06 17:40] obeletski commented on #426
Thanks, CI script help to fix the problem. Since last week I moved to Ubuntu 18.04 that get delivers correct version of all the components out of the box. The only inconvenience that is left is the need to specify manually -DFILAMENT_REQUIRES_CXXABI=true for cmake if I want to rebuild from scratch everything. It is document though.

[2018-11-06 17:40] #426 closed

[2018-11-06 17:41] romainguy commented on #426
`FILAMENT_REQUIRES_CXXABI` is unfortunate, I'd love to find a way to figure this one out automatically. I'm not sure what to use to decide when to set it.

[2018-11-06 17:45] obeletski opened #458 "Support for animations"
Basically we would like to load and animate gltf model. Is there any way for doing that with the help of Filament on Android? It seems that filamesh output format does not support animations.

[2018-11-07 21:35] shartte commented on #458
You can check out http://guillaumeblanc.github.io/ozz-animation/ for an open source library that does *just* the animation and computation of bone matrices. I think it should combine nicely with filament.
Although it does not support gltf.

[2018-11-08 15:32] obeletski opened #469 "Shadow casting - how to get on Android"
We working on simple chessboard view on Android and we would like to get some shadows casting from pieces. We have a directional light with shadow casting enabled in our scene but we see not shadows.

Please advise what we would do to get shadows working.

[2018-11-08 15:37] romainguy commented on #469
You need to mark your chess pieces as shadow casters. This can be achieved via the RenderableManager API. You must also set the light as a shadow caster in the light builder. All renderables are shadow receivers by default.

[2018-11-08 16:46] syoyo commented on #458
FYI, its still under development but I'm working on CPU skinning/morphing for glTF 2.0 model > https://github.com/syoyo/tinygltf/tree/skinning/examples/skinning

For low-poly glTF model, I guess CPU implementation of animation would work well in real-time on recent Android devices.

[2018-11-08 18:15] grassel commented on #469
Thank you romainguy for your help. obeletski and I forgot the setting via RenderableManager::Builder to enable shadow casting. This fixed our problem.

[2018-11-08 22:35] obeletski commented on #469
@grassel, good to know that things are working now. Closing the issue.

[2018-11-08 22:35] #469 closed

[2018-11-09 00:17] #429 closed

[2018-11-09 20:43] AndroidDeveloperLB commented on #15
I still got an issue with this. It says:

[code]
However, all folders are actually positioned fine:

![image](https://user-images.githubusercontent.com/5357526/48287239-e25cc200-e470-11e8-84c9-1320595d50cc.png)

[2018-11-12 00:39] uromastix87 commented on #358
I just pulled and built for debug and release and this issue no longer occurs for me on Arch.

[2018-11-12 03:36] uromastix87 opened #473 "Getting started: rendering a quad"
I've been reading over the samples and docs trying to compile a simple exercise, but I haven't had any luck.
[code]

I get it to compile, but when I run it I get a black SDL window that freezes and a terminal filled with:
[code]

I feel like I'm swinging in the dark here. Especially with the .inc files. Some guidance would be appreciated.

Thanks

[2018-11-12 03:49] romainguy commented on #473
The file `materials/aiDefaultMat.inc` must be generated by `matc` (using the flag to output the compiled material as an include file). This is done for our samples by the `CMakeLists.txt` file in the samples directory.

The reason you are getting this error about the command stream is because you are rendering as fast as possible (faster than the GPU can process the commands). You should either us

[2018-11-12 18:05] #358 closed

[2018-11-12 20:37] prideout opened #474 "Support Skybox without IBL"
Apps with default camera exposure and no indirect light will always have a black skybox due to the low DEFAULT_INTENSITY that is used in the absence of an IBL.

Should Filament allow the no-IBL intensity to be configurable?

[2018-11-12 21:53] romainguy commented on #474
I'm not sure what you're asking for here. Do you want some kind of default ambient light? Setting the intensity without an IBL currently doesn't make sense since we'd be applying a black IBL anyway. We could provide (or generate at runtime) a white furnace. Not sure how useful that'd be.

[2018-11-12 22:22] prideout commented on #474
Currently we create a black default IBL but the skybox shader assumes that the default IBL is a white furnace with a hardcoded intensity of 30000 lux (set [here](https://github.com/google/filament/blob/master/filament/src/View.cpp#L341-L342)).  I'm suggesting that we make this intensity configurable.

[2018-11-13 01:21] romainguy commented on #474
No, we rely on the fact that the IBL is black to display nothing. I'm not sure what making the intensity configurable would do since we'll just multiply black by that intensity?

[2018-11-13 02:10] prideout commented on #474
Agreed that we should not add any new API for this; it's easy enough for apps to add a tiny IBL to their scene while their full-res IBL is loading in.

Before closing this, I want to point out that the skybox is actually very dark rather than black, which seems weird.  It's due to the fact that the current [skybox shader](https://github.com/google/filament/blob/master/filament/src/materials/skybox

[2018-11-13 02:40] prideout commented on #474
It samples from the skybox texture, not the IBL texture.  The skybox is dark, not black -- I've proven it by shrinking the camera aperture.  :)

[2018-11-13 02:42] romainguy commented on #474
The skybox should be black too. That'd be a bug in how we create the default skybox if it's not.

[2018-11-13 16:20] romainguy commented on #474
We should fix the skybox texture and make it black.

[2018-11-13 16:24] prideout opened #477 "Skybox without IndirectLight is not black"
To repro, remove the call to `setIndirectLight` in FilamentApp and enlarge the camera aperture (small value).

The skybox is visible, but is very very dark.

[2018-11-14 01:17] romainguy commented on #477
To recap the issue: when setting a skybox without setting an indirect light, the app cannot control the intensity of the skybox.

[2018-11-14 05:16] kjanard commented on #15
If your old project didn't use NDK, just remove it from Android SDK Manager and reopen your project again. It work for me.

[2018-11-14 05:29] hemantkadamata opened #486 "camera positioning"
I am fairly new to android graphics, I have a specific requirement and I am not able to figure out the solution how to position the camera.
I was not sure where to post the query so I am adding it here.

Basically, my object is in the center and camera moves around it as the user interacts with it.
I tried the Image-based lighting sample but was unable to reposition the camera with setting the pro

[2018-11-14 06:17] AndroidDeveloperLB commented on #15
@kjanard Which old project? I just cloned the repository here, and wanted to try out one of the samples (the triangle in this case).
And what do you mean by "remove it" ? Wouldn't this mean I won't be able to build C/C++ code in all projects?

[2018-11-14 07:19] kjanard commented on #15
Sorry, my mistake. I didn't read an issue carefully and clearly. Your post just popped up when I search about non-ndk project.

[2018-11-14 07:20] kjanard commented on #15
@AndroidDeveloperLB Sorry, my mistake. I didn't read an issue carefully and clearly. Your post just popped up when I search about non-ndk project.

[2018-11-14 15:08] hemantkadamata commented on #486
closing it as I was adjusting the wrong value.
Thanks

[2018-11-14 15:08] #486 closed

[2018-11-15 09:37] chrisws commented on #15
I encountered this issue with generated project files from cocos2dx.

Here's what worked for me
1. Change this in build.gradle:
from:
    classpath 'com.android.tools.build:gradle:3.0.0'
to:
    classpath 'com.android.tools.build:gradle:3.2.1'

2. Overwriting gradle* from another working project

[2018-11-16 09:34] tomeroto commented on #15
its worked! thanks

[2018-11-16 23:59] jwu92610 commented on #15
Thanks @petru-sabadac :)  It worked for me with similar steps in Windows 10 as follows.

Android Studio 3.2.1
Build #AI-181.5540.7.32.5056338, built on October 8, 2018
JRE: 1.8.0_152-release-1136-b06 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Right click the "Start Icon" of Windows 10 and select "Command Prompt (Admin)", and then

mklink /D mips64el-linux-android aarch

[2018-11-17 12:57] newlighty commented on #15
hi remove ndk  show the sdk folder for this project and i put commit for
this that work for me try it out and let me know if it works

On Sat, Nov 17, 2018 at 3:29 AM jwu92610 <notifications@github.com> wrote:

[2018-11-19 00:20] prideout opened #498 "Roughness looks incorrect for distant objects"
In the first screenshot, the sphere is at the origin and has radius 100.  The camera is [0, 0, 400].  It looks like how I'd expect, given the material I provided.

The second screenshot uses the exact same material, but increases the sphere's radius by 10x and moves the camera to [0, 0, 4000].  (The change in skybox orientation is due to the timing of the screenshot, it's not relevant to this issu

[2018-11-19 00:32] prideout commented on #498
Hm, never mind, false alarm.

[2018-11-19 00:32] #498 closed

[2018-11-19 10:42] hemantkadamata opened #499 ".mtl to .mat conversion"
I have a *.MTL file related to it *.OBJ file. it there any tool which I can use to create the relevant *.MAT file for the *.MTL

[2018-11-19 20:02] prvinuch commented on #15
I just unchecked the NDK from SDK Tools and it worked for me...  I think there is no need yet for NDK.

[2018-11-19 20:30] RichieDevereux commented on #15
there is if you design games.

[2018-11-20 04:24] donmccurdy opened #503 "glTF viewer not showing metal/rough textures"
**Describe the bug**

When testing a couple metal/rough models in glTF (`.glb`) format with the `gltf_viewer` sample, it appears that the metal/rough materials are not being applied.

**To Reproduce**
Steps to reproduce the behavior:
1. I tried viewing the following models with `gltf_viewer`. Both are collections of spheres with varying metal/roughness values.
2. `samples/gltf_viewer --ibl samples

[2018-11-20 05:51] pundirbhupendra commented on #15
i face same problem then i upgrade gradle version 3.0.1 to  classpath 'com.android.tools.build:gradle:3.2.1' it work for me..

[2018-11-20 07:29] prideout commented on #503
See [PR 501](https://github.com/google/filament/pull/501) for details but we also saw a regression with OpenGL (lightbulb + sponza)

[2018-11-20 14:48] willFederer opened #504 "Problem on Android Release Build"
I want to make android release on windows, and follow official suggestion to use the easy method:
`env CC="C:\Program Files\LLVM\bin\clang-cl.exe"  CXX="C:\Program Files\LLVM\bin\clang-cl.exe" FILAMENT_REQUIRES_CXXABI=true ./build.sh -p android  -c release`

But the error occurs:
![image](https://user-images.githubusercontent.com/25289000/48780918-ebbe1800-ed15-11e8-93df-e53ddcceabf9.png)

So what

[2018-11-20 17:14] friederbluemle commented on #15
This thread just keeps growing and growing and the issue is completely unrelated to the project it's in. There are obviously multiple solutions to get rid of the error, but there is one fix that does **not involve downloading or copying anything** that can be seen by scrolling up to https://github.com/google/filament/issues/15#issuecomment-426259512

I wish there was a way to "pin" a comment and/o

[2018-11-20 17:59] romainguy commented on #503
Actually this doesn't seem to be due to #501. Even when rolling back your rollback they don't show properly. It's probably an issue with Assimp or how we interpret Assimp's data.

@magicwhale

[2018-11-20 17:59] romainguy commented on #503
I get the following errors in the console:

[code]

Looks like we're trying to load external textures instead of embedded textures?

[2018-11-20 18:03] romainguy commented on #503
Fixed! Uninitialized variable issue :)

<img width="1136" alt="screen shot 2018-11-20 at 10 03 00 am" src="https://user-images.githubusercontent.com/869684/48793332-7b7aac80-ecab-11e8-868c-079f9993f977.png">

[2018-11-20 19:36] donmccurdy commented on #503
Thank you! I'll test this out soon.

[2018-11-20 20:06] romainguy commented on #503
The PR hasn't been merged yet btw.

--
Romain Guy
www.curious-creature.com

On Tue, Nov 20, 2018, 11:36 AM Don McCurdy <notifications@github.com wrote:

[2018-11-20 21:19] prideout opened #507 "Improve error reporting for sampler overloading"
Our Vulkan driver currently has a self-imposed limit of 8 samplers, but this is checked at run time rather than during material compilation.  Moreover it's only checked for debug builds, which can be especially misleading on macOS since users see MetalSL spew.

[2018-11-20 21:23] prideout commented on #507
Also note that the [current sampler limit](https://github.com/google/filament/blob/master/filament/src/driver/vulkan/VulkanBinder.h#L73) (8) causes issues with mat files that use only 4 samplers , since Filament itself uses [5 samplers](https://github.com/google/filament/blob/master/libs/filabridge/src/SibGenerator.cpp#L32-L36).

[2018-11-21 13:45] Xardas365 commented on #15
i haved the same problem in cordova.

You need to edit the gradle version to the latest in this files.

`platforms/android/app/build.gradle
platforms/android/cordova/lib/builders/GradleBuilder.js
platforms/android/cordova/lib/builders/StudioBuilder.js`

In build.gradle find this part of the code.
`task wrapper(type: Wrapper) {
    gradleVersion = '4.10.2'
}`

In GradleBuilder.js find this part of

[2018-11-22 08:33] amerkoleci opened #516 "Visual Studio 2017 support"
**Is your feature request related to a problem? Please describe.**
There are no related problems

**Describe the solution you'd like**
Update from VS2015 to VS2017

**Describe alternatives you've considered**
Understand if VS2017 clang works well or better use MSVC toolkit

**OS and backend**
This is related to windows OS.

[2018-11-22 09:40] shartte commented on #516
I have been using VS2017 with Filament without much issues so far, what in particular is this issue about?
Is it about the pre-built packages?

[2018-11-22 09:46] shartte opened #517 "[MSVC] constexpr functions that cannot be constexpr"
I am working my way through using Filament's public headers in a program compiled with MSVC, and run into various issues, mostly relating to constexpr:

One example:
[code]

When removing constexpr, it compiles and works as expected.

I looked into the function, it calls `sqrt`, which is not constexpr in the standard.
Is it sensible to declare this math::norm function constexpr, and why doesn't cl

[2018-11-22 09:49] amerkoleci commented on #516
I mean compile filament using clang vs2017 not about usage

[2018-11-22 09:54] shartte commented on #517
p.s.: in a more general sense. is it desired that Filament headers can be consumed by MSVC in general? This would make the prebuilt windows binaries alot more useful, since they could be used without having to use clang-cl.

[2018-11-22 12:18] shartte commented on #516
Yes, but that is already working... I am compiling filament using clang-cl and VS2017, using the instructions found on the main page.

[2018-11-22 15:10] willFederer commented on #504
But I really really really want to build filament-android on windows to run
the android sample, can you help me please?Tthank you very much.

Romain Guy <notifications@github.com> 于2018年11月20日周二 下午11:29写道：

[2018-11-22 18:07] romainguy commented on #517
I think it would be great if the headers could be used with MSVC. I checked and clang's `sqrt` is not `constexpr` indeed. I have no idea why it works. @pixelflinger would probably know :)

[2018-11-22 18:09] romainguy commented on #516
Our instructions use Visual Studio 2015 because that's what our CI environment offers. According to @shartte it works in Visual Studio 2017 as well (which makes sense, we don't use anything VS specific I believe). Please open a new bug with more specific information if it doesn't work in VS 2017. Thanks!

[2018-11-22 18:09] #516 closed

[2018-11-22 18:43] amerkoleci commented on #516
Okay, thank you!

[2018-11-22 18:55] shartte commented on #517
I checked that it indeed works on Clang / GCC, and does not on MSVC.
Both Clang and GCC even emit assembly with the sqrt indeed precomputed, so simply removing constexpr here is not advisable.

Clang 6:
https://godbolt.org/z/xwCBtX

VS 2017.8:
https://godbolt.org/z/-_arDE

[2018-11-22 20:13] AleksandrHovhannisyan commented on #15
Nothing here worked for me, but here are the steps I followed to fix it on my end (while trying to build the [SimpleCalc project](https://codelabs.developers.google.com/codelabs/android-training-using-debugger/index.html?index=..%2F..%2Fandroid-training#2) from Codelabs):

1. Tap the Shift key twice, click **Include non-project items**, type "SDK", and scroll until you find **SDK Manager**. Click

[2018-11-25 02:38] romainguy commented on #499
We don't have such a tool no. The closest thing we have is `MeshAssimp.cpp` in the `samples/` folder which uses the values provided by Assimp — and read from `*.mtl` files — to approximate PBR values.

[2018-11-25 02:39] romainguy commented on #473
Please let us know if you have further questions.

[2018-11-25 02:39] #473 closed

[2018-11-26 00:20] shartte opened #522 "Visual Studio 2017 Update 9 (15.9) Support"
**Describe the bug**
Compilation fails when updating to the latest VS update (2017.9).
Visual Studio now requires Clang 7.
I am compiling for Windows x64.

**To Reproduce**
Install the latest update to Visual Studio and try to compile.
First you'll note that the MS STL now requires Clang 7.
After updating to Clang 7, the following errors occur.

**Additional context**

**SPIRV**
Three identical co

[2018-11-26 00:47] shartte commented on #522
@romainguy Yeah I'll look into that. My gut says that the underlying type for that enum should be uint32_t to begin with, but I haven't looked into it yet.

[2018-11-26 10:50] shartte opened #524 "Crash in Job System Allocator"
**Describe the bug**
After a few seconds, filament crashes within the allocator of the job system:
![image](https://user-images.githubusercontent.com/1261399/49009134-02c69500-f170-11e8-9cff-647909f6c117.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a lot of renderables (100 seem to be enough)
2. Render them continuously

I was able to reproduce this issue with the filament mat

[2018-11-26 17:17] romainguy commented on #522
Thanks for checking, we can just move to a newer glslang then.

@prideout or @bejado would you mind updating our glslang please?

[2018-11-26 19:00] shartte commented on #517
Fixed by #523

[2018-11-26 19:00] #517 closed

[2018-11-26 19:30] romainguy commented on #524
@pixelflinger, it's the bug we've been tracking for a while that same assert.

[2018-11-26 21:16] romainguy commented on #503
This issue is fixed in #505. We still have problems with some glTF assets:
- Vertex colors are not supported yet
- The way we compute tangents/bitangents is incorrect (the test asset doesn't render properly)

Assets like ScifiHelmet, DamagedHelmet, Sponza, etc. seem to render just fine though.

[2018-11-26 21:16] #503 closed

[2018-11-26 21:51] romainguy opened #528 "glTF support is missing features"
Our glTF viewer doesn't work entirely just yet. Here's what I found so far:
- Tangents/bitangents are not computed correctly if not present in the model
- We always use the default sampler instead of using the sampler described in the glTF file
- Vertex colors are ignored
- Transforms (rotation in particular) are not always handled properly

I found these issues while trying to load various Sketch

[2018-11-26 21:55] romainguy commented on #528
Rotation issue: https://sketchfab.com/models/a4ca0e3864e143af9bf1dffc7fc8029b (you have to zoom into the black sphere to seen the scene). This model also seems to use vertex colors? Our render is definitely off.

Non-default samplers: https://sketchfab.com/models/94b24a60dc1b48248de50bf087c0f042 The tramway and some of the walls are not textured properly, most likely because we don't use the right

[2018-11-27 00:30] prideout opened #532 "Add utility for computing tangents"
Per discussion with Mathias and Aaron, we'd like to add a static utility method to `VertexBuffer` that makes it easier for clients to supply a buffer for `TANGENTS`.

It could look like this:

[code]

[2018-11-27 00:38] romainguy commented on #532
That makes sense. Note that we also have a public function to compute the quaternion tangent frame from a TBN matrix. It's in `mat3.h`.

```quatf q = mat3f::packTangentFrame({tangent, bitangent, normal});```

[2018-11-27 15:00] uromastix87 commented on #473
That was it thank you!

[2018-11-27 17:43] bejado commented on #532
What algorithm will the function use to generate the tangents if only normals are provided?

[2018-11-27 17:49] prideout commented on #532
We'll simply have a fixed random vector like (0,1,0) and cross the normal with it, a bit like [this](https://github.com/google/filament/blob/master/web/filament-js/utilities.js#L142-L152) although we should probably check for when the random vector is too close to the normal, in which case we'd choose a different random vector.

[2018-11-27 17:58] romainguy commented on #532
MeshAssimp.cpp does that (minus switching vector when too close to the normal)

[2018-11-27 22:23] romainguy commented on #524
The crash still happens in CI, line 247 in `Allocator.h`, with the "fix" :)

[2018-11-27 23:21] shartte commented on #524
Brrrrrrr. race conditions are evil.
Where in the build is it crashing? What is it actually running?
I can try to investigate further, although it *did* fix my own issue :)

[2018-11-28 00:31] romainguy commented on #524
It crashes either in unit tests or cmgen.

[2018-11-28 04:08] pixelflinger commented on #524
@shartte, I can reproduce it easily by setting `hwThreads = 4` in JobSystem.cpp (go figure). I've been looking into it today, and there is definitely *another* bug. Here is what is happening:

When `next` is null in `pop()`, it'll write `-1` (as a stand in for nullptr) in `newHead`, and the cpxchg will swap that with `currentHead`. Meanwhile, in `push()`, `currentHead` is loaded with that value co

[2018-11-28 06:59] Sweenall opened #542 "discard fragment having alpha value greater than threshold"
Fragments can be discarded if alpha value is less than threshold value in .mat file as follows:
material {
    blending : masked,
    maskThreshold : 0.5
}

Is there any way to discard fragment that has alpha value greater than threshold ?

[2018-11-28 17:30] romainguy commented on #542
This can be achieved in the fragment code of the material. You can write something like:

[code]

[2018-11-28 17:30] #542 closed

[2018-11-28 19:05] romainguy commented on #528
Another bug: the water in https://sketchfab.com/models/e051a32d21d6453c8fad408082492267 is not transparent

[2018-11-28 19:17] prideout commented on #528
I'm working on the first bullet in the original problem description (**Tangents/bitangents are not computed correctly**), which is exemplified by `glTF-Sample-Models/2.0/NormalTangentTest`.

[2018-11-28 20:10] #524 closed

[2018-11-29 05:32] Sweenall commented on #542
Thank you so much.. :)

[2018-11-29 06:40] donmccurdy commented on #503
This is excellent, thank you! Looking forward to using this viewer for testing. :)

![screen shot 2018-11-28 at 10 37 06 pm](https://user-images.githubusercontent.com/1848368/49203793-6ca49180-f35e-11e8-80b9-5103d19d5f40.png)

[2018-11-29 06:50] romainguy commented on #503
We have a few issues left to fix though. Vertex colors aren't handled, some textures don't load, etc. Nothing major but expect small problems ^^

[2018-11-29 06:59] donmccurdy commented on #503
A couple models I tested did crash: https://drive.google.com/open?id=1InFRtgLGdTC2apRAiWFN86ubsdVa8WbL. It's possible that's an error in the models — they did have some warnings in the validator. Are examples helpful, or better to wait until the known issues are solved?

[2018-11-29 07:05] romainguy commented on #503
Feel free to add any issue here: https://github.com/google/filament/issues/528

I haven't encountered crashes so far, so that's a new problem.

[2018-11-29 11:12] shartte commented on #522
Now that #526 is merged, this issue is fixed.

[2018-11-29 11:12] #522 closed

[2018-11-29 11:32] shartte commented on #293
I can also confirm that this happens for me with filament on Windows.
Once I passed `-O` to matc for compiling my own materials, this issue disappeared.
Just a note: I built filament with CMake in debug mode, and compiled my own materials without `-O` and this issue occured, so other people might run into this when they build their own versions.

[2018-11-29 11:36] rogerkamal commented on #15
I'm still facing same issue since a long time.
Please Help. I've tried every solution above.
It still showing "No toolchains found in the NDK toolchains folder for ABI with prefix: mips64el-linux-android"

[2018-11-29 17:13] romainguy commented on #293
Right, filament and its materials must be compiled with the same optimization level at the moment.

[2018-11-29 20:40] magicwhale commented on #528
The first model seems to just have some rotation issues with the asset itself, and some of the colors aren't showing up because vertex colors aren't implemented yet.
For the second and third model, the issue seems to just be with the use of multiple UV coordinates.

I realized that I didn't implement alpha masking and blending for unlit materials, which this scene uses.

I'm working on fixing the

[2018-11-30 01:16] woldie opened #558 "Draco compression?"
Would it be possible to offer draco compression on .filamesh files, or is that already supported?

It's a google thing that is pretty rad:  https://opensource.googleblog.com/2017/01/introducing-draco-compression-for-3d.html

[2018-11-30 01:33] woldie commented on #558
Hm, I'm on web and I'm spiking how Filament will perform as compared with Three.JS.  We've got draco compression on our test models, and they look very purdy and are about a fourth the size of the equivalent .filamesh files.

I think I'll keep spiking this thing without compression because I want to see this baby with the PBR materials on there.  Having compression will be really important to us t

[2018-11-30 01:43] romainguy commented on #558
Note that Draco support is available in glTF 2.0 via an extension: https://www.khronos.org/news/press/khronos-announces-gltf-geometry-compression-extension-google-draco

If Draco decoding can be done entirely on the CPU side and doesn't require changes to the shaders then it could be added to filamesh. Looks like there is a C++ API we could use.

[2018-11-30 01:49] prideout commented on #558
I'll take a look at this, recently I've been interested in mesh compression anyway.

As an aside, another encoding is offered by [zeux/meshoptimizer](https://github.com/zeux/meshoptimizer) but I think draco might be more interesting because of the glTF extension that Romain mentioned.

[2018-11-30 17:49] prideout commented on #558
@woldie: we're curious what you think of the meshoptimizer encoder that I mentioned, since we definitely intend to support it, based on the numbers in the recent [tweet](https://twitter.com/zeuxcg/status/1068378891473965056) from @zeux.

We can implement Draco as well, just trying to prioritize.

[2018-11-30 19:37] zeux commented on #558
Out of curiosity, does filament plan to use GLTF as the final file format that will be loaded directly on device? Or as an interchange format that will be used to generate filamesh?

[2018-11-30 19:49] romainguy commented on #558
By design we don't want to impose a final file format. We provide a small `filamesh` library and we will provide a glTF library but those are just meant for convenience.

[2018-11-30 21:17] zeux commented on #558
Gotcha. It might make sense to have both gltf-with-draco and filamesh-with-meshoptimizer. If this is something you're interested in I could take a look at adding meshoptimizer support to filamesh.

[2018-12-01 01:08] romainguy commented on #528
Crash opening this file: https://sketchfab.com/models/f8d3c7506f3545108dcf7f6c170e19e1

[2018-12-04 01:46] magicwhale commented on #528
It seems like that file and the files mentioned in #503  have some kind of error within the gltf file, and this is causing the viewer to crash within Assimp when it is loading the gltf.

I saw that Don McCurdy's gltf viewer is still able to show the model even though it says there are errors within the file, so we could find a way to load the files and ignore the malformed lines.

[2018-12-04 02:00] donmccurdy commented on #528
If the errors seem unreasonable, I'm glad to send feedback to Sketchfab. Some viewers (like Facebook 3D Posts) enforce a "no validation errors" policy, and if these are issues you'd rather not work around, requiring stricter conformance from exporters is acceptable. The tolerance in my viewer is more accidental than planned. :)

[2018-12-04 02:03] romainguy commented on #528
Well crashing is never a good option :) But if the crash is inside Assimp our best bet would be to fix it there and upstream the change. We could also investigate TinyGLTF

[2018-12-05 13:17] cvetan5 opened #580 "Cloth sample - how to run?"
Hello,

I'm trying to run sample_cloth on Linux by running:
`./sample_cloth -i ./envs/office assets/models/cloth/cloth.obj` and I don't see the model being loaded into the scene, along with warnings about missing textures.

Am I doing something wrong?

[2018-12-05 19:47] prideout commented on #580
When we overhaul our samples, we should consider using resgen to embed textures and meshes to avoid issues like this.

[2018-12-05 19:48] romainguy commented on #580
Maybe, depends on what the sample is trying to achieve.

[2018-12-05 19:48] #580 closed

[2018-12-05 20:12] romainguy commented on #558
@woldie We're adding meshtopimizer compression to `filamesh` and we'll add Draco compression support to glTF (if possible, this might required Assimp to do it).

Here's an example of savings delivered by meshtoptimizer:

[code]

We prefer meshtopimizer over Draco because the library is much smaller and more importantly much faster. It also generates GPU friendly data layouts.

[2018-12-05 22:30] prideout commented on #558
Ah, thanks for the note @zeux.  I will change the encoder calls and update our copy of meshoptimizer.

[2018-12-06 00:33] woldie opened #583 "Add support for CommonJS packaging"
I'm on web and I'm trying to use Filament via the npm filament@1.0.0 package.

I'm bundling filament.js with the rest of my code using webpack.  I'm running into headwinds trying to get Filament init'ed ...

For starters, I don't have any assets to load, I am just trying to Filament.init with an empty assets array.

    Filament.init([], () => {
        this.filament = Filament.Engine.create(this.

[2018-12-06 00:37] romainguy commented on #583
Thank you for this detailed report. It seems we should take a closer look at what's going on. `glm-matrix` is optional.

[2018-12-06 00:47] prideout commented on #583
We don't support the `import` workflow at the moment (which is why the tutorials don't use it), but it should be possible to do so, I'll look into it.

gl-matrix is not required for using FIlament.

[2018-12-06 01:00] romainguy commented on #528
Multi UV sets support is now in. @magicwhale were you able to figure out where the other issues come from?

[2018-12-06 21:19] woldie commented on #583
super, thanks

[2018-12-06 21:19] #583 closed

[2018-12-06 21:44] prideout commented on #583
I wrote a simple no-assets demo with import statements and webpack; it seems to work with the latest Filament.

I'm adding the demo to `web/samples` in #590.  Note however that we need to publish a new version of Filament to npm, which we will do soon.

[2018-12-07 14:18] rawnsley commented on #435
@romainguy Is there anything to stop us implementing this ourselves as two View's (one for each eye) into the same Scene?

[2018-12-07 15:08] romainguy commented on #435
That would work unless you need a custom post process step (for foveated rendering etc.). It also wouldn't be as efficient as if the engine supported VR natively.

[2018-12-07 15:41] rawnsley opened #594 "Android SDK 22 runtime crash"
**Describe the bug**
The sample Android app hello-triangle crashes at runtime on Android SDK 22 (Lollipop MR1) device.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the hello-triangle app against source or against the sceneform-1.7pr1 release AAR files.
2. Deploy and run on Android SDK 22 device.

**Expected behavior**
App should run without crashing as it does on alternative test de

[2018-12-07 20:35] woldie commented on #583
@prideout Hi thanks for the rapid turnaround on this.

I see the new 1.1.0 version of filament on NPM, and I made an attempt to upgrade my code to point to it.  1.1.0 is not working for me, no errors in the logs, it just doesn't display my model.  I'm just going to go back to the copy of the libraries I originally downloaded from prideout.net for now.

Just for my information, am I expected to rec

[2018-12-07 21:06] prideout commented on #583
You don't need to recompile your filamesh files.  In general you *do* need to recompile your filamat files whenever we change Filament's middle version number, as described in the [versioning doc](https://github.com/google/filament/blob/master/filament/docs/Versioning.md).

You can get version-locked versions of the tools from Filament's [releases](https://github.com/google/filament/releases) page

[2018-12-07 21:31] woldie commented on #583
@prideout the new webpack sample does work, I saw fadey, pulsey background color changes.

I will recompile my .filamat file and see if the 1.1.0 library on NPM works for me.

[2018-12-07 21:33] romainguy commented on #594
Thanks! We compile with API level 24 to access optional features but it apparently has side effects. We need to figure out a way to compile for API level 21.

[2018-12-07 21:37] romainguy commented on #594
Apparently everything compiles just fine with API level 24, I need to investigate why we switch to this level. Might be for optimizations.

[2018-12-07 22:01] romainguy commented on #594
Seems to be working fine with API level 21.

[2018-12-07 23:34] woldie commented on #583
@prideout  I'm running webpack 4.8.3 and your webpack sample runs webpack 4.0, not sure if that has any bearing on my continuing issues using the copy of filament downloaded from npm.  I think there is some proxification going on with Getters or something that are making importing from node_modules different than including filament from my src folder.

For whatever reason, (and I'm tired of chasin

[2018-12-08 00:15] prideout commented on #583
I wonder if something in your project is causing `filament.js` to be executed twice.  Note that you can either use a `<script>` tag to execute filament.js (like the tutorials do) or you can use import (like the webpack sample does), but you cannot do both.  Can you point me to your project, or attach it as a zip?

[2018-12-08 00:17] #594 closed

[2018-12-08 15:08] rawnsley commented on #594
That worked. Thank you for the super quick response and fix!

[2018-12-08 18:11] romainguy commented on #594
You're welcome! Thanks for the port, and sorry you had to deal with this!

[2018-12-09 00:13] woldie commented on #583
Could be.  I'll just debug it on my local and make a PR for you when I get a free minute.

[2018-12-09 05:46] Muratam opened #603 "In filament document, it has wrong sample code."
**Describe the bug**
https://google.github.io/filament/Filament.md.html#materialsystem/standardmodelsummary
In filament document , section 4.6 ,Listing 9, it mistakes `VOH` for `LOH` .

- `float LoH = clamp(dot(l, h), 0.0, 1.0);` will be `float VoH = clamp(dot(v, h), 0.0, 1.0);`
- `F_Schlick(LoH, f0);` will be `F_Schlick(VoH, f0);`

[2018-12-09 05:49] romainguy commented on #603
`h` is the half vector between `l` and `v`, which means `LoH` and `VoH` are the same thing.

[2018-12-09 05:49] #603 closed

[2018-12-09 05:55] Muratam commented on #603
ok,microfacet model ,ok .sorry.

[2018-12-10 16:31] cvetan5 opened #604 "Changing geometry / vertices on runtime"
Hello,

Is it possible to access and modify the vertex data of renderables in Filament during runtime?

[2018-12-10 16:40] romainguy commented on #604
Hi, you can use RenderableManager::setGeometryAt. You can also modify the content of VertexBuffer and IndexBuffer at runtime.

[2018-12-10 16:40] #604 closed

[2018-12-10 18:35] romainguy opened #606 "Make optimized shaders the default in filamat/matc"
Let's deprecate `-O`, add a `-D` to generate debug shaders (non-optimized) and make optimization the default. Using non-optimized shaders can cause issues with the release builds of filament.

[2018-12-11 03:20] simonkuang commented on #15
Notice the file `android-ndk-r17-beta2/toolchains/mips64el-linux-android-4.9/prebuilt/darwin-x86_64/NOTICE-MIPS64`. The content of the file is below.

SDK's Gradle plugin, version 3.0.1 and earlier, which expects the NDK
to have a MIPS64 toolchain directory.

So, i can say, using Android SDK's Gradle plugin above 3.0.1, or create even a directory marked with 'mipsel' and 'mips64el', can both resol

[2018-12-11 16:25] rawnsley opened #618 "Hello Triangle sample crashes after 30 seconds"
**Describe the bug**
Running the hello_triangle sample for more than 30 seconds or so causes a crash. The same happens on the textured object sample.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile and run hello_triangle from source
2. Wait about 30 seconds

**Expected behavior**
Triangle should spin indefinitely as it does with the same compiled app on my Pixel phone.

**LogCat**
He

[2018-12-11 16:36] romainguy commented on #618
Thank you for the report. Looks like we might be hitting a driver /platform bug. We'll make sure we're not leaking resources on our end though.

[2018-12-11 16:37] romainguy commented on #618
@pixelflinger Any idea?

[2018-12-11 17:36] #606 closed

[2018-12-11 23:24] romainguy opened #621 "Allow MSAA even when post-processing is off"
Disabling post-processing currently turns off all forms of anti-aliasing, including MSAA. There's however no reason MSAA cannot work when post-processing is off.

[2018-12-12 01:00] shartte opened #623 "Support object picking"
**Is your feature request related to a problem? Please describe.**
I would like to know which of the entities Filament is rendering is under my cursor.

**Describe the solution you'd like**
I'd like to pass in a screen coordinate (x, y), an entity, and get back whether the visual representation of the given entity covers the given screen coordinate, and also an indication of how far it is away fro

[2018-12-12 01:08] romainguy commented on #623
AABBs are a very poor choice for picking. In the past we've used Bullet's collision system for this purpose. I would highly recommend you pursue this solution instead. It will give you fine grained picking and it's easy to use. It also has the benefit of not requiring extra render passes.

[2018-12-12 01:08] #623 closed

[2018-12-12 02:55] #403 closed

[2018-12-12 05:47] sarathsi opened #627 "Android - Filament engine with android.opengl.GLSurfaceView support?"
Android filament sample apps, use android.view.SurfaceView.
code: uiHelper.attachTo(surfaceView)
Is there any possibility to use android.opengl.GLSurfaceView instead of SurfaceView?

I have tried to use GLSurfaceView, but in FrameCallback doFrame()
mFilamentRenderer.beginFrame / render / endFrame calls are crashing with
"A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x58 in t

[2018-12-12 05:50] romainguy commented on #627
It's not possible because GLSurfaceView does its own GL management and threading. There is no benefit in using GLSurfaceView with Filament. Did you have a particular reason for this request?

[2018-12-12 05:50] #627 closed

[2018-12-12 10:10] shartte commented on #623
In my own defense, I only wanted to use the AABB in world space to cull before running a more in-depth picker :)

[2018-12-12 21:09] sarathsi commented on #627
Thank you for info. I am trying to draw camera feed and few ARCore objects (planes etc) in the background and on top of that objects rendered by filament engine. Now I am trying with one separate GLSurfaceView and one SurfaceView on top. I have tried below things to make SurfaceView transparent, but no success.

In .java:
[code]

In filament/android/filament-android/src/main/java/com/google/androi

[2018-12-12 21:16] romainguy commented on #627
Let's back up for a bit: why don't you render everything with Filament? You could also use Sceneform (which uses Filament under the hood) to take care of the AR bits for you. Filament is meant to support transparent rendering, but you need to change the clear color to 0,0,0,0.

[2018-12-12 22:41] sarathsi commented on #627
Filament.View.setClearColor(0.0f, 0.0f, 0.0f, 0.0f) makes background black. Also tried with other android filament samples. observed the same. Am I missing anything else here?
Need to think about rendering  everything with Filament. It might be less complex if View transparency works, i guess.

About Sceneform, yes we can use these APIs , but we think that Sceneform is not providing APIs to use Fi

[2018-12-12 23:04] romainguy commented on #627
Sceneform hides Filament Indeed, but it does expose the material system. I'll take a look at transparency and see whether it's broken. It should work :)

[2018-12-12 23:58] romainguy commented on #627
Note that you should be using `TRANSLUCENT`, not `TRANSPARENT`.

[2018-12-13 00:03] romainguy commented on #627
And `setFormat()` and `setZOrderOnTop()` must be called before adding `SurfaceView` to the window btw. I just tested and it works fine.

[2018-12-13 00:04] romainguy commented on #627
I'll write a new sample to show how to do it

[2018-12-13 00:31] romainguy commented on #627
See https://github.com/google/filament/pull/629

[2018-12-13 17:33] romainguy opened #633 "Implement MirrorFlags::SET_PRESENTATION_TIME properly"
This was previously calling `eglSetPresentationTime` but this caused frame pacing issues. We need to revisit whether this flag is really useful. See `FRenderer::mirrorFrame`, there is a TODO left in there.

[2018-12-14 00:20] romainguy opened #636 "Add Vsync callback API to Filament"
We currently rely on the app somehow syncing rendering to vsync. We should have a Filament API to handle this cross platform. One reason why it matters that we do it ourselves is that some platforms may need to the GL context, for instance macOS: https://developer.apple.com/library/archive/qa/qa1385/_index.html

[2018-12-14 01:46] thirdmenson opened #637 "Build fails on windows with clang 6.0 and visual studio 2015"
I followed the windows install instructions and the build fails with the latest source files with this error:

"C:\Users\Sean\Documents\Projects\engines\filament\out\cmake-release\TNT.sln" (material_sandbox target) (1) ->
       "C:\Users\Sean\Documents\Projects\engines\filament\out\cmake-release\samples\material_sandbox.vcxproj.metaproj"
       (default target) (2) ->
       "C:\Users\Sean\Docume

[2018-12-14 01:50] romainguy commented on #637
It looks like the resgen step for the shaders didn't run. @bejado can you please take a look?

[2018-12-14 02:55] thirdmenson commented on #637
Thanks for the quick response guys.  I will try to build with ninja tomorrow and let you know. However I have been using visual studio for a project and wanted to integrate your amazing renderer. It would be great if we could fix build on visual studio :)

[2018-12-14 13:41] shartte commented on #637
@thirdmenson  You can build the lib with Ninja, and use the compiled libraries with your visual studio project.

[2018-12-14 16:07] CAYdenberg commented on #21
This bugged me too.

[2018-12-14 16:49] Tenebralus opened #638 "Readme outdated for VS 2017"
Seems the readme has wrong information about creating a build for VS 2017. I'm talking about this part:
https://gyazo.com/fcce3c02e8c067e0479c929e058d2e85

Could you change requirements from Clang 6 to Clang 7 and change line
cmake -T"LLVM-vs2014" -G "Visual Studio 14 2015 Win64" ../..
to
cmake -T"LLVM" -G "Visual Studio 15 2017 Win64" ../..

Or just add separate 2017 instructions apart from the 2

[2018-12-14 16:56] romainguy commented on #638
It should be an addition, not a replacement. We still rely on VS2015.

[2018-12-14 17:09] Tenebralus commented on #638
Are you going to upgrade to VS 2017?
Because when I try to download VS 2015 from the official website  I get the "Sorry, we couldn't find any downloads for you." message, so I think I would not be able to downgrade anymore. That and more and more people are using VS 2017 these days, so I think it would be useful to add a separate tutorial for VS 2017 or to upgrade to 2017.

[2018-12-14 18:14] Tenebralus opened #639 "Errors when building for VS 2017"
Tools used:
CMake 3.13.2
Microsoft Visual Studio Community 2017 Version 15.9.4
LLVM 7.0.0 64-bit Pre-Built Binary
Python 3.7.0
Windows 10 SDK for Windows 10, version 1809 (servicing release 10.0.17763.132)
filament 1.1.0

I am configuring the build using CMake:
![image](https://user-images.githubusercontent.com/13809397/50018101-74a33900-ffce-11e8-990a-fe2211654e5c.png)
![image](https://user-image

[2018-12-14 21:14] thirdmenson commented on #637
I tried building using Ninja but I get this error :

`C:\Users\Sean\Documents\Projects\engines\filament\out\cmake-release>cmake ../.. -G Ninja -DCMAKE_CXX_COMPILER:PATH="C:\Program Files\LLVM\bin\clang-cl.exe" -DCMAKE_C_COMPILER:PATH="C:\Program Files\LLVM\bin\clang-cl.exe" -DCMAKE_LINKER:PATH="C:\Program Files\LLVM\bin\lld-link.exe" -DCMAKE_BUILD_TYPE=Release
-- The C compiler identification is C

[2018-12-14 22:01] bejado commented on #637
@thirdmenson Make sure you're using a VS2015 x64 Native Tools Command Prompt, even though you're building with Ninja. That being said, yes, the fix will be merged in master soon. I prefer using Ninja though, seems to be significantly faster than Visual Studio.

Also, thought I'd point out that if you're working on a project that uses Filament and not Filament itself, you could also use our [pre-co

[2018-12-14 22:03] #637 closed

[2018-12-14 22:04] bejado commented on #637
Fix is in master- feel free to reopen if you still experience problems.

[2018-12-15 00:04] bejado commented on #639
Hey @Tenebralus I haven't used the CMake GUI much before, but when I run it with the same settings in your screenshot I see:

[code]

which is the **incorrect** compiler. I imagine this is because the correct environment variables are not set. Can you try invoking CMake manually in a x64 Native Tools Command Prompt for VS 2017?

[code]

This sets the necessary env vars. Using that method I'm able

[2018-12-15 02:05] thirdmenson commented on #637
I may have to modify source code depending, hence need to be able to build filament.

I got the latest source from master and now that specific error we saw before seems to be gone but build is still failing with this error:

clang-cl.exe : error : argument unused during compilation: '/Gm-' [-Werror,-Wunused-command-line-argument] [C:\U
       sers\Sean\Documents\Projects\engines\filament\out\cmak

[2018-12-15 02:08] Tenebralus commented on #639
Ok, so I tried invoking using:
`E:\cmake-3.13.2-win64-x64\bin\cmake -T"LLVM" -G "Visual Studio 15 2017 Win64" -S E:\Filament-cmake\filament -B E:\Filament-cmake\filament-done`
Output in Command Prompt:
![image](https://user-images.githubusercontent.com/13809397/50037818-ae4b6280-0015-11e9-96cc-1c6e83681375.png)

But I still get errors when building, the same errors from what I see:
https://pastebi

[2018-12-15 02:54] Tenebralus commented on #639
By the way, which one is the correct compiler? The LLVM 7.0.0 one? So a path similar to C:\Program Files\LLVM\bin\clang-cl.exe? If so, how do I force that compiler?
I tried the -D CMAKE_C_COMPILER=C:\Program Files\LLVM\bin\clang-cl.exe option, which should update the cmake cache entry accordingly, but it does not work, it still checks for the compiler in the visual studio folder

[2018-12-15 03:14] bejado commented on #639
Yes, LLVM 7.0.0 is correct. Not sure why CMake lists Microsoft's compiler on the "Check for working CXX compiler" line. Judging by the build output it's still correctly using Clang at C:\Program Files\LLVM\bin\clang-cl.exe.

I was able to reproduce your bug, but only if I use Visual Studio GUI. If I invoke the build using the `msbuild` command, it succeeds. So it appears `msbuild` is doing things

[2018-12-15 03:44] Tenebralus commented on #639
Still the same bug:
![image](https://user-images.githubusercontent.com/13809397/50038690-d5a92c00-0023-11e9-9eb4-00079b350054.png)

It is quite late for me at the moment, I will continue tomorrow (in about 10 hours). Thanks for the help so far.

[2018-12-15 06:42] bejado commented on #639
Can you check that you've pulled the latest master? I think the `undefined symbol: SHADERS_PACKAGE` was fixed in #637

[2018-12-15 15:18] Tenebralus commented on #639
It works! I was able to run samples\Release\lightbulb.exe samples\assets\models\monkey\monkey.obj successfully. Seems I downloaded an outdated version of filament earlier.

So, what libraries should I add to my project to be able to render with filament?

[2018-12-15 19:43] thirdmenson commented on #639
I was also able to build successfully using clang 7 and visual studio 2017.  I used this command

cmake -T"LLVM" -G "Visual Studio 15 2017 Win64"  -DCMAKE_CXX_COMPILER:PATH="C:\Program Files\LLVM\bin\clang-cl.exe" -DCMAKE_C_COMPILER:PATH="C:\Program Files\LLVM\bin\clang-cl.exe" -DCMAKE_LINKER:PATH="C:\Program Files\LLVM\bin\lld-link.exe" ../..

My mistake was to use -T "LLVM-vs2017" platform tools

[2018-12-15 19:46] romainguy commented on #639
Thanks for the info @thirdmenson! We'll update the README.

@Tenebralus You'll need `bluegl.lib`, `filament.lib`, `filabridge.lib`, `filaflat.lib`, `smol-v.lib` and `utils.lib`. Basically everythng except `filameshio.lib` and `filament-jni.lib`.

[2018-12-15 19:59] thirdmenson opened #644 "Ambient Occlusion and Screen Space Reflection"
I was wondering if adding ambient occlusion and Screen space reflection is even in your guys road map as I didn't see it being mentioned in the readme file.

Absent global illumination feature ( which is expensive), ambient occlusion does add realism to scene at a low cost.  Event though there is shadows due to light in the chess example image in the readme doc it still looks flat and lacking shad

[2018-12-15 20:02] romainguy commented on #644
We eventually want to add ambient occlusion, the key is to do it efficiently on mobile (and hopefully avoid the typical AO artifacts like black halos around objects in front of a wall for instance). I am however not fond of screen space reflections (nor is @pixelflinger), they usually lead to unstable images. I'd rather focus first on local probes and maybe planar reflections (although these would

[2018-12-15 20:04] romainguy commented on #638
According to https://github.com/google/filament/issues/639#issuecomment-447593083 the README should say this for VS 2017:

[code]

[2018-12-15 20:07] thirdmenson commented on #644
Planar reflections would be even better!

[2018-12-15 23:02] thirdmenson opened #645 "Artifacts in windows OpenGL when ibl is rotated."
I tried the Suzanne example and by default you are rotating the ibl image, which causes black artifacts all over model which goes away when you rotate. But even when rotating the model you will still see flickering pixel artifacts. This all goes away when I remove the ibl rotation and I get a clean render.  Here is the initial artifact  [image](https://imgur.com/a/lU1q4QG)

btw my graphics card GT

[2018-12-15 23:13] romainguy commented on #645
Thanks. I'm not sure why the rotation would cause this problem as I cannot reproduce the issue on macOS. I wonder if we have a bug in the shader compilation.

@pixelflinger @bejado Could you please take a look? Does it reproduce on our Windows machines?

[2018-12-17 12:19] RYDB3RG commented on #645
I can reproduce it too (win, GTX1070). I think colorpass is zfighting with depth pass. Disabling depthpass solves the issue, using color program for depth pass also solves the issue. So it might be `invariant` related.

[2018-12-17 15:43] romainguy commented on #645
It's been causing us problems. Does it go away in release builds?

[2018-12-17 16:03] rawnsley commented on #435
@romainguy Any chance of a hint on the best approach to GoogleVR SDK integration? The lifecycle is based around [GvrView](https://developers.google.com/vr/reference/android/com/google/vr/sdk/base/GvrView), but the underlying Surface object it creates is not exposed so I'm not sure how I can create a Fragment SwapChain that targets the underlying buffers or if that's in fact what I should be doing

[2018-12-17 16:07] romainguy commented on #435
Interesting, the way GrView works is not what I would have expected (and it's incompatible with Vulkan too). We'll take a look. Libraries should not manage the surface like this.

[2018-12-17 16:15] romainguy commented on #435
I just found a lower level that seems to be what you/we want: https://developers.google.com/vr/reference/android/com/google/vr/ndk/base/GvrLayout

[2018-12-17 17:30] rawnsley commented on #435
That looks promising! I will report back (and thanks again)

[2018-12-17 18:07] Tenebralus opened #646 "Cannot open include file DriverEnums.h"
I tried to create a new filament Engine:
`filament::Engine* m_Engine = filament::Engine::create( );`
but I got this error:
`2>e:\brawler\external_projects\thirdparty\filament\include\filament\fence.h(24): fatal error C1083: Cannot open include file: 'filament/driver/DriverEnums.h': No such file or directory`
The folder indeed does not have DriverEnums.h, neither can I find it in the latest github

[2018-12-17 18:10] romainguy commented on #646
This header is part of the filabridge library: https://github.com/google/filament/tree/master/libs/filabridge/include/filament/driver

It's there because it's shared with tools and libraries. Make sure you link against that library.

[2018-12-17 18:14] RYDB3RG commented on #645
It reproduces also in Release make. Ubuntu 18.10 on same hardware and with nvidia driver works fine.
Removing `invariant` from `generateProlog` seems to also do the trick. Pretty weird.

[2018-12-17 18:16] Tenebralus commented on #646
aah I see thank you

[2018-12-17 18:16] romainguy commented on #645
That's quite unexpected. Maybe we should stop trying to be smart in the depth prepass and just use the material's vertex shader always instead of trying to use the built-in one (the goal was to avoid unnecessary program swaps during the depth prepass since we are sorted by distance).

[2018-12-17 18:33] Tenebralus commented on #646
Now I am getting an error in driverenums.h:
`2>e:\brawler\external_projects\thirdparty\filament\include\filament\driver\driverenums.h(110): error C2059: syntax error: 'constant'`
It's the ERROR enum in this class:
[code]

[2018-12-17 18:35] romainguy commented on #646
I imagine you're getting this error in Visual Studio right? I don't see anything wrong with this enum.

@bejado any idea?

[2018-12-17 18:38] Tenebralus commented on #646
yes, Visual Studio 2017

[2018-12-17 19:02] Tenebralus commented on #646
It seems renaming it to eERROR resolves the issue, not sure why, I searched for the ERROR enum in my solution, but found nothing, same goes for the NEAR and FAR enums in filament/Frustum.h, it seems they are defined in minwindef.h, which I think is a file from a windows 10 SDK

[2018-12-17 19:09] romainguy commented on #646
Ah you're right we have a special include in our tree to work around that.

@bejado could you make sure this include uses the Windows workaround please? Same for Frustum.h

[2018-12-17 19:14] romainguy commented on #646
@Tenebralus An easy workaround is to just add `#include <utils/unwindows.h>` to any file causing problems. Sorry about this!

[2018-12-17 19:23] Tenebralus commented on #646
that works 👍

[2018-12-17 19:43] bejado commented on #639
@Tenebralus You can find an example `Makefile` and instructions for linking against Filament [here](https://github.com/google/filament/tree/master/filament#windows).

[2018-12-17 20:45] Tenebralus commented on #639
Ok, just done that, but how does this benefit me? I am new to this makefile approach :)

[2018-12-17 20:47] romainguy commented on #639
It shows you what libraries you are required to link against.

[2018-12-17 20:49] Tenebralus commented on #639
aah, are you talking about the files under "2 warnings generated"?
![image](https://user-images.githubusercontent.com/13809397/50114750-a245e780-0245-11e9-9865-dcfcb2e08a9a.png)

[2018-12-17 22:00] #638 closed

[2018-12-17 22:03] bejado commented on #639
Correct, the `.lib` files are the static libraries required for using Filament.

[2018-12-17 22:03] #639 closed

[2018-12-18 01:23] bejado commented on #645
I can't seem to replicate it on Windows or Linux both with Nvidia Quadro M4000s. @RYDB3RG so you're only seeing the issue on Windows?

[2018-12-18 02:20] #646 closed

[2018-12-18 08:01] hemantkadamata opened #650 "How to use filament for AR or with ARcore"
Hi,
I am using filament for rendering 3D content at runtime and have to render the same 3D content for AR on android device.
Does Filament provide API's to do or it connects with ARCore Internally for rendering AR content?
It will be helpful if any sample is shared.

[2018-12-18 08:43] RYDB3RG commented on #645
Yes, only on windows, ubuntu looks good (even with proprietary nvidia drivers)

This is how it looks (artifacts especially around eyes)
[suzanne.mp4](https://www.dropbox.com/s/bf7cb2agetb771y/suzanne%202018-12-18%2008-30-01.mp4?dl=0)

Artifacts completely  disappear when either using color VS for depth pass or removing `invariant` from codegen

Loading monkey.obj with sample_full_pbr also looks go

[2018-12-18 16:00] rawnsley opened #651 "Textured Object sample not working without post processing"
**Describe the bug**
The Android Textured Object sample renders incorrectly when post-processing is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Uncomment the line in the sample code [that sets isPostProcessingEnabled to false](https://github.com/google/filament/blob/master/android/samples/textured-object/app/src/main/java/com/google/android/filament/textured/MainActivity.kt#L12

[2018-12-18 17:30] Tenebralus opened #652 "opengl32.lib duplicate defines error"
I am trying to build the filament libs into my own project, but my project already includes opengl for other libs and I am getting the following errors:
https://pastebin.com/aNCA9DEd

Do you guys have some sort of workaround for this just like the unwindows.h file?

[2018-12-18 17:31] romainguy commented on #652
Which errors?

[2018-12-18 17:37] Tenebralus commented on #652
accidentally pressed ctrl-enter, my bad

[2018-12-18 17:49] romainguy commented on #651
I bet it's because we have a bug that causes to not allocate a depth buffer in the surface's render target when post-processing is disabled.

[2018-12-18 17:51] romainguy commented on #650
Filament provides all the required API to render AR content. The [Sceneform library](https://developers.google.com/ar/develop/java/sceneform/) from ARCore  actually uses Filament to do all the rendering internally. You could just use Sceneform directly as it lets you do AR and regular 3D.

[2018-12-18 17:51] #650 closed

[2018-12-18 17:53] romainguy commented on #435
Looks like we'll need to add support indeed. And it looks like it will be GL specific and not work with Vulkan :/

[2018-12-18 17:54] romainguy commented on #645
Interesting, the artifact is quite different from the usual depth prepass problems we've seen before. We'll have to further investigate…

@RYDB3RG Note that the depth prepass can also disabled per `View` instance in Filament apps.

[2018-12-18 21:11] bejado commented on #652
Can you show how you're compiling Filament into your own project?

[2018-12-18 22:31] Tenebralus commented on #652
I add the libs in stdafx.cpp:
![image](https://user-images.githubusercontent.com/13809397/50186040-ec989880-0319-11e9-8f36-c5c97621a64f.png)

I decided to comment out the opengl libs used by bluegl, but it does not remove the errors:
![image](https://user-images.githubusercontent.com/13809397/50186982-ef48bd00-031c-11e9-9107-2f6cd13118de.png)

Then I try to create a filament engine in the next cla

[2018-12-19 21:45] shartte opened #653 "Lighting issues with skinned meshes"
**Describe the bug**
I am seeing lighting artifacts on a mesh when using skinning.
Rotating the mesh without skinning doesn't show any obvious lighting problems, suggesting that the tangent space is not completely borked. The tangent space in this case was created using mikkt.

**Expected behavior**
I would have expected to not see the completely black patches on the mesh.

**Screenshots**
The mes

[2018-12-19 21:48] romainguy commented on #653
How do you encode the tangents frame when you create the filament mesh?

[2018-12-19 21:55] Tenebralus commented on #652
Well I am working with a team and we are creating a PC game at the moment, trying out filament to see if we can use it as the baseline for our graphics. We also use SFML, CEGUI, Voxelfarm along with some dependencies like glew and freeglut, which all use opengl.

Just got some help from one of my team members today and found the problem. Apparently we had to include the filament headers before any

[2018-12-19 21:55] shartte commented on #653
Since I am still testing, I am using FLOAT4, and use this to create the quaternion:

*tangentFrameOut = math::mat3f::packTangentFrame({
		*tangent,
		*bitangent,
		*normal
	});

Where tangentFrameOut is copied as is to the vertex buffer.

[2018-12-19 21:58] romainguy commented on #652
Filament doesn't use SDL, our samples do. Filament itself doesn't take dependencies like this.

[2018-12-19 21:59] romainguy commented on #653
And how are you passing the bone transforms? Maybe the bug is in how we handle them CPU side. I know @pixelflinger fixed a couple of issues there recently.

[2018-12-19 22:00] Tenebralus commented on #652
aha ok, because
`engine->createSwapChain( window );`
takes a window as input, that is why I am asking

[2018-12-19 22:01] romainguy commented on #652
We get the native window pointer from SDL.

[2018-12-19 22:03] Tenebralus commented on #652
alright, thanks for the heads up

[2018-12-19 22:08] shartte commented on #653
I am passing them as matrices.
```rm->setBones(i, matrices, boneCount, offset);```

The skinning itself seems to work pretty flawlessly, really. The animation playback looks totally ok.

[2018-12-19 23:15] shartte commented on #653
Okay just to make sure I even switched over the shaders to use matrices directly rather than the decomposed matrices and I still get the same issue. I am assuming it must be something about either my transform matrices or my model. I'll look into this on my end.

[2018-12-20 01:36] aleksey-chugaev opened #654 "Shadows and ambient light in a scene"
Hi, a question about lights and shadows. I have a scene with 2 objects: cube and plane and a single directional light (I used lit-cube sample android app).
My cube has:
[code]
My plane has:
[code]
My light has:
[code]

The result looks like this:

![screenshot_20181220-121907](https://user-images.githubusercontent.com/4714043/50258231-d6422800-0452-11e9-9e1e-133e00702fe9.png)

The shaded area on t

[2018-12-20 07:22] Amit-Tomar-Inkarne opened #655 "Fallback WebGL support when WebGL 2 is not available"
**Is your feature request related to a problem? Please describe.**

While WebGL support is around 92% [https://caniuse.com/#feat=webgl]

Current WebGL 2 support is around 67% [ https://caniuse.com/#feat=webgl2 ]

Doesn't look like Apple is any soon going to support WebGL 2, they are already working on their own WebGPU, and may wanna push that. This restrict the Filament useage for web to quite res

[2018-12-20 08:52] RYDB3RG commented on #645
I changed `beginRenderPass` to make it clear all buffers (`TargetBufferFlags::ALL`)
It looks now a bit more zfight-y [suzanne2.mkv](https://www.dropbox.com/s/ulhnlztn2t9teo2/suzanne%202018-12-20%2009-39-51.mp4?dl=0)
(I think it looked weird before because color wasnt cleared, so the holes were the pixels from the previous frame)

[2018-12-20 09:36] romainguy commented on #653
Skinning before world transforms sounds right indeed. Unless we expect the bone transforms to be in world space but that'd be weird.

[2018-12-20 09:38] romainguy commented on #655
We are currently not planning to fall back to WebGL 1.0. It would require a lot of work and changes to the engine and I'd rather we focused on WebGPU. Note that WebGL 2 can be turned on on iOS in the system settings. It's not ideal though I agree :/

[2018-12-20 09:38] #655 closed

[2018-12-20 09:39] romainguy commented on #645
Yeah definitely seems like a depth prepass bug. Still unclear why :/

[2018-12-20 09:41] romainguy commented on #654
The shadow appears completely black because you don't have an indirect light. For this you need to generate an IBL with cmgen and add it to the scene with the IndirectLight API. You can see the various C++ or Android samples. In the C++ samples look for IBL.cpp I believe.

Not that we currently support only 1 directional light. We pick the one of highest intensity.

[2018-12-20 09:41] #654 closed

[2018-12-20 14:08] Raki opened #657 "Build Failure for Samples on Windows"
**Describe the bug**
Build is failing on Windows (with vs2017) when we run
msbuild  TNT.sln /t:material_sandbox /m /p:configuration=Release

with the following the error:

      "E:\FilamentSpace\filament-sceneform-1.7pr2\out\cmake-release\TNT.sln" (sample_full_pbr target) (1) ->
       "E:\FilamentSpace\filament-sceneform-1.7pr2\out\cmake-release\samples\sample_full_pbr.vcxproj.metaproj" (default

[2018-12-20 14:18] romainguy commented on #657
Looks like an issue we saw before: the shader generation step didn't run.

Could you try compiling everything please?

[2018-12-20 20:05] bejado commented on #657
@Raki please make sure you're on the latest master, and let us know if you still have issues.

[2018-12-21 02:57] aleksey-chugaev commented on #654
Thanks @romainguy, that worked perfectly:

![screenshot_20181221-135209](https://user-images.githubusercontent.com/4714043/50322226-55556000-0528-11e9-971f-7e8d120fa560.png)

[2018-12-21 03:31] Raki commented on #657
@bejado In latest master this issue is not there. It was compiled normally without any errors. It is there in **filament-sceneform-1.7pr2**

Thank you @romainguy and @bejado for the quick response...!!!

[2018-12-21 03:31] #657 closed

[2018-12-21 10:02] elmotron commented on #473
Any tips on how we could enable vsync.
For example, I'm on windows (WGL) and in order to do that, I have to either call SDL_GL_SetSwapInterval or wglSwapIntervalEXT - both don't work because the current gl context is not on the main thread (I suppose). I can create another gl context using sdl, on the main thread, but of course that does not work as well.
I guess I can edit filament and enable it

[2018-12-21 21:47] JoeyvGangelen opened #660 "\external_projects\thirdparty\filament\include\math\mat4.h(536): warning C4346: 'math::details::TMat44<T>::Fov': dependent name is not a type"
**Describe the bug**
One of my teammates implemented the include headers and .lib files into the project, and ever since I've been getting this warning on both Debug and Release. It compiles fine for him:
2>\external_projects\thirdparty\filament\include\math\mat4.h(536): warning C4346: 'math::details::TMat44<T>::Fov': dependent name is not a type

Due to that, the following error crashes my build:

[2018-12-21 23:47] shartte opened #661 "Documentation mentions "Static Lights" but doesn't explain what they are"
**Describe the bug**

The documentation for the LightManager states:
` * 3. Use Type.Static Lights as much as possible.`

That type of light doesn't seem to exist though.

Furthermore, other methods state:

`* @note ignored for Mode.STATIC lights.`

I couldn't find any actual reference to "Mode" or "STATIC" in the code though.

Is this outdated information?

[2018-12-22 00:00] shartte commented on #660
@JoeyvGangelen I don't have this particular issue when using Visual Studio.
Can you please report the actual site of the error? Is it where it's included or where a specific template function is called?
Also: What is the *exact* version of Visual Studio you are using. Is it with  MSVC or the Clang frontend?

[2018-12-22 05:49] romainguy commented on #661
It's outdated indeed

[2018-12-22 11:14] shartte commented on #661
I opened a PR to make pixelflinger's life a bit easier ;-)

[2018-12-22 13:14] JoeyvGangelen commented on #660
@shartte it's caused by the line:
"#include "External_Projects/Thirdparty/Filament/include/filament/Engine.h""

[2018-12-22 14:57] #661 closed

[2018-12-24 07:50] #653 closed

[2018-12-24 10:30] Amit-Tomar opened #663 "Named materials not working [Web]"
**Describe the bug**
Trying to render a filamesh which has material name 'Material__25' in it.

When loading like this, it works fine, the default texture gets applied :

`const filamesh = this.engine.loadFilamesh(this.filamesh_url, this.matinstance);
`

However, when I want to pass a map of material , none of the texture is getting applied.

`const filamesh = this.engine.loadFilamesh(this.filames

[2018-12-25 06:29] Zyrsha opened #664 "Get rid of the hard-coded file blob in third_party/"
This project should switch over to git submodules with tag #'s

Which revisions are these externals? Where did they come from? Oh, I have to go through the git history, searching for commit messages about a tag change? And I have to go searching on GitHub to figure out if one of the libs has a non-ambiguous name? And which fork did you use, exactly? And what is "environments"? Which repo is that f

[2018-12-25 06:33] romainguy commented on #664
Thank you for the suggestion. We unfortunately would like to keep it this way for many reasons (some historical).

[2018-12-25 06:33] #664 closed

[2018-12-25 22:10] Tenebralus commented on #652
Since this issue is still open, I would like to go back to my duplicate defines errors, which was never solved, I just thought it was.
I have made a new project which recreates the same errors and I would like to see if you guys can figure out what I am doing wrong. My main.cpp:
[code]

clsFilament.h:
[code]

clsFilament.cpp:
[code]

Additional Include Directories:
![image](https://user-images.git

[2018-12-26 03:39] bejado commented on #652
Somehow the `opengl32.lib` is still being passed to the linker before `bluegl.lib`. What would help is if I could see the full command-line arguments passed to the linker. Can you [enable verbose output](https://stackoverflow.com/questions/19822603/is-there-a-way-to-get-the-build-command-line-used-by-visual-studio), do a fresh rebuild, and paste the output?

[2018-12-26 03:40] bejado commented on #660
@JoeyvGangelen are you using MSVC to build? At the moment we only support Clang on Windows.

[2018-12-26 11:45] shartte opened #665 "Culler out of bounds array access"
**Describe the bug**
When enabling the page heap using gflags to track down heap corruption, I noticed this out of bounds array access in ``Culler::intersects``:

![image](https://user-images.githubusercontent.com/1261399/50445001-fb7bde00-090b-11e9-9ce9-f1d702b38f6b.png)

I think the assumption that capacity is always a multiple of 8 is broken.
The data being passed in has both capacity and size

[2018-12-26 11:51] romainguy commented on #665
If there's a bug it would be here then:

https://github.com/google/filament/blob/master/filament/src/Scene.cpp#L71

Or in setCapacity().

[2018-12-26 11:51] shartte commented on #665
I am looking into this, I think it might be related to having a scene without lights which I maintain for the purposes of rendering only unlit UI primitives.

[2018-12-26 11:53] romainguy commented on #665
That would be something we never tried I believe :)

[2018-12-26 12:30] Tenebralus commented on #652
Ok, I changed the verbosity to Diagnostic
https://pastebin.com/xbqBPhqa

[2018-12-26 13:07] Raki commented on #172
Hi,  @cgmb I'm trying to use filament with GLFW,

     glfwWindowHint(GLFW_CLIENT_API, GLFW_NO_API);
     window = glfwCreateWindow(TargetWidth, TargetHeight, "Hello World", NULL, NULL);
     winHandle = glfwGetWin32Window(window);
     engine = Engine::create();
     swapChain = engine->createSwapChain(winHandle);

 ......
 ......

      while (!glfwWindowShouldClose(window))
     {
           up

[2018-12-26 19:11] bejado commented on #652
It looks like you're trying to use MSVC to compile / link, but we only support compiling against Filament with Clang. You'll need to select the `LLVM-vs2014` toolchain in your project settings. I don't think Clang supports `#pragma comment(lib, ...)`, so you'll need to set up the library dependencies in the project settings.

[2018-12-26 21:39] Tenebralus commented on #652
Aha! Yes that seems to work.
I thought I only needed Clang for building the libraries, seems I misunderstood that part.

pragma comment seems to run fine, but there are some other build errors I need to have a look at now.

[2018-12-27 11:11] cgmb commented on #172
Sorry @Raki, my target platform is Linux and I only ever hacked things together before I had to move on. But, I did get [my hello triangle][1]  working with GLFW on Ubuntu. The code is very, very rough, and I have no idea if it will be of any use at all, but now it's there for anyone interested.

[1]: https://github.com/cgmb/hello-filament

[2018-12-27 11:48] Raki commented on #172
@cgmb Thank you for the response and the example. I will go through it. I am sure it will be of some help :-) to me.

[2018-12-27 16:56] Tenebralus opened #667 "Precompiled header error with LLVM"
Using the following applications:
Microsoft Visual Studio Community 2017 Version 15.9.4
LLVM Compiler Toolchain extension

We use precompiled header files in our project, but after changing the platform toolset to LLVM I get the following error:
`CL : fatal error : #include of 'stdafx.h' not seen while attempting to use precompiled header`
The code compiles fine with platform toolset v141.
Are you

[2018-12-28 13:54] uromastix87 opened #668 "reason: Engine destroyed but not terminated!"
**Describe the bug**
Getting log in console:
`reason: Engine destroyed but not terminated!`
**To Reproduce**
Steps to reproduce the behavior:
1. ...
run the following code:
[code]
**Expected behavior**
Am I forgetting to destroy some stuff? Do the buffers get cleaned up automatically when I destroy the renderable? Also, what about the Material?

**Desktop (please complete the following information

[2018-12-28 13:58] romainguy commented on #668
You didn't destroy the engine itself:

```Engine::destroy(&engine);```

You should destroy materials, renderables, etc. as a best practice but everything gets cleaned up automatically. Just make sure to destroy the engine though :)

[2018-12-28 13:58] #668 closed

[2018-12-28 14:10] JoeyvGangelen commented on #660
I am, but my teammate compiled it using Clang and added it to the MSVC solution. It works for him but doesn't for me?

[2018-12-28 14:52] shartte commented on #660
@JoeyvGangelen I think you'll need to update your Visual Studio version. I am using 15.9.4 successfully with filament's headers.

[2018-12-31 06:04] thirdmenson opened #669 "Static debug filament lib linker error"
I was able to successfully build my sample app by importing the filament static .lib files and it compiles and links fine on release version, but when I build the debug lib from source successfully and add them to my project to enable debugging I get this linker error:

1>    lld-link.exe : error : undefined symbol: ?createDriver@PlatformNoop@filament@@MEAAPEAVDriver@2@PEAX@Z
1>    >>> referenced

[2018-12-31 10:52] prideout commented on #669
This is strange because `PlatformNoop.cpp` defines that function.  Since our CMakeLists file includes it for debug builds, it should be included when invoking msbuild with `/p:configuration=Debug`.

Are you using clang to build both Filament and the client application, or are you using clang only for Filament?  Some more detail about your build process might be helpful.  @bejado might have thought

[2018-12-31 14:28] rawnsley opened #670 "Support for triangle strips and fans"
Is there any reason GL_TRIANGLE_STRIP and GL_TRIANGLE_FAN are not available in the [default primitives](https://github.com/google/filament/blob/8fe11a067de6b5ecbce0fee8b003c33fa87250f0/libs/filabridge/include/filament/driver/DriverEnums.h#L129)?

[2018-12-31 14:45] romainguy commented on #670
Strips and fans aren't really better than indexed triangles on modern hardware and can be easily converted to indexed triangles (I actually wouldn't be surprised if that's what some or many drivers do). We therefore decided to limit our API to the most flexible solution, indexed triangles.

There are many discussions available on this topic online if you're interested. Here's one for instance: htt

[2018-12-31 14:45] #670 closed

[2018-12-31 17:34] thirdmenson commented on #669
I was using Msvc but since filament was build using clang I am now building my project in Clang as well.

I hope those files are included when I change to debug build and build using visual studio UI. I didnt try building using msbuild command line because the build compiles and links fine. Its just when linking this lib in my project get this error. Maybe for some reason it may not be picking tho

[2018-12-31 17:35] bejado commented on #669
I remember seeing this issue before, but it should be fixed on the latest master. Can you confirm your repo is up to date?

[2018-12-31 18:33] thirdmenson commented on #669
I got the latest and I was able to build debug version successfully. Thanks guys !

[2018-12-31 18:36] romainguy commented on #669
Sorry for the trouble!

[2018-12-31 18:36] #669 closed

[2019-01-01 10:23] rawnsley opened #671 "Missing function getWorldFromClipMatrix()"
Vertex shader function [getWorldFromClipMatrix](https://github.com/google/filament/blob/master/docs/Materials.md.html#L1324) is documented but not implemented.

I don't actually need it, but I was trying to work out why [this line](https://github.com/google/filament/blob/master/shaders/src/getters.vs#L103) didn't use it (assuming _worldFromClipMatrix = worldFromViewMatrix * viewFromClipMatrix_)

[2019-01-01 10:30] romainguy commented on #671
Looks like we just forgot to add it :) Thanks for noticing!

[2019-01-01 14:02] rawnsley opened #672 "Documentation for UV texture inversion behaviour"
Vertex texture coordinates [are inverted vertically](https://github.com/google/filament/blob/master/shaders/src/common_material.vs#L34) by default, but this behaviour is not explicitly documented.

I believe that this is done to match the top-down convention of bitmap images and therefore to make client code simpler and more intuitive. This may actually be a de facto standard for all modern graphi

[2019-01-01 14:11] romainguy commented on #672
Thanks for the feedback! Yes it would indeed be useful to document this behavior. Note that for non-texture related data I would recommend using the color attribute, it's a more common way to use data in vertex shaders. You can also use custom variables (interpolants).