[2021-12-11 23:02] #4923 closed

[2021-12-11 23:02] #4945 closed

[2021-12-13 04:28] magicwo commented on #4942
@romainguy Hi, Thank you for your answer。I also think my gpu is of low performence. So，can I turn off the PBR？

[2021-12-13 08:30] agGitHub commented on #4948
Hi,

Thanks for your answer. I see a setProjection method in the filament version of the objet Camera [here](https://github.com/google/filament/blob/main/android/filament-android/src/main/java/com/google/android/filament/Camera.java), but I don't see an equivalent in the [Sceneform version](https://github.com/google-ar/sceneform-android-sdk/blob/b33fa25987561e5bf2129a25fbce6ad3b43ac4ee/sceneformsr

[2021-12-13 09:12] will4621d opened #4953 "No implementation of nCreateInstance(long, long) with AssetLoader.cpp in gltfio-android"
No implementation of nCreateInstance(long, long) with AssetLoader.cpp in gltfio-android

[2021-12-13 10:56] rawnsley commented on #4905
@romainguy I think [this test in the Android LogStream](https://github.com/google/filament/blob/main/libs/utils/src/Log.cpp#L50) needs to be modified as well.

[2021-12-13 13:10] dontweaks opened #4956 "CLion MSVC SDL2 build failed"
**Describe the bug**
SDL2 has some errors when it comes to building.

**To Reproduce**
1. Follow building steps https://github.com/google/filament/blob/main/BUILDING.md
2. git clone
3. open the root directory's CMakeLists.txt in CLion to obtain a usable project.
4. build sdl2

**Expected behaviour**
I expect it to build without any errors

**Logs**
[code]

**Desktop (please complete the following

[2021-12-13 13:16] rawnsley opened #4957 "Leaking global references from JniCallback on Android"
It appears that the global references allocated in `acquireCallbackJni` are not always being released because `releaseCallbackJni` is not always called. In our app it occurs after we have turned the screen on and off, which creates and destroys a large scene model with many calls to functions like `setBufferAt`. Eventually (after about 20 power cycles) the JNI global limit is reached and the appli

[2021-12-13 13:52] magicwo commented on #4942
[fps15.html.zip](https://github.com/google/filament/files/7704288/fps15.html.zip)
@romainguy Hi, romain, this is my systrace file. Thanks!

[2021-12-13 17:12] v4vendeta opened #4958 "Question in light distance calculation."
In filament/src/View.cpp line 879

[code]
What does ```(size + 3u) & 3u``` mean? When size equals to 1/5/9, the allocation size is 0.

I think it may be ```(size + 3） & ~3``` according to the comment.

[2021-12-13 17:30] bejado commented on #4956
I suspect CLion is attempting to build for x86, which we don't support on Windows. You may need to generate the CMake project outside of CLion inside a `x64 Native Tools Command Prompt` to ensure the correct toolchain is found.

[2021-12-13 18:29] dontweaks commented on #4956
That's true. I changed in a CLion toolchain panel to amd64 (the only 64 and it seems like it builds (still waiting until it ends). Is there a way to build it on x86?

[2021-12-13 18:33] romainguy commented on #4956
We don't support x86, only x86_64

[2021-12-13 18:37] #4956 closed

[2021-12-13 18:42] romainguy commented on #4905
Thank! I fixed it.

[2021-12-13 18:52] #4953 closed

[2021-12-13 18:54] romainguy commented on #4958
Good catch! Yes you are right, it should be `~3u` and not `3u`.

[2021-12-13 18:54] romainguy commented on #4958
I just pushed a fix.

[2021-12-13 18:54] #4958 closed

[2021-12-13 18:56] romainguy commented on #4957
@bejado @pixelflinger Can you take a look please? It seems like the issue would be because of scheduled destructions not running.

[2021-12-13 19:10] pixelflinger commented on #4957
I'm curious (and worried) that power cycles have anything to do with this -- because filament really doesn't know anything about them.

[2021-12-13 19:19] jimbz commented on #4957
I also observed a similar issue in my application. One element of my scene is updated very frequently (every couple of frames) with a new buffer and newer versions of Filament crash after a little while.

[code]

[2021-12-13 19:22] romainguy commented on #4957
@pixelflinger It probably has to do with what the app does in the Activity's onPause/onStop/etc. For instance, do we executed scheduled detroys when we destroy the `Engine`? But @jimbz's message seems to indicate the issue could be different and more general.

[2021-12-13 19:28] jimbz commented on #4957
I am quite confident in my case it is not due to activity lifecycle. It could be a different issue but everything else looks very similar: global reference overflow when using `setBufferAt`.

[2021-12-13 19:44] rawnsley commented on #4957
@romainguy is right in my case: I clean up all the scene assets in Activity::onPause and destroy everything including the engine in Activity::onDestroy

[2021-12-13 19:45] romainguy commented on #4957
That bug aside, you shouldn't clean up all asset in `onPause`. This is expensive and will be wrong in split window mode, or on a large screens, etc.

[2021-12-13 19:50] pixelflinger commented on #4957
@rawnsley yes, I was actually just about to check that theory -- looking at the code, I think it's possible we're not executing all pending callbacks when the engine is destroyed. Will report on that soon.

[2021-12-13 20:01] pixelflinger commented on #4957
@rawnsley I con't prove it here yet. Would you be able to try to add this
[code]
inside the
[code]
in `DriverBase::DriverBase`.  And see if it triggers for you?

[2021-12-13 21:36] pixelflinger commented on #4957
@rawnsley so the fix above will certainly fix a lot of the issues (thanks for reporting!). However, I think there might be another leak when the engine is destroyed, Please let me know if you hit that assert in your case.

[2021-12-13 21:47] kpeeters opened #4961 "Metal drawable size issue in readPixels"
Running the modified `hello-pbr` of issue #4077 with a debug build of filament under Catalyst and doing a drag to trigger a `readPixels` leads to

    _validateGetBytes:65: failed assertion `GetBytes Validation origin.x + size.width)(3024) must be <= width(2050).

which is produced by the `[readPixelsTexture ...` in `MetalDriver::readPixels` (and leads to a SIGABRT). The image looks fine on the sc

[2021-12-13 21:56] rawnsley commented on #4957
Removing those extra assignments seems to have fixed the leak for me (I should have noticed that myself). Thanks for the super quick turnaround as always.

That post-condition check doesn't fire, but I'll leave it in place in case there are some unusual conditions where it might happen and report back.

I'll close it for now, but if the change doesn't fix the problem @jimbz was having we can reope

[2021-12-13 21:56] #4957 closed

[2021-12-13 23:16] #4941 closed

[2021-12-14 01:39] wes-nz opened #4963 "Support for self-rotation inside Manipulator on mobile"
#### Feature Request
`Manipulator.cpp` doesn't appear to allow self rotation in Orbit Mode.

This gesture is specific to mobile platforms, in Orbit Mode it should rotate the camera on itself, see below.
![Screenshot 2021-12-14 at 2 10 05 PM](https://user-images.githubusercontent.com/2945380/145914226-bdf33089-6c8f-4dad-85f6-95aa52558c84.png)

https://user-images.githubusercontent.com/2945380/14591

[2021-12-14 07:02] jimbz commented on #4957
Thank you for the quick fix! It appears to have fixed my crash indeed.

[2021-12-14 09:34] magicwo opened #4966 "How can I turn off the PBR ？"
the gpu of my Android device has poor performence. So I want to improve ths fps

[2021-12-14 09:36] magicwo commented on #4966
https://github.com/google/filament/files/7704288/fps15.html.zip
this is the systrace file

[2021-12-14 09:42] yj512029078 opened #4967 "How can I turn off the PBR or some shaders ？"
the gpu of my Android device has poor performence. So I want to improve ths fps

[2021-12-14 09:44] yj512029078 commented on #4967
Is there a way to not use GPU, just use CPU. Our gpu is very poor. So  i want to try if i can disable some shader or  PBR?

[2021-12-14 10:38] teoking opened #4968 "Unable to create animator when load a glb/gltf"
**Describe the bug**
Load glb/gltf file failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Download glb/gltf file [here](https://drive.google.com/drive/folders/1IRBp-WDM28E7M6JfnP0_198RtBwwZuLn?usp=sharing)
2. Load 'mytest.glb' in sample-gltf-viewer.

**Expected behavior**
glb/gltf load successfully

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS: Androi

[2021-12-14 10:40] rawnsley commented on #4957
@pixelflinger one strange thing now is that there are sometimes more calls to `releaseCallbackJni` than `acquireCallbackJni`. Using the same crude tracking in CallbackUtils.cpp as above and running _sampled-textured-object_ in the emulator I see 8 adds and 11 releases. If I write out **callbackUtils.handlerClass** and **callbackUtils.executorClass** in the release function they are null in three o

[2021-12-14 13:29] pixelflinger commented on #4957
I will have a look tomorrow, but I'm not sure how to reproduce though.

btw, your crude checks is okay, but you should use std::atomic_int for the global counter and use this pattern to read-update, eg:

int prev = ++counter;

[2021-12-14 13:36] rawnsley commented on #4957
Agreed about the atomic counter - it's only to illustrate the point rather than for production. Just running the texture sample from main branch in the emulator made it happen, so hopefully it is easy to reproduce. Low priority as it isn't causing any actual problems that I can see.

[2021-12-14 15:39] romainguy commented on #4966
You can't turn off PBR. Please use a discussion instead of an issue.

[2021-12-14 15:39] #4966 closed

[2021-12-14 15:40] romainguy commented on #4967
Performance would be even worse on the CPU.

[2021-12-14 15:40] #4967 closed

[2021-12-14 18:00] #4887 closed

[2021-12-15 02:37] magicwo commented on #4966
@romainguy Thank you very much !

[2021-12-15 02:58] teoking commented on #4968
Test the glb on Mac M1 with gltf_viewer, see the following error:
[code]

[2021-12-15 03:01] romainguy commented on #4968
The interesting bits are here:

[code]

Looks like the asset might not be valid or cgltf has a parsing bug.

[2021-12-15 03:06] teoking commented on #4968
It seems the asset parsing failed on Android device, the parsing is passed on Mac M1, but failed on drawing.
Not tested on Linux yet, I'll do that later.

[2021-12-15 03:07] magicwo commented on #4966
@romainguy Could you please help see the systrace file? whitch step  cost much time?

[2021-12-15 06:03] runchen0518 opened #4971 "Can we use Android SurfaceTexture as the input for on-screen rendering?"
Hello, filament supports on-screen rendering and off-screen rendering now. When we used on-screen rendering, we can use a NativeWindow as the input to `createSwapChain`, or we can use off-screen rendering without any real windows.

The problem is that when we use rendering, we can't get the texture from filament directly. Therefore, we need `readPixels` from filament, and then, load pixel buffer t

[2021-12-15 06:05] romainguy commented on #4971
You can use the SurfaceTexture as a Filament texture to render it on screen. You could also get the SurfaceTexture from a TextureView and render into + send it to the video encoder. You could also use a virtual display.

[2021-12-15 06:05] #4971 closed

[2021-12-15 06:07] runchen0518 commented on #4971
Is there any samples about surfacetexture input? I've tried it half year ago, but unfortunately, I failed.

[2021-12-15 06:09] runchen0518 commented on #4971
I wanna use surfacetexture instead of any real window, because it is well separated from the upper UI layer.

[2021-12-15 07:28] majidfeyzi commented on #4900
@dandingol03 hi, this is my rotation function:

[code]

[2021-12-15 07:32] dandingol03 opened #4972 "【Android】Filament: N5utils18PostconditionPanicE, AABB can't be empty"
**Describe the bug**
Crash when loading obj model. This happened on some special android device , such as Redmi.

**To Reproduce**
1. just load obj model and crash

**Logs**
12-14 10:47:38.322 30802 3539 E Filament: N5utils18PostconditionPanicE
12-14 10:47:38.322 30802 3539 E Filament: in RenderableManager::Builder::Result filament::RenderableManager::Builder::build(filament::Engine &, utils::Enti

[2021-12-15 07:35] romainguy commented on #4972
Please see the error message: either provide a bounding box or disable culling for that object.

[2021-12-15 07:35] #4972 closed

[2021-12-15 12:01] abwood opened #4974 "Add support for emission values above 1.0 in glTF models"
cgltf now supports KHR_materials_emissive_strength via [PR#170](https://github.com/jkuhlmann/cgltf/pull/170), a simple extension that allows for glTF models to define emission beyond 1.0. This upgrade is low impact to the codebase, as it can be baked into the emissionFactor on the cpu at load time.

[2021-12-15 15:48] redstonedash opened #4976 "Material sandbox should allow selecting filamat files."
**Is your feature request related to a problem? Please describe.**
Sorta? right now material sandbox only allows playing with material properties, but would be nice as a way to test materials without having to setup a demo project.

**Describe the solution you'd like**
A toggle button to switch between what we currently have, and custom material selection which would use a file dialog.

**Describe

[2021-12-15 15:54] redstonedash commented on #4976
I would implement this myself but I only use the webversion of filament and don't have the build environment setup.

[2021-12-15 17:45] pixelflinger commented on #4976
This would also need to generate a UI to set the parameters of the material, and there could be tricky ones like textures.
Another way to test materials is to use matdbg, which allows realtime editing.

[2021-12-15 23:46] redstonedash commented on #4976
What is matdbg?
Is their a tool that does what I want already?

On the point about the UI. I wouldn't say that is strictly necessary, would be ideal but wouldn't need to exist in the first iteration of the feature.

[2021-12-16 11:11] mxy-nj opened #4977 "compute shader support in filament"
Does filament have plan for compute shader support?
Thanks

[2021-12-17 06:39] will4621d opened #4982 "Java implementation of MorphHelper::applyWeights"
I'm an Android developer, know little about C++, could you implement MorphHelper::applyWeights with Java?

[2021-12-17 09:54] romainguy commented on #4977
Not at this time but eventually yes.

[2021-12-17 09:54] #4977 closed

[2021-12-20 06:11] dandingol03 opened #4987 "【Android & MAC】obj model render uncorrect. Needs Help!"
**Describe the bug**
I render the model using same obj file using `filament` and `blender`. The model seems a little weird with `filament`.

**To Reproduce**
Steps to reproduce the behavior:
1. just render the obj file.

**Expected behavior**
render correctly

**Screenshots**
1.filament
![image](https://user-images.githubusercontent.com/13013579/146720261-eafc4152-c5fc-43ab-b2a3-8fb00d655ce4.png)

[2021-12-20 06:30] romainguy commented on #4987
How do you open the file with Filament? There isn't much we can do without the file to test. Make sure all the normals point outside before exporting from Blender.

[2021-12-20 06:50] dandingol03 commented on #4987
This obj file is not exported from blender,  i mentioned `blender` is just to provide pictures to be compared. I use the`MeshAssimp` in the filament repo to add obj model to the scene

[2021-12-20 09:28] mxy-nj commented on #4977
thanks a lot

[2021-12-21 10:14] dandingol03 commented on #4987
Close first, if there is anyone who has encounter the same problem. Just let me know

[2021-12-21 10:14] #4987 closed

[2021-12-21 23:12] errissa opened #4990 "Compilation Error With GCC"
**Describe the bug**
I am trying to upgrade from Filament 1.9.19 to 1.15.1 and encountered a compilation with gcc 7.5 on Ubuntu 18.04. It appears that around [this](https://github.com/google/filament/commit/46e3d10e6264d2af987741d3e1945e04d3254df4#diff-766e1f0ff3e9d2aed6761f6809ff7e70a3aa0f2d3f08bf880bac7e45e83d1978) commit the namespace qualifications for a number of `using` declarations were rem

[2021-12-22 15:03] RYDB3RG opened #4991 "driverApi.allocate with wrong alignment crash"
Hi,

on my platform (win x64) `alignof(PerRenderableUibBone)` is 16 but there are a few `driverApi.allocate` calls that use default alignment, which is 8, e.g.:

https://github.com/google/filament/blob/b5c4b30ff6332193070a759b5c1c8ac6637ac80e/filament/src/components/RenderableManager.cpp#L368

This leads to crashes when the allocated ptr is read or written because the compiler assumes 16-byte alig

[2021-12-23 09:30] RYDB3RG opened #4992 "utils::slog not threadsafe but used by multiple threads, wrong snprintf usage"
Hi,

not sure if `matc`-only, but its using `slog` concurrently, leading to resize issues:
![image](https://user-images.githubusercontent.com/7002848/147218790-b330672e-8e96-4f96-9621-8980c0f658ba.png)

And isn't code like this an issue aswell:
https://github.com/google/filament/blob/b5c4b30ff6332193070a759b5c1c8ac6637ac80e/libs/utils/src/ostream.cpp#L128
because it tells `snprintf` that `buf.curr

[2021-12-23 09:32] #4974 closed

[2021-12-23 14:00] RYDB3RG opened #4993 "matc glsl transpile version issue"
Hi,

When `matc` optimizations are enabled, it seems to set `CodeGenerator::mTargetLanguage` to `SPIRV`, in which case shaders become `#version 450`:
https://github.com/google/filament/blob/251abf0545b9b4afcc49a21de5620e79a743ddad/libs/filamat/src/shaders/CodeGenerator.cpp#L61-L64

The problem is when transpiling back to GLSL (because optimizations are enabled), it configures `CompilerGLSL `with `

[2021-12-23 14:21] romainguy commented on #4993
We use matc with optimizations to compile Filament and don't have this issue. When this particular function is missing we inject our own implementation. How do you reproduce the problem on your end?

[2021-12-23 14:22] romainguy commented on #4993
Also, which version of Filament are you using?

[2021-12-23 15:54] errissa commented on #4990
In addition to the errors generated by the minimal program above, I found that `include/filament/View.h` and `include/filament/Material.h` both have `using` declarations that cause gcc errors.

[2021-12-23 16:38] RYDB3RG commented on #4993
I'm on HEAD (#4970)
The isse seems related to matrixskinning, it disappears when I don't enable it (has_bones=false)

[code]

I'll have another look how skinning is related to this. But I'm wondering if it would a good idea to make sure `matc` transpiles to  `version 450` (atleast that is my workaround)

[2021-12-23 16:39] romainguy commented on #4993
We don't want to/can't transpile to 450, our minimum requirement is GL 4.10 because of macOS.

[2021-12-23 16:42] romainguy commented on #4993
The real fix is probably to just include the missing functions at code generation. Like I said earlier we have our own implementations, the skinning code generation might just be missing the proper include. It would be in CodeGenerator.cpp or ShaderGenerator.cpp.

[2021-12-23 16:47] bejado commented on #4967
Using [unlit](https://google.github.io/filament/Materials.html#materialmodels/unlitmodel) materials will give better performance compared to other material models.

[2021-12-23 16:56] RYDB3RG commented on #4993
The matc shadersource is version 450 and technically doesn't need `unpackHalf2x16` (and probably barfs if I inject it?)
And `OpenGLProgram` doesn't inject it during runtime since `context.ext.ARB_shading_language_packing` is true  (windows x64 GTX 1070)

[2021-12-23 17:26] romainguy commented on #4993
Then we need to figure out why the runtime injection is failing.

[2021-12-23 18:08] bejado commented on #4982
`MorphHelper::applyWeights` isn't meant to be called directly. It gets called via [`Animator::applyAnimation`](https://github.com/google/filament/blob/main/android/gltfio-android/src/main/java/com/google/android/filament/gltfio/Animator.java#L54).

[2021-12-23 18:08] #4982 closed

[2021-12-23 21:55] bejado commented on #4077
@kpeeters good news, I'm finally able to reproduce on a iPad Air (4th generation) running iOS 15.2.

The problem is that `readPixels` is called with a `height` argument of 2360, but the texture we're reading from only has a height of 1640. This results in an [arithmetic underflow](https://github.com/google/filament/blob/251abf0545b9b4afcc49a21de5620e79a743ddad/filament/backend/src/metal/MetalDrive

[2021-12-26 09:58] pixelflinger commented on #4993
It's because I'm injecting it only in the fragment shader.

[2021-12-28 06:06] daemyung commented on #4772
@wes-nz, @akbiggs Please try this patch(https://github.com/daemyung/filament/tree/morphing).

[2021-12-28 17:27] #4077 closed

[2021-12-28 20:56] kpeeters commented on #4077
Just to confirm that this solves the `readPixels` issue for me; thanks!

[2021-12-29 12:31] lbknxy opened #5001 "Manipulator theory or specs"
Hello , the Manipulator(OrbitManipulator, FreeFlightManipulator and MapManipulator) is awesome ,  I want to kown the thoeries of them , do you have any specs or document about them ?  thanks!

[2021-12-29 12:57] romainguy commented on #5001
Please use the Discussions tab

[2021-12-29 12:57] #5001 closed

[2021-12-30 02:39] dandingol03 opened #5002 "【ios】utils::PostconditionPanic: (null) libc++abi.dylib __ZSt11__terminatePFvvE . Need Help!!!"
**Describe the bug**
crash on iPhone 13 Pro 、 iPhone 13 Pro Max、iPhone 11、iPhone 10

**To Reproduce**
crashed randomly

**Logs**
[code]

**Smartphone (please complete the following information):**
 - Device: [iPhone]
 - OS: [e.g. 13、13 pro 、11、10]

**Additional context**
Does Anyone have idea?

[2021-12-30 16:39] bejado commented on #5002
Are you running a particular iOS sample?

[2021-12-31 03:19] errissa opened #5005 "SSAO Anomaly With Vulkan"
**Describe the bug**
After updating to v1.15.1 from 1.9.19 I noticed in my application that with the Vulkan backend (which Filament now selects by default) that SSAO was unstable with a shimmering rendering anomaly. The intensity of the anomaly depends on whether or not half resolution is selected or not. I confirmed running Filament's `gltf_viewer` sample that the Vulkan backend had the same unst

[2021-12-31 03:53] YangYang129 opened #5006 "Filament failed to build with error 2280 with MSVC on windows"
Hello,

The MSVC team add newly project filament as part of RWC testing to detect compiler. And we found some errors when building filament. These issues come from unreleased VS, I use release VS and the error disappeared. Could you please help look at this issue? Thank you very much

**Steps to reproduce**
1. open VS2019 x64 tools command
2. git clone https://github.com/google/filament F:\gitP\go

[2021-12-31 07:43] romainguy commented on #5006
Are you sure it's related to Eigen? We don't use that library.

[2021-12-31 09:01] YangYang129 commented on #5006
@romainguy Sorry, it was my fault and I have modified comment. It should be that this error C2280 appeared on unreleased VS and disappeared on released VS. Could you please help look at this issue? Thank you very much

[2021-12-31 11:42] dandingol03 commented on #3854
i reproduce this problem on vivo x9, oppo R9s, vivo x21.

[2021-12-31 14:11] dandingol03 commented on #5002
HI, the answer is **yes**.I  run my own demo which is based on the official `hello-pbr` demo . However, there is something different from the `hello-pbr` demo :

1. I use `UIIMage` and `CFDataRef` to decode the jpg file which is needed by creating texture
2. I release `CFDataRef` in the `PixelBufferDescriptor` callback.
3. I initialize a `CVPixelBuffer` for recording video, but i never use it
4. T

[2022-01-02 10:07] GGMU1987 opened #5010 "android logcat can not output c++ log"
**Describe the bug**
when i run the android demo , android studio logcat can not output c++ log, what should I do？

[2022-01-02 10:20] romainguy commented on #5010
You have to use Android's logging APIs from the NDK. For example: https://github.com/romainguy/pathway/blob/8e433461fe860985cedc1d62d0beaf0bbe198a80/pathway/src/main/cpp/pathway.cpp#L30

[2022-01-02 10:20] #5010 closed

[2022-01-02 10:27] GGMU1987 commented on #5010
@romainguy  I found the LogStream has deal with android log , why it did not work?
![image](https://user-images.githubusercontent.com/90164629/147872988-2e877887-efe9-4fcf-9e34-e9904e9b35ba.png)

[2022-01-02 10:29] romainguy commented on #5010
It works fine. Make sure to use slog.d and flush lines with io::endl.

[2022-01-02 10:38] GGMU1987 commented on #5010
@romainguy  the FEngine class has add log like this, but I did not see this log at logcat
![image](https://user-images.githubusercontent.com/90164629/147873178-ec21f1f5-bc80-4374-bc06-ad64533b0bc2.png)

[2022-01-02 10:53] GGMU1987 commented on #5010
@romainguy I have another issue, i render a triangle in flutter texture, only see the skybox, no  triangle, no error logs output in logcat, any idear to debug this situation?

[2022-01-03 10:22] dandingol03 commented on #3854
@paulorrfilho  Hi,  i also met the same problem. Have you figure out why the 505/506 gpu acts like that?

[2022-01-03 14:46] paulorrfilho commented on #3854
It is hard to pinpoint the reason, but I think it was related to either high memory usage or heavy CPU usage while loading the 3D model in Filament. I could not reproduce this issue myself but after optimizing the memory usage of my app I stopped receiving reports of this issue from my users.

[2022-01-04 21:12] bejado commented on #5006
Seems that in C++ 23 `std::string(nullptr)` is [unallowed](basic_string/basic_string):

[code]

Filament should be setting the `/std:c++17` flag, so not sure why this is an error. That being said, @YangYang129 can you try replacing that line with:

[code]

[2022-01-04 21:14] bejado commented on #5002
If you can upload a complete sample that reproduces the issue consistently, I can take a look.

[2022-01-05 03:18] YangYang129 commented on #5006
@bejado Thank you for investigating and reply. I changed “return nullptr;”  to “return {};” in MockConfig.cpp from unreleased VS, this error disappeared.

[2022-01-05 07:08] pjinsinan opened #5013 "render target problem"
**Describe the bug**
when I render the scene use like this：
        app.offscreenRenderTarget = RenderTarget::Builder()
            .texture(RenderTarget::AttachmentPoint::COLOR, app.offscreenColorTexture)
            .texture(RenderTarget::AttachmentPoint::DEPTH, app.offscreenDepthTexture)
            .build(*engine);

then I read depth in the depth texture，I find the depth value is wrong，I find

[2022-01-05 07:10] #5013 closed

[2022-01-05 07:14] nevermore1993 opened #5014 "Fail to render demo hello-triangle in flutter"
**Describe the issue**
I was trying to display the demo hello-triangle using texture widget in flutter. First I initialize the model in surfaceTexture in Android, and then pass the textureId to flutter. However, in flutter, only the skybox successfully displayed, the triangle went missing.

I thought that the skybox and the triangle should both be able to show in flutter, because they were inside

[2022-01-05 07:36] #5006 closed

[2022-01-05 07:56] romainguy commented on #5014
If you are rendering into a surfacetexture using flutter shouldn’t matter unless flutter somehow doesn’t correctly dequeue new buffers. There’s not much actionable in this report unfortunately.

[2022-01-05 07:56] #5014 closed

[2022-01-05 09:03] pjinsinan opened #5015 "render target problem"
**Describe the bug**
when I render the scene use like this：
        app.offscreenRenderTarget = RenderTarget::Builder()
            .texture(RenderTarget::AttachmentPoint::COLOR, app.offscreenColorTexture)
            .texture(RenderTarget::AttachmentPoint::DEPTH, app.offscreenDepthTexture)
            .build(*engine);
i also have a sample property in depth texture
            .usage(Texture::Usag

[2022-01-06 03:24] ninjz opened #5021 "How to access submeshes through FilamentAsset?"
I am using the [SceneView/sceneform-android](https://github.com/SceneView/sceneform-android) library and trying to access the submeshes of a loaded `.glb` model file within a `FilamentAsset` that is returned. However, it looks like all the functions like `getEntities()` returns `int[]` types which are not objects that provide access to anything useful.

How can I access the node hierarchy or sub m

[2022-01-06 03:42] romainguy commented on #5021
Please use the discussions tab. Entities are what you are looking for. You use those entities to access components via the managers (RenderableManager for instance to set/get materials, TransformManager for transforms etc.).

[2022-01-06 03:42] #5021 closed

[2022-01-06 04:19] dandingol03 commented on #3426
i met the same crash several times.

[2022-01-06 06:50] dandingol03 commented on #3426
have you solve this problem @kylelin47

[2022-01-06 10:00] ShoutTree commented on #4087
Hi, @romainguy, I also met this issue in version 1.15.0. Does that mean the issue is still not fixed? From your comments above I thought it was a model issue at first, but since the model is correctly rendered in other renderer(https://gltf-viewer.donmccurdy.com/), I concluded that it's still a filament blending issue. Seems filament does not correctly use the alpha masking.  Am I right ?
Thanks.

[2022-01-06 14:41] dandingol03 commented on #5002
Sorry, i can't reproduce this problem consistently. There is almost no description  about the crash printed, close it first.

[2022-01-06 20:36] bejado commented on #4993
If I understand correctly, this should be as simple as adding `#extension GL_ARB_shading_language_packing : enable` to vertex shaders on platforms that support the extension. @RYDB3RG can you test that https://github.com/google/filament/pull/5022 fixes the issue for you?

[2022-01-06 21:07] romainguy commented on #4508
The change just went in!

[2022-01-06 21:07] #4508 closed

[2022-01-06 21:08] romainguy commented on #4508
https://github.com/google/filament/pull/5017

[2022-01-06 21:17] #4993 closed

[2022-01-06 22:01] bejado commented on #4992
Regarding `snprintf`, `buf.size` stores the [remaining size](https://github.com/google/filament/blob/2f3aac29da7e833378d75dd89fadcfc4bcb11623/libs/utils/include/utils/ostream.h#L75) of the buffer, so I believe the implementation is correct.

At one point `utils::slog` was using thread-local storage, but looks like it was reverted here: https://github.com/google/filament/commit/ee7feff9cc7551f7dece

[2022-01-06 23:25] pixelflinger commented on #4992
A long time ago loggers were not thread-safe, then we made them thread-safe, but ran into an issue when several .so that each include `libutils.a` are used. In that case, one of the `slog` wasn't initialized at all, which caused crashes (e.g. when using filament.so and gltfio.so).

The real solution would be to deliver all our libraries as `.so`, or as `.a` and let the user create their own `.so`.

[2022-01-06 23:31] pixelflinger commented on #4991
ah yes, because we have a `alignas(16)` in PerRenderableUibBone. this would actually also fail with `malloc()`. Okay will find a solution...

[2022-01-06 23:59] pixelflinger commented on #4990
Yes I think putting back the qualification is okay. We will accept the PR. Thank you!

[2022-01-07 08:29] dandingol03 opened #5025 "【IOS】crash when trying convert CVPixelBuffer to UIImage on `opengl` backend"
**Describe the bug**
I use the **opengl** backend to run engine, but i can not get the correct `CVPixelBuffer` content and crashed when i try to call `CIContext* context = [CIContext contextWithOptions:@{kCIContextUseSoftwareRenderer : @(YES)}];`

**To Reproduce**
Steps to reproduce the behavior:
1. create CVPixelBuffer:
[code]
2.create engine
[code]
3.render frame
[code]
4.picture taken callback

[2022-01-07 09:41] bbzy opened #5026 "vkGetInstanceProcAddr should not be initialized again"
https://github.com/google/filament/blob/2f3aac29da7e833378d75dd89fadcfc4bcb11623/libs/bluevk/src/BlueVK.cpp#L360
vkGetInstanceProcAddr should not be initialized again. It was initialized in function bluevk::initialize() and got NULL after reinitalizing. THEN CRASH!!!

[2022-01-07 10:46] dandingol03 opened #5027 "【IOS】SEGV_ACCERR , crash in FEngine::loop - MetalTexture::loadWithCopyBuffer"
**Describe the bug**
Random crash in FEngine::loop, and the executed thread is not the main thread. There is only one code which is relavent about decoding image to texture, but i execute that code in the main thread. Please help me.
**To Reproduce**
Steps to reproduce the behavior:
1. create engine with `metal` backend
2. create texture on the main thread
3. decode image to texture with `CGImageG

[2022-01-07 14:04] RYDB3RG commented on #4993
@bejado works now. thx

[2022-01-07 18:10] bejado commented on #5025
The `SWAP_CHAIN_CONFIG_APPLE_CVPIXELBUFFER` flag is only supported by the Metal backend: https://github.com/google/filament/blob/ee9bfa26b1a1f630c7c9bb960258cf74af672c52/filament/include/filament/SwapChain.h#L171-L172

[2022-01-07 18:10] #5025 closed

[2022-01-07 18:49] #4991 closed

[2022-01-07 19:13] bejado commented on #5026
Can you give more details about what platform you're on? I see where we set `vkGetInstanceProcAddr` twice, but I don't know why this would get set to `NULL` the second time.

[2022-01-07 19:19] bejado commented on #5027
Yes, Filament's API can be called from the main thread. The crashed thread is Filament's internal driver thread.

My guess is that you're releasing the `CGImage` memory too soon. The pixel buffer needs to remain valid until the `PixelBufferDescriptor`'s callback is called:

[code]

[2022-01-07 22:51] pixelflinger commented on #4916
This was fixed/worked around in #4928

[2022-01-07 22:51] #4916 closed

[2022-01-07 22:58] pixelflinger commented on #4699
I think the problem is in sceneform somewhere, it must be destroying some object twice. What would possibly help is an APK with a debug version of filament.

[2022-01-08 03:39] dandingol03 commented on #5025
So there is no way i can use `opengl`backend to generate a video which record the filament view with `CVPixelBuffer` ?

[2022-01-08 04:01] dandingol03 commented on #5027
I will try it later, thanks

[2022-01-08 07:21] dandingol03 commented on #5027
I didn't release the `CGImage` immediately, but i don't keep a reference to it. Is This the reason make `CGImage` invalid ?  I use `CFDataRef` to generate texture and release it in the `PixelBufferDescriptor` callback.  This texture-parse function is invoked on the main thread,  Here is my code:
[code]
Looking forward to your reply.

[2022-01-10 08:08] bbzy commented on #5026
Sorry i'm late.
Detail shows below:
Platform: Mac OS X 12.1
XCode: 13.2.1
VulkanSDK: 1.2.198.0

[2022-01-10 12:24] daemyung opened #5035 "Can't bind samplers to specified shader stages"
**Is your feature request related to a problem? Please describe.**
Samplers can bind to each shader stages. For example the vertex shader can bind 16 samplers and the fragment shader can bind 16 samplers. But there is no way samplers be bound which shader stages.

**Describe the solution you'd like**
Samplers can bind each shader stages.

[2022-01-10 14:40] dandingol03 commented on #5002
I still can't figure out the reason why it crashed and no message useful to print. If i set the `Panic::Mode` to throw, the crash will not happen? I just want to know how to fix or avoid this weried crash. I will upload my code later, open this question again~

[2022-01-10 20:39] braveBo commented on #4724
Hey @romainguy. Sorry repost here to prevent you from not seeing my message in that close PR :)

1. Could I understand that you suggest creating our own ModelViewer to share the Engine and various other resources between multiple Views? with names such as 'singleEngineModelViewer' or something like that.
2. Is it okay for me to create the new 'xxModelViewer' class under google/android/utils/ folde

[2022-01-10 21:00] bejado commented on #5027
Please see my response in https://github.com/google/filament/discussions/4904

[2022-01-10 21:53] bejado commented on #5002
What backend are you using? Is this the same issue as https://github.com/google/filament/issues/5027?

[2022-01-10 21:56] pixelflinger commented on #5015
do you have a sample app I can use to reproduce the issue?

[2022-01-10 22:02] pixelflinger commented on #4968
Invalid asset. Reopen if this happens again with a valid asset.

[2022-01-10 22:02] #4968 closed

[2022-01-10 22:04] pixelflinger commented on #4922
not actionable at this point.

[2022-01-10 22:04] #4922 closed

[2022-01-10 22:52] romainguy commented on #4724
1. That or change `ModelViewer` so it takes an `Engine` as a parameter instead of creating its own.
2. Why makes a new one instead of modifying the existing one?

[2022-01-10 23:04] #4990 closed

[2022-01-10 23:04] #4992 closed

[2022-01-11 01:04] pjinsinan commented on #5015
yes，I have modify the gltf_viewer.cpp&nbsp; example, I modify this case like this: render model in the rendertarget, render backgroud in the another rendertarget, then render the fullscreen triangle with texture produced from rendertarget, the fullscreen triangle using the material called&nbsp;renderTargetBlend.mat, I put gltf_view.cpp and mat&nbsp; in the attachment, I also use&nbsp;
DamagedHelme

[2022-01-11 03:11] dandingol03 commented on #5002
No. These two question is different, i use `metal` backend.

[2022-01-11 03:41] steve3d commented on #1056
Almost 2 years , any updates or roadmap of this. We also need hardware instancing function. I think this should be a standard feature.

[2022-01-11 03:54] pixelflinger commented on #5015
Can you attach a git patch file with your changes please? Thank you!

[2022-01-11 04:35] romainguy commented on #1056
I agree but this has unfortunately not been a priority for us. We don't have any ETA on this for now.

[2022-01-11 07:06] pjinsinan commented on #5015
I use the branch origin/release and the last commit is 60d3638f150236d086bbd23e606596c7ec2e438d, I have two patch in the attachment, the first is 0001, the second is 0002, run the gltf_viewer example , the in the added renderTargetBlend.mat, we can find&nbsp; the depth is all equal 0

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-01-11 17:58] Shigetorum635 commented on #4922
Alright.

[2022-01-11 19:30] srMarlins commented on #4724
Hey @romainguy my idea right now is to make 2 changes to `ModelViewer` to allow for more precise resource management:

) Only allow the `ModelViewer` to create and manage the resources directly related to the scope of the view's rendering. It would be the `View`, `Camera`, and `Renderer` that would be managed by the `ModelViewer` (in relation to the engine).

2) Move model loading logic into a cla

[2022-01-11 22:00] bejado commented on #5002
Are you able to upload your code? You could also try with a debug build of Filament to get a more verbose error message.

[2022-01-11 22:45] pixelflinger commented on #4170
unfortunately this doesn't seem actionable to us at this point. please reopen if you have more info or a repro case.

[2022-01-11 22:45] #4170 closed

[2022-01-11 22:51] pixelflinger commented on #4323
I'm not sure this is related at all. Your initial example shouldn't be using a stream. Moreover we are actually calling ANativeWindow_release() when using streams.

[2022-01-11 22:52] pixelflinger commented on #4323
I don't think this is actionnable without a test reproducing the problem.

[2022-01-11 22:52] #4323 closed

[2022-01-11 22:56] pixelflinger commented on #4499
@jwinarske I'm not sure what this bug is about anymore :-)
Can we close it and maybe reopen another issue/feature request?

[2022-01-11 23:00] jwinarske commented on #4499
@pixelflinger It's about Wayland blocks support of pbuffer, which means EGL as-is implementation is not compatible.  Closing as Vulkan is the focus.

[2022-01-11 23:00] #4499 closed

[2022-01-11 23:09] pixelflinger commented on #4499
thanks! and happy new year! :-)

[2022-01-11 23:11] pixelflinger commented on #5015
I'm not seeing an attachment?

[2022-01-12 01:15] pjinsinan commented on #5015
[patch.zip](https://github.com/google/filament/files/7850870/patch.zip)

[2022-01-12 15:23] noseeevil opened #5042 "MaterialInstance::setDepthCulling(<#bool enable#>)"
Hello!

I trying to change "depthCulling" option in my custom material, but something is wrong

my material:
<img width="1232" alt="Снимок экрана 2022-01-12 в 18 14 02" src="https://user-images.githubusercontent.com/16321108/149167673-bd5d5ef4-cfcd-4560-b717-919a4702100b.png">

my code:
<img width="1232" alt="Снимок экрана 2022-01-12 в 18 21 14" src="https://user-images.githubusercontent.com/16321

[2022-01-12 15:42] nishadgothoskar opened #5043 "Some samples result in a pink screen"
I have successfully built filament but find that some samples don't function properly and result in a pink screen.

`./point_sprites` is one of the samples that doesn't work. It produces the following:
![image](https://user-images.githubusercontent.com/66085644/149172037-2af29a68-dac8-4aa9-934a-cef627a1c0a8.png)

Others that result in the same pink screen are: gltf_instances, render_target, shadow

[2022-01-12 16:47] romainguy commented on #5042
You are setting the *instance*'s depth culling but checking the *material*'s depth culling. Changing the value for an instance won't change it for the material.

[2022-01-12 16:47] #5042 closed

[2022-01-12 18:03] romainguy commented on #5042
You can't, you can only do it on instances.

[2022-01-12 19:06] #4772 closed

[2022-01-12 19:13] wes-nz commented on #4772
Thanks @daemyung for all your work 👍

[2022-01-12 19:21] pixelflinger commented on #5043
lDo you see this only with the vukan backend? or this this happening also with the opengl backend?

[code]

this problem is not happening on my mac with moltenvk.

[2022-01-12 19:24] nishadgothoskar commented on #5043
This occurs with opengl as well

[2022-01-12 22:09] georgematheos opened #5044 "Build fails on MacOS Big Sur 11.6.2"
**Describe the bug**
A crash occurs when trying to build from source on version 1.16.0.

**To Reproduce**
Steps to reproduce the behavior:
Per `BUILDING.md`, I ran
[code]
This caused an error.  I then ran `./build.sh release` and the same error occurred.

**Expected behavior**
I expected Filament to build.

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS: MacOS Big

[2022-01-12 22:10] romainguy commented on #5044
You probably just need to update your Xcode and associated SDKs.

@bejado to confirm

[2022-01-12 22:23] georgematheos commented on #5044
I don't have Xcode; only the command-line-tools.  When I run
[code]
it gives me the message
[code]
The "Software Update" pane does not show an update for the command-line-tools, only the upgrade to MacOS Monterrey.  Do I need to be on MacOS Monterrey for Filament to work?

[2022-01-12 22:34] pixelflinger commented on #5044
Filament is definitely working on 11.6.2 since this is what I'm using.
Please move this to `discussions` instead.

[2022-01-12 22:34] #5044 closed

[2022-01-12 23:27] pixelflinger commented on #5015
Okay so this is a limitation in our framegraph system as well in how rendertargets work. Basically if you have post processing enabled, you can loose the depth buffer of your custom rendertargets.

The solution is to always turn off post-processing with custom rendertargets.

The problem happens because the system cannot do the rendering into the custom rendertarget directly if post-processing is

[2022-01-12 23:27] #5015 closed

[2022-01-12 23:42] bejado commented on #5044
@georgematheos No, you do not need to be on Monterey to build Filament. You're using `MacOSX11.0.sdk`, which is old. You should upgrade to the latest SDK. This is typically done by upgrading Xcode.

To check:
[code]

[2022-01-13 01:13] pjinsinan commented on #5015
thans for explanation

[2022-01-13 14:49] Stradi opened #5047 "Missing Javascript enums"
Some enums are not implemented in `jsenums.cpp` file. I don't know the full list but here are the some enums missing in the View class.

Missing ones:
- View$AmbientOcclusionOptions
- View$BloomOptions
- View$DepthOfFieldOptions
- View$FogOptions
- View$VignetteOptions

[2022-01-13 23:06] pixelflinger opened #5050 "Transmission (SSR) broken since #4946"
Since #4946 landed, transmission seem broken, even when screen-space reflections are disabled.
e.g.: screen shots from gltf_viewer:
![Screen Shot 2022-01-13 at 2 58 23 PM](https://user-images.githubusercontent.com/1240896/149422750-285ac882-47df-4c82-aef3-84b12268faef.png)
![Screen Shot 2022-01-13 at 3 01 18 PM](https://user-images.githubusercontent.com/1240896/149422796-ad5d2d91-9d15-4993-b70f-e2

[2022-01-13 23:16] pixelflinger commented on #5047
I just double checked and all these are implemented in `jsbindings.cpp`.

[2022-01-13 23:16] #5047 closed

[2022-01-14 17:06] bejado commented on #5050
Fixed by #5051

[2022-01-14 17:06] #5050 closed

[2022-01-14 17:11] prideout commented on #4768
I reproduced this today with MoltenVK + debug build of `gltf_viewer`.

[2022-01-14 19:36] prideout commented on #4535
This is interesting, we have sharing mechanisms in place for Android but not other platforms.  This bug is a few months old but I'll assume it's still something we need to work on.

[2022-01-14 19:48] tottero opened #5053 "Turning off receiveShadows with VSM causes crash"
**Describe the bug**
If a gltf lit shader has receiveShadows turned off when VSM is enabled, there is a consistent crash when rendering the scene.

**To Reproduce**
Steps to reproduce the behavior:
Turn off receiveShadows on an imported gltf model with the lit shader on while using VSM type shadows.

**Expected behavior**
Rendering without a crash.

**Logs**
[code]
 - Backend: Metal

[2022-01-14 20:25] bejado commented on #5053
I'm able to reproduce with `gltf_viewer`. The relevant assertion is:

[code]

[2022-01-15 00:04] prideout commented on #4918
Duplicate of issue #4768.

[2022-01-15 00:04] #4918 closed

[2022-01-15 11:32] RYDB3RG opened #5059 "Compute morphing on GPU #4999 breaks bones"
hi,

#4999 breaks renderables with bones
`samplerBindings` has nullptr entries, which crashes when accessed later:
https://github.com/google/filament/blob/8d1402d37b0b87cc64ef64550b1f000b9b0a16fd/filament/backend/src/opengl/OpenGLProgram.cpp#L274

I can reproduce it with opengl backend on windows with unmodified `gltf_viewer` and an animated model from gltf sample repro, such as [BrainStem.gltf](h

[2022-01-15 23:22] daemyung commented on #5059
Hi it will be fixed by #5036.

[2022-01-16 03:29] pixelflinger commented on #5059
Can we make a separate fix? I think #5036 might take some time to be merged.

[2022-01-16 03:59] daemyung commented on #5059
No problem. #5060 is created.

[2022-01-16 15:06] daemyung opened #5061 "A validation error on Metal"
**Describe the bug**
`-[MTLDebugRenderCommandEncoder validateCommonDrawErrors:]:5252: failed assertion `Draw Errors Validation
Vertex Function(main0): missing buffer binding at index 3 for morphingUniforms[0].`

[2022-01-17 09:43] hjja1 opened #5064 "Android -How do I load gltf from the url"
the ModelViewer.kt can load gltf from assets.  but if i want load it from url.  how to do it

[2022-01-17 15:07] daemyung opened #5065 "Can't get morph target names"
**Is your feature request related to a problem? Please describe.**
There is no way to retrieve the morph target name.

**Describe the solution you'd like**
Get morph target names from `FilamentAsset`.

[2022-01-17 18:20] romainguy commented on #5064
Please use the discussions tab for questions.

[2022-01-17 18:20] #5064 closed

[2022-01-18 18:35] #5059 closed

[2022-01-18 21:44] #5053 closed

[2022-01-19 00:53] #4768 closed

[2022-01-19 23:54] #5061 closed

[2022-01-20 01:11] #5065 closed

[2022-01-21 21:25] prideout opened #5085 "Skinning breaks validation on Vulkan (unbound morphing sampler)"
This error is seen with Vulkan but the fix will need to live in the Filament layer.  Note that Filament already binds dummy textures (e.g. a black reflection map) when a shader variant is activated that samples from a binding point that does not have a bound texture, even if it samples from it conditionally.

We can't correctly handle this in the backend because we don't know what type of image to

[2022-01-21 21:44] pixelflinger commented on #5085
@daemyung, I thought this should have been fixed by #5062 ?

[2022-01-21 21:56] prideout commented on #5085
I think #5062 ensures a bound Weights UBO, but does not ensure a bound Targets Texture.

Side note: I feel we say "buffer" in some places where we should say "texture".    (e.g. the public facing `MorphTargetBuffer` thingie is actually a texture wrapper, not a buffer wrapper)

[2022-01-21 22:24] pixelflinger commented on #5085
Yes but we wanted to avoid exposing that to the public API. Conceptually this could be a SSBO for instance. I don't think this implementation detail leaks to the user facing API.

[2022-01-21 23:22] daemyung commented on #5085
@pixelflinger No it's another issue... and @prideout already explained a solution.

[2022-01-22 00:56] teub opened #5088 "1.16 may have broken skinmeshes lighting"
**Describe the bug**
I updated from 1.15.2 to 1.16.1 and the lighting of my skin meshes completely broke. It looks as if the normals aren't computed properly, I'm not even sure the light is coming from the correct direction. No problem on static geometries.

- I already rebuilt the materials.
- I don't think I have any kind of scales in my hierarchy

**To Reproduce**
Steps to reproduce the behavio

[2022-01-22 01:48] romainguy commented on #5088
Could you share a test model by any chance?

[2022-01-22 01:52] romainguy commented on #5088
Lighting seems fine int he couple of skinned meshes I tried (glTF).

[2022-01-23 08:01] daemyung commented on #5085
@prideout Could you tell me which model did you test? This error message isn't shown on `AnimatedTriangle.gltf`.

@pixelflinger Can we split `HAS_SKINNING_OR_MORPHING` to `HAS_SKINNING` and `HAS_MORPHING`.

[2022-01-23 14:59] vinkovsky commented on #4922
Hi! I have the same issue.

win 10
geforce rtx 2070 super
chrome ver 97.0.4692.99

[2022-01-23 18:36] pixelflinger commented on #5085
No because that would require a new variant, which we want to avoid at this time, for various reasons.

[2022-01-24 03:32] dandingol03 commented on #5002
I think the (null) message is not reported by `filament`. It is reported by the crash logger developed by the company i work at, and it can only report the crash stack. So the crash logger i uses cannot report the detail message about `PostConditionPanic`. After i fix a crash happened in ios device, the crash with (null) message is obviously less. By the way the crash i fix also happened in androi

[2022-01-24 03:32] #5002 closed

[2022-01-24 04:30] vinkovsky opened #5091 "Is it possible to create the same quality render image in the browser?"
![example_bistro1](https://user-images.githubusercontent.com/66293881/150722295-01c86807-7f32-4d6b-a45e-c86974332fa7.jpg)
![example_bistro2](https://user-images.githubusercontent.com/66293881/150722297-5e8b3ed9-8571-49c3-9835-3c8b00e7e7a3.jpg)

[2022-01-24 04:36] vinkovsky commented on #5091
Also would like to know if the APIs for android, ios, windows are the same for the js version? Does the API for js have the same toolkits as for Windows or Mac?

[2022-01-24 04:38] romainguy commented on #5091
The APIs and features are the same on all supported platforms.

[2022-01-24 05:02] pixelflinger commented on #5091
Please move this to a discussion. Thank you!

[2022-01-24 05:02] #5091 closed

[2022-01-24 07:48] Shigetorum635 commented on #4922
🤔 Problem could be bigger than expected..

[2022-01-24 07:49] vinkovsky commented on #719
Hi! I have the same problem.

`Module not found: Can't resolve 'fs'`

Your link is not working now. I use react

[2022-01-24 08:03] vinkovsky opened #5097 "Can't use filament pkg in react"
Hi! When i try to import filament in my react component i get this error

`Module not found: Can't resolve 'fs'`

[2022-01-24 10:10] dandingol03 commented on #5027
@bejado I have read the answer you mentioned in #4904 , it seems right. But  there is no crash if i run that code and release `CFData` and `CGImage` in advance , the model is just rendered whole black as below:
![88CF81A3-146B-4BEC-931B-3E6D17BCED0C](https://user-images.githubusercontent.com/13013579/150763119-ff125e49-e626-40af-899d-ff65016f125a.png)

I am afraid that this crash still happen afte

[2022-01-24 16:38] prideout commented on #5085
AnimatedTriangle does not use skinning.  Try the Fox model:

https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/Fox

(also be sure to use a debug build)

[2022-01-24 18:03] pixelflinger commented on #5026
@prideout any idea on this one?

[2022-01-24 18:47] prideout commented on #5026
This looks like a good catch, the fix will be in bluevk-gen.py, I'll TAL.

[2022-01-24 18:59] prideout commented on #5097
Thanks for the bug report.  Do you use a bundler like webpack or rollup?  In the past we tried to maintain a webpack example but it was difficult to maintain.  The model-viewer team uses rollup to import Filament. ([link](https://github.com/google/model-viewer/blob/5ba2844258ca596a057adf302bb09b8557fe32f7/packages/render-fidelity-tools/rollup.config.js
))

Help with JS bundling or modules is somew

[2022-01-24 19:09] 100espressos commented on #5043
Could this be related? It seems to have appeared in the last few days..

I can try Vulkan, but have been grappling with certain stages of compilation (matc) that want to cinderize CPU despite job limits (-j) or 'nice' ...

[code]
[code]

[2022-01-24 19:21] romainguy commented on #5043
`matc`'s work is more or less independent of the chosen backend (actually targeting Vulkan should be cheaper). `matc` is always multi-threaded, the best way to reduce the amount of work is to target a single backend instead of the default "all" (`-a vulkan` for instance).

[2022-01-24 19:35] pixelflinger commented on #5097
Maybe move this to a discussion?

[2022-01-24 19:47] bejado opened #5098 "The "Export Screenshot" checkbox in gltf_viewer (in the Automation section) triggers an assert."
The "Export Screenshot" checkbox in gltf_viewer (in the Automation section) triggers this assert:

[code]

_Originally posted by @prideout in https://github.com/google/filament/issues/4802#issuecomment-1018917737_

[2022-01-24 20:00] bejado commented on #5098
Oh whoops, this has been fixed already with #5086 😄

[2022-01-24 20:00] #5098 closed

[2022-01-24 20:21] prideout commented on #5097
Yes, @vinkovsky please open a discussion if you have further information, and since the community might help out with this one.

[2022-01-24 20:21] #5097 closed

[2022-01-24 21:23] MarkMurillo opened #5100 "Shadows not displaying for certain GLTF models"
**Describe the bug**
When rendering a model (in tandem with AR core for surface detection and positioning), certain GLTF models
(loaded with the `AssetLoader` class from gltfio) doesn't cast a shadow on the planes that are rendered.
Here are the different models used:

1. Non-shadow casting model:
[trex.zip](https://github.com/google/filament/files/7928888/trex.zip)

2. Shadow casting model:
[scoo

[2022-01-24 21:49] romainguy commented on #5100
Is the directional light oriented the same way in both cases?

[2022-01-24 22:19] MarkMurillo commented on #5100
Yes, they both use the same parameters for the directional light:
intensity = 200_000f
dir = (0.0f, -5f, 0.0f)

[2022-01-24 22:56] teub commented on #5088
Here are side to side of rendering the same cylinder as a static mesh (left) and as a skin mesh (on the right, lighting is wrong). I'll work on a sandbox repro unless this is enough information :

![image](https://user-images.githubusercontent.com/11277063/150878552-b2e97779-b1cd-49a9-a07f-c3664f737c8c.png)

It just has one bone, imported from this FBX :
[test_mat.zip](https://github.com/google/fi

[2022-01-24 23:20] teub commented on #5088
Same meshes but with a ground :

![image](https://user-images.githubusercontent.com/11277063/150881143-6d20b042-fbec-4692-837c-6ea1145939c1.png)

In addition to the broken lighting, it looks like the skin mesh isn't casting any shadow (with or without VSM enabled) which could be related to the same problem.

[2022-01-24 23:23] romainguy commented on #5100
Could be related to issue #5088

[2022-01-24 23:23] romainguy commented on #5088
Issue #5100 may be related

[2022-01-24 23:25] teub commented on #5088
I'm re-adding the screenshot I made with shadows. Sorry I deleted the comment earlier, it's just because I can see shadows in my non-test case so I wasn't sure this was a real issue and not just my test not setup properly for shadows.

![image](https://user-images.githubusercontent.com/11277063/150881919-8651eb68-afde-40f1-88e5-ed01be1ca3bc.png)

[2022-01-25 01:00] pixelflinger commented on #5088
Do you have a gltf version of the test?

[2022-01-25 01:19] teub commented on #5088
Here's the same file exported as a gltf, hoping it is skinned properly [test_mat_glb.zip](https://github.com/google/filament/files/7929885/test_mat_glb.zip)

[2022-01-25 01:22] pixelflinger commented on #5088
duplicate of #5100 which has a better test.

[2022-01-25 01:42] pixelflinger commented on #5100
I have reverted #4939, which doesn't fix the problem -- so my guess was wrong.

[2022-01-25 01:44] teub commented on #5100
I had a look at the recent changes. I was wondering if the issue could be in [getters.vs ](https://github.com/google/filament/blob/main/shaders/src/getters.vs):

mulBoneNormal(vec3 n, uint i) seems to be using bonesUniforms.bones[i].transform instead of cof for recomputing cof[2].z but I'm not sure ?

[2022-01-25 01:59] pixelflinger commented on #5100
I have reverted everything related to #4999 and that fixes the lighting issues (not sure about the shadows). I'm not sure where things went wrong yet.

[2022-01-25 03:39] teub commented on #5100
So maybe that could be a hint (or not) : I tried 1.17.0, and it looked like my tube test mesh wasn't using the normal map it was supposed to use. It seemed to use a normal map from another object in the scene whereas I'm pretty sure I used a default normal map.
This is getting weirder, now I'm wondering if the lighting problem I was seeing was also it using another (less obvious) map, like a white

[2022-01-25 05:05] pixelflinger commented on #5100
@daemyung I investigated this a bit and it seems like skinned normals are broken since #4999 (I tried to revert everything but that change). Note that this is *skinning*, not *morphing* that is broken. It is strange because #4999 doesn't seem to change the code path for skinning.
I'm not sure yet what's going on with shadows, but normals are definitely broken on the dinosaure model above.

It woul

[2022-01-25 05:09] daemyung commented on #5100
@pixelflinger Thanks I will look into.

[2022-01-25 05:33] pixelflinger commented on #5100
@daemyung thank you!

More data points:

@teub, I think the shadowing issue might be a problem with the asset, its bounding box is completely wrong, and shadowing is using it to compute the light frustum.

@daemyung, the issue with the normals happens only in OpenGLES, it works fine in both Metal and Vulkan.

[2022-01-25 05:50] daemyung commented on #5100
@pixelflinger Do you have some tips to render `bawanglong` is too big.

[2022-01-25 05:54] pixelflinger commented on #5100
Yes, use the `-s` option, it makes things better.

[2022-01-25 06:00] vinkovsky commented on #5097
Thnaks for the response. I will

[2022-01-25 06:22] pixelflinger commented on #5100
@daemyung it is definitely a problem with the 2nd `SamplerInterfaceBlock`.
If I comment out Material.cpp:385:
[code]

The this model works.

This must be an existing bug that we never ran into before.

[2022-01-25 06:23] daemyung commented on #5100
@pixelflinger Hm.. strange... I can't see this issue. Are you testing on Android?
<img width="885" alt="스크린샷 2022-01-25 오후 3 23 06" src="https://user-images.githubusercontent.com/7459074/150922372-88170209-fa46-4ded-ac1f-7444effeead3.png">

[2022-01-25 06:27] SIUI0754 opened #5107 "read obj data from memory"
How can I read the obj data from memory rather than from a file?

[2022-01-25 06:30] romainguy commented on #5107
Please use discussions for questions.

[2022-01-25 06:30] #5107 closed

[2022-01-25 06:32] pixelflinger commented on #5100
No actually, I'm testing on a MacMini M1.

If you don't see the problem on Android, then it totally sounds like an opengl binding issue, because Marcos still uses GL4.1.

Thank you for investigating, I think I can fix this tomorrow. It's definitely an existing GL (not ES) bug.

[2022-01-25 06:34] daemyung commented on #5100
@pixelflinger Upper screenshot captured on MacbookPro Intel. I can't reproduce this issue.

[code]

[2022-01-25 07:04] pixelflinger commented on #5100
I just tested on an Intel MacBook Pro and I definitely see the lighting/normal problem:
<img width="880" alt="Screen Shot 2022-01-24 at 11 02 55 PM" src="https://user-images.githubusercontent.com/1240896/150927503-4a4248d8-89d0-4bf3-827d-b040f0252a2f.png">

[2022-01-25 07:23] pixelflinger commented on #5100
I figured out the lighting problem, it was indeed an existing bug in OpenGLProgram, I'll fix it tomorrow.
The bug would happen when a SamplerInterfaceBlock was defined on a program but not used/set.

Thank you all for all the help!

[2022-01-25 12:22] lb377463323 commented on #3100
@zirman Excuse me, how do you know gl_FragDepth range has changed? I can't find the reason in the code.

[2022-01-25 14:15] zirman commented on #3100
@lb377463323 I don't know where the change occurred. It would probably be somewhere in how the shader code is generated. I observed that after the version changed the the objects were no longer clipping properly. To get the depth buffer working originally, it had to range from 0 to 1 which isn't the standard range for clip space.

[2022-01-25 17:05] pixelflinger commented on #5088
I'm reopening this because while related #5100 is a different problem (and probably just an asset problem).
Some discussion fort this bug is recorded in #5100.

[2022-01-25 17:14] #5026 closed

[2022-01-25 17:16] pixelflinger commented on #5100
@teub I think the shadow problem is because the bounding box of this model is wrong. Can you try after adjusting the bounding box?

[2022-01-25 17:26] pixelflinger commented on #5085
@prideout I tried the Fox and it displays correctly and I'm not getting the error message.

[code]

[2022-01-25 17:46] prideout opened #5109 "Horse morph animation looks incorrect with Vulkan"
This has 15 morph targets and it worked prior to texture-based morphing.  Looks fine on Metal and OpenGL.

https://github.com/mrdoob/three.js/blob/dev/examples/models/gltf/Horse.glb

This error occurs with release configuration, it is not a validation issue and is therefore separate from #5085.

[2022-01-25 17:52] teub commented on #5088
My problem was actually the lighting, not the shadows ! The shadow problem appeared in my test scene but not in my application, and indeed I'm doing weird things with bounding boxes for skin meshes for other reasons.
Setting a proper AABB indeed fixes the issue (tested with 1.15.2). Thanks for following up!

[2022-01-25 18:31] teub commented on #5088
Sorry for re-closing the bug, I read a bit too fast. So yeah, the shadow is not an issue. I tested the change above b69546c  along with 1.17.0, lighting still seems to be off in the same way.

I also tried the other thing you mentioned in the other bug, I commented "addSamplerGroup(pb, BindingPoints::PER_RENDERABLE_MORPHING,..." but still no change. Maybe I'm testing this wrong, or does this imply

[2022-01-25 19:44] prideout opened #5111 "Headless rendering issue with Metal and Vulkan"
Running gltf_viewer in automated testing mode crashes on my MacBook.  Try running it with `--batch=default --headless`

For Vulkan, there are existing image layout issues that I'm already working through which need to be fixed first.

For Metal, the call stack seems to indicate a problem deep inside our readPixels invocation:

[code]

[2022-01-25 19:58] teub commented on #5088
Following the idea from my previous comment here https://github.com/google/filament/issues/5100#issuecomment-1020724262

I tried just returning "return normalize(n);" in vec3 mulBoneNormal(vec3 n, uint i).
Obviously this is not a fix but doesn't this confirm the issue is with the new bone data packing?

![image](https://user-images.githubusercontent.com/11277063/151049946-431728aa-c26e-4b69-9740-9

[2022-01-25 21:00] teub commented on #5088
I tried a few other things, including using bonesUniforms.bones[i].transform to transform the normal and it seems to work :

I'm not sure what bonesUniforms.bones[i].cof is for if the transform is in bonesUniforms.bones[i].transform ?

Anyway, I hope this helps

[2022-01-25 21:11] #5085 closed

[2022-01-25 22:22] prideout commented on #5109
In debug builds, these models trigger the following assert.

[code]

[2022-01-26 01:04] pixelflinger commented on #5088
`bonesUniforms.bones[i].cof` exists so we don't have to calculate the cofactor in the shader, which si pretty expensive.

`cof = mat3(m);` is incorrect though, you need to compute the cofactor matrix.

The biggest problem I have is that I don't have a good repro test. It would be helpful if you could provide a gltf file we can use with `gltf_viewer` that shows the problem.

[2022-01-26 02:34] geroge-d opened #5118 "Crash in shader compiler on PowerVR devices"
**Describe the bug**
We use the latest version of filament in main branch. And captured some crashes .
The crash log is below:
#00 pc 00000000000983c0 /vendor/lib64/libusc.so [arm64-v8a::87dc1f0dd442b4d23860f485a8121ce6]
2
#01 pc 00000000000aa678 /vendor/lib64/libusc.so [arm64-v8a::87dc1f0dd442b4d23860f485a8121ce6]
3
#02 pc 000000000009fe4c /vendor/lib64/libusc.so [arm64-v8a::87dc1f0dd442b4d23860f

[2022-01-26 02:45] teub commented on #5088
So I assume you couldn't reproduce the issue with the glm I exported yesterday ? Glm is a gltf in binary form.
Otherwise I'll probably have to work on setting up a sample to reproduce the issue.

[2022-01-26 02:47] geroge-d commented on #5118
FYI
   We also saw a lot of similar crashes reported by those device with gpu:PowerVR Rogue GE8320,vendor:Imagination Technologies

[2022-01-26 02:59] lb377463323 commented on #3100
@zirman Ok, thank you very much.

[2022-01-26 03:54] teub commented on #5088
So I made a better gltf scene with both objects and a light :
[test_mat2.zip](https://github.com/google/filament/files/7938792/test_mat2.zip).

I opened it with gltf_viewer but I can't see the issue, lighting seems fine there. I guess finding what goes wrong in my case and not in gltf_viewer is going to be quite painful.

[2022-01-26 05:34] pixelflinger commented on #5118
Yes, unfortunately, Power VR compilers are very buggy.

[2022-01-26 05:40] pixelflinger commented on #5088
Does using the cofactor() computed in the shader fix your issue?

If so, I suspect that you must have very large scaling in your transform, could it be the case?

Try to divide the cof matrix on the CPU side by 10 or 100, and see if it helps.

Thanks!

[2022-01-26 19:02] teub commented on #5088
I tried this code you mentioned earlier :

It doesn't fix the issue; this is the result (which seems to be the same than the initial issue) :

![image](https://user-images.githubusercontent.com/11277063/151216282-b36e1637-a37a-4377-b492-b12f6d09e371.png)

cof matrix on the cpu is Identity;
somehow I'm not getting an identity back in the shader.
I have no clue what's happening, I'll keep investigat

[2022-01-26 20:22] #5035 closed

[2022-01-26 20:25] prideout commented on #5111
Ah this might be an app issue actually, gltf_viewer seems to be calling ReadPixels outside of the legal bounds.  Investigating.

[2022-01-26 20:58] teub commented on #5088
if I replace this:

with this :

Then it works. The problem is, I have no clue on why it'd give a different result ?

[2022-01-26 21:22] teub commented on #5088
Side note: among my tests, some code as simple as this failed, whereas the xyz version "worked" to get me an identity matrix. I'm looking for some opengl doc to know what is legal and what is not but I'm not finding much.

[2022-01-26 21:37] pixelflinger commented on #5088
Wow. Thank you for the investigation.

This definitely look like compiler bugs to me.

[2022-01-26 21:39] pixelflinger commented on #5088
Would you like to submit a PR with your version that works?

If not I can do it.

[2022-01-26 21:45] teub commented on #5088
I don't have a fork so I don't think I can create a PR

[2022-01-26 21:48] teub commented on #5088
Note: there are still a few mysteries pending, including why using cofactor() in the shader gave the same wrong result, or why I couldn't reproduce the problem with gltf_viewer. I'll do some more check for the latter, because if I can provide a repro for you to test it'd be nice.

[2022-01-26 22:57] teub commented on #5088
Good news, the problem can actually be reproduced with gltf_viewer (at least on my machine), but care must be taken to enable optimizations for matc : see the FILAMENT_DISABLE_MATOPT flag. When using cmake by default, it generated unoptimized versions of the shaders and that's why I couldn't see the problem with gltf viewer, wherease I didn't have the -gd flag for my own materials.

![image](https

[2022-01-26 22:58] romainguy commented on #5088
`-g` *disables* material optimizations. Debug builds turn material optimizations off by default, release builds turn them on.

[2022-01-26 23:00] teub commented on #5088
Yes and "CMake .." generates debug commands, for both the debug and release config of TNT.sln

[2022-01-26 23:00] romainguy commented on #5088
So is the issue with optimizations on or off?

[2022-01-26 23:01] teub commented on #5088
On

[2022-01-26 23:06] teub commented on #5088
I'm on nvidia drivers 510.06 if that matters

[2022-01-27 00:43] pixelflinger commented on #5088
ah yeah... the optimizer does really really strange things with matrices -- that rings a bell.

[2022-01-27 14:07] MarkMurillo commented on #5100
Is it possible to post this scaled down model?

[2022-01-27 15:01] daemyung commented on #5100
No problem. Test [scaled.glb.zip](https://github.com/google/filament/files/7951368/scaled.glb.zip).

[2022-01-28 00:36] pixelflinger commented on #5088
argh I'm still not able to reproduce it in our gltf_viewer.

[2022-01-28 03:24] #5088 closed

[2022-01-28 09:42] teub commented on #5088
@pixelflinger there was also the same problem with the "cofactor" function which exhibited the same issue, and - I guess - any other shader code that accesses matrix members in the same way, but I haven't reviewed them all.

[2022-01-28 13:59] stevexbritton opened #5132 "ubershaderLoader.destroy() crashes when called after assetLoader.destroy()"
Hi,

Android Filament 1.12.8

I create an AssetLoader with an UbershaderLoader (previously, Filament 1.10.6, I used a MaterialProvider instance).
  val materialProvider = UbershaderLoader(engine) // Pre Filament 1.10.7 MaterialProvider(engine)
  val assetLoader = AssetLoader(engine, materialProvider, EntityManager.get())

Filament now crashes when I destroy the UbershaderLoader (did not happen wit

[2022-01-28 14:08] ringoz commented on #3381
The issue is still relevant for Renderer::renderStandaloneView(), because it isn't calling ResourceAllocator::gc() for some reason.

[2022-01-30 20:21] 100espressos opened #5138 "Segfault at RenderPass::generateCommandsImpl<1u>()"
**Describe the bug**
Segfault at RenderPass::generateCommandsImpl<1u>()

**To Reproduce**
Steps to reproduce the behavior:
1. Run a sample

**Expected behavior**
Normal

**Logs**
[code]
`curr->key = uint64_t(Pass::SENTINEL);` (curr == 0)

cmake
[code]
edit: also tried without linking with lld.

**Desktop:**
 - OS: Linux
 - GPU: GTX 970
 - Backend: OpenGL and Vulkan; same stack trace

**Additional

[2022-01-31 17:12] pixelflinger opened #5139 "samples/heightfield doesn't work on Metal"
Tried a debug build, when launching  `samples/heightfield   -a metal` it just doesn't draw anything. This is on M1 macmini.

This works on with opengl and vulkan/molten.

[2022-01-31 17:14] pixelflinger commented on #5138
I cannot reproduce this.

Please give the exact command line you are using to run the test and is it a debug or release build.

[2022-01-31 20:17] prideout commented on #5132
The JNI implementation for `assetLoader.destroy()` auto-destroys the native material provider (see `nDestroyAssetLoader`).

I feel that users may wish to preserve the material cache from one run to another, and that it would be good to decouple its lifetime from AssetLoader.

So, IMO this is a real bug and the fix is:

1) Remove `delete loader->getMaterialProvider();` from nDestroyAssetLoader, and

[2022-01-31 21:15] prideout opened #5142 "VulkanPipelineCache Regression: intermittent seg fault and validation errors"
Clicking `Run batch test` in a debug build of `gltf_viewer` now results in intermittent SEGV if you leave "Export Screenshots" unchecked.  (Exporting screenshots triggers a known validation error that I'm already working on.)

Sometimes, before the segfault, I see this in the console:

[code]

With MoltenVK, sometimes the SEGV occurs in `MVKPipelineLayout::bindDescriptorSets`, and sometimes it occ

[2022-01-31 21:42] 100espressos commented on #5138
Thanks for looking into this.
I am using debug builds, and I am running the samples without arguments, i.e. `./gltf_viewer`.
I will next try a basic `build.sh` to eliminate config issues.

[2022-01-31 22:25] pixelflinger commented on #5138
that's what I'm doing too, didn't see the crash.

[2022-02-01 00:39] 100espressos commented on #5138
After an update and `./build.sh -q x86_64 debug`, I find the OpenGL backend is working so I presume the issue can be closed.

Thank you for your assistance!

[2022-02-01 00:39] #5138 closed

[2022-02-01 18:10] kagetu commented on #5043
I have the same problem

- OS: Windows 10
- GPU: GeForce GTX 2080
- Backend: Vulkan
![キャプチャ](https://user-images.githubusercontent.com/12987645/152026033-947ede22-8e9f-4dd0-badf-7cee518868b4.PNG)

[2022-02-02 00:35] #5142 closed

[2022-02-02 04:49] daemyung commented on #5139
This issue is caused by mismatching Program's sampler groups and BindingIndexMap in GLSLPostProcessor.cpp. Program's sampler groups are generated with various variant but BindingIndexMap is generated with the dummy variant. Morphing is always enabled on the dummy variant. It makes different sampler binding indices and this bug.

[2022-02-03 12:44] e-dant opened #5148 "Proposed cleanup for implicit conversions"
# Implicit Conversion Cleanup

## A proposal to patch various implicit conversions with `static_cast<...>`

### Here are some patch diffs, though, the files point to different places in my repository (Glince) than are in this repo. If this is interesting to the maintainers, I can make proper patch diffs.

[code]

[2022-02-03 13:08] e-dant opened #5149 "Proposed fix for a shadowed local variable"
## Local variable `T t` in function `gaussJordanInverse(MATRIX src)` in file `TMatHelpers.h` is shadowed.

The variable `t` is declared near the top of the (template) function as a matrix value type and defined as one of: `-src[i][I]` or `src[i][I]`

The variable `t` is redeclared near the bottom of the function under a comment: `// Factor out the lower triangle` with a loop: `for (size_t j = 0; j

[2022-02-03 13:13] e-dant opened #5150 "Very small documentation change"
# Tiniest little diff for documentation

## Where

`filament/include/filament/View.h`

## What

`@param data` ->  `@param instance` (to match function signature).

## Diff

[code]

[2022-02-03 17:01] romainguy commented on #5148
Thanks! Those are not actual issues so we probably won't bother changing them.

[2022-02-03 17:01] #5148 closed

[2022-02-03 17:03] romainguy commented on #5149
Thank you for noticing this but this also doesn't fix any issue.

[2022-02-03 17:03] #5149 closed

[2022-02-03 17:50] e-dant commented on #5148
How do you tell when implicit conversions might be UB and when they're ok? (Clang-tidy makes me timid.)

[2022-02-03 20:50] prideout opened #5155 "Littlest Tokyo model is slow with Vulkan"
This is not a recent regression.  `gltf_viewer` with this model renders at ~5 fps on my MacBook in a debug build while other backends seem normal.

Release builds seem okay, but still worth investigating at some point.

[2022-02-04 04:42] kevinylo commented on #4699
I resolved this issue by making sure that I do not create duplicate renderable on the same anchorNode.

[2022-02-04 15:06] daemyung opened #5161 "Metal validation errors"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `gltf-viewer` with a skinning model.

[2022-02-04 19:17] #5161 closed

[2022-02-08 15:27] K0rnhulio opened #5175 "Blendshapes on the Eyes dont work"
**Describe the bug**
On these .glb file we have made the body animations intoand the facial blendshapes into seperate name so that we can trigger them when needed..
BUT when we start to play the blendshapes (facial animation) only the lips works the eyebrows dont move as they should

**To Reproduce**

Please have a look on the file here:
https://jaspers.b-cdn.net/DOG2BABY_RIG_Test_03.glb

**Expect

[2022-02-08 18:06] teub opened #5176 "Windows versions (and others) are missing for v1.18.0"
**Describe the bug**
Unless this is on purpose, it looks like the windows binaries are missing from the latest release, and there also seems to be a lot less files than before.

[2022-02-08 18:08] romainguy commented on #5176
You need to wait for the CI builds to finish :)

[2022-02-08 18:08] #5176 closed

[2022-02-08 18:11] teub commented on #5176
Oh ok :D sorry

[2022-02-08 20:19] Orctonk opened #5177 "Adding a material library with common materials"
**Is your feature request related to a problem? Please describe.**
I would like a collection of some materials to quickly assign common materials to renderables. Sort of like the materials showcased in the README
![Material showcase](https://github.com/google/filament/blob/main/docs/images/samples/example_materials2.jpg)

**Describe the solution you'd like**
One idea might be to add an optional li

[2022-02-08 20:38] avladgh commented on #5118
This is unfortunate. Makes the whole engine not reliable for Android.

[2022-02-08 20:58] romainguy commented on #5177
Thanks for your suggestion but this is beyond the scope of this project. Since Filament supports a common PBR model, you can easily import texture sets from Substance Share/Source, [Polyhaven](https://polyhaven.com/textures), etc. You only need one material for them that assigns baseColor, metallic, etc. You can also just use the glTF format via our gltfio library.

[2022-02-08 20:58] #5177 closed

[2022-02-09 00:45] daemyung commented on #5175
@K0rnhulio Could you tell me which Filament version are you using? It looks fine with the latest Filament.
<img width="991" alt="image" src="https://user-images.githubusercontent.com/7459074/153100354-698b7beb-b0dc-4624-9f8a-52166e07dfdb.png">

[2022-02-09 04:23] #3010 closed

[2022-02-09 05:43] K0rnhulio commented on #5175
Thank you 1000 times for your support, looks we are stucked a little.

We have use

// filament
    implementation 'com.google.android.filament:filament-android:1.6.0'
    implementation 'com.google.android.filament:filament-utils-android:1.6.0'
    implementation 'com.google.android.filament:gltfio-android:1.6.0'

    now switching to

    dependencies {
    implementation 'com.google.android.fil

[2022-02-09 05:44] romainguy commented on #5175
Filament 1.6 is quite old by now. What crash are you experiencing?

[2022-02-09 06:10] daemyung commented on #5175
@K0rnhulio Full morphing is supported from 1.17.0. Check [release notes](https://github.com/google/filament/blob/main/RELEASE_NOTES.md).

[2022-02-09 11:48] K0rnhulio commented on #5175
Woow thanks a lot for these awesome support. Looks so far it works well now.

[2022-02-09 18:07] 100espressos opened #5180 "ResourceLoader::loadResources() eventually fails to load resources (closed, non-issue)"
While sequentially loading assets, ResourceLoader::loadResources() eventually fails with output 'Unable to load resources.'

I do not expect invalid assets or paths, because BusterDrone and the other small assets all load successfully if loaded _first_.  Per the docs, I am deferring `evictResourceData()` in order to later create instances.

[code]

For the initial assets, the result is the expecte

[2022-02-09 19:44] 100espressos commented on #5180
Solved by an update! Thanks for your attention.

[2022-02-09 19:44] #5180 closed

[2022-02-10 01:01] wes-nz commented on #5118
Have you tried [PVRShaderEditor](https://developer.imaginationtech.com/pvrshadereditor/), is it of any help? Additionally, it might be worth asking Imagination Technologies on [their forums](https://forums.imgtec.com), their engineers do answer.

PowerVR has a decent market share on Android, it would be great to improve the compatibility. I tried to switch to Vulkan for those devices but no luck..

[2022-02-10 07:26] avladgh commented on #5118
Hi Wes. I'm trying to find a solution for this. So you tried to use Vulkan backend and it's still crashing?

[2022-02-10 17:47] xeno4729 opened #5183 "error in getSquareFalloffAttenuation()"
On this page https://google.github.io/filament/Filament.md.html
the following code appears to have an error:

float getSquareFalloffAttenuation(vec3 posToLight, float lightInvRadius) {
    float distanceSquare = dot(posToLight, posToLight);
    float factor = distanceSquare * lightInvRadius * lightInvRadius;
    float smoothFactor = max(1.0 - factor * factor, 0.0);
    return (smoothFactor * smoot

[2022-02-10 17:51] romainguy commented on #5183
Thanks, there's indeed a bug in the docs. The implementation does it correctly:

[code]

[2022-02-10 18:44] wes-nz commented on #5118
@avladgh The samples do work on PowerVR GPU when using Vulkan as a backend.
If you have custom materials it gets tricky to get similar behaviour between OpenGL & Vulkan across devices.

[2022-02-10 22:34] PsycoTodd opened #5184 "KHR_materials_transmission artifacts when work with KHR_materials_sheen"
**Describe the bug**
When we see through a transmission object, we should see the opaque object behind it. Sheen materials should be opaque so we do not expect the artifacts like two transparent objects occlusion.

However, when the opaque object has sheen extension, it is fully not visible for the parts behind the transparent objects.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare

[2022-02-10 22:48] romainguy commented on #5184
Could you share your gltf file please? I can't reproduce the issue.

[2022-02-10 23:36] wes-nz opened #5185 "Incorrect normals with skinned model since v1.16.0"
Since #4939 some normals appear to be incorrect for skinned models.

**< v1.15.2:**
- No bone matrices set, normals are correct 🟢
- Bone matrices set, normals are correct 🟢

**> v1.16.0:**
- No bone matrices set, normals are gone 🔴
- Bone matrices set, normals partially incorrect 🟠

**To Reproduce**
1. Download the sample project for Android [here](https://www.dropbox.com/s/sqbqv7uwpa0brpy/Filamen

[2022-02-11 00:54] PsycoTodd commented on #5184
[transmissionTest.zip](https://github.com/google/filament/files/8045274/transmissionTest.zip)

[2022-02-11 00:58] romainguy commented on #5184
Thank you. It works fine in the desktop glTF viewer except when I enabled the uber shader.

@prideout Looks like sheen is causing weird issues in ubershader mode. It works fine otherwise.

[2022-02-11 08:22] cjsliuj opened #5187 "Can the mask of visible layers be expanded from 8bit to 64bit? And why now using 8bit?"
**Is your feature request related to a problem? Please describe.**
I want more model to different layer.

**Describe the solution you'd like**
layerMask using 64bit

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**OS and backend**
Is this feature OS/backend specific? If so, explain why.

[2022-02-11 09:27] babefish2008 commented on #4772
Thanks your great effort, I am wondering if the feature Morphing on GPU has been full completed or not? and will it be merged to  filament mater?

[2022-02-11 10:44] August1996 commented on #5065
could you support getMorphTargetNameAt for jni?

[2022-02-11 13:27] daemyung commented on #4772
@babefish2008 gltf_viewer is an example using this feature.

[2022-02-11 13:29] daemyung commented on #5065
@August1996 No problem. I will do this soon.

[2022-02-11 15:05] daemyung commented on #5065
@August1996 You can get morph target names on Java after #5188 is merged.

[2022-02-11 18:33] wes-nz commented on #5185
Thanks @pixelflinger, I will give it a try whenever I can.

Do you have any thoughts about the normal at the bottom end of the model?
![neck](https://user-images.githubusercontent.com/2945380/153555842-fd1b71cf-708a-4576-9ec2-bc528671bf4a.jpg)

[2022-02-11 19:41] pixelflinger commented on #5187
You can basically emulate this yourself by adding/removing entities to/from the scene.

We won't make the visibility mask more than 8 bits, as it will have performance implications during culling.

[2022-02-12 03:36] August1996 commented on #5065
thanks

[2022-02-14 04:13] dandingol03 opened #5194 "【IOS】SEGV_ACCERR , crash in filament::FMaterialInstance::duplicate(filament::FMaterialInstance const*, char const*) + 8"
**Describe the bug**
This crash is happened randomly, and this crash ratio is **0.4%**. It seems that the `&mDefaultInstance` is nullptr or some invalid address. However, `filament` doesn't clean  the `Material::mDefaultInstance`,  why does this address invalid?

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/13013579/15

[2022-02-14 06:59] pixelflinger commented on #5194
Please attach the full stack of the crash (please don't use a screenshot).

[2022-02-14 08:19] chirag-qs commented on #3654
Hi,
I tried some HDR images to fix above issue but could not found exact solution, Basically I am trying to setup lighting, which does not reflect any shadow.

I am trying to setup Lighting and shadow similar to below video.

https://user-images.githubusercontent.com/86815724/153820719-f7f903bc-fe1a-4b9a-9448-7403b7f9b039.mp4

But it looks like this.

https://user-images.githubusercontent.com/8681

[2022-02-14 08:38] chirag-qs opened #5196 "How to remove Shadow casted by HDR image."
**Current behavior**
Currently I am using ModelViewer class to load my gltf Model and IBL for lighting, and for that I am using HDR images. but current IBL images show shadow of the HDR images on my model and that looks little weird. I have attached video below.

https://user-images.githubusercontent.com/86815724/153827864-07792959-5519-472b-85c0-36ddd752e3ee.mp4

**Expected behavior**
But actuall

[2022-02-14 16:47] romainguy commented on #5196
There are no "shadows", what you are seeing is the result of lighting being applied. If the lighting you are getting is not to your liking, you should use a different IBL. The second video you are showing still shows reflections, it just happens to not have darker areas because the IBL doesn't have them.

[2022-02-14 16:47] #5196 closed

[2022-02-15 06:57] geroge-d opened #5201 "Unable to create Vulkan instance"
**Describe the bug**
The Filament was crashed with logs below, when we ran it in a Android 8.1.0 device with gpu render:PowerVR Rogue GE8320,vendor:Imagination Technologies,version:OpenGL ES 3.2 build 1.9@4971894
The filament version is : v1.16.1

02-15 14:41:50.885 I/Filament(12037): FEngine (64 bits) created at 0x7d05800000 (threading is enabled)
02-15 14:41:50.886 D/Filament(12037): FEngine res

[2022-02-15 07:04] romainguy commented on #5201
Is Vulkan properly supported on that device? Even if it is, I wouldn’t recommend it over OpenGL. Vulkan 1.0 was added in Android 7 and GL drivers, esp for older GPUs, will be more mature.

[2022-02-15 07:17] geroge-d commented on #5201
yes, it is supported. because of opengl driver bugs of PowerVR Rogue series gpu,so we have to try vulkan backend for these device with gpu PowerVR.  please see another bugs reported by me [https://github.com/google/filament/issues/5118](url)

[2022-02-15 09:57] dandingol03 opened #5202 "【Mac & Android】 inconsistent rendering effect between mac and android platform"
**Describe the bug**
In the rendering scene, there is an shoe with albedo texture and ibl lighting. I render these stuff with `LinearToneMapper` used in post process. However, the rendering effect in pc seems more lighter than android device. I want to know why, and how can i make these platform achieve the same rendering effect. Thanks for your time.

**To Reproduce**
Steps to reproduce the behav

[2022-02-15 17:25] 100espressos opened #5203 "collision with new glibc identifier"
[code]

To reproduce, compile with glibc 2.35+.

**References**

https://sourceware.org/pipermail/libc-alpha/2022-February/136040.html

[code]

**Desktop**
Linux

*edit: Closing as these should be caught by CI

[2022-02-15 19:56] #5203 closed

[2022-02-15 20:26] #5202 closed

[2022-02-16 00:12] prideout commented on #5201
The message about `vkEnumerateInstanceVersion` might be a red herring because `vkGetInstanceProcAddr` should simply return null on 1.0 devices, which is not an exceptional situation.

I am guessing that your device does not support one of the extensions that we are requesting.  Can you check if your device supports `VK_KHR_get_physical_device_properties2`?

[2022-02-16 02:40] dandingol03 commented on #5202
ok, i will try it.

[2022-02-16 03:24] dandingol03 commented on #5202
It is true for glb model rendered at both platform. But this cannot explain why obj model is rendered inconsistent.

[2022-02-16 03:35] geroge-d commented on #5201
@prideout yes, the extension VK_KHR_get_physical_device_properties2 is not support. And i removed it ,and run it in the device,got the following crash
02-16 11:26:07.304 E/Filament(29251): Panic
02-16 11:26:07.304 E/Filament(29251): in void filament::backend::VulkanContext::selectPhysicalDevice():36
02-16 11:26:07.304 E/Filament(29251): reason: vkEnumeratePhysicalDevices count error.

[2022-02-16 09:31] dandingol03 commented on #5202
I figure out why. It is the process which i use to decode jpeg makes the rendering effect  inconsistent. Thanks

[2022-02-16 12:52] sdpopov-keyvariable opened #5210 "Android. Possibly missing public modifier"
**Describe the bug**
It seems public modifier is missing for Texture.PixelBufferDescriptor.computeDataSize() method in filament/android/filament-android/src/main/java/com/google/android/filament/Texture.java.

**Expected behavior**
The method should be public. Also it's good to provide public instance (non static) method for Texture.PixelBufferDescriptor returning result of the static version with

[2022-02-16 16:16] prideout commented on #5201
Thanks for checking!  We should probably mention this extension in our README, or try to remove the requirement.  However for your device I would recommend OpenGL.  I think this is only the tip of the iceberg.  e.g. your driver seems to be listing 0 physical devices for some reason.

[2022-02-16 17:07] pixelflinger commented on #5210
Thanks. good catch!

[2022-02-16 17:10] pixelflinger commented on #5201
@prideout the problem is that IMG GPUs have very buggy OpenGLES compilers which crash with filament's materials.

[2022-02-16 17:15] pixelflinger commented on #5194
It seems to me that you must be using objects that have been destroyed.  This looks like an app issue.

[2022-02-16 17:15] #5194 closed

[2022-02-16 17:19] romainguy commented on #5201
I was just thinking about this this morning. I wonder if we could try to use the offline compilers IMG and ARM make available to try and repro some of those bugs. We could even add a `--validate` mode to `matc` to make it run every generated shader through IMG's and ARM's offline compilers to try and catch these issues ahead of time maybe?

[2022-02-16 17:21] #5100 closed

[2022-02-16 18:23] #5150 closed

[2022-02-16 18:24] #5210 closed

[2022-02-17 07:54] dandingol03 commented on #5194
There is no complex logic in the app. By the way,  is there any way i can tell which `MaterialInstance` have been destroyed? @pixelflinger

[2022-02-17 16:36] daemyung opened #5217 "Crash gltf_viewer after resizing window on Vulkan"
**Describe the bug**
Crash gltf_viewer after resizing window on Vulkan

**To Reproduce**
Steps to reproduce the behavior:
1. Run gltf_viewer with `--api vulkan`.
2. Crash.

**Expected behavior**
Crash never be happened.

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS: macOS
 - GPU: AMD Radeon Pro 5500M
 - Backend: Vulkan

[2022-02-17 16:46] prideout commented on #5109
These models are now fixed.

[2022-02-17 16:47] prideout commented on #5111
This now works fine.

[2022-02-17 16:47] #5111 closed

[2022-02-17 17:07] romainguy commented on #5217
I can't reproduce on macOS with tip of tree from the main branch. Note that Vulkan on macOS goes through Metal via MoltenVK. While it's useful for testing, it's better to use the Metal backend directly.

[2022-02-17 17:33] prideout commented on #5217
Interesting, I cannot reproduce either, I'll give it a try on Windows later today.  Potentially related bug is #2728.

[2022-02-17 21:50] wes-nz commented on #5185
@pixelflinger unfortunately the bug is still there in v1.19.0 on Android. The issue should be re-open.

I have updated [the sample project](https://www.dropbox.com/s/z59cgs92rczdejd/Filament%20-%20NormalMap%20-%202.zip?dl=1) to include the latest release of filament.

I will create a new issue regarding my previous message.

[2022-02-17 21:56] romainguy commented on #5185
@prideout and @bejado as well

[2022-02-17 21:59] romainguy commented on #5185
Hmm looks like this change is *not* in 1.19.0, it will be in 1.20.0. We cut a release once a week but we leave it in a branch for 1 week, with this fix having been checked in 7 days ago, it would not be in 1.19.0.

@wes-nz Please try with tip of tree or wait for 1.20.0.

[2022-02-17 22:02] wes-nz commented on #5185
Ok my bad, reading the release note I assumed it was. I will try the tip of the tree soon.

[2022-02-17 22:06] prideout commented on #5217
I am also unable to reproduce on Windows with an NVIDIA GPU.

[2022-02-18 01:02] wes-nz commented on #5185
No luck unfortunately, I built `main` which includes [d21f092](https://github.com/google/filament/commit/d21f092645b8e1e312307cbf89f1484891347c63).

I've updated the sample project with a debug build from `main`, [available here](https://www.dropbox.com/s/fiuca8pdssjggdb/Filament%20-%20NormalMap%20-%203.zip?dl=0). Thanks.

[2022-02-18 01:10] romainguy commented on #5185
@pixelflinger can you take a look when you have a moment please?

[2022-02-18 07:48] dandingol03 opened #5222 "xxx"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Logs**
If applicable, copy logs from your console here. Please *do not*
use screenshots of logs, copy

[2022-02-18 07:48] #5222 closed

[2022-02-18 18:20] FabianRueckert commented on #3121
We would like to have a higher-level animation API that supports blending between animation states and also blending between animation states and the initial node transforms. (Like the above ThreeJS sample)
As this is not currently supported directly by the `gltfio:Animator` and the Animator also hides the samplers, such a system can not be implemented as a layer on top by our client using the cur

[2022-02-18 18:36] prideout commented on #3121
If we add a weightFactor to the applyAnimation function like @ThomasGorisse proposed, then I think that demo UI in that animation should be possible, right?  To blend animations, clients can simply call applyAnimation multiple times, each time with a different animation index.

I'm also open to exposing samplers, especially in a read-only sense, to Java, although I'm still somewhat fuzzy on why th

[2022-02-18 19:38] prideout commented on #5043
I am unable to repro with `point_sprites` and NVIDIA GeoForce RTX 2060 on Windows.  (Driver = 510.06)

Our Vulkan backend has had a lot of churn recently, maybe you could try again?

[2022-02-19 13:10] avladgh commented on #5118
@wes-nz Thx. That's what I want to do, use vulkan backend for these gpus. Luckily that my models are not very complex. However, there are some devices with PowerVR 8320 that doesn't support vulkan either.

Also, I noticed Google maps doesn't support 3d vehicles/models on these devices too, even for devices with PowerVR and vulkan support. Looks like a bigger issue.

[2022-02-21 12:58] August1996 opened #5234 "Crash VertexBuffer when loading glb model"
**Describe the bug**
when i load this [glb model](https://github.com/August1996/filament-bugreport/raw/main/crash_model.glb), crash happens. but is ok with babylon.js and threejs.

**Logs**
`At least one buffer slot was never assigned to an attribute.`

[2022-02-22 09:21] chx-code commented on #5234
Some properties of the model are not resolved，such as uv or normal

[2022-02-22 09:34] August1996 commented on #5234
how can i check these properties?

[2022-02-22 12:58] jaswinder13 commented on #3208
It is also flickering for me in a Mi Note6 Pro, please help and thanks in advance

[2022-02-22 13:18] jaswinder13 commented on #3208
it is also flickering for me in my device

[2022-02-22 17:13] prideout commented on #5217
Ah thank you, I managed to reproduce.  Thanks for the bug report!

[2022-02-22 17:35] prideout commented on #5234
This model has a total of 8 skinning weights per skeleton node (i.e. two sets of weights).  Filament supports only a single set of weights per node (this conforms to the glTF minspec)

In the past we emitted a friendly error message in gltfio, I'll take a look.

[2022-02-23 01:29] e-dant opened #5242 "Various crashes on Arch Linux with Wayland"
## Speculative issue

Filament's copy of SDL seems unable to produce a valid SDL environment. Moreover, the most recent version of SDL, when used in place of Filament's copy of SDL, also fails to produce a valid SDL environment.

This likely *not* an issue with SDL. Programs which I have developed using SDL run fine on Arch. (However, I have not been able to find a "standard SDL test" program out

[2022-02-23 01:34] #5234 closed

[2022-02-23 03:24] August1996 commented on #5234
thanks, it works!

[2022-02-23 07:52] sunRunFast commented on #3285
Hello, I would like to ask if you now know how to access the value of blendshape? I have the same problem, thanks for answer

[2022-02-23 16:06] dandingol03 opened #5245 "【MAC】ImGui::Image not compatible with filament::Texture"
**Describe the bug**
Recently, i'm writing an material editor which is based from material_sandbox demo. However the `ImGui` GUI become a mess after i add an ImGui::Image the texture of which is created by `filament`.

**To Reproduce**
1. use `stbi_load` to load byte data from image file
2. create `filament::Texture` and `filament::TextureBuffer`. Call `setImage` to bind the byte data to texture
3

[2022-02-23 17:57] romainguy commented on #5245
What image format did you get from STB and what format did you describe in the filament texture? Images can be displayed with filagui.

[2022-02-23 19:59] prideout commented on #5217
Re-opening, I think I found another way in which this can occur.

[2022-02-23 20:02] prideout commented on #5245
Ah, I see you're using a very old version of Filament.  We fixed this issue long ago.

[2022-02-23 20:02] #5245 closed

[2022-02-23 20:27] kelvinwatson commented on #4692
@GokulDas027  Did you ever end up filing a bug against the emulator? This is occurring for me as well.

[2022-02-23 20:42] kelvinwatson opened #5247 "deleted"
deleted

[2022-02-23 20:44] kelvinwatson opened #5248 "Android, filament gltf viewer freezes emulator"
**Describe the bug**
Emulator freezes periodically when running a simple gltf viewer app. Pasted all application code as it is a very small app.

build.gradle
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app with the code above on an emulator
2. Observe that the emulator freezes. Observe that this does not occur on a physical device.

**Expected behavior**
Emulator

[2022-02-23 20:44] #5247 closed

[2022-02-23 20:47] romainguy commented on #5248
Is the emulator frozen or the app? If the former, that sounds like an emulator bug. I've never seen this issue myself even though I regularly work in the emulator.

[2022-02-23 21:15] kelvinwatson commented on #5248
@romainguy  It's definitely the emulator. The 3 soft nav buttons aren't responsive, nor are the controls on the panel beside of the emulator.

[2022-02-23 22:44] prideout commented on #5217
Unable to trigger the bug after the last few fixes.  Please re-open if you bump into this again.

[2022-02-23 22:44] #5217 closed

[2022-02-24 01:07] daemyung commented on #5217
Thanks. It's fixed.

[2022-02-24 01:11] daemyung opened #5253 "FrameGraph creates passes with 0 width in some coner cases."
**Describe the bug**
FrameGraph creates passes with 0 width or 0 height in some coner cases.

**To Reproduce**
Steps to reproduce the behavior:
1. Run gltf_viewer
2. Resize gltf_vewer to very small size.
3. Print a Vulkan validation error.

**Expected behavior**
Minimum width or height should be 1.

**Logs**
[code]

[2022-02-24 01:37] kelvinwatson opened #5255 "Filament: Unable to parse glb file"
**Describe the bug**
I am getting `"Filament: Unable to parse glb file"` when I try to load a remote glb file.

The remote glb file I used was the `DamagedHelmet.glb` used in the `sample-gltf-viewer` app. I uploaded it to my GitHub repository  (see: https://github.com/kelvinwatson/glb-files/blob/main/DamagedHelmet.glb) and am trying to load it via this url: https://github.com/kelvinwatson/glb-file

[2022-02-24 03:21] e-dant commented on #5242
After running some more tests, here are some results:

Samples from sdl (from their GitHub repo) work. I'm not sure how to read the results of the text-only samples (such as the atomic tests, which I believe Filament skips).

The samples from sdl were compiled out-of-directory with cmake and the cmake policy for GLVND set to NEW (I think it's policy 72?).

The samples sometimes open floating windo

[2022-02-24 03:47] GokulDas027 commented on #4692
Yes, I did [report the issue](https://issuetracker.google.com/issues/203446380?pli=1)  but nothing happened besides assigning it to someone.

[2022-02-24 05:48] e-dant commented on #5242
Output after selecting OpenGL as the backed:

[code]

[2022-02-24 06:50] August1996 opened #5257 "glb export"
how to export a glb or gltf file after adding some renderable entities？

[2022-02-24 16:51] romainguy commented on #5257
Filament does not provide export capabilities.

[2022-02-24 16:51] #5257 closed

[2022-02-24 17:23] #5253 closed

[2022-02-24 18:45] prideout commented on #5255
Thanks, this is a very clear bug report!  I suspect that your download logic isn't quite right, but it's not obvious to me just by eyeballing the code.  Maybe try adding `byteBuffer.rewind()` on the line before the loadModelGlb call?

If you're still stuck I can try it out on my end.

( Our gltf_viewer sample can "download" models but it uses WebSockets not http. )

[2022-02-24 18:51] kelvinwatson commented on #5255
@prideout Adding the `rewind` call didn't fix it :(

[2022-02-24 19:26] kelvinwatson commented on #5255
Looks like I'm getting closer. Now I'm getting this error, with this code:

[code]

[code]

[2022-02-24 19:34] prideout commented on #5255
I _think_ the last two lines need to be moved out of the IO context and into the Main context:

        withContext(Dispatchers.Main) {
            modelViewer.destroyModel()
            modelViewer.loadModelGlb(message.buffer)
            modelViewer.transformToUnitCube(message.buffer)
        }

[2022-02-24 19:37] kelvinwatson commented on #5255
Thanks @prideout . That was it!
Pasting a copy of the working code:

[code]

[2022-02-24 19:38] #5255 closed

[2022-02-24 19:41] kelvinwatson commented on #5255
Or the more condensed Kotlin version:

[2022-02-24 19:42] kelvinwatson commented on #5255
@prideout Do you want me to contribute this as a sample in the app?

[2022-02-24 19:58] prideout commented on #5255
Thanks Kelvin, glad it worked!  GitHub will keep this ticket around even after it is closed so maybe that's good enough.  The problem with adding more samples is that we need to maintain them...  :)

[2022-02-28 19:19] pixelflinger opened #5273 "TargetBufferInfo uses an union for the face (uint8_t) and layer (uint16_t)"
from @jeanlemotan

[2022-02-28 20:31] wes-nz commented on #5118
Thanks for the update @avladgh, that's good to know.

[2022-03-01 19:54] romainguy commented on #5248
This should be reported against the emulator at b.android.com then, sorry :/

[2022-03-01 19:54] #5248 closed

[2022-03-02 20:58] prideout commented on #5155
A quick experiment revealed that the slow frame rate is due to validation layer, not Filament.  Closing.

[2022-03-02 20:58] #5155 closed

[2022-03-03 12:32] JackQu2018 commented on #2793
Is there any solution for this problem？I met this error and can't find a way to fix it. Could you please help me to fix it out?

[2022-03-03 12:33] JackQu2018 commented on #2792
Is there any solution for this problem？I met this error and can't find a way to fix it. Could you please help me to fix it out?

[2022-03-03 21:41] prideout commented on #2728
Tested today on Android with screen rotation and task switcher, no crash.

Resizing material_sandbox seems okay too.

There's been a lot of churn since this was filed, time to close it.

[2022-03-03 21:41] #2728 closed

[2022-03-03 21:44] prideout commented on #4542
@pixelflinger This might be fixed, I tried playing with the "Dynamic Resolution" menu and am unable to repro.

[2022-03-03 21:53] prideout commented on #2342
Thanks for filing this @kvark (btw I'm a fan of your work on wgpu) but it went past my radar.  We could conceivably support a VK implementation that doesn't support TRANSFER_DST but it would be non-trivial.

Is the gfx-portability initiative still going full steam ahead?  If not maybe we can close this.

[2022-03-04 05:34] kvark commented on #2342
No, it's currently on hold. And even if/when it's resumed, we'll be find with TRANSFER_DST. Closing.

[2022-03-04 05:34] #2342 closed

[2022-03-05 00:11] prideout opened #5287 "Shadowmap has usage=COLOR_ATTACHMENT and format=DEPTH16"
This can be reproduced on Android by running `sample-gltf-viewer` with the default model and OpenGL and hacking `FrameGraphTexture::create` by adding:

[code]

[2022-03-05 01:00] #5273 closed

[2022-03-07 15:03] AntonHolovin opened #5289 "Morphing does not work anymore"
**Describe the bug**
I used version `1.17.0` and applied morphing with the `setMorphWeights(i, weights)` method. This version threw some "Fatal signal 11" errors after several calls to `loadModelGlb()` so I updated to the latest one `1.20.1`. Performance is better and I don't see errors but morphing stopped working. Filament ignores `setMorphWeights` calls.

**To Reproduce**
Steps to reproduce the

[2022-03-07 21:20] bejado commented on #5289
If you're using gltfio it should handle setting up the `MorphTargetBuffer` for you. Can you share the glTF you're trying to load?

FYI you can also enable legacy morphing using the `legacyMorphing` material property.

[code]

[2022-03-07 21:42] AntonHolovin commented on #5289
I am trying to render a [VRM (GLB) file](https://www.dropbox.com/s/fgh953pclt4cao3/girl.glb) with `gltfio-android` dependency. `setMorphWeights(entity, weights, 0)` has no effect but the old version of this method worked on `1.17.0`.

`weights` is a float array of weights for all targets.

I don't use materials. I just want to apply morphing for a rendered model.

[2022-03-08 00:39] daemyung opened #5290 "How can I get skins in glTF?"
**Is your feature request related to a problem? Please describe.**
I need skins to do the inverse kinematics. However there is no way to get this at `FilamentAsset`.

**Describe the solution you'd like**
Supports getter function for skins at `FilamentAsset`.

**Describe alternatives you've considered**
Actually I only needs the skin name and joints for the inverse kinematics. So supporting skin na

[2022-03-08 00:40] daemyung commented on #5290
Please let me know your ideas. I will create a PR for this when I hear your thought.

[2022-03-08 03:27] bejado commented on #5289
Strange, when I load the model into gltf_viewer, it doesn't recognize any morph targets (there should be a 'morphing' checkbox underneath 'receives shadows'). I see the  morph targets with https://gltf-viewer.donmccurdy.com/ and Blender, however. I'll continue investigating.

![Screen Shot 2022-03-07 at 7 17 46 PM](https://user-images.githubusercontent.com/5298046/157160525-243d4019-d738-45c0-8268

[2022-03-08 04:22] daemyung commented on #5289
@AntonHolovin The last parameter of `setMorphWeights` is count. But you sets 0 for morph weight count like this `setMorphWeights(i, weights, 0)`. You need to pass proper count value. For instance `setMorphWeights(i, weights, 4)`.

[2022-03-08 07:04] AntonHolovin commented on #5289
@daemyung the last parameter is `offset`. I tried `setMorphWeights(i, weights, 0)`, `setMorphWeights(i, weights, 1)`, `setMorphWeights(i, weights, 4)`, `setMorphWeights(i, weights, weights.size)` but morphing does not work.

[2022-03-08 13:49] jeanlemotan opened #5291 "Vulkan multiple renderers"
Vulkan backend doesn't support 2 or more Renderers / SwapChains

When creating 2 renderers, an assert will trigger in `void VulkanDriver::createDefaultRenderTargetR(Handle<HwRenderTarget> rth, int)` because the Vulkan driver stores the default render target in the context member - and assumes only one swap chain.

The `defaultRenderTarget` is used in the `makeCurrent` calls, to bind it to the swap

[2022-03-08 13:49] xeyalsherif opened #5292 "Filament Library error"
E/Filament: Panic
    in filament::MaterialParser *filament::createParser(filament::backend::Backend, const void *, size_t):69
    reason: Material version mismatch. Expected 17 but received 20.
E/Filament:

[2022-03-08 13:51] jeanlemotan commented on #5292
You updated the library and didn't recreate the binary materials.
Some filament updates require regenerating the materials and this is specified in the release notes like this:
[⚠️ Material breakage].

You just have to regen your materials with matc.

[2022-03-08 14:04] xeyalsherif commented on #5292
What do you mean by recovery with a matc?

[2022-03-08 14:10] jeanlemotan commented on #5292
If you have any materials that you generated with matc, you need to regenerate them.

[2022-03-08 16:18] romainguy commented on #5292
Looks like you are mixing versions of Filament somehow, or you are mixing Filament library versions (gltfio and filament itself for instance) when using SceneView.

[2022-03-08 16:18] #5292 closed

[2022-03-08 17:17] prideout commented on #5291
Interesting, thanks for the bug report!  This is something we should be able to support.

[2022-03-08 18:13] xeyalsherif commented on #5292
What can I do as a solution to this?

[2022-03-08 18:15] romainguy commented on #5292
Well first we'd have to understand what you are doing to begin with. You should file that bug with the authors of https://github.com/SceneView/sceneform-android

[2022-03-08 18:34] xeyalsherif commented on #5292
Thank you, I want to watch a video in mp4 format instead of a 3d object on the screen by tracking at the picture

[2022-03-08 19:41] bejado commented on #5289
@daemyung I believe @AntonHolovin is using the Java API, where the third argument is an offset:

[code]

[2022-03-08 22:38] prideout opened #5294 "Adreno segfault with Vulkan when using unoptimized materials"
Default settings and model, but must use a debug build to repro (unoptimized shaders are probably required).

The callstack contains `vkCreateGraphicsPipelines` which leads to `QGLCCompileToIRShader` in the qcom driver.

Pixel 4 with Android 12.

[code]

[code]

[2022-03-08 22:49] prideout commented on #5294
To repro, make two changes before building filament:

1) In `gradle.properties`, change`com.google.android.filament.dist-dir` by replacing `release` with `debug`.
2) Change first constructor in `ModelViewer.kt` by passing `Engine.Backend.VULKAN` into Engine constructor.

[2022-03-08 23:07] prideout commented on #5290
Yes I think it's a good idea to add queries for this to FilamentAsset.  I think we are already storing the information you need, look for "SkinVector".

[2022-03-08 23:20] daemyung commented on #5289
@AntonHolovin Oh... you are not using c++... then you are right.

[2022-03-08 23:23] prideout commented on #5290
Thank you!  Be careful not to expose std::vector, we try not to use STL containers in public API's.  We will probably need two getter methods, one for the count.

[2022-03-09 03:11] daemyung commented on #5289
@AntonHolovin Please try #5297. I had changed getting the number of morph target before because glTF spec says that all primitives MUST have the same number of morph targets in the same order. So it will be enough just checking the number of morph weight. But in your model file, morph weight count is zero even if each primitive has morph targets.
<img width="1136" alt="image" src="https://user-ima

[2022-03-09 16:54] hybridherbst opened #5298 "WebGL issues with rendering on wide aspects (?)"
**Describe the bug**
Just looked at the sample page (https://google.github.io/filament/) and it looked like this for me:
https://user-images.githubusercontent.com/2693840/157490765-5e09a48d-fc03-4681-87cb-432c043d36f1.mp4

After some experimentation, it seemed to happen on wider aspects but not on narrower ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://google.github.io/f

[2022-03-09 17:02] hybridherbst opened #5299 "Bone pose not applied if glTF model doesn't have animations"
**Describe the bug**
Seems that when a glTF model has bones and those have transformations, those transformations are not applied when the model isn't also animated (e.g. it's only "pushed into pose" through bones).

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://google.github.io/filament/viewer/
2. Drag in [BendyCylinder.zip](https://github.com/google/filament/files/8216673/Ben

[2022-03-09 17:17] prideout commented on #5291
The problem with idea #2 is that the swap chain might not exist at the time that the default render target is set.  We actually had an internal discussion about this on Feb 16 and we decided not to change the Driver API.

I think it's possible to fix it without changes to the Driver API, it won't be as beautiful as possible but that's okay.  I'll take a look.

Note to self: this issue can be produ

[2022-03-09 18:48] pixelflinger commented on #5287
after investigation this is a normal condition. In fac the usage is not "COLOR", it's SAMPLEABLE. This happens because there are no objects in the scene so the shadowpass is canceled, in turn the DEPTH_ATTACHMENT usage is not set. But the texture is SAMPLEABLE because it used in the colorpass technically, even if not actually sampled.

[2022-03-09 18:48] #5287 closed

[2022-03-09 19:07] prideout commented on #5298
I believe this is a dup of #4922, which we closed as not actionable since it is likely an NVIDIA issue.

[2022-03-09 19:43] pixelflinger commented on #5298
I wonder if it happens only in filament. I thought the new datapoint that it's only on wide aspect ratios was interesting. We definitely do some "weird stuff" to keep various effect aspect-ratio independent (e.g. in the bloom pass). Maybe there is something there?

[2022-03-09 21:04] hybridherbst commented on #5298
I'm working with other WebGL apps on a day-to-day basis (threejs, WebGL directly, WebXR, Unity WebGL, ...) and have never seen this behaviour in any of them, so from my end I can say that yes, I've only seen that happen in filament.

Were you able to get any NVidia eyes on it? I mean, this is both a pretty high-end `and` a very common card... (2070 Max-Q to be specific).
Might this be related to b

[2022-03-09 21:14] hybridherbst commented on #5298
Some more tests in case that helps:
When using chrome://flags/#use-angle, I get varying behaviour:

| ANGLE Backend | Result |
| -- | -- |
| Default | ❌ Broken |
| OpenGL | ❌ Broken |
| D3D11 |  ❌ Broken |
| D3D9 |  ❌❌ filament doesn't load, exception `Cannot read properties of null (reading getSupportedExtensions)`, probably expected? |
| D3D11on12 |  ✅ Works|

[2022-03-09 21:16] AntonHolovin commented on #5289
@daemyung sorry, I cannot build Filament at the moment. Do you have android artifacts (AAR)?

[2022-03-09 22:44] prideout commented on #5299
Our Android viewer properly calls `updateBoneMatrices` regardless of the presence of animation, but our web and desktop viewers do not.  So, it probably works as expected on Android, although `transformToUnitCube` probably doesn't work as expected.  That's something I need to to think about.

Incidentally this issue has given me merits an API tweak, which I proposed with #5301.

[2022-03-10 00:32] prideout commented on #5298
The [full-screen Suzanne demo](https://google.github.io/filament/webgl/suzanne.html) does this with narrow window sizes on my NVIDIA card.  Bloom is disabled.

We haven't reported this to NVIDIA yet because it's possible it's an ANGLE bug, need to narrow it down a bit.  It reproduces easily, so that's good at least.

[2022-03-10 05:44] pixelflinger commented on #5298
Do we have the concept of DEBUG builds on webgl? Maybe that would turn up something?

[2022-03-10 18:56] #5289 closed

[2022-03-10 19:00] romainguy commented on #5289
@AntonHolovin The AARs will be available as soon as our post-submit builds finish (in a couple of hours maybe?)

[2022-03-10 19:10] #4699 closed

[2022-03-10 19:17] romainguy commented on #4636
Good news, this is fixed. The latest versions of Filament don't show the bugs.

[2022-03-10 19:18] #4636 closed

[2022-03-10 19:21] prideout commented on #4724
For the first baby step in fixing these issues, I think we should change the ModelViewer constructor so that clients MUST pass their own engine (currently it is optional), and it should definitely _not_ call destroy in the detach handler.

For the next step after that, I think we should somehow add support for "list" scenarios while retaining the simplicity of ModelViewer.  This might mean a new l

[2022-03-10 19:29] #5291 closed

[2022-03-10 19:33] romainguy commented on #1923
Obsolete, we dropped support for desktop Java.

[2022-03-10 19:37] romainguy commented on #4022
Quaternions are now available.

[2022-03-10 19:37] #4022 closed

[2022-03-10 19:39] romainguy commented on #4575
This now works.

[2022-03-10 19:39] #4575 closed

[2022-03-10 19:40] #4542 closed

[2022-03-10 19:49] elalish commented on #4575
Anyone up for updating the MV render fidelity tests to the latest Filament release when this is out and generating new goldens?

[2022-03-10 19:50] romainguy commented on #4575
The fix is already available in recent versions btw.

[2022-03-10 19:51] prideout commented on #4576
@elalish I see that you are now passing a done handler into `loadResources`, does that mean that this has been fixed?

If you were already doing this back in September, then the API isn't working as expected so I need to fix something on my end.

[2022-03-10 19:55] elalish commented on #4576
It's still a problem as far as I know: https://modelviewer.dev/fidelity/#khronos-TextureEncodingTest

Would you mind updating Filament in our render fidelity test package? I haven't touched it in some time, and you're more likely to figure this out than I.

[2022-03-10 21:41] #5299 closed

[2022-03-11 00:37] prideout commented on #4575
The render fidelity tests need to call `updateBoneMatrices()`.  I can make this change myself since I'm already mucking around in there.

[2022-03-11 01:20] daemyung commented on #5290
@prideout Skin's variables use `std::vector`so I make more getter functions.

[2022-03-11 03:16] prideout commented on #4576
@elalish we have a fix but it won't be available until the weekly release AFTER our next release, so we should probably wait to upgrade the fidelity tests until then.  However we could perhaps cherry-pick this into next week's release cc @bejado

[2022-03-11 15:39] AntonHolovin commented on #5289
Thanks! Now it works on my side with `setMorphWeights(faceEntity, weights, 0)` call.

[2022-03-11 16:21] amenon commented on #4636
I confirmed that the newest version resolved the issue in our project as well. Thank you and the team for the hard work in resolving this!

[2022-03-13 20:27] Avtar-Code-Farm commented on #3320
Hey @oHuflying  I am in same boat. Did you find any reference? I have learned OpenGL and able to draw basic things using OpenGL. From last one week, I am trying to put together a minimal example of a C++ program (OSX) that uses filament and draw a triangle with some texture on it.

It would be great if you can share the project which does simple rendering using filament.

Also, if there is any tut

[2022-03-13 20:36] Avtar-Code-Farm opened #5312 "Draw a Triangle with texture using Filament"
I have learned OpenGL and can draw basic things using OpenGL. Next, I tried exploring filament as it provides a better abstraction than OpenGL, but I am disappointed as there is no good tutorial available to onboard it.

For the last week, I have been trying to put together a minimal example of a C++ program (OSX) that uses filament and draws a triangle with some texture.

Finally, I can get a CMA

[2022-03-13 20:42] romainguy commented on #5312
Please open a discussion for questions like these. Thanks!

[2022-03-13 20:42] #5312 closed

[2022-03-13 22:16] Avtar-Code-Farm commented on #5312
Thanks @romainguy. Done: https://github.com/google/filament/discussions/5314

[2022-03-14 15:50] elalish commented on #4576
It's been broken for half a year; the priority is entirely up to you.

[2022-03-14 15:56] #5132 closed

[2022-03-15 00:11] bejado opened #5318 "Punctual lights invisible with orthographic cameras"
**Describe the bug**
When gltf_viewer loads a glTF file that contains some renderables, a point light, and an orthographic camera, the punctual light is invisible when viewed from the camera. Perspective cameras don't seem to be affected.

**To Reproduce**
Steps to reproduce the behavior:
1. Build gltf_viewer on main (19b0ad2605e).
2. Load the attached glTF file: [test-ortho-light.glb.zip](https:/

[2022-03-15 00:11] bejado commented on #5318
@pixelflinger FYI. I can look into this, but I think it's something to do with froxels.

[2022-03-15 01:50] pixelflinger commented on #5318
I'll have a look. This stuff breaks constantly :-)

[2022-03-15 07:48] steven-gao commented on #3339
@GrigorySamokhin  draw camera stream as my backgroud failed. so could you give me a copy of your project?
thans a lot

[2022-03-15 07:51] GrigorySamokhin commented on #3339
Hello @steven-gao! Sorry, its a product code. Also you can try open camera demo of filament to process Gpu Texture of image

[2022-03-15 07:52] GrigorySamokhin commented on #3339
In what part do you failed?

[2022-03-15 07:59] steven-gao commented on #3339
hello,@GrigorySamokhin thanks all the same. I want to know what the camera demo is ,is it ”sample-hello-camer“?
![image](https://user-images.githubusercontent.com/4360916/158331912-d13754b2-b1c5-4da5-9594-f443c60fa9e4.png)

[2022-03-15 08:02] GrigorySamokhin commented on #3339
Yes, https://github.com/google/filament/tree/main/android/samples/sample-hello-camera, and I use shader and texture of FullSrcreenTriangle from https://github.com/google/filament/blob/main/ios/samples/hello-ar/hello-ar/FilamentArView/FullScreenTriangle.cpp

[2022-03-15 08:04] GrigorySamokhin commented on #3339
So, I forgot to say, I don't use FilamentApp wrapper

[2022-03-15 08:17] steven-gao commented on #3339
but i am a android developer,so i read cpp file has  a bit strenuous

[2022-03-15 14:15] August1996 opened #5320 "Crash happens when rendering model which optimized by gltfpack"
**Describe the bug**
it is fine when i use gltf_viewer to render [gltfpack_test.glb](https://raw.githubusercontent.com/August1996/filament-bugreport/main/gltfpack_test.glb).

but crash happens when i render  [gltfpack_test_proceed.glb](https://raw.githubusercontent.com/August1996/filament-bugreport/main/gltfpack_test_proceed.glb)  which optimized by  [gltfpack](https://meshoptimizer.org/gltf/).

*

[2022-03-15 16:10] #5290 closed

[2022-03-15 19:39] bejado commented on #5320
The optimized glTF file has an extension that we don't support: `EXT_meshopt_compression`. We should probably print an error message of some sort.

[2022-03-16 02:05] August1996 commented on #5320
i see, i thought filament supports `EXT_meshopt_compression` before because I see the [statement](https://github.com/google/filament/blob/251abf0545b9b4afcc49a21de5620e79a743ddad/third_party/cgltf/README.md) here.

[2022-03-16 04:19] #5318 closed

[2022-03-16 07:12] August1996 commented on #5320
Does Filament have any plans to support `EXT_meshopt_compression`?

[2022-03-16 07:15] romainguy commented on #5320
cgltf only supports it because it parses that extension into a structure. The actual work is left to the app. I'd like to add support for meshopt but it's not a priority right now. We do support Draco compression though.

[2022-03-16 07:18] August1996 commented on #5320
thanks, i will have a try on Draco compression.

[2022-03-17 07:47] August1996 opened #5327 "Crash happens when more than 128 morph target are used"
**Describe the bug**

the model have 245 morph targets, it renders fine with vesion 1.13.0. but crashs on vesion 1.20.2

the log is as follow:

[code]

[2022-03-17 08:00] steven-gao opened #5328 "why another triangle not render camera texture?help!"
**Describe the bug**
A clear and concise description of what the bug is.
hello,every one,
why another triangle not render camera texture?help me thank you very mush!
**To Reproduce**
Steps to reproduce the behavior:
1. I adopted the sample-hello-camera project ,want to render a camera stream as backgroud,but i am failed.

**Expected behavior**
A clear and concise description of what you expected t

[2022-03-17 13:05] starccode commented on #5327
`WARNING: Exceeded max morph target count of 128
Panic
in setTangentsAt:195
reason: 128 target index must be < 128`
-----
got the same crash

[2022-03-17 15:48] romainguy commented on #5328
Please use the Discussions tab for questions instead of opening issues. The problem is likely the winding of your second triangle, it's probably back facing. Change the order of the indices you use.

[2022-03-17 15:48] #5328 closed

[2022-03-17 17:01] #4576 closed

[2022-03-17 19:49] BStringhamVRSK opened #5331 "OStream mutex addition breaks managed code (C++/CLI) compilations."
### Discussed in https://github.com/google/filament/discussions/5329

<div type='discussions-op-text'>

<sup>Originally posted by **BStringhamVRSK** March 17, 2022</sup>
@pixelflinger @prideout @bejado
We are using Filament in a C# managed code environment.  **std::mutex** is not supported when C++ code is compiled with the /clr flag.  Because the std::mutex declaration appears in the include head

[2022-03-18 01:13] IkkyuTed commented on #5328
Try to update:

    val indexData = ByteBuffer.allocate(indexCount * shortSize)
        .order(ByteOrder.nativeOrder())
        .putShort(0)
        .putShort(1)
        .putShort(2)
        **.putShort(2)
        .putShort(3)
        .putShort(0)**

[2022-03-18 01:26] steven-gao commented on #5328
sorry，It won't be like this next time

[2022-03-18 01:33] romainguy commented on #5328
No worry, we just try to keep the two separated so we have a good idea of how many bugs we have to fix :) Thanks!

[2022-03-18 01:55] steven-gao commented on #5328
thank you,It's true that the order is wrong, solved it

[2022-03-18 06:02] pixelflinger commented on #5331
I think maybe another solution would be to use a pImpl pattern. This would be fine for ostream as it's not performance critical. All the private gunk could go into the cpp.

[2022-03-18 06:05] pixelflinger commented on #5327
As the warning indicates we have a limit to 128 targets. This is because we're using 2D arrays to store the data and we need two layers per morph target (position + data). Unfortunately OpenGLES minspec for 2D arrays is 256, so we can't assume more.

[2022-03-18 06:07] pixelflinger commented on #5327
@daemyung what do you think?

[2022-03-18 06:38] starccode commented on #5327
<img width="779" alt="企业微信截图_c42fe8b8-b4fb-4c49-a81d-5fce88a548bb" src="https://user-images.githubusercontent.com/17590947/158949893-9ae6b66e-472b-46d3-a108-4b92a1f12d35.png">
As the tag1.19.0 indicated, I thought the limitation is 256 targets. So actually, only 128 targets support.

[2022-03-18 07:44] daemyung commented on #5327
@pixelflinger Filament can support the number of morph target up to 256. Currently we can bind morph target normal and morph target position separately.

[2022-03-18 07:47] daemyung commented on #5327
@August1996 Could you share your model file? It's very tricky.

[2022-03-18 08:54] August1996 commented on #5327
[here is the model](https://github.com/August1996/filament-bugreport/raw/main/face_crash.glb)

[2022-03-18 22:42] #5327 closed

[2022-03-20 15:06] August1996 commented on #5290
@daemyung Can it be added to jni as well?thanks.

[2022-03-20 15:09] daemyung commented on #5290
@August1996 It will be fine because it's an internal bug.

[2022-03-20 15:10] daemyung commented on #5290
@August1996 Ok I will.

[2022-03-22 03:49] August1996 opened #5344 "Rendering frame rate is low with a lot of morph targets"
**Describe the bug**
My model has 244 morph targets and the frame rate is very low when rendered with filament, but not with babylon.

At the same time I found that as the number of morph target increases, the filament performance gets worse.

[2022-03-22 03:53] machfe opened #5345 "Why is no particle system?"
Why is  no particle system?

[2022-03-22 04:15] August1996 commented on #5344
such as [this model](https://github.com/August1996/filament-bugreport/blob/main/face_crash.glb)

[2022-03-22 04:49] romainguy commented on #5345
This hasn't been a priority until now. Note that a simple particle system can be implemented on top of Filament's existing APIs though.

[2022-03-22 04:49] #5345 closed

[2022-03-22 04:51] romainguy commented on #5344
@prideout Shouldn't performance depend on the number of morph weights only? Do we apply a weight to ALL morph targets? If so that'd explain what the developer is seeing here (that would mean 244 texture fetches). If so can we at least check that we try to avoid reads for weights set to 0?

[2022-03-22 17:09] n00ner opened #5347 "Can't build filament on ubuntu"
**Describe the bug**
Trying to build android filament by guide

After executing command ./build.sh -p android release

I got this

CMake Error at CMakeLists.txt:9 (project):
  No CMAKE_CXX_COMPILER could be found.

  Tell CMake where to find the compiler by setting either the environment
  variable "CXX" or the CMake cache entry CMAKE_CXX_COMPILER to the full path
  to the compiler, or to the comp

[2022-03-22 17:12] n00ner commented on #5347
My environment variables:

ANDROID_HOME="/home/user/Android/Sdk"
NDK="/home/user/Android/Sdk/ndk/23.1.7779620"
TOOLCHAIN=$NDK/toolchains/llvm/prebuilt/linux-x86_64
CXX=$TOOLCHAIN/bin/$TARGET$API-clang++
LD=$TOOLCHAIN/bin/ld
STRIP=$TOOLCHAIN/bin/llvm-strip

[2022-03-22 17:13] #5347 closed

[2022-03-22 17:14] n00ner commented on #5347
@romainguy Thanks!

[2022-03-23 03:49] pixelflinger commented on #5331
let us know how it goes.

[2022-03-23 03:49] #5331 closed

[2022-03-23 05:21] #5344 closed

[2022-03-24 02:47] August1996 commented on #5290
Which version of the skin-related api will support jni? 😊

[2022-03-25 01:30] daemyung commented on #5290
@August1996 Check #5363 out.

[2022-03-26 21:09] n00ner opened #5370 "Can't link static Filament library to shared"
I'm trying to link static filament libraries *.a, but after building android app I got empty *.so file (size not change after linking)
No any errors or warnings not provided by cmake

My cmakelist config

add_library( # Sets the name of the library.
             nativelib

             # Sets the library as a shared library.
            SHARED

             # Provides a relative path to your sourc

[2022-03-26 21:29] romainguy commented on #5370
That's most likely because the Android build system strips away unused symbols and code. Make sure you use the APIs before you check the size.

[2022-03-26 21:53] n00ner commented on #5370
I called sample code from readme

But I got build errors with Vulkan (I using only OpenGL)

[code]

[2022-03-26 21:57] romainguy commented on #5370
You need to link against the blueVk library as well.

[2022-03-26 22:09] n00ner commented on #5370
Thanks, I added vk libs to link and all errors are disappear

But I can't get how to fix these errors

[code]

[2022-03-26 22:23] romainguy commented on #5370
Looks like you are linking against iOS libraries

[2022-03-26 22:25] n00ner commented on #5370
I took static libs from android-release folder and build in android studio, where I got stuck

[2022-03-26 22:27] n00ner commented on #5370
I copied all cmakelist config from module filament-android

[2022-03-26 22:47] n00ner commented on #5370
Why is original filament builds without these errors?

[2022-03-28 12:41] August1996 commented on #4771
May I ask which version of the features of ktx2 is planned to support?😊

[2022-03-28 20:41] prideout commented on #4771
We intend to fully support `KHR_texture_basisu` and use that as the driving force for our ktx2 support.  The only reason we would drop features would be to reduce binary size.

[2022-03-29 00:10] pixelflinger commented on #5370
Are you using NDK29?

[2022-03-29 01:34] August1996 commented on #4771
very good feature👍. have you started developing this feature?

[2022-03-29 01:58] starccode commented on #4771
Looking forward to the support of ktx2. Recently, we are also try to using ktx2 texture in our project through filament.

[2022-03-29 07:22] zhazhaxia commented on #4771
Looking forward to the support of ktx2. +1s

[2022-03-29 21:38] soruppuAswin commented on #3208
Not sure what's wrong. I am still seeing the black background even after adding the following lines mentioned above....

[code]

[2022-03-29 21:46] romainguy commented on #3208
You need to enabling clearing + set the view blend mode to translucent *and* change the Z order of your `SurfaceView` (using `setZOrderOnTop()`). The easiest way to do the latter is to use our [`UiHelper`](https://github.com/google/filament/blob/main/android/filament-android/src/main/java/com/google/android/filament/android/UiHelper.java).

[2022-03-30 18:37] fluffy-critter opened #5383 "hello-ar iOS crashes on startup"
**Describe the bug**

The hello-ar iOS sample crashes on startup.

**To Reproduce**

Steps to reproduce the behavior:
1. Build hello-ar
2. Attempt to run it on an iPhone 13 Pro

**Expected behavior**

I expected the sample to run.

**Logs**

[code]

**Smartphone (please complete the following information):**
 - Device: iPhone 13 Pro
 - OS: iOS 15.4 (19E241)
 - XCode 13.3 (13E113)

**Additional con

[2022-03-30 19:21] MarxMc commented on #623
@romainguy i'm trying to get the "Bounding Box around the 3D Object " with length width and height measurement value.
Is RendereableManager.Builder(1).boundingBox(Box(x,y,z, x/2,y/2,z/2) is the correct  way to achieve that?

[2022-03-30 22:54] bejado commented on #5383
I'm able to reproduce and will take a look.

[2022-03-31 19:24] n00ner commented on #5370
I use NDK r23b

[2022-03-31 20:06] n00ner commented on #5370
It's maybe is toolchain's issue https://reviews.llvm.org/D86596

I will try build with new version of NDK

[2022-04-01 06:19] pixelflinger opened #5388 "metal: assertion when scene has refraction and all effects are disabled"
**To reproduce:**
[code]

Then either run the automation tests or disable post-processing, MSAA and SSAO.
This will result in this assertion:

[code]

[2022-04-01 23:37] #5388 closed

[2022-04-04 10:09] Tomekkk opened #5395 "Android app crash at gltfio::ResourceLoader::Impl::cancelTextureDecoding()"
**Describe the bug**
I have seen an increase in the crash reported in the google play console from an Android app, all pointing to one place. It seems to be an issue for a quite large group of my app users.

**To Reproduce**
I didn't find reproduction steps.

**Expected behavior**
The app shouldn't crash, or in case of illegal operation/state exception, I expect to see some explanatory exception t

[2022-04-04 20:12] soruppuAswin commented on #3208
Thanks @romainguy for your inputs. By the way, I just changed the blendMode to OPAQUE and added white color to skybox builder, then it worked for me.

Now the problem is, the lighting is too low. I need to add another lighting source. None of the lighting source to the engine is helping me. Also, as per the documentation, "If several directional lights are added to the scene, the dominant one will

[2022-04-04 20:14] romainguy commented on #3208
You can use multiple point/spot lights, but only one directional light will be applied. If the image is too "dark" increase light intensities or change the camera exposure.

[2022-04-04 20:28] soruppuAswin commented on #3208
Got you. By default, one directional light is already applied. That means, we can't add another one right? Because the following is already part of ModelViewer

`
        val (r, g, b) = Colors.cct(6_500.0f)
        LightManager.Builder(LightManager.Type.DIRECTIONAL)
                .color(r, g, b)
                .intensity(100_000.0f)
                .direction(0.0f, -1.0f, 0.0f)

[2022-04-04 22:00] soruppuAswin commented on #3208
Adding a new light source is not helping even now.

Also, in order to query the light, can I do something like this... LightManager's builder implementation is not exposed to see how is it implemented!

[code]

[2022-04-04 22:11] romainguy commented on #3208
`ModelViewer` exposes the light entity. Just do `lm.getInstance(modelViewer.light)` to get its light manager instance to modify it.

[2022-04-04 22:22] soruppuAswin commented on #3208
Oy yes, I am now able to get the light instance, but unfortunately we will not be able to modify the properties. Those are final values.

[2022-04-04 22:29] romainguy commented on #3208
The values aren't final: `LightManager.setIntensity(lightInstance, newIntensity)`.

[2022-04-04 22:45] soruppuAswin commented on #3208
Got you. It is working now. I will add more light sources and play around for getting the required lighting now. Thank you very much for your help!

[2022-04-05 18:44] soruppuAswin commented on #3208
Hey, after modifying the properties of existing light source, I tried to add few more light sources in each axis something like this... there is no effect on the screen. Please let me know what's wrong with my approach.

[code]

[2022-04-05 18:50] romainguy commented on #3208
You need to give point lights a radius of influence.

[2022-04-05 19:19] soruppuAswin commented on #3208
Tried it. These are the only 2 options that I found in the builder- setSunAngularRadius and falloff.
Do you have a guide/example for this?

[2022-04-05 19:21] romainguy commented on #3208
You have to set the falloff:

[code]

[2022-04-05 19:57] romainguy commented on #3208
The default falloff, as explained in the doc I showed above, is already 1 meter. Make it larger, like 20.

[2022-04-05 20:04] soruppuAswin commented on #3208
I have used 25 as well. Not working.

[2022-04-06 00:04] cx20 commented on #4098
@prideout Thank you for supporting this extension. I have confirmed that this extension works with [gltf-test](https://github.com/cx20/gltf-test#extension-test-models).
https://github.com/cx20/gltf-test
![image](https://user-images.githubusercontent.com/1833979/161869977-5910bd71-ac10-4f2d-afe4-62f19fb84c0c.png)

[2022-04-06 00:04] #4098 closed

[2022-04-06 13:52] cx20 commented on #4098
https://github.com/google/filament/pull/5361

[2022-04-06 15:29] cx20 opened #5404 "Filament's online demo is no longer working"
**Describe the bug**
Filament's suzanne demo cannot be displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the suzanne demo page
https://google.github.io/filament/webgl/tutorial_suzanne.html

**Expected behavior**
Expected behavior is that Suzanne will be displayed.

**Logs**
reason: Material version mismatch. Expected 15 but received 20.

**Desktop (please complete the following

[2022-04-06 15:31] romainguy commented on #5404
Thanks, we probably forgot to regenerate it again. We need to automate this.

[2022-04-06 17:03] prideout commented on #5404
Partially fixed with #5405 but there are still issues, working on it.  We definitely need to overhaul the web site and make it automated.

[2022-04-06 18:33] prideout commented on #5404
Should be fixed now, although you might need to refresh your cache.

[2022-04-06 18:33] #5404 closed

[2022-04-12 18:52] #2422 closed

[2022-04-13 00:50] cpheinrich commented on #5118
Dropping in here to say that we see this crash also on the PowerVR GM9446 GPU. The overall breakdown of devices where we this looks like:

![Screen Shot 2022-04-12 at 5 46 13 PM](https://user-images.githubusercontent.com/12475454/163077217-6a44aff7-1743-4c57-b206-7150870faf3d.png)

I do not have one of these devices to be able to reproduce the crash, but will get one. For now we are going to exclu

[2022-04-13 02:14] Michael-Lfx opened #5424 "podspec for iOS/macOS filament source dev/debug"
**Is your feature request related to a problem? Please describe.**
enhancement

**Describe the solution you'd like**
Officially provide a new podspec to support develop and debug filament source code in a Xcode project as "Developing Pod" which can live edit and build in the host app project.

**Describe alternatives you've considered**
[A clear and concise description of any alternative solutions

[2022-04-13 02:22] romainguy commented on #5424
As explained in the link you provided:

Our build system is CMake and you can ask CMake to use its Xcode generator to build Filament from Xcode.

[2022-04-13 02:22] #5424 closed

[2022-04-13 03:59] #5320 closed

[2022-04-13 04:01] pixelflinger commented on #5298
Do we know if those failing cases have bloom enabled?

[2022-04-13 06:44] August1996 opened #5426 "crash on Android 8.1.0"
**Describe the bug**
some devices are works, but some not.

**crash info**
[bugreport files](https://github.com/August1996/filament-bugreport/blob/main/bugreport-PD1709-OPM1.171019.011-2022-04-13-14-21-14.zip)

crash detail info refer to file `tombstone_00`

**device info**
https://www.tme.net/device/vivo-x20a/

Android 8.1.0

[2022-04-13 09:15] August1996 commented on #5426
there are some logs, crash happens when i rendering complex glb model.
[code]

[2022-04-13 09:26] August1996 commented on #5426
i found that most of devices under api level 29 will carsh.

[2022-04-13 13:21] August1996 commented on #5426
i have try many versions, and found that the problem first appears on v1.18.0.

[2022-04-13 15:42] prideout commented on #5298
Bloom is not enabled in the Suzanne demo, which is one of the failing cases.

[2022-04-13 15:45] prideout commented on #5395
Thanks, I will try to repro with our sample.

[2022-04-14 05:20] EYHN opened #5432 "gltf-viewer with vulkan backend segmentation fault when opening a specific model"
**Describe the bug**
gltf-viewer with **vulkan backend** segmentation fault when opening a specific model.
I have tested with release build on macos and windows and both have segmentation fault.

**To Reproduce**
Steps to reproduce the behavior:
1. run command `gltf_viewer -a vulkan scaniverse-model.glb`

**Expected behavior**
It should render the model as same as using the opengl backend.

**Logs

[2022-04-15 11:43] August1996 opened #5438 "a strange phenomenon when rendering"
**Describe the bug**
i load 32 models and play animation, the framerate is very low. but after coming from background, it works well.

**you can refer to this video**
[video](https://raw.githubusercontent.com/August1996/filament-multi-model/main/video.mp4)

**source code**
[filament-multi-model](https://github.com/August1996/filament-multi-model)

[2022-04-15 11:50] August1996 commented on #5438
i found that this method cost much time to compete.
![image](https://user-images.githubusercontent.com/15972489/163567277-9929008e-033c-4212-a89c-affd4d8508a5.png)

and i print the name of node is "Structure Pass".

so there may be some problems in this code

![image](https://user-images.githubusercontent.com/15972489/163567396-83687318-3284-4997-b7e3-73533521efd4.png)

[2022-04-15 15:59] romainguy commented on #5438
Thoughts: could be a clocking issue, or a driver issue.

[2022-04-16 04:56] pixelflinger commented on #5438
What platform is this on?

[2022-04-16 05:16] August1996 commented on #5438
my phone is [android 10 xiaomi 9](https://www.gsmarena.com/xiaomi_mi_9-9507.php)

[2022-04-16 05:21] August1996 commented on #5438
may be you can run the project [filament-multi-model](https://github.com/August1996/filament-multi-model), you can increase or decrease the number of model until the framerate declines. and then you switch to background for seconds, after coming from background, the framerate will be normal.

[2022-04-18 10:35] dandingol03 commented on #1690
this link is invalid

[2022-04-18 10:53] dandingol03 commented on #1690
@kaelsass 请教下大佬最后选择了什么方案，multi view?

[2022-04-18 16:12] prideout commented on #1690
Updated link is [here](https://github.com/google/filament/blob/ab9d1e5956abd0031a1d177dbbf59a03acf4968b/libs/filamentapp/src/FilamentApp.cpp#L406L-L424), which demonstrates a simple multi-view scenario.  For custom blending between layers, you would need to use our RenderTarget API (see our `rendertarget.cpp` demo for that)

[2022-04-19 03:20] pixelflinger commented on #5438
@August1996 have you observed this behavior on the emulator?

[2022-04-19 03:24] August1996 commented on #5438
I haven't tried it on the emulator, I'm using a physical machine.

[2022-04-19 03:27] pixelflinger commented on #5426
As you can see in the tombstone, this is not a crash in filament. It's a crash in libhwui:

[code]

It is in fact an assertion:

`Abort message: 'glFinish error! GL_INVALID_VALUE (0x501)'`

I don't know what is causing this, but it's not related to filament.

[2022-04-19 03:32] August1996 commented on #5426
very strangely, this is an inevitable phenomenon on some devices.

[2022-04-19 03:33] romainguy commented on #5426
Not actionable on our end unfortunately 😕

[2022-04-19 03:34] pixelflinger commented on #5438
how did you determine that "Structure Pass" was taking a lot of time? What tool did you use?

[2022-04-19 03:37] August1996 commented on #5438
i add some code to calculate and then compile the sources.

[2022-04-19 08:14] Michael-Lfx opened #5449 "Use half in metal shader for texture read/write"
**Is your feature request related to a problem? Please describe.**
Xcode suggest that we should use `half` instead of `float` to reduce ALU cost in some cases such as customize post processing passes or unlit materials.
I have tried `precision` of `sampler2d ` but doesn't work. The translated MSL is still `texture2d<float>`.

**Describe the solution you'd like**
Maybe we should proper handle the `

[2022-04-20 03:30] pixelflinger commented on #5449
I believe spirvtools don't yet handle this properly.

[2022-04-20 03:31] romainguy commented on #5449
Indeed, we're waiting for spirv-cross to handle it correctly to support this.

[2022-04-20 11:18] StevenMOG opened #5451 "Restrict orbit angle for Manipulator"
**Is your feature request related to a problem? Please describe.**
I'd like to show a 3D model of a product and let the user orbit around it. As I also added a floor plane to the scene I'd like to prevent the user from orbiting through the floor.

**Describe the solution you'd like**
I'd like to be able to set some kind of minimum angle between the ground plane and the camera when creating the Man

[2022-04-20 16:12] pixelflinger commented on #5449
No, filament needs to support GLES3.0.

[2022-04-20 16:17] #5451 closed

[2022-04-20 18:41] bejado commented on #5449
I believe spirv-cross does now handle this. It's been on my todo list for awhile to try it out—I'll prioritize it.

[2022-04-21 19:54] pixelflinger opened #5459 "gltfio (and friends) to support multiple scenes"
gltf files can embed multiple scenes and we should handle that somehow.

gltf_viewer, ModelViewer etc, should also do something sensical when multiple scenes are present. Ideally, they would allow do display/hide individual scenes.

[2022-04-21 20:18] prideout commented on #5459
👍 One way of testing this is Intel Sponza and the merge feature in gltf-pipeline.

[2022-04-22 08:07] Michael-Lfx opened #5461 "use metal DynamicLibrary to reduce loading time"
**Is your feature request related to a problem? Please describe.**

https://developer.apple.com/videos/play/wwdc2020/10615/

**Describe the solution you'd like**
Cache compiled PSO to memory/files inside filament automatically.

**Describe alternatives you've considered**
None.

**OS and backend**
Apple only.

[2022-04-22 20:45] spelman7 commented on #2842
Just wanted to ping this issue, since it's very related to something I'm trying to do. This quote from above summarizes my issue almost exactly:

The defaults may have changed a bit since the original post above, because in my case gltfio is loading the .glb file with a default `LIT` material, and I'd prefer an `UNLIT` material. I would be happy to construct this material myself (as mentioned in t

[2022-04-23 16:22] dandingol03 commented on #3129
hi, recently i also need to migrate unity fur shader to filament. Have you solve this problem? Is there any possible you can share me with the code or demo? Thanks in advance.
大佬我最近也在迁unity的shader，也是苦于multi pass不支持，如果你实现了能给我看看比如demo级别的代码嘛～

[2022-04-24 10:11] romainguy commented on #5461
Filament never does IO on its own, for something like that to happen it would require adding an interface on `Engine` that the app could implement to trigger the load/save of PSOs. We thought about it a few times but it hasn't been a priority since Android caches compiled GL shaders on behalf of the apps.

[2022-04-24 19:25] n00ner opened #5463 "Black screen on real device and emulator"
Create a sample app with skybox, but I got black screen

Activity

https://gist.github.com/n00ner/57d52fa6b3cf0c5124f778b7aed7fef5

Cpp code

https://gist.github.com/n00ner/268944df9d7f1525bfdfe94ddd65c26a

https://gist.github.com/n00ner/978e9e6c6f94ec3544a78c36f40bcaf0

Logs:

[code]

![изображение](https://user-images.githubusercontent.com/10634460/164993164-790498d5-15f3-4aa1-b159-986735c2449e.

[2022-04-24 20:29] n00ner commented on #5463
render frame called normally by choreographer, render works without issues (beginFrame return true)

[2022-04-24 20:51] romainguy commented on #5463
I just looked at your code: you’re not setting any projection on your camera nor are you defining the viewport on the view. For instance: https://github.com/google/filament/blob/3f87b520bbc64818fbae5b8daade3f93d54aad60/android/samples/sample-textured-object/src/main/java/com/google/android/filament/textured/MainActivity.kt#L321

[2022-04-24 20:51] #5463 closed

[2022-04-24 21:49] n00ner commented on #5463
This works thanks a lot @romainguy !

[2022-04-25 17:12] BStringhamVRSK opened #5465 "Compiling for C++/CLI support requires c++17"
**Describe the bug**
**Note: I will be submitting a code pull request soon to fix this.**
We are using a C++/CLI wrapper for Filament in order to use it with managed C# code. Currently, C++/CLI only supports c++17.  A struct initializer (ALL_SHADER_STAGE_FLAGS in DriverEnums.h line 917) uses "designated initializers," a feature which requires c++20.  A simple modification will eliminate that depen

[2022-04-26 23:44] #5465 closed

[2022-04-27 09:16] Michael-Lfx opened #5475 "Driver APIs execution immediate"
**Is your feature request related to a problem? Please describe.**
Currently DriverApis function calls are encoded into Command and then execute in the other thread. It makes debugging difficult.

**Describe the solution you'd like**
It's good to provide a direct/immediate graphics api calling version for debugging purpose.

**Describe alternatives you've considered**
Turn on `DEBUG_MARKER()` but

[2022-04-27 20:29] romainguy commented on #5475
You can compile filament in single threaded mode for this.

[2022-04-27 20:29] #5475 closed

[2022-04-28 02:15] dandingol03 opened #5485 "demo hello-pbr cannot work well in iphone 8 plus device"
**Describe the bug**
the demo `hello-pbr` which use `[[UIScreen mainScreen] nativeBounds]` cannot get the device's width and height correctly, the filament view's size is not equal to the screen size.
**To Reproduce**
Steps to reproduce the behavior:
1. run demo `hello-pbr` on iphone 8 plus device

**Screenshots**
<img width="394" alt="image" src="https://user-images.githubusercontent.com/13013579

[2022-04-28 19:01] bejado commented on #5485
@dandingol03 Can you verify that #5488 fixes the issue?

[2022-05-01 11:11] dandingol03 commented on #1690
there is no `setClearTargets` function in `View` class

[2022-05-01 11:22] dandingol03 commented on #1690
HI @romainguy ,  is  the `bloom` sample you mentioned is `bloom` post-process?

[2022-05-02 03:03] appletastesgood opened #5498 "green flickering and laggy camera stream in android"
**Describe the bug**
- same as the following past issues:
  - https://github.com/SceneView/sceneform-android/pull/150
  - https://github.com/SceneView/sceneform-android/issues/148
- Recently, the deprecation of Stream API was conducted in filament, which causes the above past issues to occur again:
  - https://github.com/google/filament/pull/5397

**To Reproduce**
- use following sample to simulat

[2022-05-02 18:41] #5485 closed

[2022-05-03 04:34] pixelflinger commented on #5498
I think the problem is that you need to call `setCameraTextureNames` on ARCore with enough textures -- probably at least 4., the problem here is that there is only a single texture that is used at the same time for texturing and camera capture.

[2022-05-03 05:46] appletastesgood commented on #5498
![wow](https://user-images.githubusercontent.com/24629696/166409284-4172fee6-339e-4784-8a34-65a0ccc82bd9.gif)

works like a charm, thanks!

[2022-05-03 05:46] #5498 closed

[2022-05-03 12:22] ly114kuang opened #5506 "在构建方面不太适合新手，能否在构建上面在简单点吗"
能否在vs2022上面构建

[2022-05-03 17:21] #5506 closed

[2022-05-04 18:13] #5449 closed

[2022-05-04 18:25] sarikachhom commented on #4492
Hi, I having a bit issue on  my Voxelab Aquila C2 V.1.2.1 20210731 im trying to download firmwares and it's still not working? can someone please tell what am i missing anything? thank you

[2022-05-05 00:55] bejado commented on #5506
Filament should work fine with Visual Studio 2022.

Follow the prerequisites [here](https://github.com/google/filament/blob/main/BUILDING.md#windows), but make sure you have CMake version 3.21 or newer installed. To create the project, run

[code]

Then open TNT.sln inside Visual Studio 2022.

[2022-05-05 12:09] cobratracysaur commented on #4692
@GokulDas027 Hi, have you got this issue solved on your emulator? The black screen issue is occurring for me as well on emulator.

[2022-05-05 15:37] ThomasGorisse opened #5513 "Texture from an GLuint texture ID"
Hi,

I have an issue with the "new" way to render an external texture.
I was previously using the deprecated but working `Stream` way like this:
[code]
But when moving to:
[code]
I have a green flickering issue:
https://user-images.githubusercontent.com/6597529/166959628-aa29a6bd-be74-44b7-a75b-fbba20cc4758.mp4

Do you have any idea why the first call works perfectly but not the second one?

Thank

[2022-05-05 15:48] romainguy commented on #5513
See https://github.com/google/filament/issues/5498 for the solution

[2022-05-06 09:08] Mrwrichard opened #5520 "I want to get inverseBindMatrices to do dynamic bone animation."
**Is your feature request related to a problem? Please describe.**
I found that #5310 had already retrieved skin name and joints, but I need `inverseBindMatrices` to calculate `boneVector` for dynamic bone such as spring effect. Besides, for multi-instances rendering, I want to get skins at `FilamentInstance`.
![screen](https://user-images.githubusercontent.com/20150323/167102096-254c819f-a38e-404

[2022-05-06 18:20] prideout commented on #5520
This seems like a reasonable request.  I love your gif.

[2022-05-06 18:24] pixelflinger commented on #5432
@prideout it looks like `VulkanStagePool::acquireStage` returns an invalide `stage`. It looks like `vmaCreateBuffer` fails for some reason.

It looks like there is no allocation failure management here, e.g. a `stage` is returned even if there is a failure. There should at least be some assert I think.

My machine has tons of memory and this seems reproducible, so it's strange the allocation would

[2022-05-06 18:28] prideout commented on #5432
Interesting, thanks Mathias, I'll TAL.

[2022-05-06 21:39] pixelflinger commented on #5432
btw, this seems to fail when allocating a 8K x 8K texture -- maybe there is a limitation in the allocator for texture sizes?

[2022-05-07 06:36] Mrwrichard commented on #5520
Thank you, hah. I'll add these functions and submit a pr.

[2022-05-07 08:34] starccode opened #5527 "Crashed when load model after destory model"
![wecom-temp-45b2fd26107254a2917b3f8585bd405c](https://user-images.githubusercontent.com/17590947/167246208-f1756b6d-5d08-48ff-93b7-fb142cca3a28.png)

Load a glb model, and then destory the model, and load the glb model again. Crash happened when Load the glb model again.

[2022-05-07 08:37] starccode commented on #5527
The crash can be reproduced at the iOS demo "gltf-viewer"

[2022-05-07 10:05] hammerLWA opened #5528 "turn FILAMENT_DISABLE_MATOPT off cause SSR's rendering result error"
when i turn FILAMENT_DISABLE_MATOPT off in cmakelist, i got a error rendering with screen space reflection which is right when i  open FILAMENT_DISABLE_MATOPT.

**FILAMENT_DISABLE_MATOPT off:**
![1651917717834_CC62ABE8-E838-4d75-9A21-2B85E15F46D2](https://user-images.githubusercontent.com/13552551/167249606-225795b2-9967-47df-84a7-2b49404d5d53.png)

![1651917711364_04C11975-2878-47c8-B648-BCC096A8

[2022-05-08 09:25] wojciechczerniak opened #5529 "Docs: typo in Fragment block section"
**Describe the bug**
Fragment block section uses "vertex block" to describe the block

![Screenshot 2022-05-08 112001](https://user-images.githubusercontent.com/4718998/167289817-3c177078-861e-4d17-9a97-6e639c0f541a.png)

**Reproduction**
1. Open https://google.github.io/filament/Materials.html
2. Go to section 4.4 Fragment block

[2022-05-08 09:31] wojciechczerniak opened #5530 "Docs: In Javascript API reference some links are broken"
**Describe the bug**
Some of linked classes are not exported in the documentation. I tried to read more on AssetLoader methods, but others are not working either: IndirectLight, Skybox. Maybe more, I haven't check all of them.

![Screenshot 2022-05-08 112651](https://user-images.githubusercontent.com/4718998/167290140-772d3869-41ca-4106-8ca2-d482486c69e9.png)

**To Reproduce**
Steps to reproduce t

[2022-05-08 09:38] wojciechczerniak commented on #5529
Found more more in section 4.4.1
![Screenshot 2022-05-08 113626](https://user-images.githubusercontent.com/4718998/167290389-498abfa4-3007-4961-8e34-719c5e15ae79.png)

[2022-05-08 17:20] jiapei100 opened #5531 "Is it possible to build filament itself without using third_party ?"
**Is your feature request related to a problem? Please describe.**
There are tooooo many third_party libraries to be built from scratch but **ALREADY** installed from Ubuntu repo. What's the point to be duplicate??

[code]

**Describe the solution you'd like**
Either remove some of the third_party libraries, or let users to select if we would use _system libraries_ or _third_party libraries_.

**D

[2022-05-08 18:20] romainguy commented on #5531
We use third_party because we want to use specific versions of each library (which may not be a numbered version but just a specific git commit). We also sometimes make small changes to the libraries to address issues.

[2022-05-08 18:22] romainguy commented on #5531
I'm not sure what you mean about the spirv executables. We skip then because we don't need them but we need matc (our own executable) to link against spirv libraries

[2022-05-08 18:22] #5531 closed

[2022-05-08 23:57] jiapei100 commented on #5531
Hi @romainguy . Thank you for your prompt reply....
I attached my CMakeCache.txt at [https://pastebin.com/WAWDSEdQ](https://pastebin.com/WAWDSEdQ) .

And, I've got **NO** idea I continuously get the folloiwng **ERROR** message:

[code]

Any further suggestions???

Thank you ...

[2022-05-09 00:00] romainguy commented on #5531
Did you change anything? I see the following linker argument:

`../../third_party/spirv-tools/source/opt/libSPIRV-Tools-opt.so `

But we don't use shared libraries anywhere, only static libraries. That would explain why the symbols cannot be found.

[2022-05-09 00:03] jiapei100 commented on #5531
Oh, yes ,you are right. I personally prefer using shared libraries, and also trying to build out shared libraries for filament. That is why... I added `option(BUILD_SHARED_LIBS "Build using shared libraries" ON)` to CMakeLists.txt .
Should I leave it as static only?

BTW,I also `SPIRV_TOOLS_BUILD_STATIC         OFF`, should I turn it `ON` ??

[2022-05-09 00:06] romainguy commented on #5531
We don't support building filament as shared libraries currently. We'd like to add that at some point though but it hasn't been a priority.

[2022-05-09 01:27] romainguy commented on #5531
There is:

[code]

Looks like you are running the command in the wrong folder? We provide a `build.sh` to make all of this easier btw.

[2022-05-09 20:14] bejado commented on #5528
Which backend (OpenGL, Metal, Vulkan) / platform (macOS, Windows, etc) are you using?

[2022-05-10 01:29] hammerLWA commented on #5528
OpenGL with Nvidia GTX 2600, i found it is a similar case as  [issue](https://github.com/google/filament/issues/3027#issue-689161175. ),  scaleMatrix in light_reflections.fs cause a bad optimization by SPIR-V tool.

highp mat4 uvFromViewMatrix =
        scaleMatrix(res.x, res.y) *
        frameUniforms.ssrUvFromViewMatrix;

[2022-05-10 15:32] #5529 closed

[2022-05-10 22:48] prideout commented on #5530
Thanks, we will soon be removing these docs and instead use the TypeScript bindings as documentation, as described in the comments at https://github.com/google/filament/issues/3250.

[2022-05-11 07:10] hitsz-zuoqi opened #5538 "KTX buffer is too small"
when I load a skybox file by:

std::ifstream sky_ifs(sky_fp, std::ios::binary);
std::vector<uint8_t> skyContents((std::istreambuf_iterator<char>(sky_ifs)), {});
image::KtxBundle *skyKtx = new image::KtxBundle(skyContents.data(), skyContents.size());

it tells me:

in image::KtxBundle::KtxBundle(const uint8_t *, uint32_t):112
reason: KTX buffer is too small

I use release v1.20.0 now

[2022-05-11 07:12] #5538 closed

[2022-05-12 10:09] dandingol03 commented on #3075
Hi, @prideout  Is this feature support now?  I also encounter the same problem which @verma-akash mentioned.

[2022-05-12 14:24] Berna78 opened #5543 "Engine destroyed swiping page ViewPager Android"
**Describe the bug**
After swipe from two fragment (viewpager) application crash

**To Reproduce**
The crash occurs if in pagerview I have a fragment that contains a modelView and this is put twice in onpause.

**Logs**
When switching from onPause to OnResume for the first time I get the following error, but app doesn't crash:
E/SurfaceView: Exception configuring surface
    java.lang.IllegalState

[2022-05-12 15:39] romainguy commented on #5543
Which version of filament are you using and more importantly how are you using Filament?

[2022-05-12 16:38] romainguy commented on #5543
Yes but how? How is Filament used and setup in your code?

[2022-05-12 16:48] Berna78 commented on #5543
I setup Filament using like reference android sample gltf-viewer.

[2022-05-12 17:38] romainguy commented on #5543
So you are using ModelViewer?

[2022-05-12 18:03] Berna78 commented on #5543
Yes I use ModelViewer. I forgot to say that I use Java.

[2022-05-13 04:31] pixelflinger opened #5551 "unaligned data access in DebugServer"
`DebugServer::addMaterial()` as an unaligned data access:

The code below is incorrect:

[code]

The problem is that `data` is not guaranteed to be 4-bytes aligned (and it is not), so `murmur3` ends up doing unaligned data access.

This can be seen enabling ASAN in the build.

[2022-05-13 08:48] danielljc opened #5553 "Problem with Resource Loader"
**Bug Description**
Bug occurs when loading resources of glTF files.
More narrowly, the PNGs/JPGs linked by glTF files cannot parse to texture by current file system code.

**To Reproduce**
Steps to reproduce the behavior:
1. Load asset of `glTF` in `gltf_viewer.cpp`.
2. Error occurs when loading resources linked by glTF file.

**Temporary Solution**
Convert `glTF` to `glb` with `gltf-import-expor

[2022-05-13 15:57] prideout commented on #5553
Thanks!  Strange that I cannot repro but yes we should definitely add `ios::binary`, will fix.

[2022-05-13 15:58] romainguy commented on #5553
@prideout I've had that issue in the past in another code path and it was also on Windows. Windows seems to care deeply about `binary` being set, whereas Linux/macOS not so much.

[2022-05-13 15:59] romainguy commented on #5543
@Berna78 The solution for now is to use the constructor of `ModelViewer` that lets you pass your own `Engine` so you can control the lifetime.

[2022-05-13 16:04] #5553 closed

[2022-05-13 16:43] Berna78 commented on #5543
I already use the costrutor with Engine parameter.   I tried both to store the instance and to create a new one every time you enter onresume. I also notice that if I don't recreate the ModelViewer every time you go back to the page, the surfaceview doesn't show the model. a new surfaceView linked to a new ModelViewer onResume and removing it each time OnPause.

[2022-05-13 16:47] Berna78 commented on #5543
I'm sorry I missed a piece of the message..
If it can help, I have taken care of it I create a new surfaceView linked to a new ModelViewer onResume and removing it each time OnPause.

[2022-05-13 16:48] romainguy commented on #5543
Could you please show your code, it would be easier.

[2022-05-13 16:58] Berna78 commented on #5543
[https://we.tl/t-yw5P8qJYVe](url) this is my fragment.

[2022-05-13 17:07] romainguy commented on #5543
@prideout We still destroy the `Engine` when `ModelViewer` is detached, even if the `Engine` was created by the caller, is that normal? I thought we fixed this recently? Recycling containers like `ViewPager` or `RecyclerView` will detach/attach views multiple times as you scroll through the list.

[2022-05-13 19:25] prideout commented on #5551
I have a local fix that adds a byte-based hash to utils.

However I also see an unrelated issue: when editing a shader, a heap buffer overflow seems to occur.

[2022-05-13 22:19] prideout commented on #4771
This was fixed a few weeks ago, forgot to close the ticket.

[2022-05-13 22:19] #4771 closed

[2022-05-16 02:32] starccode commented on #5527
it seems crashed also at OPENGL backend

[2022-05-16 06:51] dandingol03 commented on #4097
HI, @ast3rX . I reproduce some metal errors as below:

2022-05-16 14:28:42.008573+0800 DuTProduct3DSpaceModule[502:52073] Execution of the command buffer was aborted due to an error during execution. Caused GPU Address Fault Error (IOAF code 11)

**How to reproduce**
 I use `VertexBuffer` and `IndexBuffer` to draw two quad, and each quad is made up of six vertex. These two quad is rendered with so

[2022-05-16 07:56] August1996 commented on #5118
Is there a way to predict errors in advance? so we can disable the functionality to prevent crashes.
@pixelflinger

[2022-05-16 08:44] 0k1019 commented on #4771
Thank you for support KTX2

But I found that it is not working in filament 1.22.0

Not working in `gltf_viewer`
<img width="910" alt="image" src="https://user-images.githubusercontent.com/11485593/168553623-d012a4a6-a49c-49de-adbd-a60dc8f3188a.png">
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/11485593/168553658-35847fdb-4f8b-427e-a370-f030536d9596.png">

Not workin

[2022-05-16 09:07] dandingol03 opened #5562 "【Metal】Execution of the command buffer was aborted due to an error during execution"
**Describe the bug**
I draw a quad with 6 vertex on metal backend, and the command buffer seems aborted if i don't add `engine::flushAndWait` after i add this quad into `scene`. if it is necessary, i can upload my code.

**To Reproduce**
Steps to reproduce the behavior:
1. filament version `1.12.5`
2. draw quad with vertex

**Expected behavior**
render quad without error

**Screenshots**
<img widt

[2022-05-16 12:56] dandingol03 commented on #5562
Looks like this problem is relevant to the way the vertices are declared.Close first

[2022-05-16 12:56] #5562 closed

[2022-05-16 13:17] August1996 commented on #5426
There are many devices crash on **Android 8.x**. And i found that their GPU are **Adreno 5.x**. May be it is a **gpu specific** problem.
I upload some bugreports which may help you.
@romainguy @pixelflinger

[bugreport-PD1709-OPM1.171019.011-2022-05-16-20-38-55.zip](https://github.com/August1996/filament-bugreport/blob/main/bugreport-PD1709-OPM1.171019.011-2022-05-16-20-38-55.zip)
[bugreport-LDN-A

[2022-05-16 16:16] prideout commented on #4771
Correct, it is supported on main only.  The final commit for this feature landed on May 2 with https://github.com/google/filament/commit/f035655f5b2a2d288d5df73709642dd219450e23, so it should arrive with v1.22.1

[2022-05-16 19:17] pixelflinger commented on #5043
no updates in a long time. closing.

[2022-05-16 19:17] #5043 closed

[2022-05-16 19:21] pixelflinger commented on #4381
I'm still seeing this issue on my make w/ molten vk (do I need to upgrade molten vk manually?)

[2022-05-17 06:54] August1996 commented on #5426
Both of them will crash, [this](https://github.com/August1996/filament-bugreport/blob/main/bugreport-ARE-AL00-HONORARE-AL00-2022-05-17-14-41-58.zip) is the crash info for sample-gltf-viewer which i replace the model.

the official model in the apk is fine, so i guess that it may be related to some render features.

[2022-05-17 07:01] August1996 commented on #5426
[bugreport-ARE-AL00-HONORARE-AL00-2022-05-17-14-41-58.zip](https://github.com/August1996/filament-bugreport/blob/main/bugreport-ARE-AL00-HONORARE-AL00-2022-05-17-14-41-58.zip)

@pixelflinger  `tombstone_04` and `tombstone_05` are related to sample-gltf-viewer.

[2022-05-17 16:14] shd8698766 commented on #1912
What's strange wglCreateContextAttribs is a exclusive Windows function (starts with wgl) but you can't find this function in the Microsoft docs.

[2022-05-18 05:51] 0k1019 commented on #4771
Thank you for supporting this feature.
It works in filament viewer.
<img width="1136" alt="스크린샷 2022-05-18 오후 2 49 05" src="https://user-images.githubusercontent.com/11485593/168966478-c4c33caf-1194-49d7-887c-59cd261ab6b8.png">
[Web viewer](https://google.github.io/filament/viewer/) is not working because it is v1.22.0 filament.js. I think it working soon.

[2022-05-18 18:56] bejado commented on #5527
@starccode I'll take a look this week.

[2022-05-19 07:30] dandingol03 commented on #3075
@verma-akash  Recently i need to implement bone-binding function at gltf model, and i come here for some help or insight~

**Here is my scene:**
- There are two gltf model , one is a shoe which will be bind to the role gltf
- These two gltf share the same skeleton and joints
- the shoe gltf which has its own inverseBindMatrices and joint weight

 **Here is my implementation step:**
- i replace the

[2022-05-19 13:29] ThomasGorisse opened #5577 "Wavering render since Stream deprecation"
Hi,

We have some rendering issues since moving from `Stream` to `Texture.import()`.
1.20.0 was rendering quite great with the new system even if we still got some green screen on some frames.
But the 1.22.1 seems to introduce some wave effects on our Camera stream coming from ARCore.
| 1.20.0 | 1.22.1 |
| - | - |
| https://user-images.githubusercontent.com/6597529/169303162-66bf6b29-4d4f-44cc-85a

[2022-05-20 09:29] dandingol03 commented on #3075
nobody answer this quetion????

[2022-05-20 13:17] dandingol03 commented on #5485
ok

[2022-05-20 18:41] #5527 closed

[2022-05-20 19:17] pixelflinger commented on #5577
It's pretty obvious from the artifacts that you're not selecting the right texture. It looks like the texture that is being sampled from is also one that is being written to by camera.
We (some teams at google) are using importTexture internally with ARCore with success.

[2022-05-20 22:42] ThomasGorisse commented on #5577
Thanks for your answer.

@grassydragon Does that make sense for you?

@pixelflinger Are you thinking of one day making public the internal work you made around ARCore and Filament because the Android community would really need it.

And as much as we can work on a framework trying to make AR accessible, since it's not a full time job for any of us, it's quite hard to follow every ARCore and Filame

[2022-05-20 22:53] romainguy commented on #5577
Everything that Filament does is available publicly.

[2022-05-21 06:00] grassydragon commented on #5577
Yes, it can be, however, I thought we would see a place where the texture is torn in too parts. Anyway, I need to get familiar with the new way of working with textures.

[2022-05-21 15:21] daemyung opened #5584 "Calculating the normal of morph targets looks wrong"
**Describe the bug**

Rendering with morphing looks very strange because of wrong normals. I suspect that calculating morph target's normal in `TangentJob` is incorrect.

**To Reproduce**

Steps to reproduce the behavior:
1. Download and unzip [normal_test_B.glb.zip](https://github.com/google/filament/files/8747831/normal_test_B.glb.zip)
2. Run gltf_viewer
3. Load normal_test_B.glb
4. Go to Hierar

[2022-05-23 13:31] TimAlber commented on #1836
Hello [chandusam2002](https://github.com/chandusam2002),
Can you explain how you disabled the dynamic resolution option?
I don't understand how to do that.
Thanks!

[2022-05-23 16:02] chandusam2002 commented on #1836
@TimAlber You can disable it via the following code

[code]

[2022-05-23 16:32] pixelflinger commented on #5577
I'm going to close this for now -- reopen if you don't find the cuprit.

[2022-05-23 16:32] #5577 closed

[2022-05-23 16:51] prideout commented on #5584
This is an excellent bug report.  :)  Is this related to PR #5583?  If so, the PR description should probably be improved.  Thank you for all your help.

[2022-05-23 17:01] prideout commented on #5584
@daemyung Also, are you already looking into this issue on your end, since you implemented the texture-based morphing stuff?  Just wondering before we take a look.

[2022-05-23 21:11] daemyung commented on #5584
@prideout PR #5583 is related with this issue but can't solve this issue. Originally calculating morphing normal never been happend and PR #5583 fixes this problem which is don't calculting morphing normal.

I'm digging more about this issue on my side... and uploading and reading of morph target's tangents looks fine. So my last suspection is that `TangentsJob` calculates morph target's tangents

[2022-05-24 03:53] daemyung commented on #5584
@prideout I'm pretty sure that calculating morph target's normal is incorrect. What I have tested is reading morph target's normal from glTF and uploading it to MorphTargetBuffer and read normal in shader without `toTangentFrame`. With these changes, everything looks good. Please look at below a video.

https://user-images.githubusercontent.com/7459074/169945192-e7469cf3-c079-47e7-99a7-8402056ede4

[2022-05-24 13:22] cingelmarekmt opened #5591 "Unable to build andoid project"
Unable to build filament, inside Android Studio.

Steps to reproduce the behavior:
1. Open Android project: ${FILAMENT_DIR}/andoid
2. Set sample.sample-gltf-viewer
3. Make project
4. Cannot find source file: ${FILAMENT_DIR}/out/android-release/filament/include/gltfio/resources/gltfresources_lite.h

**Logs**
CMake Error at ${FILAMENT_DIR}/filament/android/gltfio-android/CMakeLists.txt:104 (add_libr

[2022-05-24 16:21] romainguy commented on #5591
Please refer to BUILD.md, it explains what you need to build first. Alternatively you can change the build.gradle files to depend on the artifacts published on maven instead of the local ones.

[2022-05-24 16:21] #5591 closed

[2022-05-24 18:04] romainguy commented on #1378
@prideout Is there still more work to do here?

[2022-05-24 18:11] prideout commented on #1378
@romainguy this work is complete, this issue is basically a dup #4771, I forgot to close these issues.

[2022-05-24 18:11] #1378 closed

[2022-05-24 18:55] romainguy commented on #5543
Duplicate of issue #4724

[2022-05-24 22:03] #5584 closed

[2022-05-24 22:15] daemyung commented on #5584
@prideout BTW could you explain what's tangent frame exactly?

[2022-05-24 22:28] prideout commented on #5584
The tangent frame encodes not only the normal but also the binormal, thus it encodes the total surface orientation using only 4 values.  If we stored normals separately, then we'd need at 6 values (3 for normals, 3 for tangents).  Filament needs to know surface orientation in order to correctly handle anisotropic lighting and bump mapping.

[2022-05-25 20:01] #4492 closed

[2022-05-25 23:03] #3075 closed

[2022-05-28 08:46] caorm commented on #4229
Hi, i met the same problem. I invoke the readPixels in jni. How do you get the pixel buffer? What is your current solution? @RockVampire @romainguy

 // Render the scene, unless the renderer wants to skip the frame.
        if (renderer.beginFrame(swapChain!!, frameTimeNanos)) {
            renderer.render(view)
            if(isScreenShot) {
                takeScreenShot();
                isScr

[2022-05-28 08:55] caorm commented on #4229
Hi, i met the same problem. I invoke the readPixels in jni. How do you get the pixel buffer? What is your current solution?
@dandingol03

I want to screenshot a image， but  PixelBufferDescriptor storage Attributes  get is zero？
Do you know where is the problem with the code below?

// Render the scene, unless the renderer wants to skip the frame.
if (renderer.beginFrame(swapChain!!, frameTimeNanos

[2022-05-28 09:05] caorm opened #5606 "not"

[2022-05-28 09:51] caorm commented on #5606
fun render(frameTimeNanos: Long) {
        if (!uiHelper.isReadyToRender) {
            return
        }

        // Allow the resource loader to finalize textures that have become ready.
        resourceLoader.asyncUpdateLoad()

        // Add renderable entities to the scene as they become ready.
        asset?.let { populateScene(it) }

        // Extract the camera basis from the helper and pu

[2022-05-28 11:27] xq114 commented on #2875
@romainguy Could you please publish a binary version with `-fno-builtin` enabled on the release page? Currently the linux binary on the release page is completely unusable since due to this issue everyone would compile filament from source.

[2022-05-28 15:36] kpeeters opened #5607 "setScissors influences shadows"
When I do a `setScissors` on all my material instances, the rendering is restricted to the rectangle set there, as expected. However, shadows are truncated in a region which is *smaller* than the rectangle fed to `setScissors`, so that parts of my scene no longer receive shadows. It looks like the scissor test is applied to some aspects of the shadow computations, instead of just preventing pixels

[2022-05-30 12:35] #5606 closed

[2022-05-30 13:46] caorm commented on #5606
![image](https://user-images.githubusercontent.com/5361593/170993611-9951b603-edbb-4c9e-9ea4-6484fa8b3731.png)

We are currently working on a project with filament to check for memory-related issues. We found that the repeated multiplication of new by sizeof(FEngine) will lead to an increase in memory. You can confirm whether it needs to be modified.

[2022-05-30 13:52] caorm opened #5608 "the repeated multiplication of new by sizeof(FEngine) will lead to an increase in memory"
![image](https://user-images.githubusercontent.com/5361593/171006867-f3c14344-df41-4821-8458-d027b614b535.png)

We are currently working on a project with filament to check for memory-related issues. We found that the repeated multiplication of new by sizeof(FEngine) will lead to an increase in memory. You can confirm whether it needs to be modified.

[2022-05-31 16:57] ennis opened #5611 "Missing attribute values in wglCreateContextAttribs parameter"
There is no value for the `WGL_CONTEXT_FLAGS_ARB` and `WGL_CONTEXT_PROFILE_MASK_ARB` attributes in the list passed to `wglCreateContextAttribs`:
https://github.com/google/filament/blob/cc51d478f815870ac1953a0790e33f92c0e512b9/filament/backend/src/opengl/platforms/PlatformWGL.cpp#L103-L108

According to https://www.khronos.org/registry/OpenGL/extensions/ARB/WGL_ARB_create_context.txt , `attribList`

[2022-05-31 17:57] pixelflinger commented on #5608
Thanks, this is a very good catch!

[2022-05-31 18:18] bejado commented on #5611
@pixelflinger I think we can simply remove line 106. What do you think?

[2022-05-31 20:33] prideout commented on #5459
This was fixed with https://github.com/google/filament/pull/5524

[2022-05-31 20:33] #5459 closed

[2022-05-31 21:40] prideout opened #5614 "IridescentDishWithOlives provokes MSL compiler error"
This does not occur with GL or VK or debug configuration.   Only occurs with ubershader mode in a release configuration.

To repro:

[code]

Error message:

[code]

[2022-05-31 21:50] #5608 closed

[2022-05-31 22:24] bejado commented on #5614
Ugh, this is probably a problem with SPIRV Cross. I'll try updating to the latest version this week. If that doesn't fix it, I may have to file a bug report with them.

[2022-05-31 22:28] prideout commented on #5614
Thanks Ben!  Looks like it also occurs with `StainedGlassLamp`.

[2022-06-01 05:14] jfaust opened #5617 "GLX + GLFW: BadMatch with combination of shared context & native window handle"
**Describe the bug**
When passing a GL context to share into Filament *and* a native window handle to `createSwapChain()`, I get a `BadMatch` error thrown by the X server in the call to `glXMakeContextCurrent()` in `PlatformGLX::makeCurrent()`.

Interestingly, disabling the GLXFBConfig search introduced in https://github.com/google/filament/pull/1456 fixed my problem.

After writing some code to d

[2022-06-01 05:19] romainguy commented on #5617
Right this is unfortunately a GL annoyance: shared contexts must have a compatible configuration, which often means matching the configurations. We should probably at least document our config to make it easier to match.

[2022-06-01 05:48] jfaust commented on #5617
The weird part (unless I’m misunderstanding something), is that disabling the search implemented in https://github.com/google/filament/pull/1456 yields a config that doesn’t match, but works. Whereas keeping the search ensures the configs match but doesn’t work. I must be missing something.

[2022-06-01 05:58] romainguy commented on #5617
We'd have to look at the exact differences but GL has a narrow definition of a match. Not all attributes need to match.

[2022-06-01 12:42] caorm opened #5618 "My android demo has been achieved with Filament, but we have encountered a memory problem. Can you give some suggestions or ideas?"
（1）The filament android gltf demo effect, I changed it to a 3d model ：

Instructions：The model uses 1024*1024, and the hub uses 512*512. Others use 256*256。

（2）I use filament to implement this demo, but I found that the memory growth is relatively large：
（a）Android: google pixel 2xl：Increase 259M
                         Huawei mobile phone P30：Increase 148M

（b） IOS:iPhone 6s：Increase 80M

[2022-06-01 14:48] #5027 closed

[2022-06-01 19:30] allstar-app[bot] opened #5620 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-06-01 23:31] romainguy commented on #5184
This was fixed in https://github.com/google/filament/pull/5613

[2022-06-01 23:33] romainguy commented on #4961
This might be fixed after recent changes that went in the Metal backend.

[2022-06-02 11:56] guilhembn opened #5627 "View pick method javascript bindings"
I would like to be able to retrieve the entity clicked on the render.

I saw that a "pick" member function is available on the "View" class in C++, and that bindings have been generated for Java/Android. However, the bindings have not been generated for javascript/typescript.

I tried to implement a color picking method myself, but after setting an off-screen render target, I can't seem to be able

[2022-06-02 22:36] #5618 closed, assigned to nobody

[2022-06-02 22:41] pixelflinger commented on #5607
yes this is the issue, the scissor is applied from the material instance when we're rendering the shadowmap. There is currently no trivial way to fix this, since this happens in the main rendering loop.

[2022-06-02 22:44] pixelflinger commented on #5607
@kpeeters could you provide a sample showing the issue?

[2022-06-03 09:34] cgraider opened #5634 "Trying to replicate Helmet Webgl."
I cannot reproduce the Helmet example .
which i get this error :
Uncaught (in promise) TypeError: engine.createIblFromKtx1 is not a function
    at new App (helmet.html:46:49)
    at helmet.html:36:18
    at taskFinished (filament.js:78:17)
    at filament.js:102:9

**To Reproduce**
After cloning whole filament projects. i ran virtual server to view Helmet sample. helmet sample didnt have filament

[2022-06-03 15:33] #5607 closed

[2022-06-03 15:58] romainguy commented on #5634
@prideout Is this a tutorial or something we need to update with the new APIs?

[2022-06-03 17:13] dandingol03 opened #5635 "【gltfio】can't bind the shoe entity to the right skin.Need Helps!!!"
Hi.
&ensp;I use the interface `attachSkin` in `FilamentAsset` to bind shoe renderable to the mapped bone in character `gltf`. However i still met some problems, and i need some help on how to use this `attachSkin` interface.
&ensp;I have two gltf resources, one is the [character](https://drive.google.com/file/d/1TOkgs-kfGXi4uInRrwVeF2bYQg-Ab1YY/view?usp=sharing) and one is the [shoe](https://drive

[2022-06-03 17:27] romainguy commented on #5635
You shouldn't use two `ModelViewer`, for your particular use case you should directly use the `AssetLoader` API. At the very least make sure you share the same `Engine` instance across the two `ModelViewer` instances

[2022-06-03 19:00] pixelflinger commented on #5635
moving this to a discussion...

[2022-06-03 21:54] #5611 closed

[2022-06-03 23:22] #5614 closed

[2022-06-05 13:34] unicomp21 opened #5645 "warnings, should I fix them?"
-- Build files have been written to: /tmp/filament/out/cmake-webgl-release
[322/582] Building CXX object filament/CMakeFiles/filament.dir/src/details/Scene.cpp.o
/tmp/filament/filament/src/details/Scene.cpp:109:13: warning: use of bitwise '&' with boolean operands [-Wbitwise-instead-of-logical]
        if (!ri & !li) {
            ^~~~~~~~~
                &&
/tmp/filament/filament/src/details/Sce

[2022-06-05 15:40] romainguy commented on #5645
The first one is as intended and the other ones are in external libraries and should be fixed upstream or left alone.

[2022-06-05 15:41] #5645 closed

[2022-06-06 02:51] caorm opened #5646 "How can I use gltf multiple animations in combination？ and now I find that it is overwritten by the last animation。"
now I find that it is overwritten by the last animation，for example:

size_t animationCount = animator->getAnimationCount();
for (size_t i = 0; i < animationCount; ++i) {
    animator->applyAnimation(i, static_cast<float>(elapsedTime));
}

There may be multiple animations in a gltf model. Can filament support multiple animation combinations at present?
Or is there any other way to do it? thank you

[2022-06-06 14:30] jinfagang opened #5649 "how to visualize skeleton animation from mixamo fbx?"
how to visualize skeleton animation from mixamo fbx?

[2022-06-06 15:37] prideout commented on #5634
It looks to me like the helmet example _is_ up to date, however the filamentjs + wasm that you're using is old, not sure where you got them from.

[2022-06-06 15:37] #5634 closed

[2022-06-06 15:48] #5649 closed

[2022-06-06 16:23] prideout opened #5651 "gltfio: support morphing for models with sparse accessors"
Our recent [fix](https://github.com/google/filament/pull/5630) for non-packed morph data would be insufficient for models that have sparse accessors.  This is important but not urgent since neither the Blender exporter nor gltf-transform support sparse encoding:

https://github.com/donmccurdy/glTF-Transform/issues/351

Moreover, the glTF samples repo does not have sparsely morphed models that we c

[2022-06-06 18:38] prideout commented on #2842
After #5628, you can customize the ubershaders in any way you wish, assuming you build Filament yourself.  And, later this week, we'll land another change that externalizes the pre-supplied ubershader archive.  So, even if you use a pre-built Filament, you'll still be able to provide your own ubershaders.

[2022-06-06 19:28] bejado commented on #5649
@jinfagang FYI you can import a mixamo fbx into Blender, then output a glTF file which should be compatible with our gltfio loader library.

[2022-06-07 02:15] jinfagang commented on #5649
@bejado Hi, thanks for the info.

I saw that filament using assimp as model file reader, why not add fbx directly support?

[2022-06-07 16:31] sdpopov-keyvariable opened #5655 "Bloom effect in translucent views"
In translucent views bloom effect is presented only over the rendered pixels. E.g. scene contains only one blight small sphere and the sphere is rendered in upper half of the viewport. No other renderables, no skybox, view is translucent. It's expected shine near the sphere and lens flares in lower half of the viewport.

If viewport is opaque then bloom effect works as expected.

I'm sure that blo

[2022-06-07 21:08] bejado commented on #5614
FYI I created an issue for SPIRV-Tools:
https://github.com/KhronosGroup/SPIRV-Tools/issues/4814

[2022-06-08 06:33] Michael-Lfx opened #5659 "stencil separate support"
**Is your feature request related to a problem? Please describe.**
[code]
https://github.com/astiopin/sdf_atlas/blob/2158930242546df5827df75418ef5d046c10b97d/src/sdf_gl.cpp#L112

As shown above sdf rendering requires stencil buffer op. Currently filament only support stencil in OpenGL backend. And users can't  configure front or back buffer separately.

**Describe the solution you'd like**
It will

[2022-06-08 16:30] romainguy commented on #5659
Signed distance fields do not need stencil operations to work, it can be done entirely in the fragment shader.

[2022-06-08 16:30] romainguy commented on #5543
Closing because it's a duplicate

[2022-06-08 16:30] #5543 closed

[2022-06-08 19:26] bejado commented on #5659
We do have plans to implement stencil support for all backends and exposed via material properties.

[2022-06-09 02:24] Michael-Lfx commented on #5659
Thank you!  I manage to add some front back stencil ops in `struct RasterState` and Metal/GL backend.  It renders the same after replace sdf_gl.cpp mentioned above with a new introduced stencil field in material/.mat file. It will be nice to have an official support version to deprecate our weird impl. Here is a CL from our impl and there are some questions about fields memory bit align and alloca

[2022-06-09 03:05] romainguy commented on #5659
But again you don't need any of this for SDF.

[2022-06-09 22:17] rbsheth commented on #5651
If it is helpful, you could pull a test avatar from our API and it will have sparse morph targets: https://bitmoji.api.snapchat.com/bitmoji-for-games/test_avatar?lod=0

[2022-06-09 23:31] prideout commented on #5651
Thanks that model indeed provokes the functionality, thank you!  Yay Snap.  :)

[2022-06-09 23:47] #5651 closed

[2022-06-10 06:41] caorm opened #5667 "What is the minimum android version that filament supports？"
I also have the same crash：

https://github.com/google/filament/issues/5426

the official model in the apk is fine，the crash info for sample-gltf-viewer which i replace my model.

thank you！

[2022-06-10 08:00] BenJ778 opened #5668 "Filament for Windows QT renderer issues"
Hello I hired a programmer to implement Filament into our QT windows application. It's been Two weeks and he hasn't even been able to get a sphere to render in the viewport.

Do I have a horrible programmer or is filament really this difficult to use.

I am willing to hire someone here to help us fully implement Filament into our QT render engine.

We decided to go with Filament because we assumed

[2022-06-10 09:10] dandingol03 opened #5670 "【gltf】crashed when loading model compressed by gltfpack"
**Describe the bug**
i use the command `gltfpack -i  animation_0610.glb -o animation_modify.glb` to compress gltf without '-cc' flag. After that i run the `gltf-viewer` demo, and it crashed. This gltf has morphy animation and nla.

**To Reproduce**
Steps to reproduce the behavior:
1. run `gltf-viewer` to load compressed gltf

**Expected behavior**
render gltf as usual.

**Screenshots**
![image](ht

[2022-06-10 16:16] romainguy commented on #5667
Filament supports Android 21+.

[2022-06-10 16:16] #5667 closed

[2022-06-10 16:17] pixelflinger commented on #5667
duplicate of #5426

[2022-06-10 16:23] prideout commented on #5670
Thanks for the bug report, from your screenshot this looks like an assert triggered by heterogeneously typed morph targets in the asset, which is very unexpected (e.g. position0 is float while position1 is short).  However I think is actually permitted by the spec.

I can run gltfpack on a random model with morphing but if you are able to attach your asset to the bug report, please do so.

[2022-06-10 16:34] pixelflinger commented on #5426
thanks, that's very useful.

[2022-06-10 16:36] icarolelis1 commented on #1818
How do I render to two targets from one material definition?

[2022-06-10 16:39] pixelflinger commented on #5426
@August1996 how frequent is this crash on devices where it happens? Is it immediate, do you have to start/stop the app, or just wait?

[2022-06-10 16:55] August1996 commented on #5426
It crashs immediate with some models, i have test some devices.

|  Version   | Result  | GPU |
|  ----  | ----  | ----  |
| 8.1.0  | fine | Mali-G51 |
| 8.1.0  | fine | Mali-G51 |
| 8.1.0 | crash | Adreno509 |
| 8.0.0 | fine | Mali-T830 MP2 |
| 8.0.0 | crash | Adreno 430 |
| 8.0.0 | crash | Adreno 505 |
| 8.1.0 | crash | Adreno 512 |

so, i guess that  some features of shaders may result in this

[2022-06-10 17:10] pixelflinger commented on #5426
I know it's a lot to ask, but would you be able to conduct a `git bisect` between v1.17.0 and v1.18.0?

I cannot reproduce the problem here because I don't have access to a device that shows the problem.

It's possible that one of our change triggers a memory corruption-type bug in older Adreno drivers. In any case, if we can narrow it down, we might be able to at least have a workaround.

[2022-06-10 20:46] #5627 closed

[2022-06-11 08:43] August1996 commented on #5426
@pixelflinger  I executed `git bisect start cdadb43e501dd9f6af7f6862afe70f58f713519d b19a73cc50fc69e109b178a8bb31cf873c6aafec` and mark bad or good commit. so this crash my be from this commit.
[code]

[2022-06-11 16:50] pixelflinger commented on #5426
Fantastic, thank you.

[2022-06-12 06:10] grassydragon commented on #5577
We are now trying to solve this issue:

It turns out that this is an issue with synchronization of the 3D scene state and camera frames.

Synchronization in the Filament `Stream` with an external texture was handled automatically by making a texture copy that corresponds to the frame being rendered: https://github.com/google/filament/blob/dab02e915e9ec0bc8dfe4436debcdd6e420c9f75/android/filament-a

[2022-06-12 11:47] fuchao opened #5682 "How to control the display and hide of FilamentInstance, or to control rendering or not rendering"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
   I need to render a lot of FilamentInstance dynamically, sometimes according to the data to render or not to render a
 FilamentInstance, how can I control their state, thank you.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-06-12 16:04] romainguy commented on #5682
Please don't file issues for questions, use the Discussions tab instead.

[2022-06-12 16:04] #5682 closed

[2022-06-12 17:53] dandingol03 commented on #5670
@prideout Thanks for your kindly reply. This is the origin [gltf](https://drive.google.com/file/d/1J3KPmDrAB7XdOHXQjOznG3SgLX81b9J6/view?usp=sharing), and the compressed asset by `gltfpack` is this [gltf](https://drive.google.com/file/d/1_kl_8_6aHBZ8rd5rcHR2TMBhi6qaW_n4/view?usp=sharing) .

[2022-06-13 02:09] xusx1024 commented on #5255
[code]

[2022-06-13 03:43] dandingol03 commented on #5670
After i remove this assert `assert_invariant(!previous || previous->component_type == accessor->component_type)`, the animation acts weried in filament. I provide the [video](https://drive.google.com/file/d/11--CAM1JSxamfvDbBqQ-FI3F2WAidnWG/view?usp=sharing) recorded on android device and screenshot as below:
![Screenshot_20220613-114219_Video Player](https://user-images.githubusercontent.com/1301

[2022-06-13 06:52] caorm commented on #5426
vivo X9s Plus
OS: Android 7.1.1
Pixel: 1920x1080
Display: 5.87

2022/6/13 14:32:4914577F*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2022/6/13 14:32:4914577FBuild fingerprint: 'vivo/PD1635/PD1635:7.1.1/NMF26F/compil10251828:user/release-keys'
2022/6/13 14:32:4914577FRevision: '0'
2022/6/13 14:32:4914577FABI: 'arm64
'2022/6/13 14:32:4914577Fpid: 14527, tid: 14548, name: FEngine::

[2022-06-13 08:19] caorm commented on #5667
hello

the crash info for the official sample-gltf-viewer demo

vivo X9s Plus
OS: Android 7.1.1
Pixel: 1920x1080
Display: 5.87

2022/6/13 14:32:4914577F*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2022/6/13 14:32:4914577FBuild fingerprint: 'vivo/PD1635/PD1635:7.1.1/NMF26F/compil10251828:user/release-keys'
2022/6/13 14:32:4914577FRevision: '0'
2022/6/13 14:32:4914577FABI: 'arm64