[2019-12-18 21:59] prideout commented on #1870
Closing, we ultimately merged 237e0ee3 which makes us more aligned with ThreeJS, even though this term is mentioned nowhere in the glTF spec.

[2019-12-18 21:59] #1870 closed

[2019-12-19 21:07] cx20 opened #1988 "How to use glTF's embedded camera with WebGL?"
**Is your feature request related to a problem? Please describe.**
I know that [Project Polly](https://github.com/KhronosGroup/glTF-Blender-Exporter/tree/master/polly) and [Khronos Virtual City](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/VC) models have built-in cool cameras.

[![image](https://user-images.githubusercontent.com/1833979/71208729-0aae2580-22ed-11ea-8ea9-2eb5f

[2019-12-19 22:22] prideout commented on #1988
This is a sensible feature request.  gltfio currently ignores glTF cameras, mostly because we simply haven't encountered any yet.

We could either expose the camera parameters, or we could create an actual `filament::Camera` entity for each glTF camera.  Not sure yet which would make more sense.

[2019-12-19 22:27] prideout commented on #1988
I wonder what viewers should do when the aspect ratio of the glTF camera does not match the viewport.  I guess they could either clobber it or use letterboxing.

[2019-12-20 03:38] romainguy commented on #1985
Thanks for the report but we'll need a complete stack trace. It looks like GPU hardware could not be initialized. Are you using an emulator?

[2019-12-20 03:38] #1985 closed

[2019-12-20 03:38] #1982 closed

[2019-12-20 03:39] romainguy commented on #1983
You can use the included AARs if you match the versions. It looks like you tried to build Filament's JNI library without building Filament itself first (use `build.sh -i -p desktop,android release` to build everything together).

[2019-12-20 03:39] #1983 closed

[2019-12-20 03:39] #1637 closed

[2019-12-20 03:39] romainguy commented on #1830
Philip were you able to repro?

[2019-12-20 03:40] #780 closed

[2019-12-20 14:17] cx20 commented on #1988
Personally, I don't think you need to apply the glTF camera aspect ratio to the viewer.
I tried to check other viewers. It seems that many viewers do not apply the aspect ratio of glTF cameras.

|Viewer                                         |Library          |Use aspect radio|
|:----------------------------------------------|:---------------:|:--------------:|
|https://gltf-viewer.donmccurdy.com

[2019-12-20 20:01] prideout commented on #1830
I don't have access to my Linux machine right now, will give it a try when I have a chance.

[2019-12-22 10:30] roxlu commented on #1921
@bejado thanks for looking into this!  Yep, it's an API-breaking change, but a good one and I think it nicely fits into the current code where we use Builders to construct instances. As a fix I created this `BackendConfig`, but we could also create a `Builder{SomeName}` that sets up the driver/backend.

I asked around about the GL issue which seems to be Windows specific and might be related to Wi

[2019-12-24 13:10] vberezkin opened #1989 "Crash in hello-camera sample"
**Describe the bug**
Crash in hello-camera sample.
Logcat:

2019-12-24 16:01:23.659 4344-4344/? I/lament.helloca: Late-enabling -Xcheck:jni
2019-12-24 16:01:23.692 4344-4344/? E/lament.helloca: Unknown bits set in runtime_flags: 0x8000
2019-12-24 16:01:23.852 4344-4344/com.google.android.filament.hellocam I/Filament: Filament library loaded.
2019-12-24 16:01:23.914 4344-4344/com.google.android.fil

[2019-12-24 14:58] romainguy commented on #1989
Thanks. Could you provide the entire error please? You cut off just before the native stack trace which we need to investigate. Also did you build the 64 bit versions of Filament and the app?

[2019-12-26 07:35] vberezkin commented on #1989
Hello,
here stack trace

2019-12-26 10:28:02.395 20433-20433/? A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 20433 (lament.hellocam), pid 20433 (lament.hellocam)
2019-12-26 10:28:02.459 20531-20531/? I/crash_dump64: obtaining output fd from tombstoned, type: kDebuggerdTombstone
2019-12-26 10:28:02.463 833-833/? I//system/bin/tombstoned: received crash request for p

[2019-12-26 18:13] prideout commented on #1989
I'm seeing this too with the team's Pixel 4 (bugreport attached).  This worked in the past, so either Filament regressed or there was a change in Android / Qualcomm.

Since we still support the old texture-id approach, as an experiment I'll try locally reverting 8ea6e6ce594ad5176a1283582915c97e936afe88.

I'll also try a debug build of the native layer.

[bugreport-flame-QQ1B.191205.007-2019-12-26-

[2019-12-26 18:20] prideout commented on #1989
Confirmed that reverting the AHardwareBuffer change (8ea6e6c) seems to fix this, you can use that as a workaround while we investigate.

[2019-12-26 20:12] prideout commented on #1989
git bisect points to 5ee15239fdb5719cacea5f737e4f1fe4e5434279 as the culprit.  @pixelflinger :)

[2019-12-27 08:23] vberezkin commented on #1989
Thanks, it helps

[2019-12-31 15:28] deltamish opened #1993 ".Net Compatability"
How to use the API from .Net ?

I tried following approach
http://tom-shelton.net/index.php/2008/12/11/creating-a-managed-wrapper-for-a-lib-file/

But I feel its too time taking as I will have to take a look into all the probable classes and function that might be called and expose them.

Any other ideas sis greatly appreciated.

Cheers ;)

[2019-12-31 16:47] prideout commented on #1993
I believe .NET 5 has support for Java interop, that might be something you could try exploring.

[2020-01-02 09:21] bobekos opened #1994 "Occlusion Material"
**Describe the bug**
I use filament via the SceneForm SDK.
But I suspect it is a filament bug. When I put this material on an object then on some devices (I have not yet been able to determine which ones are 100% functional and which are not.)
the objects behind it are displayed in black.

This effect only affects GLTF and OBJ objects. FBX models are correctly occluded.

The question now is whethe

[2020-01-02 19:21] bejado commented on #1994
I'm able to fix this by giving the camera feed renderable a priority of 0 (so it is rendered first). See `RenderableManager::priority`.

I'm using the iOS `hello-ar` sample with OpenGL backend to reproduce, but I assume the same fix will work on Android. I'll need to dig into Sceneform to see where to apply the change.

Interesting, the Metal backend doesn't seem to respect the `colorWrite` and `d

[2020-01-02 19:23] romainguy commented on #1994
Yes the camera needs to be renderer first for this to work.

[2020-01-02 19:50] prideout commented on #1989
Fix is ready for review in  PR #1995.

[2020-01-02 20:13] bejado commented on #1994
@bobekos Use [`ArSceneView.setCameraStreamRenderPriority`](https://developers.google.com/ar/reference/java/sceneform/reference/com/google/ar/sceneform/ArSceneView#public-void-setcamerastreamrenderpriority-int-priority) to set the camera stream priority through Sceneform:

[2020-01-03 00:03] bobekos commented on #1994
@bejado @romainguy Hi and thank you for the answers. But like i mentioned above i already set the render priority for the camera stream to 0.

Like i say the occlusion is working when i try to occlude a fbx object. When a gltf object is behind a occlusion material you see the black contour like on the screenshot above. But also not on all devices i have tested. For example the Samsung Galaxy S7 De

[2020-01-03 01:26] prideout commented on #1994
Note that sceneform does not use Filament's glTF library (gltfio), instead they have their own glTF loader.

[2020-01-03 03:08] romainguy commented on #1994
The fact that it's format dependent makes me think it's likely a sceneform issue :/

[2020-01-03 15:16] #1989 closed

[2020-01-03 16:18] prideout commented on #1830
[code]

[2020-01-03 16:27] prideout commented on #1830
@elalish, see my screenshot -- maybe you ran into a transient Chrome issue?  Closing for now, feel free to reopen.

[2020-01-03 16:27] #1830 closed

[2020-01-03 20:32] bobekos commented on #1994
@romainguy
Is there any chance that the sceneform team is fixing this issue? I have the feeling that the sceneform repo is no longer noticed. Are you guys still working on it? And if yes how's about issuses like this? I mean occlusion is not a small thing.

I close this ticket here. Thanks all for your time.

[2020-01-03 20:32] #1994 closed

[2020-01-05 15:19] amerkoleci commented on #1993
Probably filament needs C api/layer, then there can be pinvoked

[2020-01-05 17:13] amerkoleci opened #2001 "Standalone backend rendering"
**Is your feature request related to a problem? Please describe.**
Just new feature request.

**Describe the solution you'd like**
I think would be good to have backend (rendering) to be standalone as to be easy to integrate in other engines/framework.

**Describe alternatives you've considered**
Maybe having a guide how backend works would be good, how to create shaders, how is vulkan integration

[2020-01-05 19:41] romainguy commented on #2001
We already keep our backend library separated but it is not our goal to maintain a public API/documentation/etc. for it at the moment. We discussed this but we just don't have the resources for this considering it is not the main goal of the project. The backends themselves are fairly straightforward, most of the complexity lies in Filament itself (that's where the frame graph lives, where the job

[2020-01-05 19:41] #2001 closed

[2020-01-05 19:43] romainguy commented on #1993
This should be addressed by #139 then when we get around to it.

[2020-01-05 19:43] #1993 closed

[2020-01-05 19:46] romainguy commented on #1731
Refraction is now supported. The feature isn't entirely finished yet as we only support refraction of the cubemap but screen-space refraction is coming. See https://google.github.io/filament/Materials.html#materialdefinitions/materialblock/blendingandtransparency:refractionmode and https://google.github.io/filament/Materials.html#materialdefinitions/materialblock/blendingandtransparency:refraction

[2020-01-05 19:46] #1731 closed

[2020-01-05 19:48] romainguy commented on #1075
One of our goals is to produce small binaries on Android and static libraries help a lot there. We've had a couple of requests for shared libraries so this is something we could add support for. If you know how to do it properly at the CMake level btw your help would be greatly appreciated.

[2020-01-06 23:00] danlehmann opened #2005 "Backend enum in Java is out-of-sync with C definition"
**Describe the bug**
Both Java and C have an enum to specify the backend. They are supposed to match, as Engine.java uses ordinal() to pass the integer value down.

The Java enum is missing METAL however.

**To Reproduce**
Steps to reproduce the behavior:
Using Engine.Backend.NOOP from Java causes Filament to load the METAL backend.

**Expected behavior**
It should call the NOOP backend.

**Deskto

[2020-01-06 23:02] danlehmann commented on #2005
I have a patch pending to fix this, but according to the contributor guide I should start with an issue, so here it is :-)

[2020-01-06 23:37] romainguy commented on #2005
Oops great catch. We'd be happy to take your patch :)

[2020-01-06 23:37] romainguy commented on #2005
@bejado

[2020-01-07 00:24] danlehmann commented on #2005
https://github.com/google/filament/pull/2006

[2020-01-07 00:27] #2005 closed

[2020-01-07 00:59] danlehmann opened #2007 "Request for headless swapChain support with Vulkan"
**Is your feature request related to a problem? Please describe.**
I am building an app that is rendering a given scene from lots of different viewpoints. The rendered images are then passed back to the CPU and further used there. They are not displayed on-screen. My main goal is to maximize the throughput of images/second.

Using the OpenGL backend, this works:
val nativeSurface = new NativeSurfa

[2020-01-07 01:08] danlehmann opened #2008 "Using the Vulkan backend, resizing a Java app crashes"
**Describe the bug**
My JVM application uses Filament using the Vulkan backend to draw content in a FilamentCanvas. Things work well until I resize the component at which point I am seeing this error:
N5utils18PostconditionPanicE
in void filament::backend::VulkanDriver::commit(Handle<filament::backend::HwSwapChain>):900
reason: Stale / resized swap chain not yet supported.
#0 /tmp/nativelib-loader

[2020-01-07 04:37] prideout commented on #2008
This is a dup of #334

[2020-01-07 04:37] #2008 closed

[2020-01-07 05:58] danlehmann opened #2011 "Disable frame-skipper for offscreen rendering"
I am building an artificial life simulation where I am using Filament to render eye buffers of virtual creatures. To do this, I am setting up the Filament scene and then render with a different cameras for each creature into its off-screen buffer, that is then passed to the creature's brain.

The main loop looks something like this:

while (1) {
  setupFilamentScene()
  for (animal <- world) {

[2020-01-07 19:42] romainguy commented on #2007
Looks like part of the issue is that `new NativeSurface()` from Java always attempts to call into GLX (see `android/filament-android/src/main/cpp/nativewindow/Linux.cpp`). `NativeSurface` is only used on desktop, not Android, so it was never designed with Vulkan in mind.

Now why creating a swap chain without a native surface crashes, I have no idea. That's for @prideout to figure out :)

[2020-01-07 22:49] stasgora opened #2014 "Enabling true VSync with SwapInterval"
I'm trying to achieve a proper v-sync with Filament (not by sleeping for a hard-coded amount of time like in the examples). Since I'm using GLFW for creating a window I looked at how it's done there [```glfwSwapInterval()```](https://www.glfw.org/docs/latest/group__context.html#ga6d4e0cdf151b5e579bd67f13202994ed) and than tried to do something similar using Filaments internal context (take a look

[2020-01-07 22:57] romainguy commented on #2014
What do you mean by "wapping buffers only waits for the next refresh when using the glfw functions"?

[2020-01-07 22:57] romainguy commented on #2014
This will be addressed by #636 .

[2020-01-07 22:57] #2014 closed

[2020-01-07 22:59] prideout commented on #2014
This is something we want to look into soon, it's a pretty big hole in Filament's functionality for desktop platforms.

[2020-01-08 10:23] stasgora commented on #2014
I meant that after calling the `glfwSwapInterval(1)` and then continuously `glfwSwapBuffers`, the loop runs at 60fps as expected but calling the underlying `SwapIntervalMESA(1)` from PlatformGLX didn't make any difference - main loop was still running as fast as it could.

Thought it would be that simple but it's great you plan on properly implementing it soon.

[2020-01-08 10:54] Noltibus commented on #1836
Since we#re having the exact same error using Sceneform (which uses Filament), is there any way to port this bugfix to Sceneform? Some hidden option I can turn on/off?

[2020-01-09 13:45] R4md4c opened #2019 "Hello Triangle sample crash on some device but working on others."
**Describe the bug**
When trying to run from Android Studio on a relatively old device [Sony Xperia Z3](https://www.gsmarena.com/sony_xperia_z3-6539.php) (runs Android 6.0 and supports OpenGL ES 3.0), the sample crash with the following stacktrace.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `./build.sh -p desktop -i release`
2. `./build.sh -p android release`
3. `./gradlew :samp

[2020-01-09 20:28] roxlu commented on #1921
https://github.com/baldurk pointed me to what seems to be the causse of the issue. See https://github.com/roxlu/windows-opengl-context#solution- for a possible solution regarding the error I got when creating the shared context.  I still have to test this with Filament. Even though this might solve the issue, I still think that the suggestions regarding `bluegl` and `BackendConfig` above need to b

[2020-01-10 01:07] prideout commented on #1841
There are some outstanding tasks needed to get this to work, reopening.

[2020-01-10 17:15] #1841 closed

[2020-01-14 08:26] cjsliuj opened #2030 "glb root entity transform Useless"
Entity root = _glbAsset->getRoot();
        if (root) {
            math::mat4f t  = math::mat4f::translation(math::float3{0.0f, -1000.0f, -100.0f});
            auto& tcm = _render.engine->getTransformManager();
            tcm.create(root);
            auto i = tcm.getInstance(_glbAsset->getRoot());
            tcm.setTransform(i, t);
        }

I set a large translation value, but nothing happe

[2020-01-14 12:59] #2030 closed

[2020-01-14 18:13] Realitian opened #2031 "Depth buffer precision and reverse-z"
Just this moment, I wanna ask if our filament has the reverse-z buffering or logarithmic z buffering...

[2020-01-14 18:21] romainguy commented on #2031
It does not. We'd love to add support for reverse Z but OpenGL ES 3.0 unfortunately prevents us from getting it to work on mobile (I don't recall if what we need was ever added to 3.1/3.2).

[2020-01-14 18:21] #2031 closed

[2020-01-15 03:48] fishelegs opened #2035 "Provide a way to set IPHONEOS_DEPLOYMENT_TARGET in CMake"
New release v1.4.4 uses enums such as MTLPixelFormatASTC_4x4_HDR only available on iOS 13.
I use Xcode 11 to build v1.4.4 for the iOS platform. (Xcode 11 will automatically set min deploy target to iOS 13)
But v1.4.4 SDK crashes on iOS 10 iPhone 6s.
------------------------------------------------------------------------------
    0   dyld                            0x0000000105de8264 __abort_with

[2020-01-15 09:36] dilemmacc opened #2036 "Can filament run on flutter?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**OS and backend**
Is this feature OS/bac

[2020-01-15 10:42] vberezkin opened #2037 "Allow other views to draw over Filament surface in not opaque mode"
**Describe the bug**
Filament in not opaque mode brings itself to front and not allow other views to draw over it

**To Reproduce**
Steps to reproduce the behavior:
1. Place Filament SurfaceView in FrameLayout or RelativeLayout as first View and call setOpaque(false) on it.
2. Other views are hidden by Filament content.

**Expected behavior**
Other views should be drawn over filament SurfaceView

[2020-01-15 16:50] romainguy commented on #2036
The way Filament works it should be able to work with Flutter as part of a SurfaceView or SurfaceTexture. I don't know Flutter enough to know exactly how the integration works but it's no different than with camera, WebView or Google Maps. You'd have to write a shim similar to UiHelper most likely.

[2020-01-15 16:50] #2036 closed

[2020-01-15 16:52] romainguy commented on #2037
Thanks for the report, but this is not the correct fix, at least not for all situations. The current API was implemented to draw Filament blended over regular Android views. Switching to `setZOrderMediaOverlay()` would break that. The correct solution is to add `setMediaOverlay(boolean)` to `UiHelper` — or something similar — so the app can decide which behavior it wants.

[2020-01-15 18:26] #1497 closed

[2020-01-15 19:32] bejado commented on #2035
Thanks for the report. The crash is caused because iOS 10 does not support `MTLPixelFormatASTC_4x4_HDR`. The correct solution is for Filament to wrap the usage of these newer pixel formats with an `@availability` check.

As far as I know, the `-iphoneos_version_min` flag does not affect compiled code, only used to issue warnings. While changing this to 10.0 won't solve the crash, it might be usefu

[2020-01-16 18:00] #2037 closed

[2020-01-16 19:05] prideout opened #2042 "GL_INVALID_VALUE with Audi glTF model"
To repro, download the following glTF model and run gltf_viewer using a  debug build.

 https://sketchfab.com/3d-models/audi-rs5-2019-fae1a4186d464a6aae351ce9e9ff2401

[2020-01-16 19:20] prideout commented on #2042
I tried querying the size right before the offending call to `glBufferSubData`, and the size of this buffer is apparently 0.   This might be a bug in gltf-viewer, not sure yet.

[code]

[2020-01-16 20:21] prideout commented on #2042
This can happen when clients create a VertexBuffer with a certain number of sub-buffers, and one of those sub-buffers do not have any corresponding `attribute()` calls.   The GL error occurs when the client tries to upload data to it because `createVertexBufferR` has computed its size as 0.

This is a gltfio bug although Filament should probably be more friendly when clients make this error.

[2020-01-16 22:09] #2042 closed

[2020-01-17 07:19] fishelegs commented on #2035
I find 'export IPHONEOS_DEPLOYMENT_TARGET=8.0' works.

[2020-01-18 17:36] unicomp21 opened #2052 "Dockerfile build"
We need a Dockerfile which can build everything, especially the webgl stuff.

[2020-01-18 19:05] romainguy commented on #2052
Could you explain a little more what you mean please? I don't know what a Dockerfile is (I assume it's for Docker but beyond that). Specifically what do you mean by "everything"? Do you need to build iOS, Android, webgl, Linux, Windows and macOS binaries? Filament should be fairly easy to build in CI already given the script we provide (build.sh).

[2020-01-19 05:13] chesed71 opened #2053 "./build.sh -p android release fail"
**Describe the bug**
A clear and concise description of what the bug is.
./build.sh -p android release failed as below error.
I am using current up-to-date master branch.
It seems it doesn't know what 'release' means.

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/kyungsoohong/workspace/filament/android/filament-android/build.gradle' line: 59

* What went wrong:
A problem o

[2020-01-19 05:22] romainguy commented on #2053
Make sure you have Android Studio 3.6 RC1 installed, the latest SDK and run a clean build first with ./build.sh -c. Alternatively de delete all the build/ directories in Android/ and subfolders. You will also need Filament's tip of tree.

[2020-01-19 05:22] #2053 closed

[2020-01-20 11:21] onelsonic opened #2054 "WEBGPU added support to be future proof."
Hi there,
I can see that everything is running smoothly with WebGL while there are some work at the moment to replace it with WebGPU.

It will be great to add some support for WebGPU to be future proof.

[2020-01-20 14:16] chesed71 commented on #2053
Thanks!

[2020-01-20 15:09] cx20 opened #2055 "An error occurs in createTextureFromJpeg() of Filament v1.4.x"
**Describe the bug**
I updated the library used in the my sample from Filament `v1.3.2` to `v1.4.x`, and now I get an error.
Is it because the usage has changed?

[code]

**To Reproduce**
[Filament v1.4.4 sample:](https://rawcdn.githack.com/cx20/webgl-test/6352e82acd9aa94e8a52ec94f4715c42d7ff8cbd/examples/filament/texture/index.html)
![image](https://user-images.githubusercontent.com/1833979/72736

[2020-01-20 18:18] romainguy commented on #2054
WebGPU support is planned already.

[2020-01-21 12:57] roxlu commented on #1864
Running into a similar issue with scene that holds about 3500 objects;  most of them instances of the same mesh data

[code]

[2020-01-21 16:57] prideout commented on #2055
We have a JPEG decoder in our wasm bundle (via gltfio) and that's what we should be using here.  I'll fix this and ensure that it gets tested in one of our samples.

(This broke when we added JPEG support to gltfio for web in fb9cf43768a82e975dfba85f0a62f713c0a17c2f  because gltfio requires a byte buffer rather than a DOM image.)

[2020-01-21 18:52] roxlu opened #2057 "Option to configure `CommandBufferQueue` size."
I'm rendering a scene with ~3000 items that share ~100 meshes and it seems that the `CommandBufferQueue` is running out of space.  In `Allocators.h` I see the buffer sizes, but I'm wondering how to change the size; or maybe there is another way to render 3000 items?

[2020-01-21 20:41] #2035 closed

[2020-01-21 20:58] #2055 closed

[2020-01-21 22:03] cx20 commented on #2055
Thanks! I have confirmed that `createTextureFromJpeg()` works with the latest version of Filament.
[Filament latest result:](https://rawcdn.githack.com/cx20/webgl-test/4c14647d217c69577c02651dd686f22e03fb67df/examples/filament/texture/index.html)
![image](https://user-images.githubusercontent.com/1833979/72846143-55073580-3ce3-11ea-800e-38ec48e7fd4a.png)

[2020-01-21 22:43] #737 closed

[2020-01-22 08:33] xu-xionglong opened #2059 "Best way to render mutable vertex buffer size object?"
I was used to using native OpenGL which supports sending a mutable size cpu buffer to gpu directly by glVertexAttribPointer. The api for operating vertex data in filament is VertexBuffer and the vertex size should be specified during construction.
Should I recreate a new VertexBuffer whenever the size is changed or create a VertexBuffer with a
big capacity and update parts of the buffer in runtime

[2020-01-22 15:29] romainguy commented on #2059
The second solution is what you are looking for. When you call `geometry()` on `RenderableManager::Builder` you can specify the offset and count for the indices to use in the index buffer. You can also use `setGeometryAt()` to change those values for an existing renderable

[2020-01-22 15:29] #2059 closed

[2020-01-22 21:20] #2052 closed

[2020-01-24 00:56] romainguy commented on #2057
I talked to @pixelflinger and this is pretty much what we wanted to add. It was just never a priority so far. We'd love a test scene if you have one (a glTF file would work great if that's not a problem for you).

[2020-01-24 03:56] prideout commented on #334
Mathias reports that Vulkan-on-macOS also has issues after resizing the window.

[2020-01-26 18:37] unicomp21 opened #2066 "webgl build broken"
./build.sh -p webgl release

SimpleTriangle.bin creates an error during the build. appears to be missing.

[2020-01-26 20:42] prideout commented on #2066
Works for me, the file landed here:

`./out/cmake-webgl-release/web/samples/SimpleTriangle.bin`

[2020-01-26 20:46] prideout commented on #2066
The `animation.html` sample works too, for me anyway.  I'm using macOS.  What is your host platform?  Can you paste some of your build output?

[2020-01-26 20:48] prideout commented on #2066
Looks like the GitHub Actions is broken, but for a different reason:

[code]

[2020-01-27 00:48] unicomp21 commented on #2066
this is probably overkill, I created a pull request for the repro

https://github.com/google/filament/issues/2066

[2020-01-27 00:49] romainguy commented on #2066
From the PR the failure happens with git checkout -b v1.4.4. Looks like it's fine in the master branch.

[2020-01-27 00:56] unicomp21 opened #2068 "Support boost fibers on webassembly"
**Is your feature request related to a problem? Please describe.**
Within c++ on webassembly we have no coroutine support.

**Describe the solution you'd like**
Clang can now target webassembly, we should be able to now support boost fibers.

**Describe alternatives you've considered**
Emscripten Asyncify is another option, but boost fibers is part of a standard.

**OS and backend**
This is webass

[2020-01-27 01:27] romainguy commented on #2068
Does this require adding a dependency to boost?

[2020-01-27 01:31] unicomp21 commented on #2066
[623/627] Building CXX object filament/CMakeFiles/filament.dir/src/View.cpp.o
[624/627] Linking CXX static library filament/libfilament.a
[625/627] Linking CXX static library libs/filameshio/libfilameshio.a
[626/627] Building CXX object tools/filamesh/CMakeFiles/filamesh.dir/src/main.cpp.o
[627/627] Linking CXX executable tools/filamesh/filamesh
Building WebGL release...
Setting environment variab

[2020-01-27 01:32] unicomp21 commented on #2066
It happens on master too ^
When doing a docker build on ubuntu 19.10

[2020-01-27 01:33] romainguy commented on #2066
It's a silly case sensitivity issue. The file is called simpleTriangle not SimpleTriangle. @prideout

[2020-01-27 01:37] unicomp21 commented on #2066
Nice catch @romainguy !

The Dockerfile I provided, think it would be cool if there was something similar in the repo for build.sh, to assist those who like driving their builds w/ docker.

[2020-01-27 01:41] romainguy commented on #2066
We don't know anything about Docker and I don't think we'd want to take on maintaining yet another build file.

[2020-01-27 01:41] unicomp21 commented on #2068
Yeah, I guess that's a no no?

[2020-01-27 01:55] unicomp21 commented on #2066
Understood, but it ain't that hard to pick up ;)

[2020-01-27 01:55] #2066 closed

[2020-01-27 02:03] romainguy commented on #2068
In general we don't take dependencies at all in Filament (only in the host tools). We did make two exceptions for a Vulkan memory allocator and for a fast hashmap. Boost is definitely not something we want to depend on.

[2020-01-27 02:18] unicomp21 commented on #2068
Isn't coroutine support kinda fundamental to a graphics/game engine?

[2020-01-27 02:18] #2068 closed

[2020-01-27 02:31] romainguy commented on #2068
Filament already uses a job system to multithread pretty much every aspect of its operation. It's single threaded when we compile to WASM currently and we'll switch to WebAssembly Threads once they are widely supported. They're already available in Chrome 75. @prideout

[2020-01-27 06:55] pixelflinger commented on #2057
I had to increase `CONFIG_PER_RENDER_PASS_ARENA_SIZE` to 3 MiB, `CONFIG_PER_FRAME_COMMANDS_SIZE` to 2 MiB and `CONFIG_MIN_COMMAND_BUFFERS_SIZE` to 3 MiB to be able to render a ~3400 items scene.

We will make this user-settable at Engine creation time eventually.  Also maybe we could increase the defaults a bit.

[2020-01-27 07:04] pixelflinger commented on #2011
Hi. This seems a very cool use of Filament :-)  I'd like to see the renders!

For you use-case you can simply ignore the result of beginFrame() -- you'll need some kind of flow control though, so that you don't saturate the internal command buffer (e.g. if you're rendering much slower than you're pushing frames). But you sort of already have that, because you have the readPixels() callback.

The r

[2020-01-27 18:08] danlehmann commented on #2011
Thanks, ignoring the result of beginFrame works fine and improves perf nicely.

Your fence suggestion is also useful. Given the low number of creatures I have at the moment I don't need it yet, but as the world grows this sounds like a system I'll need to implement. Thanks!

And I'm happy to share the results, once all of this looks a little nicer :-)

[2020-01-27 18:08] #2011 closed

[2020-01-28 00:54] prideout opened #2070 "Android utility layers should use dynamic linking."
If you open the APK of the `gltf-viewer` Android sample, you'll see two unused so files in each arch folder under `lib`:

    libfilament-utils-jni.so (~1.8 MB, loaded by the client)
    libgltfio-jni.so (~1.8 MB, unused)
    libfilament-jni.so (~1 MB, unused)

The sample only loads `libfilament-utils-jni` at run time, and in fact it is error to load anything additional. This is because everything

[2020-01-28 17:41] Realitian opened #2072 "iOS link error with stbimage"
**Undefined symbol of stbi_load, stbi_info**
Undefined symbols for architecture arm64:
  "_stbi_load", referenced from:
      gltfio::ResourceLoader::createTextures(gltfio::details::FFilamentAsset*) const::$_4::operator()() const in libgltfio_core.a(ResourceLoader.cpp.o)
     (maybe you meant: _stbi_loadf_from_callbacks, _stbi_loadf_from_memory , _stbi_load_from_callbacks , _stbi_load_16_from_call

[2020-01-28 17:42] romainguy commented on #2072
@prideout Looks like gltfio didn't compile in stb_image?

[2020-01-28 17:48] Realitian commented on #2072
@prideout I checked gltf_core.a and extracted Image.cpp.o and I attached it.
but I couldn't find stbi_load and stbi_info symbol from it.

[Image.cpp.o.zip](https://github.com/google/filament/files/4123817/Image.cpp.o.zip)

[2020-01-28 18:09] Realitian commented on #2072
libs/gltfio/include/gltfio/Image.h line #25 is strange.
#define STBI_NO_STDIO
I am not sure why it had been defined STBI_NO_STDIO .
should be removed?

[2020-01-28 18:12] Realitian commented on #2072
If I remove it, then it works.

[2020-01-28 18:15] prideout commented on #2072
Nice find, that #def should only be defined when ANDROID or __EMSCRIPTEN__ are defined.  I'll fix this.

[2020-01-28 20:26] #2072 closed

[2020-01-28 20:31] #2070 closed

[2020-01-29 13:02] roxlu commented on #1899
Just stumbled upon a great read that shares some good info on multi threaded design and use of OpenGL contexts: https://gstreamer.freedesktop.org/documentation/additional/design/opengl.html?gi-language=c

[2020-01-30 10:48] Realitian opened #2084 "cmgen generated filename had changed in generally?"
looks like cmgen generated filename had changed in generally.(i.e. generated_ibl.ktx, generated_skybox.ktx, etc).
in previous version, it works with prefixed with original hdr filename, so it was help when does batch process. but with current version, I was difficult to run batch process shell because cmgen generate same filename for different .hdr files.
I am sorry for telling about additional is

[2020-01-30 13:01] prideout commented on #2084
Yes,  #1974 made it so that scripts no longer need to manually rename the output folder when generating multiple variants of the same KTX (e.g. for compressed and non-compressed variants).  You can still prefix the original hdr filename if you like, but it's now optional rather than forced.  If your old script said `-x dest source.hdr`, your new args can simply be `-x dest/source source.hdr`.

[2020-01-30 13:01] #2084 closed

[2020-01-31 07:58] ymhdcat commented on #1700
Hello, I am also facing the same issue when trying to share depth texture between render targets. Could anyone share some hint how to achieve this? Thanks.

[2020-01-31 17:20] #1876 closed

[2020-01-31 18:40] cx20 opened #2088 "How to apply flat shading to glTF model?"
**Is your feature request related to a problem? Please describe.**

I tried loading a [simple polygon glTF model](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/Fox) using Filament.
I was expecting to be `flat shading`, but the result was `smooth shading`.
I want to apply `flat shading` to this model like the glTF Loader in three.js.

**Describe the solution you'd like**
[Three

[2020-01-31 18:47] prideout commented on #2088
If the fox vertices are shared by their neighboring triangles (i.e. it has a non-trivial index buffer), I'm not sure we'd want the loader to perform a topological transformation.  Do you know if the fox is welded in this way?

As far as I can tell, the only thing the glTF spec has to say is this:

    Implementation note: When normals are not specified, client implementations should calculate flat

[2020-01-31 19:01] romainguy commented on #2088
You can use a `flat` interpolation in the material: https://google.github.io/filament/Materials.html#materialdefinitions/materialblock/vertexandattributes:interpolation

[2020-01-31 19:04] prideout commented on #2088
This will double our ubershader count but it's probably worth it, given the popularity of this look.  :-\

Some relevant glTF discussion here:
https://github.com/KhronosGroup/glTF/issues/1605

Btw thanks for the bug report @cx20 !  I think this is an important one.

[2020-01-31 22:01] prideout commented on #2088
More details: this mesh has no index buffer (which is good, I don't think we can be expected to unweld).  It has no normals, so given the (ahem) "implementation note" we need to either add a derivatives mode in our shaders, or add some functionality to our `SurfaceOrientation` helper that does a bunch of cross-products.  I think we'll probably do both, I'll probably get started on the latter next

[2020-02-01 20:23] roxlu opened #2091 "Rendering multiple instances of the same `filamesh::MeshReader::Mesh`?"
When I use the `filamesh` util to create a `.filamesh` file and the `filamesh::MeshReader` to load this mesh, it creates the vertex and index buffers together with a `utils::Entity` which represents a renderable:

[code]

When I want to create multiple instances of this mesh (e.g. rendering many trees of the same mesh) what is the recommended approach? Do I load the mesh, keep it around and create

[2020-02-01 20:42] romainguy commented on #2091
This is just a simple helper API for samples or simple apps, it’s not meant to do more than it provides. You would indeed have to create multiple renderables. To do so you’d need to expose the information about each part. Note that the filamesh format is fully documented in the readme file of the filamesh tool if you want to create your own more advanced loader.

[2020-02-01 20:42] #2091 closed

[2020-02-01 20:43] prideout commented on #2091
If you craft a glTF and create multiple `node` objects that reference the same `mesh` object, gltfio will do the right thing by sharing the same VertexBuffers and IndexBuffers amongst several renderables.  That other issue you referenced is more about efficiently instancing the entire glTF asset.

[2020-02-01 21:20] roxlu commented on #2091
OK thanks.

[2020-02-03 13:52] cx20 commented on #2088
@romainguy Thank you for letting me know that material has settings.
However, I looked into how to change the Material settings after loading the glTF file, but unfortunately couldn't find it. Can you tell me if there is a sample that seems to be helpful?
I tried the following code, but it didn't work because getting material returned null.

[code]

[2020-02-03 16:42] prideout commented on #2088
Flat interpolation is not a dynamic property, it can only be set in the mat file or from MaterialBuilder.  Our glTF library does not yet support this property, but please note two things:

- Flat interpolation wouldn't help this  particular model, since this model has no normals and is already unwelded.
- Flat shading is currently ill-defined and controversial  in the glTF spec.  This is a new con

[2020-02-03 18:01] prideout opened #2092 "Consider moving bitangent construction to fragment shader."
We currently reconstruct the bitangent in `main.vs` but popular normal map baking tools expect this to occur in the fragment shader.  More info in [this](https://medium.com/@bgolus/generating-perfect-normal-maps-for-unity-f929e673fc57) article. See especially "comments from the original mikktspace.h".

To verify the correctness of normal mapping, it might be worth crafting a test model.

On a rela

[2020-02-03 21:13] cx20 commented on #2088
@prideout Thank you for the advice. I just realized that Flat interpolation cannot be used as a dynamic property and that the specification of Flat interpolation in the glTF model is ambiguous.

[2020-02-04 10:17] roxlu opened #2094 "Does lookAt returns a left handed matrix 😲 ?"
While writing this issue, I've got the strong feeling that I'm wrong and Filamant is correct ... but as always I'm up for a lesson. The docs, section _8.6 Coordinate Systems_ describes that Filament uses a right handed coordinate system +X = right, +Y = up, +Z = forward. *Normally a camera looks into the negative Z right?* Is this the difference with other right handed libs: that we look into the

[2020-02-04 16:39] romainguy commented on #2094
The docs say:
"Filament's Camera looks towards its local -Z axis. That is, when placing a camera in the world without any transform applied to it, the camera looks down the world's -Z axis."

I'm not sure where you got the info that +Z is forward.

[2020-02-04 17:03] prideout opened #2095 "Vulkan: image-based-lighting triggers Adreno error"
`sample-image-based-lighting` triggers a shader link error on Pixel 4 + Android Q, which prevents `vkCreatePipelines` from succeeding.

Symptoms are exactly like #1516.

`sample-textured-object` does not have this issue.

`sample-lit-cube` and `sample-texture-view` with Vulkan also work fine on this device.

[2020-02-04 17:13] prideout opened #2096 "Vulkan: textured-object sample is black after resume"
This sample works fine with Vulkan until you swipe up to look at Recents.  Testing with Pixel 4 + Android Q.

[2020-02-04 17:21] prideout commented on #2095
The sample is "fixed" by removing the following line although the specular seems to be missing.

`view.ambientOcclusion = View.AmbientOcclusion.SSAO`

[2020-02-04 18:31] roxlu commented on #2094
@romainguy I was a confused because of the result of the lookat function and because the caption under figure says +Z, but thanks for clearing that up.

But when the system is right handed and the camera looks along the negative Z shouldn’t the result be -15?

[2020-02-04 19:54] romainguy commented on #2094
I see where the confusion comes from. Our `lookAt` returns the post (or model matrix/transform) of the camera, not what's commonly called the view matrix. If you want the view matrix, take the inverse of what `lookAt` computes and you'll get the same result as glm for instance.

[code]

[code]

[2020-02-04 19:54] #2094 closed

[2020-02-04 20:15] roxlu commented on #2094
Thanks doesn't it make more sense to follow the convention regarding this?

[2020-02-04 20:19] romainguy commented on #2094
I would dispute it's an actual convention but more importantly Filament APIs expect model matrices, not "view" matrices. We do have a `Camera::getViewMatrix()` for convenience and for people used to this terminology but you never set the view matrix yourself. You either call `Camera::lookAt()` or `Camera::setModelMatrix()` (all the former does is `setModelMatrix(mat4f::lookAt(eye, center, up))` an

[2020-02-04 20:27] roxlu commented on #2094
Ah I see, thanks for explaining!

[2020-02-05 16:43] roxlu opened #2098 "Can mipgen handle 8bit grayscale + alpha PNG images?"
I'm using `./mipgen --compress=astc_fast_ldr_4x4 [input] [output]` with a 8-bit grayscale + alpha PNG image and the result looks like the left object with the "gradient" bars. On the right you can see another object that uses the same image but then converted using this command: `convert mat-40cm.png -type TrueColorMatte -define png:color-type=6 mat-40-truecolor.png`

![image](https://user-images.

[2020-02-05 16:50] prideout commented on #2098
Does this bug only happen when using ASTC compression?

[2020-02-05 18:35] roxlu commented on #2098
Just tested with `s3tc_rgba_dxt5`  which gives me the same result.

[2020-02-05 19:12] roxlu commented on #2098
I just noticed that the bands appear when I zoom in: https://imgur.com/a/fTrR5K9
and in that video the culling of these meshes with the bands seems to be off (?) ...  I also noticed that the transparency of the red cube changes when I spin around;  not sure if that's to be expected.

[2020-02-05 19:34] romainguy commented on #2098
The transparency of the cube doesn't change, you are just seeing the specular reflections (which are not affected by alpha unless you set the blending mode to `fade`).

[2020-02-05 19:35] romainguy commented on #2098
Looks like the meshes with bands just have inverted normals.

[2020-02-05 19:40] roxlu commented on #2098
Wow, how do you see that?  This was indeed the case; somehow the normals were flipped in Blender.  I fixed them and now  that issue is solved:

![image](https://user-images.githubusercontent.com/358809/73876667-ac66e300-4857-11ea-9eaa-5753fae2f425.png)

[2020-02-05 19:51] roxlu commented on #2098
I thought something like that was the case, though I'm using "fade" as blending.

[code]

[2020-02-06 19:05] BStringhamVRSK opened #2103 "Spherical harmonic indirect lighting appears to be inverted along Y axis compared to Skybox"
Diffuse lighting from indirect lighting appears to be inverted along the Y axis, compared to the Skybox cube map from which the spherical harmonic values were derived.

To test this (using library version 1.4.5), we used the debug cube map found in section 8.6.3 (Figure 89) of the "Physically Based Rendering in Filament" documentation.  We used cmgen to create the SH values.
The diffuse lighting f

[2020-02-06 19:11] romainguy commented on #2103
I can't repro your issue. I just tested with the same env map (from `assets/environments/debug`) and it looks correct (blue light coming from above, green from below).

How did you use `cmgen`? Here are the commands I used:

[code]

and

[code]

Result:

<img width="1136" alt="Screen Shot 2020-02-06 at 11 11 21 AM" src="https://user-images.githubusercontent.com/869684/73970092-6b131980-48d1-11ea-9

[2020-02-06 19:18] romainguy commented on #2103
BTW you don't have to use SH anymore with Filament 1.4.5. If you don't specify SH Filament will pull diffuse lighting from the 16x16 mip level instead. It is useful with extremely high dynamic range IBLs (30 stops for instance) as it better encodes strong directional lighting but the result may not always be as good as with SH on untextured, high roughness objects like a white sphere.

[2020-02-06 19:18] BStringhamVRSK commented on #2103
Our command line is this:
`cmgen.exe --sh=bands --sh-output=SHOUT.txt debug.png`

Maybe I shouldn't be using --sh=bands?

[2020-02-06 19:22] romainguy commented on #2103
Ah no it's because FIlament expects its SH to be pre-optimized by folding as many constant computations as possible in them. Use `--sh-shader` when invoking `cmgen` (implied by `-x`). A good way to test if you are using the right flags is to test with `assets/environments/white_furnace`. If you use the right flags the SH should be similar to these:

[code]

The first band is set to 1, all the othe

[2020-02-06 19:25] #2103 closed

[2020-02-06 19:25] BStringhamVRSK commented on #2103
Ok.  Good to know!  I will test this out soon and let you know.  We are in the middle of a test cycle, so it might be a couple of days before I can get back to it.
Thanks for the heads-up on using SH vs 16x16 mips, too.

[2020-02-07 12:57] roxlu commented on #1966
Just ran into a similar issue.  Tested with both dxt5 and astc compression.  How can I figure out what image is causing this issue, then I can share it.

[code]

[2020-02-07 12:58] roxlu commented on #1966
See https://github.com/google/filament/issues/2057

[2020-02-07 15:12] romainguy commented on #1966
You're triggering an assert so it could be you're asking to use an unsupported compression format (astc on desktop?).

[2020-02-07 17:57] roxlu commented on #1966
I tested both and both triggered the same assert.

[2020-02-07 21:16] romainguy commented on #1966
Here are the assertions in that code path:

[code]

Could be an issue with the dimensions or offsets or mip levels you pass?

[2020-02-07 21:28] BStringhamVRSK commented on #1685
@romainguy Is transformation of vertices in the **Device** domain available now?
I am trying to set up some user interface elements (icons), and I was hoping to have all of them use the same vertex buffer, but transform them to the correct screen position and scale in the vertex buffer.
Currently, it appears that modifying the vertex buffer may be the only solution?

[2020-02-07 21:31] romainguy commented on #1685
You can set the `material.clipSpaceTransform` property in your vertex shader. It works no matter what domain you use, it will always be applied on  the clip space coordinates.

[2020-02-07 21:31] romainguy commented on #1685
See `Material vertex inputs` section at https://google.github.io/filament/Materials.html.

[2020-02-07 21:40] BStringhamVRSK commented on #1685
Ah, of course.  Thank you.

[2020-02-08 19:07] roxlu commented on #1966
I looked into this a bit more closely and I found two things that are maybe related to this issue.

**1. Multiples of 4**

When using DXT5 we are limited to image resolutions that are multiples of 4 or at least some compressors seem to be limited to this. The image that I was testing with has a resolution of 160x90. I used mipgen to compress with DXT5 and didn't see any error messages which might

[2020-02-08 20:23] roxlu commented on #1966
I just resized all my assets so that both width and height fit into the same mipmap level. When I debug my app I'm not running into that assert anymore.

[2020-02-09 19:55] an-kumar commented on #1818
Any update on this? Could you perhaps provide a sketch of how one could do post processing now before the exposure of frame graph?

Is there a way to use the post process material without the frame graph?

[2020-02-10 05:11] 2080717101 opened #2112 "How to extend shader in real time？"
Hello, I am curious about the shadingModel in sandboxLit.mat. How does LitModel (lit, unlit, subsurface, cloth, specularGlossiness) make use of main.fs and main.vs ? I've noticed that matc-tool could transfer .mat to .fiamat, which .fiamat could be identified by the engine.
    So, if I want to change .fs a little, what do I need to do to see the new results? Can you give me any ideas?
    Thank y

[2020-02-10 05:15] romainguy commented on #2112
If you change those files you need to rebuilt libfilamat and matc (and maybe libfilament). They are not meant to be modified at runtime. If you want to generate materials at runtime use libfilamat. What do you need to change?

[2020-02-10 05:15] #2112 closed

[2020-02-10 05:21] 2080717101 commented on #2112
Thanks again.
Actually, I want to output the directlight diffuse/specular, indirectlight diffuse/specular（ibl specular） separately, by changing the return functions (like surfaceShading) in shader.

[2020-02-10 05:23] romainguy commented on #2112
Yeah then you'll have to recompile all the libraries mentioned above and recompile your filamat files from mat files.

[2020-02-10 05:25] 2080717101 commented on #2112
Thanks again.
I'll try.

[2020-02-10 17:16] roxlu opened #2113 "Jagged Shadows: advice on shadows for large scene?"
I've got a scene that I created in Blender. The scene fits inside a box a box of about 1500m in Blender Units. When I render this scene with Filament the shadows  are jagged.  I've seen the `ShadowOptions` in `LightManager.h` but I'm not sure what properties will be good for a scene like this. Any advice on what properties I might want to try?

![image](https://user-images.githubusercontent.com/35

[2020-02-10 17:24] romainguy commented on #2113
Increase the shadow map resolution and reduce the `shadowFarHint`. The real solution will be when we implement cascaded shadow maps.

[2020-02-10 17:24] #2113 closed

[2020-02-10 20:20] roxlu commented on #2113
Thanks @romainguy. I did a couple of tests but none of the changes seem to have any effect. I know that the bounding boxes have an influence on this, so I verified my bounding boxes with the `RenderableManager::computeAABB()` and they are the same.  I tested with a sunlight with an intensity of 8, 10, 18,  pure white color and a direction of (0.10, -0.80, 0.40).

Are there other relevant settings/

[2020-02-10 21:45] romainguy commented on #2113
Sorry I meant you want a shadowFar and a shadowFarHint that are closer to the camera. Otherwise just make sure your bounding boxes are as tight as possible.

[2020-02-10 22:29] #2088 closed

[2020-02-11 01:32] cx20 commented on #2088
I have confirmed that the Fox model is displayed in Flat shading in the latest version of Filament. Thanks!
[Filament + Fox.gltf result:](https://rawcdn.githack.com/cx20/gltf-test/40886db64406301e84a307b7c85d6ac9e26a4f1b/examples/filament/index.html?category=sampleModels&model=Fox&scale=0.02&type=glTF)
![image](https://user-images.githubusercontent.com/1833979/74205151-72636a00-4cb9-11ea-92d3-c84d

[2020-02-11 20:38] #1729 closed

[2020-02-12 06:22] geroge-d commented on #1700
@pixelflinger hi ,could you please give some information about how to share depth buffer between render pass. thanks in advance

[2020-02-12 23:24] Yud07 opened #2127 "No implementation found for long Manipulator.nCreateBuilder()"
I created a modified version of the ModelViewer class from the utils and removed the glb components. The app builds just fine but it errors at runtime when attempting to instantiate the camera manipulator with error:

java.lang.UnsatisfiedLinkError: No implementation found for long com.google.android.filament.utils.Manipulator.nCreateBuilder() (tried Java_com_google_android_filament_utils_Manipula

[2020-02-13 00:42] prideout commented on #2127
Are you calling `Utils.init()`?

[2020-02-13 01:08] Yud07 commented on #2127
That solved it, thanks! I mistakenly thought Filament.init() would've invoked Utils.init() rather than the other way around.

[2020-02-13 01:08] #2127 closed

[2020-02-13 07:28] 2080717101 commented on #2112
Hello, I want to know what the light_iblDFG texture looks like in the PrefilteredDFG_LUT function? I noticed that it was generated by the engine in realtime from the file filament\generated\data\dfg.inc.
I've tried to use SystemLUT_IBR_Shader to generate this map in Unity. The specific algorithm is as follows.
RG channel is written by this
[code]
B channel is written by this
[code]
The result look

[2020-02-13 07:51] romainguy commented on #2112
I don’t understand what you are trying to do. Are you trying to use unity’s LUT in Filament? We generate our LUT with our custom tool called cmgen.

[2020-02-13 07:54] 2080717101 commented on #2112
Thanks for reply.
I want to use this filament's LUT in my unity project, but I don't know how to generate it.

[2020-02-13 08:02] romainguy commented on #2112
Use the cmgen tool that’s in Filament’s tree. Use —help to see which option to use to generate the DFG LUT. Unity probably already has its own DFG LUT though so I’m not sure how useful that is.

[2020-02-13 08:03] 2080717101 commented on #2112
Thanks again. I’ll try.

[2020-02-13 13:46] rawnsley opened #2130 "Compilation failure of filament Android library on macOS"
I'm getting the following build fail ([full text](https://github.com/google/filament/files/4198613/build-fail.txt)):

[code]
In case it's relevant, I normally do a clean compile from the command line using the following command:

`git clean -fdx; ./build.sh -p desktop -i release; ./build.sh -p android -i release
`

I narrowed down the change where it started to [this commit](https://github.com/goo

[2020-02-13 15:00] romainguy commented on #2130
Make sure you have Android Studio 3.6 and do a clean build first (build.sh -c).

[2020-02-13 18:50] rawnsley commented on #2130
I still get the same problem. I've installed Android Studio 3.6 RC 3, checked for updates, rebooted my Mac, cleaned the build, and run a git clean for good measure.

Am I missing some other update? I'll confess I'm not exactly sure where all the build tools live.

[2020-02-13 19:06] romainguy commented on #2130
The only place where we check this property is properly guarded:

[code]

Your build logs also mention a missing `compileSdkVersion` but it is present in the gradle file.

What version of Filament are you trying to build? Would you mind trying a brand new checkout?

[2020-02-13 19:55] rawnsley commented on #2130
A brand new checkout on the master branch has the same problem. I can see the property check as well and no other references except in a tungsten folder, but that's an assignment.

[2020-02-13 20:14] romainguy commented on #2130
One last thing to try: rm -rf ~/.gradle

[2020-02-13 20:46] rawnsley commented on #2130
OK that fixed it! That also explains why I saw some hysteresis going back-and-forth looking for the check-in that "broke" the build.

Thank you for your help.

[2020-02-13 20:46] #2130 closed

[2020-02-15 08:09] geroge-d opened #2138 "Any way to share depth texture on different render passes?"
Hi guys
  We want to render a large scene with thousands of models on mobile , so if we render it in one pass, it will be out of memory. We want to render it in multiple passes, like below, but the filament automatically clears the depth buffer ,despite we call setClearTarget( false,false,false) of view before rendering.
So could you guys please give me any clue to implement this process? thanks i

[2020-02-15 08:14] geroge-d commented on #2138
We found related codes  below in render.cpp,comment the filament original codes replaced by  TargetBufferFlags clearFlags = TargetBufferFlags(viewClearFlags);   BUT it still doesn't work. And then , we found another code snipet in Framegraph ,but don't figure out how to implement it
Code in Render.cpp:
  // We only honor the view's color buffer clear flags, depth/stencil are handled by the FrameGr

[2020-02-17 13:50] kanawish opened #2140 "`build.sh` errors out on mac when using `ninja`."
**Describe the bug**
When I try to follow the build instructions on mac, `build.sh` errors out.

[code]

[2020-02-17 14:00] kanawish opened #2141 "`build.sh` errors out on mac when using `ninja`."
**Describe the bug**
When I try to follow the build instructions on mac, `build.sh` errors out.

My environment:
[code]

Error log:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `rm -rf ./out` or a fresh `git clone` of `master` on Feb 15/16 2020
2. `./build.sh` for `debug`/`release`, or `./build.sh -i -p android debug`, etc, all break after the config step like above.

Things work f

[2020-02-17 16:32] prideout commented on #2141
Thanks for the bug report!  Note that in `BUILDING.md`, we require CMake 3.14 or higher.  I am unable to repro with CMake 3.14 + Ninja 1.10

[2020-02-17 16:51] kanawish commented on #2141
I totally missed that. Upgrading Cmake indeed seems to have fixed my issue, my build is up and running now.

Thank you!

[2020-02-17 16:51] prideout commented on #2141
No problem :)

[2020-02-17 16:51] #2141 closed

[2020-02-18 13:55] joelmcallister opened #2142 "Windows build fails with MSVC 2017 nmake"
I have attempted to follow the make instructions, but it has failed with the following error:

[code]

.. using the makefile and main.cpp file described in the "Linking against Filament" section [here](https://github.com/google/filament/tree/master/filament), and executed in "x64 Native Tools Command Prompt for VS 2017".

Any help or advice would be greatly appreciated.

[2020-02-18 23:05] bejado commented on #2142
Can you try building with VS 2019 instead? All of our pre-released binaries are built with 2019.

[2020-02-18 23:20] romainguy commented on #2138
@pixelflinger

[2020-02-18 23:21] romainguy commented on #2140
What errors are you getting? Was this due to the CMake version?

[2020-02-18 23:21] #2140 closed

[2020-02-19 08:28] an-kumar opened #2144 "Add iOS simulator to releases"
It would be great to add the simulator build to the releases. Currently it’s the only platform not provided (as far as I can tell), and it’s very useful — would be great to not have to build filament at all and just use the provided releases, but the simulator build is too valuable to give up.

Are there any issues with this I’m not seeing?

[2020-02-19 15:59] prideout commented on #1932
This is something that we can look into soon.  Romain already has an upstream PR:
https://github.com/jkuhlmann/cgltf/pull/106

[2020-02-19 18:36] bejado commented on #2144
The only downside is that it increases the build time for releases, but I think this is a reasonable tradeoff. Note that at the moment, only the OpenGL backend has been tested with the iOS simulator.

[2020-02-19 18:42] BStringhamVRSK commented on #1685
I encountered a strange problem that I'm not sure how to fix.  Here is the code in my vertex shader, which is intended to scale and position a UI icon on the screen.  It works fine on one machine, but fails on a different one.  On the machine that fails, the X scale factor works, but the Y does not, which stretches the icon vertically.  I am putting the matrix values in directly, is there some pro

[2020-02-19 18:49] prideout commented on #1685
Are both of your two machines using the backend?  i.e. are they both using OpenGL?  To double check you can look at your console, you should see a message that looks like this:

    Filament library loaded.
    FEngine (64 bits) created at 0x10fe87000 (threading is enabled)
    FEngine resolved backend: OpenGL

[2020-02-19 19:07] BStringhamVRSK commented on #1685
I don't see those messages on either machine, but we are in a .NET environment, so perhaps they are getting suppressed?  I believe it is using OpenGL.  I will try explicitly setting the backend to OpenGL to see if that makes a difference.

[2020-02-19 19:18] prideout commented on #1685
Well it is likely they are both using OpenGL.  This is a really strange machine-to-machine difference.  Also, make sure that the materials are getting compiled the same way on the two machines, using the same version of matc etc.  Hmm....

[2020-02-19 19:30] BStringhamVRSK commented on #1685
I get the same result when explicitly setting OpenGL as backend.  The materials should be both using 1.4.5 to build.
I wish RenderDoc would let me debug the shader so I could see the actual values in the matrix.  I wonder if I need to set the rest of the matrix to identity values?  I could try that.

[2020-02-19 20:26] roxlu opened #2146 "Undefined reference `__powf_finite` with clang 9.0.1, Linux 5.5.4-arch1-1 and glibc 2.31-1"
Clang fails to compile Filament with a recently updated linux system. When using the `-ffast-math` flag you'll run into errors like: `undefined reference to __powf_finite`. You can still build Filament by adding `-fno-builtin` to you `CXXFLAGS`.

[2020-02-19 20:26] #2146 closed

[2020-02-19 22:07] BStringhamVRSK commented on #1685
Here is the disassembled vertex shader.  What I suspect is happening, is that (on the misbehaving machine) when those matrix copies/assignments are happening, it is only getting the first row of the matrix and the rest becomes identity.  The net result would be that my X scale gets copied all the way down, and the final Y translate gets assigned before the matrix is used in final multiply (matrix

[2020-02-19 22:17] prideout commented on #1685
Looks like a bug on the part of the GPU vendor.  Out of curiosity what GPU is this?  To work around it, you can try adding the -g or -S option to your matc invocation.

[2020-02-19 23:49] BStringhamVRSK commented on #1685
The failing machine is using an NVidia 2070 Super.  You're probably right that the NVidia optimizer may be getting too aggressive.

The -g option does work, as expected.  Thanks.

[2020-02-20 01:01] romainguy commented on #1685
`-g` disables Filament's offline optimizer. It would be good to verify whether the issue is on our side in `spirv-opt` or in the Nvidia drivers.

[2020-02-20 01:04] BStringhamVRSK commented on #1685
Do you want me to send you my material file?  Or, could I test it here somehow?  I also tried -S, but that had no effect.

[2020-02-20 01:08] romainguy commented on #2142
Don't we require msvc 2019 anyway for proper C++14/17 support?

[2020-02-20 03:59] romainguy commented on #2092
BTW I realize I already did the other important bit of not using normalized vectors: https://github.com/google/filament/pull/1813

[2020-02-20 08:50] an-kumar commented on #2144
Yeah, that’s fine, it’s still very useful for development.

[2020-02-20 09:51] joelmcallister commented on #2142
Thank you, that was exactly what the problem was. To give some context, I was attempting to use Filament under Qt on Windows, which has proved tricky since Qt does not have support for MSVC 2019.

[2020-02-20 09:51] #2142 closed

[2020-02-21 17:53] prideout opened #2151 "sample-gltf-bloom asserts in emulator"
This demo now asserts with "color attachment not set" on Emulated Pixel 3, but not on Physical Pixel 4.

It occurs when building a Filament `RenderTarget` object with a 16F texture (both usage bits) + 24 depth.  I think this demo was working in the emulator a few weeks ago.

[code]

(btw we should probably rename this demo to `sample-rendertarget` since we have real bloom now, or maybe it replace

[2020-02-21 23:08] #2151 closed

[2020-02-23 13:49] stasgora commented on #2146
Running into the same problem here, have you been able to figure out the cause and a proper solution other than adding -fno-builtin manually?

[2020-02-23 16:40] Realitian opened #2156 "Shadow Volume support?"
Hi,
Filament has shadow volume support in future?
In some case like building exterior, the shadow volume is good for sharp shadow.

[2020-02-23 18:35] stasgora commented on #2146
After a little digging that's what I figured out:
The issue is introduced with the 2.31 version of the GNU C Library.
The following symbols from LLVM libc++ math.h become undefined:
[code]
Looking at the [changelog](https://sourceware.org/ml/libc-announce/2020/msg00001.html) the cause seems to be:
[code]

[2020-02-23 19:38] romainguy commented on #2156
Hi, unfortunately this is not a feature we plan on supporting. We do however want to add cascaded shadow maps and E/VSM.

[2020-02-23 19:38] #2156 closed

[2020-02-24 18:47] yongtang opened #2159 "macOS build of v1.4.5 unable to exit cleanly when in OpenGL mode"
**Describe the bug**

I was playing with Filament on macOS, and noticed that with OpenGL mode, the program could not exit cleanly (hangs). If I switch to Metal mode the program exited fine. See next sections for details.

Since Metal works fine, this issue may not be as high. Though ideally it would be good to see OpenGL works as well. Or maybe I am missing some of the steps in OpenGL mode?

**To

[2020-02-24 23:19] romainguy commented on #2159
I can repro. @pixelflinger, just add a new sample containing the code at https://github.com/yongtang/demo/blob/master/demo.cc. After running it, the sample is stuck in:

`filament::PlatformCocoaGL::makeCurrent(filament::backend::Platform::SwapChain*, filament::backend::Platform::SwapChain*)`

[2020-02-24 23:20] romainguy commented on #2159
@yongtang Note that Filament will exit cleanly if you render into a visible window. The bug only happens in your specific case (we run OpenGL tests on macOS daily).

[2020-02-24 23:23] romainguy commented on #1164
Bloom is now implemented, as is screen-space refraction (not reflection). For anti-aliasing we will stick with FXAA and MSAA for the time being, TAA imposes requirements we're not ready to take on ourselves nor ready to impose on users. I'll close this request for now.

[2020-02-24 23:23] #1164 closed

[2020-02-24 23:24] romainguy commented on #1018
Work for shadowed spotlights is ongoing. It should be available soonish.

[2020-02-24 23:25] romainguy commented on #1215
We now always have a depth buffer by default.

[2020-02-24 23:25] #1215 closed

[2020-02-24 23:26] romainguy commented on #1223
Is this still valid?

[2020-02-24 23:28] romainguy commented on #1472
Depth-prepass is now gone and won't cause anymore issues.

[2020-02-24 23:28] #1472 closed

[2020-02-24 23:30] romainguy commented on #1817
Spherical harmonics are not required anymore btw, and you can use `libibl` to do the prefiltering.

[2020-02-24 23:30] #1817 closed

[2020-02-25 02:15] #1431 closed

[2020-02-25 17:39] prideout opened #2164 "getDefaultInstance() has regressed (desktop + web)"
- `triangle.html` and `skinning.html` are invisible.
- `vk_hellotriangle` is invisible, even when using GL backend.

[2020-02-25 18:06] prideout commented on #2164
The issue goes away when I replace `getDefaultInstance()` with `createInstance()`.

[2020-02-25 18:20] romainguy commented on #1798
@bejado is this issue still valid?

[2020-02-25 18:21] #1677 closed

[2020-02-25 18:24] #1314 closed

[2020-02-25 18:25] romainguy commented on #1552
Is this still an issue?

[2020-02-25 18:25] romainguy commented on #1609
@prideout Was this fixed?

[2020-02-25 18:36] prideout commented on #1609
This has not yet been fixed.

[2020-02-25 18:44] bejado commented on #1798
This should be fixed—the Metal backend now supports ETC compression.

[2020-02-25 18:44] #1798 closed

[2020-02-25 21:43] #2164 closed

[2020-02-26 07:38] pixelflinger commented on #2159
Yeah, I think this one will be tricky -- this is because of the hack we had to do on macos where we send a message to the main thread. In the case of tests, the main thread never runs.

[2020-02-27 10:00] rawnsley opened #2175 "Using the FilamentToolsPlugin"
What's the correct way to include the FilamentToolsPlugin tasks in an Android project for things like material compiling? Where should we set the path for the filament tools?

[2020-02-27 13:10] rawnsley opened #2176 "Android fails to load library on older devices"
When initializing the library on an Android 22 device I get an error like this:

[code]

Following [this suggestion](https://stackoverflow.com/a/59649817/671393) I tried compiling with targetSdk = 22 and the problem went away. It would appear that _hash-style=both_ should to be added to the compiler options if we want to maintain backwards compatibility.

[2020-02-27 15:27] romainguy commented on #2175
This plug-in is not intended for general consumption at this point. But you can just copy buildSrc into your project to use it as is. The plug-in source contains comments explaining how to set the path to filament tools.

[2020-02-27 15:27] #2175 closed

[2020-02-27 17:33] #2159 closed

[2020-02-27 18:10] yongtang commented on #2159
Thanks @pixelflinger @romainguy for the fix ! I dowloaded the artifact from the build in #2173 and now the program works as expected. 👍

[2020-02-27 18:13] romainguy commented on #2176
Lowering the target SDK is not an option for us, however `-Wl,--hash-style=both` (or `sysv`) is an acceptable solution.

[2020-02-27 18:33] yongtang opened #2177 "macOS encountered a N5utils18PostconditionPanicE with backedColor material in Metal mode"
**Describe the bug**

Sorry to bother again. I continue to play with macOS (Catalina) and noticed that if I try to create a material with a simple backedColor like below:
[code]

then in Metal mode the following error happens:
[code]

**Note if I switch to OpenGL mode then the crash is gone.**

**To Reproduce**
Steps to reproduce the behavior:
1. The sample code is located in https://github.com/yo

[2020-02-27 18:35] romainguy commented on #2177
All of our Metal samples work (and they all load unlit materials). Did you build `matc` yourself or is it a prebuilt? We made recent changes to materials which breaks compatibility with older `matc` versions.

[2020-02-27 18:37] romainguy commented on #2177
Although I think we stopped using the header file forma for materials, maybe there's something broken there? We now use `resgen` instead.

[2020-02-27 18:38] yongtang commented on #2177
@romainguy I download the `matc` from the same artifact in #2173 and the program I build is linked to the same library in the artifact. The `bakedColor.mat` file is from the sample directory in filament (https://github.com/google/filament/blob/master/samples/materials/bakedColor.mat)
[code]

[2020-02-27 18:42] yongtang commented on #2177
@romainguy wondering if there is some "getting started" documentation about C++? I saw documentations in other languages but couldn't find a C++ documentation to get started. (The filament/samples directory has quite some library dependencies like SDL, not very easy to follow without prior background).

[2020-02-27 18:44] romainguy commented on #2177
Unfortunately the best "getting started" is in our `README` and not terribly useful. Check out the `README` of `resgen`, it might explain how to use it (`resgen` generates a `.S` file and a header file from a binary — it can be a material or anything else — and thus offers a much more efficient way to embed binaries compared to the `#include` solution you're using).

[2020-02-27 19:06] bejado commented on #2177
By default, `matc` only compiles materials for the OpenGL backend. To compile for Metal as well, update the arguments to:

[code]

That fixes the crash.

[2020-02-27 19:06] #2177 closed

[2020-02-27 19:16] yongtang commented on #2177
@bejado The updated command fixed the issue, thanks for the help!

@romainguy Thanks for the pointers. I will take a look at `resgen`.

[2020-02-27 19:17] romainguy commented on #2177
@bejado We should probably improve the error message to indicate the material doesn't contain shaders for the selected backend (which I believe we used to have?)

[2020-02-27 19:30] #2176 closed

[2020-02-27 19:31] romainguy commented on #2176
Let me know if this doesn't fix the problem

[2020-02-28 10:47] rawnsley commented on #2176
The good news is that it fixes the problem (although the linker throws some warnings about unused parameters). The bad news is that compiling for API 23+ brings back [this other runtime link error](https://github.com/google/filament/issues/594).

The [official advice](https://android.googlesource.com/platform/bionic/+/master/android-changes-for-ndk-developers.md#available-in-api-level-23) suggests

[2020-02-28 11:22] rawnsley opened #2184 "Material compiler exception when using Optimization::NONE on Android"
Turning off optimization in the material compiler throws exceptions during the GLSL compilation at runtime. For example:

[code]
I triggered this error by including the _-g_ parameter on the command line for _matc_ in the MaterialCompiler build task and running the lit-cube sample on Android.

It's not a real problem in this example, but compiling with optimization is not an option when using the

[2020-02-28 13:33] rawnsley commented on #2130
This problem has cropped up again in a slightly different context and I seem to have made it go away by changing the accessor slightly. I replaced...

[code]
...with...

[code]
Matching _project.hasProperty_ with _project.property_ rather than relying on the $ property lookup syntax.

[2020-02-28 15:11] romainguy commented on #2176
Weird I’m not getting compilation warnings. Note that the targetSdk is set to 21 for the native code (via the -D flag). This hasn't changed.

[2020-02-28 15:48] rawnsley commented on #2176
I'm building from to command line on MacOS. Here's an example warning:

[code]
Regarding the targetSdk: where is it set to 21? In android/build.gradle buildscript.ext.versions sets the variable targetSdk to 29 and then it appears to be used everywhere, i.e. for targetSdkVersion and -DANDROID_PLATFORM.

[2020-02-28 15:51] romainguy commented on #2176
Ah, if it's used for `-DANDROID_PLATFORM` it's a mistake, it should be 21 there. I'll fix it. You shouldn't get these warnings since I added `-Wno-unused-command-line-argument` (precisely to suppress those).

[2020-02-28 15:55] romainguy commented on #2176
Alright I checked in a fix, let me know if that fixes the issue.

[2020-02-28 17:20] romainguy commented on #2130
Thanks, that's a great catch. I must have introduced that regression during the move to a Gradle plugin.

[2020-02-28 17:28] romainguy commented on #2184
I cannot reproduce either by running `matc` manually or by changing the samples to use `-g` when compiling the materials. Looks like the bug might be in the device's shader compiler itself?

[2020-02-28 17:36] bejado commented on #2184
The only place we use `"` inside shaders is within comments. I'm wondering if somehow a comment isn't getting stripped properly, or a specific OGL driver is getting tripped up.

[2020-02-28 17:41] romainguy commented on #2184
Looking at this:
`0:1134: L0001:`

It could be that the shader is sent to the driver on a single line?

[2020-02-28 17:47] bejado commented on #2184
Actually, inside `light_indirect.fs` we do use quotes outside of a comment:

[code]

I'd bet its a finicky driver complaining about the use of quotes there.

[2020-02-28 17:55] romainguy commented on #2184
I suggest we ditch this then. Just remove the #else and the #error. It doesn't give us much anyway.

[2020-02-28 18:00] rawnsley commented on #2184
I can confirm it's only failing on the Mali-T and compiles fine on an Adreno device. I've attached the filamat and the extracted GLSL that's failing at line 1141. As @bejado suspected it seems to be the quotes in the error message.

[Archive.zip](https://github.com/google/filament/files/4268379/Archive.zip)

[2020-02-28 18:50] #2184 closed

[2020-02-29 12:08] rawnsley commented on #2176
I expect this will fix it, but I'm getting an unrelated compilation error on the master branch at the moment:

../../../../src/main/cpp/SurfaceOrientation.cpp:153: error: undefined reference to 'filament::geometry::SurfaceOrientation::getQuats(filament::math::details::TQuaternion<filament::math::half>*, unsigned int, unsigned int) const'

Possibly the one you are trying to [fix here](https://githu

[2020-02-29 16:41] romainguy commented on #2176
That error still makes no sense to me. Changing the API level has nothing to do with this. My fix was simply to use a newer NDK. I wasn't able to reproduce the compilation failure on my machine and the only difference was I am using NDK 21.

[2020-02-29 16:59] rawnsley commented on #2176
I think the compilation error came somewhere between tag 1.4.5 and this change. I'll try and narrow it down and figure out what's going wrong.

[2020-03-01 07:56] pixelflinger commented on #2138
In addition to call `setClearTarget`, you also need to call  `setRenderTarget` to set the discard flags properly:
Like this: `view->setRenderTarget(nullptr, TargetBufferFlags::NONE);`

Please let us know if this helps.

[2020-03-01 20:26] ebachard commented on #334
Hello,

Just FYI, there is a similar issue with Dear ImGui (vulkan + SDL2  backend). See https://github.com/ocornut/imgui/issues/2626 for further information.

I traced a bit, but I'm not able to solve the issue, and didn't find any serious track. Excepted a workaround, as explained in the issue above.

[2020-03-02 11:02] rawnsley commented on #2176
False alarm! I has not noticed that my NDK was out of date. Updating from 20.0.5594570 to 21.0.6113669 made the compilation problem go away. Apologies for the confusion.

I can confirm that the library now loads properly at runtime.

[2020-03-02 11:55] #1552 closed

[2020-03-02 12:09] geroge-d commented on #2138
i have aready tried this method ,and export method to java. it doesn't work

[2020-03-02 12:47] geroge-d commented on #2138
in source codes, we found filament clear user -set depth clear flag. @pixelflinger
TargetBufferFlags clearFlags = (TargetBufferFlags(viewClearFlags) & TargetBufferFlags::COLOR)
 | TargetBufferFlags::DEPTH;

[2020-03-02 14:05] BillyUSA opened #2190 "memory error when using opengl on win10 x64 with msvc 2019"
![error callstack](https://user-images.githubusercontent.com/11308319/75683236-bacae200-5cd1-11ea-97f1-dcd6bb500ed1.png)

[2020-03-03 00:16] pixelflinger commented on #2138
I think this might be a bug in filament.  I will look into it but it might take a few days.

[2020-03-03 02:27] romainguy commented on #2190
Does this happen by just running the point sprites sample app or do you do something else?

[2020-03-03 02:31] BillyUSA commented on #2190
just running the point sprites sample app, crash point is random. other app such as material_sandbox also happen this error.
Git clone source , cmake gen solution ,then build ,run ,error happen.

[2020-03-03 02:31] joelmcallister opened #2196 "./build.sh raises error " 'cstdef' file not found""
./build.sh fails on Ubuntu 18.04.

Clang version 7.0.0.3
Cmake version 3.16.4
Ninja version 1.8.2

[code]

[2020-03-03 05:33] romainguy commented on #2196
Do you have `libc++-7-dev` and `libc++abi-7-dev` installed (or newer versions)?  Those missing includes are just standard C++ headers.

[2020-03-03 05:39] geroge-d commented on #2138
Thanks.  We expect this fix to update our app

[2020-03-03 06:54] sqaaa opened #2197 "Filament crash when using Motorola Moto G7 Play"
Hello everybody! We're using sceneform for rendering 3d objects in our android app. So we have a native filament crash right after render started to work and few seconds passed.

**To Reproduce**
Just start app with rendering with sceneform

**Expected behavior**
No crashes

**Screenshots**
![image](https://user-images.githubusercontent.com/11176780/75749891-f1394900-5d33-11ea-9fae-bf579c573d6a.pn

[2020-03-03 06:56] romainguy commented on #2197
Thanks for the report. Does this reproduce with *any* Sceneform app? The fact that it's raising a `SIGILL` is a  little scary.

[2020-03-03 06:57] romainguy commented on #2197
@pixelflinger Do you think it could be caused by Sceneform not using the same compiler flags we use? I  know we carefully picked which architectures/CPU types to compile against.

[2020-03-03 07:46] joelmcallister commented on #2196
Yes, both `libc++-7-dev` and  `libc++abi-7-dev` are installed on the machine, and they can both usually be linked fine..

[2020-03-03 07:57] sqaaa commented on #2197
It's difficult to say. I don't know which app using sceneform under the hood but I can check it thought google examples for sure. (I will ckeck this out)
But it can be useless because we're using pretty difficult models which may contains several parts connected to each other

Little update, now I have instant crash right after app starting to work, no delay for render a bit like before.
Here stac

[2020-03-03 08:10] sqaaa commented on #2197
I checked out sample with solar system by google `sceneform + ar.`
So I have same crash after a while
![image](https://user-images.githubusercontent.com/11176780/75755344-7d04a280-5d3f-11ea-9a3d-7abcd7496d75.png)

[2020-03-03 09:00] joelmcallister commented on #2196
The problem also occurs when using `cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../release/filament ../..` instead of `./build.sh`.

[2020-03-03 09:55] joelmcallister commented on #2196
Solution:  CMAKE_C_COMPILER and CMAKE_CXX_COMPILER and were defaulting to gcc and g++

[2020-03-03 09:55] #2196 closed

[2020-03-03 21:52] prideout opened #2198 "Need JS bindings for AmbientOcclusionOptions and BloomOptions"

[2020-03-04 15:09] crazycoderx2 commented on #2190
The one error is here:
https://github.com/google/filament/blob/73e0facaeddf8f079b3f7f5dff5fb8173b46577d/samples/gltf_viewer.cpp#L317
Using c_str() for temporary object.
But it's not the only one.

[2020-03-04 15:24] romainguy commented on #2190
Good catch! @prideout

[2020-03-04 15:45] prideout commented on #2190
As per the ResourceLoader documentation, the string pointer not retained, instead its contents are immediately copied.

We should probably do some ASAN testing, I haven't done that it in a while.

[2020-03-04 16:26] brukted opened #2204 "A feature to get the low level texture"
**Describe the solution you'd like**
A way to access the low level texture like open gl or vulkan.So  it can be manipulated in open cl or other shaders.

[2020-03-04 16:27] romainguy commented on #2204
Thanks for your request. However this is not the kind of things we want to expose in our APIs.

[2020-03-04 16:27] #2204 closed

[2020-03-04 16:43] #2198 closed

[2020-03-04 17:31] brukted commented on #2204
Can you tell me what to modify to get it?

On Wed, 4 Mar 2020, 7:27 pm Romain Guy, <notifications@github.com> wrote:

[2020-03-04 17:56] pixelflinger commented on #2138
Okay so looking at this more, it turns out that we don't support this use case at all. This is because the depth buffer is not retained between Views, because it only exists in the internal framegraph.
When drawing several Views, they're not fact drawn into the same framebuffer -- they're just blended in. In other words, Views are totally independent.

There is one exception to this though, which

[2020-03-05 02:26] pixelflinger commented on #2197
I see the app is running in 32-bit mode, is that expected? Are you able to try in 64-bit mode?

@romainguy We're targeting the cortex-a15 and the G7 Play is using a cortex-a53, so we should be good here.

[2020-03-05 02:29] geroge-d commented on #2138
Thanks for your reply @pixelflinger
First, we only render onto the same view
Second,  when render a very large scene, the gpu memory runs OOM. So we want this rendering pass be split into two steps, which renders a part of scene
Third, We will give a try to disable post-processing

[2020-03-05 05:58] pixelflinger commented on #2138
Can you tell me more about the OOM, I would like to understand that. What's the actual error?

[2020-03-05 08:53] sqaaa commented on #2197
How do I do this? Btw I just run app through android studio "run" without any specific flags

[2020-03-05 12:59] crazycoderx2 commented on #2190
I've got gtlf_viewer working by reverting:
9358c7313e7db106d8c073923e27235e75a38c55
651ccb183edd671032e9991f91fab128502e14b6
079056cfbc0033ca86bf1948cfc907ad25b6764b

[2020-03-05 15:37] unicomp21 opened #2211 "Protocol buffers"
**Is your feature request related to a problem? Please describe.**
We need schema for our messaging within filament within webgl.

**Describe the solution you'd like**
Protocol Buffers.

**Describe alternatives you've considered**
none

**OS and backend**
In this case, it is a front-end concern.

Please forgive me if this is off-topic, but I am struggling to make protocol buffers work w/ emscripte

[2020-03-05 15:52] prideout commented on #2211
What does "messaging within filament within webgl mean"?

[2020-03-05 15:52] #2211 closed

[2020-03-05 16:28] prideout commented on #2190
I see some ASAN failures with macOS, let me fix those up, maybe it will fix your issue.

[2020-03-05 16:34] unicomp21 commented on #2211
When using websockets from an html5 single page app, compiled w/ emscripten, we need to be able to use protocol buffers for messages on the websocket.

[2020-03-05 16:35] unicomp21 commented on #2211
How are most devs handling their messages now when using filament on webgl?

[2020-03-05 16:43] prideout commented on #2190
Aside from the usual issues we see in glslang, the only ASAN failure that I see is due to the transient string lifetime issue that you found.  I'll go ahead and fix that (my fault).

[2020-03-05 16:59] prideout commented on #2211
Filament's WebGL 2.0 backend can be used in any of the following ways:

1. You can use Filament's JavaScript API.
2. You can use Filament's TypeScript API.
3. You can use Filament's C++ API by building your own wasm module.

Our sample apps and tutorials use (1).  The `google/model-viewer` project uses (2).

Sounds like you need some sort of client-server communication protocol that is outside the

[2020-03-05 17:26] unicomp21 commented on #2211
Within C++ for html5/emscripten/webgl, it would be really nice if we could use Google Protocol Buffers cc: @romainguy

[2020-03-05 17:27] romainguy commented on #2211
I don't see why you can't? Additionally this is completely unrelated to Filament and our team has no experience/expertise with Protobufs. We can't really help you here unfortunately.

[2020-03-05 18:04] prideout commented on #2211
Are you writing an Electron app?  If so, your filament API calls would live in the Renderer process,  not in the Main process.  I would imagine sending high-level JSON messages over Electron's built-in ipc mechanism, rather than trying to marshal the entire Filament API.

[2020-03-05 19:46] bejado commented on #2190
I can confirm that 651ccb18 appears to introduce the issue. The commit before works just fine, but anything including and after 651ccb18 has the memory crash, though I can't imagine why. We suspect it might be a red herring.

[2020-03-05 20:30] bejado commented on #2190
I added the following assert to IndirectLight.h. Note that `FIndirectLight` contains a `math::mat3f mRotation` member variable.

[code]

On certain files this fails, but succeeds on others:

[code]

My working hypothesis is that this has to do with the include order between `mathfwd.h` and *actual* math includes, like `<math/mat4.h>`. If `mathfwd.h` comes before an actual math header, then MSVC is

[2020-03-05 20:43] romainguy commented on #2190
We've had similar issues with msvc before.

[2020-03-05 22:35] byjinglemen opened #2213 "Linking to sample app suzanne"
I am attempting to run the sample app suzanne by linking to the precompiled libraries. When the sample apps are compiled by compiling the whole source code, everything works fine, however when I attempt to instead link to the precompiled libraries, I get the following error:

[code]

[2020-03-05 23:02] prideout commented on #1932
Status update: we're actively working on this (and, thanks to Romain, the cgltf side is done) however we're doing some internal refactoring first.

More specifically, the old "bindings" concept (used to send information from AssetLoader to ResourceLoader) is really getting in the way, it is private now but I want to remove it entirely and just talk to cgltf directly.  After that, the Draco support

[2020-03-06 00:53] romainguy commented on #2213
This error has nothing to do with linking. It looks like you are using a different `matc`? Which version of `matc` are you compiling with? Did you modify the materials?

[2020-03-06 01:46] #2190 closed

[2020-03-06 02:18] BillyUSA opened #2216 "TransformManager Instance error after destroy one"
after detroy one TransformManager instance for an entity, if create new one TransformManager Instance for new one entity, the TransformManager Instance got  is the exist one for other entity

![1](https://user-images.githubusercontent.com/11308319/76043770-766e6900-5f93-11ea-9a43-21dae0e23dd3.png)
![2](https://user-images.githubusercontent.com/11308319/76043775-7a01f000-5f93-11ea-82ac-308aea75fb48

[2020-03-06 02:36] romainguy commented on #2216
Could you please show your code? Note that instances are only *temporary handles*. You must query the instance every time.

[2020-03-06 02:59] BillyUSA commented on #2216
like this:
Entity = CreateEntity();
TransInst=getTransformManager::create(Entity);   //for later use
after replace TransInst by  getTransformManager::getInstance(Entity) ,no assertion happened

[2020-03-06 02:59] #2216 closed

[2020-03-06 03:08] byjinglemen commented on #2213
Thank you, yes I was using a slightly different version of `matc`.

If I want to take one of sample apps (for example, suzanne), and decouple it so I can compile it without having to recompile the entire source code, how would I do that? I have been really struggling to achieve this...

Thanks

[2020-03-06 03:24] romainguy commented on #2213
You should be able to download one of the binary releases from the GitHub page and compile/link against the static libraries that are part of the binary release. The sample apps rely on SDL2 so you'll need to link against that as well. That said you'll also have to choose versions of the samples that match whatever release you downloaded: we often update the samples as we add new APIs, etc. so the

[2020-03-06 03:24] #2213 closed

[2020-03-06 06:04] geroge-d commented on #2138
the issue 2057 ,we have reproduced it before,and we fix it by increasing this to a 9M buffer size.
Now the oom we met ,is caused by rendering a very large scene, the gpu cannot allocate more memory to render the models . We saw GPU memory footprint is about over 1 GB in Android studio.  So, we want to split the orginal render pass into two or more render pass, in order to fix the oom issue.

[2020-03-06 11:10] BillyUSA opened #2219 "lightbulb app run with -m will no response on win10 , opengl backend"
may be a long loop at this:

 template<typename F>
    void forEachSetBit(F exec) const noexcept {
        for (size_t i = 0; i < N; i++) {
            T v = storage[i];
            while (v) {
                T k = utils::ctz(v);
                v &= ~(T(1) << k);
                exec(size_t(k + BITS_PER_WORD * i));
            }
        }
    }

 storage value : {4294967297, 4294967296, 0, 0}

[2020-03-06 16:30] romainguy commented on #2219
This loop iterates over bit set, it shouldn't take long even with those values.

[2020-03-07 01:34] bejado commented on #2219
I'm able to reproduce this, it looks like `forEachSetBit` is getting into an infinite loop somehow.

[2020-03-07 21:54] #2197 closed

[2020-03-08 07:55] pixelflinger commented on #2138
You're definitely outside of the use cases we had in mind!  Okay, in that case, your only option right now, is to disable post-processing and to wait for a fix for the depth buffer clear (hopefully shortly).

In the long term, a better solution would be for us to handle this -- i.e. split the scene rendering into several render passes (I'm assuming this is the problem here).

Are you able to tell

[2020-03-09 08:10] geroge-d commented on #2138
our app is a video editor with function 3d modeling. sometimes artists will make a video with about   100-500 layers , which have about hundred or thousand of vertices and a lot of textures. So in this situation , the filament will crash if we render it in one pass

[2020-03-09 14:58] romainguy commented on #2138
Are you running out of memory in filament's command buffer? Or is it gpu memory that's an issue? If the former there's a much simpler fix.

[2020-03-10 00:07] bejado commented on #2219
`details::ctz(0x100000000)` returns `63`, when it should return `32`.

[2020-03-10 01:12] romainguy commented on #2219
That would explain :)

[2020-03-10 02:15] geroge-d commented on #2138
No , it is not caused by the command buffer  . the gpu memory is the issue

[2020-03-10 15:53] AlexanderPattison opened #2228 "Using the build script to make a debug build fails in making an ASM object for shaders."
**Describe the bug**
Using the build script to make a debug build fails in making an ASM object for shaders.

**To Reproduce**
./build.sh -c debug

**Bash Info**
ubuntu@ubuntu:~/Documents/GitHub Projects/googlefilament/filament$ ./build.sh -c debug
Warning: JAVA_HOME is not set, skipping Java projects
Cleaning build directories...
Building debug in out/cmake-debug...
-- The C compiler identificati

[2020-03-10 16:07] Realitian opened #2229 "Does support the multiple light?"
Filament does support the multiple light?
I tried to add 8 directional lights in the scene, but I could only last light had enabled.
How can I enable multiple light?

[2020-03-10 17:02] romainguy commented on #2229
Filament supports many point and spot lights, but only 1 directional light at a time.

[2020-03-10 17:02] #2229 closed

[2020-03-10 17:05] romainguy commented on #2228
Looks like spaces are not properly handled in a path: `clang: error: no such file or directory: 'Projects/googlefilament/filament/out/cmake-debug/shaders/generated'`

It should be `/home/ubuntu/Documents/GitHub Projects/googlefilament/filament/out/cmake-debug/shaders/generated`.

@AlexanderPattison As a workaround, build from a directory without spaces in its path.

@prideout Can you check if it's

[2020-03-10 18:05] Realitian commented on #2229
I tried to run the multiple point light sample, but it didn't work.
`lightbulb.exe -m ..\assets\models\monkey\monkey.obj`
It's hang when I added -m option.

[2020-03-10 18:05] romainguy commented on #2229
It's a known issue on Windows/64 bit, there's a fix pending that should be merged in the next few hours.

[2020-03-10 18:44] AlexanderPattison commented on #2228
Yes, the issue was a space in the path, on my side. Thanks, it is working.

[2020-03-10 20:31] romainguy opened #2231 "Improve material dictionaries"
1. Both GLSL and Metal use a text dictionary, there's no reason to create 2 dictionaries when they could share one.
1. Multiple materials could share a single dictionary. On macOS (GL+Metal), this saves 50% on the materials that are compiled into Filament (and those are our simple post process materials, I would expect higher gains on lit shaders).

The first feature would be easier to implement.

[2020-03-10 20:31] #2228 closed

[2020-03-10 20:32] romainguy commented on #2219
This should be fixed by #2227

[2020-03-10 22:42] #2219 closed

[2020-03-11 18:11] #2138 closed

[2020-03-11 21:11] byjinglemen opened #2237 "Linker fails when statically linking to Filament libraries"
**Describe the bug**

Linker fails when statically linking to Filament libraries.

**To Reproduce**

In order to generate the required resources, I have used the following script:

[code]
The clang++ command is as follows:
[code]
I am using a clone of the master branch from a few days ago.

**Expected behavior**

Successfully compile a working binary for the Suzanne sample app.

**Errors**

When l

[2020-03-11 21:17] romainguy commented on #2237
You redefined `FILAMENT_LIBS` without `-lmatdbg`, that's why you're getting this error. I don't know what causes your crash without more information however.

[2020-03-11 21:17] #2237 closed

[2020-03-11 23:07] joelmcallister commented on #2237
-lmatdbg is defined in DEPENDENCIES above FILAMENT_LIBS.

[2020-03-11 23:09] byjinglemen commented on #2237
-lmatdbg is defined in DEPENDENCIES above FILAMENT_LIBS.

[2020-03-12 07:07] byjinglemen commented on #2237
... so I don't think it's that.. Is there anything else that you think could be causing this error? Thanks

[2020-03-12 10:36] honza-vanek commented on #1197
Filament is such a great piece of work; this would make it a killer lib. Any news on the issue? We are currently starting a rewrite of an AR app running on iOS tu support Android and multiplatform kotlin-native is the way to go. The possibility to use filament would be fantastic

[2020-03-12 15:35] romainguy commented on #1197
I agree supporting Kotlin Native would be fantastic. Unfortunately it is not a priority at this point. To do this properly we first need to find a scalable and sustainable way to support all the different language bindings since this would at least require to recreate the Java APIs in Kotlin.

That said a possible workaround for you right now would be to start from our JNI binding as a base for a

[2020-03-12 15:45] unicomp21 commented on #1197
FYI
https://kotlinlang.org/docs/reference/native/c_interop.html

[2020-03-12 17:16] honza-vanek commented on #1197
Thank you for the fast answers, sorry to hear that, will try to find some other way...
Good luck with filament and thanks for all the work

[2020-03-12 19:15] MarkMurillo opened #2241 "Crash when trying to load non-animated GLTF model"
**Describe the bug**
Using the Android sample app "sample-gltf-viewer" I replaced the default model it was loading to one of the sample models from here: https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/Avocado/glTF-Binary

**To Reproduce**
Steps to reproduce the behavior:
1. Download and insert [this model](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/Avoca

[2020-03-12 19:19] romainguy commented on #2241
Could you please show the entire logs you get from adb? We test against all the glTF samples on desktop and web and they load with no issues.

[2020-03-12 19:39] MarkMurillo commented on #2241
logcat for both [filtered and unfiltered](https://github.com/MarkMurillo/logfiles):

[2020-03-12 20:05] MarkMurillo commented on #2241
Actually I think it the FrameCallback in the sample is ignoring the Animator's animationCount and trying to call applyAnimation on index 0 even if there is no animations loaded.

It just needed to check `if (this.animationCount == 0)  return` before calling `applyAnimation()`. When I added this in, the model renders fine!

[2020-03-12 21:20] romainguy commented on #2241
You are right, it seems to be what another sample app does (`bloom`):

`if (filamentAsset.animator.animationCount > 0) {`

Looks like this sample was written with assumption that the animator would be null when no animation is present. I'll upload a fix, thanks for investigating.

[2020-03-12 21:27] romainguy commented on #2241
I just pushed a fix, thank you!

[2020-03-12 21:27] #2241 closed

[2020-03-12 22:21] byjinglemen commented on #2237
The debug mode linking problem was solved by putting -lmatdbg **both** at the start of DEPENDENCIES **and** at the end of FILAMENT_LIBS.

However, I am still unable to solve the `segmentation fault` crash issue.

`valgrind` gives the following output:

[code]

[2020-03-12 23:11] byjinglemen commented on #2237
Problem resolved: backend header files were outdated.

[2020-03-13 00:40] romainguy commented on #2237
Glad you could fix it. For `-lmatdbg` I don't think you need to declare it twice, it's probably just an ordering problem. You sometimes need to declare link dependencies in the proper order.

[2020-03-13 03:58] cjsliuj opened #2246 "Undefined symbols（iOS Sample project hello-ar）"
**Commint:** 3b52b89f
Undefined symbols for architecture arm64:
  "___asan_stack_free_8", referenced from:
      meshopt::decodeVertexBlockSimd(unsigned char const*, unsigned char const*, unsigned char*, unsigned long, unsigned long, unsigned char*) in libmeshoptimizer.a(vertexcodec.cpp.o)
  "___asan_stack_malloc_9", referenced from:
      filament::details::Froxelizer::update() in libfilament.a(F

[2020-03-13 04:17] bejado commented on #2246
We just turned on ASAN for Filament, looks like we need to update the iOS
samples as well.

On Thu, Mar 12, 2020 at 8:58 PM nsrx <notifications@github.com> wrote:

[2020-03-13 04:57] romainguy commented on #2246
@pixelflinger @bejado Android builds are broken with the same issues. And desktop builds fail because one of the unit tests leaks in NamedComponentManager.

[2020-03-13 17:37] bejado commented on #2246
Adding `-fsanitize=address` to the linker flags in the iOS projects fixes this. I'll put up a PR.

[2020-03-13 19:47] cx20 opened #2248 "When resizing an hdr format file with cmgen, it flips horizontally"
I tried to resize the `hdr` format file using `cmgen`.
The resize succeeds, but seems to be flipping left and right.

hdr file:
http://www.hdrlabs.com/sibl/archive/downloads/PaperMill_Ruins_E.zip

Converted using the following command:
[code]

The following is the display result in the online HDR viewer.
https://viewer.openhdr.org/i

before: 3200x1600
![image](https://user-images.githubusercontent

[2020-03-13 21:18] romainguy commented on #2248
`cmgen` flips images horizontally because it's intended to generate cubemaps. It should skip that step when going from equirect to equirect.

@pixelflinger

[2020-03-13 21:18] #2246 closed

[2020-03-14 19:06] AlexanderPattison opened #2250 "How to set JAVA_HOME and EMSDK"
Sorry for the amateur request. I am trying to build filament for web as per filament/web/filament-js/README.md

./build.sh -ap webgl release
Warning: JAVA_HOME is not set, skipping Java projects
Error: EMSDK is not set, exiting

How do I set JAVA_HOME, EMSDK, (and also ANDROID_HOME)?

[2020-03-14 19:09] romainguy commented on #2250
`JAVA_HOME` is not needed to build Filament for Web. To set `EMSDK` you'll need to set a variable in your shell:

[code]

You fill find more details in `BUILDING.md` at the root.

[2020-03-14 19:09] #2250 closed

[2020-03-15 14:01] cx20 commented on #2248
I have found that this problem can be avoided with the `--no-mirror` option.

[2020-03-17 21:42] JonathanLehner commented on #1441
How to do this with web? It seems the engine.createSwapChain() method does not accept any arguments

[2020-03-17 21:42] JonathanLehner commented on #1901
How to do this with web?

[2020-03-18 01:17] prideout commented on #1441
You can override the WebGL 2.0 context config in the 2nd arg to `Engine.create` as per https://google.github.io/filament/webgl/reference.html#Engine

[2020-03-18 01:20] prideout commented on #1901
I don't think WebGL supports external textures but you could enable `alpha` in the WebGL canvas and do anything you want in a background element.

[2020-03-18 02:39] JonathanLehner commented on #1441
like this?    this.engine = Filament.Engine.create(canvas, {alpha: true,premultipliedAlpha: false,preserveDrawingBuffer:true});
 ?

[2020-03-18 02:44] JonathanLehner commented on #1901
const options = {
      majorVersion: 2,
      minorVersion: 0,
      antialias: false,
      depth: true,
      alpha: true,
      premultipliedAlpha: false,
      preserveDrawingBuffer: true
    };
    this.engine = Filament.Engine.create(canvas, options);

I tried like this but it still doesn't seem to work

[2020-03-18 02:48] JonathanLehner commented on #1441
const options = {
  majorVersion: 2,
  minorVersion: 0,
  antialias: false,
  depth: true,
  alpha: true,
  premultipliedAlpha: false,
  preserveDrawingBuffer: true
};
this.engine = Filament.Engine.create(canvas, options);
I tried like this but it still doesn't seem to work

[2020-03-18 05:28] JonathanLehner commented on #1901
It works if I do gl.clear after rendering. But then it only shows the color and the Object is gone..
    this.renderer.render(this.swapChain, this.view);

    var filament_canvas = document.getElementById('filament_canvas');
    var gl = filament_canvas.getContext('webgl2', {alpha: true, premultipliedAlpha: false});
    gl.clearColor(0,0.1,0,0.5);
    gl.enable(gl.BLEND);
    gl.clear(gl.COLOR_BUF

[2020-03-18 05:44] romainguy commented on #1901
Did you set the clear color in the filament view object to clear alpha properly?

[2020-03-18 13:39] JonathanLehner commented on #1901
yes. I used this.view.setClearColor([0,1,0,0]). it does change the background color but it ignores the alpha value

[2020-03-18 16:17] geroge-d opened #2253 "Error on compile android filament on windows 10"
Hi
When i built  the filament of android-release-arm7 on Windows 10 using the latest version source code, it outputed the error messages below:

[4/670] Compiling material G:/works/filament/out/cmake-and...release-arm7/libs/gltfio/specularGlossiness_opaque.filamat
ERROR: 0:930: '=' :  cannot convert from ' const int' to ' temp mediump uint'
ERROR: 0:930: '' : compilation terminated
ERROR: 2 compil

[2020-03-18 16:19] romainguy commented on #2253
I can reproduce on macOS. It's odd that this wasn't caught by CI.

[2020-03-18 16:25] romainguy commented on #2253
@bejado Ben, I can repro but the build servers can't apparently. It seems to be due to spirv-cross or spirv-opt. The issue doesn't happen when I turn off matc's optimization stage.

[2020-03-18 16:27] bejado commented on #2253
Bizarre, I’ll take a look. Might have something to do with spot shadows

[2020-03-18 16:37] romainguy commented on #2253
If I comment out `fullOptimization()` in `GLSLPostProcessor` the error happens anyway, so probably not related to optimizations after all. But somehow related since `-g` bypasses the problem when invoking matc.

[2020-03-18 16:39] romainguy commented on #2253
Ah it's contact shadows.

[code]

It should be `0u` not `0`.

[2020-03-18 16:40] romainguy commented on #2253
Yeah that fixes it. Ben, want to do the checkin? :)

[2020-03-18 17:05] #2253 closed

[2020-03-18 17:24] geroge-d opened #2255 "Link issue on building the filament of android version on windows 10 using vs2019"
Hi
When i built filament of android version on windows 10, using vs 2019, the issue below occur.

../../../../src/main/cpp/SurfaceOrientation.cpp:153: error: undefined reference to 'filament::geometry::SurfaceOrientation::getQuats(filament::math::details::TQuaternion<filament::math::half>*, unsigned int, unsigned int) const'
  clang++: error: linker command failed with exit code 1 (use -v to see i

[2020-03-18 17:25] romainguy commented on #2255
Which version of Filament? We recently fixed that issue but you'll need the latest version from master.

[2020-03-18 17:27] geroge-d commented on #2255
the latest version source codes, we pulled codes from master just now

[2020-03-18 17:30] geroge-d commented on #2255
When i comment the function  implementation  of SurfaceOrientation.cpp:153 , it succeed in building

[2020-03-19 01:27] JonathanLehner commented on #1901
I just modified the suzanne example. It is easy to replicate

[2020-03-19 10:26] cjsliuj opened #2257 "Link issue ios sample project (gltf)"
![image](https://user-images.githubusercontent.com/4098790/77057559-1950c980-6a0f-11ea-9862-2257b0f9944c.png)

[2020-03-20 14:03] rawnsley opened #2260 "The right way to call createSwapChain when rendering to an imported texture"
When rendering into a texture what is the proper way to create the swap chain? I'm currently doing this:

`filamentSwapChain = fframe.engine.createSwapChain(1, 1, 0)`

Which is working, but feels like a hack. I'm actually rendering to two textures that I have imported into Filament using importShared (they are the eye buffers of a VR rendering).

Is the eglCreatePbufferSurface created in PlatformE

[2020-03-20 14:10] rawnsley opened #2261 "Alternatives to engine.flushAndWait()"
I'm currently using Filament to render to shared textures and then sending the result off to another library that ultimately displays those textures on a screen.

I'm calling `engine.flushAndWait()` to make sure the texture render has finished, but I would rather do it through some sort of callback. Is that an option in Filament? I guess this is related to fences, which I never really got my head

[2020-03-20 18:03] bejado commented on #2257
It looks like you're building an outdated snapshot. Please pull the latest master.

[2020-03-20 18:03] #2257 closed

[2020-03-21 06:34] romainguy commented on #2260
It's fine to create a 1x1 swap chain like this. It's a common trick in renderers.

[2020-03-21 06:34] #2260 closed

[2020-03-21 06:39] romainguy commented on #2261
A fence is what you want except that we don't support GPU fences anymore (in the public API that is). The current fences will only tell you that the render thread has executed all the commands up until the fence.

[2020-03-23 01:24] JonathanLehner opened #2263 "Alpha for background color doesn't seem to work in Canvas"
**Describe the bug**
I cannot set a transparent or semi-transparent background of the webgl2 canvas with Filament. The renderer seems to ignore the options.

**To Reproduce**
I modified the suzanne example. 1.)
`const options = {
  majorVersion: 2,
  minorVersion: 0,
  antialias: false,
  depth: true,
  alpha: true,
  premultipliedAlpha: false,
  preserveDrawingBuffer: true
};
this.engine = Filame

[2020-03-23 18:48] iamlkj opened #2265 "Unexposed library are using in Samples"
**Describe the bug**
I'm wondering why there's some library that doesn't expose in public install library but using in Samples (Such like NameComponentManager). I thought NameComponentManager should be public and it's also a sample for using SingleInstanceComponentManager.h. Or are those two files meant to be hidden?

I can't find a way to load out the node name from gltf file using AssetLoader wi

[2020-03-23 19:03] romainguy commented on #2265
`NameComponentManager` is part of `libutils`, it's available as a public library. What problem are you running into exactly?

[2020-03-23 19:06] romainguy commented on #2265
@pixelflinger Should `NameComponentManager` be tagged `UTILS_PUBLIC`? Most things in `libutils` aren't marked with `UTILS_PUBLIC`, I assume on purpose. But I don't see any reason why `NameComponentManager` wouldn't be public.

[2020-03-23 19:11] pixelflinger commented on #2265
Yes it should probably be `UTILS_PUBLIC` -- We've just been (too?) cautious about making things public.

[2020-03-23 19:17] pixelflinger commented on #2261
This is not a supported use case right now. `flushAndWait` will work, however it is very heavy, it will stall both the current thread and the gl thread until the texture is rendered. Alas, this is the only solution right now.

[2020-03-23 19:28] rawnsley commented on #2261
☹️ thanks for the info anyway.

[2020-03-24 16:17] prideout commented on #2263
Filament currently requires post-processing to be disabled for this to work; this is not an issue with Filament's JavaScript API.

So, in addition to adding `{alpha: true}` to your canvas options, you need to add:

`this.view.setPostProcessingEnabled(false);`

Note however that this will deactivate tone mapping and other features like bloom and FXAA.

I defer to @pixelflinger about whether we shou

[2020-03-24 16:56] romainguy commented on #2263
I thought we had a special path specifically to do FXAA on a transparent background. There's nothing in the post process pipeline that should require an opaque surface.

[2020-03-24 16:57] #2265 closed

[2020-03-24 17:01] prideout commented on #2263
In that case this might be a regression, I've confirmed that disabling post-processing seems to fix the issue.

I've also noticed that post-processing now triggers several WebGL warnings in the Chrome console, which is possibly related -- I'll file a separate bug for that.

[2020-03-24 17:06] prideout opened #2272 "WebGL errors in Chrome 80"
The triangle sample looks fine but triggers a cascade of the following two GL errors:

GL_INVALID_ENUM: invalidateFramebuffer: invalid attachment
GL_INVALID_OPERATION : glDrawElements: Source and destination textures of the draw are the same.

I believe that the second of these is a spec violation so I filed the following Chromium bug:
https://bugs.chromium.org/p/chromium/issues/detail?id=1066201

[2020-03-24 17:11] prideout commented on #2272
Somewhat unrelated, but `helmet.html` also triggers a warning:

RENDER WARNING: there is no texture bound to the unit 11

I think this is due to the ubershader mode, which conditionally samples from non-existent textures.  While in ubershader mode, gltfio is meant to provide 1x1 dummy textures to mitigate this warning.

[2020-03-24 22:38] iamlkj commented on #2265
Should all the .h files expose as public? I'm modifying CMakelist to expose NameComponentManager.h and SingleInstanceComponentManager.h into `DIST_HDRS` but turns out I need to expose tons of headers in libutils.

[2020-03-24 22:43] romainguy commented on #2265
No, not all .h files should be public. I still need to add those two to `DIST_HDRS`.

[2020-03-24 22:46] iamlkj commented on #2265
I see. Thanks for this or it's almost impossible to expose the libutils and make build works.

[2020-03-24 22:48] romainguy commented on #2265
I just committed the change.

[2020-03-24 22:50] iamlkj commented on #2265
Thanks! I'll cherrypick it and try it on release branch.

[2020-03-24 22:53] iamlkj commented on #2265
Wait I tried this before. Turns out there's more dependancies inside SingleInstanceComponentManager.h such like StructureOfArrays.h needs to be exposed.

[2020-03-24 23:00] romainguy commented on #2265
Damn, `StructureOfArrays.h` needs `Allocator`, `Mutex`, `Slice`…

[2020-03-24 23:01] iamlkj commented on #2265
Yes thats why Im so struggle in this lol

[2020-03-24 23:01] iamlkj commented on #2265
And in the end it needs robin_map and generic/mutex...

[2020-03-25 07:22] zbzdys opened #2279 "cannot generate libfilamat_combined.a on windows"
I could build filament on windows several months ago.
Now I download release 1.4.5 source code and all-build by vs ok, 119 projects total.
Then I use Ninja to build matc tools and others like resgen, no prob.
The last step is build cmake-android-release-aarch64, after running ninja install, I get:

[357/613] Update build-version.inc in the SPIRV-Tools build directory (if necessary).
C:/Users/dingw

[2020-03-25 09:05] zbzdys commented on #2279
Build with the latest master branch code, still got the same error.

Envs:
Windows 10, VS2019, NDK 21, cmake 3.16, python 3.8

[2020-03-25 09:30] zbzdys commented on #2279
Also, cmake outputs:

building with clang on windows is no longer supported, use msvc 3019 instead

But the doc of filament is the same as old version, so i'm not sure what's the right command.

[2020-03-25 15:22] jiqimaogou opened #2280 "how filament work with mediapipe"
how filament work with mediapipe? do you have some example?
or how filament render to framebuffer texture.

[2020-03-25 15:55] romainguy commented on #2280
What is `mediapipe`?

[2020-03-25 21:25] #2280 closed

[2020-03-25 23:02] bejado commented on #2279
We no longer use Clang to build on Windows. I'll update the documentation.

`libfilamat_combined.a` is generated through a Bash script: `build\linux\combine-static-libs.sh`. The error message you're seeing probably means it failed to run. Are there any other error messages after running `ninja install`? I'd expect something like:

[code]

Note: we get away with using a Bash script on Windows becau

[2020-03-26 00:58] jiqimaogou commented on #2280
https://github.com/google/mediapipe

[2020-03-26 01:01] jiqimaogou commented on #2280
https://github.com/google/mediapipe it is google another machine learning pipeline library

[2020-03-26 01:15] prideout commented on #2280
On Android, we provide a `UiHelper` class that makes it easy to render into a TextureView.  We don't know anything about MediaPipe but it looks like it has a [mechanism](https://g3doc.corp.google.com/third_party/mediapipe/g3doc/hello_world_android.md?cl=head#externaltextureconverter-setup) for consuming a SurfaceTexture, which you can grab from a TextureView.

[2020-03-26 02:53] zbzdys commented on #2279
I have Git, so "ombine-static-libs.sh" not shown in the output log.

I will paste more info here:
To get vs project:
cmake ..\.. -G "Visual Studio 16 2019" -A x64 -DCMAKE_BUILD_TYPE=Release -DFILAMENT_SUPPORTS_VULKAN=ON
all-build ok

To build android, first build some tools, even though these tools already generated by vs project:
cmake ..\.. -G Ninja -DFILAMENT_SUPPORTS_VULKAN=ON -DCMAKE_INSTALL_

[2020-03-26 03:09] zbzdys commented on #2279
sorry github convert ..\\.. to ....

[2020-03-26 07:41] zbzdys commented on #2279
i noticed that combine-static-libs.sh get:
AppData/Local/Android/Sdk/ndk/21.0.6113669/toolchains/llvm/prebuilt/windows-x86_64/bin/aarch64-linux-android-ar.exe
cmake-android-release-aarch64/libs/filamat/libfilamat_combined.a
cmake-android-release-aarch64/third_party/glslang/tnt/OGLCompilersDLL/libOGLCompiler.a
...
as parameters, but it went to:
if [[ "$#" -lt 3 ]]; then
    print_help
    exit 1
fi

[2020-03-26 11:10] zbzdys commented on #2279
there is a problem with my git bash, it can not get command line arguments when calls from cmd.exe

however, it can get the correct arguments when execute .sh file in git-bash window(MINGW64)

so i copy:
...Filament\build\linux\combine-static-libs.sh ...aarch64-linux-android-ar.exe ...libfilamat_combined.a

to the git-bash windows and execute successfully.

problem solved.

[2020-03-26 11:26] zbzdys commented on #2279
The last step generate aar failed because:
Task '..\..\out\android-release\filament' not found in project ':filament-android'.

here is the log:
PS C:\Users\dingw\Desktop\workspace\Cpp\Filament\android\filament-android> ..\gradlew -Pfilament_dist_dir=..\..\out\android-release\filament assembleRelease -Pextra_cmake_args=-DFILAMENT_SUPPORTS_VULKAN=ON
Starting a Gradle Daemon (subsequent builds will

[2020-03-26 13:46] zbzdys commented on #2279
I think the doc about android build should be updated, especially about vulkan

[2020-03-26 14:52] geroge-d opened #2285 "Crash on android device using the latest source codes"
Hi guys
I built a debug version using the latest source codes, and ran into a crash

Crash log below:
/Filament: KHR_debug PERFORMANCE: Tracking surface compression isn't performant when decompressing just for an app read
../../filament/backend/src/opengl/OpenGLDriver.cpp:1988: GLsizei filament::OpenGLDriver::getAttachments(std::array<GLenum, 6> &, const filament::OpenGLDriver::GLRenderTarget *, f

[2020-03-26 14:56] geroge-d commented on #2285
I think it may be casued by the code in view.h:
 void setRenderTarget(RenderTarget* renderTarget,
            TargetBufferFlags discard = TargetBufferFlags::ALL) noexcept
 TargetBufferFlags::ALL =  COLOR_ALL | DEPTH | STENCIL

COLOR_ALL  combines all the color buffer  like COLOR0 | COLOR1 | COLOR2 | COLOR3

[2020-03-26 15:00] geroge-d commented on #2285
Full stacktrace for the crash:
 0x281b000041a4
    #00    pc 000000000005f608    /system/lib64/libc.so (tgkill+8) [arm64-v8a::232ca221f0e5e37f634f3a7698b61d7b]
    #01    pc 0000000000019cc4    /system/lib64/libc.so (pthread_kill+160) [arm64-v8a::232ca221f0e5e37f634f3a7698b61d7b]
    #02    pc 000000000001b224    /system/lib64/libc.so (raise+28) [arm64-v8a::232ca221f0e5e37f634f3a7698b61d7b]
    #0

[2020-03-26 16:16] romainguy commented on #2285
@pixelflinger Mathias, looks like the assert might be too strict when we want to clear FBO 0. That or we should be careful to clear only `COLOR0` for the default framebuffer.

[2020-03-26 16:17] romainguy commented on #2279
`FILAMENT_ENABLE_JAVA` is only for desktop, it is indeed ignored for Android builds.

[2020-03-26 16:22] romainguy commented on #2279
[code]

[2020-03-26 17:31] iamlkj opened #2286 "Expose getLayerMask() in RenderableManager"
Is there any reason why filament only expose RenderableManager::setLayerMask but hide RenderableManager::getLayerMask in FRenderableManager? Is it possible to expose it out?

[2020-03-26 17:32] romainguy commented on #2286
It's most likely an oversight. We usually expose APIs as they become needed. Feel free to send a PR to expose it if you want, otherwise we can do it.

[2020-03-26 17:34] iamlkj commented on #2286
I can do it later today

[2020-03-26 18:07] gamagan opened #2287 "Readme file for Samples directory"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be useful to add a Readme file, in the Samples directory, which lists the samples in an order which devs think is a good order to learn Filament. Additionaly, a line about what each sample is about would also be helpful.

**Describe alternatives you've considered**
The other alterna

[2020-03-26 18:08] romainguy commented on #2287
What we really need to do is rewrite the samples. They're really more test apps for development than true samples. In particular the foundation they rely on (`samples/app`) is quite messy.

[2020-03-26 18:18] prideout commented on #2287
Agreed, our Desktop samples are in bad shape.  I wrote a small doc that draws out a plan for this, but implementing the plan has fallen by the wayside.

[2020-03-26 19:23] gamagan commented on #2287
I'll work with what's currently there. When you guys get a change to do some rewriting, I'll update my knowledge/code based on the new samples. I appreciate the response.

[2020-03-26 23:59] #2286 closed

[2020-03-27 01:20] zbzdys commented on #2279
![aar](https://user-images.githubusercontent.com/18547591/77711390-cf1da880-700b-11ea-85c5-52aa30be207a.PNG)

Here is the screenshot about generating aar. There is no gradlew in android\filament-android, gradlew is actually in "android" folder.

The most important thing is my command failed to run because:
**out\android-release\filamen not found in project ':filament-android'**

[2020-03-27 02:52] #1932 closed

[2020-03-27 03:01] romainguy opened #2293 "gltf_baker doesn't bake tangent space normal maps"
gltf_baker should generate normal/bent normal maps in tangent space. Right now it takes the normals computed by libray and just writes them to PNG as is. They should at least be encoded to fit in 0..1 instead of -1..+1.

[2020-03-27 05:56] prideout commented on #2293
Let me know if there is significant interest in reviving the tool, its usage message still describes it as an AO baking tool but the UV wrapping was very dodgy and we sort of gave up on it.

On a related note I wonder if we should consider moving projects like this and Tungsten into a separate repo outside of Filament since they are somewhat experimental.

[2020-03-27 06:05] romainguy commented on #2293
We should definitely move those projects out if we're not going to maintain it. Actually I would recommend we do a big sweep of `samples/` in general and ditch the ones that are not useful. If we do move `gltf_baker` out we may want to consider moving `OpenImageDenoise` and `libray` as well. Anything we do to shorten build times is nice.

We should also stop backing an IBL + FlightHelmet in `gltf_

[2020-03-27 06:06] romainguy commented on #2293
BTW the only reason I looked at `gltf_baker` and filed this bug is because I'm implementing support for bent normal maps. I have other tools I can use to bake bent normals so I don't need this one. But in case it worked… :)

[2020-03-27 10:27] zbzdys commented on #2279
when i execute:

.\gradlew -Pfilament_dist_dir=..\out\android-release\filament -Pextra_cmake_args=-DFILAMENT_SUPPORTS_VULKAN=ON assembleRelease

in "android" directory,  the error becomes:

 '..\out\android-release\filament' not found in root project 'filament'

I dont know how to fix it up, help me please.

[2020-03-27 13:02] cx20 commented on #1932
@prideout Thank you for supporting Draco. Can I use it with WebGL?

[2020-03-27 13:07] amerkoleci opened #2294 "Question: Using filament in game engine"
Not a bug or feature requested, just a question,

I'm working on personal game engine (https://github.com/amerkoleci/alimer) and would like to use filament and modify/adapt on some engine logic, are there any issues between MIT license and the apache V2 of filament? Are there any best practice when integrating into other projects?

Probably I would like to add Direct3D11/Direct3D12 backend as we..

[2020-03-27 13:57] geroge-d commented on #2285
And we found another issue related to clear process. When we render model into a rendertarget,it seams filament not clear the color buffer of render target  ,in despite we call view.setClearTarget(true,true,true)

[2020-03-27 14:51] prideout commented on #1932
It is not yet included in the WebGL build but I will add it.

[2020-03-27 15:05] unicomp21 opened #2295 "cmake error on linux, build.sh -p webgl release"
I think something might have changed on the cmake side ...

CMake Warning at third_party/spirv-tools/CMakeLists.txt:207 (find_package):
  By not providing "FindPython3.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "Python3", but
  CMake did not find one.

  Could not find a package configuration file provided by "Python3" with any
  of

[2020-03-27 15:06] romainguy commented on #2295
Which version of CMake are you using?

[2020-03-27 15:50] unicomp21 commented on #2295
3.10.2

[2020-03-27 16:24] romainguy commented on #2295
You'll need CMake 3.12, I see I forgot to update BUILDING.md, I'll fix this asap.

[2020-03-27 16:24] #2295 closed

[2020-03-27 16:28] #2248 closed

[2020-03-27 16:32] romainguy commented on #2279
I've updated `Windows.md`. I don't know what this error you're running into means. Do you have a directory `..\out\android-release\filament`? Did you properly build filament for Android in it?

[2020-03-27 16:34] romainguy commented on #2294
There shouldn't be any issue with the license. As for integrating Filament in another engine the easiest way is probably to do it via prebuilt binaries. Our build system is a bit complicated and I'm not sure how easy it would be to merge it with another project's build system.

[2020-03-27 16:34] #2294 closed

[2020-03-27 16:35] romainguy commented on #2294
BTW let us know if you do create a DirectX backend, it could be interesting.

[2020-03-27 16:39] unicomp21 commented on #2295
Is there a way to install that via apt-get?  Or is it  a manual install?

[2020-03-27 16:41] romainguy commented on #2295
What distribution do you use? It should be available via apt-get if you have a recent distribution or the right repositories for apt-get.

[2020-03-27 16:44] romainguy commented on #2295
Let me see if I can make the CMake files compatible with 3.10.

[2020-03-27 16:46] unicomp21 commented on #2295
ubuntu18.10

[2020-03-27 16:49] romainguy commented on #2295
https://github.com/google/filament/pull/2296 should address your problem hopefully.

[2020-03-27 16:51] unicomp21 commented on #2295
Thx!

[2020-03-27 18:15] prideout commented on #2293
Your plan for `samples/` sounds great, the only part that I dislike is removing the default IBL from the viewer, personally I find it helpful. Moreover the fact that we invoke cmgen in the build has helped us catch issues in the past.  As a compromise maybe we could add a CMake option for this feature.

[2020-03-27 18:46] unicomp21 commented on #2295
after #2296

-- Detecting C compile features - done
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile features
-- Detecting CXX compile features - done
CMake Error at CMakeLists.txt:27 (cmake_policy):
  Policy "CMP0074" is not known to this ve

[2020-03-27 18:47] unicomp21 commented on #2295
I can manually install 3.12, but I can see this creating a support headache in the future.

[2020-03-27 18:50] romainguy commented on #2295
I checked in a fix, try again :)

[2020-03-27 19:16] unicomp21 commented on #2295
[94/662] Building CXX object filament/backend/CMakeFiles/backend.dir/src/vulkan/VulkanContext.cpp.o
[95/662] Generate extended instruction tables for debuginfo.
[96/662] Generate tables based on the SPIR-V XML registry.
FAILED: third_party/spirv-tools/generators.inc
cd /tmp/filament/out/cmake-release/third_party/spirv-tools/source && /usr/bin/python3 /tmp/filament/third_party/spirv-tools/utils/gen

[2020-03-27 19:28] pixelflinger commented on #2285
@geroge-d can you file another issue for the clear error, and please give us as much info as possible.

[2020-03-27 19:43] JonathanLehner commented on #2263
If I disable postprocessing then the track pad doesnt work anymore. The old views all merge together

[2020-03-27 19:43] romainguy commented on #2295
Looks like an issue with your python installation or spirv-tools. It's not part of filament itself unfortunately.

[2020-03-27 19:43] JonathanLehner commented on #2263
Can the canvas be cleared manually between rendering?

[2020-03-27 20:16] unicomp21 commented on #2295
@romainguy for some reason it only happens on master, v1.4.5 builds fine.

[2020-03-27 20:17] romainguy commented on #2295
We've upgraded to a more recent version of spirv-tools that requires Python3.

[2020-03-27 20:18] unicomp21 commented on #2295
I've got python3 installed, guess it's the spirv-tools.

[2020-03-27 20:20] romainguy commented on #2295
Not sure, you're missing the module `distutils` which is part of [Python](https://docs.python.org/3/library/distutils.html).

[2020-03-27 20:20] unicomp21 commented on #2295
Python 3.6.9

[2020-03-27 20:22] romainguy commented on #2295
Try `apt-get install python3-distutils` maybe? It should already be installed but it seems it's not on your distribution.

[2020-03-27 20:45] #2285 closed

[2020-03-27 21:03] unicomp21 commented on #2295
That did the trick, thx @romainguy !

[2020-03-28 01:20] zbzdys commented on #2279
Yes I have this "out\android-release\filament" because I have run "ninja install" after building toolchain-aarch64-linux-android.cmake.

[2020-03-28 01:36] JonathanLehner opened #2302 "Cannot see object"
Is there a maximum rendering distance? I try to move the camera away from an object to make it smaller. But at one point the object completely disappears.

[2020-03-28 01:38] romainguy commented on #2302
Yes there is, it's the "Z far" parameter of the camera. You can set it to whatever you want. Our samples use a value fairly close though (10 to 100 meters, depending on the sample I believe).

[2020-03-28 01:38] #2302 closed

[2020-03-28 03:12] zbzdys commented on #2279
[SOLVED]
It is powershell problem, when i use cmd to run the command, gradlew tasks all successfully executed.
If use powershell, gradlew is not recognized so i have to use '.\gradlew' and this is the different part from your doc.
If use cmd, gradlew is recognized so i can run:
gradlew -Pfilament_dist_dir=..\out\android-release\filament -Pextra_cmake_args=-DFILAMENT_SUPPORTS_VULKAN=ON assembleRele

[2020-03-28 03:12] #2279 closed

[2020-03-29 11:10] JonathanLehner commented on #2263
The way I solved it for now is by making a loop to clear the canvas before every re-render
setInterval(()=>{
      this.gl.clearColor(1,0,0,0);
      this.gl.clear(this.gl.COLOR_BUFFER_BIT | this.gl.DEPTH_BUFFER_BIT | this.gl.ACCUM_BUFFER_BIT | this.gl.STENCIL_BUFFER_BIT)
    }, 0);
very hacky but it works well.

[2020-03-29 11:18] JonathanLehner opened #2304 "Render transparent opaque object"
I need to render a transparent opaque object. It needs to hide the objects behind it, but itself it has to output transparent/alpha=0 to the canvas (needs to be invisible in the final rendering).
How can I achieve this?
Do I need to do something like
[code]
?

[2020-03-29 17:20] romainguy commented on #2304
You do this by rendering an opaque object with colorWrite set to false and depthWrite set to true.

[2020-03-29 17:20] #2304 closed

[2020-03-30 17:14] gitzoran commented on #1820
Any wisdom for the masses? I am testing SSAO in v1.4.3 with single IBL light and default AO options. Absolutely no difference if view->setAmbientOcclusion() is called with NONE or SSAO. Stepping through the Renderer.cpp and PostProcessManager.cpp in a debugger, it seems that the code is at least attempting to do the SSAO pass.

[2020-03-30 17:16] romainguy commented on #1820
You probably need to tweak the SSAO parameters. You can easily see AO on/off in material_sandbox or gltf_viewer.

[2020-03-30 17:21] gitzoran commented on #1820
I did try the material_sandbox, enabled SSAO, moved all the sliders, and saw no difference as well. I attributed that to the app using a directional light (since the IBL light sliders also have no influence at all). Wrong assumption?

[2020-03-30 17:22] prideout commented on #2272
It is surprising to me that I see 4 draw calls on every frame: the first one is the app's, but the subsequent 3 draw calls must be coming from Filament, despite the fact that post-processing is disabled.

[2020-03-30 17:30] romainguy commented on #1820
SSAO will affect the IBL but not the directional light. Here's an example, with SSAO:
<img width="1136" alt="Screen Shot 2020-03-30 at 10 29 31 AM" src="https://user-images.githubusercontent.com/869684/77943025-65063d00-7271-11ea-84f3-90c61caa306f.png">

Without SSAO:
<img width="1136" alt="Screen Shot 2020-03-30 at 10 29 34 AM" src="https://user-images.githubusercontent.com/869684/77943040-69caf1

[2020-03-31 06:05] #2231 closed

[2020-03-31 12:16] cx20 commented on #1932
@prideout Thanks! I have confirmed that Filament `1.5.0` can display Draco format files.

[Filament v1.5.0 + Draco format result:](https://cx20.github.io/gltf-test/examples/filament/index.html?url=https://rawcdn.githack.com/mrdoob/three.js/dev/examples/models/gltf/LittlestTokyo.glb&scale=0.01)
![image](https://user-images.githubusercontent.com/1833979/78024833-01c0fb80-7394-11ea-94c0-12f751c15b7a.

[2020-03-31 14:43] geroge-d opened #2312 "Color buffer of view is not cleared"
Hi
We clear view color buffer by calling view.setClearTargets(true,true,true), but the filament don't clear the color buffer.We added some logs in the filament ,found that rs.colorWrite in the function clearWithRasterPipe in opengldriver.cpp  set to false.  The codes below where we added logs in filament:
1. logs in  FRenderer::renderJob
 if (any(discardedFlags & TargetBufferFlags::COLOR0)){

[2020-03-31 14:49] geroge-d commented on #2312
FYI
We use the latest source code,just pulled from master branch

[2020-03-31 16:26] prideout commented on #2312
Thanks for bringing this to our attention, I can reproduce it using our `vk_hellotriangle` sample.

[2020-03-31 16:31] romainguy commented on #2312
Looks like @pixelflinger fixed the glClear path but not the clear with raster pipe path.

[2020-03-31 22:31] #2312 closed

[2020-04-01 14:05] alexredko opened #2319 "Android gltf-viewer sample crashes in 1.5.1"
Hi guys,
**Describe the bug**
I use code similar to android gltf viewer sample to load a gltf model (sync method). It worked with version 1.4.5. But the app crashes after updating to 1.5.1 from maven.
The android/sample-gltf-viewer  sample also crashes now with 1.5.1 and the BusterDrone model from the sample. But the sample works when I downgrade to 1.4.5.
It appears when the ResourceLoader tries

[2020-04-01 15:10] arctic4x opened #2320 "Crashing when i try to recreate android sample project"
i ran into difficulties while running samples (get some errors when start scripts and some files desn't generated) and made a decision to make a new project by implementing lib and using samples code. But i alsways get a crash on v-1.5.1:

 *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
 Build fingerprint: 'Xiaomi/cancro_wc_lte/cancro:6.0.1/MMB29M/V9.5.5.0.MXDMIFA:user/release-key

[2020-04-01 15:19] prideout commented on #2319
I can repro using our maven packages but it works when built within our source tree.

I don't understand what's going on yet.  Thanks for the report!

[2020-04-01 15:25] prideout commented on #2320
Sorry for the trouble, we're looking into it.  This is a dup of #2319.

[2020-04-01 15:46] romainguy commented on #2320
Closing as duplicate.

[2020-04-01 15:51] romainguy commented on #2320
@arctic4x What version of Android are you seeing the crash on btw?

[2020-04-01 15:53] romainguy commented on #2320
Actually @prideout this looks like a different problem. `__aeabi_memmove4` is missing because the ABI for it changed in API 21.

@arctic4x Did you build the libraries yourself or are you using the ones we provide already compiled?

[2020-04-01 15:54] romainguy commented on #2320
See https://github.com/android/ndk/issues/126 for more info.

[2020-04-01 16:19] arctic4x commented on #2320
I implement libs in gradle dependencies, Should i build filament anyway?

[2020-04-01 16:20] arctic4x commented on #2320
version - 24
device - xiomi mi4w

[2020-04-01 16:22] romainguy commented on #2320
Thanks, we'll look into this.

[2020-04-01 18:38] romainguy commented on #2320
Could you please show me your Gradle file? I've been looking at this error with the NDK folks and the only thing we can think of is an issue with the device. The symbol has always been present.

[2020-04-01 18:54] romainguy commented on #2320
We double checked and at this point it does look like an issue with your device. Would you be able to run `readelf` on your device's `libc`? We'd like to check if the symbol is missing.

[2020-04-01 21:43] amerkoleci opened #2321 "Update to latest SDL 2.0.12"
**Is your feature request related to a problem? Just to keep dependencies up to date

**Describe the solution you'd like**
Just update

**Describe alternatives you've considered**
Remain as it is

**OS and backend**
Windows, linux and osx

[2020-04-01 22:04] romainguy commented on #2321
Is there any reason why we should update? We use only SDL2 for our test apps (and we'd like to move to GLFW) and unless there are issues that an update would fix I'd rather we didn't (just in case we do create problems).

[2020-04-01 22:17] amerkoleci commented on #2321
No reason, i like the idea to move to glfw, we can close it then.

Thanks

[2020-04-01 22:17] #2321 closed

[2020-04-02 09:25] BillyUSA opened #2327 "Light Effect error ( opengl,win10 )"
Material_sandbox app render sphere model with tangent data, the effect looks error.
Image A lit by directional ight,
Image B lit by spot light.

![图片](https://user-images.githubusercontent.com/11308319/78231800-f1c92900-7505-11ea-9421-05d4de0e99e0.png)

[2020-04-02 15:36] romainguy commented on #2327
Could you please give more details about this? What model are you using? Here's what directional and spot lights look like with `assets/model/sphere/sphere.obj`.
<img width="394" alt="Screen Shot 2020-04-02 at 8 33 55 AM" src="https://user-images.githubusercontent.com/869684/78268373-f6b5ba80-74bc-11ea-8949-d8e772880ee3.png">
<img width="258" alt="Screen Shot 2020-04-02 at 8 35 30 AM" src="https:/

[2020-04-02 18:42] gitzoran commented on #1820
@romainguy Thank you for the quick and to-the-point response! It is very much appreciated.

I was able to replicate your results using the gltf_viewer, and later on, using the material_sandbox. At first, I did not realize that material_sandbox does not have an IBL light by default, and then tried using IBL images that were not properly converted with cmgen. Using "venetian_crossroads_2k" or "pilla

[2020-04-02 18:49] gitzoran commented on #1820
Taking a closer look at your images, I was expecting that the difference between no SSAO and SSAO would look similar to an ambient occlusion map. The difference image is too dark to see, but the inverted image is instructive (bright ares are the most darkened by SSAO):

<img width="379" alt="diffInverted" src="https://user-images.githubusercontent.com/5241437/78289642-54ef9700-74d7-11ea-8d3b-c5f5f

[2020-04-02 18:53] romainguy commented on #1820
It's a screen space effect, it does the same thing as a static AO map except it has to deal with the limitations of doing it in screen space (including the fact that we do it at quarter resolution). It won't work well for small details. Note that you can tweak various settings for SSAO (max occluder distance search etc.).

[2020-04-02 18:58] gitzoran commented on #1820
Aah, the quarter resolution might explain the extreme pixelation and aliasing (jagged silhouettes) introduced by SSAO in the image below. Is there a setting to improve resolution? Quality is more important than speed in this case.

![pixelatedSSAO](https://user-images.githubusercontent.com/5241437/78290857-3e4a3f80-74d9-11ea-8b11-33d527b8b88b.jpg)

[2020-04-02 19:01] romainguy commented on #1820
The APIs give you control over quality. You can run the effect at full resolution and increase the number of samples.

[code]

[2020-04-02 21:12] prideout commented on #2319
This should be fixed #2332, I'm doing some extra testing  before closing.

[2020-04-02 21:23] gitzoran commented on #1820
Ah, resolution = 1.0 did the trick. Thank you!

[2020-04-02 21:55] prideout commented on #2293
gltf_baker has been removed but exists in our history.

[2020-04-02 21:55] #2293 closed

[2020-04-02 21:55] #2319 closed

[2020-04-02 21:57] prideout commented on #1629
See #2325

[2020-04-03 00:24] BillyUSA commented on #2327
I use this model :
[EARTHMAP.zip](https://github.com/google/filament/files/4424416/EARTHMAP.zip)

[2020-04-03 01:20] romainguy commented on #2327
<img width="1136" alt="Screen Shot 2020-04-02 at 6 19 22 PM" src="https://user-images.githubusercontent.com/869684/78314356-9d767700-750e-11ea-8310-692aa517ffa3.png">

Looks fine to me when I convert it to .obj. Seems like an issue with your conversion?

[2020-04-03 01:20] #2327 closed

[2020-04-03 01:22] BillyUSA commented on #2327
i use assimp to direct load the model into Material_sandbox

[2020-04-03 09:01] jakkypan opened #2335 "How to pass attribute parameters to filamat?"
![image](https://user-images.githubusercontent.com/15864446/78342644-299aa400-75cc-11ea-9b94-8f7766516aff.png)

![image](https://user-images.githubusercontent.com/15864446/78343903-1e487800-75ce-11ea-9e1d-b97fdc1e98e5.png)

I have 2 attribute parameters in filamat, how to  pass attribute parameters form cpp to shader？？can you give me an code episode？

[2020-04-03 12:04] rawnsley opened #2336 "Support for Android RGB565 bitmaps"
Is it possible to load a Bitmap as RGB565 and send it through to Filament using _TextureHelper.setBitmap_ so that it ends up as GL_RGB565 texture type?

I'm trying to find a more memory efficient way to store uncompressed opaque textures than RGBA8.

[2020-04-03 13:47] arctic4x opened #2337 "Black surfaceview on android"
Previously, i wrote an issue https://github.com/google/filament/issues/2320 and stuck with some problems.
After release 1.5.2 it doesnt crash, but still doesnt display anything on my device. There was only black screen on surfaceview and nothing else. Tried this on some another devices (Samsung s10, android 9 and meizu u10, android 6) and it works fine.
Do you know what's the problem? and how to f

[2020-04-03 16:04] romainguy commented on #2337
Do you have more information about the GPU in that device? Could you also provide the logcat logs when you start your app?

[2020-04-03 16:05] romainguy commented on #2336
`TextureHelper` already supports RGB565. `4444` and `HARDWARE` are not supported however (and won't be). I would however recommend using compressed textures over 565.

[2020-04-03 16:07] romainguy commented on #2335
Attributes like position and texture coordinates are already declared for you in the shaders. You should not declare them yourself. Custom attributes can declared using the `variables` material block (see documentation).

Setting attributes on the CPU side is done on the `VertexBuffer::Builder` class. Here is an example:

[code]

[2020-04-03 16:07] #2335 closed

[2020-04-03 19:35] arctic4x commented on #2337
Here is logs:

04-03 22:32:37.124 26340-26340/? I/art: Late-enabling -Xcheck:jni
04-03 22:32:37.210 26340-26340/com.example.qweqwe2 I/Filament: Filament library loaded.
04-03 22:32:37.254 26340-26340/com.example.qweqwe2 D/AccessibilityManager: current package=com.example.qweqwe2, accessibility manager mIsFinalEnabled=false, mOptimizeEnabled=false, mIsUiAutomationEnabled=false, mIsInterestedPackage

[2020-04-03 19:37] romainguy commented on #2337
Anything after `OpenGLRenderer: Initialized EGL, version 1.4`? I'm interested in checking whether there are driver errors during rendering. You could also — if you can — make a debug build of Filament which will trigger extra checks after every GL call.

If it's an Adreno 330 I would expect driver bugs to get in our way, especially in shader compilation :/

[2020-04-03 19:57] prideout commented on #2320
From what @arctic4x said in the #2337 description, it sounds like we can close this particular issue?

[2020-04-03 19:58] romainguy commented on #2320
Seems like it.

[2020-04-03 19:58] #2320 closed

[2020-04-03 21:10] prideout opened #2338 "SSAO, Bloom need ping-pong implementation for WebGL"
WebGL 2.0 on Chrome and Firefox do not allow what they call "feedback loops" for depth, and there are Khronos conformance tests in existence to enforce this.  For more information, see:

https://bugs.chromium.org/p/chromium/issues/detail?id=1066201

We need to provide an alternate FrameGraph for SSAO on some platforms that employs a ping-pong strategy as follows.  Say the mipchain is 5 levels, you

[2020-04-03 21:10] prideout commented on #2272
Closing this ticket, most of the warnings are now fixed.  Opened #2338 for a related issue.

[2020-04-03 21:10] #2272 closed

[2020-04-03 21:56] prideout opened #2339 "SPOT vs FOCUSED_SPOT issue"
My former NVIDIA colleague Philippe Rollin sent me some questions, creating a ticket for reference.

Q1:
I might have stumbled on a potential issue in Filament but I am not sure if it is me being dumb or
if it is an actual issue: The SPOT and FOCUSED_SPOT definition and usage seem to be inverted: in the
documentation (https://google.github.io/filament/Filament.html#mjx-eqn-spotLightLuminousPower),

[2020-04-03 22:47] romainguy commented on #2339
`LightManager` expects the full angle, so if glTF already provides the half angle we need glTF code to undo that before calling `LightManager`.

[2020-04-03 22:51] romainguy commented on #2339
The implementation of focused spot and spot seems correct to me. Focused spot is the physically correct one, spot is the non-physically correct one. It seems the only issue is right here in the doxygen comments:

[code]

They should be inverted. I'll correct them.

[2020-04-03 22:52] romainguy commented on #2339
@bejado @prideout Can you double check our implementation of KHR_punctual_lights to make sure we don't use the quarter angle?

[2020-04-03 22:54] romainguy commented on #2339
Documentation fix: https://github.com/google/filament/commit/17dd44fd917c285dc79a5ec659cabd219d53cc40

[2020-04-03 23:45] bejado commented on #2339
Yeah, I think we need to convert from gLTF's half angles to full angles for `LightManager`. I'll make the change.

[2020-04-03 23:49] romainguy commented on #2339
Does glTF give angle or cos angles?

[2020-04-03 23:50] bejado commented on #2339
Plain angles: https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_lights_punctual#spot

[2020-04-04 00:03] prideout commented on #2339
Fixed by #2340

[2020-04-06 09:51] rawnsley commented on #2336
@romainguy I'm struggling to get this working in the samples. For example in sample-textured-object, Filament crashes if I add this line to [TextureLoader.loadTexture](https://github.com/google/filament/blob/master/android/filament-utils-android/src/main/java/com/google/android/filament/utils/TextureLoader.kt#L41):

`options.inPreferredConfig = Bitmap.Config.RGB_565
`

I assumed this was because t

[2020-04-06 13:32] kvark opened #2342 "Support Vulkan Surface without TRANSFER_DST capability"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to run Filament on a VK_KHR_Surface implementation that doesn't expose TRANSFER_DST usage.

**Describe the solution you'd like**
If copying to a swapchain image is not required, make it truly optional. Blitting could be replaced by sampling from an image and rendering into the swapchain - if this is done within

[2020-04-06 13:36] kvark opened #2343 "Stop overriding VK_ICD_FILENAMES on macOS"
**Describe the bug**
[code]

**To Reproduce**
  1. set `VK_ICD_FILENAMES` to something
  2. Run on macOS

**Expected behavior**
Vulkan Loader interface is respected, and the user-chosen ICD is loaded.

**Desktop (please complete the following information):**
 - OS: macOS 10.15
 - Backend: Vulkan

**Additional context**
Running with [gfx-portability](https://github.com/gfx-rs/portability).

[2020-04-06 14:45] FabianRueckert opened #2344 "gltfio: Create multiple renderable instances of FilamentAsset with shared buffers"
**Is your feature request related to a problem? Please describe.**

I would like to load a GLTF object from file only once and then create multiple renderable instances of that object.

However, the functions
[code]
from AssetLoader parse a GLTF buffer and directly create an instance of a hierarchy of filament renderable entities.

[code]
loads the corresponding textures and buffers to the GPU.

W

[2020-04-06 16:29] romainguy commented on #2342
Could you explain the use case for this request please?

[2020-04-06 16:30] romainguy commented on #2343
Thanks for the report. Seems like we should just test whether `VK_ICD_FILENAMES` is set and pointing to a seemingly correct file.

[2020-04-06 16:34] romainguy commented on #2344
It would make sense to add `createAssetFromAsset(FilamentAsset)` or something equivalent.

[2020-04-06 16:37] prideout commented on #2344
Duplicate of #1513.

[2020-04-06 16:37] #2344 closed

[2020-04-06 17:00] romainguy commented on #2336
Looking into the crash…

[2020-04-06 17:17] prollin commented on #2339
Another related issue:
When loading a gltf spot light, filament seems to default to the SPOT type; shouldn't it be FOCUSED_SPOT since gltf lights are expressed in candela?

[2020-04-06 17:34] romainguy commented on #2336
I have a fix coming.

[2020-04-06 17:35] arctic4x commented on #2337
no, its no any logs after(
only system logs, not related to app

So, can i somehow use yout gltf loader and draw 3d model by myself?

[2020-04-06 17:38] romainguy commented on #2339
glTF lights are FOCUSED_SPOTs indeed.

[2020-04-06 17:38] romainguy commented on #2339
@bejado can you fix this please?

[2020-04-06 17:44] prideout opened #2346 "sample-hello-camera sometimes black on first run"
This Android sample often shows a black camera image on the very first run after a fresh install.  The first run is the only run that shows a permission dialog, which might be related.  I'm probably doing something wrong in my usage of the Camera2 API.

[2020-04-06 18:18] kvark commented on #2342
A theoretical use case is running on any Vulkan implementation that doesn't support TRANSFER_DST. It's a perfectly valid thing to not support.

More specifically, we are evaluating a new swapchain model in gfx-portability (https://github.com/gfx-rs/portability/pull/210), which doesn't support this usage. We would like to run Filament without local modifications :)

[2020-04-06 18:19] prideout commented on #2337
gltfio can only be used Filament, not other renderers.

@arctic4x, to better diagnose the issue, I'd like to send you a debug build in the form of an `aar`, if you're willing to give it a try.  It would tell us more in the logs.  Are you willing to give it a try?  (I'm not sure which version of Filament I would build, I'd probably just build the current top-of-tree.)

By the way, when you try to r

[2020-04-06 18:19] romainguy commented on #2342
I get that, but what is an implementation that doesn't support `TRANSFER_DST`? I'm mostly curious :)

[2020-04-06 18:24] kvark commented on #2342
We are evaluating a switch in [gfx-portability](https://github.com/gfx-rs/portability) architecture (which is a Vulkan Portability implementation on top of Metal, D3D12, and more) that would only support `COLOR_ATTACHMENT` usage for the swapchains.

[2020-04-06 19:01] #2336 closed

[2020-04-06 22:05] bejado commented on #2339
I chose a `SPOT` light to make the math simpler. Inside `LightManager.cpp`:

[code]

In `AssetLoader.cpp` I multiply by Pi to cancel it out so we can effectively set `luminousIntensity` directly.
[code]

What we should _really_ do is add a builder method that allows setting the luminous intensity directly in candelas, then we don't have to do any conversions.

[2020-04-06 22:06] romainguy commented on #2339
Sounds good to me. We would probably need an equivalent setter on light instances too.

[2020-04-07 00:11] prideout commented on #2337
I've attached a zip with 5 debug build aar files (core filament + its 4 utility libs), you should be able to use the latest release of Filament, then swap out the aar files for filament (and for its utility  libraries if you're using any)

[Archive_72056ee9.zip](https://github.com/google/filament/files/4441362/Archive_72056ee9.zip)
[code]

[2020-04-07 09:31] jakkypan opened #2355 "how to pass attribute parameters to shader？"
![image](https://user-images.githubusercontent.com/15864446/78652809-cc1c9500-78f4-11ea-9132-17c5c970f466.png)

![image](https://user-images.githubusercontent.com/15864446/78652847-db034780-78f4-11ea-882e-97e975d4c383.png)

![image](https://user-images.githubusercontent.com/15864446/78652912-f2423500-78f4-11ea-8deb-f1dd3a18ca93.png)

I want to pass 2 attribute parameters to shader,  but when i run

[2020-04-07 12:30] arctic4x commented on #2337
now logs look like this:

04-07 15:11:37.621 11811-11811/? I/art: Late-enabling -Xcheck:jni
04-07 15:11:37.722 11811-11811/com.example.qweqwe2 I/Filament: Filament library loaded.
04-07 15:11:37.791 11811-11811/com.example.qweqwe2 D/AccessibilityManager: current package=com.example.qweqwe2, accessibility manager mIsFinalEnabled=false, mOptimizeEnabled=false, mIsUiAutomationEnabled=false, mIsIntere

[2020-04-07 12:41] alexey-pelykh opened #2356 "Should Gltfio.init() call Filament.init() like Utils.init() does?"
**Describe the bug**
It seems that after recent changes between v1.4.5 and v1.5.2 due to `registerCallbackUtils(env);` is not called from Gltfio.cpp

**To Reproduce**
Start Sceneform demo with Filament 1.5.2

**Expected behavior**
It does not crash

**Screenshots**
It crashes with
[code]

[2020-04-07 13:01] alexey-pelykh commented on #2356
Or,
https://github.com/google/filament/blob/887f8e8a1c8d6dcd85188d1b77bfb4b4d4465557/android/filament-utils-android/src/main/java/com/google/android/filament/utils/Utils.kt#L27
should be in
https://github.com/google/filament/blob/887f8e8a1c8d6dcd85188d1b77bfb4b4d4465557/android/gltfio-android/src/main/java/com/google/android/filament/gltfio/Gltfio.java#L23
as well

[2020-04-07 15:22] romainguy commented on #2337
We need the logs after that, this is just initialization.

[2020-04-07 15:24] romainguy commented on #2355
Normals and positions shouldn't be passed as custom attributes. Use the dedicated attributes for this. Positions in particular is always required. Filament also provided specific attributes for color, UVs (two sets) and bones.

[2020-04-07 15:24] #2355 closed

[2020-04-07 17:01] prideout commented on #2356
Our demos use `Utils` rather than `gltfio` so I think this oversight had gone unnoticed.  Thanks for the PR :)

[2020-04-07 17:02] #2356 closed

[2020-04-07 18:24] arctic4x commented on #2337
is there any tag by which i can search?
becouse there left only system logs and there are a lot of them

[2020-04-07 20:13] prideout commented on #2337
You can simply attach the result of "adb bugreport" but to answer your question we interested in the "Filament" tag, especially messages that begin with "OpenGL error" or "OpenGL framebuffer error".

[2020-04-07 23:28] #2343 closed

[2020-04-08 01:55] jakkypan commented on #2355
use the dedicated attributes  **TANGENTS**  as normal？how can i get he value in vertex shader? i cannot found the function in **Filament Materials Guide**

[2020-04-08 02:13] romainguy commented on #2355
You can use material.worldNormal. It's described in the MaterialInputs section of the documentation. Note that you don't pass just normals to the TANGENTS attribute but a full tangent orthonormal frame (Filament provided helper APIs to build that frame as we expect it to be encoded as a quaternion).

[2020-04-08 02:26] jakkypan commented on #2355
thank you, then how pass the normal values to **material.worldNormal**？

[2020-04-08 02:50] romainguy commented on #2355
That value is given to you automatically. You set the attribute TANGENTS and our shader will unpack the normal for you (and transform it etc.)

[2020-04-08 14:44] rawnsley opened #2364 "Multiple views no longer working on Android"
Rendering multiple views in a single frame hasn't worked for a while. This is [already documented](https://github.com/google/filament/pull/1916), but I wanted to raise it's profile a little and provide an easy reproduce.

It we modify the lit-cube sample to have four views arranged in quadrants ([patch file](https://github.com/google/filament/files/4451048/patch.diff.zip)) we get:

![before](https

[2020-04-08 15:28] romainguy commented on #2364
Have you tried wit the latest version of Filament. There were several fixes related to multi-view rendering recently.

[2020-04-08 15:28] romainguy commented on #2364
@pixelflinger Looks like with the patch linked above we always invalidate a framebuffer if we use several times (for several views). It used to work I believe because of the test `currentFbo != newFbo`.

[2020-04-08 15:30] rawnsley commented on #2364
@romainguy Yes - this is straight from today's master branch at [68a78a77](https://github.com/google/filament/commit/68a78a77a85f2fbe5dce4d9c5fbe859ca6fd014f).

[2020-04-08 15:42] teub opened #2365 "headless swapchain/readPixels test doesn't work on windows + gl"
**Describe the bug**
I compiled a very small program based on filament_rendering_test.cpp to check why readPixels isn't working as expected in my code. The assert fails as the buffer is filled with 0.
I was having the issue with 1.4.* and I can reproduce it with 1.5.2

**To Reproduce**
Steps to reproduce the behavior:
1. here's the code I compiled and tested in debug:
edited: created a gist instea

[2020-04-08 15:58] romainguy commented on #2365
You are calling `readPixels()` too early, you should call it after `endFrame()`. Without the call to `endFrame()` the buffers haven't been swapped so there's nothing for you to read back (if you rendered multiple frames you would probably see something, with a 1 frame latency).

[2020-04-08 16:02] teub commented on #2365
the code was copied directly from https://github.com/google/filament/blob/master/filament/test/filament_rendering_test.cpp, so there's a bug in this file either way.

I made the change you proposed; now the buffer is no longer filled with 0 but the assert still doesn't pass: instead of being filled with 0, it's filled with 221 (or random things)

[2020-04-08 16:04] romainguy commented on #2365
@pixelflinger Is that an issue with clear color not working?

[2020-04-08 16:08] romainguy commented on #1018
Spot light shadows are now supported.

[2020-04-08 16:08] #1018 closed

[2020-04-08 17:37] pixelflinger commented on #2365
Actually readPixels() must be called *before* `endFrame()` -- sorry about the misinformation here.

I think it's more likely that headless support is broken for Windows (maybe has never worked?) as headless support is platform specific. Will take a look.

[2020-04-08 17:43] pixelflinger commented on #2364
@rawnsley are you setting the discard flags on the supplemental views? i.e. like this:

`view.setRenderTarget(TargetBufferFlags::NONE);`

You need to do that for all views, except the first one.

[2020-04-08 17:58] romainguy commented on #2365
@pixelflinger We call it after `endFrame` in `frame_generator` and it works there :)

[2020-04-08 18:10] bejado commented on #2365
Windows doesn't have headless Swapchain support: https://github.com/google/filament/blob/master/filament/backend/src/opengl/PlatformWGL.cpp#L186-L187

This has been on my todo list for awhile, I can look into it and see how difficult it'd be to add it.

[2020-04-08 18:25] rawnsley commented on #2364
@pixelflinger Is this possible through the JNI interface?

[2020-04-08 18:26] romainguy commented on #2364
Looks like the Java API is missing the TargetBufferFlags parameter and overload.

[2020-04-08 18:27] romainguy commented on #2364
We should also add a sample app to explain this behavior.

[2020-04-08 23:04] romainguy commented on #2364
I just checked in the missing API and a sample app.

Note it does *not* fix the issue entirely. You have to disable color clears after the 1st view and the only way to show a background is to use a skybox of equivalent. I'm going to file a new bug so we can fix how clear/clear color works in multi view mode.

[2020-04-08 23:04] #2364 closed

[2020-04-08 23:08] romainguy opened #2369 "Clearing multiple views is confusing"
Here is what happens when rendering 4 views called `view0` to `view3`. `view1`, `view2` and `view3` have the clear flags disabled and their render target buffer flags is set to `NONE`:

[code]

The result shows that the background surface wasn't cleared entirely by `view0`, or that its content was not loaded when the subsequent views started rendering (I don't believe we ever preserve tile content

[2020-04-08 23:09] romainguy commented on #2369
CC @rawnsley

[2020-04-08 23:09] romainguy commented on #2369
@pixelflinger BTW the screenshot above is from the emulator. I didn't test on an actual device so it may work there.

[2020-04-09 01:44] romainguy commented on #2369
PR #2371 fixes some of the problem.

[2020-04-09 04:12] BillyUSA opened #2372 "How to render multi overlay view in same viewport? (Win10 OpenGL )"
I want to render two view with differen scene/camera in same viewport ( win32 window ),
if both view without PostProcessing, can see the overlay result, but not smoothed ( no AntiAliasing );
if the last rendered view with PostProcessing(MSAA /FXAA) enabled，the reult is smoothed，but can't see the first view .

How to render multi overlay view with  PostProcessing ( MSAA /FXAA ) Enabled ?

[2020-04-09 04:14] romainguy commented on #2372
Are the two views side by side or on top of each other?

[2020-04-09 04:15] BillyUSA commented on #2372
two views are on top of each other

[2020-04-09 04:17] romainguy commented on #2372
What clear flags and target buffer flags do you use?

@pixelflinger

[2020-04-09 04:20] BillyUSA commented on #2372
view 0 :  setClearTargets(true, true, true)
view 1 :  setClearTargets(false, true, true)

[2020-04-09 05:17] romainguy commented on #2372
Thanks you could also try to call setRenderTarget(nullptr, View:: TargetBufferFlags::NONE) on the the top view?

[2020-04-09 06:05] BillyUSA commented on #2372
nothing changed after setRenderTarget(nullptr, View:: TargetBufferFlags::NONE)   on the the top view.

[2020-04-09 08:02] jakkypan commented on #1412
@prideout   whether vulkan backend is accomplished? i want use vulkan, is it simpler than before?

[2020-04-09 10:36] rawnsley commented on #2364
Can confirm fixed for me. Thank you so much!

[2020-04-09 11:47] jakkypan opened #2373 "how to use vulkan android?"
i have revised my local code as this commit [f58b3a8](https://github.com/google/filament/commit/f58b3a867b080734acd213595890b029412ee891)

but when i build using the command **./build.sh -vcp android debug**, it failed, as below,
![image](https://user-images.githubusercontent.com/15864446/78891565-666a0d80-7a9a-11ea-8ef2-a4b694ca7854.png)

so whether vulkan backend is accomplished?

[2020-04-09 16:02] romainguy commented on #2373
I just committed a small fix to our CMake files that was creating issues when building Vulkan for Android and some versions of CMake. What version of Filament are you using? The August 2019 commit you're pointing to is quite old at this point and I would recommend you try with the latest master. Vulkan should work, it definitely compiles.

[2020-04-09 16:02] #2373 closed

[2020-04-09 16:03] romainguy commented on #2373
I just did 2 clean builds of Vulkan for Android, in debug and release, and they both succeeded.

[2020-04-09 16:37] romainguy commented on #1251
Closing this for now. We may revisit in the future but tessellation is not on our roadmap for the time being.

[2020-04-09 16:37] #1251 closed

[2020-04-09 16:38] #1223 closed

[2020-04-09 16:39] romainguy commented on #1135
We're not going to implement this ourselves at the moment but we would gladly review any PR.

[2020-04-09 16:39] #1135 closed

[2020-04-09 16:40] #636 closed

[2020-04-09 16:41] romainguy commented on #1362
We fixed this recently.

[2020-04-09 16:41] #1362 closed

[2020-04-09 16:42] romainguy commented on #1629
Is this still required with @pixelflinger's recent changes?

[2020-04-09 16:42] romainguy commented on #1628
Is this still relevant considering the recent changes Mathias did to fences/timing queries?

[2020-04-09 16:44] romainguy commented on #1587
@pixelflinger @prideout We should disable anisotropy support on Mali-Gxx GPUs apparently.

[2020-04-09 16:45] romainguy commented on #1544
We can't reproduce at this time but we've changed the code that was causing the crash since then. Hopefully it fixes the problem.

[2020-04-09 16:45] #1544 closed

[2020-04-09 16:46] romainguy commented on #1773
@bejado Have you been able to repro this?

[2020-04-09 16:47] romainguy commented on #1818
You can do post processing by rendering to a texture and then rendering with that texture and custom material on the main surface. There was a bloom sample showing how to do this.

[2020-04-09 16:48] romainguy commented on #1864
This will be solved when we add a way to increase the size of the command queue. @pixelflinger

[2020-04-09 16:49] romainguy commented on #2019
We recently made a fix for this. Let us know if it still happens.

[2020-04-09 16:49] #2019 closed

[2020-04-09 19:27] teub commented on #2365
I was going to comment on how I worked around the issue on my side, but I've seen you've already implemented the fix!

If I may, I'm not sure leaking a window each time the swapchain is great; can't the window pointer be stored in some userdata?

Another remark : knowing it wasn't implemented in the first place could have saved me a lot of time (with a log or an assert).

Anyway, thanks.

[2020-04-09 19:33] romainguy commented on #2365
The leak is temporary, we'll fix it.

[2020-04-09 19:43] prideout commented on #1412
Unfortunately, there have been no recent enhancements made to our Vulkan backend.  We are a small team.

[2020-04-09 19:45] romainguy commented on #1412
Is there a particular reason you need to use Vulkan over OpenGL?

[2020-04-09 22:09] #2365 closed

[2020-04-10 01:51] jakkypan commented on #2373
i am using the filament 1.5.0

![image](https://user-images.githubusercontent.com/15864446/78955017-80463780-7b10-11ea-9bc4-1a8aeee96958.png)

Doesn't the **FILAMENT_SUPPORTS_VULKAN** need to be turned on?

And does i still use the command **./build.sh -vcp android debug**?

[2020-04-10 01:55] romainguy commented on #2373
It's turned on by passing -v to build.sh. But our Vulkan back end isn't complete yet. It builds on master.

[2020-04-10 01:56] jakkypan commented on #1412
no particular reason, maybe think vulkan’s syntax is better,  or will bring us better performance,  or just think it‘s newfashioned, haha

[2020-04-10 01:57] jakkypan commented on #2373
ok, and thank you for your persistently reply.

[2020-04-10 11:10] unicomp21 opened #2377 "Adsense for Games"
Filament needs to support Adsense for Games, from a WebGL perspective.

https://support.google.com/adsense/answer/7170212?hl=en

[2020-04-10 11:56] teub opened #2378 "Heightfield example and custom GPU code"
**Is your feature request related to a problem? Please describe.**

I've seen there was a heightfield example and I was hoping it would generate geometry based on a texture; however it looks like the geometry is generated on the CPU side. Is there any way of using filament to generate geometry using the GPU?

I'm not really an expert in this but I'm afraid any custom code like this is not possible

[2020-04-10 14:33] romainguy commented on #2377
What kind of support would be needed exactly? I imagine AdSense can be presented as part of the HTML document around the WebGL canvas.

[2020-04-10 14:35] romainguy commented on #2377
Based on the technical FAQ I don't see anything that needs to be done in filament.

[2020-04-10 14:35] #2377 closed

[2020-04-10 14:40] romainguy commented on #2378
We are not giving access to the backend or backend customizations on purpose. We definitely do not want to give the app any access to the render thread. There are several reasons for this but it's mostly about maintainability and stability (and also flexibility, with the current design for instance we could abandon OpenGL entirely in favor of Vulkan and apps wouldn't be affected).

Computer shader

[2020-04-10 14:40] #2378 closed

[2020-04-10 14:54] unicomp21 commented on #2377
Where is the technical FAQ?  Would be really cool if we could have meshes textured w/ ads which can be clicked on while still complying w/ the rules for Adsense.

[2020-04-10 20:23] iamlkj opened #2379 "potential double-free in gltfio"
**Describe the bug**
In AssetLoader there's a example for model loading flow:
/*
 * ...
 * FilamentAsset* asset = loader->createAssetFromJson(content.data(), content.size());
 * ...
 * // Load buffers and textures from disk.
 * ResourceLoader({engine, ".", true}).loadResources(asset);
 * ....
 * // Free the glTF hierarchy as it is no longer needed.
 * asset->releaseSourceData();
 * .... add to sce

[2020-04-10 21:06] prideout commented on #2379
I am not able to reproduce this, can you attach a zip with your C++ code?  Also, I don't see `mResourceCount` in our current codebase.

[2020-04-10 22:54] #2369 closed

[2020-04-10 22:55] romainguy commented on #2372
This is fixed by https://github.com/google/filament/pull/2376. See the PR description to understand what APIs to use.

[2020-04-10 22:55] #2372 closed

[2020-04-12 19:49] teub opened #2383 "filament outputs to stdout even when not being used"
**Describe the bug**
I'm writing a command line tool to output xml to stdout. It uses a dll that statically links to filament, and even when not using the filament engine, it writes stuff to stdout: "Filament library loaded.", which is a problem if stdout is to be used for something.

**To Reproduce**
Steps to reproduce the behavior:
Statically link filament to an empty program, run said program.

[2020-04-12 19:50] romainguy commented on #2383
Thanks for the report, we should definitely fix that indeed.

[2020-04-13 03:18] Huai-Dc opened #2384 "FEngine (32 bits) created at 0x595690 (threading is disabled)"
**Describe the bug**
The web demo will report this problem when run

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/19547344/79089333-5f801b00-7d78-11ea-9fe3-336ae9db8eca.png)

[2020-04-13 03:21] romainguy commented on #2384
Are you reporting a specific issue? This is just a message we use for debugging purposes. Threading is indeed disabled with WebGL because we have to (at this time).

[2020-04-13 03:21] #2384 closed

[2020-04-13 03:37] BillyUSA opened #2385 "Hwo to change shadow density ?"
default shadow is too dark, can i change the shadow density ?

default shadow edge is so hard, can it be changed soft ?

[2020-04-13 03:46] romainguy commented on #2385
You can't control the shadow "density". Something is in shadow or is not. You can however adjust the intensity of your IBL (IndirectLight) if you want the shadow to appear lighter.

Our shadows are already softened. We'll probably add support for ESM/VSM and capsule shadows in the future to get softer shadows.

[2020-04-13 03:46] #2385 closed

[2020-04-13 16:29] romainguy commented on #2383
@pixelflinger Do you have any objection against putting this log behind a debug flag?

[2020-04-14 06:01] strentler opened #2390 "Support for ANGLE"
Filament does already support for many graphics APIs, but DirectX is missing.

I wonder why do you not support the graphics abstraction layer ANGLE? This would include support for many graphics APIs including DirectX.

Why did you not choose ANGLE right from the beginning?

[2020-04-14 06:06] romainguy commented on #2390
ANGLE is larger than we want and does more than we want. It also didn't properly support ES 3.0 ad 3.1 when we started. But since Filament supports GLES there's no reason you can't use ANGLE. Although I'm not sure what the point would be since both OpenGL and Vulkan are supported on Windows.

[2020-04-14 06:06] #2390 closed

[2020-04-14 06:18] strentler commented on #2390
OpenGL and Vulkan is not supported on all hardware from Microsoft. They only support DirectX on such hardware. ANGLE would close this gap. Other option would be native support in filament for DirectX.

[2020-04-14 06:20] romainguy commented on #2390
What hardware does not support GL nor Vulkan?

[2020-04-14 20:07] romainguy commented on #2383
Fix is here: #2391

[2020-04-14 20:10] #2383 closed

[2020-04-15 09:12] BillyUSA commented on #2372
#2376 when setPostProcessingEnabled(true) and BlendMode with TRANSLUCENT , the 2nd view cover and erase the 1st view .
Is there example about  one view  drawn on top of another ?

[2020-04-15 14:16] zirman opened #2395 "Update to Filament 1.5.2 with SceneForm 1.16.0 crashes in ArSceneView constructor"
I'm getting the following crash when trying to use the latest version of Filament. Filament 1.4.5 does not get this crash on startup.

[code]

Any help is appreciated.

[2020-04-15 15:45] prideout commented on #2395
Looks like this occurs when `sceneform.rendering.CameraStream` is calling `filament.IndexBuffer.setBuffer`.  Hmm.

[2020-04-15 15:53] prideout commented on #2395
Given that you swapped out 1.4.5 with 1.5.2, did you have to make some updates to the sceneform source?  We made a few non-backwards compatible API changes and material changes.

CC @tpsiaki

[2020-04-15 16:27] romainguy commented on #2372
How do you setup the background of the top view? @pixelflinger

[2020-04-15 18:08] mattmapadmi commented on #2395
I'm running into the same issue. I didn't need to change any of the SceneForm source, it compiled fine. I've poked through the Filament source and can't see any changes in IndexBuffer between 1.4.5 and 1.5.2 that might cause this.

There's a more detailed error just above the stack trace in my app:

[code]

I thought maybe it was because there's no Handler or Callback supplied, but FilaMeshLoader

[2020-04-15 18:13] zirman commented on #2395
@prideout I didn't make any source changes to SceneForm 0.16 when updating Filament to 1.5.2.

[2020-04-15 19:20] romainguy commented on #2395
Checking with the ART team about what could cause this to happen. I don't understand what's causing this crash.

[2020-04-15 19:22] romainguy commented on #2395
BTW, @zirman @mattmapadmi did you compile Sceneform yourselves or are you using a prebuilt?

[2020-04-15 19:27] zirman commented on #2395
@romainguy I compile it myself. Oh wait. I did make some changes to get it working with androidx (@prideout). Here are my changes https://github.com/zirman/sceneform-android-sdk

[2020-04-15 19:28] romainguy commented on #2395
Those changes shouldn't matter, thanks for letting me know though.

[2020-04-15 19:36] romainguy commented on #2395
@prideout Could it be a JNI loading ordering issue maybe? Is Sceneform now supposed to call init from gltfio or from filament or both?

[2020-04-15 19:40] romainguy commented on #2395
I checked Sceneform's code and that's not it, they do the right thing:

[code]

[2020-04-15 19:42] romainguy commented on #2395
@zirman Would mind adding logs in `createEngine()` in `EngineInstance.java` to see which code path is taken to initialize Filament's JNI?

[2020-04-15 19:59] zirman commented on #2395
@romainguy Sure. Here is what I did.
[code]
With this result
[code]

[2020-04-15 20:00] romainguy commented on #2395
Thank you. It's definitely doing the right thing then.

[2020-04-15 20:03] zirman commented on #2395
Are you able to repro? I could try posting the changes to the SceneForm sample app to help.

[2020-04-15 20:06] romainguy commented on #2395
I can't repro with any of our Android test apps that use IndexBuffer.

[2020-04-15 20:14] zirman commented on #2395
I opened the gltf project from here https://github.com/google-ar/sceneform-android-sdk/releases/download/v1.16.0%C2%A0/sceneform-android-sdk-1.16.0.zip
and just changed the filament dependencies to 1.5.2 and got the same error.

[2020-04-15 21:02] romainguy commented on #2395
I found the issue, it's in `AutoBuffer`. Apparently `registerNioUtils()` hasn't been invoked at the time we enter this code path.

[2020-04-15 21:05] romainguy commented on #2395
@prideout `NioUtils` uses a static struct to keep the JNI lookups. Could it be that we have multiple versions/we init the wrong one because we have multiple libraries?

[2020-04-15 23:13] romainguy commented on #2339
We're switching the API to use half angles for consistency: https://github.com/google/filament/pull/2399

[2020-04-15 23:13] pixelflinger commented on #2339
Looking more at the code, it looks like we were expecting half angles in the shader and full angles in the calculation of the intensity for the focused spot light.

I have uploaded a fix that standardize on half-angles.

[2020-04-16 09:05] dsanjit commented on #435
Any progress on VR support please? Or maybe I missed something...

[2020-04-16 09:11] rawnsley commented on #435
@dsanjit I don't believe there are any plans for specific VR support in Filament at the moment. I have managed to use Filament successfully with at least one VR SDK and I think the method would extend to the others. Happy to sketch out my current approach if it would help.

[2020-04-16 09:28] oahc09 commented on #435
You can refer to the branch : https://github.com/NibiruDev/filament_V1.4.0_Nibiru
It makes filament suppored on vr hmd。

[2020-04-16 11:43] dsanjit commented on #435
@rawnsley Thanks! Did you use GL_OVR_multiview  or similar to do multiview rendering ? If yes some details would help.

@oahc09 Thanks will check !

[2020-04-16 12:50] rawnsley commented on #435
@dsanjit I don't think Filament supports multiview rendering. I use [two Filament Views](https://github.com/google/filament/tree/master/android/samples/sample-multi-view) (one for each eye) that render to texture buffers that I then submit to the VR engine for display. Thread and EGL context management is a bit painful, but possible.

One problem is that you need to wait until Filament has finishe

[2020-04-16 16:00] #2395 closed

[2020-04-16 16:01] romainguy commented on #2395
I submitted a fix. You can either use one of the continuous builds of Filament or wait for our next release to use it. Note that the next release breaks a couple of APIs which may impact Sceneform but we'll help you with the changes (they're fairly simple).

[2020-04-17 11:10] BillyUSA opened #2409 "Dose Skin and morph is ready now？"
RenderableManager has api about skin and  morph ，but no  any example of them.

[2020-04-17 15:02] romainguy commented on #2409
Both APIs work yes. You can check gltio for an example of how to use them.

[2020-04-17 15:02] #2409 closed

[2020-04-18 00:32] EvilTrev opened #2417 "mipgen corrupts certain png files"
**Describe the bug**
I have one or two png files that mipgen seems to corrupt. I've done the most basic of tests with only writing out the png that has been read in as a series of png files, and each mip png output is corrupt.

**To Reproduce**
./mipgen SpiritAtlas.png test%2d.png
Assuming GitHub doesn't transcode or tamper with the files, they are attached here:
![SpiritAtlas](https://user-images

[2020-04-18 00:39] romainguy commented on #2417
I can reproduce the issue with the supplied file. It does not happen with other files however. I'm not sure what the issue is: the source PNG is 8 bit and doesn't have a color profile.

[2020-04-18 00:42] romainguy commented on #2417
I found what's different about this image: it's palette based. Here's the output of `identify -verbose`:

[code]

@EvilTrev It should work if you save the PNG as a regular 24 bit image instead. We'll check but I am not sure the decoder we use even supports paletted PNG files.

[2020-04-18 00:44] EvilTrev commented on #2417
@romainguy Thank you for the quick turn around, I can take a look at the decoder as well to see if there is an obvious issue here. In the mean time, I will need to stub in an error on palletized files... often the pngs are outside my control.

[2020-04-18 00:47] romainguy commented on #2417
We use `libpng` so hopefully the bug is on our side. It could just be that our `libimage` (which itself uses `libpng`) wasn't written with this use case in mind. I know it supports grayscale PNGs but I never tested with palettes.

[2020-04-18 00:50] EvilTrev commented on #2417
The pattern looks like a stride issue to me, so I'm expecting a step size to be incorrect somewhere.

[2020-04-18 00:51] romainguy commented on #2417
The PNG decoding code lives here: https://github.com/google/filament/blob/master/libs/imageio/src/ImageDecoder.cpp#L235

[2020-04-18 00:52] EvilTrev commented on #2417
cheers!

[2020-04-18 13:00] rm8558 opened #2418 "Observed crashes on some older android devices"
**Describe the bug**
2020-04-18 18:22:06.213 5150-5169/com.google.android.filament.gltf A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x8 in tid 5169 (FEngine::loop) Getting this error after deploying the debug build of the sample gltf viewer app on some older devices (Use case: Need to support older devices as well).

**To Reproduce**
Soon after launching the, the app will crash.

**Expec

[2020-04-18 17:02] romainguy commented on #2418
Thanks for the report. Could you please provide more of the logs, the version of filament you are using and what device it's crashing on?

[2020-04-18 19:33] EvilTrev commented on #2417
@romainguy Fix is pretty simple, looks to be a logic bug introduced by not updating colorType after Libpng is done transforming the source material. Which means after the data is read into a buffer, the colorType is still PNG_COLOR_TYPE_PALETTE and not PNG_COLOR_TYPE_RGBA. The fix is to add this after png_read_update_info:

[2020-04-18 19:36] EvilTrev commented on #2417
@romainguy Additionally, some of this code may be useful or worth looking at because I think there may be other uncaught edge cases like GRAY_ALPHA and 1/2/4 bit grays:

[code]

[2020-04-18 20:09] EvilTrev opened #2419 "maxmip/nomip option for mipgen tool"
mipgen could also double as a pretty handy image converter, or limit the number of mips generated (if not required) with some additional command line params. For example PVRTexTool has a "-m" option which can be 0 for an automatic full mip chain (default) and any other positive number for exactly that number of mips in the chain (capped to max mips for that resolution).

Example usage:

mipgen -m

[2020-04-18 22:53] romainguy commented on #2417
Good catch about needing to call `png_get_color_type` again! Your proposed fix for `GRAY_ALPHA` would also address another bug that was filed a while back. I'll try your suggestions asap!

[2020-04-18 23:32] #2098 closed

[2020-04-18 23:32] #2417 closed

[2020-04-18 23:32] romainguy commented on #2098
This is now fixed, sorry for the wait!

[2020-04-18 23:43] #2419 closed

[2020-04-19 04:40] EvilTrev opened #2422 "mipgen linearized/srgb issue"
It looks like if you are writing ktx with astc compression from mipgen, that the `.srgb` parameter in the astc configuration is not initialized or set? In the case of a non-ktx file, `g_linearized` is used to decide if the final data output is `fromLinearToRGB` or `fromLinearTosRGB`... however I don't see matching logic to control astc output from ktx code. I think the files are always being creat

[2020-04-19 16:50] alexey-pelykh opened #2423 "Depth buffer overflow?"
**Describe the bug**
When there's a "camera" plane, transparent occluder, and regular object in the scene, following issue occurs (yellow - camera plane, gray - clearcolor):
![image (2)](https://user-images.githubusercontent.com/345102/79693891-873a1c00-826d-11ea-8231-e7305af554be.png)

Render priorities: camera plane ``0``, transparent occluder ``4`` and regular geometry ``5``.

An important note

[2020-04-19 16:52] alexey-pelykh commented on #2423
@romainguy we've had a similar issue that was always present yet it was fixed with https://github.com/google/filament/commit/2adfb259c6feecbea8c3ed3a0f5bc46aea1c3ec7

Also, it would be important to note that if regular geometry is `blending: transparent`, the issue also disappears.

[2020-04-19 17:03] romainguy commented on #2423
What device does this happen on?

[2020-04-19 17:04] alexey-pelykh commented on #2423
Samsung Galaxy S10 5G, and I think Pixel 3 as well, let me do a quick check.

[2020-04-19 17:06] romainguy commented on #2423
I wonder if the issue is that the depth buffer isn't cleared. That would be a more reasonable explanation than a depth overflow/underflow.

Note that even when the bug is fixed you should disable depth culling on your camera plane. There's no reason to have it.

[2020-04-19 17:08] alexey-pelykh commented on #2423
Pixel 3 has the issue as well, consistent with S10 5G.
Note taken about the camera plane, thanks for the hint!

[2020-04-20 09:22] House3D opened #2424 "The GLTF transparency is not rendered correctly in Filament (Sceneform 1.16.0)"
**Describe the bug**
The GLB transparency is correctly rendered in some 3D viewers like Microsoft Windows 3D Viewer or Three.js GLTF viewer (https://gltf-viewer.donmccurdy.com/), but not correctly rendered in Fillament

**To Reproduce**
Steps to reproduce the behavior:
1. Use the sceneform sample from Sceneform Android SDK 1.16.0:
https://github.com/google-ar/sceneform-android-sdk/tree/master/samp

[2020-04-20 10:18] alexey-pelykh commented on #2423
Only for cases when camera plane is rendered first, otherwise the depth test is needed.

[2020-04-20 15:57] romainguy commented on #2424
The glTF file is loaded properly. It is marked transparent as it should be but the alpha value is 1 (fully opaque). The first screenshot at the top doesn't show transparency but just reflections. They also appear with Sceneform/Filament,  just less obvious because it's a different IBL.

[2020-04-20 15:57] #2424 closed

[2020-04-20 16:58] prideout commented on #2379
Closing due to lack of a repro, I tried removing the releaseSourceData and enabling asan.  We may have fixed this in a recent refactor.  Please re-open if you have repro steps.

[2020-04-20 16:58] #2379 closed

[2020-04-20 19:22] romainguy commented on #2423
I can reproduce on a Pixel 4 as well.

[2020-04-20 19:46] romainguy commented on #2423
The error doesn't happen on the emulator. The resolution of the "gray" cube changes with the number of MSAA samples. It's really weird.

[2020-04-20 19:52] romainguy commented on #2423
Another fix is to change the Z position of the camera triangle's vertices from 1.0 to 0.999.

[2020-04-20 20:13] romainguy commented on #2423
Another fix is to disable depthCulling on the *occluder*.

[2020-04-20 20:53] romainguy commented on #2423
@pixelflinger Your turn, I'm out of ideas. In GAPID I can see that drawing the yellow triangle works, drawing the occluder works, the color buffers get corrupted when drawing the second cube (the lit one).

[2020-04-20 22:31] romainguy commented on #2423
From what we can tell this is a hierarchical Z bug in the Adreno GL driver. We double checked our stream of GL commands as well as the shaders and everything looks correct on our end. I would recommend using the workaround of disabling depth testing on the camera triangle (it's not necessary anyway).

[2020-04-21 04:05] jiqimaogou opened #2430 "show texture as background image."
I create a `Texture` using `Texture::Builder`, how do i do only show the texture as background image?

[2020-04-21 06:09] alexey-pelykh commented on #2423
To add more context to this:

- It's a regression, yet I'm not sure since when. On latest version that was used in Sceneform 1.15 everything was ok, yet after we upgraded Filament to 1.5.2 there were two issues: one is this, other one was fixed by https://github.com/google/filament/commit/2adfb259c6feecbea8c3ed3a0f5bc46aea1c3ec7. Major note on this that visually issues look absolutely the same, wi

[2020-04-21 06:11] alexey-pelykh commented on #2423
Regarding last point: one of assumptions was that something zeroes out the A channel of those pixels in secondary framebuffer, yet right now I'm almost confident that it's not.

[2020-04-21 06:13] alexey-pelykh commented on #2423
To rephrase this: https://github.com/google/filament/commit/2adfb259c6feecbea8c3ed3a0f5bc46aea1c3ec7 fixed the issue for regular geometry with transparency (e.g. tiger model) yet did not for the opaque objects (like these cubes). Since the visual feedback of the issues is very similar, and opaque objects are handled differently in post-processing, maybe it's something related.

[2020-04-21 06:16] romainguy commented on #2423
- The other issue is completely different. I checked just to make sure that we don't abort the vertex shader or produce bad results but even a vertex shader that does `gl_Position = mesh_position` reproduces the bug here
- Yes, there are multiple workarounds, most of which I've highlighted above.
- Filament has always (since before it was even public) used a secondary framebuffer. Disabling that s

[2020-04-21 06:19] alexey-pelykh commented on #2423
Out of pure curiosity, how did you manage to force GAPID to see the secondary framebuffer on during replay on Android device? For anything except "0", it always shows "framebuffer not there" for me

[2020-04-21 06:22] romainguy commented on #2430
The easiest way is to create a full screen triangle using a material with the `vertexDomain` set to `device`:

[code]

You can then use that vertex buffer and index buffer to create a `Renderable`. You may want to specify UV coordinates as well or simply use the mesh position to compute them in the vertex shader.

[2020-04-21 06:22] #2430 closed

[2020-04-21 06:24] romainguy commented on #2423
The problem is that GAPID apparently doesn't know how to handle `RGBA16F` buffers anymore. The easiest way to work around this is to change the rendering quality of your `View`'s `hdrColorBuffer` to `QualityLevel.LOW`. It will force Filament to use an `RGB888` buffer instead and GAPID will work. You can also completely disable post-processing to get rendering directly into the surface's framebuffe

[2020-04-21 07:24] House3D commented on #2424
No, it both has transparency and reflection
In the Thress.js player:
![image](https://user-images.githubusercontent.com/33864295/79837446-9dfe8100-83db-11ea-8467-f0fcf930bfe9.png)

In windows 3D Viewer:
![image](https://user-images.githubusercontent.com/33864295/79837535-c9816b80-83db-11ea-9ac5-4c8441ecc01e.png)

Can you open the GLB and check?

[2020-04-21 09:27] alexey-pelykh commented on #2423
Indeed, disabling post-processing does not affect the bug, and it's not visible in GAPID if to turn off post-processing and set quality to low, that's what confused me:
![image (1)](https://user-images.githubusercontent.com/345102/79849632-00975300-83c3-11ea-9c73-d03f3f53bdb2.png)

Sorry for confusion :)

[2020-04-21 12:47] cjsliuj opened #2431 "dyld: Symbol not found: _OBJC_CLASS_$_MTLSharedEventListener"
now only support iOS12+?

[2020-04-21 14:45] romainguy commented on #2424
I did and its baseColorFactor is 1,1,1,1 or opaque white.

[2020-04-21 14:48] romainguy commented on #2431
Thanks for the report but could you provide more details please? What version of filament are you using and on which device?

[2020-04-21 15:02] romainguy commented on #2424
Note that I also tried exporting from Blender into a new gltf file and I got the same result. The alpha value of the principled bsdf is set to 1 in Blender so that may be the reason?

[2020-04-21 16:28] romainguy commented on #2424
I also checked, there's no extension used in the glb file. No transparency shows up in https://gltf-viewer.donmccurdy.com/ either:

<img width="1017" alt="Screen Shot 2020-04-21 at 9 24 45 AM" src="https://user-images.githubusercontent.com/869684/79888747-f4ef6080-83b1-11ea-9cac-f5060e9e87cd.png">

If I change the baseColor's alpha channel in Blender to a value less than 1 then the object shows up

[2020-04-21 16:57] bejado commented on #2431
Filament only officially supports iOS 12.0 and higher. Our continuous and release builds are compiled with `-mios-version-min` set to 12.0.

In the future we might lower support to iOS 11. If you want to experiment with iOS 11, you can change the [build setting](https://github.com/google/filament/blob/master/build.sh#L527) and build yourself. I think there's only one or two places we're relying on

[2020-04-21 16:57] #2431 closed

[2020-04-21 16:58] romainguy commented on #2431
@bejado Can you make sure README.md mentions that iOS 12 is the minimum requirement?

[2020-04-21 17:03] bejado commented on #2431
I have a note in `ios/samples/README.md`, but I'll add one to the main README as well.

[2020-04-21 20:58] justinwilcox commented on #2418
I'm seeing this same issue. The device here is a Moto e5 (XT1920DL), but I'm seeing it on several devices with Adreno 308, and one with Adreno 306.

Here are my logs. These are from the hello triangle sample, but I see it on every sample app I've tried.

2020-04-21 16:49:05.602 1277-6729/? I/ActivityManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x1000

[2020-04-21 21:06] romainguy commented on #2418
Looks like a crash in the driver's shader compiler. The Adreno 3xx series drivers are full of bugs.

@justinwilcox  Any chance you would be able to try with a debug build of Filament and/or a custom build? It would be useful to print which shader is causing the crash. But since it happens in something related to UBOs I doubt it's shader specific. Also which version of Filament are you using?

[2020-04-21 21:14] justinwilcox commented on #2418
@romainguy That is with the debug build (I just get black screens with release build), but happy to try a custom build.
The version is whatever was in master 5ish days ago (cb5fcbc784e37bfb20e3c64f8abe6fbed111dfaa).

[2020-04-21 21:20] romainguy commented on #2418
Thank you! In `OpenGLProgram.cpp`  could you add the following lines at line 69:

[code]

And a few lines further down, just before the call to `glAttachShader()`:

[code]

[2020-04-21 22:58] romainguy commented on #2339
Is there anything left to do on this?

[2020-04-21 23:19] prideout commented on #2339
I'm good.

[2020-04-22 07:27] strentler commented on #2390
@romainguy. For example the Hololens.

[2020-04-22 08:58] rm8558 commented on #2418
@romainguy Thanks for the support. I've been using a Lenovo A6000 Plus (Adreno 306) running on a custom built ROM (Android 7.1.1) to test this. Having similar issues on a few other devices (production devices with similar GPU and stock ROM) as well.  I'll add those lines and try out a build.

[2020-04-22 09:11] jiqimaogou commented on #2430
@romainguy should I convert 'Texture' to 'Material"

[2020-04-22 12:39] cjsliuj commented on #2431
thanks

[2020-04-22 15:35] justinwilcox commented on #2418
I corrected this to:
`
utils::slog.d << "Shader id: " << shaderId << utils::io::endl;
`

Assuming I did that correctly, this is the full log from attempting to run the hello triangle sample.
[a308-crash-logcat.txt](https://github.com/google/filament/files/4517090/a308-crash-logcat.txt)

[2020-04-22 15:58] romainguy commented on #2418
Thank you. The offending shader is the skybox, the only difference between this shader and others is its UBO:

[code]

`constantColor` and `color` were added recently, I wonder if our declarations cause alignment issues. It should be fairly easy to try and fix this. I'll upload a PR some time today and you can try it.

Thanks again for your help, I very much appreciate it.

[2020-04-22 18:36] romainguy commented on #2418
@justinwilcox Here's something you can try. In the file `filament/src/materials/skybox.mat` there's a list of parameters. Can you change it to:

[code]

It's just a re-ordering.  If that doesn't work we can try to merge the two booleans into a single `bool4` but that will require a bit more surgery so we'll make a patch for you to try.

[2020-04-22 19:57] justinwilcox commented on #2418
That doesn't appear to change anything.
Here's a run with the skybox parameters reordered.
[a308-crash-skybox-logcat.txt](https://github.com/google/filament/files/4518714/a308-crash-skybox-logcat.txt)

[2020-04-22 20:37] romainguy commented on #2418
It seems you didn't recompile correctly, the UBO still looks the same:

[code]

[2020-04-22 21:35] justinwilcox commented on #2418
Not sure what happened there. Let's try again...
Params appear to be reversed in the logs this time.

[a308-crash-skybox2-logcat.txt](https://github.com/google/filament/files/4519112/a308-crash-skybox2-logcat.txt)

[2020-04-22 22:21] romainguy commented on #2418
Thanks! That didn't fix it then. @pixelflinger any ideas?

[2020-04-23 01:48] tellypresence opened #2443 "Filament incompatible with sanctioned glb models"
As mentioned [on khronos site](https://github.com/KhronosGroup/glTF-Sample-Models), the kenney models ["tower defense kit"](https://kenney.nl/assets/tower-defense-kit) fail to load due to filament error, e.g. for `towerRound_sampleF.glb`:
[code]
with throwable `CompletionException`:
[code]

(First raised in https://github.com/google-ar/sceneform-android-sdk/issues/1055)

[2020-04-23 01:50] romainguy commented on #2443
Thank you. As mentioned in google-ar/sceneform-android-sdk#1055, the asset you mentioned is non-conformant (doesn't follow the glTF specifications).

[2020-04-23 01:50] #2443 closed

[2020-04-23 09:35] vcxyk opened #2444 "Forget to export JobSystem.h in the include folder?"
**Describe the bug**
[Filament 1.5.2 ios] I tried to use engine->getJobSystem().adopt() but received a compiler error which indicates "JobSystem" is an incomplete class. But I can't find "utils/JobSystem.h" in the include folder.

**To Reproduce**
@see Description.

**Expected behavior**
Use JobSystem instance.

**Screenshots**
None.

**Desktop (please complete the following information):**
 - OS:

[2020-04-23 15:02] romainguy commented on #2444
JobSystem is not exposed in purpose at this time. What are you trying to do with it?

[2020-04-23 15:03] #2444 closed

[2020-04-23 19:47] pixelflinger commented on #2418
Maybe bool are not supported with this older driver? or maybe it wants padding?
We don't have a device that reproduces this crash, so it's hard to experiment.

@justinwilcox would you be able to try adding 2 dummy bool before the color in the UBO?