[2021-05-02 18:04] jwwalker opened #3880 "Poor doxygen formatting of Renderer::readPixels"
The header comments on the two versions of `Renderer::readPixels` include a diagram that should be handled as preformatted text and isn't, making the diagram illegible in doxygen output, and conversely some text that doesn't need to be preformatted is.

I've attached my version of Renderer.h, but if you'd rather have a pull request, I can easily do that.

[Renderer.h.zip](https://github.com/google

[2021-05-03 16:16] romainguy commented on #3880
A PR would be better if you don't mind.

[2021-05-03 16:28] jwwalker commented on #3880
OK, I created a PR #3881.   I don't know how to link it to this issue.

[2021-05-03 16:41] romainguy commented on #3880
All you have to do is say something like "Fixes issue #XXXX" in the PR description to link it. Anyway, it's merged, thank you so much for your help!

[2021-05-03 16:41] #3880 closed

[2021-05-03 21:34] pixelflinger commented on #3660
I investigated this a bit -- it looks like the graphics drivers of this phone are beyond salvageable :-\
When running in the debugger I manager to make it not crash, but then we're getting unexplained compile errors.

I did try with our vulkan backend and things seem much better, but there are still some issues, but at least most of the samples are working (gltf-viewer does not).

If you really ha

[2021-05-03 21:34] #3660 closed

[2021-05-04 01:14] elisemorysc opened #3888 "Release resources allocated with ResourceLoader::loadResources"
**Describe the bug**
Not really sure if this is a bug, or a problem in our code.
We're trying to render a large number of gltf models, one at a time.

Code looks like this:
[code]

This runs in a loop, receiving new models and render. It works as expected, however it looks like the resources loaded by `resourceLoader->loadResources(asset)` are not released and memory is "leaking". So after renderi

[2021-05-04 01:26] romainguy commented on #3888
`destroyAsset()` should be enough. Checking the code it should be destroying everything. Are you sure the resources loaded by the `ResourceLoader` is what's leaking? The only thing not destroyed are the materials (the material *instances* are destroyed), but there's only a finite number of those that can possibly be created (you could call `AssetLoader::getMaterialsCount()` to check how many have

[2021-05-04 01:41] elisemorysc commented on #3888
Hi. Thanks for the fast reply.
I think this is related to ResourceLoader since removing this will eliminate the leak. Material count doesn't change (stay at 3)

Example of a minimal version showing this:
[code]
(obviously will render nothing, but illustrate the problem)
You can use the same model, you don't need to supply a different one.
I think the problem is somehow related to `FVertexBuffer::s

[2021-05-04 09:14] SamAmco commented on #3876
Hi @romainguy .. Thanks for the super quick response. May I ask if this is explicitly documented somewhere? I feel like maybe I'm missing some documentation?

[2021-05-04 15:23] romainguy commented on #3876
It’s documented both on the TransformManager class itself (see the example) and in the parameters description of getTransform().

[2021-05-04 16:36] prideout commented on #3888
I'll see if I can repro, maybe we introduced a leak when we switched over to the BufferObject API.  At first glance the BufferObjects _are_ being destroyed, but maybe something more subtle is going on.

[2021-05-04 17:29] SamAmco opened #3889 "Broken IBL reflections"
_I am using filament for android and I discovered the following issue using an Android 10 device (Huawei P20). I have zipped up the example project that demonstrates this problem [here](https://drive.google.com/file/d/1b55XsnULpY4xhj0GA2q_RvaiaYJvTFS5/view?usp=sharing) and you can find a video of the issue [here](https://drive.google.com/file/d/1xc-jk8SM4FuyV_Ir1Vtl2WaziLCpXGSl/view?usp=sharing)_

[2021-05-04 17:32] romainguy commented on #3889
How do you create the sphere? The problem could be caused by incorrect normals on the 3D object.

[2021-05-04 22:48] bejado commented on #3774
I'm unable to reproduce this on the latest build. @ast3rX, if you're still able to repro, could you please provide two GLB assets that cause the issue?

[2021-05-05 00:50] #3888 closed

[2021-05-05 04:24] st-duymai opened #3896 "How to save image in Filament ?"
Hello.
I try make an Android app can export images that rendered by Filament.
I find a func "readPixels" but this function intend for debug and test.
So can you give me any advice or examples ?
Thank you.

P/s: Can I render without attach surface view ?

[2021-05-05 04:35] romainguy commented on #3896
You can use readPixels() for this, we use it ourselves for this purpose. And yes you can render offscreen using a RenderTarget object.

[2021-05-05 04:35] #3896 closed

[2021-05-05 09:13] SamAmco commented on #3889
I created the spheres and material in Blender. I just used a default sphere with smooth shading, you can see the setup here:

![sphere-normals-demo](https://user-images.githubusercontent.com/5012146/117119758-68c89500-ad8a-11eb-91ee-c802e95e434e.png)

After exporting to glb I dragged it into https://gltf-viewer.donmccurdy.com/ and the spheres seem to reflect the IBL fully in there:

![working-sphe

[2021-05-05 16:13] prideout commented on #3889
It looks like you are using `pillars_2k_skybox.ktx` for both the skybox and the IBL.  Note that cmgen can generate two KTX files: one for the KTX and one for the IBL.  They're not the same thing.

[2021-05-05 16:15] romainguy commented on #3889
Ah yes good catch @prideout. That KTX file will not work for the reflections. BTW @SamAmco you can also try your glTF directly in Filament on this page: https://google.github.io/filament/viewer/

[2021-05-05 16:45] paulorrfilho commented on #3660
Thanks you so much for investigating it @pixelflinger
As of now, I gathered 436 closed beta testers of which 96 have an Android phone with this GPU, mostly in Asian countries. The sad part is that these phones are still being sold to this date. My approach, for now, will be to release a Lite version of my app with fake 3D views to cater to these phones.

I am using the prefab, so is there a way fo

[2021-05-05 16:46] romainguy commented on #3660
As of 1.9.23 Vulkan should be included by default in the Android builds.

[2021-05-05 16:50] pixelflinger commented on #3660
btw, our simple ibl sample didn't even run very well, meaning the performance was underwhelming.

So I think you are probably better off doing the fake 3d approach anyways.

[2021-05-05 22:38] iamlkj opened #3900 "Camera stream texture shift on some devices"
Hi we’re using filament on a android AR project. We basically copied SceneForm to set up our camera stream:https://github.com/google-ar/sceneform-android-sdk/blob/master/sceneformsrc/sceneform/src/main/java/com/google/ar/sceneform/rendering/CameraStream.java). It works ok except some Samsung products(S9, S9+, Note9) on the front facing camera.

Data:
device resolution(2220 * 1080)
Androdi surface

[2021-05-06 01:51] elisemorysc commented on #3888
Hi,
Memory leak was fixed in #3894. However I think it's still leaking some resources.
`OpenGLDriver::createVertexBufferS()` allocated the `GLVertexBuffer` object, which in turn allocate memory in `OpenGLDriver::HandleAllocator::alloc`
However when releasing the `GLVertexBuffer` object in `OpenGLDriver::destroyVertexBuffer` the code to release memory in `OpenGLDriver::HandleAllocator::free` was re

[2021-05-06 04:47] st-duymai opened #3904 "Invisible object is behind transparent object ?"
Hello.
I have two 3d object.
One of them is transparent and is called A(a glass). The other is called B.
Normally, we can see B when B is behind A.
But I want to invisible any part of B if B is behind A.
So can you give me any advice ?
Thank you.

[2021-05-06 04:48] romainguy commented on #3904
Please open a discussion in the discussion tab for questions instead of an issue.

[2021-05-06 04:48] #3904 closed

[2021-05-06 09:36] SamAmco commented on #3889
I see, thanks very much guys. I will close this issue then.

[2021-05-06 09:36] #3889 closed

[2021-05-06 21:15] iamlkj commented on #3900
We've tried [Sceneform AugmentedFaces ](https://github.com/google-ar/sceneform-android-sdk/tree/v1.15.0/samples/augmentedfaces/app/src/main/java/com/google/ar/sceneform/samples/augmentedfaces
)example and we got the same issue on Samsung S9+

![image (9)](https://user-images.githubusercontent.com/7697488/117366324-6c851600-ae75-11eb-989e-bdf6e1fbd2b1.png)

[2021-05-07 06:44] grassydragon opened #3909 "inverseTonemapSRGB makes colors appear incorrectly"
Hello!
As stated in this issue in the maintained Sceneform repository (https://github.com/ThomasGorisse/sceneform-android-sdk/issues/60) the `inverseTonemapSRGB` function makes the colors with the full pixel intensity appear incorrectly. Is it because the `inverseTonemapSRGB` function is an approximation and isn't suitable for converting colors from the sRGB space to the linear space (I think that

[2021-05-07 12:06] JackKaiXing opened #3910 "filament-1.9.18: memory about ResourceLoader::LoadResources"
Hello,
Our project uses filament-1.9.18.

The `ResourceLoader::LoadResources` method would use large memory, while i do not know how to free those memory since `FilamentAsset::releaseSourceData`, `AssetLoader::DestoryAsset` and `AssetLoader::destory(my_asset_variable)` does not free as much memory as `ResourceLoader::LoadResources`.

Does filament-1.9.18 also has bug as this issue *https://github.

[2021-05-07 12:44] ast3rX commented on #3774
@bejado , thank you for looking into this! It looks like it's a combination of having shadow casters and changing the indirect light with the glb files. If both conditons are true then there is a consistent crash.

I was able to repro this using the `hello-gltf` sample.
1. Change `setupMesh()` so it can reload the same glb multiple times as described in https://github.com/google/filament/issues/33

[2021-05-07 15:20] prideout commented on #3910
v1.9.20 was the first release that had the VBO memory leak in #3888.

[2021-05-07 15:37] romainguy commented on #3909
Can you define "incorrectly" please? What's the expected output and the actual output?

This function will be exact if you choose the FILMIC tone mapper in the ColorGrading API. It will be an approximation with other tone mappers.

[2021-05-07 15:38] #3910 closed

[2021-05-07 15:53] JackKaiXing commented on #3910
@prideout thanks for quick reply.
https://github.com/google/filament/blob/v1.9.18/filament/backend/src/opengl/OpenGLDriver.cpp. The implementation of `destroyVertexBuffer ` is not same as your new commit *https://github.com/google/filament/pull/3894/commits/85a30d1cb70e0f8342e4b9eb3d2c54c07fcb6507* and *https://github.com/google/filament/pull/3906/commits/bb513966efe39ee3ab784e047258064b48c2580d*.

[2021-05-07 16:07] prideout commented on #3910
Yes, you can simply use `delete` for ResourceLoader if you created it with `new`.

[2021-05-07 16:16] JackKaiXing commented on #3910
@prideout

Our *URI data of Gltf file* is not loaded from disk, but from memory using `addResourceData`. Does the `memory free process` remains the same as we mentioned above?

[2021-05-07 16:28] prideout commented on #3910
Yep, you can either delete the ResourceLoader or call `evictResourceData()` to clear the cache.  If you are using asynchronous loading, be sure to this only after a model has been fully loaded or canceled.

[2021-05-07 18:01] alexey-pelykh opened #3915 "How to disable tonemapping for individual materials?"
**Is your feature request related to a problem? Please describe.**
We'd like to be able to render specific objects without tonemapping, that represent either HUD or non-AR background.

**Describe the solution you'd like**
Being able to exclude specific objects/materials from the tonemapping.

**Describe alternatives you've considered**
Adding a material that will inverse tonemapping to negate the

[2021-05-07 18:11] romainguy commented on #3915
Why would inverse tone mapping be non linear? Anyway that’s the way to do it in a given material. The other option is to use a second View wit tone mapping disabled on it.

[2021-05-07 18:11] #3915 closed

[2021-05-07 19:05] romainguy commented on #3909
Oh never mind I understand what's going on. It's a hue skew caused by out of gamut colors. You can workaround the problem for now by using the `FILMIC` tone mapping operator instead of the default `ACES_LEGACY`.

[2021-05-07 23:18] #3221 closed

[2021-05-08 06:04] JackKaiXing commented on #3910
@prideout

https://github.com/google/filament/blob/v1.9.18/libs/gltfio/src/DracoCache.cpp
**line 42:** `DracoMesh* mesh = DracoMesh::decode(compressedData, key->size);`

https://github.com/google/filament/blob/v1.9.18/libs/gltfio/src/ResourceLoader.cpp
**line 212:**`DracoMesh* mesh = dracoCache->findOrCreateMesh(draco.buffer_view);`

Does this pointer `mesh`  needed to be deleted?

[2021-05-08 14:49] JackKaiXing commented on #3910
@prideout

In file, ResourceLoader.h, both `decodeDracoMeshes(asset);`and `asset->mResourcesLoaded = pImpl->createTextures(async);` would create large memory, does `AssetLoader::DestoryAsset` free all those memory?

[2021-05-10 13:39] Lotfi-MERAD opened #3924 "how to make a simple translation of a gltf object without using Sceneform"
I need help please how to make a simple translation or rotation of a gltf object without using Sceneform (I just managed to make a skin animation which is already in the gltf file).

[2021-05-10 16:07] #3924 closed

[2021-05-10 18:31] pixelflinger commented on #3900
Are you sure that the camera stream is 1440x1080? this is the value we will use to copy the buffer?

Would you be able to try to disable the copy:

`#define DEBUG_NO_EXTERNAL_STREAM_COPY false`

Set this to true in `OpenGLDriver.cpp` -- this will tell us if the problem is from the copy.

[2021-05-10 19:49] iamlkj commented on #3900
We currently using filament 1.9.8 and the 1440x1080 is read from ARCore camera and it's exactly the size we set for camera stream. For the Sceneform example, we use Sceneform 1.15 since they take out the AugmentedFaces example on the latest version.
we'll try to disable the copy and come reply back later.

[2021-05-10 21:00] teub opened #3932 "'MT_StaticRelease' doesn't match value 'MD_DynamicRelease'"
**Is your feature request related to a problem? Please describe.**
So I'm updating filament to the latest release (I got behind quite a lot), and now the static libraries don't link to my project anymore.
I suppose there were reasons for removing those md libs from the release  (to save space?) : does that mean I need to recompile all the binaries myself ?

**Describe the solution you'd like**
I t

[2021-05-10 23:03] iamlkj commented on #3900
We tried disabling the copy. The green bias still exists.

[2021-05-11 00:32] ScatteredRay opened #3936 "CMake target names"
**Is your feature request related to a problem? Please describe.**
While integrating Filament into another CMAKE project, I sometimes get target conflicts, specifically the `image` target in libs/image/CMakeLists.txt conflicts with an image target in FLTK.

It also produces libs with names like `image.lib` which even without CMake, will cause conflicts.

**Describe the solution you'd like**

If Fi

[2021-05-11 00:36] prideout commented on #3936
Yes we're starting to move to a `filament-image` convention.  In fact if you made a PR for that we'd probably merge it :)

[2021-05-11 00:38] romainguy commented on #3936
Let's not use namespaces but new library names. That's safer anyway.

[2021-05-11 00:39] #3936 closed, assigned to nobody

[2021-05-11 01:18] ScatteredRay commented on #3290
so, you're thinking that libs will be output as e.g. `libfilament-image.(so|lib)` ? for CMake targets are you thinking also `set(TARGET libfilament-image)`

Might try to get to a PR if I get some time.

[2021-05-11 01:19] romainguy commented on #3290
Pretty much yes. But we may need to reorganize headers as a result.

[2021-05-11 01:26] ScatteredRay opened #3937 "Integrating FilamentApp into existing window/app."
**Is your feature request related to a problem? Please describe.**
I'm trying to integrate Filament into another application and would like to integrate with my own windowing/input/main loop.

It seems a lot of the libraries are fairly well build to do this, and doing this modularly shouldn't be too hard by duplicating a bunch of code in FilamentApp. But for an application that doesn't concern its

[2021-05-11 01:45] ScatteredRay opened #3938 "BlueGL shouldn't export GL symbols on Windows"
**Describe the bug**
Trying to link filament into another application that includes opengl32.lib, it seems that filament provides it's own opengl function bindings in the bluegl lib, it appears that this conflicts with the symbols in opengl32.lib

**To Reproduce**
I'll try to create a test project that exhibits the behaivor, but broadly
Steps to reproduce the behavior:
1. Create a new cmake projec

[2021-05-11 01:55] romainguy commented on #3938
That is correct, Filament does not expect to be linked against `opengl32.lib`. Its `bluegl` library is all you need and was designed for efficiency.

[2021-05-11 01:59] romainguy commented on #3937
`FilamentApp` is part of our samples and really not production-quality code. Filament aims to only be a renderer and nothing more (except accompanying libraries like gltfio to load glTF files, etc.). What `FilamentApp` does for input for instance is quite specific to our samples, but that's why we provide instead the `camutils` library which implements camera controls for you (you are still respon

[2021-05-11 01:59] #3937 closed

[2021-05-11 02:02] romainguy commented on #3938
All the symbols in bluegl are marked private (at least they are on macOS/Linux), you should be able to link filament libraries into a .so to avoid conflicts. Let us know if that works, otherwise we can figure something out.

@bejado Do you know if we hide the GL symbols on Windows? I know we do on other platforms.

[2021-05-11 02:12] romainguy commented on #3938
I hope it does :/ Otherwise we could offer a compile-time flag to link against opengl32.lib instead of bluegl.lib. BlueGL itself is basically 2 function calls so that would be trivial (all the GL calls are regular GL calls in the Filament code base so no impact there).

[2021-05-11 02:29] caibf commented on #652
@meshula How do you deal with it really? /force:multiple sounds not a good solution.

[2021-05-11 02:34] romainguy commented on #652
Tracking this again in issue #3938.

[2021-05-11 04:02] wasabia opened #3939 "RuntimeError: function signature mismatch"
when run web demo triangle

[code]

[2021-05-11 13:05] mirsfang opened #3941 "feedbackLoops test is not passed"
run result :

Intel Inc., Intel(R) UHD Graphics 630, 4.1 INTEL-16.2.16, 4.10
OS version: 0
Level Level : 180x90
Level : 90x45
Computed hash is 0x405970a1, Expected 0xe93a4a07

[2021-05-11 15:19] prideout commented on #3939
I do not see this with main and Chrome 90.0.4430.212 on macOS x86_64.

Which version of Filament and Browser are you using?

[2021-05-11 16:11] cx20 commented on #3939
I have confirmed the same error in the following environment.
Windows 10 + GeForce GTX 660 + Chrome 90.0.4430.93

[2021-05-11 16:39] meshula commented on #652
@caibf Sorry, I put that Windows app on hold, so I haven't got anything new to report.

[2021-05-12 02:22] wasabia commented on #3939
Hi @prideout

macOS 11.2.3  chrome 90.0.4430.93 (x86_64)

just open this link have same error
[https://google.github.io/filament/webgl/demo_triangle.html](https://google.github.io/filament/webgl/demo_triangle.html)

<img width="963" alt="QQ20210512-101923@2x" src="https://user-images.githubusercontent.com/1768228/117908813-b3f32280-b30b-11eb-9df2-0e4eafefe450.png">

[2021-05-12 14:35] udayk07 opened #3948 "Issue with glb model rendering in Android with filament and gltfio"
Tried to load a glb ( model attached ) model using sceneform with filament. While trying to render app got crashed. I am using latest version ( v1.9.24) of filament and gltf loader.

Same model works fine in online gltf-viewer.
<img width="940" alt="Screenshot 2021-05-12 at 7 38 29 PM" src="https://user-images.githubusercontent.com/78372917/117993163-1b858e00-b35d-11eb-9441-2c129ad0ec0e.png">

cra

[2021-05-12 15:21] romainguy commented on #3948
Please provide the full logs and please try the model in our own online viewer: https://google.github.io/filament/viewer

[2021-05-12 15:29] udayk07 commented on #3948
@romainguy

Found no specific logs other than above mentioned logs. Attached full console logs for your reference.
[ar_crash_log.txt](https://github.com/google/filament/files/6467248/ar_crash_log.txt)

While loading the model in online viewer https://google.github.io/filament/viewer also model is not rendering.
<img width="1440" alt="Screenshot 2021-05-12 at 8 53 02 PM" src="https://user-images.gi

[2021-05-12 18:15] #3932 closed

[2021-05-12 19:46] romainguy commented on #3948
I can reproduce with the native `gltf-viewer`. Besides all the empty vertex buffers, this gets printed as well:

[code]

[2021-05-12 20:03] bejado commented on #3938
Looking into this...

[2021-05-12 20:06] romainguy commented on #2585
I have an experiment available for this: https://github.com/google/filament/pull/3298

[2021-05-12 23:32] bejado commented on #3932
This has been fixed; you can find the latest Windows binaries under the [1.9.24 release](https://github.com/google/filament/releases/tag/v1.9.24).

[2021-05-13 00:36] bejado commented on #3938
@ScatteredRay I'm confused by this. Can you elaborate on your use-case here? What set of libraries are getting passed to the linker alongside Filament libs (`filament.lib`, `backend.lib`, etc)?

[2021-05-13 02:24] pixelflinger commented on #3290
Actually it would be a very disruptive change at this point, because it would affect all clients of filament, by breaking source compatibility. I can think of one in particular for which it'll be very problematic.

It'll also break the build system of our clients.

I'm wondering if we shouldn't provide legacy headers, if we do that.

[2021-05-13 09:42] JackKaiXing opened #3951 "setIBLRotation:: how to get the rotation matrix in vertex block"
Hello,

Our project rotate the IBL use `IndirectLight::setRotation`, we also use `world space direction vector` in `vertex block`. however, I found i have to rotate my direction vector in `vertex block` to match the ibl rotation.

Is there a fast way to get **IBL_ROTATION MATRIX** in vertex block, so i do not need to upload the matrix through material instance.

Thanks.

[2021-05-13 11:59] Hearwindsaying opened #3952 "Question: why does the worldFromModelNormalMatrix apply to tangent vector?"
In main() of main.vs:
[code]
This might be a graphics/math related problem.
I know that for normal vector transformation, it should use a fixed transform to ensure that it's perpendicular to the tangent plane after transformation.
But why do we apply this to tangent vector instead of using the trivial worldFromModelMatrix?

[2021-05-13 15:51] romainguy commented on #3951
Please open a discussion instead of a bug for questions. The IBL rotation is not available to the shaders as it is handled on the CPU side by transforming the entire scene. Could you please describe what you are trying to achieve?

[2021-05-13 15:51] #3951 closed

[2021-05-13 15:52] romainguy commented on #3952
Please use discussions for questions instead of filing bug reports.

The tangent is subject to the same problems as the normal when transforming it. Note that the computations in the shaders are the same, it's just a different matrix that's being used.

[2021-05-13 15:52] #3952 closed

[2021-05-13 23:56] hillesland commented on #3900
Please disregard KJ's comment about the 5 cm bias.  The bottom line is that the copy "fixed" that particular problem (but then we got other issues, probably related to lack of copy)

The root of the problem seems to be a resolution error somewhere at or below ARCore.  However, most people outside Filament won't see this because they use texture() instead of texelFetch().

So locally, we've changed

[2021-05-14 00:14] romainguy commented on #3900
That's more a workaround than an actual fix. A 1:1 copy should work with texelFetch and we should investigate what's going on.

[2021-05-14 01:31] prideout commented on #3939
I can't reproduce the issue (via the github.io page) on my NVIDIA Windows machine either.  Maybe this is a race condition with the wasm loader.  Does this reproduce for you reliably or intermittently?

[2021-05-14 01:51] prideout commented on #3948
This model is non-conformant; every accessor has its `count` set to 0.

This model seems to be generated by `glTF-Transform` so you might want to file a bug there.  Since this model uses draco compression, the bug in the pipeline might be when compression occurs.

[2021-05-14 01:51] #3948 closed

[2021-05-14 02:10] hillesland commented on #3900
There's no bug in the 1:1 copy itself (as far as we know).  It's a workaround for a bug elsewhere (ARCore?)

I agree that we did not do a proper fix for a 1:1 copy semantic.  I suppose I'm making a feature request, where I only have to specify the size of the destination for the reasons I mentioned.

[2021-05-14 02:26] hillesland commented on #3900
Thanks for all the help, by the way.

[2021-05-14 03:42] pixelflinger commented on #3900
One problem is that opengl doesn't let us query the real size of the image. So we rely on the info given to us. I will take another look to see if I missed something somehow.

[2021-05-14 05:49] wasabia commented on #3939
Hi
@prideout
[https://google.github.io/filament/webgl/](https://google.github.io/filament/webgl/)

Any webgl demos not work!

[2021-05-14 09:20] JackKaiXing opened #3959 "ResourceLoader::asyncbeginload does not return immediately for gld and ResourceLoader::addResourceData"
Hello,

In *ResourceLoader.cpp*, our project sets `#define USE_FILESYSTEM 1` for WIN and IOS.

After `ResourceLoader::createAssetFromJson` and  `ResourceLoader::addResourceData` for all the bins and texture, we call `ResourceLoader::asyncBeginLoad` but it does not return immediately.

Any ideas?

[2021-05-14 15:06] dodoleon opened #3960 "I want a wonderful StructureOfArrays.natvis"
filament's StructureOfArrays is very great. But there is a trouble for me to debug on visual studio.
so I write a simple StructureOfArrays.natvis, witch is not wonderful, if there are too many data.

This is show in Visual Studio
![image](https://user-images.githubusercontent.com/5832870/118290002-845d3980-b508-11eb-947e-c2fac2e417dc.png)

This is my StructureOfArrays.natvis
[code]

[2021-05-14 15:19] prideout commented on #3959
This method does do some work synchronously, such as processing and uploading vertex buffers.  The primary asynchronous activity is texture decoding, which tends to be the slowest part of the loading process.

[2021-05-14 15:19] #3959 closed

[2021-05-14 15:35] romainguy commented on #3960
Thank you. Unfortunately Visual Studio is not our primary development environment so we can't maintain something like this ourselves.

[2021-05-14 15:35] #3960 closed

[2021-05-14 16:22] FabianRueckert opened #3961 "GLTF Morph Stress Test rendering issues"
**Describe the bug**
Using the morph stress test model from:
https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/MorphStressTest

When playing the animation at index 0, it usually looks like this:

<img src="https://user-images.githubusercontent.com/61990737/118297927-13edf280-b4df-11eb-9db4-73f8db9f1f19.png" alt="image" width="200" >

It is only applying the first morph targets. Ev

[2021-05-14 16:30] prideout commented on #3961
Thanks, I will take a look!

[2021-05-14 17:11] jwwalker opened #3962 "Can't sample depth texture in OpenGL on Mac"
**Describe the bug**
When I render to a `RenderTarget` with a sample-able depth texture attached, I can successfully sample from the depth texture using Metal but not OpenGL.

**To Reproduce**
1. Uncompress the attached Xcode project on a Mac.
2. Open the project in Xcode.
3. Edit the file "proj.xcconfig" and change FILAMENT_REPO to the full path to the Filament repository on your computer.
4. Set

[2021-05-14 17:52] romainguy commented on #3962
@jwwalker Are you reading from the depth texture in the same pass that you are writing into it? If so, that's an undefined behavior in GL.

[2021-05-14 18:06] prideout commented on #3961
This is an excellent test case, it's uncovering several issues that were not provoked by other models we tried.  So far I've fixed one of the issues with the `Individuals` animation.

We will never handle the `TheWave` animation perfectly since we only honor the 4 highest weights, but obviously we should not fail so badly.

Fixes are on the way.

[2021-05-14 19:16] cx20 commented on #3939
In my case, I'm having this issue on a GeForce GTX 660 on Windows 10.
The same issue occurs with Triangle and other demos.
However, the same Chromium version of Edge doesn't seem to cause any problems.
Also, Chrome Canary doesn't seem to have any issues.

|OS|GPU|Browser|result|
|:----:|:----:|:----|:----:|
|Windows 10|GeForce GTX 660|Chrome 90.0.4430.93|:x:|
|Windows 10|GeForce GTX 660|Chrome 90.

[2021-05-14 19:29] jwwalker commented on #3962
@romainguy The code I posted did this on each frame:

[code]

Is that what you mean by "same pass"?  But just now I tried changing it to

[code]

and the result was the same.

[2021-05-14 19:31] romainguy commented on #3962
No what I meant is do you read from the depth texture in the same render() call that you write to it. But that doesn't seem to be the case?

@pixelflinger Looks like it might be due to our buffer discarding code then like we discussed over chat.

[2021-05-14 19:35] jwwalker commented on #3962
@romainguy  Oh, no, not the same render call.  I write to the depth texture when rendering to a `RenderTarget`, and read from it when rendering to an on-screen view.

[2021-05-14 19:47] pixelflinger commented on #3962
Yes,  so currently we always discard the depth buffer after it's used.
I will see if I can fix that.

[2021-05-15 00:05] #3961 closed

[2021-05-15 17:37] paulorrfilho commented on #3854
Preliminary results are not good. Vulkan didn't show much improvement. I will use the fake cymbals approach when I launch my app within a month or two. I will run additional tests later after that.
Thank you

[2021-05-15 21:47] seizir opened #3969 "Non-uniformly scaled rotated bones don't animate correctly"
If a bone with non-uniform scaling is rotated Filament produces a result different from every other renderer I've tested.

Here is a simple model demonstrating the issue: [scaled-rotated.zip](https://github.com/google/filament/files/6488278/scaled-rotated.zip)

This is the model as it appears in Blender (correct)
![image](https://user-images.githubusercontent.com/30301860/118378771-37479900-b5d6-1

[2021-05-17 06:30] chiragchauhan1073 commented on #3411
Hey @duy-maimanh How did you handled this scenario ? i have same requirement. could you please share you code. ?

[2021-05-17 08:18] chiragchauhan1073 opened #3976 "How to bookmark at specific position"
Is there are way to bookmark 3d Model at specific position ?

Currently i am using below code to set model position

 manipulator = Manipulator.Builder()
            .targetPosition(0.0f, 0.0f, -4.0f)
            .orbitHomePosition(2.8f, 0.0f, -1.17f)
            .viewport(mySurfaceView.width, mySurfaceView.height)
            .build(Manipulator.Mode.ORBIT)

        engine?.let { engine ->

[2021-05-17 08:28] JackKaiXing commented on #3959
@prideout

I looked into code of ResourceLoader and made experiments with draco and undraco gltf files. It seems that the method `static void decodeDracoMeshes(FFilamentAsset* asset)` consumes some time for delayed return in the main loop.

Any Ideas that I could changed this part as async loading as the texture decoding tasks?

thanks.

[2021-05-17 08:29] JackKaiXing commented on #3959
@prideout

I looked into code of ResourceLoader and made experiments with draco and undraco gltf files. It seems that the method `static void decodeDracoMeshes(FFilamentAsset* asset)` consumes some time for delayed return in the main loop.

Any Ideas that I could changed this part as async loading as the texture decoding tasks?

thanks.

[2021-05-17 09:08] duy-maimanh commented on #3411
@chiragchauhan1073 I do not remember exactly. My question was then because I didn't quite understand how filament works. But for my case, the filament renders exactly where I set it in blender. I don't need to do anything.

[2021-05-17 12:55] ThomasGorisse commented on #3669
Hi Filamen,

If you are interested, I started pushing a new ARCore/Filament SDK here : [RealityCore](https://github.com/ThomasGorisse/realitycore)

Mostly everything is ready and tested but I prefer checking and being sure everything is clean and well documented instead of pushing everything at one time. So I'll push the SDK files by files next coming days if you want to have a look.

[2021-05-17 15:45] romainguy commented on #3976
Bookmarks are for the camera, not arbitrary properties of the scene. You would have to implement this yourself.

[2021-05-17 15:45] #3976 closed

[2021-05-18 07:02] bigbigdaddy opened #3983 "ColorGrading outputs the wrong color"
I used ToneMapping. Linear, and the sky background color was set to white (255,255,255). After the ColorGrading processing, the color changed to (248,248,249).

`vec3 colorGrade(mediump sampler3D lut, const vec3 x) {
    // Alexa LogC EI 1000
    const float a = 5.555556;
    const float b = 0.047996;
    const float c = 0.244161 / log2(10.0);
    const float d = 0.386036;
    vec3 logc = c * log2

[2021-05-18 08:24] bigbigdaddy commented on #3983
If I use ColorGrading: : QualityLevel: : ULTRA will be more close to pure white

[2021-05-18 09:26] bigbigdaddy commented on #3983
I have found a solution. When I set the sky color, I will gamma correct the color.Then use ColorGrading: : QualityLevel: : Ultra to make the result more accurate
`inline float3 OECF_sRGB(float3 x) noexcept {
    constexpr float a  = 0.055f;
    constexpr float a1 = 1.055f;
    constexpr float b  = 12.92f;
    constexpr float p  = 1 / 2.4f;
    for (size_t i = 0; i < 3; i++) {
        x[i] = x[i] <

[2021-05-18 09:26] #3983 closed

[2021-05-18 15:01] udayk07 opened #3986 "Unable to load glb model in Android with sceneform using filament"
Hi team,

Unable to load below attached models in android with filament v1.9.24.

Model 1:
I tried to load using https://google.github.io/filament/viewer/ and it is loading fine ( But, console showing warning ). Also, materials are missing in viewer.

expected output:
<img width="865" alt="Screenshot 2021-05-18 at 8 38 20 PM" src="https://user-images.githubusercontent.com/78372917/118677182-ad880d

[2021-05-18 15:42] romainguy commented on #3986
I cannot repro the issue with the first model in the Web viewer. There are no warnings in the console. The second model seems invalid and fails to load in both our Web and native viewers.

[2021-05-18 15:58] prideout commented on #3969
As noted in #3707, Filament does not support shear in the finalized bone matrix (which includes the inverse bind matrix).

In general, shear can be decomposed into (rotation + non_uniform_scale + rotation).

[2021-05-18 15:58] #3969 closed

[2021-05-18 16:08] udayk07 commented on #3986
Tried once again the first model in Android device ( SAMSUNG S9 device ) ( https://github.com/google/filament/files/6502198/castle.zip ) and another model ( size 60MB ) (https://www.dropbox.com/s/z5q4twlfjwqf96o/kirala.zip?dl=0). Both models failed to load.

In both case found no specific logs in Android Studio console with filament. Attached error logs from console.

`com.example.augmentedreality

[2021-05-18 18:52] prideout commented on #3986
In a debug build on Desktop, the `car.zip` model triggers an assert in `OpenGLDriver::allocateHandle`. (@pixelflinger)   I'd be surprised if the handle arena is overflowing -- this model has a lot of renderables (7151 meshes) but not a totally crazy number.

[2021-05-19 10:51] unicomp21 opened #3996 "Rust webassembly bindings"
Would it be possible to generate rust/webassembly bindings?  Similar to what we already have for typescript?

[2021-05-19 11:11] kpeeters commented on #3403
Using `CANVAS_STREAM_TEXID` I also get black textures with `sample-stream-test` on Mali-T830 MP1. This device runs API 27 so I can't try the `CAMERA_STREAM_NATIVE` method.

An independent app, which uses the `TEXTURE_ID` method to get the camera stream too, also produces a black texture on this device (while it works fine on other devices).

[2021-05-19 11:28] kpeeters commented on #1448
@romainguy Is this still true? On an Adreno-510 on API 24, I get black textures if I do not call `updateTexImage` myself.

[2021-05-19 15:28] prideout commented on #3996
We do not have an autogenerator for language bindings, so unfortunately this would be too much of a maintenance burden.  Maybe it could be tackled by someone else, in another repo.

[2021-05-19 15:28] #3996 closed

[2021-05-19 15:41] Ditscheridou opened #3997 "Provide a Gltf View for jetpack compose"
**Is your feature request related to a problem? Please describe.**
Im currently developing an application where i need to display a gltf file. Currently i have to do some workarounds to achieve this

**Describe the solution you'd like**
It would be nice if the project provides for example a `GltfView(model="myModel")` where you simple could load and display it inside your compose view structure.

[2021-05-19 15:55] romainguy commented on #1448
We do call `updateTexImage()` yes.

[2021-05-19 15:57] romainguy commented on #3997
I wrote a sample app that shows exactly how to do this: https://github.com/romainguy/sample-materials-shop

You don't need a fragment, you just need an `AndroidView` to wrap a `SurfaceView`.

[2021-05-19 17:34] kpeeters commented on #1448
That comment seriously confused me, but a look at `OpenGLDriver.cpp` cleared things up. Just in case someone else runs into something related: filament only seems to call `updateTexImage()` for `NATIVE` streams, not for `TEXTURE_ID` streams.

[2021-05-19 22:17] griffin2000 opened #3999 "Cmake error following Windows Android instructions."
Are the Android Windows instructions up to date?  When I follow them and run this command:

[code]

Then I get this error:
[code]
Is there a step required to get CMake on Windows to use MSVC not Clang, for the Ninja generator?
[code]

[2021-05-19 22:41] romainguy commented on #3999
@bejado

[2021-05-20 10:40] Ditscheridou commented on #3997
Thanks for your hint! Works pretty well so far :) i will make a pr on your sample project for upgrading to the latest beta compose version

[2021-05-20 11:22] muizamhailey004 opened #4000 "Changing .png textures on GLTF, textures not appearing"
I'm rendering a gltf model which has many entities. I'm working on an AR app where I would want to change the .png textures. The problem is, the textures are not appearing, and the model is just appearing plain. I tried to change the texture with this:

I'm very new to filament and ARcore. Help would be appreciated. Here's the full code.

`init {
        coroutineScope.launch {

            val fi

[2021-05-20 12:01] ast3rX commented on #3774
@bejado, have you been able to repro the crash using the steps provided above?

[2021-05-20 12:01] Ditscheridou opened #4001 "Question: How to create own skyboxes?"
Sorry if this is maybe the wrong place, but currently im struggeling with finding a way to create my own skybox files for the ktx file format. Can someone guide me in the right direction? I found the mipgen tool inside filament which is capable of converting png files to ktx files, however, when im trying to read the converted files, my app crashes with a "Caused by: java.lang.IllegalStateExceptio

[2021-05-20 12:39] Ditscheridou commented on #4001
nvm im stupid and used the wrong tool. Sorry for that-.- For everyone asking the same, as mentioned [here](https://github.com/google/filament/blob/main/web/docs/tutorial_suzanne.md) you need to use the cmgen tool for this.

[2021-05-20 12:39] #4001 closed

[2021-05-20 15:31] prideout commented on #4000
You're probably using ubershader mode if you're on Android, so this should be possible if the original glTF includes texture coordinates and a standard metallic-roughness material.

Your code looks correct at first glance, maybe my colleagues will spot something.  Have you confirmed that the `setParameter` codelines are indeed being executed?  If the original model does not have any textures speci

[2021-05-20 17:43] bejado commented on #3999
Are you running the commands inside a "Visual Studio x64 Native Tools Command Prompt for VS 2019"? Make sure `cl.exe` is on your path.

You could also try adding the following flags to the CMake invocation:
[code]

[2021-05-20 17:47] bejado commented on #3774
Hey @ast3rX, sorry haven't had a chance to try yet but I'll give it a go today.

[2021-05-20 19:12] griffin2000 commented on #3999
Ah yes, my bad @bejado, that was the issue (confused as regular Cmake-generated MSVC does not need to be run from VS command prompt, but I guess Ninja does?)

[2021-05-20 20:03] bejado commented on #3999
At least with my environment, commands must always be run from the VS command prompt in order for the toolchain to be visible to CMake.

[2021-05-20 20:03] #3999 closed

[2021-05-20 21:55] bejado commented on #3774
Sorry, I'm still unable to reproduce. I'm using a GLB with two spot lights. If you could upload a complete example with a GLB file that reproduces the crash, I'd be happy to take another look.

[2021-05-21 02:01] IceCreamWu opened #4003 "`Fragment Function(blitterFrag): Shader reads texture (sourceColor[0]) whose usage (0x04) doesn't specify MTLTextureUsageShaderRead (0x01)'"
I want to readPixels with backend of MetalDriver, but I get the error as the title. I find source.color in MetalBlitter::BlitArgs is get from MetalRenderTarget::getDrawColorAttachment(size_t index), and inner it from MetalSwapChain::acquireDrawable(), and it from [CAMetalLayer nextDrawable].texture, but this texture typically be used to create an MTLRenderTargetDescriptor. Is it a bug?

 - OS:  iO

[2021-05-21 17:36] paulorrfilho commented on #3660
ok, so I tested it more and the app does not crash anymore on `glCompileShader`. Performance is not the best but users are loving the full 3D animations. However, I am getting thousands of logs like the ones below. Is this relevant?

[code]

[2021-05-21 17:41] bejado commented on #4003
If you're trying to read pixels from a SwapChain, then you need to ensure that you pass the `SwapChain::CONFIG_READABLE` flag to `createSwapChain`:

[code]

[2021-05-21 17:49] romainguy commented on #3660
Seems like an internal error in the driver :/ But if the app works…

For performance I would recommend to make sure you enable dynamic resolution.

[2021-05-21 20:21] #3997 closed

[2021-05-21 20:27] pixelflinger commented on #3941
That would indicate a problem with this GPU. @prideout  what do you think?

[2021-05-21 20:29] prideout commented on #3941
Yes I'd say this is a driver bug, and it indicates that some of our post-processing effects might not work properly with this GPU.

[2021-05-21 20:29] #3941 closed

[2021-05-21 21:25] pixelflinger commented on #3900
So, ARCore now has an API that can avoid the copy entirely -- you can use `Texture::import` instead.
You should use that instead and in fact we will deprecate and remote the `Stream` API that make a copy in the near future.

[2021-05-21 21:25] #3900 closed

[2021-05-21 23:40] #4003 closed

[2021-05-21 23:43] pixelflinger commented on #3854
Could you check if our `Multi View` test works on your device? That might give us some clue.

[2021-05-22 01:18] paulorrfilho commented on #3854
`Multi View` runs fine when using the OpenGL backend on my device with the Adreno 505 GPU. I do see some artifacts when I change the backend to Vulkan, so OpenGL is better in this case.

Just to be clear, the image I posted at the beginning of this issue was sent by a user, and other users sent me similar images, all of them using the Adreno 505 on a Xiaomi Redmi 4X/Pro, my device runs fine.

I wa

[2021-05-22 02:52] paulorrfilho commented on #3660
I did enable dynamic resolutions but I get weird results.

To summarize:

PowerVR phone:
OpenGL -> app crashes, Vulkan -> app works.
Dynamic resolution runs fine using Vulkan but I don't see much improvement.

Other phones:
OpenGL -> app works, Vulkan -> app crashes.

Dynamic resolution does not work. Sometimes the view will flicker a little bit and will eventually render correctly but most of the

[2021-05-22 16:09] jwwalker commented on #3962
@pixelflinger With this update, the sample project that I attached to this bug crashes, both with Metal and OpenGL.  In `FRenderer::renderJob`, line 325, when it looks at `attachment.texture->getUsage()`, the texture is NULL.

[2021-05-22 17:06] pixelflinger commented on #3962
Ah yes. Duh. I'll fix this on Monday.
I wasn't able to run the project on my Apple Silicon Mac, btw.

[2021-05-22 18:05] jwwalker commented on #3962
@pixelflinger I've edited the project so it will run on Apple Silicon.

[2021-05-22 18:08] pixelflinger commented on #3962
Thank you! I've never used xcode.

[2021-05-23 06:48] ast3rX commented on #3774
I have uploaded the project with two glbs, both of these are crashing consistently during pan interaction with the provided repro on iOS Metal (device and simulator).
[hello-gltf.zip](https://github.com/google/filament/files/6527647/hello-gltf.zip)

[2021-05-23 11:38] dex1990 opened #4014 "lightbulb sample crash with args "-m -a vulkan""
**Describe the bug**
When i run lightbulb sample with args "-m -a vulkan", application crashed with output log :

VULKAN ERROR: (VUID-vkQueuePresentKHR-pWaitSemaphores-03268) Validation Error: [ VUID-vkQueuePresentKHR-pWaitSemaphores-03268 ] Object 0: handle = 0x225c05e9078, type = VK_OBJECT_TYPE_QUEUE; Object 1: handle = 0x68d1dd0000000007, type = VK_OBJECT_TYPE_SEMAPHORE; | MessageID = 0x251f8f7

[2021-05-23 22:21] teub opened #4015 "Possible performance issue with fragment shaders and overdrawn geometry"
**Describe the bug**
I noticed a significant performance hit that seems to depend on the resolution, for opaque geometry that is overdrawn and for which I didn't expect the fragment shader to run. I suspect there's more to it but I'm not sure what.

I'm not sure how to investigate this properly, but here's how I made a simple test case:

- I made a sphere.obj with 4k triangles, then another sphere

[2021-05-23 23:23] romainguy commented on #4015
You are most likely suffering from additional quad shading here. We used to have a depth prepass to combat this but it was causing a lot of compatibility issues on various GPUs and sometimes performance was worse because of the extra draw calls.

I don't think this test is representative of what would happen if you duplicated skin geometry.

[2021-05-23 23:23] #4015 closed

[2021-05-23 23:28] pixelflinger commented on #4015
So... In theory the fragment shader shouldn't run each time, but we should make sure we set the depth buffer test so that equal depths are discarded. I think we're doing this right, but it's worth double checking. I will do that on Monday.

Second point, you may just be overwhelming the vertex stage and/or the rasterization stage. But that theory might not hold because performance degrades signifi

[2021-05-23 23:38] teub commented on #4015
Well as I had no way of controlling the number of instances, some were overdrawing themselves, and the framerate was tanking when getting close to those ones. I'm just moving them out of the view now but I thought this could be the symptom of some other problem.

So without a depth pre-pass, your render time depends on how lucky you are with the order of the primitives, right? I guess you can sort

[2021-05-23 23:40] romainguy commented on #4015
If you give them proper bounding boxes the front to back sorting + depth buffer should eliminate most of the overdraw. It won't however fix overshading due to quad shading, we still need to add support for LODs to solve this (or bring back a more robust depth prepass). But yes, within a single model the order in which the primitives get processed by the GPU will impact the result (at least for pri

[2021-05-23 23:47] teub commented on #4015
I'm out of luck then because the bounding box of my fake-instanced geometry is very big :)

[2021-05-23 23:50] romainguy commented on #4015
Can it be smaller? :)

[2021-05-23 23:53] teub commented on #4015
Not really, I'm using a single entity to display n characters at various locations, which was the point of instancing. Note that for something like trees or vegetation, this would be the same issue.

[2021-05-23 23:56] romainguy commented on #4015
Does it have to be a single entity? You will definitely lose out on the sorting and culling we perform in engine.

[2021-05-24 00:00] teub commented on #4015
I actually have more than 1 entity, but their instances need to be far apart for you not to see them being repeated.
The more spread out they are, the less you see it; so yeah, it implies big bounding boxes.

I guess one day there will be true instancing in filament and maybe the depth pre-pass will be back, so I'm not worried :) I hope these use cases help you evaluate what could be useful.

[2021-05-24 00:03] romainguy commented on #4015
I still don't get why you can't have 1 entity per instance (or at least per few instances). Multiple entities can share the same vertex and index buffers. The "only" added cost will be the per entity UBO but those are small (they only contain the transform matrix).

[2021-05-24 00:05] teub commented on #4015
10000 animated characters is currently a big no-no. setBones is already costly (I've seen it mentioned in another ticket), there's no way I can call this 10k times.

Maybe I should consider sharing the vbos but it's currently not the bottleneck, and not doing it will help me create more visual variety.

[2021-05-24 00:06] pixelflinger commented on #4015
Currently, to simulate instancing, you need to create N renderables, each using the same vertex/index data, which will allow you to have a tight bounding box.

Using large bounding boxes with a lot of empty space in them, will hurt filaments culling and sorting significantly.

[2021-05-24 00:16] teub commented on #4015
@pixelflinger I can't create 1 renderable per animated character for that many characters: as mentioned above, setting their pose individually would be too costly. I'll keep this in mind though, maybe it can be useful for other things.
I knew big BBs would come with compromises, I already disabled shadows on them; I didn't expect the overdraw problem though.

[2021-05-24 00:17] pixelflinger commented on #4015
Why would it be too costly? And how many are we talking about?

[2021-05-24 00:21] teub commented on #4015
It's computing quats out of matrices each time you call setBones, when I only want to do it once for the few different poses I compute.

A very large crowd; my initial need was 10k people, I'm already quite below that :)

[2021-05-24 03:48] pixelflinger commented on #3238
Very interesting use case.

[2021-05-24 04:01] pixelflinger commented on #4015
Note that there is a version of `setBones()` that takes quarternions directly. You could use that to avoid the matrix to quat conversion.

Honestly, I would try this, rather than messing with the bounding boxes.

There are definitely many things we can improve for your use case, and I'll look into it, but given the current situation, the best approach would be one renderable per instance, tight bo

[2021-05-24 14:20] udayk07 commented on #3986
@prideout Do we have any workaround to fix this rendering issue for car.zip (https://github.com/google/filament/files/6502284/car.zip) model as it seems to be in valid format while check with gltf-validator ?

[2021-05-24 15:17] prideout commented on #3986
@udayk07 which tool did you use to generate this glTF?

It might be interesting to see what would happen if you were to combine the meshes to reduce the number of renderables.

[2021-05-24 16:12] udayk07 commented on #3986
@prideout The model generated by three.js exporter ( to load as .glb file in Android ).
<img width="951" alt="Screenshot 2021-05-24 at 9 18 54 PM" src="https://user-images.githubusercontent.com/78372917/119375540-8b3e3600-bcd8-11eb-90ad-41b615f9c369.png">

Will look into combine meshes in this model. Do we have any maximum mesh count in filament ?

[2021-05-24 16:22] prideout commented on #3986
Our internal handle arena is limited to 2 MB which should be plenty.  To be honest my mesh reduction idea is just an experiment to see what will happen, since I don't understand this bug yet.  (note however that your model will be more optimal if you reduce the mesh count)

[2021-05-24 16:53] #3962 closed

[2021-05-24 17:37] udayk07 commented on #3986
@prideout Tried to combine meshes for car.zip model. Found below results,
1. [car_partial_meshjoin.glb.zip](https://github.com/google/filament/files/6534005/car_partial_meshjoin.glb.zip)  -> combined only few meshes in this model (total mesh count 4965) which is not loading in Android device and filament viewer also ( original mesh count 7151 )

2.  [car_high_meshjoin.glb.zip](https://github.com/g

[2021-05-24 18:45] prideout commented on #3986
Thanks, that is interesting.  I haven't had time to investigate yet, so I'm not sure if this is an actual bug or if a resource limit has been exceeded, either way we should probably try to emit better error messages.

@pixelflinger these models might be good stress tests, not sure how they compare to bistro and sponza

[2021-05-25 07:37] Ditscheridou opened #4022 "Introduce Quaternion support"
**Is your feature request related to a problem? Please describe.**
Sometimes you want to use Quaternions to avoid angle problems, that you get with euler angles. Since the normal matrix support is pretty neat, it would be nice to enhance this with quaternions.

**Describe the solution you'd like**
For the android project: Add extension functions (or functions to the Matrix class) to calculate with

[2021-05-25 12:37] FinleyPan opened #4024 "How to custom a YUV texture downloader"
I use `readPixels` to read the rendered result back to host memory with `PixelDataFormat::RGBA`, everything goes well. My question is it possible to convert the resultant rendered texture from `RGBA` to `YUV`(e.g. NV12) in the material file(.mat)? I know how to do it with opengl fragment shader, but don't know whether it can be achieved with filament supported features or any customizable post-poc

[2021-05-25 16:13] romainguy commented on #4024
You could easily output interleaved YUV but NV12 is one Y plane and a UV plane with U and V interleaved. You won't be able to achieve this with a fragment shader. BTW please open a discussion instead of an issue for this kind of question, thanks!

[2021-05-25 16:13] #4024 closed

[2021-05-25 19:06] cx20 opened #4027 "Triangle Tutorial is not working after changing to Filament v1.10.0"
**Describe the bug**
[Triangle Tutorial](https://google.github.io/filament/webgl/tutorial_triangle.html) is not working after `v1.10.0` is released.
This is probably due to the [material breakage](https://github.com/google/filament/releases/tag/v1.10.0) in Filament, as described in the release notes. I think it needs to be rebuilt.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Filame

[2021-05-25 19:11] prideout commented on #4027
Gah, thank you for the bug report!  Will fix ASAP.

[2021-05-25 19:22] #4027 closed

[2021-05-25 20:35] ast3rX commented on #3774
I pulled the latest main branch but I'm still seeing the same crash. I've saved the entire dump which also contains a `no texture bound at binding point` warning which is suspicious.
[crashdump.txt](https://github.com/google/filament/files/6542205/crashdump.txt)

[2021-05-25 20:44] cx20 commented on #3939
I have confirmed that the event can be reproduced by changing the settings even on Windows 10 + Chrome + `GeForce RTX 2060`.
This happened when I changed Chrome's `ANGLE` backend from `default` to `OpenGL`.

![image](https://user-images.githubusercontent.com/1833979/119564776-1fe18a80-bde4-11eb-9693-d4494eac2293.png)

[code]

[2021-05-25 21:45] romainguy commented on #4022
Are you talking about the APIs that are part of the filament-utils-android library?

[2021-05-26 00:37] pixelflinger commented on #3986
So `car.zip` seems to be invalid. At least, our `ResourceLoader` asserts with a problem where there are no triangles when processing tangents.

The model also uses more memory than we set by default, thankfully, we have compile time configuration flags you can set. It seems that you need to:
- increase `FILAMENT_OPENGL_HANDLE_ARENA_SIZE_IN_MB` -- but I'm not sure to what value yet. Maybe try 8 MB.

[2021-05-26 02:18] bigbigdaddy opened #4033 "The frame rate is lower with TextureView"
If I use TextureView, the frame rate is below 60, no problem using SurfaceView
![image](https://user-images.githubusercontent.com/45582510/119592673-81691f80-be0b-11eb-88eb-a41493551212.png)

[2021-05-26 02:25] romainguy commented on #4033
That is expected, using a texture view requires an extra copy + the UI toolkit to participate.

[2021-05-26 02:25] #4033 closed

[2021-05-26 04:00] dex1990 commented on #4014
I also used the latest LunarG SDK(1.2.176.1).
![image](https://user-images.githubusercontent.com/2503734/119600358-7917e100-be19-11eb-9d09-9ebb6c5d26d0.png)
I built Filament myself with the latest source code, as you can see.
![image](https://user-images.githubusercontent.com/2503734/119600542-d6ac2d80-be19-11eb-95ce-97ce154bc4e3.png)

[2021-05-26 08:16] Ditscheridou commented on #4022
Yes!

[2021-05-26 08:50] dex1990 commented on #4014
I built filament myself with recent source code. I also use the latest LunarG SDK(1.2.176.1)

[2021-05-26 15:11] prideout commented on #4014
Got it.  I'll give this a try on my NVIDIA machine.  Thanks for the bug report!

[2021-05-26 15:14] prideout commented on #4000
@muizamhailey004 were you able to narrow this down?

[2021-05-26 15:20] prideout commented on #3596
See also https://github.com/KhronosGroup/glTF-Blender-IO/issues/1345

[2021-05-26 15:20] prideout commented on #3504
See also https://github.com/KhronosGroup/glTF-Blender-IO/issues/1345

[2021-05-26 17:57] bejado commented on #3774
Are you actually seeing the "no texture bound at binding point" warning logged somewhere? What you uploaded is just the disassembly. A stack trace would be helpful as well.

[2021-05-26 19:38] prideout commented on #4014
I have a repro with NVIDIA RTX 2060 + Windows 10.  Investigating.

[2021-05-26 19:44] bejado opened #4037 "ktx::createTexture doesn't respect sRGB option for compressed textures"
I'm trying to ASTC encode a  ktx image and load it as an sRGB texture.

[code]

The result texture has a format of `RGBA_ASTC_4x4`, but I would expect the format to instead be `SRGB8_ALPHA8_ASTC_4x4`.

I think this block should be expanded to also support compressed texture formats:

[code]

If that sounds correct, I can make the change.

[2021-05-26 19:46] romainguy commented on #4037
That looks right to me but @prideout should double check.

[2021-05-26 20:47] prideout commented on #4014
This is due to VK_DEVICE_LOST which would be impossible to handle robustly, but hopefully we can prevent it from happening in the first place.  I think the next step is to root cause it using `NV_device_diagnostic_checkpoints` so I'll play around with that.

[2021-05-27 03:37] #4037 closed

[2021-05-27 09:10] liang0724s commented on #2773
Hi @FinleyPan, did you meet your expectations ?I also  want to use filament on windows x86.

[2021-05-27 09:10] liang0724s commented on #2773
Hi @FinleyPan, did you meet your expectations ?I also want to use filament on windows x86.

[2021-05-27 09:21] muizamhailey004 commented on #4000
Sorry for the late update. Yes, fortunately I was able to narrow it down. However, another problem arises. I am able to render the textures to the wall, but the color of the original .gltf model without texture still retains behind the texture.

Color of original .gltf wall:
<img width="1045" alt="Screenshot 2021-05-27 at 5 15 30 PM" src="https://user-images.githubusercontent.com/84392941/11980006

[2021-05-27 15:14] muizamhailey004 commented on #4000
After some troubleshooting, I realized that the normal map is causing the problem. Without the normal map, the color is fine, just that it's missing the bumps. When I add the normal map, it gives the entire texture some sort of translucency in such a way that the color of the .gltf model can be seen. Any ideas?

[2021-05-27 15:16] romainguy commented on #4000
@prideout Doesn't glTF calls for the base color factor to multiply any base color texture? If so the result is not surprising

[2021-05-27 15:55] prideout commented on #4000
I like Romain's theory, you can do `setParameter("baseColorFactor", float4(1))` to test it out.  I don't understand the result of the normal map experiment though, interesting...

[2021-05-27 17:08] romainguy commented on #4000
Checking the ubershader, the base color shouldn't be affected by the normal map:

[code]

Interestingly, the vertex colors may also affect the final base color.

[2021-05-27 20:48] jwwalker opened #4043 "LightManager::getFalloff does not return the falloff distance"
`LightManager::getFalloff` is documented as returning the falloff distance of a light, as one might expect.  But if you look at the code in LightManager.cpp:

[code]

you see that it actually returns the squared inverse of the falloff.

[2021-05-28 08:42] ast3rX commented on #3774
I'm not seeing the "no texture bound at binding point" warning in the log. I recompiled filament in debug mode and attached the relevant part of the iOS simulator log.
[log.txt](https://github.com/google/filament/files/6559493/log.txt)

[2021-05-29 13:00] patka00 opened #4053 "Xxx"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**OS and backend**
Is this feature OS/bac

[2021-05-29 17:21] #4053 closed

[2021-05-31 07:31] geroge-d opened #4055 "RenderTarget.AttachmentPoint in java does not match with the cpp side struct"
hi
  RenderTarget.AttachmentPoint  in java  doesn't match with the cpp enum AttachmentPoint

[2021-05-31 12:34] udayk07 commented on #3986
@pixelflinger

I am using filament in Android app through maven dependency ( implementation 'com.google.android.filament:filament-android:1.10.0' ).

Is it possible to set above mentioned flags in Android build ?

[2021-05-31 13:06] runchen0518 opened #4056 "How can I read pixel buffer after 3D rendering with a low cost on Android platform?"
**1、Is your feature request related to a problem? Please describe.**
Now, I use off-screen rendering of filament, I know that isn't a recommended way. But, it's a very situation that I should get pixel buffer after 3D-rendering, and then transport the pixel buffer.

* codes below:
[code]

The problem is, when we run the code on Android phone, it will cost so much time on the function `flushAndWait

[2021-05-31 14:27] alexey-pelykh commented on #3909
@romainguy any ETA on this issue?

[2021-05-31 15:30] ast3rX commented on #3774
Based on my investigation this particular crash was introduced in the following commit: https://github.com/google/filament/commit/1189c9e29455dd170d2d86607ccf909791743ffb
@pixelflinger , do you have any idea?

[2021-05-31 16:30] romainguy commented on #4056
`flushAndWait()` itself doesn't cost time, but `flushAndWait()` will do exactly what it says: flush all commands to the GPU and wait for completion of the frame. You don't need to use it to read pixels back. Instead you can use the pixel buffer descriptor's callback to know when the pixel data is ready.

[2021-05-31 16:30] #4056 closed

[2021-06-01 00:36] pixelflinger commented on #4055
I think the jni code takes care of that. Does it cause an actual problem?

I think the mismatch is because we added values and didn't want to break the java API.

[2021-06-01 00:43] pixelflinger commented on #3986
Ah no not yet. It's on my to-do list to make them settable at runtime.

I'm also working on some changes that will make this car work better.

So that said, such a model won't run well, due to the overhead of referring very small geometry with a lot of calls. On my desktop computer, I can't even get good performance.

It's important to group meshes together that are close from each other and of si

[2021-06-01 02:21] runchen0518 commented on #4056
I have tried it, when I get rendered pixel buffer from _PixelBufferDescriptorCallback_, the cost time is same as _flushAndWait()_, so, is there any ways to reduce the time of rendering?

[2021-06-01 02:22] romainguy commented on #4056
To do that you could reduce the resolution, reduce scene complexity (avoid small triangles), use smaller textures (or better yet use compressed textures), turn off effects etc.

[2021-06-01 03:57] runchen0518 commented on #4056
okey, fine, thank you very much. I need try it with a usual way like what you said~

[2021-06-01 04:00] geroge-d commented on #4055
This mismatch will cause problem on creating offline render target with depth buffer

[2021-06-01 04:05] romainguy commented on #4055
@pixelflinger I just checked and we don't do any remapping in the JNI layer. This means the value for `DEPTH` is indeed broken.

[2021-06-01 06:11] pixelflinger commented on #4055
Ah ok. Good one.

[2021-06-01 09:42] bigbigdaddy opened #4057 "Crash on WearOS"
I build samples on my android watch device and it goes black screen or crashes.
the watch is opengles3.0 and android8.1.0

[2021-06-01 15:41] romainguy commented on #4057
Android Wear devices are supported. Could you please describe the crash, provide logs, and describe the device you are using please?

[2021-06-01 21:08] #4055 closed

[2021-06-01 21:09] #4043 closed

[2021-06-02 03:10] lichentao opened #4064 "IOS HOW TOCHANGE CAEAGLLayer BackColor"
in this. demo. hello-gltf

1.  FilamentView
- (void)initializeGLLayer
{
    CAEAGLLayer* glLayer = (CAEAGLLayer*) self.layer;
    glLayer.opaque = NO;
}

![image](https://user-images.githubusercontent.com/5095376/120418387-04055800-c393-11eb-8dfa-a215017abd5b.png)

[2021-06-02 03:13] lichentao commented on #4064
![image](https://user-images.githubusercontent.com/5095376/120418638-7b3aec00-c393-11eb-97b8-4b576634c146.png)

[2021-06-02 10:54] grigorij2503 opened #4070 "Cannot reach KtxLoader after update to 1.10.1"
**Describe the bug**
We are getting _Unresolved reference: KtxLoader_ message after updating filament libs to 1.10.1
After downgrading only filament-utils-android to 1.10.0 - everything is ok

**To Reproduce**
Steps to reproduce the behavior:
1. import com.google.android.filament:filament-utils-android:1.10.1
2. compileDebugKotlin shows Unresolved reference: KtxLoader

**Expected behavior**
Applic

[2021-06-02 14:51] romainguy commented on #4070
`KtxLoader` was renamed `KTXLoader` to be more consistent with other APIs.

[2021-06-02 14:51] #4070 closed

[2021-06-02 22:25] kpeeters opened #4077 "readPixels on iOS/Metal returns buffer with only zeros"
I am using `readPixels` with a callback on iOS/Metal. The PixelBuffer uses `PixelDataFormat::RGBA` and `PixelDataType::UBYTE`.  I am reserving an `uint8_t` array of size `width * height * 4` for the storage, and call `renderer->readPixels(0, 0, width, height, std::move(pb))`.

The swapchain has `SwapChain::CONFIG_TRANSPARENT | SwapChain::CONFIG_READABLE` as parameters, and I have `metalLayer.opaqu

[2021-06-02 22:35] bejado commented on #4077
Where in relation to `beginFrame` / `render` / `endFrame` are you calling `readPixels`?

[2021-06-02 22:58] kpeeters commented on #4077
if(beginFrame()) {
        render()
        readPixels()
        endFrame()
    }

[2021-06-03 00:21] prideout commented on #4014
Update: DEVICE_LOST is still occurring with NVIDIA hardware, even after recent pipeline barrier fixes.  This is triggered only by froxelization.  (!)  This is _not_ triggered by any of our post-processing features.

[2021-06-03 13:49] bigbigdaddy commented on #4057
2021-06-03 21:47:50.497 18757-18757/? I/zygote: Late-enabling -Xcheck:jni
2021-06-03 21:47:50.907 18757-18757/com.google.android.filament.litcube I/Filament: FEngine (32 bits) created at 0x96080000 (threading is enabled)
2021-06-03 21:47:50.911 18757-18784/com.google.android.filament.litcube D/Filament: FEngine resolved backend: OpenGL
2021-06-03 21:47:50.913 18757-18784/com.google.android.filamen

[2021-06-03 13:52] bigbigdaddy commented on #4057
My device is OPPO Watch OW19W2
![image](https://user-images.githubusercontent.com/45582510/120656243-08766180-c4b6-11eb-89d1-0b1557c3c50d.png)

[2021-06-03 14:19] Botyto opened #4080 "glTFio MaterialProvider constructor implementation not found"
**Description**
When constructing a MaterialProvider in Java, an error occurs:
No implementation found for long com.google.android.filament.gltfio.MaterialProvider.nCreateMaterialProvider(long) (tried Java_com_google_android_filament_gltfio_MaterialProvider_nCreateMaterialProvider and Java_com_google_android_filament_gltfio_MaterialProvider_nCreateMaterialProvider__J)
I haven't had this issue with

[2021-06-03 15:04] romainguy commented on #4080
`Java_com_google_android_filament_gltfio_MaterialProvider_nCreateMaterialProvider` is present, did you properly initialize the library? Make sure you call `com.google.android.filament.utils.Utils.init()` to initialize gltfio *and* Filament.

[2021-06-03 15:04] #4080 closed

[2021-06-03 15:05] romainguy commented on #4057
Thanks, but you cut off the logs just at the beginning of the crash. Could you please show the rest of the logs so we know where it crashes?

[2021-06-03 18:01] bejado commented on #4077
Yeah, that should work. Try initializing the buffer with `0xFF` or something. Are zeros actually getting written, or is `readPixels` acting as a no-op?

[2021-06-03 19:34] prideout commented on #4014
DEVICE_LOST goes away by hacking `evaluatePunctualLights` in the fragment shader and commenting out the call to `shadow(...)`.

Pretty sure this is a driver bug at this point.

[2021-06-03 19:35] romainguy commented on #4014
@prideout So sounds like we are basically crashing the driver/GPU?

[2021-06-03 19:53] prideout commented on #4014
Correct, the Windows Event Viewer says "Display driver nvlddmkm stopped responding and has successfully recovered."

Another workaround is to replace `light.shadowIndex` with zero, so I should double check that we're populating the UBO correctly.

[2021-06-04 01:29] #4014 closed

[2021-06-04 07:23] bejado commented on #4077
I just tried myself and was able to successfully call `readPixels.` What is probably happening is your `PixelBufferDescriptor` is going out of scope without being passed to `readPixels`.

For example, consider:

[code]

If `beginFrame` returns false, then `readPixels` won't be called, but `buffer` will go out of scope, triggering the [destructor](https://github.com/google/filament/blob/8ab1f90e575

[2021-06-04 08:06] bigbigdaddy commented on #4057
These are all the logs，look at this. maybe that's what caused it

2021-06-03 21:47:50.931 18757-18784/com.google.android.filament.litcube W/Adreno-EGL: <qeglDrvAPI_eglGetConfigAttrib:612>: EGL_BAD_ATTRIBUTE
2021-06-03 21:47:50.936 18757-18784/com.google.android.filament.litcube W/Adreno-ES20: <get_gpu_clk:229>: open failed: errno 13

[2021-06-04 08:23] dsafa22 opened #4084 "TRANSLUCENT display incorrect."
use android sample:sample-gltf-viewer
I need an image of the model with a transparent background.
So,I change the code like this.

In MainActivity.kt:
do not use sky box
[code]

The first situation:
In ModelViewer.kt:
[code]
The result is right.
![13E0F696A390474DDB9BC692727316F4](https://user-images.githubusercontent.com/8586217/120657732-56d83000-c4b7-11eb-91b9-55138b2f1bf6.jpg)

The second situ

[2021-06-04 08:47] kpeeters commented on #4077
Unfortunately it's not that simple; I have

    if (beginFrame()) {
        render()
        backend::PixelBufferDescriptor buffer (...);
        readPixels(std::move(buffer))
        endFrame()
    }

and there is nothing else between the 3 lines (alloc buffer/readpixels/endframe) either. Very strange.

Haven't yet had a chance to try your other suggestion (fill buffer with non-zero before callin

[2021-06-04 15:12] romainguy commented on #4057
No, I'm interested in what's after:

[code]

[2021-06-04 15:14] romainguy commented on #4084
The easiest way to do this is to set !opaque on `UiHelper`. Also, if you are using a `SurfaceView` you'll need to change the Z order of the `Surface` (which `UiHelper` will do for you) or use a `TextureView`. `sample-transparent-view` shows this.

[2021-06-04 15:14] #4084 closed

[2021-06-04 18:54] ast3rX opened #4085 "RenderTarget crashes with transparent material"
**Describe the bug**
RenderTarget crashes when there is transparent material in the scene.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following lines to aiDefaultMat.mat - which is applied to the object in the rendertarget example application.

[code]
2. Try running the recompiled rendertarget example which will crash immediately:
[code]

**Expected behavior**
No crash with tran

[2021-06-04 19:02] romainguy commented on #4085
Which version of Filament are you using?

[2021-06-04 19:09] ast3rX commented on #4085
The latest `main` branch version.

[2021-06-04 19:13] romainguy commented on #4085
@prideout I can repro the error. Can you think of any reason why the rendertarget samples would crash when a material uses transmission/refraction?

[2021-06-04 19:34] bejado commented on #4077
Hm, that is strange. If you upload a project that can reproduce it, I'd be happy to take a look. Which iOS device are you running on?

[2021-06-04 23:12] prideout commented on #4085
Interesting, it isn't obvious to me what's going on.  Could be a framegraph issue in the refraction codepath (`FRenderer::refractionPass`).

[2021-06-04 23:17] romainguy commented on #4085
Seems like it, but I'm not sure what's different about a `RenderTarget`. We always render to an FBO anyways so it should be the same. @pixelflinger any idea?

[2021-06-04 23:38] pixelflinger commented on #4085
So this is exposing a more serious bug in the FrameGraph, where basically we'll always fail in this manner if post processing is disabled.

This is because when post-processing is disabled, the FrameGraph realizes that it doesn't have to allocate a new buffer for the main pass. However, in the case of transmission we have to blit from there to a temporary buffer. The blitting fails because the ren

[2021-06-05 01:49] dsafa22 commented on #4084
I tried `sample-transparent-view`, the same problem.

[2021-06-05 02:31] dsafa22 opened #4087 "TRANSLUCENT display incorrect.(use method in sample-transparent-view)"
#4084
use android sample:`sample-gltf-viewer`
In `ModelViewer.kt`, use the method in `sample-transparent-view`,the code changed as blow(no other code change)
in`SurfaceCallback` :

[code]
In MainActivity.kt:
do not use sky box
[code]

and I set the view background `#0f0` in layout
[code]

It show as blow
![82A3A8D45C5BDD87B8CE060A81BDA658](https://user-images.githubusercontent.com/8586217/12087735

[2021-06-05 02:33] romainguy commented on #4087
What's not right? The background is set to red and visible through the 3D view. What issue are you reporting?

[2021-06-05 05:44] dsafa22 commented on #4087
The face is missing some part.

[2021-06-05 05:46] dsafa22 commented on #4087
<img width="313" alt="截屏2021-06-05 13 45 14" src="https://user-images.githubusercontent.com/8586217/120881542-631dd380-c604-11eb-87ac-dcd345d888c3.png">
<img width="306" alt="18CB8970-6118-4670-9710-1CA8EAF3A9B8" src="https://user-images.githubusercontent.com/8586217/120881543-64e79700-c604-11eb-8620-ad7b3766c771.png">

[2021-06-05 05:48] pixelflinger commented on #4087
Is the face okay when you're NOT setting the view to transparent?

[2021-06-05 05:53] romainguy commented on #4087
Could you share the glTF file you are loading please?

[2021-06-05 05:53] dsafa22 commented on #4087
debug in metal.

after colorGrading, the texture begin not right.
<img width="1095" alt="2D4FCBB6-961C-4BAA-80EA-038DDE02C8A4" src="https://user-images.githubusercontent.com/8586217/120881664-4df57480-c605-11eb-9bf6-c251e1f2b111.png">
<img width="1266" alt="B469F754-FC90-4404-81A0-6A4CAEEDE21E" src="https://user-images.githubusercontent.com/8586217/120881666-52219200-c605-11eb-814b-9241de64dc09.pn

[2021-06-05 05:53] dsafa22 commented on #4087
https://github.com/google/filament/issues/4084

[2021-06-05 06:01] dsafa22 commented on #4087
the missing part same as the face node exceed the hair node.
<img width="839" alt="F458687C-C029-490A-A6E7-6EB18BC8E248" src="https://user-images.githubusercontent.com/8586217/120881807-539f8a00-c606-11eb-9d9a-c9cb0f22bb51.png">
<img width="833" alt="91FD3A42-DCD2-4AEE-9D2A-170EC4F4C2D2" src="https://user-images.githubusercontent.com/8586217/120881820-6d40d180-c606-11eb-827e-1f37d391d9f5.png">

[2021-06-05 06:02] dsafa22 commented on #4087
Yes, it is OK when not set transparent.

[2021-06-05 06:04] romainguy commented on #4087
How did you modify gltf_viewer? When I remove the skybox and set the swap chain to transparent, everything renders properly:

<img width="1136" alt="Screen Shot 2021-06-04 at 11 04 44 PM" src="https://user-images.githubusercontent.com/869684/120881901-42fcfe80-c589-11eb-99a0-bcf9d2fbbe2d.png">

[2021-06-05 06:13] dsafa22 commented on #4087
<img width="616" alt="F837CAE8-AFB6-4FBA-AEE2-9FD35A7F2BE2" src="https://user-images.githubusercontent.com/8586217/120882083-120fde80-c608-11eb-9dcb-24cf987bfb7b.png">
[code]

[2021-06-05 06:13] romainguy commented on #4087
Ah I was able to repro. There's no need to set the swap chain to use `CONFIG_FLAG_TRANSPARENT`. What triggers the bug is setting the `View`'s blend mode to `TRANSLUCENT`:

[code]

[2021-06-05 06:14] romainguy commented on #4087
@pixelflinger I forgot, is the app supposed to set the `ClearOptions` in this case? It looks like we're not properly clearing the depth buffer (or depth test is still incorrectly enabled).

[2021-06-05 06:15] dsafa22 commented on #4087
yes, very smart!

[2021-06-05 06:35] romainguy commented on #4087
@pixelflinger I found the bug. It's caused by this line in the post processing material:

[code]

I'm not sure why it causes the problem yet. But it's fine when returning just before and it's broken when returning right after. I imagine we have bad values in color.a.

[2021-06-05 06:52] romainguy commented on #4087
Alright I found the issue. The problem is *the asset*. The face uses alpha masking with an alpha value that comes from the face texture. And the alpha channel of said texture looks like this:

<img width="692" alt="Screen Shot 2021-06-04 at 11 51 09 PM" src="https://user-images.githubusercontent.com/869684/120883035-cfaabb00-c58f-11eb-9d48-ed6c56943441.png">

So what's happening is that in "view t

[2021-06-05 06:52] #4087 closed

[2021-06-05 08:21] dsafa22 commented on #4087
Yes, I also suspect that this model has a problem, because other models don't have this problem. I'll try to modify it. Thank you.

[2021-06-06 08:03] geroge-d opened #4088 "A bit confuse about the method ResourceLoader::Impl::computeTangents"
Hi guys
When i read the method computeTangent in resource loader of gltf io, I got confused about these fact below. Please give me any hint,Thanks in adavance

Based on the glTF Spec 2.0, Morph Targets should  be calculated with all targets conmbined by weights, for example POSITION:
   ` primitives[i].attributes.POSITION + weights[0] * primitives[i].targets[0].POSITION +  weights[1] * primitives[

[2021-06-06 08:23] romainguy commented on #4088
Are you reporting an issue? If not please open a discussion instead.

[2021-06-06 08:25] romainguy commented on #4088
Btw weights are applied in the vertex shader: https://github.com/google/filament/blob/e297f65d8cdf203daaf9c35f766672a42eb642e8/shaders/src/main.vs#L14

[2021-06-06 08:34] ast3rX commented on #4085
Previously, disabling post processing came up to remove the noticable color shift in the texture:
https://github.com/google/filament/discussions/3402#discussioncomment-338512

I haven't been able to achieve the same without setting the flag. In the Renderer `colorGrading` is directly driven by `hasPostProcess`:
https://github.com/google/filament/blob/786eee4eb97def286ce04b1c3e4be67d02866d31/filame

[2021-06-06 08:38] romainguy commented on #4085
You can set the color grading’s tonemap to LINEAR to do what you want.

[2021-06-06 08:44] geroge-d commented on #4088
I think this place is for rendering. But I don't know whether it is necessary to apply morph weights on computing  tangents  or not

[2021-06-06 08:44] geroge-d commented on #4088
I 'm not sure it is a bug or my misunderstanding the codes.

[2021-06-06 08:59] ast3rX commented on #4085
I did that but the mirror is a lot brighter.

[code]

[2021-06-06 13:25] unicomp21 opened #4089 "webgl build failing"
**Describe the bug**
Building release in out/cmake-release...
-- The C compiler identification is Clang 10.0.0
-- The CXX compiler identification is Clang 10.0.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX compiler ABI info
-- D

[2021-06-06 13:31] unicomp21 commented on #4089
repro steps

[2021-06-06 13:31] unicomp21 commented on #4089
###
FROM ubuntu:18.04 as filament

RUN apt-get update
RUN apt-get install -y apt-transport-https ca-certificates gnupg software-properties-common wget

# https://apt.kitware.com/
RUN wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | tee /etc/apt/trusted.gpg.d/kitware.gpg >/dev/null
RUN apt-add-repository 'deb https://apt.kitware.com/ubuntu/ bionic ma

[2021-06-06 15:44] romainguy commented on #4085
Ah yeah you want a way to turn off the transfer function. We could add that.

[2021-06-06 15:47] romainguy commented on #4089
It looks like an issue with your setup. What command are you using to build? Note that the scripts inside the build/ directory are meant for our CI environment. We do not intend for those scripts to work everywhere. You should use the root build.sh instead.

[2021-06-06 15:47] #4089 closed

[2021-06-06 18:53] mnesarco opened #4090 "Some samples don't work on Linux Mint 19.3"
**Describe the bug**
I have built it on linux mint 19.3. everything builds ok. But many of the samples dont work. (gltf_viewer works)

**To Reproduce**
Steps to reproduce the behavior:
1. clone
2. ./build.sh release
3. Run some samples

**Expected behavior**
All the samples should work?

**Screenshots**

hellopbr does not work (same black window with most of the samples)

![image](https://user-ima

[2021-06-07 02:13] bigbigdaddy commented on #4057
--------- beginning of crash
06-04 14:33:42.159 20505 20523 F libc    : Fatal signal 11 (SIGSEGV), code 1, fault addr 0x60 in tid 20523 (FEngine::loop), pid 20505 (ilament.litcube)
06-04 14:33:42.275 20534 20534 I crash_dump32: obtaining output fd from tombstoned, type: kDebuggerdTombstone
06-04 14:33:42.276   554   554 I /system/bin/tombstoned: received crash request for pid 20505
06-04 14:33:42.

[2021-06-07 02:39] romainguy commented on #4057
Thank you. Unfortunately it's a crash and therefore a GPU driver bug. We can look for a workaround but we'd need the same device to be able to repro and find said workaround :(

[2021-06-07 15:31] prideout commented on #4090
This might be an issue with the Intel Linux driver.  If you play with the checkboxes in the "View" group `gltf_viewer`, I bet certain combinations of features will trigger the bug.  You also might to try a debug build to see if any GL errors are reported.

[2021-06-07 15:51] prideout commented on #4088
Yes the way we handle morphing is somewhat complex by necessity, feel free to open a discussion.

Note that there is one job per primitive, not per morph target.

Also note that Filament does not have a vertex attribute for normal vectors, instead we use tangent quaternions and extract normals in the vertex shader.

In the glTF file, morph normals and tangents are actually offsets (deltas) from th

[2021-06-07 15:51] #4088 closed

[2021-06-07 16:28] mnesarco commented on #4090
This is the output in debug build:

[code]

[2021-06-07 16:42] mnesarco commented on #4090
@prideout
You were right about testing options in View section of the viewer, the option that triggers the bug is Bloom=unchecked (in certain combinations with other options)

![image](https://user-images.githubusercontent.com/1087317/121057480-f1b95e80-c784-11eb-8024-b88f051197e6.png)

I have no idea of what it means :D

[2021-06-07 16:58] mnesarco commented on #4090
I don't know what am I doing but I did put `view->setPostProcessingEnabled(false);` in the `hellopbr` sample and now it apparently works:

![image](https://user-images.githubusercontent.com/1087317/121058903-7e185100-c786-11eb-9175-cfbcca191522.png)

Is this the expected result of hellopbr sample?

[2021-06-07 17:04] romainguy commented on #4090
It is the expected result (except the sRGB transfer function is missing so the image is darker than it should be).

[2021-06-07 17:14] mnesarco commented on #4090
Thank you.
I have added this instead of disabling post processing:
[code]
![image](https://user-images.githubusercontent.com/1087317/121061704-cdac4c00-c789-11eb-92ab-66ad4573fec3.png)

And it looks better now.

[2021-06-07 17:20] mnesarco commented on #4090
With this workaround all the samples work:

[code]

[2021-06-07 17:57] ast3rX opened #4097 "Metal errors during rendering"
**Describe the bug**
During rendering (camera interaction) Metal errors might appear in the log:

[code]
The errors result in either corrupt frames / white frames or in the worst case a permanent hang.

After some investigation it is very likely that the bug was introduced in the following commit:
https://github.com/google/filament/commit/f0d99070e43d8bfc7dce6d77806e106458d9d26b

In previous versi

[2021-06-07 18:31] romainguy commented on #4097
Thanks, how do you repro this issue?

[2021-06-07 19:05] cx20 opened #4098 "[Feature request] glTF KHR_materials_variants extension"
**Is your feature request related to a problem? Please describe.**
Recently, some models using the [KHR_materials_variants](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_variants) extension have been added to the [Khronos glTF Sample models](https://github.com/KhronosGroup/glTF-Sample-Models/) repository.
However, Filament does not support this extension, so

[2021-06-07 19:06] romainguy commented on #4098
It's something we'd like to support as well. It should be fairly easy since the concept of variants should map very well to our concept of `MaterialInstance`.

[2021-06-08 06:22] bejado commented on #3774
I'm glad you found a workaround... it's very bizarre that it crashes consistently for you, yet I'm not able to reproduce at all. I'm on a later Xcode (12.5); I'd be curious if upgrading Xcode fixes the issue, though that would be just as strange.

[2021-06-08 13:26] unicomp21 commented on #4089
@romainguy I was using the root build.sh

[2021-06-08 13:43] unicomp21 commented on #4089
what version of clang should we be using for webgl build?

[2021-06-08 15:15] prideout commented on #4089
Your log begins with ` out/cmake-release` rather than `out/cmake-webgl-release` which means that you were not using the `-p webgl` argument in the script.

[2021-06-08 15:33] prideout commented on #4089
Interesting, I'm not sure what's going on here, I don't build regularly with Linux.  My machine has AppleClang 12.0.5 and here's what I see when I do emcc --version
[code]

[2021-06-08 15:38] BStringhamVRSK opened #4102 "JavaScript: BufferObject$BindingType defined twice in filament.d.ts"
**Describe the bug**
In the Web 1.10.1 release, **BufferObject$BindingType** is defined twice in **filament.d.ts**.  Each definition varies slightly in name.  This is causing compile errors.

Line 739:
[code]
and line 995:
[code]

**Expected behavior**
Only one definition for **BufferObject$BindingType**

[2021-06-08 16:14] #4102 closed

[2021-06-08 20:44] borodust commented on #3604
Just in case anyone else stumbles upon this issue - tex import works like a charm. Filament rendering a texture that Skia has drawn onto in the background thread with in separate context with FBO double buffering:
https://peertube.social/videos/watch/723669b8-f3f1-47ac-9769-b8b2b66ab953

[2021-06-08 21:08] BStringhamVRSK opened #4106 "JavaScript: SurfaceOrientation$Builder binding erroneously submitting second (stride) parameter"
**Describe the bug**
In **release 1.10.1**
The JS binding for SurfaceOrientation$Builder.triangles32 (and triangles16) both have a default stride parameter, where none exists on the C++ API.

This creates an error message:
`BindingError: function SurfaceOrientation$Builder._triangles32 called with 2 arguments, expected 1 args!`

**To Reproduce**
Call SurfaceOrientation$Builder.triangles32() or tri

[2021-06-08 21:23] #4106 closed

[2021-06-09 00:32] pixelflinger commented on #4090
Would be worth trying the vulkan backend to see if we get the same result.

[2021-06-09 17:18] karanganesan opened #4111 "Would be great to have a sample for iOS written in Swift and Swift UI"
**Is your feature request related to a problem? Please describe.**
I was going through the iOS samples provided, all where written in objective c, would be great to see a sample written on Swift/Swift UI

**OS and backend**
iOS

[2021-06-09 17:22] karanganesan opened #4112 "Would be great to have a sample for using Filament with React Native"
**Is your feature request related to a problem? Please describe.**
Using React Native's Native UI Modules, is it possible to expose the Filament's main view scene and use it with react native?

**OS and backend**
Android and iOS

[2021-06-09 17:22] romainguy commented on #2492
At this point we won't try to support API level 19 anymore, sorry about that :(

[2021-06-09 17:22] #2492 closed

[2021-06-09 17:22] bejado commented on #4111
Thanks for the suggestion; we're a small team and we currently don't maintain Swift bindings.

[2021-06-09 17:22] #4111 closed

[2021-06-09 17:26] romainguy commented on #4112
Thanks for the suggestion but we won't write a sample for React Native. Our team is not familiar with React and we cannot provide samples for all the frameworks out there. I don't know how React Native works but it seems like all you need is this: https://agoraio-community.github.io/react-native-agora/classes/surfaceview.html (or equivalent).

[2021-06-09 17:26] #4112 closed

[2021-06-09 19:08] ast3rX commented on #3774
Thanks, I will report back on the findings once I have the same Xcode version.

[2021-06-09 19:31] ast3rX commented on #4097
I haven't seen this error in the filament example. I presume the sample scene is too simple to trigger this. I think it usually occured with lights and shadows, however turning off shadows, SSAO, and other post processing features didn't make the error disappear. I reverted the commit mentioned above and the issue seems to be gone.

[2021-06-10 02:51] cwwng opened #4115 "On iOS, the application that removes the skybox displays an error. How to set transparent background of 3D model."
**Describe the bug**
Use the official Helllo-gltf demo, after removing the skybox.
Run OpenGL Target and the background is red.
Run Metal Target, and the background displays a splash screen, and the splash screen keeps beating.

**To Reproduce**
In the Helllo-gltf project, remove the scene->setSkybox(app.skybox) from app.cpp.

**Screenshots**
![IMG_0009](https://user-images.githubusercontent.com/1

[2021-06-10 02:57] romainguy commented on #4115
This happens when you don't draw a background. You can't just remove the skybox, you need to use a transparent swap chain as well.

[2021-06-10 03:34] cwwng commented on #4115
Thank you very much. Set the transparent swap chain. Is it set here?
Metal
- (void)initializeMetalLayer
{
#if METAL_AVAILABLE
    CAMetalLayer* metalLayer = (CAMetalLayer*) self.layer;
    metalLayer.pixelFormat = MTLPixelFormatBGRA8Unorm;
    CGRect nativeBounds = [UIScreen mainScreen].nativeBounds;
    metalLayer.drawableSize = nativeBounds.size;
    metalLayer.opaque = NO;
#endif
}

OpenGL ES
-

[2021-06-10 03:38] romainguy commented on #4115
No you need to set the transparent flag on the Filament SwapChain object when it gets created.

[2021-06-10 03:39] romainguy commented on #4115
See this sample app: https://github.com/google/filament/blob/ee2767875cba57d3a637d1cf8480cfcf096f053f/ios/samples/transparent-rendering/transparent-rendering/FilamentView.mm#L154

[2021-06-10 03:39] #4115 closed

[2021-06-10 04:03] cwwng commented on #4115
👍👍👍

[2021-06-10 09:53] unicomp21 commented on #4089
I can get clang-9 working, but clang-10 seems to have issues.  Might want to try 10 in the pipeline.

[2021-06-10 11:01] unicomp21 commented on #4089
The automated Linux builds, are they done in docker or in vm's?  Is the setup in git somewhere?

[2021-06-10 11:15] unicomp21 commented on #4089
within a directory containing this dockerfile
https://gist.github.com/unicomp21/91a4a1cccd5d2c5837a2f0424c69d38f

docker build -t filament:001 .

for output, see next comment

[2021-06-10 11:18] unicomp21 commented on #4089
Step 36/36 : RUN ./build.sh -p webgl release
 ---> Running in a7a75bf813b5
Building release in out/cmake-release...
-- The C compiler identification is Clang 9.0.1
-- The CXX compiler identification is Clang 9.0.1
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile fea

[2021-06-10 11:18] unicomp21 commented on #4089
The above doesn't happen in ubuntu 18.04, but I need to use newer linux versions.

[2021-06-10 12:17] Yan-Xiaodi opened #4119 "GITF/GIB compression (similar question with #issue 558)"
Recently，I am trying to do some work based on Filament ,and I also noticed the Draco.
Dose Filament has some tools to support the gITF or glb compression ?or Filament has already  realized this funcion just I didn't found it.
I noticed you have mentioned  may  add this Draco compression in issue 558.
Thanks for your great work

[2021-06-10 13:06] ast3rX commented on #4085
I turned off `colorGrading` with a new setting in the Renderer which solves the issue. However, the render target's depth attachment will contain unexpected (empty?) data in case post processing is NOT disabled. It is related to `fxaa` being enabled. If I disable `fxaa` then the refractive material scene will crash the same way, so I assume the depth issue is related as well. @pixelflinger , is th

[2021-06-10 13:16] pixelflinger commented on #4085
Actually, when you disable enough stuff, we fall into the same bug, which leads to the same crash.

For the depth to be preserved, it needs to have the sampleable bit set, but we haven't tested that path very well yet.

[2021-06-10 13:21] ast3rX commented on #4085
The bit is properly set:
`        .usage(Texture::Usage::DEPTH_ATTACHMENT | Texture::Usage::SAMPLEABLE)
`
The rendertarget sample defines the depth attachment but I don't think it's used at the moment.

[2021-06-10 14:56] prideout commented on #4089
Can you try adding `ENV CXXFLAGS='-stdlib=libc++ -fno-builtin' ` to your Dockerfile?

[2021-06-10 15:10] prideout commented on #4119
Yes, our glTF reader library (gltfio) already supports Draco decoding.  We do not provide tools for encoding or writing glTF files.  Feel free to use our "discussions" tab for further questions.

[2021-06-10 15:10] #4119 closed

[2021-06-10 16:36] prideout commented on #4000
@muizamhailey004 have you had any luck with this issue?

[2021-06-11 06:55] wangruibobobo opened #4124 "When I'm using Filament on iOS, I'm seeing a lot of weight gain"
**Is your feature request related to a problem? Please describe.**
When I'm using Filament on iOS, I'm seeing a lot of weight gain,

**Describe the solution you'd like**
so I want to be able to select some libraries for it just like on Android. Is there any plan to split into different libraries like Android? For example, filament-iOS, gltfio- iOS.

**Describe alternatives you've considered**
Or h

[2021-06-11 07:54] romainguy commented on #4124
Filament is already split up in multiple libraries on iOS. Is the problem the size of the gltfio library?

@bejado Should we disable the GL backend so we could compile only Metal shaders maybe? Or maybe we’re not filtering back ends when compiling the iOS library and generating materials with too many shaders?

[2021-06-11 08:06] wangruibobobo commented on #4124
Yes, the key point is that libgltfio_resources.a occupies the actual size of the ipa packet of 4.7M. Can libgltfio_resources_lite.a replace libgltfio_resources.a, We can accept features that do not support part of GLTF 2.0. How should we replace them?

[2021-06-11 09:37] muizamhailey004 commented on #4000
Yes! I realised that the issue lies on the .gltf model itself not being exported correctly. I'm able to apply textures correctly now. Thanks for the swift responses! Appreciate it.

[2021-06-11 09:37] #4000 closed

[2021-06-11 11:51] unicomp21 opened #4125 "Does filament have support for volume textures?"
**Is your feature request related to a problem? Please describe.**
volume texture support ie indexed by uvw

[2021-06-11 11:55] unicomp21 commented on #4089
no luck ...

Step 18/37 : RUN ./bootstrap
 ---> Running in 8bb2c5df5694
---------------------------------------------
CMake 3.20.2, Copyright 2000-2021 Kitware, Inc. and Contributors
Found GNU toolchain
C compiler on this system is: gcc
---------------------------------------------
Error when bootstrapping CMake:
Cannot find a C++ compiler that supports both C++11 and the specified C++ flags.
Plea

[2021-06-11 11:56] unicomp21 commented on #4089
should I put the dockerfile in a git repo, and we can work on it together?  seems like this could be useful to others?

[2021-06-11 15:08] prideout commented on #4089
Interesting, we want to be using clang not gcc.  Instead of adding your Dockerfile to the repo, maybe you could start a new Discussion (with an appropriate subject line) and attach the Dockerfile (or a gist link).

[2021-06-11 15:10] prideout commented on #4125
Yes, in fact our Color Grading LUT is a 3D texture.   Take a look at `colorGrading.mat`.

[2021-06-11 15:10] #4125 closed

[2021-06-11 15:19] prideout commented on #3562
@FakerShy I _think_ your original issue is fixed now, if not please re-open this bug -- I can take a look fairly soon, since I have a Windows NVIDIA machine now (I didn't have one when you filed the bug).

[2021-06-11 15:19] #3562 closed

[2021-06-11 15:35] prideout commented on #3419
@61315 we recently added some robustness improvements, and improved error messaging, specifically for large assets, so I'm going to close this bug.  If you are still blocked with the latest build, please re-open.

[2021-06-11 15:35] #3419 closed

[2021-06-11 16:31] tangobravo commented on #3041
WebGL 2 was an experimental feature, off by default, in iOS 14. It did however appear to work with the filament demos when toggled on - I think iOS 14 switched to use ANGLE as a WebGL backend, the previous Safari WebGL 2 implementation was very incomplete and basically unusable before then.

The good news is it looks like WebGL 2 will finally be on by default in iOS 15. :tada:
https://developer.ap

[2021-06-13 11:52] unicomp21 commented on #4125
@prideout is this it?
http://github.com/google/filament/blob/acfae2882d34adbdc491190a9640ba868cfe9663/filament/include/filament/ColorGrading.h#L94-L94

[2021-06-14 12:32] wangruibobobo commented on #3290
Thank you so much for providing such a great library. I want to know ,in IOS, can gltfio_ resources_lite.a replace gltfio_resources.a, if I can, how can I operate it?
(gltfio_resources.a takes up 4.7M linkmap. We have a package size limit. Unfortunately, we can't spare 5m space.But we really want to use it)

[2021-06-14 14:19] ThomasGorisse opened #4135 "1.10.2 : Matc - Material version mismatch. Expected 11 but received 10."
Hi,

There seems to have a version shift between the 1.10.2 filament-android and the matc for Windows here: [v1.10.2](https://github.com/google/filament/releases/tag/v1.10.2)
[code]

Here are the generated .filamat:
[materials.zip](https://github.com/google/filament/files/6649005/materials.zip)

Thanks

[2021-06-14 15:32] romainguy commented on #4135
Thanks. I'm not sure how this is possible as we build both from the same source.

[2021-06-14 15:40] romainguy commented on #3290
You can't use gltfio_ resources_lite.a directly as a replacement of gltfio_ resources.a, you first need to compile gltfio in "lite" mode. You can do so by setting `-DGLTFIO_LITE=ON` when invoking CMake to compile Filament.

@bejado

[2021-06-14 16:34] prideout commented on #4125
Yes that's  the ColorGrading API, the material file might be more interesting to you since it does 3D sampling:

https://github.com/google/filament/blob/main/filament/src/materials/colorGrading/colorGrading.mat#L10

[2021-06-14 17:22] romainguy commented on #4135
@ThomasGorisse Can you double check that you are actually re-generating the material files? We checked the macOS version and it produces files with version 11 as expected (which makes sense because matc and the Filament libraries are built using a shared header file which contains the material version number).

[2021-06-14 17:47] wangruibobobo commented on #3290
Thank you for your answer, I recompiled the Lite library, and the sample project hello-ar reported an error

Unsupported glTF material configuration; falling back to LIT_OPAQUE.

in const SamplerInterfaceBlock::SamplerInfo *filament::SamplerInterfaceBlock::getSamplerInfo(const char *) const:110
reason: sampler named "clearCoatMap" not found

[2021-06-14 17:58] bejado commented on #4124
@romainguy Yes the long-term goal is to remove the OpenGL backend from iOS.

@wangruibobobo I believe you can replace libgltfio_resources.a with libgltfio_resources_lite.a, albeit with some glTF features missing. @prideout can confirm.

[2021-06-14 18:02] romainguy commented on #3290
The hello-ar sample does not use glTF. Did you modify it?

[2021-06-14 18:07] wangruibobobo commented on #3290
I”m sorry ，project hello-gltf  ，project gltf-viewer

[2021-06-15 02:18] wangruibobobo commented on #4124
Thank you for your answer, I recompiled the Lite library, and the sample project hello-gltf reported an error

Unsupported glTF material configuration; falling back to LIT_OPAQUE.

in const SamplerInterfaceBlock::SamplerInfo *filament::SamplerInterfaceBlock::getSamplerInfo(const char *) const:110
reason: sampler named "clearCoatMap" not found

[2021-06-15 09:12] FinleyPan opened #4138 "Is it safe to remove redundant threads in JobSystem on running the engine"
I found [ctor](https://github.com/google/filament/blob/1bd91e7e945a3b95e8f17ef0cd0c915f22c4192f/libs/utils/src/JobSystem.cpp#L146-L155) of field `mJobSystem` of `FEngine` will launch many theads:
[code]
And it seems no workloads dispatched to these threads on running. I need reduce cpu usage as much as possible, and these redundant threads consume cpu a bit according to my profiling:
![image](http

[2021-06-15 09:16] ThomasGorisse commented on #4135
Everything seems alright with the 1.10.3.
I don't know if it was related to a build cleaning error on my side or a real shift between the 1.10.2 Windows and Android version.

Thanks

[2021-06-15 09:16] #4135 closed

[2021-06-15 15:05] romainguy commented on #4138
You can do that but unused or seldom used threads won't increase CPU usage. That said we were recently looking into this and will lower the number of threads created.

[2021-06-15 15:05] #4138 closed

[2021-06-15 22:16] pixelflinger commented on #3854
It's possible -- I would expect something meaningful in the logs though.
Transmission definitely uses more memory. Given that this has been reproduced on a single device, I think there is not much we can do.

[2021-06-15 22:16] #3854 closed

[2021-06-15 22:18] pixelflinger commented on #3499
I think this should be moved into a discussion. There won't be any action/fixes on our side at this point.

[2021-06-15 22:18] #3499 closed

[2021-06-15 22:19] pixelflinger commented on #3552
@kpeeters can you share the test app with us? I've not been able to reproduce this issue.

[2021-06-15 23:09] kpeeters commented on #3552
That clip is from the actual app, which is far too messy to feed to you. I'll try to give this another shot soon when I find some time.

[2021-06-16 07:35] wangruibobobo opened #4143 "Use libgltfio_resources_lite.a library to crash in hello-gltf"
**Describe the bug**

**To Reproduce**

Because libgltfio_resources.a took up too much space,
 -DGLTFIO_LITE=1 was used at compile time, and libgltfio_resources_lite.a was chosen instead

**Expected behavior**
A crash occurs while hello-gltf is running

**Screenshots**
<img width="1680" alt="企业微信截图_5e079b48-69f8-4353-92a5-a267a31debbd" src="https://user-images.githubusercontent.com/34636280/122177

[2021-06-16 12:35] aliyunvideo opened #4144 "how to build armv7 arch ios"
we user filament to render GLB Mode，Make a SDK for APP, but only arm64，not have armv7, HOW TO BUILD ARMV7 AND ARM64

I  TRY TO FIX BUILD.SH
![image](https://user-images.githubusercontent.com/33014286/122219681-4164fc00-cee2-11eb-8213-fdb56a1e0516.png)

THIS ERROR

-- Build files have been written to: /Users/botao/Desktop/aliyun/aidemo/filament/out/cmake-ios-release-armv7
[  0%] Building CXX object

[2021-06-16 15:15] romainguy commented on #4144
Do you need armv7 for iOS? This is not something we support nor intend to support since Apple doesn't support armv7 anymore.

[2021-06-16 15:17] romainguy commented on #4143
How exactly did you use -DGLTFIO_LITE? Did you compile the gltfio library yourself? That flag is not meant to be used to compile your app.

[2021-06-16 15:53] noseeevil commented on #1534
@bejado

Thanks a lot!

[2021-06-16 16:03] #4124 closed

[2021-06-16 17:43] bejado commented on #4144
The last armv7 iPhone was [iPhone 5c](https://www.innerfence.com/howto/apple-ios-devices-dates-versions-instruction-sets), which only supports up to iOS 10. Filament requires iOS 11 support, so it doesn't make sense for us to support armv7 for iOS.

[2021-06-16 17:43] #4144 closed

[2021-06-16 17:58] tcgoiazx opened #4149 "The build breaks under Debian 10.9"
**Describe the bug**
The Filament build breaks under Debian 10.9 (the latest stable release of the distribution). The build complains about the version of cmake installed on Debian.

**To Reproduce**
Run, for example,
`./build.sh -p desktop -i release`
at the root of Filament's source tree under Debian 10.9, with cmake from the _Debian Main_ repository.

**Expected behavior**
Filament build produc

[2021-06-16 18:07] romainguy commented on #4149
We use more recent versions of CMake and thus can only guarantee our build with CMake 3.19 and higher. Please update your CMake to a newer version (the latest are 3.20.x).

[2021-06-16 18:07] #4149 closed

[2021-06-16 20:23] jwwalker opened #4151 "Add support for shadow-casting point lights"
**Describe the solution you'd like**

I'd like to be able to make a point light cast shadows.

**Describe alternatives you've considered**

I've considered trying to simulate it with a number of spot lights, but didn't get too far.  For one thing it runs up against Filament's low number of shadow-casting spot lights.  Also, this approach would be easier with "light channels", mentioned as a possib

[2021-06-16 23:20] #4085 closed

[2021-06-17 02:40] lichentao commented on #4144
@bejado But. if not support armv7 ,How To Add exits APP ,the App IS Support ARMV7 And ARM64

[2021-06-17 02:41] lichentao commented on #4144
![image](https://user-images.githubusercontent.com/5095376/122322732-8592e380-cf58-11eb-9b3f-c6e973797b89.png)

[2021-06-17 02:48] lichentao commented on #4144
Can I.  modify Shell. to. Support ARMV7 and arm64. to build filament.a for exit APP

[2021-06-17 03:08] lichentao commented on #4144
others framework is support armv7 and arm64 ,only filament is arm64 , can not  compile and send appstore,can you help to solution this problem

[2021-06-17 03:09] romainguy commented on #4144
Filament requires iOS 11 minimum and iOS 11 does not support armv7. We will therefore not provide support for it since we can't compile Filament for armv7.

[2021-06-17 06:45] lichentao commented on #4144
hi. @romainguy  thouth filament support ios11,but. some exist app is support armv7 and arm64, and want to use filament , yet can not do this? how do you think about this case?

[2021-06-17 06:47] lichentao commented on #4144
we are only to match exit app ,not only to support ios10, just so

[2021-06-17 07:44] FinleyPan opened #4154 "Texture used for COLOR_ATTACHMENT cannot be sampled in two render targets case"
Hi, I have two render targets: `rendered_target` and  `postprocess_target`.  `postprocess_target` is on top of `rendered_target`. Some vital fields are defined as follows:
[code]
Two render targets and associated textures are defined as follows:
[code]
My postprocess material(used for image post-processing) is defined roughly as
[code]
Now I can configure the material's parameters and commit rende

[2021-06-17 12:42] wangruibobobo commented on #4143
In fact, I modified the libs/gltfio/CMakeList.text  file.

[CMakeLists.txt](https://github.com/google/filament/files/6670206/CMakeLists.txt)

 And UbershaderLoader.cpp  file.

![企业微信截图_588a388a-ccc3-4da5-9cb2-fd06efe40888](https://user-images.githubusercontent.com/34636280/122397187-4fcb1a80-cfab-11eb-94ef-b89d518eadf2.png)

Or how can I use it correctly libgltfio_resources_lite.a

Thanks.

[2021-06-17 15:33] romainguy commented on #4143
This define is needed in more places than just `UbershaderLoader.cpp`. You should pass it as a flag to the compiler.

[2021-06-17 15:37] wangruibobobo commented on #4143
With these two lines of code currently compiled, how do I add flags

sudo ./build.sh -p desktop -i release
sudo ./build.sh -p ios -i release

[2021-06-17 15:41] romainguy commented on #4154
`rendered_color_tex_` definitely needs to be `SAMPLEABLE`. @pixelflinger could this because of our discards/framegraph management?

[2021-06-17 15:42] romainguy commented on #4143
You need to modify `build.sh` to add `-DGLTFIO_LITE=1` to the invocation of CMake in the function `build_ios_target`.

[2021-06-17 17:23] wangruibobobo commented on #4143
I removed all the previous changes and added -DGLTFIO_LITE=1，
Run
[code]
and change Other Linker Flags
Did I add it in the wrong place

![企业微信截图_b6d8e30c-301e-40db-ba21-df3f1e07ca65](https://user-images.githubusercontent.com/34636280/122444483-2de58e00-cfd3-11eb-9bac-5181dbc445c7.png)
![企业微信截图_5f4c7a3c-a6d4-4890-95f2-7aa691b05313](https://user-images.githubusercontent.com/34636280/122444649-5a010f

[2021-06-17 17:35] bejado commented on #4144
You need to configure your app's build to only include Filament when targeting arm64 then.

[2021-06-17 17:38] pixelflinger commented on #4154
I don't  think the framegraph is involved here, right? This is all user code.

[2021-06-17 17:39] bejado commented on #4151
This is something I'd like to add, but won't be a priority right now. I do plan on increasing the cap on shadow-casting spot lights.

[2021-06-17 17:42] romainguy commented on #4143
@wangruibobobo The problem you are running into is that gltfio-lite does not support clear coat. gltfio-lite only supports a subset of glTF extensions. If you want to support clear coat you will need to use the full version of gltfio. As for your linker error, you probably need to do a clean build for the flag to take effect (but like I just mentioned this won't fix your original issue with clear

[2021-06-17 17:42] #4143 closed

[2021-06-17 17:44] romainguy commented on #4154
@FinleyPan Could you please show us what you do exactly in your post process material?

[2021-06-17 17:45] pixelflinger commented on #4154
It seems to me it should work. Things you can try:
- run a debug version of filament and see if something appears in the logs
- try the metal or the vk backend and see if the problem persists
- try to fill the texture by hand using setImage() (make sure to use the UPLOADABLE and SAMPLEABLE usages)

[2021-06-17 17:48] romainguy commented on #4154
Wait, @FinleyPan how do you use the render targets exactly? In the code you posted you don't set them on the Views. If so that would explain why the texture content is wrong for the post process pass. Also, why is your post process view set to transparent blending?

[2021-06-17 17:51] wangruibobobo commented on #4143
Thank you for your quick reply. I would like to know if there is a material that is not supported by the Lite Library, will crash be caused? Will this material be ignored

[2021-06-17 18:16] prideout commented on #4143
In debug builds, we assert if a sampler is set that does not exist, which can occur when attempting to load a model that uses an extension that is not supported by the ubershader.  The intention is to not crash in release builds.

[2021-06-17 22:53] mnesarco opened #4159 "filagui load custom font"
**Is your feature request related to a problem? Please describe.**

Apparently there is no encapsulated way to add a custom font for ImGui from filagui api. If i understand correctly, after calling `io.Fonts->AddFontXXX` it is required to create a texture by hand.

**Describe the solution you'd like**

Expose some kind of public static method from ImGuiHelper to add custom fonts.

[2021-06-17 23:33] FinleyPan commented on #4154
Sorry for my late reply due to time zone differences, above posted code miss lines:
[code]

My postprocess material need alpha channel actually. @pixelflinger it is exactly:
[code]
It is used for converting a rgba texture to nv12 texture, and I posted a related [issue](https://github.com/google/filament/issues/4024). Now, I'm sure it works well on Huawei P30(with mali GPU) and my laptop(Nvidia GPU

[2021-06-18 00:47] prideout commented on #4159
This already exists, see `ImGuiHelper::createAtlasTexture()`.  You can call this after calling one of the `io.Fonts->AddFont*()` functions.

[2021-06-18 00:47] #4159 closed

[2021-06-18 01:19] mnesarco commented on #4159
The problem with that is that there is no access to the `ImGuiHelper` instance from the `FilamentApp` setup. So there is no way to call `ImGuiHelper::createAtlasTexture()` _(it is not static)_ if the app is based on `FilamentApp`.

A possible elegant solution is to pass a pointer to the internal `ImGuiHelper` instance in the setup callback. Or add another callback specific to initialize ImGui.

[2021-06-18 01:23] prideout commented on #4159
Ah understood.  FilamentApp isn't very configurable, it's a toy framework.  We could add this feature though, I like your idea of simply adding a parameter to the callback.  Feel free to make a PR.

[2021-06-18 01:24] romainguy commented on #4159
FilamentApp is not a public API. It only exists for our convenience to build test apps. It's pretty terrible overall anyway. Note that we may break/rewrite FilamentApp at any time and I strongly advise you do not rely on it.

[2021-06-18 01:30] mnesarco commented on #4159
I am just learning, so i am using **FilamentApp** as a base. I was trying to add an icon font for **ImGui** and I finally modified the **FilamentApp** source but I suppose many people try to do things with **FilamentApp** as first try like me.
BTW, Filament is very impressive. Thank you for all the hard work.

[2021-06-18 02:05] lichentao commented on #4144
@bejado  thiank you , can i. build source file to  support armv7 ,need to modify which file ,can you help tell me?  our app must support armv7,  if. you have not plan to support

[2021-06-18 07:55] FinleyPan commented on #4154
Hey @pixelflinger @romainguy, maybe I have partly reproduced this problem by extending [hello-triangle](https://github.com/google/filament/tree/main/android/samples/sample-hello-triangle) demo. Extended demo can be found in this [branch] (https://github.com/FinleyPan/filament/tree/two_rendertargets).
Basically, the original demo will generate following images on screen:
![Screenshot_Ori](https://u

[2021-06-18 07:59] issacclee commented on #4098
Sorry to piggy back on this question.
For complex gltf model with multiple heavily textured material variants, it normally would make sense to also employ extensions such as KHR_texture_basisu to reduce the packaged assets transmission size.
Currently it seems filament doesn't support KHR_texture_basisu extension. I was wondering if the filament team would consider support it?

[2021-06-18 16:28] bejado commented on #4144
This SO question may help you: [Xcode Conditional Build Settings based on architecture](https://stackoverflow.com/questions/1211854/xcode-conditional-build-settings-based-on-architecture-device-arm-vs-simulat).

[2021-06-19 12:09] 100espressos opened #4163 "third-party getopt conflicts with POSIX getopt"
**Describe the bug**
[code]

**To Reproduce**
Include a conflicting getopt()

**Desktop:**
 - OS: arch linux

[2021-06-19 16:36] romainguy commented on #4163
Does this happen when building Filament? getopt is only used by our tools and samples.

[2021-06-19 17:13] 100espressos commented on #4163
No, it does not occur internally with Filament.. I probably pulled it in by mistake. Thanks for checking.

[2021-06-19 17:18] #4163 closed

[2021-06-20 07:57] pixelflinger commented on #4154
Thanks for all the efforts, I will look into this hopefully this week. Stay tuned!

[2021-06-20 14:50] wangruibobobo opened #4164 "Abnormal rendering of translucent material in library libgltfio_resources_lite.a"
Describe the bug

When I use library libgltfio_resources_lite.a，
It is normal to use the model that comes with GLTF-Viewer，
But we replaced it with our own model with a translucent material，
The transparent area is rendered white.
I want to know is it because libgltfio_resources_lite.a library does not support translucent material or is this a bug

Expected behavior
Transparent areas can be render

[2021-06-21 06:29] fanbinnet opened #4166 "Load gltf model ,get the null pointer fatal exception"
**Describe the bug**
A clear and concise description of what the bug is.

null pointer dereference

**To Reproduce**
Steps to reproduce the behavior:
1. ...
Load gltf mode,then the app crash.
Sorry the gltf model is confidential now.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-06-21 07:44] fanbinnet commented on #4166
Comment below code in VertexBuffer.cpp line 137, fixed the crash.
Maybe there are  some bug in my model file but I don't know.

//    if (!ASSERT_PRECONDITION_NON_FATAL(attributedBuffers.count() == mImpl->mBufferCount,
//            "At least one buffer slot was never assigned to an attribute.")) {
//        return nullptr;
//    }

[2021-06-21 07:44] #4166 closed

[2021-06-21 11:16] magicchao opened #4167 "Multithread problem in JobSystem?"
JobSystem::execute runs in threads, and calls JobSystem::pop(), and calls WorkStealingDequeue::pop
Job* pop(WorkQueue& workQueue) noexcept {
        size_t index = workQueue.pop();
        assert(index <= MAX_JOB_COUNT);
        return !index ? nullptr : &mJobStorageBase[index - 1];
}

But WorkStealingDequeue::pop has a comment that "Must be called from the main thread"
Is this a problem?
PS: JobS

[2021-06-21 11:20] cx20 commented on #4098
@issacclee I think the following are issues related to `KHR_texture_basisu`.

https://github.com/google/filament/issues/1378

[2021-06-21 12:36] issacclee commented on #4098
Ah, thanks!

[2021-06-21 15:05] romainguy commented on #4167
It is not a problem in practice because each thread has its own work queue as part of the `ThreadState`.

[2021-06-21 15:05] #4167 closed

[2021-06-21 15:37] inveders opened #4168 "Crash Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) in the FrameCallback"
**Describe the bug**
Hello, I am building an app with ARCore and Filament. Once the initialization of ARCore and Filament is done, I try to turn on the camera by doing a session.update, and I have a crash like: "Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)"
What is strange is that in debug mode, if I put a breakpoint on the session.update line, my camera turns on well after several clicks and b

[2021-06-21 15:44] romainguy commented on #4168
Could you share the full logs please?

[2021-06-21 16:08] prideout commented on #4164
[code]

[2021-06-21 16:08] #4164 closed

[2021-06-21 16:46] inveders commented on #4168
@romainguy Yes I just have these 3 lines in my error logcat (do you need the debug, info and warn lines too?):

2021-06-21 18:42:55.047 A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x1040 in tid 29278 (FEngine::loop), pid 28956
2021-06-21 18:42:55.484 E/native: E0621 18:42:55.484479   29316 camera_image_stream.cc:271] FAILED_PRECONDITION: Failed to extract the native metadat

[2021-06-21 17:23] pixelflinger commented on #4168
Yes we'd need the full log with all the tags. Thanks.

[2021-06-21 17:25] udayk07 commented on #3986
Will there be any update on memory size change option to resolve rendering issue ?
<img width="1440" alt="Screenshot 2021-06-21 at 10 50 06 PM" src="https://user-images.githubusercontent.com/78372917/122802973-ae620280-d2e3-11eb-9ea2-f678ae2bf236.png">

[2021-06-21 17:45] inveders commented on #4168
[code]

[2021-06-21 19:31] prideout commented on #3986
Yes, thanks for the reminder: I think @pixelflinger and I have discussed increasing this constant for the WebGL build only, because the WebGL build is more likely to be used as a generic viewer.  For Android builds, we probably want to avoid increasing this limit.

[2021-06-22 02:15] allen-hsu opened #4170 "Native So Crash signal 11 (SIGSEGV), code 2 (SEGV_ACCERR) libgltfio-jni.so (offset 0x196e000)"
**Describe the bug**
Native Crash signal 11 (SIGSEGV), code 2 (SEGV_ACCERR)
libgltfio-jni.so (offset 0x196e000)

Hi, I used the filament lib, and I got some native crash like this

[code]
And this amount is very large, I went to find out if there is a similar problem. I saw on stackoverflow that some people say that this is caused by the Android Application Bundle and needs to be resolved on a spe

[2021-06-22 02:17] romainguy commented on #4170
Do you have more logs or the asset that creates the crash? What API levels are those devices? There isn't much we can do without more information.

[2021-06-22 02:34] allen-hsu commented on #4170
Hi, @romainguy  I just got those info from google play,
[code]

![截圖 2021-06-22 上午10 34 25](https://user-images.githubusercontent.com/2819672/122853863-78556a80-d345-11eb-86d4-487525349860.png)

[2021-06-22 02:35] allen-hsu commented on #4170
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.machipopo.media17 <<<

backtrace:
  #00  pc 000000000041bfdc  /data/app/com.machipopo.media17-1/lib/arm64/libgltfio-jni.so
  #00  pc 000000000041bafc  /data/app/com.machipopo.media17-1/lib/arm64/libgltfio-jni.so

![截圖 2021-06-22 上午10 35 30](https://user-images.githubusercontent.com/2819672/122853940-928f4880-d34

[2021-06-22 02:36] allen-hsu commented on #4170
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.machipopo.media17 <<<

backtrace:
  #00  pc 000000000004a4b0  /apex/com.android.runtime/lib64/bionic/libc.so (__memcpy+224)
  #00  pc 000000000041b0d0  /data/app/~~Qpdqg3fwIKcTyR8SMAKi7A==/com.machipopo.media17-3tjW5vHepTCRQgqRDGil3w==/split_config.arm64_v8a.apk!lib/arm64-v8a/libgltfio-jni.so (offset 0x196e000)

[2021-06-22 02:39] allen-hsu commented on #4170
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.machipopo.media17 <<<

backtrace:
  #00  pc 00000000000a3114  /system/lib64/libc.so (arena_run_first_best_fit+376)
  #00  pc 0000000000098ff4  /system/lib64/libc.so (arena_bin_malloc_hard+172)
  #00  pc 0000000000098cd8  /system/lib64/libc.so (je_arena_tcache_fill_small+168)
  #00  pc 00000000000c26d8  /system/l

[2021-06-22 02:43] romainguy commented on #4170
I don't think it has anything to do with the NDK (we use version 22.1.7171670). The crashes in malloc could be an out of memory situation. What assets are you trying to load?

[2021-06-22 02:50] allen-hsu commented on #4170
@romainguy We try to read an avatar, and it can dynamically replace the texture on the body
，But， I think the out of memory issue just for this issue ?
[code]

But there are other jni-related crashes that seem to have nothing to do with memory?

[2021-06-22 13:15] cwwng opened #4175 "How to compile the source code? How do I reference source code in my project?"
macOS
iOS platform
Thanks

[2021-06-22 14:47] romainguy commented on #4175
Please see the file BUILDING.md for all the information on how to compile Filament.

[2021-06-22 14:47] #4175 closed

[2021-06-23 03:59] cwwng commented on #4175
Hello, I was able to compile all the static libraries with build.sh.
I want to use the source code into our project.
No solution was found in building.md.

[2021-06-23 04:00] romainguy commented on #4175
The easiest thing would be to invoke our CMake files from your build.

[2021-06-23 05:40] pixelflinger commented on #4170
That looks like more a heap corruption to me -- could be an actual corruption, or more likely a double free. There is also a report in memcpy, and that could be due an out of memory (e.g. if some malloc returned 0), or also a memory corruption.
It would be helpful to have  a repro case.

[2021-06-23 05:44] pixelflinger commented on #4168
The fault address is very suspicious ( fault addr 0x7fffffff7fffe7), that looks like some code is calling an invalid function pointer, maybe an invalid virtual function or something like that. That's very odd.
It definitely smells like a race condition, where some code is calling through a function pointer that is not yet ready.

Is there any way you could send us an APK that reproduces the proble

[2021-06-23 05:59] ThomasGorisse commented on #4098
I am testing some samples with gltf-test, but until this extension is supported, the test will be marked as Fail.

@cx20 Your repo rocks!
Thanks for your crazy work. It's very helpful.

[2021-06-23 09:54] Joaopmoliveira opened #4183 "Vulkan Instance creation fails"
**Describe the bug**
While running the samples with the Vulkan backend the engine fails to create a Vulkan instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the hellotriangle sample on windows

**Expected behavior**
I would expected the engine to be able to select the features it requires from the list of available features

**Screenshots**
´´´
FEngine (64 bits) created at 000002

[2021-06-23 10:22] inveders commented on #4168
yes @pixelflinger can I have your email address please?

[2021-06-23 10:58] Joaopmoliveira commented on #4183
When I compile the samples in release mode the code works fine, so there is an extension in debug mode that crashes the application from what I can tell.

[2021-06-23 22:37] bejado commented on #4097
@ast3rX can you try turning on Xcode Shader Validation (Scheme -> Edit Scheme -> Diagnostics)?

[2021-06-23 22:38] bejado commented on #4077
Closing, but feel free to re-open if the issue persists.

[2021-06-23 23:18] romainguy commented on #2585
Note that the PR linked above needs "blurry" variance shadow maps to be truly useful. @pixelflinger is currently working on implementing this feature. Once it goes it, we'll add the transparent shadows feature.

[2021-06-24 06:34] kpeeters commented on #4077
I *think* I localised the issue, and of course it wasn't filament' fault, but I'll need to double check on the device where I first encountered it. Thanks for spending time on this, in any case.

[2021-06-24 17:36] ghostofrasputin opened #4191 ""FEngine::loop" libusc.so Crash on Amazon Fire TV Stick (gen 3) (Android 9)"
Crash Details:
I was using Filament `1.9.9`, but have since updated Filament to `1.10.4` and I'm still getting a crash. Sometimes I see the GLB model load and a crash doesn't occur (and sometimes it works a few times in a row), but most of the time the Activity starts and the model is never displayed before crashing. I'm using 2 SurfaceViews in one Activity, but the crash occurs whether I'm using

[2021-06-24 17:38] romainguy commented on #4191
Given the stack trace, the crash occurs in the driver's shader compiler. We could try to find a workaround but it will be difficult without that device or a repro case we can run ourselves :( Is the crash always the same?

[2021-06-24 17:49] ghostofrasputin commented on #4191
Yeah, the stack trace is always the same. Something else I noticed is that if I keep restarting the Activity after the crash the models will eventually load correctly (without a crash) and then the app will work on subsequent app launches. If I uninstall the app and reinstall I'll get the crash again until it eventually stops after enough Activity restarts.

[2021-06-24 17:50] romainguy commented on #4191
Android uses a per-app shader cache that gets wiped when you uninstall the app. That's why if you manage to compile the shader once, it's likely that it won't need to be recompiled again.

[2021-06-24 20:30] prideout commented on #4183
In older releases we requested some debug-related instance extensions unconditionally but nowadays we first check for availability.  So...yeah this is weird.

Can you try commenting out some of the codelines in `VulkanDriver.cpp` to see which extension is causing the issue?  Specifically, in this code block:

[code]

[2021-06-25 19:24] pixelflinger commented on #4191
Your best bet is to try the vulkan backend, which bypasses the glsl compiler.

[2021-06-25 19:25] #4191 closed

[2021-06-25 19:27] pixelflinger commented on #4168
I have reproduced the problem with the sample app, but wasn't able to get more debug info. I will need to try to use a debug version of filament. Hopefully next week.

[2021-06-25 19:37] ghostofrasputin commented on #4191
Is there documentation available on using the Vulkan backend?

[2021-06-25 19:52] prideout commented on #4191
To select the Vulkan backend, simply pass the appropriate enum value into the `Engine` constructor.

[2021-06-25 20:30] ghostofrasputin commented on #4191
Thanks. I tried using the Vulkan backend and the GLB model loads without a crash; however, I'm getting a bunch of errors like this:
[code]

I'm getting issues with a Service in my application after these errors occur, so my app won't function properly despite it not crashing.

[2021-06-25 23:06] ghostofrasputin commented on #4191
Seems to be a similar issue: https://github.com/google/filament/issues/3660

[2021-06-26 12:01] tottero opened #4202 "Too much geometry errors in Metal"
**Describe the bug**
The following Metal error appears consistently if I add a few hundred objects as separate renderables which are highly tessellated:
[code]
**To Reproduce**
Steps to reproduce the behavior:
It is fairly easy to reproduce the problem in the hello-triangle iOS example.
1. You can keep adding the same triangle vertices in a loop to generate more complex geometry (~10-20K triangles

[2021-06-26 17:44] prideout commented on #3986
The handle limit has been increased via #4201.

[2021-06-26 17:44] #3986 closed

[2021-06-26 20:05] Joaopmoliveira commented on #4183
I will do as you say, for now what i did was define the VK_ENABLE_VALIDATION as zero in debug mode and it does run, but this gives no information about the specific extension which is giving problems... when I have the time to rebuild and follow your suggestion I will post some updates, and thank you for the awesome library!

[2021-06-28 04:05] lichentao opened #4206 "IOS Memory too high"
when i use filament to render glb obj ,the memory is grow up fast

[2021-06-28 04:15] romainguy commented on #4206
Could you provide more details please? Decoding and rendering a glTF file will require a lot of memory allocations. Is the problem that memory usage keeps going up (leak)? Or just that the baseline is too high?

[2021-06-28 08:14] FinleyPan commented on #4154
Hey @pixelflinger. Is there any progress :)?

[2021-06-28 08:52] RippleZou commented on #3129
Can I use multi-pass on only one material?

[2021-06-28 12:06] XJDKC opened #4208 "A bug about 24 bit depth textures on iOS"
**Describe the bug**
As we know, iOS does not support 16 bit or 24 bit depth textures. Based on the previous code, it mapped the depth16 and depth24 to depth24 on iOS to avoid this problem. However, it forgot to do this mapping when the stencil is enabled. In my view, we should do this mapping on both DEPTH24 and DEPTH32F_STENCIL8 or we should do nothing.

**To Reproduce**
Call function getMetalFo

[2021-06-28 15:33] teub opened #4211 "AnimEvaluator.cpp includes assimp_view.h"
**Describe the bug**
tools\assimp_view\AnimEvaluator.cpp includes assimp_view.h, which in turns includes AssetHelper.h, which includes d3d9.h.
This sounds like an error, as the AnimEvaluator class is just used to evaluate the animation and shouldn't depend on any GUI/platform.

I could locally remove the offending include, and include only the ones AnimEvaluator needs:
AnimEvaluator.h
assimp/ai_as

[2021-06-28 15:40] #4211 closed

[2021-06-28 15:40] teub commented on #4211
sry, wrong git  :)

[2021-06-28 17:24] pixelflinger commented on #4206
Also can your share the glb with us?

[2021-06-28 22:28] #4154 closed

[2021-06-28 22:54] #4208 closed

[2021-06-30 06:27] allenhsu-17live opened #4220 "[Feature request] The possibility of dolls system(Avatar/Custom Character)?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Is there any teaching or any example that can be done like a custom doll system.
It means that I can dynamically load many model components, and these components can be dynamically added or deleted on the character ?

**Describe the solution you'd like**
A clear and concise d

[2021-06-30 10:57] PritishSawant opened #4224 "Could not find autoScaleEnabled and clearRootTransform"
**Describe the bug**
For the android gltf viewer sample I am getting error for autoScaleEnabled and clearRootTransform

**To Reproduce**
Import the gltf viewer sample for android

**Screenshots**
![image](https://user-images.githubusercontent.com/24708929/123949363-1ab5c380-d9c0-11eb-8b87-23abb9e850af.png)

**Desktop (please complete the following information):**
 - OS: Android
 - GPU: N/A
 - Back

[2021-06-30 13:13] KaelMa opened #4225 "Vulkan performance Worse than OpenGL in Android"
**Describe the bug**
I tried android sample-gltf-viewer app with a 10M glb,
vulkan-backend fps is 43, while opengl-backend fps is 60.

**To Reproduce**
Steps to reproduce the behavior:
just change backend

**Expected behavior**
vulkan performance better than opengl

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):*

[2021-06-30 13:20] udayk07 commented on #3986
Thanks for the help.

It seems the changes available in version 1.10.5. But, the android version 1.10.5 not available ( Could not find com.google.android.filament:filament-android:1.10.5 )

[2021-06-30 14:55] prideout commented on #4224
This a build issue, do a clean build.  We provide an aggressive clobber utility in our easy build script (`./build.sh -c`)

[2021-06-30 14:55] #4224 closed

[2021-06-30 14:58] prideout commented on #4225
Which device are you using?

[2021-06-30 15:31] Joaopmoliveira opened #4226 "Question about linking against imageio"
To link the image::ImageEncoder class I assume the imageio library is required. Which other third party and internal libs are also required? Or are they all bundled into the imageio static library?
While trying to replicate the samples you provide I obtain a couple of linking errors. I also tried including the png library but the visual studio compiler still complains about not finding some defini

[2021-06-30 15:31] #4183 closed

[2021-06-30 15:35] prideout commented on #4226
libpng is a requirement, so if it's not finding the `png_reset_zstream` definition then something's wrong; make sure you're using the copy of libpng that's in our tree.

imageio also depends on libz, tinyexr, stb.

(If you have IMAGEIO_SUPPORTS_BLOCK_COMPRESSION enabled then you also need astcenv and EtcLib from our repo)

[2021-06-30 16:09] Joaopmoliveira commented on #4226
Exactly as you said, once I included tinyexr and libz everything worked (I saw them in the targets of the imageio library but hasn't sure if they were required to add by hand or if they were bundled). The only strange thing is that I needed to also add the ws2_32.lib which contains the definition for __imp__htonl. (in case someone is also faced with the same problem in the future)
Thank you!

[2021-06-30 21:35] romainguy commented on #4220
Please open a discussion for this kind of questions, thank you!

[2021-06-30 21:35] #4220 closed

[2021-06-30 23:09] ghostofrasputin commented on #4191
I've modified a few things and my Activity is functioning properly when I have 1 SurfaceView and 1 Engine, but in one of my activities that utilizes 2 model SufaceViews I'm getting a crash. This appears to only happen on the Fire TV Stick, and isn't occurring on my other Android devices.

[2021-07-01 03:46] KaelMa commented on #4225
This glb link: https://drive.google.com/file/d/1xwKpoiMxDfhLc8lMpknbA7w-VZRkrgvg/view?usp=sharing
Ω
![image](https://user-images.githubusercontent.com/8552840/124060750-44262c00-da60-11eb-8b50-925f26c3c4fc.png)
I upload this glb to google

I have tried other glbs, this problem can still reproduce.

I used to think the problem is vulkan validation layers, then I tried released app without validatio

[2021-07-01 08:08] RockVampire opened #4229 "[Android] Render::readPixels get nothing in the buffer"
I'm trying to get the frame raw data by the method 'readPixels' in Renderer like this on Android.

[code]

And I also tried to do this in native method like this

[code]
But all the buffer I have gotten are full of zero, same as something happend here https://github.com/google/filament/issues/4077

I read the notes of 'readPixels', it said the method is  " intended for debugging and testing" .
Now

[2021-07-01 09:08] #4226 closed

[2021-07-01 14:43] prideout commented on #4225
Thank you!

[2021-07-01 17:10] bejado commented on #4229
If you clear your `Buffer` with `0xFF` before passing it to `readPixels`, are you still getting zeroes? You should also make sure your SwapChain is created with the `SwapChain::CONFIG_READABLE` flag.

[2021-07-01 17:13] romainguy commented on #4229
Note that on the Java side the Buffer needs to be marked with the native byte order.

[2021-07-02 03:34] chirag-qs opened #4232 "NullPointerException"
i am getting this crash very often, here is the crash log

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.google.android.filament.gltfio.Animator.clearNativeObject()' on a null object reference
       at com.google.android.filament.gltfio.FilamentAsset.clearNativeObject(FilamentAsset.java:224)
       at com.google.android.filament.gltfio.AssetLoader.des

[2021-07-02 03:41] romainguy commented on #4232
destroyModel() is called by ModelViewer when the surface view is detached. You are attempting to destroy a model that's already destroyed.

[2021-07-02 03:41] #4232 closed

[2021-07-02 08:23] RockVampire commented on #4229
Thanks for your answer , It helps a lot .Now I can get the pixel buffer.
I mentioned in the question, the method is "intended for debugging an testing".Now I'm looking for something can be really used.I saw https://github.com/google/filament/issues/1899 and it seems filament can processing the scene with a textureID.
Does any demo or project can show how it works and, in that way how can I init fi

[2021-07-02 15:28] ThomasGorisse opened #4236 "Gltfio : Skinning - Some wrong bones influence"
Hi,

I have a strange skinning behavior.

It seems that there is little gap between some bones influences on some vertex groups:

![GIF 02-07-2021 17-13-59](https://user-images.githubusercontent.com/6597529/124296723-92b7f100-db5a-11eb-85ba-ffd50884b324.gif)

Everything seems OK when rendering it from Blender or [Kronos sample model viewer](https://github.khronos.org/glTF-Sample-Viewer-Release/)

[2021-07-02 15:49] romainguy commented on #4229
On Android the best thing to do is render into a Surface. These can come from a surface view, a surface texture (to share the result as a texture with another renderer), a movie encoder etc.

[2021-07-02 15:49] #4229 closed

[2021-07-02 16:16] ThomasGorisse commented on #4236
OK.

I figure out that disabling the
[code]
 is the way to go.

![GIF 02-07-2021 18-14-07](https://user-images.githubusercontent.com/6597529/124302359-681d6680-db61-11eb-921c-77a22bca7000.gif)

_Now I have to make my animation more natural_

[2021-07-04 05:45] romainguy commented on #4236
There's a limit on the number of influences a vertex can receive, I imagine that's what you are running into. @prideout

[2021-07-04 18:00] Joaopmoliveira opened #4246 "DataReshaper"
**Is your feature request related to a problem? Please describe.**
When reading the pixels from the GPU there is a stage related with reshaping the original image, i was wondering if this could be removed in specific use cases.

**Describe the solution you'd like**
My question is if this step could be removed when rendering a standalone view with a user provided texture, thus the image layout is k

[2021-07-04 18:04] romainguy commented on #4246
Reshaping only occurs for formats allowed by our API but not natively handled by Vulkan. If you use a format that Vulkan supports natively, there shouldn’t be any overhead. Do you have a specific example?

[2021-07-04 20:37] Joaopmoliveira commented on #4246
This is more or less the code I have been using for testing.

[code]
When I increase the size of the swapchain the time delay of the copy procedure increases exponentially. For a swapchain of about 500x500 pixels I get a time delay of about 100 milliseconds and for a swapchain of about 2000x2000 pixels I get a delay of 2 seconds. Although i know that the cpu and gpu must communicate between one an

[2021-07-04 20:44] romainguy commented on #4246
@prideout Do we skip reshaping when source and destination are the same format? I'd assume RGBA/UBYTE wouldn't need reshaping.

[2021-07-06 05:01] RGregat commented on #4168
I'm just an interested reader on this issue :)
Are there any updates or further investigations on this issue?

[2021-07-06 05:23] pixelflinger commented on #4246
Also, 2s seems like a lot. Can we investigate of this is expected?

[2021-07-06 07:52] cjsliuj commented on #3129
No you can not.
One material multi-pass just Syntactic sugar.

[2021-07-06 09:25] Joaopmoliveira commented on #4246
For further clarification, the 2 second (2000x2000 pixels) and 0.1 second (500x500 pixels) was for debug mode. With release mode I obtain:
(2000x2000 pixels) - 1.495 sec
(500x500 pixels) - 0.115 sec
I started to look at the other backends and they differ from one another in terms of implementing this copy procedure (the opengl one does not seem to require the datareshaper but then I don't understa

[2021-07-06 13:34] lichentao commented on #4206
sorry ,double check cpu high is our code cause

[2021-07-06 13:35] lichentao commented on #4206
GLTF file too big. phone  get  amount of heat

[2021-07-06 15:01] prideout commented on #4236
Hard to tell what's going on without looking at your gltf file, but here are our known skinning limitations:

- Filament supports only one vec4 joints/weights set (however this conforms with the glTF spec).
- Filament does not support shearing in the bone matrix, where shearing is defined as rotation + non_uniform_scale + rotation.

[2021-07-06 15:39] pixelflinger commented on #4246
The opengl backend doesn't have to deal with unknown formats, because by definition the formats filament supports are the ones supported by gles3.0.

The conversion, if needed, is done by the driver and performance is going to vary from one driver to another.

[2021-07-06 16:24] Joaopmoliveira commented on #4246
Understood, so in Vulkan's case it would be necessary to check the supported formats, store them on a list and check if the driver can indeed perform the conversion under the hood and if not ,call the data reshaper, thus accelerating the copy procedure in certain cases?
For my specific use case I need to render the 3D result over a swapchain which is associated with SKIA, but Filament only support

[2021-07-06 16:26] romainguy commented on #4246
"For my specific use case I need to render the 3D result over a swapchain which is associated with SKIA"

Can you explain in more detail what you need to do exactly and on which platform?

[2021-07-06 16:38] Joaopmoliveira commented on #4246
I want to target Desktops (windows mainly for now), render 2D shapes, text, etc (thus SKIA) and in some situations I need to render a 3D scene over a portion of the swapchain.

Because Filament must be a closed system I cannot use the internal device of Filament with SKIA, thus I create a separate Vulkan device with all the necessary apparatus which I then fuse with SKIA (I need a Vulkan device, s

[2021-07-06 17:01] prideout commented on #4246
We can improve ReadPixels but it will always be a poor solution.  Since we already have a `Texture::import()` that works with Metal and OpenGL, maybe we could make it work for Vulkan too, by allowing VkImage to be passed in and cast to intptr_t.
 Unfortunately there would be many tricky aspects to such an API:

1) How do we manage image layout?  It might make sense for Filament to change its layou

[2021-07-06 18:09] pixelflinger commented on #4246
I think we should investigate the 2s thing though. That's seems insane to me.

[2021-07-06 18:10] Joaopmoliveira commented on #4246
Is there such handshake agreements with the other backends, or is it simpler to share contexts with them? I never used OpenGL or Metal, so I am clueless here. In my case I don't even want to render on top of the Image, so long as I could copy into into my own swapchain I would be happy.

With SKIA one can provide semaphores which let the user draw something over the image and thus achieve some sor

[2021-07-06 18:12] Joaopmoliveira commented on #4246
@pixelflinger I will take a while but I can time the code on my machine related with the DataReshaper just to make sure that it is indeed the culprit and not another silly mistake along my code.

[2021-07-06 18:16] pixelflinger commented on #4168
Not yet. We're not forgetting about it, just a lot of other things to do.

[2021-07-06 20:26] prideout commented on #4246
I wrote a little test that does 100 runs of ReadPixels using a 2000x2000 RGBA U8 buffer, and I'm measuring < 20 ms for each run on Vulkan, which includes the flush-and-wait between each run.

[2021-07-06 21:46] Joaopmoliveira commented on #4246
@prideout I will build the test on my PC once the merge is complete. The results clearly show that I am wrong, but I still cannot obtain a performance close you what is displayed these tests

[2021-07-06 21:55] Joaopmoliveira commented on #4246
A small question in the meanwhile the option INSTALL_BACKEND_TEST is only available on apple? although I signal the flag, the backend tests target is not generated on Visual studio

[2021-07-07 11:18] keaukraine opened #4251 "Glitches in Chrome"
Web demos in Chrome 91.0.4472.124 on Windows 10 produce graphical glitches at the top part of viewport:

https://user-images.githubusercontent.com/414072/124750302-f876f500-df2d-11eb-8575-291cc85ab8d2.mp4

No errors in console.

Sometimes after refreshing page glitches disappear.

[2021-07-07 12:00] cx20 commented on #4251
Probably the same phenomenon as below.
https://github.com/google/filament/issues/3151

[2021-07-07 14:45] prideout commented on #4246
Yes, the backend test are still a bit janky, so far we've only used them for manual testing on mac.

[2021-07-07 14:47] prideout commented on #4251
This is a known issue with NVIDIA, duplicate of #3151.

[2021-07-07 14:47] #4251 closed

[2021-07-07 14:59] cx20 commented on #4251
@keaukraine
I don't know if it's the right way, but to get around this glitch on NVIDIA GPUs, you may be able to improve it by calling `setClearOptions` function.

https://github.com/google/filament/discussions/3670#discussioncomment-506371

[2021-07-07 14:59] Joaopmoliveira commented on #4246
Ok, I will try to adapt them so that I can run your test. I am really curious if I obtain that 18 ms performance, or if there is a problem with the compiler I am using. Or maybe I am introducing some delay due to an obscure line of code.

[2021-07-07 17:25] pixelflinger commented on #1975
obsolete/no more action needed

[2021-07-07 17:25] #1975 closed

[2021-07-07 17:28] prideout opened #4253 "Vulkan: texture filtering looks wrong (Qualcomm)"
On a Pixel 4, load up bistro and disable scale-to-unit cube to move the camera close to the floor.  Does not occur on Mali devices or MoltenVK.

The can also be reproduced using the default BusterDrone model, just zoom in to the floor.  GL and Vulkan comparisons are attached.

![OpenGL](https://user-images.githubusercontent.com/1288904/124803260-bb026f80-df0d-11eb-88d1-ff72166bd01c.png)
![Vulkan](

[2021-07-07 17:29] pixelflinger commented on #2423
not actionable

[2021-07-07 17:29] #2423 closed

[2021-07-07 17:30] pixelflinger commented on #2490
not actionable / shader compiler bug.

[2021-07-07 17:30] #2490 closed

[2021-07-07 17:31] alexey-pelykh commented on #2423
@pixelflinger not actionable in a way it's not an issue any more?

[2021-07-07 17:34] pixelflinger commented on #2524
We have noticed recently issues with bilinear filtering on Adreno when using Vulkan.

[2021-07-07 17:34] pixelflinger commented on #2524
not actionable / shader compiler bug.

[2021-07-07 17:34] #2524 closed

[2021-07-07 17:35] prideout commented on #4253
See also https://github.com/google/filament/issues/2524

[2021-07-07 17:37] pixelflinger commented on #1864
duplicate of issue #2057
https://github.com/google/filament/issues/2057

[2021-07-07 17:37] #1864 closed

[2021-07-07 17:39] pixelflinger commented on #4057
not actionable at this point

[2021-07-07 17:39] #4057 closed

[2021-07-07 17:43] prideout commented on #2422
Correct, sRGB has not been implemented in the ASTC path, I had set aside working ASTC due to flakiness and crashes in ARM's encoder library.  Side note: the library has been rewritten and it we need to upgrade to the new version.

Another thing in my notes is that we do not support non-divisible-by-4 textures in the ASTC path.

Related issue: we also were not honoring the format in the KTX file un

[2021-07-07 17:47] pixelflinger commented on #3602
bug still happening as of today

[2021-07-07 17:54] pixelflinger commented on #3426
unfortunately I don't think this is actionable at this point.

[2021-07-07 17:54] #3426 closed

[2021-07-07 18:00] pixelflinger commented on #3272
Thank you for the link! Very scary.

[2021-07-07 18:01] pixelflinger commented on #3272
We can't workaround those issues because our shaders are generated by spirvtools.

no actionable.

[2021-07-07 18:01] #3272 closed

[2021-07-07 18:11] pixelflinger commented on #2866
not actionable / shader compiler bug

[2021-07-07 18:11] #2866 closed

[2021-07-07 18:13] pixelflinger commented on #3151
not actionable / gpu/driver specific

[2021-07-07 18:13] #3151 closed

[2021-07-07 18:14] pixelflinger commented on #2636
obsolete

[2021-07-07 18:14] #2636 closed

[2021-07-07 18:24] pixelflinger commented on #3909
No ETA yet. It's probably going to be a while.

[2021-07-07 18:36] pixelflinger commented on #1448
Why this is not working is still a mystery, but realistically this won't be investigated further.
Not Actionable.

[2021-07-07 18:36] #1448 closed

[2021-07-07 18:40] pixelflinger commented on #2978
What's completely stupid about this limitation is that `REPEAT` can be emulated in the shader by just doing a `fract(uv)`.

[2021-07-07 18:42] bejado commented on #4246
Backend tests currently only work on Apple platforms.

[2021-07-07 18:56] keaukraine commented on #4251
Thank you for explaining the cause of this glitch!

[2021-07-07 19:08] prideout commented on #4236
This is not actionable unless we have a repro model to work with.

[2021-07-07 19:08] #4236 closed

[2021-07-07 19:13] prideout commented on #3939
This is not actionable on our end, seems like an ANGLE bug, especially since the error message seems related to `ANGLE_request_extension`.

[2021-07-07 19:13] #3939 closed

[2021-07-07 19:14] prideout commented on #4253
This issue still occurs even after unconditionally adding the `-g` arg to matc, both for Filament's built-in materials and gltfio materials.

[2021-07-07 19:22] pixelflinger commented on #3027
Still need to report this to spirvopt/spirvtools.

[2021-07-07 19:30] #3145 closed

[2021-07-07 19:33] pixelflinger commented on #2591
We now have a fallback for when the handle arena is full.

[2021-07-07 19:33] #2591 closed

[2021-07-07 19:35] pixelflinger commented on #2261
You could also use the async version of readPixels maybe -- this would stall less.

[2021-07-07 19:38] bejado commented on #2602
This has been fixed.

[2021-07-07 19:38] #2602 closed

[2021-07-07 19:41] pixelflinger commented on #1700
We now keep the depth target if it also has the SAMPLEABLE usage bit set.

[2021-07-07 19:41] #1700 closed

[2021-07-07 20:28] #2978 closed

[2021-07-07 21:06] pixelflinger commented on #3584
Tried on a Pixel 2 and it is working fine.  I think at this point there is no actionable things we can do.

[2021-07-07 21:06] #3584 closed

[2021-07-07 21:06] prideout commented on #3602
This is "fixed" by adding `-g` to matc.  We tried updating spirv-tools and glslang, but these updates did not fix the issue.

[2021-07-07 21:10] pixelflinger commented on #2831
not actionable / device specific

[2021-07-07 21:10] #2831 closed

[2021-07-07 21:12] #3000 closed

[2021-07-07 21:15] pixelflinger commented on #4090
don't think it's actionable / gpu specific

[2021-07-07 21:15] #4090 closed

[2021-07-07 21:16] pixelflinger commented on #3403
not actionable / device specific

[2021-07-07 21:16] #3403 closed

[2021-07-07 21:24] pixelflinger commented on #1895
duplicate of #2057

[2021-07-07 21:24] #1895 closed

[2021-07-07 21:26] prideout commented on #3027
There are two issues here: (1) incorrect rendering seen on an NVIDIA Linux machine, and (2) poor optimization.

The poor optimization code that Mathias noticed is actually from the "good" case (correct rendering).

For (1) I don't think there's anything actionable on our end, I can't repro it on my MacBook.  @roxlu maybe you can give it another try using latest NVIDIA drivers + the latest Filament

[2021-07-07 21:33] pixelflinger commented on #3598
there is no plan to work in this issue.

[2021-07-07 21:33] #3598 closed

[2021-07-07 21:38] pixelflinger commented on #3183
There are many bugs/problems/discussions reported in this issue.  Please create a new issue per problem.
As it is now, nothing is actionable here.

[2021-07-07 21:38] #3183 closed

[2021-07-07 21:41] PsycoTodd opened #4259 "Android RenderableManager::setGeometryAt call lost material in v1.9.8"
**Describe the bug**
I try to implement a feature to replace a loaded gltf model's mesh in filament by calling `setGeometryAt(Instance instance, size_t primitiveIndex, PrimitiveType type, VertexBuffer* vertices, IndexBuffer* indices, size_t offset, size_t count)`.

I am able to switch the geometry while get the object still rendered with the original material on Mac with cpp built filament library

[2021-07-07 21:42] pixelflinger commented on #1201
No update.  We still want to implement some of these solutions.

[2021-07-07 21:45] pixelflinger commented on #1279
I agree with @prideout my original intent was for all these things to be immutable.

[2021-07-07 21:48] prideout commented on #4259
To summarize, calling `setGeometryAt` on a fully loaded model works fine on macOS, but on Android it causes the geometry to disappear.  Is that correct?

Are you sure you're doing this on a fully loaded model (asyncGetLoadProgress >= 1.0)?

Is there a simple modification that we can make to our sample code (e.g. in `sample-gltf-viewer`) to reproduce the issue?

[2021-07-07 21:50] pixelflinger commented on #1690
You should be able to use custom RenderTargets for this. With recent version of filament all this should be possible.

[2021-07-07 21:50] #1690 closed

[2021-07-07 21:54] prideout commented on #1279
@pixelflinger I complained about mutability in 2019 but unfortunately the ship has already sailed. We now have several users who swap out materials nowadays.  In fact we made VertexBuffer _more_ mutable with the advent of BufferObject, in order to satisfy glTF morphing requirements.

Anyway: I feel this bug is obsolete and that we can close it.

[2021-07-07 22:03] prideout commented on #3027
Correction, the poor optimization that Mathias noticed is indeed from the "bad" case.

However, there are still two separate issues here: for the second issue I will file a ticket against spirv-tools and reference it here, so that we can close this one out.

[2021-07-07 22:15] pixelflinger commented on #2941
very unlikely we can work on this any time soon

[2021-07-07 22:15] #2941 closed

[2021-07-07 22:26] pixelflinger commented on #2423
no, more in the sense that there is nothing we can do.

[2021-07-07 22:50] bejado commented on #4202
Thanks, I'm able to consistently reproduce on an iPhone 12 Pro. I get the error right around 19k triangles. I understand why this limitation exists, but I've seen absolutely no guidance on it from Apple, which is really unfortunate.

I think our best bet is to apply some sort of heuristic to determine if a render pass uses too much geometry and can't support memoryless textures. For now, you'll ha

[2021-07-07 22:57] pixelflinger commented on #4253
When you tested with `-g` did you do a "Real clean build", using the `-C` option? I've been bit by that before.

[2021-07-07 23:06] romainguy commented on #4202
19k triangles doesn't seem that much though

[2021-07-07 23:11] bejado commented on #4202
I agree. Perhaps it has to do with the number of buffers used in a render pass. I need to experiment more.

As another workaround, you can change `MTLResourceStorageModeMemoryless` to `MTLResourceStorageModePrivate` [here](https://github.com/google/filament/blob/ceced43e9314fde6a953d99e940a7a138306c292/filament/backend/src/metal/MetalHandles.mm#L870).

[2021-07-07 23:21] PsycoTodd commented on #4259
To summarize, calling setGeometryAt on a fully loaded model works fine on macOS, but on Android it causes the geometry to disappear. Is that correct?

**Correct. Right now I feel it related to the material instance**

Are you sure you're doing this on a fully loaded model (asyncGetLoadProgress >= 1.0)?

**Yes, on my android device, I first draw the original mesh for 3 seconds, then call update mes

[2021-07-08 00:10] romainguy commented on #4253
It looks like one texture is in NEAREST, it shouldn't be related to `matc`.

[2021-07-08 00:19] #2533 closed

[2021-07-08 00:46] prideout commented on #3027
I filed an issue with spirv-tools here:
https://github.com/KhronosGroup/SPIRV-Tools/issues/4371

[2021-07-08 00:46] #3027 closed

[2021-07-08 01:07] prideout commented on #4246
@Joaopmoliveira I think we should close this for now, please file a new issue after you narrow this down a bit, using an appropriate bug title :)

[2021-07-08 01:07] #4246 closed

[2021-07-08 01:18] pixelflinger opened #4266 "implement basic picking"
### Discussed in https://github.com/google/filament/discussions/3827

<div type='discussions-op-text'>

<sup>Originally posted by **ThomasGorisse** April 20, 2021</sup>
Hi Filament Team,

I'm currently working on the Collision part of an upcoming ARCore/Filament repo.

Since there is not yet any raycasting implementation available on Filament from what I saw, I have 2 choices:
1. Use the ARCore `h

[2021-07-08 01:19] pixelflinger commented on #4266
We won't implement a sophisticated ray-casting/collision system, however, basic picking would be very useful.

[2021-07-08 02:38] pixelflinger commented on #4253
No it shouldn't, but I've seen a similar problem before related to material optimization, so did an external developer. There is obviously a bug in the compiler somewhere.

[2021-07-08 06:09] fanbinnet opened #4268 "Load gltf file encounter null pointer issue."
I have a gltf file have Morph Targets like below.
The target_* is an animation need keeping run,but the D_1,L_1,U_1,R_1 need control by coding with weights from 0 to 1.0.
When I load my gltf file use the android  sample-gltf-viewer,I encounter an null pointer fatal exception.
The windows 3D viewer and https://gltf-viewer.donmccurdy.com/ both can open the gltf.
I use "gltf-pipeline -i .\morgh003.gl

[2021-07-08 06:12] romainguy commented on #4268
Could you please attach the glTF file so we can reproduce please?

[2021-07-08 07:27] fanbinnet commented on #4268
Sorry,I can't upload file more than 100k. So I compress gltf to five files.
Please rename test.z01.zip to test.z01... test.z04.zip to test.04.

Thanks ！
[test.z01.zip](https://github.com/google/filament/files/6782455/test.z01.zip)
[test.z02.zip](https://github.com/google/filament/files/6782459/test.z02.zip)
[test.z03.zip](https://github.com/google/filament/files/6782463/test.z03.zip)
[test.z04.zip

[2021-07-08 08:12] RockVampire opened #4270 "How to get the TextureID that after Filament rendering?"
Now I'm trying to use filament to render something in the video living room on mobile platform. I have tried to push the video stream into filament by Stream and ExternalTexture like what was done in the stream-test-sample.
But the interface I'm using request a textureId to push the video stream to the server.
Can I get the texture id after filament rendering ,or how can I get the "output data" in

[2021-07-08 09:42] JiangXiaotian opened #4271 "Metal performance seems not better than OpenGL in iOS"
**Describe the bug**
I tried iOS sample hello-gltf app，
metal-backend gpu frame time is 7.5 ms, while opengl-backend gpu frame time is 6.8ms.
the rendering time of opengl is also shorter than that of metal  in instrument->GamePerformance.

**To Reproduce**
Steps to reproduce the behavior:
just change backend, both of them "build configuration" choose release.

**Expected behavior**
metal performan

[2021-07-08 10:53] prideout commented on #4268
In release config, I'm able to view this model using our `gltf_viewer` app.  In debug config, we assert because it fails cgltf validation.  Are you using the latest version of Filament?

<img width="1569" alt="Screen Shot 2021-07-08 at 3 52 12 AM" src="https://user-images.githubusercontent.com/1288904/124909968-e59d0880-df9f-11eb-9f97-d4738b8e0ee6.png">

[unsplit.zip](https://github.com/google/fil

[2021-07-08 11:05] prideout commented on #4268
I'm also able to load the model on Android.  Here's a screenshot with an emulated Pixel 3.

![device-2021-07-08-040411](https://user-images.githubusercontent.com/1288904/124911537-b5566980-dfa1-11eb-9be3-972408575d73.png)

[2021-07-08 12:11] udayk07 commented on #3986
@prideout  @pixelflinger

Tried to load car.zip with latest filament update 1.10.6 and facing same crash issue.

Have added crash logs
[filament_crash_log.txt](https://github.com/google/filament/files/6784293/filament_crash_log.txt)

Thnx for ur effort.

[2021-07-08 12:33] fanbinnet commented on #4268
Sorry! I did not upgrade my filament after 2021.5.28.After I update my filament to latest,the null pointer exception is gone.
Now I can load the file.

Now I have another question.
How can I control morph 'D_1,L_1,U_1,R_1'. If there are some method in the filament ?

Thanks!

[2021-07-08 14:33] RockVampire commented on #4270
Is There any example render on a surfaceTexture?

[2021-07-08 14:44] romainguy commented on #4271
What are you rendering? With a scene with not many draw calls and mostly shader bound there's no reason for Metal to be faster if you look at vertex/fragment processing time on the GPU.

[2021-07-08 15:07] prideout commented on #4268
For low-level control of the four morph weights that Filament supports, you can use `RenderableManager::setMorphWeights` but it's usually much easier if your asset sets up the weights in a predefined animation, in which case you can use `Animator::applyAnimation`.  For further questions, use the Discussions tab.

[2021-07-08 15:07] #4268 closed

[2021-07-08 15:23] romainguy commented on #4270
Please use a discussion instead of a bug report for questions. You can render with Filament into any `Surface` by creating a `SwapChain` around that `Surface`:

[code]

See the source of [UiHelper](https://github.com/google/filament/blob/main/android/filament-android/src/main/java/com/google/android/filament/android/UiHelper.java) for a complete example of how to create that `SwapChain` (in partic

[2021-07-08 15:23] #4270 closed

[2021-07-08 17:31] #2585 closed

[2021-07-08 17:50] pixelflinger commented on #4259
Are you using C++ or Java/Kotlin on Android for the setGeometryAt call?

[2021-07-08 18:09] bejado commented on #4097
Closing, but feel free to reopen with more specific repro steps.

[2021-07-08 18:09] #4097 closed

[2021-07-08 18:19] pixelflinger commented on #4170
Okay reading the comments again, I think it is most likely that you are freeing an object twice, probably a texture (since it looks like you're updating the texture on the model).

[2021-07-08 18:21] bejado commented on #3774
Closing, but feel free to reopen if you're still able to reproduce with the latest Filament.

[2021-07-08 18:21] #3774 closed

[2021-07-08 18:27] prideout commented on #4253
When I substitute the texture with a small 100x100 version, the result is good, you can tell it is doing LINEAR interpolation.

However when I use a large texture and zoom in, the NEAREST problem comes back.

I tried simplifying the ubershader by removing the texture matrix and the problem still occurs.

Very strange!

[2021-07-08 18:29] romainguy commented on #4253
Then it might be an fp16 issue. If the texture is > 1024 we can't have sub-pixel UVs, which would explain the lack of filtering. It would also explain why `-g` fixes it.

[2021-07-08 18:34] #3355 closed

[2021-07-08 18:36] #1279 closed

[2021-07-08 19:19] bejado commented on #3395
Reopening because I'm able to reproduce this, but only on Windows. Investigating...

[2021-07-08 20:08] prideout commented on #3395
Maybe try playing with the `-g` option in matc, who knows! 🤣

[2021-07-08 20:40] prideout commented on #3602
Can be worked around by commenting out the following:

    .RegisterPass(CreateLocalAccessChainConvertPass())

  This however is quite detrimental to optimization, so I'll try to find the actual GLSL segment.

[2021-07-08 20:56] jwwalker opened #4275 "Enhancement: light channels"
### Discussed in https://github.com/google/filament/discussions/3839

<div type='discussions-op-text'>

<sup>Originally posted by **jwwalker** April 22, 2021</sup>
Is there any way to make a geometry cast shadows from certain lights and not from other generally shadow-casting lights?  I'm guessing the answer is No, but figured I might as well ask.  If you wonder why I would want such a thing, I wa

[2021-07-08 21:20] TheOriginalBytePlayer commented on #4151
Second this request.

[2021-07-08 23:24] #4206 closed

[2021-07-08 23:27] romainguy commented on #4271
Also note that as long as you are under 16ms the GPU is probably not clocked as high at it can be, so exact timings are not really comparable.

[2021-07-08 23:28] romainguy commented on #4275
BTW would you like a renderable to be lit by a given light without casting shadows from that light?

[2021-07-08 23:45] jwwalker commented on #4275
@romainguy The ideal thing would be for the mask object to be invisible to the camera, but cast a shadow from just one light.  I can't remember whether I ever asked if it's possible for an invisible object to cast a shadow.  Maybe `MaterialInstance::setCullingMode(FRONT_AND_BACK)`, or does that prevent casting a shadow?

[2021-07-08 23:47] romainguy commented on #4275
You can simply use a material that doesn't write to the color buffer.

[2021-07-08 23:50] jwwalker commented on #4275
@romainguy If the material doesn't write to the color buffer or the depth buffer, would that still work?

[2021-07-08 23:51] romainguy commented on #4275
It should, you'd have to try :)

[2021-07-08 23:52] jwwalker commented on #4275
Fair enough, I'll put that on my to-do list.

[2021-07-09 00:13] prideout commented on #3602
After staring at the SPIRV for the good and bad cases, I realized they were equivalent.

Then I tried on a mali and voila, the problem does not exist.

So, this isn't an optimizer issue at all, it's a Qualcomm issue.  (which reminds me a bit of https://github.com/google/filament/issues/3027, wherein the optimizer triggers a qcom bug)

It would be nice to find a workaround, which is why I haven't c

[2021-07-09 05:06] PsycoTodd commented on #4259
Are you using C++ or Java/Kotlin on Android for the setGeometryAt call?

**I tired two ways. my original implementation is to call `setGeometryAt` in cpp by some java interface. In the sample-gltf_viewer demo, I directly call the java version.**

I notice one warning actually when I do this.
` W/Filament: [instance=3, primitive @ 0] missing required attributes (0x1f), declared=0xb`

There is possi

[2021-07-09 11:32] tottero commented on #4202
Thanks for looking into this. Coming up with an acceptable heuristic seems to be difficult. The error most likely depends on the number of buffers (as you noted) but devices with more RAM tend to produce the error at higher object/triangle count only.

Unfortunately, turning off the MSAA is not an acceptable visual compromise.

Changing the storage mode to MTLResourceStorageModePrivate has a major

[2021-07-09 14:45] ThomasGorisse commented on #3909
Sorry for asking it again but we are [updating to the last 1.10.6](https://github.com/ThomasGorisse/sceneform-android-sdk/pull/116) and we'd like to know if we can suppress our workaround:
[code]

[2021-07-09 15:11] ThomasGorisse commented on #3909
BTW2, some DeptPoint, InstantPlacement, Reticle spoil:

https://user-images.githubusercontent.com/6597529/125099728-9e666300-e0d8-11eb-99cb-559641745eb4.mp4

[2021-07-09 17:34] jwwalker commented on #4275
Yes, something that does not write to either the color buffer or the depth buffer can cast a shadow.  So, I don't care whether a renderable that doesn't cast a shadow from a certain light is lit by that light or not, because in my case I won't see it at all.

[2021-07-09 18:07] PsycoTodd commented on #4259
**Update**: I think I notice that in the `AssetLoader.cpp` there is some dummy attributes [uv1, color]. And when we call setGeometryAt function we need to also pack these dummy data by the client.

If I pack the dummy attributes, then the warning is gone:
W/Filament: [instance=3, primitive @ 0] missing required attributes (0x1f), declared=0xb

[2021-07-09 18:18] JiangXiaotian commented on #4271
I re-used a glb with 980018 vertices and 100011 faces on iphone 7 for test. And I enabled bloom, AmbientOcclusion, and fxaa. The result still seems to be that metal is not faster than opengl, and even the cpu usage rate of metal is 42%. , OpengGL is only 17%.

I tested it in  iOS hello-gltf sample, the Screenshot below is the code I changed.
<img width="827" alt="截屏2021-07-10 上午2 17 26" src="https

[2021-07-09 18:20] romainguy commented on #4271
For this use case, there's no reason for Metal to be faster than GL on the GPU. CPU usage should/could be the same or better though, looks like we have improvements to make.

[2021-07-09 18:22] JiangXiaotian commented on #4271
Is it convenient to give an example Metal is faster than GL?

[2021-07-09 18:23] JiangXiaotian commented on #4271
Is it recommended to use opengl instead of metal even in iOS?

[2021-07-09 18:31] bejado commented on #4202
We could try to render a frame using memoryless render targets, check if the command buffer fails, and if so, switch to private mode instead for the next frame. This would lead to skipped frames though, which isn't ideal either.

[2021-07-09 18:48] bejado commented on #4271
There are a handful of optimizations I'm working on to improve both CPU and GPU performance for Metal. You're welcome to use OpenGL, though the goal is to eventually remove support for it on Apple platforms.

[2021-07-09 19:52] #3602 closed

[2021-07-09 22:04] #3395 closed

[2021-07-10 00:55] #4253 closed

[2021-07-10 03:30] PsycoTodd commented on #4259
**It is indeed the problem**

 I have to make sure that the required attributes [uv0, uv1, color] for android has been there in the vertexbuffer I passed in when call setGeometryAt.

 Specifically, I have to provide the dummy data, even I don't use them for android.

[code]

[2021-07-10 03:40] PsycoTodd commented on #4259
Then it is general that when client call `setGeometryAt`, how do they know the dummy data for uber shader without reading the `AssetLoader.cpp`?

[2021-07-10 03:56] pixelflinger commented on #4259
@prideout might be able to answer better than I.

[2021-07-10 19:24] pixelflinger commented on #4271
I would not recommend using the opengl backend on iOS (not macos) because we're planning to remove support soon.

Also when doing performance comparisons you need to also look at other factors like GPU/CPU clocks. Sometimes, when some code is more optimized it runs slower but at a lower power usage. As long as rendering happens in less than the vsync rate, there is no problem.

And finally, there

[2021-07-12 00:21] overflightnz opened #4293 "Out of bounds exception when setting a texture on a RenderTarget"
**Describe the bug**
On Android setting a texture on a RenderTarget to the Color attachment point raises an exception.

I believe this was fixed via https://github.com/google/filament/commit/204fc0359c6f6d3fff198f4a1aa10f4dea29aae0 however it is still happening with 1.10.6?

[code]

**To Reproduce**
Run the example project to see the exception. [ColorTexture.zip](https://github.com/google/filament

[2021-07-12 04:44] romainguy commented on #4293
The code is already fixed but it's just not in 1.10.6. It will be in 1.10.7 tomorrow (July 12).

[2021-07-12 04:44] #4293 closed

[2021-07-12 15:31] prideout commented on #4259
Ah, this explains the difference between Android and macOS, we use `UbershaderLoader` by default on Android whereas desktop platforms use `MaterialGenerator` by default.

I'm glad you found the issue, sounds like we can close this bug and start a discussion if necessary.  Here are some tips:

- Use `MaterialProvider::needsDummyData` (implemented by `UbershaderLoader`) to find out which attributes

[2021-07-12 15:31] #4259 closed

[2021-07-12 16:39] PsycoTodd commented on #4259
Thanks!

[2021-07-12 19:22] pixelflinger commented on #4168
The root of the problem here is that filament is called from the wrong thread.

Filament must *only* be called from the thread that created the Filament Engine. When using a debug version of filament, there are a few extra checks that verify certain commands are not called from another thread:
[code]
I have not been able to get a symbolized stack trace though.

[2021-07-12 23:02] bejado commented on #4202
@tottero Can you give more details on this? How much of a memory impact, and what types of scenes are you rendering?

[2021-07-12 23:10] pixelflinger commented on #4168
Closing since it is not a filament bug.

[2021-07-12 23:10] #4168 closed

[2021-07-13 03:16] xaioxw opened #4303 "Point light and spotlights have no effect in the iOS demo"
**Describe the bug**
Point light and spotlights have no effect in the iOS demo。 Only success  in iphone7P 12.1 iOS version, and have no effect in other iphone

My test uses the demo provided by you, the demo used is hello-gltf, and the target is opengl, it has no effect.  and the target is metal, which is normal.

[2021-07-13 06:44] pixelflinger commented on #4303
To be clear, the steps to reproduce this bug are:
- hello-gltf
- iPhone different from  iphone7P iOS 12.1
- opengl backend

Correct? It is working correctly with the metal backend?

What do you mean by "have no effect"?
Can you send a screenshot?
Which iPhone did you try on?
Is there anything in the logs (like an error message).

[2021-07-13 07:45] wolfand11 opened #4304 "window10 build release branch failed"
**Describe the bug**
build release branch failed

**To Reproduce**
Steps to reproduce the behavior:
1. cd d:/Documents/MyProject/Public/Graphics/filament/
2. git clone -b release https://github.com/google/filament.git ./
3. mkdir out
4. cd out
5. cmake ..
error message ： CMake Error at third_party/glslang/tnt/CMakeLists.txt:96 (list):
  list GET given empty list

**Expected behavior**
build succes

[2021-07-13 07:50] wolfand11 commented on #4304
i tried main branch and rc/1.10.7 ,  failed too.

[2021-07-13 13:18] JiangXiaotian commented on #4271
Could you share your optimization idea in details? How much improvement could we expected, and in which scenarios we can expect big improvements, and how soon is the optimization expected to be completed?

[2021-07-13 15:51] prideout commented on #4304
This is more of a glslang build issue than a Filament issue. I think the `build_info.py` script is erroring out, so the GLSLANG_VERSIONS variable in the CMake is empty.

[2021-07-13 20:25] bejado commented on #4303
Is there a reason you can't use the Metal backend? We should fix this if it's easy, but we're working to deprecate OpenGL on iOS.

[2021-07-13 20:31] bejado commented on #4304
What version of CMake are you using?

[2021-07-13 21:48] kpeeters opened #4306 "DynamicResolution and BlendMode.TRANSLUCENT compatibility issue"
If I add a single line

    view.blendMode = View.BlendMode.TRANSLUCENT

to the end of the `setupView` function in e.g. the `MainActivity.kt` of the Android sample `sample-textured-object`, the result is that the view is just a uniformly filled screen with a colour which changes over time. It looks like the resolution has been set to 1x1 and was then upscaled to screen size, or something like that

[2021-07-13 23:45] pixelflinger commented on #4306
I can reproduce easily on Android and on Desktop with this:
[code]

[2021-07-14 02:04] wolfand11 commented on #4304
@bejado cmake version is 3.20.5

[2021-07-14 04:07] #4306 closed

[2021-07-14 06:06] Palm1r opened #4311 "Error when build project with linking to library on windows"
**Describe the bug**
I create project in Qt with MSVC compiler and link to filament library  https://github.com/Palm1r/qml_filament. But when I create engine I am getting error in backedn.lib. I tested filament library from pre-build binaries and from Visual Studio too. Еhe result is the same.

**To Reproduce**

1.  Create you own project
2.  Link to filament library
3.  inlclude headers and creat

[2021-07-14 06:14] xaioxw commented on #4303
my phone is  iphone xs max 14.1.。and bot only in this phone...
yeah, opengl  backend
I guess it has nothing to do with the demo test, it may be a model adaptation problem
This problem occurs in many phones...

[2021-07-14 06:16] xaioxw commented on #4303
![image](https://user-images.githubusercontent.com/16485491/125572455-498a28b6-51b4-48c1-a1c0-de503b185c52.png)

[2021-07-14 06:17] fanbinnet opened #4312 "Gltf animation is abnormal and can't control by index"
I have a gltf model file, it have five animations.
I want to control any one of the animation's independent.

![image](https://user-images.githubusercontent.com/3060688/125572346-00bcb78a-f19a-446d-b97f-3b2d61bf32b4.png)

**I use below code,the animation is abnormal.**
`applyAnimation(0, elapsedTimeSeconds.toFloat())`
![image](https://user-images.githubusercontent.com/3060688/125572186-2f06665c-52

[2021-07-14 06:17] #4311 closed

[2021-07-14 06:18] Palm1r commented on #4311
I forgot opengl32, sorry

[2021-07-14 06:18] xaioxw commented on #4303
I test  demo with Point ,and test with hello-gltf-opengl ; hello-gltf-metal

[2021-07-14 06:19] xaioxw commented on #4303
![image](https://user-images.githubusercontent.com/16485491/125572750-cc625aad-3e7c-4ff6-8b1b-411fa73f39c7.png)
![image](https://user-images.githubusercontent.com/16485491/125572769-2a72eda2-54aa-405b-aac3-2cc5a2b3a8a9.png)

[2021-07-14 06:20] xaioxw commented on #4303
The reason I used the demo test is because many users in the project reported this problem。

[2021-07-14 06:25] xaioxw commented on #4303
![image](https://user-images.githubusercontent.com/16485491/125573605-a4c77418-9e81-4e17-a342-7f6b76ff8de0.png)

[2021-07-14 06:35] romainguy commented on #4303
What are your screenshots showing? Are they from different devices?

[2021-07-14 06:47] xaioxw commented on #4303
![image](https://user-images.githubusercontent.com/16485491/125575979-bd565234-a188-454a-af7f-d1b33eb3f23e.png)
this is screenshot with same iphone and different demo backend Target

[2021-07-14 08:49] fishelegs opened #4313 "Support GL_ARM_shader_framebuffer_fetch on Mali GPU"
**Describe the bug**
On ARM's mali GPU OpenGL extension "GL_EXT_shader_framebuffer_fetch" may not be supported.
Will filament support GL_ARM_shader_framebuffer_fetch on Mali's GPU.

OpenGLContext.cpp:
    ext.EXT_shader_framebuffer_fetch = hasExtension(exts, "GL_EXT_shader_framebuffer_fetch");

**Smartphone :**
 - Device: Android mobile phone supports GL_ARM_shader_framebuffer_fetch.
 https://open

[2021-07-14 08:56] kpeeters commented on #4306
#4310 fixed the rendering, thanks! However, it exposed a new issue: the bottom of my viewport is clipped when I turn blended views + dynamic scaling on (a black bar along the bottom of the screen). When I do a `setShift`, this clip changes and I can get values for which my left-hand side is also clipped. This looks *very* similar in spirit to  #3552 (for which I never managed to create a minimal e

[2021-07-14 15:26] prideout commented on #4312
@fanbinnet is this the same model that you attached to #4268?

[2021-07-14 15:32] prideout commented on #4313
Filament works fine on devices that do not support that extension.  If the extension is supported, then Filament enables an optimized codepath for color grading.

[2021-07-14 15:32] #4313 closed

[2021-07-14 17:14] bejado commented on #4303
@xaioxw is there a reason you can't use the Metal backend?

[2021-07-14 19:59] kpeeters commented on #4306
This was an issue with `MaterialInstance::setScissor` which behaved differently with and without dynamic resolution. Dropping that scissor (I didn't actually need it anymore) makes all ok again. You can close this issue, will followup in #3552 with some remaining puzzles.

[2021-07-14 20:04] kpeeters commented on #3552
This turned out to be caused by `MaterialInstance::setScissor`; dropping this makes the clipping effect go away. So I am probably not understanding the coordinate system used for that call. Are those NDCs? Do they change/do I need to compensate when using `Camera::setShift`? It's funny that this only clipped ground plane shadows, not the actual model, even though I used exactly the same `setScisso

[2021-07-14 20:05] romainguy commented on #3552
The scissor is set in viewport coordinates.

[2021-07-14 20:48] bejado commented on #4304
Seems like this is a Python-related problem. I recommend filing an issue directly with [glslang](https://github.com/KhronosGroup/glslang).

[2021-07-14 21:07] rally-zach opened #4318 "Manipulating the camera position"
I'm attempting to modify the gltf_viewer.cpp sample to add some camera repositioning on key press. I got the keypress functionality registering but I can't figure out how to access the cameras being used from the gltf_viewer.cpp file. How can I access them (especially the main camera being used) and how can I tell them to update the position to a new position? Bonus points if I can animate between

[2021-07-14 21:23] bejado commented on #4318
The gltf_viewer code is mainly for our testing and isn't the best structured, but you should be able to access the main camera via [app.mainCamera](https://github.com/google/filament/blob/17d67f2a390f8193d8b00ae9e7505b2a816960c5/samples/gltf_viewer.cpp#L494).

You can set the position via

[code]

[2021-07-14 21:35] romainguy commented on #4318
Please use discussions for this instead of opening issues.

[2021-07-14 21:35] #4318 closed

[2021-07-14 22:31] rally-zach commented on #4318
Oops, didn't see those. Thanks for the suggestion.

I'm not seeing a disable method. Do you mean commenting out all of the relevant lines creating/referencing the manipulators or something else? Commenting out those lines, it updates the camera for a frame then jumps to a blank screen.

[2021-07-15 00:51] fanbinnet commented on #4312
Not exactly the same. We do some change for animations.
In #4268 , just one animation in the model, the new model we separated the animation of “D，L，R，U”

[2021-07-15 02:28] xaioxw commented on #4303
my project only use opengl backend for some reason

[2021-07-15 02:29] xaioxw commented on #4303
@bejado Thanks for helping to check the problem

[2021-07-15 14:27] bigbigdaddy opened #4323 "Crash： Couldn't create Engine"
Create the ModelViewer display then remove surfaceview,repeat  this 200 times. A crash occurs:
 java.lang.IllegalStateException: Couldn't create Engine
        at com.google.android.filament.Engine.create(Engine.java:165)
        at com.google.android.filament.utils.ModelViewer.<init>(ModelViewer.kt:132)
The error is displayed in kernel:
![image](https://user-images.githubusercontent.com/45582510/

[2021-07-15 15:39] prideout commented on #4323
I think kgsl is the driver.  There is very little detail in this bug report, but it sounds like this can be reproduced on an Android device (which device?) by modifying sample-gltf-viewer.  It would be helpful if you attach the modified source file(s), or tell us more explicitly how to modify them.  Also: we generally prefer an attachment or links to the full log, not a screenshot.

[2021-07-15 15:51] prideout commented on #4312
Note to self: on macOS you can we recombine the zip files with: `zip -s 0 morphtest.zip --out=unsplit.zip`

[unsplit.zip](https://github.com/google/filament/files/6824536/unsplit.zip)

[2021-07-15 15:52] romainguy commented on #4323
This would happen when the `Engine` is not destroyed. We destroy the engine when the `View` is detached from the window, please check how you are removing the `View`.

[2021-07-15 15:55] prideout commented on #4312
babylonjs won't let me look at the model at all due to an error: "Offset is outside the bounds of the DataView"

At https://gltf-viewer.donmccurdy.com/, it doesn't look normal either.

[2021-07-15 17:10] bejado commented on #4318
You can disable camera manipulation by commenting out [this line](https://github.com/google/filament/blob/0dd04f6e734baaa584be90cc043b3e4ed1e501d2/libs/filamentapp/src/FilamentApp.cpp#L370):

[code]

[2021-07-15 17:44] rally-zach commented on #4318
Thanks a lot, @bejado! That did the trick.

[2021-07-15 23:29] #3238 closed

[2021-07-16 02:23] bigbigdaddy commented on #4323
I checked ，remove  SurfaceView calls Engine. Destroy()
![image](https://user-images.githubusercontent.com/45582510/125881667-311c8e05-80ea-478a-b92a-652bea77080e.png)

I did other tests:
creat ModelViewer 200 times and not destroy ----crash
creat ModelViewer 200 times and destroy----fine
creat ModelViewer 200 times ,display and destroy----crash

[2021-07-16 03:01] bigbigdaddy commented on #4323
I use the same Activity repeatedly to create a SurfaceView，display then remove it

[2021-07-16 04:15] wolfand11 commented on #4304
@bejado  i clone and build glslang. it's success. thanks for any help. i'm not good at cmake. can't find any issue.

build glslang sucess.
![image](https://user-images.githubusercontent.com/1425676/125890802-d8c30ad0-459c-4469-8329-4ea6df0695ea.png)
![image](https://user-images.githubusercontent.com/1425676/125890830-515c92b2-69da-44f5-b1e6-2f1728d030e4.png)

[2021-07-16 12:02] bigbigdaddy commented on #4323
MTK is ok, may be a Qualcomm bug?

[2021-07-16 12:07] udayk07 opened #4331 "Unable to load glb model in Android with sceneform using filament"
Issue : https://github.com/google/filament/issues/3986

Tried to load car.zip with latest filament update 1.10.6 and facing crash issue. It throws "OpenGL backend handle arena is full" error in console ( attached crash log )

[filament_crash_log.txt](https://github.com/google/filament/files/6830467/filament_crash_log.txt)

Is there any common workaround to load models like car.zip ?

[2021-07-16 17:45] pixelflinger commented on #4331
This issue is related to #2057.

The only workaround at this time is to increase `FILAMENT_MIN_COMMAND_BUFFERS_SIZE_IN_MB` to at least 4MB (maybe more) and recompile.

[2021-07-16 17:45] #4331 closed

[2021-07-16 17:46] bejado commented on #4304
I'm not sure why this isn't working for you, but I notice that our glslang `CMakeLists.txt` is out-of-date. For example, they no longer use Python to retrieve the GLSLANG version: https://github.com/KhronosGroup/glslang/commit/05798c17fb17d339d66e064a407e75ceae4c0316.

I'll update our CMakeLists.txt, which hopefully will fix the issue fo ryou.

[2021-07-16 17:48] romainguy commented on #4304
@bejado Can we update glslang while we're at it?

[2021-07-16 17:48] bejado commented on #4304
@romainguy I think we just did, but not the `CMakeLists.txt`.

[2021-07-16 17:53] prideout commented on #4304
Thanks for looking into this Ben, it's my fault, when I updated glslang I didn't notice this detail.

[2021-07-16 18:18] pixelflinger opened #4332 "gltf_viewer doesn't like being launcher many times rapidly"
An interesting stress test is to run this command on Android:
`adb shell am start -W -R 200 -n com.google.android.filament.gltf/.MainActivity`

This will launch gltf_viewer 200 times. Ideally this should work without any problem, but in practice the app crashes or hangs for various reasons. The hello_triangle test for instance works well.
Here is an example of problem it ran into:

[code]

[2021-07-16 20:00] prideout commented on #4332
Thanks, I'll take a look next week.  One potential issue is the TCP port on the remote UI server, it needs to be released properly (i.e.`~DebugServer()` must be called) otherwise a port conflict will occur after re-launching.

[2021-07-17 06:33] bigbigdaddy commented on #4323
Here is my test code：
/*
 * Copyright (C) 2020 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distribut

[2021-07-17 08:18] cx20 opened #4335 "Web viewer will fail if the glTF model contains relative paths"
**Describe the bug**
When I try to view a particular model in the Filament [Web Viewer](https://google.github.io/filament/viewer/), it fails.

**To Reproduce**
1. Download the model below.
https://github.com/KhronosGroup/glTF-Sample-Models/tree/PearlGoldOliveCoveredGlassDish/2.0/IridescentDishWithOlives/glTF
2. Try to view the above model in Filament Web Viewer.
https://google.github.io/filament/v

[2021-07-17 09:41] bigbigdaddy commented on #4323
Calling this method results in the error：
mEGLContext = eglCreateContext(mEGLDisplay, eglConfig, (EGLContext)sharedContext, contextAttribs);

Destroy function is called too：
eglDestroyContext(mEGLDisplay, mEGLContext);

[2021-07-17 12:28] bigbigdaddy commented on #4323
My test code
[testcode.zip](https://github.com/google/filament/files/6834690/testcode.zip)

[2021-07-18 15:06] teub opened #4336 "isTextureFormatSupported returns false for DXT5_SRGBA on Nvidia cards"
**Describe the bug**
OpenGLDriver::isTextureFormatSupported new code doesn't seem to handle nvidia extensions properly for SRGB DXT5

previous code was :
return gl.ext.texture_compression_s3tc && (gl.ext.EXT_texture_sRGB || gl.ext.EXT_texture_compression_s3tc_srgb);

new code is:
return ext.EXT_texture_compression_s3tc_srgb || ext.WEBGL_texture_compression_s3tc_srgb;

Both values are null when I c

[2021-07-18 16:45] teub opened #4337 "No way to disable VSync, and setting the refreshRate has no effect"
**Describe the bug**
Hello,
I'm trying to disable vsync and I can't find a way to do it. I tried setting displayInfo.refreshRate to 120 and I'm still stuck at 60 fps.
I tried to look for code that would set SetSwapInterval but I couldn't find anything yet so I'm not sure what's happening.
I think this is a recent issue, at least I don't think I had it with some older versions of filament.

**To Re

[2021-07-18 16:48] romainguy commented on #4337
Filament itself does not decide to skip frames, it just tells the app whether it should skip or not but the app can ignore this. And Filament itself does not mandate vsync (actually our samples are bad for that since they do not properly schedule frames at vsync but just use a sleep/delay).

[2021-07-18 16:48] #4337 closed

[2021-07-18 16:50] teub commented on #4337
Note: I tried to force vsync off in the driver and it fixed it.

The original setting was "use the 3D application setting", so it's still controlled by filament right ? Or maybe the default 3d application setting is on ?

[2021-07-18 16:51] teub commented on #4337
OK, looking at FilamentApp.cpp again, I understand this part now :)

[2021-07-18 17:45] teub opened #4338 "Performance issue with render target created/destroyed on high resolution displays"
**Describe the bug**
Using a 4K display and MSAA x2, creating and destroying render targets at each frame has a big performance impact when they could be re-used from frame to frame. The issue is less glaring when not using MSAA or PP, which is a hint the performance hit is related to the size of the RTs.

This is very similar to this issue I reported 2 years ago, but I'm not sure if I can or shou

[2021-07-19 00:59] fanbinnet commented on #4312
If this issues is still be anaylsing ？

[2021-07-19 03:06] pixelflinger commented on #4338
We have a cache but it has a limited, hardcoded size right now, chosen to be reasonable on mobile devices, which is our main target.

One possible solution is to make this cache configurable and have more reasonable defaults on desktops.

[2021-07-19 09:18] bigbigdaddy commented on #4323
I use this method to check FD:
while true; do ls -al /proc/{pid}/fd | wc -l;sleep 1;done
FD kept growing, from 119 to 313, and finally crashed
![Image_20210717211937](https://user-images.githubusercontent.com/45582510/126136105-f8d5a842-ca1e-4c5a-b89d-93935acd1f32.png)

[2021-07-19 12:08] teub commented on #4338
Are you talking about
static constexpr size_t CACHE_CAPACITY = 64u << 20u;   // 64 MiB
in ResourceAllocator.h ?

I tried increasing this to 512MB, I didn't notice an increase in performance and I'm still seeing create/destroyRenderTarget when profiling :

Function Name	Total CPU [unit, %]
| - filament::OpenGLDriver::destroyRenderTarget	688 (26.95%)
| - filament::OpenGLDriver::createRenderTargetR	5

[2021-07-19 15:07] romainguy commented on #4338
The numbers are completely different on other platforms. For instance on Android this kind of caching is done by the drivers.

[2021-07-19 15:53] prideout commented on #4323
Dup of #4332

[2021-07-19 16:17] teub commented on #4338
I trust you they do, I was just saying that if the figures I profiled were reliable, this was a *really* bad hit on PC, even if it is not the main target.

[2021-07-19 17:48] pixelflinger commented on #4338
Yes, we're not caching RT, just the attachments (textures, renderbuffers), RT (ie fbo) are really cheap to create/destroy on any decent gl driver.

[2021-07-19 18:14] teub commented on #4338
I'm on a GTX 1080, latest drivers ("game" version).

Indeed, turning off MSAA divides by 10 the cost of create/destroyRenderTarget.

Rough numbers are :

1080p:
Function Name	Total CPU [unit, %]
| - filament::backend::invoke<filament::OpenGLDriver,void __cdecl(filament::backend::Handle<filament::backend::HwRenderTarget>,enum filament::backend::TargetBufferFlags,unsigned int,unsigned int,unsigned c

[2021-07-19 18:21] #4202 closed

[2021-07-19 18:32] prideout commented on #4335
Interesting bug, though not surprising since ResourceLoader does not canonicalize the URI's it finds in the glTF.  Currently it performs simple string comparison when looking inside its URI cache, so `./foo.png != foo.png`.

(I wish that C++ provided a simple URI library.)

[2021-07-19 18:41] prideout commented on #4335
Even though our `Path::getCanonicalPath` function is designed for file paths rather than URI's, maybe I can leverage it to (basically) fix this.

[2021-07-19 19:10] prideout commented on #4335
I think I'm going to close this as a "will not fix", for the following reasons:
1. The author of this particular model removed the relative paths.
2. We actually do support relative paths, but we don't support non-canonical URI's in the glTF.
3. The glTF spec says:  `While the spec does not explicitly disallow non-normalized URIs, their use may be unsupported or lead to unwanted side-effects — suc

[2021-07-19 19:10] #4335 closed

[2021-07-19 20:59] pixelflinger commented on #4338
Okay. Thanks for the numbers.

I think this is real problem in how we're doing the msrtt extension "emulation". Fixing this will also help the transmission msaa case on Android.

[2021-07-19 21:11] cx20 commented on #4335
I had a similar issue with [PlayCanvas glTF Viewer](https://playcanvas.com/viewer), but it has now been fixed. (However, it seems that it has not been reflected in the live environment yet)
https://forum.playcanvas.com/t/the-viewer-will-fail-if-the-gltf-model-contains-relative-paths/20976

Also, [Babylon.js Sandbox](https://sandbox.babylonjs.com/) and [Three.js glTF Viewer](https://gltf-viewer.don

[2021-07-20 01:26] #4338 closed

[2021-07-20 06:22] #4336 closed